(
    version: 1,
    command: "preset",
    description: Some("Elegant, ecosystem-agnostic scaffolding tool"),
    subcommands: [
        (
            name: "apply",
            description: Some("Apply a preset"),
            options: [
                (
                    names: [
                        "--path",
                        "-p",
                    ],
                    description: Some("Path to a sub-directory in which to look for a preset"),
                    arguments: [
                        (
                            name: "path",
                        ),
                    ],
                ),
                (
                    names: [
                        "--tag",
                        "-t",
                    ],
                    description: Some("Branch or tag to use if the preset is a repository"),
                    arguments: [
                        (
                            name: "tag",
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-ssh",
                    ],
                    description: Some("Do not use SSH when cloning repositories"),
                ),
                (
                    names: [
                        "--no-cache",
                    ],
                    description: Some("Do not use the cached repository if it exists"),
                ),
            ],
            arguments: [
                (
                    name: "resolvable",
                    description: Some("Repository identifier or path to the preset"),
                    template: [
                        Folders,
                        FilePaths,
                        History,
                    ],
                ),
                (
                    name: "target-directory",
                    description: Some("Directory in which to apply the preset"),
                    template: [
                        Folders,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "init",
            description: Some("Create a new preset"),
            arguments: [
                (
                    name: "target-directory",
                    description: Some("Directory in which to apply the preset"),
                    template: [
                        Folders,
                    ],
                    optional: true,
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--path",
                "-p",
            ],
            description: Some("Path to a sub-directory in which to look for a preset"),
            arguments: [
                (
                    name: "path",
                ),
            ],
        ),
        (
            names: [
                "--tag",
                "-t",
            ],
            description: Some("Branch or tag to use if the preset is a repository"),
            arguments: [
                (
                    name: "tag",
                ),
            ],
        ),
        (
            names: [
                "--no-ssh",
            ],
            description: Some("Do not use SSH when cloning repositories"),
        ),
        (
            names: [
                "--no-cache",
            ],
            description: Some("Do not use the cached repository if it exists"),
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for preset"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Show the version number"),
        ),
        (
            names: [
                "--no-interaction",
            ],
            description: Some("Disable interactions"),
            persistent: true,
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Display debug information instead of standard output"),
            persistent: true,
        ),
        (
            names: [
                "--silent",
            ],
            description: Some("Do not print anything"),
            persistent: true,
        ),
    ],
    arguments: [
        (
            name: "resolvable",
            description: Some("Repository identifier or path to the preset"),
            template: [
                Folders,
                FilePaths,
                History,
            ],
        ),
        (
            name: "target-directory",
            description: Some("Directory in which to apply the preset"),
            template: [
                Folders,
            ],
            optional: true,
        ),
    ],
)
