(
    version: 1,
    command: "cloudfront-keyvaluestore",
    description: Some("Amazon CloudFront KeyValueStore Service to View and Update Data in a KVS Resource"),
    subcommands: [
        (
            name: "delete-key",
            description: Some("Deletes the key value pair specified by the key"),
            options: [
                (
                    names: [
                        "--kvs-arn",
                    ],
                    description: Some("The Amazon Resource Name (ARN) of the Key Value Store"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--key",
                    ],
                    description: Some("The key to delete"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--if-match",
                    ],
                    description: Some("The current version (ETag) of the Key Value Store that you are deleting keys from, which you can get using DescribeKeyValueStore"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "describe-key-value-store",
            description: Some("Returns metadata information about Key Value Store"),
            options: [
                (
                    names: [
                        "--kvs-arn",
                    ],
                    description: Some("The Amazon Resource Name (ARN) of the Key Value Store"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "get-key",
            description: Some("Returns a key value pair"),
            options: [
                (
                    names: [
                        "--kvs-arn",
                    ],
                    description: Some("The Amazon Resource Name (ARN) of the Key Value Store"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--key",
                    ],
                    description: Some("The key to get"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "list-keys",
            description: Some("Returns a list of key value pairs"),
            options: [
                (
                    names: [
                        "--kvs-arn",
                    ],
                    description: Some("The Amazon Resource Name (ARN) of the Key Value Store"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--next-token",
                    ],
                    description: Some("If nextToken is returned in the response, there are more results available. Make the next call using the returned token to retrieve the next page"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--max-results",
                    ],
                    description: Some("Maximum number of results that are returned per call. The default is 10 and maximum allowed page is 50"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--starting-token",
                    ],
                    description: Some("A token to specify where to start paginating.  This is the\nNextToken from a previously truncated response.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--page-size",
                    ],
                    description: Some("The size of each page to get in the AWS service call.  This\ndoes not affect the number of items returned in the command's\noutput.  Setting a smaller page size results in more calls to\nthe AWS service, retrieving fewer items in each call.  This can\nhelp prevent the AWS service calls from timing out.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--max-items",
                    ],
                    description: Some("The total number of items to return in the command's output.\nIf the total number of items available is more than the value\nspecified, a NextToken is provided in the command's\noutput.  To resume pagination, provide the\nNextToken value in the starting-token\nargument of a subsequent command.  Do not use the\nNextToken response element directly outside of the\nAWS CLI.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "put-key",
            description: Some("Creates a new key value pair or replaces the value of an existing key"),
            options: [
                (
                    names: [
                        "--key",
                    ],
                    description: Some("The key to put"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--value",
                    ],
                    description: Some("The value to put"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--kvs-arn",
                    ],
                    description: Some("The Amazon Resource Name (ARN) of the Key Value Store"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--if-match",
                    ],
                    description: Some("The current version (ETag) of the Key Value Store that you are putting keys into, which you can get using DescribeKeyValueStore"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "update-keys",
            description: Some("Puts or Deletes multiple key value pairs in a single, all-or-nothing operation"),
            options: [
                (
                    names: [
                        "--kvs-arn",
                    ],
                    description: Some("The Amazon Resource Name (ARN) of the Key Value Store"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--if-match",
                    ],
                    description: Some("The current version (ETag) of the Key Value Store that you are updating keys of, which you can get using DescribeKeyValueStore"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--puts",
                    ],
                    description: Some("List of key value pairs to put"),
                    arguments: [
                        (
                            name: "list",
                        ),
                    ],
                ),
                (
                    names: [
                        "--deletes",
                    ],
                    description: Some("List of keys to delete"),
                    arguments: [
                        (
                            name: "list",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
)
