(
    version: 1,
    command: "elastic-inference",
    description: Some("Amazon Elastic Inference is no longer available.   Elastic Inference public APIs"),
    subcommands: [
        (
            name: "describe-accelerator-offerings",
            aliases: [],
            description: Some("Amazon Elastic Inference is no longer available.   Describes the locations in which a given accelerator type or set of types is present in a given region"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--location-type",
                    ],
                    description: Some("The location type that you want to describe accelerator type offerings for. It can assume the following values: region: will return the accelerator type offering at the regional level. availability-zone: will return the accelerator type offering at the availability zone level. availability-zone-id: will return the accelerator type offering at the availability zone level returning the availability zone id"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--accelerator-types",
                    ],
                    description: Some("The list of accelerator types to describe"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "list",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "describe-accelerator-types",
            aliases: [],
            description: Some("Amazon Elastic Inference is no longer available.   Describes the accelerator types available in a given region, as well as their characteristics, such as memory and throughput"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "describe-accelerators",
            aliases: [],
            description: Some("Amazon Elastic Inference is no longer available.   Describes information over a provided set of accelerators belonging to an account"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--accelerator-ids",
                    ],
                    description: Some("The IDs of the accelerators to describe"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "list",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--filters",
                    ],
                    description: Some("One or more filters. Filter names and values are case-sensitive. Valid filter names are: accelerator-types: can provide a list of accelerator type names to filter for. instance-id: can provide a list of EC2 instance ids to filter for"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "list",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--max-results",
                    ],
                    description: Some("The total number of items to return in the command\'s output. If the total number of items available is more than the value specified, a NextToken is provided in the command\'s output. To resume pagination, provide the NextToken value in the starting-token argument of a subsequent command. Do not use the NextToken response element directly outside of the AWS CLI"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "integer",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--next-token",
                    ],
                    description: Some("A token to specify where to start paginating. This is the NextToken from a previously truncated response"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--starting-token",
                    ],
                    description: Some("A token to specify where to start paginating.  This is the\nNextToken from a previously truncated response.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--page-size",
                    ],
                    description: Some("The size of each page to get in the AWS service call.  This\ndoes not affect the number of items returned in the command\'s\noutput.  Setting a smaller page size results in more calls to\nthe AWS service, retrieving fewer items in each call.  This can\nhelp prevent the AWS service calls from timing out.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "integer",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--max-items",
                    ],
                    description: Some("The total number of items to return in the command\'s output.\nIf the total number of items available is more than the value\nspecified, a NextToken is provided in the command\'s\noutput.  To resume pagination, provide the\nNextToken value in the starting-token\nargument of a subsequent command.  Do not use the\nNextToken response element directly outside of the\nAWS CLI.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "integer",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list-tags-for-resource",
            aliases: [],
            description: Some("Amazon Elastic Inference is no longer available.   Returns all tags of an Elastic Inference Accelerator"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-arn",
                    ],
                    description: Some("The ARN of the Elastic Inference Accelerator to list the tags for"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "tag-resource",
            aliases: [],
            description: Some("Amazon Elastic Inference is no longer available.   Adds the specified tags to an Elastic Inference Accelerator"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-arn",
                    ],
                    description: Some("The ARN of the Elastic Inference Accelerator to tag"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--tags",
                    ],
                    description: Some("The tags to add to the Elastic Inference Accelerator"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "map",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "untag-resource",
            aliases: [],
            description: Some("Amazon Elastic Inference is no longer available.   Removes the specified tags from an Elastic Inference Accelerator"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-arn",
                    ],
                    description: Some("The ARN of the Elastic Inference Accelerator to untag"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--tag-keys",
                    ],
                    description: Some("The list of tags to remove from the Elastic Inference Accelerator"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "list",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)