(
    version: 1,
    command: "importexport",
    description: Some("AWS Import/Export Service AWS Import/Export accelerates transferring large amounts of data between the AWS cloud and portable storage devices that you mail to us. AWS Import/Export transfers data directly onto and off of your storage devices using Amazon's high-speed internal network and bypassing the Internet. For large data sets, AWS Import/Export is often faster than Internet transfer and more cost effective than upgrading your connectivity"),
    subcommands: [
        (
            name: "cancel-job",
            description: Some("This operation cancels a specified job. Only the job owner can cancel it. The operation fails if the job has already started or is complete"),
            options: [
                (
                    names: [
                        "--job-id",
                    ],
                    description: Some("A unique identifier which refers to a particular job"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--api-version",
                    ],
                    description: Some("Specifies the version of the client tool"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "create-job",
            description: Some("This operation initiates the process of scheduling an upload or download of your data. You include in the request a manifest that describes the data transfer specifics. The response to the request includes a job ID, which you can use in other operations, a signature that you use to identify your storage device, and the address where you should ship your storage device"),
            options: [
                (
                    names: [
                        "--job-type",
                    ],
                    description: Some("Specifies whether the job to initiate is an import or export job"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--manifest",
                    ],
                    description: Some("The UTF-8 encoded text of the manifest file"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--manifest-addendum",
                    ],
                    description: Some("For internal use only"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--validate-only",
                    ],
                    description: Some("Validate the manifest and parameter values in the request but do not actually create a job"),
                ),
                (
                    names: [
                        "--no-validate-only",
                    ],
                    description: Some("Validate the manifest and parameter values in the request but do not actually create a job"),
                ),
                (
                    names: [
                        "--api-version",
                    ],
                    description: Some("Specifies the version of the client tool"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "get-shipping-label",
            description: Some("This operation generates a pre-paid UPS shipping label that you will use to ship your device to AWS for processing"),
            options: [
                (
                    names: [
                        "--job-ids",
                    ],
                    arguments: [
                        (
                            name: "list",
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                    ],
                    description: Some("Specifies the name of the person responsible for shipping this package"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--company",
                    ],
                    description: Some("Specifies the name of the company that will ship this package"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--phone-number",
                    ],
                    description: Some("Specifies the phone number of the person responsible for shipping this package"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--country",
                    ],
                    description: Some("Specifies the name of your country for the return address"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--state-or-province",
                    ],
                    description: Some("Specifies the name of your state or your province for the return address"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--city",
                    ],
                    description: Some("Specifies the name of your city for the return address"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--postal-code",
                    ],
                    description: Some("Specifies the postal code for the return address"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--street1",
                    ],
                    description: Some("Specifies the first part of the street address for the return address, for example 1234 Main Street"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--street2",
                    ],
                    description: Some("Specifies the optional second part of the street address for the return address, for example Suite 100"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--street3",
                    ],
                    description: Some("Specifies the optional third part of the street address for the return address, for example c/o Jane Doe"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--api-version",
                    ],
                    description: Some("Specifies the version of the client tool"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--street-1",
                    ],
                    description: Some("Specifies the first part of the street address for the return address, for example 1234 Main Street"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--street-2",
                    ],
                    description: Some("Specifies the optional second part of the street address for the return address, for example Suite 100"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--street-3",
                    ],
                    description: Some("Specifies the optional third part of the street address for the return address, for example c/o Jane Doe"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "get-status",
            description: Some("This operation returns information about a job, including where the job is in the processing pipeline, the status of the results, and the signature value associated with the job. You can only return information about jobs you own"),
            options: [
                (
                    names: [
                        "--job-id",
                    ],
                    description: Some("A unique identifier which refers to a particular job"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--api-version",
                    ],
                    description: Some("Specifies the version of the client tool"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "list-jobs",
            description: Some("This operation returns the jobs associated with the requester. AWS Import/Export lists the jobs in reverse chronological order based on the date of creation. For example if Job Test1 was created 2009Dec30 and Test2 was created 2010Feb05, the ListJobs operation would return Test2 followed by Test1"),
            options: [
                (
                    names: [
                        "--max-jobs",
                    ],
                    description: Some("Sets the maximum number of jobs returned in the response. If there are additional jobs that were not returned because MaxJobs was exceeded, the response contains <IsTruncated>true</IsTruncated>. To return the additional jobs, see Marker"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--marker",
                    ],
                    description: Some("Specifies the JOBID to start after when listing the jobs created with your account. AWS Import/Export lists your jobs in reverse chronological order. See MaxJobs"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--api-version",
                    ],
                    description: Some("Specifies the version of the client tool"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--starting-token",
                    ],
                    description: Some("A token to specify where to start paginating.  This is the\nNextToken from a previously truncated response.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--page-size",
                    ],
                    description: Some("The size of each page to get in the AWS service call.  This\ndoes not affect the number of items returned in the command's\noutput.  Setting a smaller page size results in more calls to\nthe AWS service, retrieving fewer items in each call.  This can\nhelp prevent the AWS service calls from timing out.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--max-items",
                    ],
                    description: Some("The total number of items to return in the command's output.\nIf the total number of items available is more than the value\nspecified, a NextToken is provided in the command's\noutput.  To resume pagination, provide the\nNextToken value in the starting-token\nargument of a subsequent command.  Do not use the\nNextToken response element directly outside of the\nAWS CLI.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "update-job",
            description: Some("You use this operation to change the parameters specified in the original manifest file by supplying a new manifest file. The manifest file attached to this request replaces the original manifest file. You can only use the operation after a CreateJob request but before the data transfer starts and you can only use it on jobs you own"),
            options: [
                (
                    names: [
                        "--job-id",
                    ],
                    description: Some("A unique identifier which refers to a particular job"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--manifest",
                    ],
                    description: Some("The UTF-8 encoded text of the manifest file"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--job-type",
                    ],
                    description: Some("Specifies whether the job to initiate is an import or export job"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--validate-only",
                    ],
                    description: Some("Validate the manifest and parameter values in the request but do not actually create a job"),
                ),
                (
                    names: [
                        "--no-validate-only",
                    ],
                    description: Some("Validate the manifest and parameter values in the request but do not actually create a job"),
                ),
                (
                    names: [
                        "--api-version",
                    ],
                    description: Some("Specifies the version of the client tool"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
)
