(
    version: 1,
    command: "macie",
    description: Some("Amazon Macie Classic Amazon Macie Classic is a security service that uses machine learning to automatically discover, classify, and protect sensitive data in AWS. Macie Classic recognizes sensitive data such as personally identifiable information (PII) or intellectual property, and provides you with dashboards and alerts that give visibility into how this data is being accessed or moved. For more information, see the Amazon Macie Classic User Guide"),
    subcommands: [
        (
            name: "associate-member-account",
            description: Some("Associates a specified AWS account with Amazon Macie Classic as a member account"),
            options: [
                (
                    names: [
                        "--member-account-id",
                    ],
                    description: Some("The ID of the AWS account that you want to associate with Amazon Macie Classic as a member account"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "associate-s3-resources",
            description: Some("Associates specified S3 resources with Amazon Macie Classic for monitoring and data classification. If memberAccountId isn't specified, the action associates specified S3 resources with Macie Classic for the current Macie Classic administrator account. If memberAccountId is specified, the action associates specified S3 resources with Macie Classic for the specified member account"),
            options: [
                (
                    names: [
                        "--member-account-id",
                    ],
                    description: Some("The ID of the Amazon Macie Classic member account whose resources you want to associate with Macie Classic"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--s3-resources",
                    ],
                    description: Some("The S3 resources that you want to associate with Amazon Macie Classic for monitoring and data classification"),
                    arguments: [
                        (
                            name: "list",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "disassociate-member-account",
            description: Some("Removes the specified member account from Amazon Macie Classic"),
            options: [
                (
                    names: [
                        "--member-account-id",
                    ],
                    description: Some("The ID of the member account that you want to remove from Amazon Macie Classic"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "disassociate-s3-resources",
            description: Some("Removes specified S3 resources from being monitored by Amazon Macie Classic. If memberAccountId isn't specified, the action removes specified S3 resources from Macie Classic for the current Macie Classic administrator account. If memberAccountId is specified, the action removes specified S3 resources from Macie Classic for the specified member account"),
            options: [
                (
                    names: [
                        "--member-account-id",
                    ],
                    description: Some("The ID of the Amazon Macie Classic member account whose resources you want to remove from being monitored by Macie Classic"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--associated-s3-resources",
                    ],
                    description: Some("The S3 resources (buckets or prefixes) that you want to remove from being monitored and classified by Amazon Macie Classic"),
                    arguments: [
                        (
                            name: "list",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "list-member-accounts",
            description: Some("Lists all Amazon Macie Classic member accounts for the current Macie Classic administrator account"),
            options: [
                (
                    names: [
                        "--next-token",
                    ],
                    description: Some("Use this parameter when paginating results. Set the value of this parameter to null on your first call to the ListMemberAccounts action. Subsequent calls to the action fill nextToken in the request with the value of nextToken from the previous response to continue listing data"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--max-results",
                    ],
                    description: Some("Use this parameter to indicate the maximum number of items that you want in the response. The default value is 250"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--starting-token",
                    ],
                    description: Some("A token to specify where to start paginating.  This is the\nNextToken from a previously truncated response.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--page-size",
                    ],
                    description: Some("The size of each page to get in the AWS service call.  This\ndoes not affect the number of items returned in the command's\noutput.  Setting a smaller page size results in more calls to\nthe AWS service, retrieving fewer items in each call.  This can\nhelp prevent the AWS service calls from timing out.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--max-items",
                    ],
                    description: Some("The total number of items to return in the command's output.\nIf the total number of items available is more than the value\nspecified, a NextToken is provided in the command's\noutput.  To resume pagination, provide the\nNextToken value in the starting-token\nargument of a subsequent command.  Do not use the\nNextToken response element directly outside of the\nAWS CLI.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "list-s3-resources",
            description: Some("Lists all the S3 resources associated with Amazon Macie Classic. If memberAccountId isn't specified, the action lists the S3 resources associated with Macie Classic for the current Macie Classic administrator account. If memberAccountId is specified, the action lists the S3 resources associated with Macie Classic for the specified member account"),
            options: [
                (
                    names: [
                        "--member-account-id",
                    ],
                    description: Some("The Amazon Macie Classic member account ID whose associated S3 resources you want to list"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--next-token",
                    ],
                    description: Some("Use this parameter when paginating results. Set its value to null on your first call to the ListS3Resources action. Subsequent calls to the action fill nextToken in the request with the value of nextToken from the previous response to continue listing data"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--max-results",
                    ],
                    description: Some("Use this parameter to indicate the maximum number of items that you want in the response. The default value is 250"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--starting-token",
                    ],
                    description: Some("A token to specify where to start paginating.  This is the\nNextToken from a previously truncated response.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--page-size",
                    ],
                    description: Some("The size of each page to get in the AWS service call.  This\ndoes not affect the number of items returned in the command's\noutput.  Setting a smaller page size results in more calls to\nthe AWS service, retrieving fewer items in each call.  This can\nhelp prevent the AWS service calls from timing out.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--max-items",
                    ],
                    description: Some("The total number of items to return in the command's output.\nIf the total number of items available is more than the value\nspecified, a NextToken is provided in the command's\noutput.  To resume pagination, provide the\nNextToken value in the starting-token\nargument of a subsequent command.  Do not use the\nNextToken response element directly outside of the\nAWS CLI.\nFor usage examples, see Pagination in the AWS Command Line Interface User\nGuide"),
                    arguments: [
                        (
                            name: "integer",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "update-s3-resources",
            description: Some("Updates the classification types for the specified S3 resources. If memberAccountId isn't specified, the action updates the classification types of the S3 resources associated with Amazon Macie Classic for the current Macie Classic administrator account. If memberAccountId is specified, the action updates the classification types of the S3 resources associated with Macie Classic for the specified member account"),
            options: [
                (
                    names: [
                        "--member-account-id",
                    ],
                    description: Some("The AWS ID of the Amazon Macie Classic member account whose S3 resources' classification types you want to update"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--s3-resources-update",
                    ],
                    description: Some("The S3 resources whose classification types you want to update"),
                    arguments: [
                        (
                            name: "list",
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "input",
                                ),
                                (
                                    name: "output",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
)
