(
    version: 1,
    command: "marketplace-deployment",
    description: Some("The AWS Marketplace Deployment Service supports the Quick Launch experience, which is a deployment option for software as a service (SaaS) products. Quick Launch simplifies and reduces the time, resources, and steps required to configure, deploy, and launch a products. The AWS Marketplace Deployment Service provides sellers with a secure method for passing deployment parameters (for example, API keys and external IDs) to buyers during the Quick Launch experience"),
    subcommands: [
        (
            name: "list-tags-for-resource",
            aliases: [],
            description: Some("Lists all tags that have been added to a deployment parameter resource"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-arn",
                    ],
                    description: Some("The Amazon Resource Name (ARN) associated with the deployment parameter resource you want to list tags on"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "put-deployment-parameter",
            aliases: [],
            description: Some("Creates or updates a deployment parameter and is targeted by catalog and agreementId"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--agreement-id",
                    ],
                    description: Some("The unique identifier of the agreement"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--catalog",
                    ],
                    description: Some("The catalog related to the request. Fixed value: AWS Marketplace"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--client-token",
                    ],
                    description: Some("The idempotency token for deployment parameters. A unique identifier for the new version"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--deployment-parameter",
                    ],
                    description: Some("The deployment parameter targeted to the acceptor of an agreement for which to create the AWS Secret Manager resource"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "structure",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--expiration-date",
                    ],
                    description: Some("The date when deployment parameters expire and are scheduled for deletion"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "timestamp",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--product-id",
                    ],
                    description: Some("The product for which AWS Marketplace will save secrets for the buyer’s account"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--tags",
                    ],
                    description: Some("A map of key-value pairs, where each pair represents a tag saved to the resource. Tags will only be applied for create operations, and they\'ll be ignored if the resource already exists"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "map",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "tag-resource",
            aliases: [],
            description: Some("Tags a resource"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-arn",
                    ],
                    description: Some("The Amazon Resource Name (ARN) associated with the resource you want to tag"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--tags",
                    ],
                    description: Some("A map of key-value pairs, where each pair represents a tag present on the resource"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "map",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "untag-resource",
            aliases: [],
            description: Some("Removes a tag or list of tags from a resource"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-arn",
                    ],
                    description: Some("The Amazon Resource Name (ARN) associated with the resource you want to remove the tag from"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--tag-keys",
                    ],
                    description: Some("A list of key names of tags to be removed"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "list",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)