(
    version: 1,
    command: "sagemaker-metrics",
    description: Some("Contains all data plane API operations and data types for Amazon SageMaker Metrics. Use these APIs to put and retrieve (get) features related to your training run.    BatchPutMetrics"),
    subcommands: [
        (
            name: "batch-get-metrics",
            aliases: [],
            description: Some("Used to retrieve training metrics from SageMaker"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--metric-queries",
                    ],
                    description: Some("Queries made to retrieve training metrics from SageMaker"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "list",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "batch-put-metrics",
            aliases: [],
            description: Some("Used to ingest training metrics into SageMaker. These metrics can be visualized in SageMaker Studio"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--trial-component-name",
                    ],
                    description: Some("The name of the Trial Component to associate with the metrics. The Trial Component name must be entirely lowercase"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--metric-data",
                    ],
                    description: Some("A list of raw metric values to put"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "list",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cli-input-json",
                    ],
                    description: Some("Performs service operation based on the JSON string provided. The JSON string follows the format provided by ``--generate-cli-skeleton``. If other arguments are provided on the command line, the CLI values will override the JSON-provided values. It is not possible to pass arbitrary binary values using a JSON-provided value as the string will be taken literally"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-cli-skeleton",
                    ],
                    description: Some("Prints a JSON skeleton to standard output without sending an API request. If provided with no value or the value ``input``, prints a sample input JSON that can be used as an argument for ``--cli-input-json``. If provided with the value ``output``, it validates the command inputs and returns a sample output JSON for that command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "input",
                                "output",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)