(
    version: 1,
    command: "advisor",
    description: Some("Manage Azure Advisor"),
    subcommands: [
        (
            name: "configuration",
            aliases: [],
            description: Some("Manage Azure Advisor configuration"),
            subcommands: [
                (
                    name: "list",
                    aliases: [],
                    description: Some("List Azure Advisor configuration for the entire subscription"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "show",
                    aliases: [],
                    description: Some("Show Azure Advisor configuration for the given subscription or resource group"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "update",
                    aliases: [],
                    description: Some("Update Azure Advisor configuration"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--add",
                            ],
                            description: Some("Add an object to a list of objects by specifying a path and key value pairs. Example: --add property.listProperty <key=value, string or JSON string>"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "add",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--configuration-name",
                            ],
                            description: Some("Advisor configuration name. Value must be \"default\""),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "configuration-name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--exclude",
                                "-e",
                            ],
                            description: Some("Exclude from recommendation generation"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "exclude",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--force-string",
                            ],
                            description: Some("When using \'set\' or \'add\', preserve string literals instead of attempting to convert to JSON"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "--include",
                                "-i",
                            ],
                            description: Some("Include in recommendation generation"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "include",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--low-cpu-threshold",
                                "-l",
                            ],
                            description: Some("Value for low CPU threshold"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "low-cpu-threshold",
                                    source: Static([
                                        "10",
                                        "15",
                                        "20",
                                        "5",
                                    ]),
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--remove",
                            ],
                            description: Some("Remove a property or an element from a list. Example: --remove property.list OR --remove propertyToRemove"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "remove",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--set",
                            ],
                            description: Some("Update an object by specifying a property path and value to set. Example: --set property1.property2="),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "set",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "recommendation",
            aliases: [],
            description: Some("Review Azure Advisor recommendations"),
            subcommands: [
                (
                    name: "disable",
                    aliases: [],
                    description: Some("Disable Azure Advisor recommendations"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--days",
                                "-d",
                            ],
                            description: Some("Number of days to disable. If not specified, the recommendation is disabled forever"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "days",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). If provided, no other \"Resource Id\" arguments should be specified"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "ids",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the recommendation as output by the list command"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "enable",
                    aliases: [],
                    description: Some("Enable Azure Advisor recommendations"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). If provided, no other \"Resource Id\" arguments should be specified"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "ids",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the recommendation as output by the list command"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List Azure Advisor recommendations"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--category",
                                "-c",
                            ],
                            description: Some("Name of recommendation category"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "category",
                                    source: Static([
                                        "Cost",
                                        "HighAvailability",
                                        "Performance",
                                        "Security",
                                    ]),
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). If provided, no other \"Resource Id\" arguments should be specified"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "ids",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--refresh",
                                "-r",
                            ],
                            description: Some("Generate new recommendations"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "refresh",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)