(
    version: 1,
    command: "alias",
    description: Some("Manage Azure CLI Aliases"),
    subcommands: [
        (
            name: "create",
            description: Some("Create an alias"),
            options: [
                (
                    names: [
                        "--command",
                        "-c",
                    ],
                    description: Some("The command that the alias points to"),
                    arguments: [
                        (
                            name: "command",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the alias"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                    required: true,
                ),
            ],
        ),
        (
            name: "export",
            description: Some("Export all registered aliases to a given path, as an INI configuration file. If no export path is specified, the alias configuration file is exported to the current working directory"),
            options: [
                (
                    names: [
                        "--exclude",
                        "-e",
                    ],
                    description: Some("Space-separated aliases excluded from export"),
                    arguments: [
                        (
                            name: "exclude",
                        ),
                    ],
                ),
                (
                    names: [
                        "--path",
                        "-p",
                    ],
                    description: Some("The path of the alias configuration file to export to"),
                    arguments: [
                        (
                            name: "path",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "import",
            description: Some("Import aliases from an INI configuration file or an URL"),
            options: [
                (
                    names: [
                        "--source",
                        "-s",
                    ],
                    description: Some("The source of the aliases to import from"),
                    arguments: [
                        (
                            name: "source",
                        ),
                    ],
                    required: true,
                ),
            ],
        ),
        (
            name: "list",
            description: Some("List the registered aliases"),
        ),
        (
            name: "remove",
            description: Some("Remove one or more aliases. Aliases to be removed are space-delimited"),
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Space-separated aliases"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                    required: true,
                ),
            ],
        ),
        (
            name: "remove-all",
            description: Some("Remove all registered aliases"),
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Do not prompt for confirmation"),
                ),
            ],
        ),
    ],
)
