(
    version: 1,
    command: "alias",
    description: Some("Manage Azure CLI Aliases"),
    subcommands: [
        (
            name: "create",
            aliases: [],
            description: Some("Create an alias"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--command",
                        "-c",
                    ],
                    description: Some("The command that the alias points to"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "command",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the alias"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "export",
            aliases: [],
            description: Some("Export all registered aliases to a given path, as an INI configuration file. If no export path is specified, the alias configuration file is exported to the current working directory"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--exclude",
                        "-e",
                    ],
                    description: Some("Space-separated aliases excluded from export"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "exclude",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--path",
                        "-p",
                    ],
                    description: Some("The path of the alias configuration file to export to"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "path",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "import",
            aliases: [],
            description: Some("Import aliases from an INI configuration file or an URL"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--source",
                        "-s",
                    ],
                    description: Some("The source of the aliases to import from"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "source",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("List the registered aliases"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "remove",
            aliases: [],
            description: Some("Remove one or more aliases. Aliases to be removed are space-delimited"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Space-separated aliases"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "remove-all",
            aliases: [],
            description: Some("Remove all registered aliases"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Do not prompt for confirmation"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)