(
    version: 1,
    command: "baremetalinstance",
    description: Some("(PREVIEW) Manage BareMetal Instances"),
    subcommands: [
        (
            name: "delete",
            description: Some("Delete a BareMetal Instance"),
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                    arguments: [
                        (
                            name: "ids",
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the BareMetal instance"),
                    arguments: [
                        (
                            name: "instance-name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    arguments: [
                        (
                            name: "subscription",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "list",
            description: Some("List BareMetal Instances"),
            options: [
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "restart",
            description: Some("Restart a BareMetal Instance"),
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                    arguments: [
                        (
                            name: "ids",
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the BareMetal instance"),
                    arguments: [
                        (
                            name: "instance-name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    arguments: [
                        (
                            name: "subscription",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "show",
            description: Some("Get the details of a BareMetal Instance"),
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                    arguments: [
                        (
                            name: "ids",
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the BareMetal instance"),
                    arguments: [
                        (
                            name: "instance-name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    arguments: [
                        (
                            name: "subscription",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "shutdown",
            description: Some("Shutdown a BareMetal Instance"),
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                    arguments: [
                        (
                            name: "ids",
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the BareMetal instance"),
                    arguments: [
                        (
                            name: "instance-name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    arguments: [
                        (
                            name: "subscription",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "start",
            description: Some("Start a BareMetal Instance"),
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                    arguments: [
                        (
                            name: "ids",
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the BareMetal instance"),
                    arguments: [
                        (
                            name: "instance-name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    arguments: [
                        (
                            name: "subscription",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "update",
            description: Some("Update the tags field of a BareMetal Instance"),
            options: [
                (
                    names: [
                        "--add",
                    ],
                    description: Some("Add an object to a list of objects by specifying a path and key value pairs. Example: --add property.listProperty <key=value, string or JSON string>"),
                    arguments: [
                        (
                            name: "add",
                        ),
                    ],
                ),
                (
                    names: [
                        "--force-string",
                    ],
                    description: Some("When using 'set' or 'add', preserve string literals instead of attempting to convert to JSON"),
                ),
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                    arguments: [
                        (
                            name: "ids",
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the BareMetal instance"),
                    arguments: [
                        (
                            name: "instance-name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-wait",
                    ],
                    description: Some("Do not wait for the long-running operation to finish"),
                ),
                (
                    names: [
                        "--remove",
                    ],
                    description: Some("Remove a property or an element from a list. Example: --remove property.list OR --remove propertyToRemove"),
                    arguments: [
                        (
                            name: "remove",
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
                (
                    names: [
                        "--set",
                    ],
                    description: Some("Update an object by specifying a property path and value to set. Example: --set property1.property2="),
                    arguments: [
                        (
                            name: "set",
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    arguments: [
                        (
                            name: "subscription",
                        ),
                    ],
                ),
            ],
        ),
    ],
)
