(
    version: 1,
    command: "change-analysis",
    description: Some("List changes for resources"),
    subcommands: [
        (
            name: "list",
            description: Some("List the changes of resources in the subscription within the specified time range. Customer data will always be masked"),
            options: [
                (
                    names: [
                        "--end-time",
                    ],
                    description: Some("Specifies the end time of the changes request"),
                    arguments: [
                        (
                            name: "end-time",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--start-time",
                    ],
                    description: Some("Specifies the start time of the changes request"),
                    arguments: [
                        (
                            name: "start-time",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
                (
                    names: [
                        "--skip-token",
                    ],
                    description: Some("A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls"),
                    arguments: [
                        (
                            name: "skip-token",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "list-by-resource",
            description: Some("List the changes of a resource within the specified time range. Customer data will be masked if the user doesn't have access"),
            options: [
                (
                    names: [
                        "--end-time",
                    ],
                    description: Some("Specifies the end time of the changes request"),
                    arguments: [
                        (
                            name: "end-time",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--resource",
                        "-r",
                    ],
                    description: Some("The identifier of the resource"),
                    arguments: [
                        (
                            name: "resource",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--start-time",
                    ],
                    description: Some("Specifies the start time of the changes request"),
                    arguments: [
                        (
                            name: "start-time",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--skip-token",
                    ],
                    description: Some("A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls"),
                    arguments: [
                        (
                            name: "skip-token",
                        ),
                    ],
                ),
            ],
        ),
    ],
)
