(
    version: 1,
    command: "cloud",
    description: Some("Manage registered Azure clouds"),
    subcommands: [
        (
            name: "list",
            description: Some("List registered clouds"),
        ),
        (
            name: "list-profiles",
            description: Some("List the supported profiles for a cloud"),
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--show-all",
                    ],
                    description: Some("Show all available profiles supported in the CLI"),
                ),
            ],
        ),
        (
            name: "register",
            description: Some("Register a cloud"),
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--cloud-config",
                    ],
                    description: Some("JSON encoded cloud configuration. Use @{file} to load from a file"),
                    arguments: [
                        (
                            name: "cloud-config",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory",
                    ],
                    description: Some("The Active Directory login endpoint"),
                    arguments: [
                        (
                            name: "endpoint-active-directory",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-data-lake-resource-id",
                    ],
                    description: Some("The Active Directory resource ID for data lake services"),
                    arguments: [
                        (
                            name: "endpoint-active-directory-data-lake-resource-id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-graph-resource-id",
                    ],
                    description: Some("The Active Directory resource ID"),
                    arguments: [
                        (
                            name: "endpoint-active-directory-graph-resource-id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-resource-id",
                    ],
                    description: Some("The resource ID to obtain AD tokens for"),
                    arguments: [
                        (
                            name: "endpoint-active-directory-resource-id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-gallery",
                    ],
                    description: Some("The template gallery endpoint"),
                    arguments: [
                        (
                            name: "endpoint-gallery",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-management",
                    ],
                    description: Some("The management service endpoint"),
                    arguments: [
                        (
                            name: "endpoint-management",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-resource-manager",
                    ],
                    description: Some("The resource management endpoint"),
                    arguments: [
                        (
                            name: "endpoint-resource-manager",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-sql-management",
                    ],
                    description: Some("The sql server management endpoint"),
                    arguments: [
                        (
                            name: "endpoint-sql-management",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-vm-image-alias-doc",
                    ],
                    description: Some("The uri of the document which caches commonly used virtual machine images"),
                    arguments: [
                        (
                            name: "endpoint-vm-image-alias-doc",
                        ),
                    ],
                ),
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("Profile to use for this cloud"),
                    arguments: [
                        (
                            name: "profile",
                            suggestions: [
                                (
                                    name: "2017-03-09-profile",
                                ),
                                (
                                    name: "2018-03-01-hybrid",
                                ),
                                (
                                    name: "2019-03-01-hybrid",
                                ),
                                (
                                    name: "2020-09-01-hybrid",
                                ),
                                (
                                    name: "latest",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-acr-login-server-endpoint",
                    ],
                    description: Some("The Azure Container Registry login server suffix"),
                    arguments: [
                        (
                            name: "suffix-acr-login-server-endpoint",
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-azure-datalake-analytics-catalog-and-job-endpoint",
                    ],
                    description: Some("The Data Lake analytics job and catalog service dns suffix"),
                    arguments: [
                        (
                            name: "suffix-azure-datalake-analytics-catalog-and-job-endpoint",
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-azure-datalake-store-file-system-endpoint",
                    ],
                    description: Some("The Data Lake store filesystem service dns suffix"),
                    arguments: [
                        (
                            name: "suffix-azure-datalake-store-file-system-endpoint",
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-keyvault-dns",
                    ],
                    description: Some("The Key Vault service dns suffix"),
                    arguments: [
                        (
                            name: "suffix-keyvault-dns",
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-sql-server-hostname",
                    ],
                    description: Some("The dns suffix for sql servers"),
                    arguments: [
                        (
                            name: "suffix-sql-server-hostname",
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-storage-endpoint",
                    ],
                    description: Some("The endpoint suffix for storage accounts"),
                    arguments: [
                        (
                            name: "suffix-storage-endpoint",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "set",
            description: Some("Set the active cloud"),
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("Profile to use for this cloud"),
                    arguments: [
                        (
                            name: "profile",
                            suggestions: [
                                (
                                    name: "2017-03-09-profile",
                                ),
                                (
                                    name: "2018-03-01-hybrid",
                                ),
                                (
                                    name: "2019-03-01-hybrid",
                                ),
                                (
                                    name: "2020-09-01-hybrid",
                                ),
                                (
                                    name: "latest",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "show",
            description: Some("Get the details of a registered cloud"),
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "unregister",
            description: Some("Unregister a cloud"),
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                    required: true,
                ),
            ],
        ),
        (
            name: "update",
            description: Some("Update the configuration of a cloud"),
            options: [
                (
                    names: [
                        "--cloud-config",
                    ],
                    description: Some("JSON encoded cloud configuration. Use @{file} to load from a file"),
                    arguments: [
                        (
                            name: "cloud-config",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory",
                    ],
                    description: Some("The Active Directory login endpoint"),
                    arguments: [
                        (
                            name: "endpoint-active-directory",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-data-lake-resource-id",
                    ],
                    description: Some("The Active Directory resource ID for data lake services"),
                    arguments: [
                        (
                            name: "endpoint-active-directory-data-lake-resource-id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-graph-resource-id",
                    ],
                    description: Some("The Active Directory resource ID"),
                    arguments: [
                        (
                            name: "endpoint-active-directory-graph-resource-id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-resource-id",
                    ],
                    description: Some("The resource ID to obtain AD tokens for"),
                    arguments: [
                        (
                            name: "endpoint-active-directory-resource-id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-gallery",
                    ],
                    description: Some("The template gallery endpoint"),
                    arguments: [
                        (
                            name: "endpoint-gallery",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-management",
                    ],
                    description: Some("The management service endpoint"),
                    arguments: [
                        (
                            name: "endpoint-management",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-resource-manager",
                    ],
                    description: Some("The resource management endpoint"),
                    arguments: [
                        (
                            name: "endpoint-resource-manager",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-sql-management",
                    ],
                    description: Some("The sql server management endpoint"),
                    arguments: [
                        (
                            name: "endpoint-sql-management",
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-vm-image-alias-doc",
                    ],
                    description: Some("The uri of the document which caches commonly used virtual machine images"),
                    arguments: [
                        (
                            name: "endpoint-vm-image-alias-doc",
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("Profile to use for this cloud"),
                    arguments: [
                        (
                            name: "profile",
                            suggestions: [
                                (
                                    name: "2017-03-09-profile",
                                ),
                                (
                                    name: "2018-03-01-hybrid",
                                ),
                                (
                                    name: "2019-03-01-hybrid",
                                ),
                                (
                                    name: "2020-09-01-hybrid",
                                ),
                                (
                                    name: "latest",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-acr-login-server-endpoint",
                    ],
                    description: Some("The Azure Container Registry login server suffix"),
                    arguments: [
                        (
                            name: "suffix-acr-login-server-endpoint",
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-azure-datalake-analytics-catalog-and-job-endpoint",
                    ],
                    description: Some("The Data Lake analytics job and catalog service dns suffix"),
                    arguments: [
                        (
                            name: "suffix-azure-datalake-analytics-catalog-and-job-endpoint",
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-azure-datalake-store-file-system-endpoint",
                    ],
                    description: Some("The Data Lake store filesystem service dns suffix"),
                    arguments: [
                        (
                            name: "suffix-azure-datalake-store-file-system-endpoint",
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-keyvault-dns",
                    ],
                    description: Some("The Key Vault service dns suffix"),
                    arguments: [
                        (
                            name: "suffix-keyvault-dns",
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-sql-server-hostname",
                    ],
                    description: Some("The dns suffix for sql servers"),
                    arguments: [
                        (
                            name: "suffix-sql-server-hostname",
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-storage-endpoint",
                    ],
                    description: Some("The endpoint suffix for storage accounts"),
                    arguments: [
                        (
                            name: "suffix-storage-endpoint",
                        ),
                    ],
                ),
            ],
        ),
    ],
)
