(
    version: 1,
    command: "cloud",
    description: Some("Manage registered Azure clouds"),
    subcommands: [
        (
            name: "list",
            aliases: [],
            description: Some("List registered clouds"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list-profiles",
            aliases: [],
            description: Some("List the supported profiles for a cloud"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--show-all",
                    ],
                    description: Some("Show all available profiles supported in the CLI"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "register",
            aliases: [],
            description: Some("Register a cloud"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cloud-config",
                    ],
                    description: Some("JSON encoded cloud configuration. Use @{file} to load from a file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "cloud-config",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory",
                    ],
                    description: Some("The Active Directory login endpoint"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-active-directory",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-data-lake-resource-id",
                    ],
                    description: Some("The Active Directory resource ID for data lake services"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-active-directory-data-lake-resource-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-graph-resource-id",
                    ],
                    description: Some("The Active Directory resource ID"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-active-directory-graph-resource-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-resource-id",
                    ],
                    description: Some("The resource ID to obtain AD tokens for"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-active-directory-resource-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-gallery",
                    ],
                    description: Some("The template gallery endpoint"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-gallery",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-management",
                    ],
                    description: Some("The management service endpoint"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-management",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-resource-manager",
                    ],
                    description: Some("The resource management endpoint"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-resource-manager",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-sql-management",
                    ],
                    description: Some("The sql server management endpoint"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-sql-management",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-vm-image-alias-doc",
                    ],
                    description: Some("The uri of the document which caches commonly used virtual machine images"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-vm-image-alias-doc",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("Profile to use for this cloud"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "profile",
                            source: Static([
                                "2017-03-09-profile",
                                "2018-03-01-hybrid",
                                "2019-03-01-hybrid",
                                "2020-09-01-hybrid",
                                "latest",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-acr-login-server-endpoint",
                    ],
                    description: Some("The Azure Container Registry login server suffix"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-acr-login-server-endpoint",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-azure-datalake-analytics-catalog-and-job-endpoint",
                    ],
                    description: Some("The Data Lake analytics job and catalog service dns suffix"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-azure-datalake-analytics-catalog-and-job-endpoint",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-azure-datalake-store-file-system-endpoint",
                    ],
                    description: Some("The Data Lake store filesystem service dns suffix"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-azure-datalake-store-file-system-endpoint",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-keyvault-dns",
                    ],
                    description: Some("The Key Vault service dns suffix"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-keyvault-dns",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-sql-server-hostname",
                    ],
                    description: Some("The dns suffix for sql servers"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-sql-server-hostname",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-storage-endpoint",
                    ],
                    description: Some("The endpoint suffix for storage accounts"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-storage-endpoint",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "set",
            aliases: [],
            description: Some("Set the active cloud"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("Profile to use for this cloud"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "profile",
                            source: Static([
                                "2017-03-09-profile",
                                "2018-03-01-hybrid",
                                "2019-03-01-hybrid",
                                "2020-09-01-hybrid",
                                "latest",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "show",
            aliases: [],
            description: Some("Get the details of a registered cloud"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "unregister",
            aliases: [],
            description: Some("Unregister a cloud"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Update the configuration of a cloud"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--cloud-config",
                    ],
                    description: Some("JSON encoded cloud configuration. Use @{file} to load from a file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "cloud-config",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory",
                    ],
                    description: Some("The Active Directory login endpoint"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-active-directory",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-data-lake-resource-id",
                    ],
                    description: Some("The Active Directory resource ID for data lake services"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-active-directory-data-lake-resource-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-graph-resource-id",
                    ],
                    description: Some("The Active Directory resource ID"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-active-directory-graph-resource-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-active-directory-resource-id",
                    ],
                    description: Some("The resource ID to obtain AD tokens for"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-active-directory-resource-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-gallery",
                    ],
                    description: Some("The template gallery endpoint"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-gallery",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-management",
                    ],
                    description: Some("The management service endpoint"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-management",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-resource-manager",
                    ],
                    description: Some("The resource management endpoint"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-resource-manager",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-sql-management",
                    ],
                    description: Some("The sql server management endpoint"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-sql-management",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--endpoint-vm-image-alias-doc",
                    ],
                    description: Some("The uri of the document which caches commonly used virtual machine images"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "endpoint-vm-image-alias-doc",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of a registered cloud"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("Profile to use for this cloud"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "profile",
                            source: Static([
                                "2017-03-09-profile",
                                "2018-03-01-hybrid",
                                "2019-03-01-hybrid",
                                "2020-09-01-hybrid",
                                "latest",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-acr-login-server-endpoint",
                    ],
                    description: Some("The Azure Container Registry login server suffix"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-acr-login-server-endpoint",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-azure-datalake-analytics-catalog-and-job-endpoint",
                    ],
                    description: Some("The Data Lake analytics job and catalog service dns suffix"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-azure-datalake-analytics-catalog-and-job-endpoint",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-azure-datalake-store-file-system-endpoint",
                    ],
                    description: Some("The Data Lake store filesystem service dns suffix"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-azure-datalake-store-file-system-endpoint",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-keyvault-dns",
                    ],
                    description: Some("The Key Vault service dns suffix"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-keyvault-dns",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-sql-server-hostname",
                    ],
                    description: Some("The dns suffix for sql servers"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-sql-server-hostname",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--suffix-storage-endpoint",
                    ],
                    description: Some("The endpoint suffix for storage accounts"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "suffix-storage-endpoint",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)