(
    version: 1,
    command: "command-change",
    description: Some("Commands for CLI modules metadata management"),
    subcommands: [
        (
            name: "meta-diff",
            aliases: [],
            description: Some("Diff command meta between provided meta files"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--base-meta-file",
                    ],
                    description: Some("Command meta json file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "base-meta-file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--diff-meta-file",
                    ],
                    description: Some("Command meta json file to diff"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "diff-meta-file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--only-break",
                    ],
                    description: Some("Whether include non breaking changes"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--output-file",
                    ],
                    description: Some("Command meta diff json file path to store"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "output-file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--output-type",
                    ],
                    description: Some("Format to print diff and suggest message"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "output-type",
                            source: Static([
                                "dict",
                                "text",
                                "tree",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "version-diff",
            aliases: [],
            description: Some("Diff command meta data between different cli versions"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--base-version",
                    ],
                    description: Some("Azure cli version as base"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "base-version",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--diff-version",
                    ],
                    description: Some("Azure cli version to diff"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "diff-version",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--only-break",
                    ],
                    description: Some("Whether include non breaking changes"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--output-type",
                    ],
                    description: Some("Command meta diff format to store"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "output-type",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--target-module",
                    ],
                    description: Some("Module chosen to diff between different cli versions"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "target-module",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--use-cache",
                    ],
                    description: Some("Whether use cached metadata files"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--version-diff-file",
                    ],
                    description: Some("Command meta version diff file path to store"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "version-diff-file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)