(
    version: 1,
    command: "command-change",
    description: Some("Commands for CLI modules metadata management"),
    subcommands: [
        (
            name: "meta-diff",
            description: Some("Diff command meta between provided meta files"),
            options: [
                (
                    names: [
                        "--base-meta-file",
                    ],
                    description: Some("Command meta json file"),
                    arguments: [
                        (
                            name: "base-meta-file",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--diff-meta-file",
                    ],
                    description: Some("Command meta json file to diff"),
                    arguments: [
                        (
                            name: "diff-meta-file",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--only-break",
                    ],
                    description: Some("Whether include non breaking changes"),
                ),
                (
                    names: [
                        "--output-file",
                    ],
                    description: Some("Command meta diff json file path to store"),
                    arguments: [
                        (
                            name: "output-file",
                        ),
                    ],
                ),
                (
                    names: [
                        "--output-type",
                    ],
                    description: Some("Format to print diff and suggest message"),
                    arguments: [
                        (
                            name: "output-type",
                            suggestions: [
                                (
                                    name: "dict",
                                ),
                                (
                                    name: "text",
                                ),
                                (
                                    name: "tree",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "version-diff",
            description: Some("Diff command meta data between different cli versions"),
            options: [
                (
                    names: [
                        "--base-version",
                    ],
                    description: Some("Azure cli version as base"),
                    arguments: [
                        (
                            name: "base-version",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--diff-version",
                    ],
                    description: Some("Azure cli version to diff"),
                    arguments: [
                        (
                            name: "diff-version",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--only-break",
                    ],
                    description: Some("Whether include non breaking changes"),
                ),
                (
                    names: [
                        "--output-type",
                    ],
                    description: Some("Command meta diff format to store"),
                    arguments: [
                        (
                            name: "output-type",
                        ),
                    ],
                ),
                (
                    names: [
                        "--target-module",
                    ],
                    description: Some("Module chosen to diff between different cli versions"),
                    arguments: [
                        (
                            name: "target-module",
                        ),
                    ],
                ),
                (
                    names: [
                        "--use-cache",
                    ],
                    description: Some("Whether use cached metadata files"),
                ),
                (
                    names: [
                        "--version-diff-file",
                    ],
                    description: Some("Command meta version diff file path to store"),
                    arguments: [
                        (
                            name: "version-diff-file",
                        ),
                    ],
                ),
            ],
        ),
    ],
)
