(
    version: 1,
    command: "confcom",
    description: Some("Commands to generate security policies for confidential containers in Azure"),
    subcommands: [
        (
            name: "acipolicygen",
            aliases: [],
            description: Some("Create a Confidential Container Security Policy"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--approve-wildcards",
                        "-y",
                    ],
                    description: Some("When enabled, all prompts for using wildcards in environment variables are automatically approved"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--debug-mode",
                    ],
                    description: Some("When enabled, the generated security policy adds the ability to use /bin/sh or /bin/bash to debug the container. It also enabled stdio access, ability to dump stack traces, and enables runtime logging. It is recommended to only use this option for debugging purposes"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--diff",
                        "-d",
                    ],
                    description: Some("When combined with an input ARM Template, verifies the policy present in the ARM Template under \"ccePolicy\" and the containers within the ARM Template are compatible. If they are incompatible, a list of reasons is given and the exit status code will be 2"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--disable-stdio",
                    ],
                    description: Some("When enabled, the containers in the container group do not have access to stdio"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--image",
                    ],
                    description: Some("Input image name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "image",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--infrastructure-svn",
                    ],
                    description: Some("Minimum Allowed Software Version Number for Infrastructure Fragment"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "infrastructure-svn",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--input",
                        "-i",
                    ],
                    description: Some("Input JSON config file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "input",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--outraw",
                    ],
                    description: Some("Output policy in clear text compact JSON instead of default base64 format"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--outraw-pretty-print",
                    ],
                    description: Some("Output policy in clear text and pretty print format"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--parameters",
                        "-p",
                    ],
                    description: Some("Input parameters file to optionally accompany an ARM Template"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "parameters",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--print-existing-policy",
                    ],
                    description: Some("When enabled, the existing security policy that is present in the ARM Template is printed to the command line, and no new security policy is generated"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--print-policy",
                    ],
                    description: Some("When enabled, the generated security policy is printed to the command line instead of injected into the input ARM Template"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--save-to-file",
                        "-s",
                    ],
                    description: Some("Save output policy to given file path"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "save-to-file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--tar",
                    ],
                    description: Some("Path to either a tarball containing image layers or a JSON file containing paths to tarballs of image layers"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "tar",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--template-file",
                        "-a",
                    ],
                    description: Some("Input ARM Template file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "template-file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--validate-sidecar",
                        "-v",
                    ],
                    description: Some("Validate that the image used to generate the CCE Policy for a sidecar container will be allowed by its generated policy"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)