(
    version: 1,
    command: "config",
    description: Some("Manage Azure CLI configuration.\n\n\t\tAvailable since Azure CLI 2.10.0"),
    subcommands: [
        (
            name: "get",
            description: Some("Get a configuration"),
            options: [
                (
                    names: [
                        "--local",
                    ],
                    description: Some("Include local configuration. Scan from the working directory up to the root drive, then the global configuration and return the first occurrence"),
                ),
            ],
            arguments: [
                (
                    name: "<KEY>",
                    description: Some("The configuration to get. If not provided, all sections and configurations will be listed. If section is provided, all configurations under the specified section will be listed. If <section>.<key> is provided, only the corresponding configuration is shown"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "set",
            description: Some("Set a configuration"),
            options: [
                (
                    names: [
                        "--local",
                    ],
                    description: Some("Set as a local configuration in the working directory"),
                ),
            ],
            arguments: [
                (
                    name: "<KEY_VALUE>",
                    description: Some("Space-separated configurations in the form of .="),
                    optional: true,
                ),
            ],
        ),
        (
            name: "unset",
            description: Some("Unset a configuration"),
            options: [
                (
                    names: [
                        "--local",
                    ],
                    description: Some("Include local configuration. Scan from the working directory up to the root drive, then the global configuration and unset the first occurrence"),
                ),
            ],
            arguments: [
                (
                    name: "<KEY>",
                    description: Some("The configuration to unset, in the form of"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "param-persist",
            description: Some("Manage parameter persistence"),
            subcommands: [
                (
                    name: "delete",
                    description: Some("Delete parameter persistence data"),
                    options: [
                        (
                            names: [
                                "--all",
                            ],
                            description: Some("Clear all parameter persistence data. Either positional name argument or --all can be specified"),
                        ),
                        (
                            names: [
                                "--purge",
                            ],
                            description: Some("Delete parameter persistence file from working directory. Only available when --all is specified"),
                        ),
                        (
                            names: [
                                "--recursive",
                            ],
                            description: Some("Indicate this is recursive delete of parameter persistence. Only available when --all is specified"),
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation. Only available when --all is specified"),
                        ),
                    ],
                    arguments: [
                        (
                            name: "<NAME>",
                            description: Some("Space-separated list of parameter persistence names. Either positional name argument or --all can be specified"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    name: "off",
                    description: Some("Turn off parameter persistence"),
                ),
                (
                    name: "on",
                    description: Some("Turn on parameter persistence"),
                ),
                (
                    name: "show",
                    description: Some("Show parameter persistence data"),
                    arguments: [
                        (
                            name: "<NAME>",
                            description: Some("Space-separated list of parameter persistence names"),
                            optional: true,
                        ),
                    ],
                ),
            ],
        ),
    ],
)
