(
    version: 1,
    command: "config",
    description: Some("Manage Azure CLI configuration.\n\n\t\tAvailable since Azure CLI 2.10.0"),
    subcommands: [
        (
            name: "get",
            aliases: [],
            description: Some("Get a configuration"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--local",
                    ],
                    description: Some("Include local configuration. Scan from the working directory up to the root drive, then the global configuration and return the first occurrence"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "<KEY>",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "set",
            aliases: [],
            description: Some("Set a configuration"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--local",
                    ],
                    description: Some("Set as a local configuration in the working directory"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "<KEY_VALUE>",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "unset",
            aliases: [],
            description: Some("Unset a configuration"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--local",
                    ],
                    description: Some("Include local configuration. Scan from the working directory up to the root drive, then the global configuration and unset the first occurrence"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "<KEY>",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "param-persist",
            aliases: [],
            description: Some("Manage parameter persistence"),
            subcommands: [
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete parameter persistence data"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--all",
                            ],
                            description: Some("Clear all parameter persistence data. Either positional name argument or --all can be specified"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "--purge",
                            ],
                            description: Some("Delete parameter persistence file from working directory. Only available when --all is specified"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "--recursive",
                            ],
                            description: Some("Indicate this is recursive delete of parameter persistence. Only available when --all is specified"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation. Only available when --all is specified"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [
                        (
                            name: "<NAME>",
                            source: Files,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "off",
                    aliases: [],
                    description: Some("Turn off parameter persistence"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "on",
                    aliases: [],
                    description: Some("Turn on parameter persistence"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "show",
                    aliases: [],
                    description: Some("Show parameter persistence data"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "<NAME>",
                            source: Files,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)