(
    version: 1,
    command: "costmanagement",
    description: Some("Manage cost and billing in Azure"),
    subcommands: [
        (
            name: "export",
            description: Some("Costmanagement export"),
            subcommands: [
                (
                    name: "create",
                    description: Some("The operation to create an export"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Export Name"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--scope",
                            ],
                            description: Some("The scope associated with query and export operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group scope"),
                            arguments: [
                                (
                                    name: "scope",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--storage-account-id",
                            ],
                            description: Some("The ID of the storage account to store exports"),
                            arguments: [
                                (
                                    name: "storage-account-id",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--storage-container",
                            ],
                            description: Some("The storage container to deliver exports"),
                            arguments: [
                                (
                                    name: "storage-container",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--timeframe",
                            ],
                            description: Some("The time frame for pulling data for the query. If custom, then a specific time period must be provided"),
                            arguments: [
                                (
                                    name: "timeframe",
                                    suggestions: [
                                        (
                                            name: "BillingMonthToDate",
                                        ),
                                        (
                                            name: "Custom",
                                        ),
                                        (
                                            name: "MonthToDate",
                                        ),
                                        (
                                            name: "TheLastBillingMonth",
                                        ),
                                        (
                                            name: "TheLastMonth",
                                        ),
                                        (
                                            name: "WeekToDate",
                                        ),
                                    ],
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--dataset-configuration",
                            ],
                            description: Some("Has configuration information for the data in the export. The configuration will be ignored if aggregation and grouping are provided. Expect value: columns=xx"),
                            arguments: [
                                (
                                    name: "dataset-configuration",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--recurrence",
                            ],
                            description: Some("The schedule recurrence"),
                            arguments: [
                                (
                                    name: "recurrence",
                                    suggestions: [
                                        (
                                            name: "Annually",
                                        ),
                                        (
                                            name: "Daily",
                                        ),
                                        (
                                            name: "Monthly",
                                        ),
                                        (
                                            name: "Weekly",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--recurrence-period",
                            ],
                            description: Some("Has start and end date of the recurrence. The start date must be in future. If present, the end date must be greater than start date. Expect value: KEY1=VALUE1 KEY2=VALUE2 ... , available KEYs are: from, to. The time format is like 2020-05-01T00:00:00"),
                            arguments: [
                                (
                                    name: "recurrence-period",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--schedule-status",
                            ],
                            description: Some("The status of the export's schedule. If inactive, the export's scheduled execution is paused"),
                            arguments: [
                                (
                                    name: "schedule-status",
                                    suggestions: [
                                        (
                                            name: "Active",
                                        ),
                                        (
                                            name: "Inactive",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--storage-directory",
                            ],
                            description: Some("The root directory in the storage container to store exports"),
                            arguments: [
                                (
                                    name: "storage-directory",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--time-period",
                            ],
                            description: Some("Has time period for pulling data for the query. Expect value: from=TIMESTAMP1 to=TIMESTAMP2. The timestamp format is like 2020-05-01T00:00:00.The TIMESTAMP1 must in the future and TIMESTAMP2 must be greater than TIMESTAMP1"),
                            arguments: [
                                (
                                    name: "time-period",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--type",
                            ],
                            description: Some("The type of the query"),
                            arguments: [
                                (
                                    name: "type",
                                    suggestions: [
                                        (
                                            name: "ActualCost",
                                        ),
                                        (
                                            name: "AmortizedCost",
                                        ),
                                        (
                                            name: "Usage",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("The operation to delete an export"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Export Name"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--scope",
                            ],
                            description: Some("The scope associated with query and export operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group scope"),
                            arguments: [
                                (
                                    name: "scope",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation"),
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("The operation to list all exports at the given scope"),
                    options: [
                        (
                            names: [
                                "--scope",
                            ],
                            description: Some("The scope associated with query and export operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group scope"),
                            arguments: [
                                (
                                    name: "scope",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
                (
                    name: "show",
                    description: Some("The operation to get the execution history of an export for the defined scope by export name"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Export Name"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--scope",
                            ],
                            description: Some("The scope associated with query and export operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group scope"),
                            arguments: [
                                (
                                    name: "scope",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
                (
                    name: "update",
                    description: Some("The operation to update an export"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Export Name"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--scope",
                            ],
                            description: Some("The scope associated with query and export operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group scope"),
                            arguments: [
                                (
                                    name: "scope",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--dataset-configuration",
                            ],
                            description: Some("Has configuration information for the data in the export. The configuration will be ignored if aggregation and grouping are provided. Expect value: columns=xx"),
                            arguments: [
                                (
                                    name: "dataset-configuration",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--recurrence",
                            ],
                            description: Some("The schedule recurrence"),
                            arguments: [
                                (
                                    name: "recurrence",
                                    suggestions: [
                                        (
                                            name: "Annually",
                                        ),
                                        (
                                            name: "Daily",
                                        ),
                                        (
                                            name: "Monthly",
                                        ),
                                        (
                                            name: "Weekly",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--recurrence-period",
                            ],
                            description: Some("Has start and end date of the recurrence. The start date must be in future. If present, the end date must be greater than start date. Expect value: KEY1=VALUE1 KEY2=VALUE2 ... , available KEYs are: from, to. The time format is like 2020-05-01T00:00:00"),
                            arguments: [
                                (
                                    name: "recurrence-period",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--schedule-status",
                            ],
                            description: Some("The status of the export's schedule. If inactive, the export's scheduled execution is paused"),
                            arguments: [
                                (
                                    name: "schedule-status",
                                    suggestions: [
                                        (
                                            name: "Active",
                                        ),
                                        (
                                            name: "Inactive",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--storage-account-id",
                            ],
                            description: Some("The ID of the storage account to store exports"),
                            arguments: [
                                (
                                    name: "storage-account-id",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--storage-container",
                            ],
                            description: Some("The storage container to deliver exports"),
                            arguments: [
                                (
                                    name: "storage-container",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--storage-directory",
                            ],
                            description: Some("The root directory in the storage container to store exports"),
                            arguments: [
                                (
                                    name: "storage-directory",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--time-period",
                            ],
                            description: Some("Has time period for pulling data for the query. Expect value: from=TIMESTAMP1 to=TIMESTAMP2. The timestamp format is like 2020-05-01T00:00:00.The TIMESTAMP1 must in the future and TIMESTAMP2 must be greater than TIMESTAMP1"),
                            arguments: [
                                (
                                    name: "time-period",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--timeframe",
                            ],
                            description: Some("The time frame for pulling data for the query. If custom, then a specific time period must be provided"),
                            arguments: [
                                (
                                    name: "timeframe",
                                    suggestions: [
                                        (
                                            name: "BillingMonthToDate",
                                        ),
                                        (
                                            name: "Custom",
                                        ),
                                        (
                                            name: "MonthToDate",
                                        ),
                                        (
                                            name: "TheLastBillingMonth",
                                        ),
                                        (
                                            name: "TheLastMonth",
                                        ),
                                        (
                                            name: "WeekToDate",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
)
