(
    version: 1,
    command: "custom-providers",
    description: Some("Commands to manage custom providers"),
    subcommands: [
        (
            name: "resource-provider",
            description: Some("Commands to manage custom resource provider"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create or update the custom resource provider"),
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource provider"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--action",
                                "-a",
                            ],
                            description: Some("Add an action to the custom resource provider"),
                            arguments: [
                                (
                                    name: "action",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--location",
                                "-l",
                            ],
                            description: Some("Location. Values from: az account list-locations. You can configure the default location using az configure --defaults location=<location>"),
                            arguments: [
                                (
                                    name: "location",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--no-wait",
                            ],
                            description: Some("Do not wait for the long-running operation to finish"),
                        ),
                        (
                            names: [
                                "--resource-type",
                                "-r",
                            ],
                            description: Some("Add a custom resource type to the custom resource provider"),
                            arguments: [
                                (
                                    name: "resource-type",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--tags",
                            ],
                            description: Some("Space-separated tags: key[=value] [key[=value] ...]. Use \"\" to clear existing tags"),
                            arguments: [
                                (
                                    name: "tags",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--validation",
                                "-v",
                            ],
                            description: Some("Add a validation to the custom resource provider"),
                            arguments: [
                                (
                                    name: "validation",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("Delete the custom resource provider"),
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource provider"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--no-wait",
                            ],
                            description: Some("Do not wait for the long-running operation to finish"),
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation"),
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("Get all the custom resource providers within a resource group or in the current subscription"),
                    options: [
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "show",
                    description: Some("Get the properties for the custom resource provider"),
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource provider"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
                (
                    name: "update",
                    description: Some("Update the custom resource provider. Only tags can be updated"),
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource provider"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--tags",
                            ],
                            description: Some("Space-separated tags: key[=value] [key[=value] ...]. Use \"\" to clear existing tags"),
                            arguments: [
                                (
                                    name: "tags",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
)
