(
    version: 1,
    command: "demo",
    description: Some("Demos for designing, developing and demonstrating Azure CLI"),
    subcommands: [
        (
            name: "byo-access-token",
            aliases: [],
            description: Some("List resource groups by bringing your own access token"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--access-token",
                    ],
                    description: Some("Your own access token"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "access-token",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription-id",
                    ],
                    description: Some("Subscription ID under which to list resource groups"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "subscription-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "style",
            aliases: [],
            description: Some("A demo showing supported text styles"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--theme",
                    ],
                    description: Some("The theme to format styled text. If unspecified, the default theme is used"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "theme",
                            source: Static([
                                "cloud-shell",
                                "dark",
                                "light",
                                "none",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "secret-store",
            aliases: [],
            description: Some("A demo showing how to use secret store"),
            subcommands: [
                (
                    name: "load",
                    aliases: [],
                    description: Some("Load custom data from secret store"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "save",
                    aliases: [],
                    description: Some("Save custom data to secret store"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "<KEY_VALUE>",
                            source: Files,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)