(
    version: 1,
    command: "demo",
    description: Some("Demos for designing, developing and demonstrating Azure CLI"),
    subcommands: [
        (
            name: "byo-access-token",
            description: Some("List resource groups by bringing your own access token"),
            options: [
                (
                    names: [
                        "--access-token",
                    ],
                    description: Some("Your own access token"),
                    arguments: [
                        (
                            name: "access-token",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--subscription-id",
                    ],
                    description: Some("Subscription ID under which to list resource groups"),
                    arguments: [
                        (
                            name: "subscription-id",
                        ),
                    ],
                    required: true,
                ),
            ],
        ),
        (
            name: "style",
            description: Some("A demo showing supported text styles"),
            options: [
                (
                    names: [
                        "--theme",
                    ],
                    description: Some("The theme to format styled text. If unspecified, the default theme is used"),
                    arguments: [
                        (
                            name: "theme",
                            suggestions: [
                                (
                                    name: "cloud-shell",
                                ),
                                (
                                    name: "dark",
                                ),
                                (
                                    name: "light",
                                ),
                                (
                                    name: "none",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "secret-store",
            description: Some("A demo showing how to use secret store"),
            subcommands: [
                (
                    name: "load",
                    description: Some("Load custom data from secret store"),
                ),
                (
                    name: "save",
                    description: Some("Save custom data to secret store"),
                    arguments: [
                        (
                            name: "<KEY_VALUE>",
                            description: Some("Space-separated data: = [= ...]"),
                            optional: true,
                        ),
                    ],
                ),
            ],
        ),
    ],
)
