(
    version: 1,
    command: "feature",
    description: Some("Manage resource provider features"),
    subcommands: [
        (
            name: "list",
            aliases: [],
            description: Some("List preview features"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--namespace",
                    ],
                    description: Some("The resource namespace, aka \'provider\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "register",
            aliases: [],
            description: Some("Register a preview feature"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The feature name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--namespace",
                    ],
                    description: Some("The resource namespace, aka \'provider\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "show",
            aliases: [],
            description: Some("Gets the preview feature with the specified name"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The feature name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--namespace",
                    ],
                    description: Some("The resource namespace, aka \'provider\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "unregister",
            aliases: [],
            description: Some("Unregister a preview feature"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The feature name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--namespace",
                    ],
                    description: Some("The resource namespace, aka \'provider\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "registration",
            aliases: [],
            description: Some("Manage resource provider feature registrations"),
            subcommands: [
                (
                    name: "create",
                    aliases: [],
                    description: Some("Create a feature registration"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The feature name"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--namespace",
                            ],
                            description: Some("The resource namespace, aka \'provider\'"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "namespace",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete a feature registration"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The feature name"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--namespace",
                            ],
                            description: Some("The resource namespace, aka \'provider\'"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "namespace",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List feature registrations"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--namespace",
                            ],
                            description: Some("The resource namespace, aka \'provider\'"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "namespace",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "show",
                    aliases: [],
                    description: Some("Returns a feature registration"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The feature name"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--provider-namespace",
                            ],
                            description: Some("The provider namespace. Required"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "provider-namespace",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)