(
    version: 1,
    command: "find",
    description: Some("I\'m an AI robot, my advice is based on our Azure documentation as well as the usage patterns of Azure CLI and Azure ARM users. Using me improves Azure products and documentation"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "<CLI_TERM>",
            source: Files,
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
    ],
)