(
    version: 1,
    command: "fluid-relay",
    description: Some("Manage Fluid Relay"),
    subcommands: [
        (
            name: "container",
            description: Some("Manage Fluid Relay Container"),
            subcommands: [
                (
                    name: "delete",
                    description: Some("Delete a Fluid Relay container"),
                    options: [
                        (
                            names: [
                                "--container-name",
                                "--name",
                                "-n",
                            ],
                            description: Some("The Fluid Relay container resource name"),
                            arguments: [
                                (
                                    name: "container-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                            arguments: [
                                (
                                    name: "ids",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--server-name",
                            ],
                            description: Some("The Fluid Relay server resource name"),
                            arguments: [
                                (
                                    name: "server-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--subscription",
                            ],
                            description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                            arguments: [
                                (
                                    name: "subscription",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation"),
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("List all Fluid Relay containers which are children of a given Fluid Relay server"),
                    options: [
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The resource group containing the resource"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--server-name",
                            ],
                            description: Some("The Fluid Relay server resource name"),
                            arguments: [
                                (
                                    name: "server-name",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
                (
                    name: "show",
                    description: Some("Get a Fluid Relay container"),
                    options: [
                        (
                            names: [
                                "--container-name",
                                "--name",
                                "-n",
                            ],
                            description: Some("The Fluid Relay container resource name"),
                            arguments: [
                                (
                                    name: "container-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                            arguments: [
                                (
                                    name: "ids",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--server-name",
                            ],
                            description: Some("The Fluid Relay server resource name"),
                            arguments: [
                                (
                                    name: "server-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--subscription",
                            ],
                            description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                            arguments: [
                                (
                                    name: "subscription",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "server",
            description: Some("Manage Fluid Relay Server"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create a Fluid Relay server"),
                    options: [
                        (
                            names: [
                                "--server-name",
                                "--name",
                                "-n",
                            ],
                            description: Some("The Fluid Relay server resource name"),
                            arguments: [
                                (
                                    name: "server-name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--identity",
                            ],
                            description: Some("The type of identity used for the resource. Support shorthand-syntax, json-file and yaml-file. Try \"??\" to show more"),
                            arguments: [
                                (
                                    name: "identity",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--key-identity",
                            ],
                            description: Some("All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault. Support shorthand-syntax, json-file and yaml-file. Try \"??\" to show more"),
                            arguments: [
                                (
                                    name: "key-identity",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--key-url",
                            ],
                            description: Some("Key encryption key Url, with or without a version. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78 or https://contosovault.vault.azure.net/keys/contosokek. Key auto rotation is enabled by providing a key uri without version. Otherwise, customer is responsible for rotating the key. The keyEncryptionKeyIdentity(either SystemAssigned or UserAssigned) should have permission to access this key url"),
                            arguments: [
                                (
                                    name: "key-url",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--location",
                                "-l",
                            ],
                            description: Some("The geo-location where the resource lives When not specified, the location of the resource group will be used"),
                            arguments: [
                                (
                                    name: "location",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--provisioning-state",
                            ],
                            description: Some("Provision states for FluidRelay RP"),
                            arguments: [
                                (
                                    name: "provisioning-state",
                                    suggestions: [
                                        (
                                            name: "Canceled",
                                        ),
                                        (
                                            name: "Failed",
                                        ),
                                        (
                                            name: "Succeeded",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--sku",
                            ],
                            description: Some("Sku of the storage associated with the resource"),
                            arguments: [
                                (
                                    name: "sku",
                                    suggestions: [
                                        (
                                            name: "basic",
                                        ),
                                        (
                                            name: "standard",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--tags",
                            ],
                            description: Some("Resource tags. Support shorthand-syntax, json-file and yaml-file. Try \"??\" to show more"),
                            arguments: [
                                (
                                    name: "tags",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("Delete a Fluid Relay server"),
                    options: [
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                            arguments: [
                                (
                                    name: "ids",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--server-name",
                                "--name",
                                "-n",
                            ],
                            description: Some("The Fluid Relay server resource name"),
                            arguments: [
                                (
                                    name: "server-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--subscription",
                            ],
                            description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                            arguments: [
                                (
                                    name: "subscription",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation"),
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("List all Fluid Relay servers"),
                    options: [
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The resource group containing the resource"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "list-key",
                    description: Some("Get primary and secondary key for this server"),
                    options: [
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The resource group containing the resource"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--server-name",
                                "-n",
                            ],
                            description: Some("The Fluid Relay server resource name"),
                            arguments: [
                                (
                                    name: "server-name",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
                (
                    name: "regenerate-key",
                    description: Some("Regenerate the primary or secondary key for this server"),
                    options: [
                        (
                            names: [
                                "--key-name",
                            ],
                            description: Some("The key to regenerate"),
                            arguments: [
                                (
                                    name: "key-name",
                                    suggestions: [
                                        (
                                            name: "key1",
                                        ),
                                        (
                                            name: "key2",
                                        ),
                                    ],
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The resource group containing the resource"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--server-name",
                                "-n",
                            ],
                            description: Some("The Fluid Relay server resource name"),
                            arguments: [
                                (
                                    name: "server-name",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
                (
                    name: "show",
                    description: Some("Get a Fluid Relay server"),
                    options: [
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                            arguments: [
                                (
                                    name: "ids",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--server-name",
                                "--name",
                                "-n",
                            ],
                            description: Some("The Fluid Relay server resource name"),
                            arguments: [
                                (
                                    name: "server-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--subscription",
                            ],
                            description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                            arguments: [
                                (
                                    name: "subscription",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "update",
                    description: Some("Update a Fluid Relay server"),
                    options: [
                        (
                            names: [
                                "--identity",
                            ],
                            description: Some("The type of identity used for the resource. Support shorthand-syntax, json-file and yaml-file. Try \"??\" to show more"),
                            arguments: [
                                (
                                    name: "identity",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                            arguments: [
                                (
                                    name: "ids",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--key-identity",
                            ],
                            description: Some("All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault. Support shorthand-syntax, json-file and yaml-file. Try \"??\" to show more"),
                            arguments: [
                                (
                                    name: "key-identity",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--key-url",
                            ],
                            description: Some("Key encryption key Url, with or without a version. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78 or https://contosovault.vault.azure.net/keys/contosokek. Key auto rotation is enabled by providing a key uri without version. Otherwise, customer is responsible for rotating the key. The keyEncryptionKeyIdentity(either SystemAssigned or UserAssigned) should have permission to access this key url"),
                            arguments: [
                                (
                                    name: "key-url",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--location",
                            ],
                            description: Some("The geo-location where the resource lives"),
                            arguments: [
                                (
                                    name: "location",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--server-name",
                                "--name",
                                "-n",
                            ],
                            description: Some("The Fluid Relay server resource name"),
                            arguments: [
                                (
                                    name: "server-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--subscription",
                            ],
                            description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                            arguments: [
                                (
                                    name: "subscription",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--tags",
                            ],
                            description: Some("Resource tags. Support shorthand-syntax, json-file and yaml-file. Try \"??\" to show more"),
                            arguments: [
                                (
                                    name: "tags",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
)
