(
    version: 1,
    command: "graph-services",
    description: Some("Make operations on Microsoft.GraphServices resource types"),
    subcommands: [
        (
            name: "account",
            description: Some("Make operations on Microsoft.GraphServices/Accounts"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create account resource. Enables billing for the provided application"),
                    options: [
                        (
                            names: [
                                "--app-id",
                            ],
                            description: Some("Customer owned application ID"),
                            arguments: [
                                (
                                    name: "app-id",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-name",
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource"),
                            arguments: [
                                (
                                    name: "resource-name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of an Azure resource group in your subscription"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--location",
                                "-l",
                            ],
                            description: Some("Location of the resource"),
                            arguments: [
                                (
                                    name: "location",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--no-wait",
                            ],
                            description: Some("Do not wait for the long-running operation to finish"),
                            arguments: [
                                (
                                    name: "no-wait",
                                    suggestions: [
                                        (
                                            name: "0",
                                        ),
                                        (
                                            name: "1",
                                        ),
                                        (
                                            name: "f",
                                        ),
                                        (
                                            name: "false",
                                        ),
                                        (
                                            name: "n",
                                        ),
                                        (
                                            name: "no",
                                        ),
                                        (
                                            name: "t",
                                        ),
                                        (
                                            name: "true",
                                        ),
                                        (
                                            name: "y",
                                        ),
                                        (
                                            name: "yes",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--tags",
                            ],
                            description: Some("Resource tags Support shorthand-syntax, json-file and yaml-file. Try \"??\" to show more"),
                            arguments: [
                                (
                                    name: "tags",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("Delete an account resource. Disables billing on the associated application"),
                    options: [
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                            arguments: [
                                (
                                    name: "ids",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-name",
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource"),
                            arguments: [
                                (
                                    name: "resource-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of an Azure resource group in your subscription"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--subscription",
                            ],
                            description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                            arguments: [
                                (
                                    name: "subscription",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation"),
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("List of accounts belonging to a subscription"),
                    options: [
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of an Azure resource group in your subscription"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "show",
                    description: Some("Get an account resource given its name"),
                    options: [
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                            arguments: [
                                (
                                    name: "ids",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-name",
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource"),
                            arguments: [
                                (
                                    name: "resource-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of an Azure resource group in your subscription"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--subscription",
                            ],
                            description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                            arguments: [
                                (
                                    name: "subscription",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "update",
                    description: Some("Update an account resource"),
                    options: [
                        (
                            names: [
                                "--add",
                            ],
                            description: Some("Add an object to a list of objects by specifying a path and key value pairs. Example: --add property.listProperty <key=value, string or JSON string>"),
                            arguments: [
                                (
                                    name: "add",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--force-string",
                            ],
                            description: Some("When using 'set' or 'add', preserve string literals instead of attempting to convert to JSON"),
                            arguments: [
                                (
                                    name: "force-string",
                                    suggestions: [
                                        (
                                            name: "0",
                                        ),
                                        (
                                            name: "1",
                                        ),
                                        (
                                            name: "f",
                                        ),
                                        (
                                            name: "false",
                                        ),
                                        (
                                            name: "n",
                                        ),
                                        (
                                            name: "no",
                                        ),
                                        (
                                            name: "t",
                                        ),
                                        (
                                            name: "true",
                                        ),
                                        (
                                            name: "y",
                                        ),
                                        (
                                            name: "yes",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                            arguments: [
                                (
                                    name: "ids",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--location",
                                "-l",
                            ],
                            description: Some("Location of the resource"),
                            arguments: [
                                (
                                    name: "location",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-name",
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource"),
                            arguments: [
                                (
                                    name: "resource-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--no-wait",
                            ],
                            description: Some("Do not wait for the long-running operation to finish"),
                            arguments: [
                                (
                                    name: "no-wait",
                                    suggestions: [
                                        (
                                            name: "0",
                                        ),
                                        (
                                            name: "1",
                                        ),
                                        (
                                            name: "f",
                                        ),
                                        (
                                            name: "false",
                                        ),
                                        (
                                            name: "n",
                                        ),
                                        (
                                            name: "no",
                                        ),
                                        (
                                            name: "t",
                                        ),
                                        (
                                            name: "true",
                                        ),
                                        (
                                            name: "y",
                                        ),
                                        (
                                            name: "yes",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--remove",
                            ],
                            description: Some("Remove a property or an element from a list. Example: --remove property.list OR --remove propertyToRemove"),
                            arguments: [
                                (
                                    name: "remove",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of an Azure resource group in your subscription"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--set",
                            ],
                            description: Some("Update an object by specifying a property path and value to set. Example: --set property1.property2="),
                            arguments: [
                                (
                                    name: "set",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--subscription",
                            ],
                            description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                            arguments: [
                                (
                                    name: "subscription",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--tags",
                            ],
                            description: Some("Resource tags Support shorthand-syntax, json-file and yaml-file. Try \"??\" to show more"),
                            arguments: [
                                (
                                    name: "tags",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "wait",
                    description: Some("Place the CLI in a waiting state until a condition is met"),
                    options: [
                        (
                            names: [
                                "--created",
                            ],
                            description: Some("Wait until created with 'provisioningState' at 'Succeeded'"),
                        ),
                        (
                            names: [
                                "--custom",
                            ],
                            description: Some("Wait until the condition satisfies a custom JMESPath query. E.g. provisioningState!='InProgress', instanceView.statuses[?code=='PowerState/running']"),
                            arguments: [
                                (
                                    name: "custom",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--deleted",
                            ],
                            description: Some("Wait until deleted"),
                        ),
                        (
                            names: [
                                "--exists",
                            ],
                            description: Some("Wait until the resource exists"),
                        ),
                        (
                            names: [
                                "--ids",
                            ],
                            description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                            arguments: [
                                (
                                    name: "ids",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--interval",
                            ],
                            description: Some("Polling interval in seconds"),
                            arguments: [
                                (
                                    name: "interval",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-name",
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource"),
                            arguments: [
                                (
                                    name: "resource-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of an Azure resource group in your subscription"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--subscription",
                            ],
                            description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                            arguments: [
                                (
                                    name: "subscription",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--timeout",
                            ],
                            description: Some("Maximum wait in seconds"),
                            arguments: [
                                (
                                    name: "timeout",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--updated",
                            ],
                            description: Some("Wait until updated with provisioningState at 'Succeeded'"),
                        ),
                    ],
                ),
            ],
        ),
    ],
)
