(
    version: 1,
    command: "hanainstance",
    description: Some("(PREVIEW) Manage Azure SAP HANA Instance"),
    subcommands: [
        (
            name: "create",
            aliases: [],
            description: Some("Create a new SAP HANA Instance"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the SAP HANA instance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "instance-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ip-address",
                    ],
                    description: Some("IP address to connect to the SAP HANA instance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ip-address",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--location",
                        "-l",
                    ],
                    description: Some("Location of the SAP HANA instance. Default is the location of target resource group"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "location",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--os-computer-name",
                    ],
                    description: Some("OS computer name of the SAP HANA instance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "os-computer-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--partner-node-id",
                    ],
                    description: Some("ARM ID of a HANA Instance on the network to connect the SAP HANA instance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "partner-node-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ssh-public-key",
                    ],
                    description: Some("SSH public key to connect to the SAP HANA instance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ssh-public-key",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "delete",
            aliases: [],
            description: Some("Delete a SAP HANA Instance"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of \'Resource Id\' arguments. You should provide either --ids or other \'Resource Id\' arguments"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ids",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the SAP HANA instance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "instance-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "subscription",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("List SAP HANA Instances"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "restart",
            aliases: [],
            description: Some("Restart a SAP HANA Instance"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of \'Resource Id\' arguments. You should provide either --ids or other \'Resource Id\' arguments"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ids",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the SAP HANA instance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "instance-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "subscription",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "show",
            aliases: [],
            description: Some("Get the details of a SAP HANA Instance"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of \'Resource Id\' arguments. You should provide either --ids or other \'Resource Id\' arguments"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ids",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the SAP HANA instance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "instance-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "subscription",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "shutdown",
            aliases: [],
            description: Some("Shutdown a SAP HANA Instance"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of \'Resource Id\' arguments. You should provide either --ids or other \'Resource Id\' arguments"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ids",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the SAP HANA instance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "instance-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "subscription",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "start",
            aliases: [],
            description: Some("Start a SAP HANA Instance"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of \'Resource Id\' arguments. You should provide either --ids or other \'Resource Id\' arguments"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ids",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the SAP HANA instance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "instance-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "subscription",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Update the Tags field of a SAP HANA Instance"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--add",
                    ],
                    description: Some("Add an object to a list of objects by specifying a path and key value pairs. Example: --add property.listProperty <key=value, string or JSON string>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "add",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--force-string",
                    ],
                    description: Some("When using \'set\' or \'add\', preserve string literals instead of attempting to convert to JSON"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of \'Resource Id\' arguments. You should provide either --ids or other \'Resource Id\' arguments"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ids",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--instance-name",
                        "-n",
                    ],
                    description: Some("The name of the SAP HANA instance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "instance-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-wait",
                    ],
                    description: Some("Do not wait for the long-running operation to finish"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--remove",
                    ],
                    description: Some("Remove a property or an element from a list. Example: --remove property.list OR --remove propertyToRemove"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "remove",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--set",
                    ],
                    description: Some("Update an object by specifying a property path and value to set. Example: --set property1.property2="),
                    takes_value: true,
                    arguments: [
                        (
                            name: "set",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "subscription",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)