(
    version: 1,
    command: "identity",
    description: Some("Managed Identities"),
    subcommands: [
        (
            name: "create",
            description: Some("Create Identities"),
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the identity resource"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--location",
                        "-l",
                    ],
                    description: Some("Location. Values from: az account list-locations. You can configure the default location using az configure --defaults location=<location>"),
                    arguments: [
                        (
                            name: "location",
                        ),
                    ],
                ),
                (
                    names: [
                        "--tags",
                    ],
                    description: Some("Space-separated tags: key[=value] [key[=value] ...]. Use \"\" to clear existing tags"),
                    arguments: [
                        (
                            name: "tags",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "delete",
            description: Some("Deletes the identity"),
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                    arguments: [
                        (
                            name: "ids",
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the identity resource"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    arguments: [
                        (
                            name: "subscription",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "list",
            description: Some("List Managed Identities"),
            options: [
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "list-operations",
            description: Some("List available operations for the Managed Identity provider"),
        ),
        (
            name: "list-resources",
            description: Some("List the associated resources for the identity"),
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                    arguments: [
                        (
                            name: "ids",
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the identity resource"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    arguments: [
                        (
                            name: "subscription",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "show",
            description: Some("Gets the identity"),
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. You should provide either --ids or other 'Resource Id' arguments"),
                    arguments: [
                        (
                            name: "ids",
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the identity resource"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    arguments: [
                        (
                            name: "resource-group",
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    arguments: [
                        (
                            name: "subscription",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "federated-credential",
            description: Some("Manage federated identity credentials under user assigned identities"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create a federated identity credential under an existing user assigned identity"),
                    options: [
                        (
                            names: [
                                "--identity-name",
                            ],
                            description: Some("The name of the identity resource"),
                            arguments: [
                                (
                                    name: "identity-name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the federated identity credential resource"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--audiences",
                            ],
                            description: Some("The aud value in the token sent to Azure for getting the user-assigned managed identity token. The value configured in the federated credential and the one in the incoming token must exactly match for Azure to issue the access token"),
                            arguments: [
                                (
                                    name: "audiences",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--issuer",
                            ],
                            description: Some("The openId connect metadata URL of the issuer of the identity provider that Azure AD would use in the token exchange protocol for validating tokens before issuing a token as the user-assigned managed identity"),
                            arguments: [
                                (
                                    name: "issuer",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--subject",
                            ],
                            description: Some("The sub value in the token sent to Azure AD for getting the user-assigned managed identity token. The value configured in the federated credential and the one in the incoming token must exactly match for Azure AD to issue the access token"),
                            arguments: [
                                (
                                    name: "subject",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("Delete a federated identity credential under an existing user assigned identity"),
                    options: [
                        (
                            names: [
                                "--identity-name",
                            ],
                            description: Some("The name of the identity resource"),
                            arguments: [
                                (
                                    name: "identity-name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the federated identity credential resource"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation"),
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("List all federated identity credentials under an existing user assigned identity"),
                    options: [
                        (
                            names: [
                                "--identity-name",
                            ],
                            description: Some("The name of the identity resource"),
                            arguments: [
                                (
                                    name: "identity-name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
                (
                    name: "show",
                    description: Some("Show a federated identity credential under an existing user assigned identity"),
                    options: [
                        (
                            names: [
                                "--identity-name",
                            ],
                            description: Some("The name of the identity resource"),
                            arguments: [
                                (
                                    name: "identity-name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the federated identity credential resource"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
                (
                    name: "update",
                    description: Some("Update a federated identity credential under an existing user assigned identity"),
                    options: [
                        (
                            names: [
                                "--identity-name",
                            ],
                            description: Some("The name of the identity resource"),
                            arguments: [
                                (
                                    name: "identity-name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the federated identity credential resource"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--audiences",
                            ],
                            description: Some("The aud value in the token sent to Azure for getting the user-assigned managed identity token. The value configured in the federated credential and the one in the incoming token must exactly match for Azure to issue the access token"),
                            arguments: [
                                (
                                    name: "audiences",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--issuer",
                            ],
                            description: Some("The openId connect metadata URL of the issuer of the identity provider that Azure AD would use in the token exchange protocol for validating tokens before issuing a token as the user-assigned managed identity"),
                            arguments: [
                                (
                                    name: "issuer",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--subject",
                            ],
                            description: Some("The sub value in the token sent to Azure AD for getting the user-assigned managed identity token. The value configured in the federated credential and the one in the incoming token must exactly match for Azure AD to issue the access token"),
                            arguments: [
                                (
                                    name: "subject",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
)
