(
    version: 1,
    command: "interactive",
    description: Some("Start interactive mode. Installs the Interactive extension if not installed already"),
    subcommands: [],
    options: [
        (
            names: [
                "--style",
                "-s",
            ],
            description: Some("The colors of the shell"),
            takes_value: true,
            arguments: [
                (
                    name: "style",
                    source: Static([
                        "bg",
                        "br",
                        "contrast",
                        "default",
                        "grey",
                        "halloween",
                        "neon",
                        "none",
                        "pastel",
                        "primary",
                        "purple",
                        "quiet",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--update",
            ],
            description: Some("Update the Interactive extension to the latest available"),
            takes_value: true,
            arguments: [
                (
                    name: "update",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [],
)