(
    version: 1,
    command: "lock",
    description: Some("Manage Azure locks"),
    subcommands: [
        (
            name: "create",
            aliases: [],
            description: Some("Create a lock"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--lock-type",
                        "-t",
                    ],
                    description: Some("The type of lock restriction"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "lock-type",
                            source: Static([
                                "CanNotDelete",
                                "ReadOnly",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of the lock"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--namespace",
                    ],
                    description: Some("Provider namespace (Ex: \'Microsoft.Provider\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--notes",
                    ],
                    description: Some("Notes about this lock"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "notes",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--parent",
                    ],
                    description: Some("The parent path (Ex: \'resA/myA/resB/myB\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "parent",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-name",
                        "--resource",
                    ],
                    description: Some("Name or ID of the resource being locked. If an ID is given, other resource arguments should not be given"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-type",
                    ],
                    description: Some("The resource type (Ex: \'resC\'). Can also accept namespace/type format (Ex: \'Microsoft.Provider/resC\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-type",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "delete",
            aliases: [],
            description: Some("Delete a lock"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). If provided, no other \"Resource Id\" arguments should be specified"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ids",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of the lock"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--namespace",
                    ],
                    description: Some("Provider namespace (Ex: \'Microsoft.Provider\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--parent",
                    ],
                    description: Some("The parent path (Ex: \'resA/myA/resB/myB\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "parent",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-name",
                        "--resource",
                    ],
                    description: Some("Name or ID of the resource being locked. If an ID is given, other resource arguments should not be given"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-type",
                    ],
                    description: Some("The resource type (Ex: \'resC\'). Can also accept namespace/type format (Ex: \'Microsoft.Provider/resC\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-type",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("List lock information"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--filter-string",
                    ],
                    description: Some("A query filter to use to restrict the results"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "filter-string",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--namespace",
                    ],
                    description: Some("Provider namespace (Ex: \'Microsoft.Provider\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--parent",
                    ],
                    description: Some("The parent path (Ex: \'resA/myA/resB/myB\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "parent",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-name",
                        "--resource",
                    ],
                    description: Some("Name or ID of the resource being locked. If an ID is given, other resource arguments should not be given"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-type",
                    ],
                    description: Some("The resource type (Ex: \'resC\'). Can also accept namespace/type format (Ex: \'Microsoft.Provider/resC\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-type",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "show",
            aliases: [],
            description: Some("Show the properties of a lock"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). If provided, no other \"Resource Id\" arguments should be specified"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ids",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of the lock"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--namespace",
                    ],
                    description: Some("Provider namespace (Ex: \'Microsoft.Provider\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--parent",
                    ],
                    description: Some("The parent path (Ex: \'resA/myA/resB/myB\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "parent",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-name",
                        "--resource",
                    ],
                    description: Some("Name or ID of the resource being locked. If an ID is given, other resource arguments should not be given"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-type",
                    ],
                    description: Some("The resource type (Ex: \'resC\'). Can also accept namespace/type format (Ex: \'Microsoft.Provider/resC\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-type",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Update a lock"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). If provided, no other \"Resource Id\" arguments should be specified"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ids",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--lock-type",
                        "-t",
                    ],
                    description: Some("The type of lock restriction"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "lock-type",
                            source: Static([
                                "CanNotDelete",
                                "ReadOnly",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of the lock"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--namespace",
                    ],
                    description: Some("Provider namespace (Ex: \'Microsoft.Provider\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--notes",
                    ],
                    description: Some("Notes about this lock"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "notes",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--parent",
                    ],
                    description: Some("The parent path (Ex: \'resA/myA/resB/myB\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "parent",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-name",
                        "--resource",
                    ],
                    description: Some("Name or ID of the resource being locked. If an ID is given, other resource arguments should not be given"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-type",
                    ],
                    description: Some("The resource type (Ex: \'resC\'). Can also accept namespace/type format (Ex: \'Microsoft.Provider/resC\')"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-type",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)