(
    version: 1,
    command: "login",
    description: Some("Log in to Azure"),
    subcommands: [],
    options: [
        (
            names: [
                "--allow-no-subscriptions",
            ],
            description: Some("Support access tenants without subscriptions. It\'s uncommon but useful to run tenant level commands, such as \'az ad\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--federated-token",
            ],
            description: Some("Federated token that can be used for OIDC token exchange"),
            takes_value: true,
            arguments: [
                (
                    name: "federated-token",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--identity",
                "-i",
            ],
            description: Some("Log in using the Virtual Machine\'s identity"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--password",
                "-p",
            ],
            description: Some("Credentials like user password, or for a service principal, provide client secret or a pem file with key and public certificate. Will prompt if not given"),
            takes_value: true,
            arguments: [
                (
                    name: "password",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--scope",
            ],
            description: Some("Used in the /authorize request. It can cover only one static resource"),
            takes_value: true,
            arguments: [
                (
                    name: "scope",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--service-principal",
            ],
            description: Some("The credential representing a service principal"),
            takes_value: true,
            arguments: [
                (
                    name: "service-principal",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--tenant",
                "-t",
            ],
            description: Some("The AAD tenant, must provide when using service principals"),
            takes_value: true,
            arguments: [
                (
                    name: "tenant",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--use-cert-sn-issuer",
            ],
            description: Some("Used with a service principal configured with Subject Name and Issuer Authentication in order to support automatic certificate rolls"),
            takes_value: true,
            arguments: [
                (
                    name: "use-cert-sn-issuer",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--use-device-code",
            ],
            description: Some("Use CLI\'s old authentication flow based on device code. CLI will also use this if it can\'t launch a browser in your behalf, e.g. in remote SSH or Cloud Shell"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--username",
                "-u",
            ],
            description: Some("User name, service principal, or managed service identity ID"),
            takes_value: true,
            arguments: [
                (
                    name: "username",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [],
)