(
    version: 1,
    command: "logout",
    description: Some("Log out to remove access to Azure subscriptions"),
    options: [
        (
            names: [
                "--username",
            ],
            description: Some("Account user, if missing, logout the current active account"),
            arguments: [
                (
                    name: "username",
                ),
            ],
        ),
    ],
)
