(
    version: 1,
    command: "managedservices",
    description: Some("Manage the registration assignments and definitions in Azure"),
    subcommands: [
        (
            name: "assignment",
            description: Some("Manage the registration assignments in Azure"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Creates a new registration assignment"),
                    options: [
                        (
                            names: [
                                "--definition",
                            ],
                            description: Some("The fully qualified resource id of the registration definition"),
                            arguments: [
                                (
                                    name: "definition",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--assignment-id",
                            ],
                            description: Some("Can be used to override the generated registration assignment id"),
                            arguments: [
                                (
                                    name: "assignment-id",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("Deletes the registration assignment"),
                    options: [
                        (
                            names: [
                                "--assignment",
                            ],
                            description: Some("The identifier (guid) or the fully qualified resource id of the registration assignment. When resource id is used, subscription id and resource group parameters are ignored"),
                            arguments: [
                                (
                                    name: "assignment",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("List all the registration assignments"),
                    options: [
                        (
                            names: [
                                "--include-definition",
                            ],
                            description: Some("When provided, gets the associated registration definition details"),
                            arguments: [
                                (
                                    name: "include-definition",
                                    suggestions: [
                                        (
                                            name: "false",
                                        ),
                                        (
                                            name: "true",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "show",
                    description: Some("Gets a registration assignment"),
                    options: [
                        (
                            names: [
                                "--assignment",
                            ],
                            description: Some("The identifier (guid) or the fully qualified resource id of the registration assignment. When resource id is used, subscription id and resource group parameters are ignored"),
                            arguments: [
                                (
                                    name: "assignment",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--include-definition",
                            ],
                            description: Some("When provided, gets the associated registration definition details"),
                            arguments: [
                                (
                                    name: "include-definition",
                                    suggestions: [
                                        (
                                            name: "false",
                                        ),
                                        (
                                            name: "true",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "definition",
            description: Some("Manage the registration definitions in Azure"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Creates a new registration definition"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("The name of the registration definition"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--principal-id",
                            ],
                            description: Some("The principal id"),
                            arguments: [
                                (
                                    name: "principal-id",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--role-definition-id",
                            ],
                            description: Some("The role definition id"),
                            arguments: [
                                (
                                    name: "role-definition-id",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--tenant-id",
                            ],
                            description: Some("The managed by tenant id"),
                            arguments: [
                                (
                                    name: "tenant-id",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--definition-id",
                            ],
                            description: Some("Can be used to override the generated registration definition id"),
                            arguments: [
                                (
                                    name: "definition-id",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--description",
                            ],
                            description: Some("The friendly description"),
                            arguments: [
                                (
                                    name: "description",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--plan-name",
                            ],
                            description: Some("The plan name"),
                            arguments: [
                                (
                                    name: "plan-name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--plan-product",
                            ],
                            description: Some("The plan product"),
                            arguments: [
                                (
                                    name: "plan-product",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--plan-publisher",
                            ],
                            description: Some("The plan publisher"),
                            arguments: [
                                (
                                    name: "plan-publisher",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--plan-version",
                            ],
                            description: Some("The plan version"),
                            arguments: [
                                (
                                    name: "plan-version",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("Deletes a registration"),
                    options: [
                        (
                            names: [
                                "--definition",
                            ],
                            description: Some("The identifier (guid) or the fully qualified resource id of the registration definition. When resource id is used, subscription id and resource group parameters are ignored"),
                            arguments: [
                                (
                                    name: "definition",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("List all the registration definitions under the default scope or under the subscription provided"),
                ),
                (
                    name: "show",
                    description: Some("Gets a registration definition"),
                    options: [
                        (
                            names: [
                                "--definition",
                            ],
                            description: Some("The identifier (guid) or the fully qualified resource id of the registration definition. When resource id is used, subscription id and resource group parameters are ignored"),
                            arguments: [
                                (
                                    name: "definition",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
            ],
        ),
    ],
)
