(
    version: 1,
    command: "next",
    description: Some("Recommend the possible next set of commands to take"),
    subcommands: [],
    options: [
        (
            names: [
                "--command",
                "-c",
            ],
            description: Some("Specify this parameter will only recommend commands"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--scenario",
                "-s",
            ],
            description: Some("Specify this parameter will only recommend E2E scenarios"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)