(
    version: 1,
    command: "next",
    description: Some("Recommend the possible next set of commands to take"),
    options: [
        (
            names: [
                "--command",
                "-c",
            ],
            description: Some("Specify this parameter will only recommend commands"),
        ),
        (
            names: [
                "--scenario",
                "-s",
            ],
            description: Some("Specify this parameter will only recommend E2E scenarios"),
        ),
    ],
)
