(
    version: 1,
    command: "portal",
    description: Some("Manage Portal"),
    subcommands: [
        (
            name: "dashboard",
            aliases: [],
            description: Some("Manage portal dashboards"),
            subcommands: [
                (
                    name: "create",
                    aliases: [],
                    description: Some("Creates or updates a dashboard"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--input-path",
                            ],
                            description: Some("The path to the dashboard properties JSON file"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "input-path",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the dashboard"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--location",
                                "-l",
                            ],
                            description: Some("Location. Values from: az account list-locations. You can configure the default location using az configure --defaults location=<location>"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "location",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--tags",
                            ],
                            description: Some("Space-separated tags: key[=value] [key[=value] ...]. Use \"\" to clear existing tags"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "tags",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Deletes a dashboard"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the dashboard"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "import",
                    aliases: [],
                    description: Some("Imports a dashboard from a JSON file"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--input-path",
                            ],
                            description: Some("The path to the dashboard json file"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "input-path",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the dashboard"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("Lists the dashboards within a subscription or resource group"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "show",
                    aliases: [],
                    description: Some("Gets details for a single dashboard"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the dashboard"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "update",
                    aliases: [],
                    description: Some("Updates an existing dashboard"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--input-path",
                            ],
                            description: Some("The path to the dashboard properties JSON file"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "input-path",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the dashboard"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)