(
    version: 1,
    command: "ppg",
    description: Some("Manage Proximity Placement Groups"),
    subcommands: [
        (
            name: "create",
            aliases: [],
            description: Some("Create a proximity placement group"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the proximity placement group"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--intent-vm-sizes",
                    ],
                    description: Some("Specify possible sizes of virtual machines that can be created in the proximity placement group"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "intent-vm-sizes",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--location",
                        "-l",
                    ],
                    description: Some("Location. Values from: az account list-locations. You can configure the default location using az configure --defaults location=<location>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "location",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--tags",
                    ],
                    description: Some("Space-separated tags: key[=value] [key[=value] ...]. Use \"\" to clear existing tags"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "tags",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--type",
                        "-t",
                    ],
                    description: Some("The type of the proximity placement group"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "type",
                            source: Static([
                                "Standard",
                                "Ultra",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--zone",
                        "-z",
                    ],
                    description: Some("Availability zone into which to provision the resource"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "zone",
                            source: Static([
                                "1",
                                "2",
                                "3",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "delete",
            aliases: [],
            description: Some("Delete a proximity placement group"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of \'Resource Id\' arguments. You should provide either --ids or other \'Resource Id\' arguments"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ids",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--proximity-placement-group-name",
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the proximity placement group"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "proximity-placement-group-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "subscription",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("List proximity placement groups"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "show",
            aliases: [],
            description: Some("Get a proximity placement group"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ids",
                    ],
                    description: Some("One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of \'Resource Id\' arguments. You should provide either --ids or other \'Resource Id\' arguments"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ids",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--include-colocation-status",
                    ],
                    description: Some("Enable fetching the colocation status of all the resources in the proximity placement group"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "include-colocation-status",
                            source: Static([
                                "False",
                                "True",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--proximity-placement-group-name",
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the proximity placement group"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "proximity-placement-group-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--subscription",
                    ],
                    description: Some("Name or ID of subscription. You can configure the default subscription using az account set -s NAME_OR_ID"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "subscription",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Update a proximity placement group"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the proximity placement group"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-group",
                        "-g",
                    ],
                    description: Some("Name of resource group. You can configure the default group using az configure --defaults group=<name>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-group",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--add",
                    ],
                    description: Some("Add an object to a list of objects by specifying a path and key value pairs. Example: --add property.listProperty <key=value, string or JSON string>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "add",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--force-string",
                    ],
                    description: Some("When using \'set\' or \'add\', preserve string literals instead of attempting to convert to JSON"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--include-colocation-status",
                    ],
                    description: Some("IncludeColocationStatus=true enables fetching the colocation status of all the resources in the proximity placement group. Default value is None"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "include-colocation-status",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--intent-vm-sizes",
                    ],
                    description: Some("Specify possible sizes of virtual machines that can be created in the proximity placement group"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "intent-vm-sizes",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--remove",
                    ],
                    description: Some("Remove a property or an element from a list. Example: --remove property.list OR --remove propertyToRemove"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "remove",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--set",
                    ],
                    description: Some("Update an object by specifying a property path and value to set. Example: --set property1.property2="),
                    takes_value: true,
                    arguments: [
                        (
                            name: "set",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--type",
                        "-t",
                    ],
                    description: Some("The type of the proximity placement group"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "type",
                            source: Static([
                                "Standard",
                                "Ultra",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)