(
    version: 1,
    command: "provider",
    description: Some("Manage resource providers"),
    subcommands: [
        (
            name: "list",
            aliases: [],
            description: Some("Gets all resource providers for a subscription"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--expand",
                    ],
                    description: Some("The properties to include in the results. For example, use &$expand=metadata in the query string to retrieve resource provider metadata. To include property aliases in response, use $expand=resourceTypes/aliases. Default value is None"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "expand",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "register",
            aliases: [],
            description: Some("Register a provider"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--namespace",
                        "-n",
                    ],
                    description: Some("The resource namespace, aka \'provider\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--consent-to-permissions",
                        "-c",
                    ],
                    description: Some("A value indicating whether authorization is consented or not"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--management-group-id",
                        "-m",
                    ],
                    description: Some("The management group id to register"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "management-group-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--wait",
                    ],
                    description: Some("Wait for the registration to finish"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "show",
            aliases: [],
            description: Some("Gets the specified resource provider"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--namespace",
                        "-n",
                    ],
                    description: Some("The resource namespace, aka \'provider\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--expand",
                    ],
                    description: Some("The $expand query parameter. For example, to include property aliases in response, use $expand=resourceTypes/aliases. Default value is None"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "expand",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "unregister",
            aliases: [],
            description: Some("Unregister a provider"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--namespace",
                        "-n",
                    ],
                    description: Some("The resource namespace, aka \'provider\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "namespace",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--wait",
                    ],
                    description: Some("Wait for unregistration to finish"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "operation",
            aliases: [],
            description: Some("Get provider operations metadatas"),
            subcommands: [
                (
                    name: "list",
                    aliases: [],
                    description: Some("Get operations from all providers"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "show",
                    aliases: [],
                    description: Some("Get an individual provider\'s operations"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--namespace",
                                "-n",
                            ],
                            description: Some("The resource namespace, aka \'provider\'"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "namespace",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "permission",
            aliases: [],
            description: Some("Manage permissions for a provider"),
            subcommands: [
                (
                    name: "list",
                    aliases: [],
                    description: Some("List permissions from a provider"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--namespace",
                                "-n",
                            ],
                            description: Some("The resource namespace, aka \'provider\'"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "namespace",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)