(
    version: 1,
    command: "quota",
    description: Some("Manage Azure Quota Extension API"),
    subcommands: [
        (
            name: "create",
            aliases: [],
            description: Some("Create the quota limit for the specified resource with the requested value"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-name",
                    ],
                    description: Some("The resource name for a given resource provider"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--scope",
                    ],
                    description: Some("The target Azure resource URI"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "scope",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--limit-object",
                    ],
                    description: Some("The resource quota limit value"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "limit-object",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-wait",
                    ],
                    description: Some("Do not wait for the long-running operation to finish"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--properties",
                    ],
                    description: Some("The additional properties for the specific resource provider"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "properties",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-type",
                    ],
                    description: Some("The resource type name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-type",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("Get a list of current quota limits of all resources for the specified scope. The response from this GET operation can be leveraged to submit requests to update a quota"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--scope",
                    ],
                    description: Some("The target Azure resource URI"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "scope",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "show",
            aliases: [],
            description: Some("Get the quota limit of a resource. The response can be used to determine the remaining quota to calculate a new quota limit that can be submitted with a PUT request"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-name",
                    ],
                    description: Some("The resource name for a given resource provider"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--scope",
                    ],
                    description: Some("The target Azure resource URI"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "scope",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Update the quota limit for a specific resource to the specified value"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-name",
                    ],
                    description: Some("The resource name for a given resource provider"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--scope",
                    ],
                    description: Some("The target Azure resource URI"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "scope",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--limit-object",
                    ],
                    description: Some("The resource quota limit value"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "limit-object",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-wait",
                    ],
                    description: Some("Do not wait for the long-running operation to finish"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--properties",
                    ],
                    description: Some("The additional properties for the specific resource provider"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "properties",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-type",
                    ],
                    description: Some("Resource type name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-type",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "wait",
            aliases: [],
            description: Some("Place the CLI in a waiting state until a condition of the quota is met"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-name",
                    ],
                    description: Some("The resource name for a given resource provider"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--scope",
                    ],
                    description: Some("The target Azure resource URI"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "scope",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--created",
                    ],
                    description: Some("Wait until created with \'provisioningState\' at \'Succeeded\'"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--custom",
                    ],
                    description: Some("Wait until the condition satisfies a custom JMESPath query. E.g. provisioningState!=\'InProgress\', instanceView.statuses[?code==\'PowerState/running\']"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "custom",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--deleted",
                    ],
                    description: Some("Wait until deleted"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--exists",
                    ],
                    description: Some("Wait until the resource exists"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--interval",
                    ],
                    description: Some("Polling interval in seconds"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "interval",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--timeout",
                    ],
                    description: Some("Maximum wait in seconds"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "timeout",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--updated",
                    ],
                    description: Some("Wait until updated with provisioningState at \'Succeeded\'"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "operation",
            aliases: [],
            description: Some("Manage quota operation with quota"),
            subcommands: [
                (
                    name: "list",
                    aliases: [],
                    description: Some("List all the operations supported by the Microsoft.Quota resource provider"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "request",
            aliases: [],
            description: Some("Manage quota request with quota"),
            subcommands: [
                (
                    name: "status",
                    aliases: [],
                    description: Some("Manage quota request status with quota"),
                    subcommands: [
                        (
                            name: "list",
                            aliases: [],
                            description: Some("For the specified scope, get the current quota requests for a one year period ending at the time is made. Use the oData filter to select quota requests"),
                            subcommands: [],
                            options: [
                                (
                                    names: [
                                        "--scope",
                                    ],
                                    description: Some("The target Azure resource URI"),
                                    takes_value: true,
                                    arguments: [
                                        (
                                            name: "scope",
                                            source: Files,
                                            optional: false,
                                            variadic: false,
                                            imported_generator: None,
                                        ),
                                    ],
                                ),
                                (
                                    names: [
                                        "--filter",
                                    ],
                                    description: Some("The filter that is applied to packet capture request. Multiple filters can be applied"),
                                    takes_value: true,
                                    arguments: [
                                        (
                                            name: "filter",
                                            source: Files,
                                            optional: false,
                                            variadic: false,
                                            imported_generator: None,
                                        ),
                                    ],
                                ),
                                (
                                    names: [
                                        "--skip-token",
                                    ],
                                    description: Some("SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls"),
                                    takes_value: true,
                                    arguments: [
                                        (
                                            name: "skip-token",
                                            source: Files,
                                            optional: false,
                                            variadic: false,
                                            imported_generator: None,
                                        ),
                                    ],
                                ),
                                (
                                    names: [
                                        "--top",
                                    ],
                                    description: Some("Number of records to return"),
                                    takes_value: true,
                                    arguments: [
                                        (
                                            name: "top",
                                            source: Files,
                                            optional: false,
                                            variadic: false,
                                            imported_generator: None,
                                        ),
                                    ],
                                ),
                            ],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "show",
                            aliases: [],
                            description: Some("Get the quota request details and status by quota request ID for the resources of the resource provider at a specific location. The quota request ID id is returned in the response of the PUT operation"),
                            subcommands: [],
                            options: [
                                (
                                    names: [
                                        "--name",
                                    ],
                                    description: Some("Quota request ID"),
                                    takes_value: true,
                                    arguments: [
                                        (
                                            name: "name",
                                            source: Files,
                                            optional: false,
                                            variadic: false,
                                            imported_generator: None,
                                        ),
                                    ],
                                ),
                                (
                                    names: [
                                        "--scope",
                                    ],
                                    description: Some("The target Azure resource URI"),
                                    takes_value: true,
                                    arguments: [
                                        (
                                            name: "scope",
                                            source: Files,
                                            optional: false,
                                            variadic: false,
                                            imported_generator: None,
                                        ),
                                    ],
                                ),
                            ],
                            arguments: [],
                            load_spec: None,
                        ),
                    ],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "usage",
            aliases: [],
            description: Some("Manage usage with quota"),
            subcommands: [
                (
                    name: "list",
                    aliases: [],
                    description: Some("Get a list of current usage for all resources for the scope specified"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--scope",
                            ],
                            description: Some("The target Azure resource URI"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "scope",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "show",
                    aliases: [],
                    description: Some("Get the current usage of a resource"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--resource-name",
                            ],
                            description: Some("The resource name for a given resource provider"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--scope",
                            ],
                            description: Some("The target Azure resource URI"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "scope",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)