(
    version: 1,
    command: "resourcemanagement",
    description: Some("Resourcemanagement CLI command group"),
    subcommands: [
        (
            name: "private-link",
            description: Some("Resourcemanagement private-link management on a resource"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create a resource management group private link"),
                    options: [
                        (
                            names: [
                                "--location",
                                "-l",
                            ],
                            description: Some("The region to create the resource management private link"),
                            arguments: [
                                (
                                    name: "location",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource management private link"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("Delete a resource management private link"),
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource management private link"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation"),
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("Get all the resource management private links at scope"),
                    options: [
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "show",
                    description: Some("Get resource management private"),
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource management private link"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                            required: true,
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            arguments: [
                                (
                                    name: "resource-group",
                                ),
                            ],
                            required: true,
                        ),
                    ],
                ),
            ],
        ),
    ],
)
