(
    version: 1,
    command: "resourcemanagement",
    description: Some("Resourcemanagement CLI command group"),
    subcommands: [
        (
            name: "private-link",
            aliases: [],
            description: Some("Resourcemanagement private-link management on a resource"),
            subcommands: [
                (
                    name: "create",
                    aliases: [],
                    description: Some("Create a resource management group private link"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--location",
                                "-l",
                            ],
                            description: Some("The region to create the resource management private link"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "location",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource management private link"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete a resource management private link"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource management private link"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--yes",
                                "-y",
                            ],
                            description: Some("Do not prompt for confirmation"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("Get all the resource management private links at scope"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "show",
                    aliases: [],
                    description: Some("Get resource management private"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--name",
                                "-n",
                            ],
                            description: Some("The name of the resource management private link"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--resource-group",
                                "-g",
                            ],
                            description: Some("The name of the resource group"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "resource-group",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)