(
    version: 1,
    command: "scenario",
    description: Some("E2E Scenario Usage Guidance"),
    subcommands: [
        (
            name: "guide",
            aliases: [],
            description: Some("Fuzzy search E2E scenario examples and execute them with walk-through"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--match-rule",
                    ],
                    description: Some("The matching rules for multi-keywords: \"and\" is to search scenarios that match all keywords, \"or\" is to search scenarios that match any keyword, \"all\" is to search scenarios that match all keywords first, if the number is not enough then search any keyword"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "match-rule",
                            source: Static([
                                "all",
                                "and",
                                "or",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--scope",
                    ],
                    description: Some("The scope of search: \"scenario\" is to search whether the title and description in E2E scenario data contain keywords, \"command\" is to search whether the commands in E2E scenario data contain keywords, \"all\" is to search all contents"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "scope",
                            source: Static([
                                "all",
                                "command",
                                "scenario",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--top",
                    ],
                    description: Some("Specify the number of results to return. The maximum value is limited to 20"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "top",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "<SEARCH_KEYWORD>",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)