(
    version: 1,
    command: "self-help",
    description: Some("Azure SelfHelp will help you troubleshoot issues with Azure resources"),
    subcommands: [
        (
            name: "check-name-availability",
            aliases: [],
            description: Some("This API is used to check the uniqueness of a resource name used for a diagnostic check"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--scope",
                    ],
                    description: Some("This is an extension resource provider and only resource level extension is supported at the moment"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "scope",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                    ],
                    description: Some("The name of the resource for which availability needs to be checked"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--type",
                    ],
                    description: Some("The resource type"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "type",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "diagnostic",
            aliases: [],
            description: Some("Diagnostic command will help you create diagnostics for azure resources"),
            subcommands: [
                (
                    name: "create",
                    aliases: [],
                    description: Some("Creates a diagnostics that will help you troubleshoot an issue with your azure resource"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--diagnostic-name",
                            ],
                            description: Some("Unique resource name for diagnostic proxy resources"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "diagnostic-name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--scope",
                            ],
                            description: Some("This is an extension resource provider and only resource level extension is supported at the moment"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "scope",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--global-parameters",
                            ],
                            description: Some("Global parameters that can be passed to all solutionIds. Support shorthand-syntax, json-file and yaml-file. Try \"??\" to show more"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "global-parameters",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--insights",
                            ],
                            description: Some("SolutionIds that are needed to be invoked. Support shorthand-syntax, json-file and yaml-file. Try \"??\" to show more"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "insights",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--no-wait",
                            ],
                            description: Some("Do not wait for the long-running operation to finish"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "no-wait",
                                    source: Static([
                                        "0",
                                        "1",
                                        "f",
                                        "false",
                                        "n",
                                        "no",
                                        "t",
                                        "true",
                                        "y",
                                        "yes",
                                    ]),
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "show",
                    aliases: [],
                    description: Some("Get the diagnostics using the \'diagnosticsResourceName\' you chose while creating the diagnostic"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--diagnostic-name",
                            ],
                            description: Some("Unique resource name for diagnostic proxy resources"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "diagnostic-name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--scope",
                            ],
                            description: Some("This is an extension resource provider and only resource level extension is supported at the moment"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "scope",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "wait",
                    aliases: [],
                    description: Some("Place the CLI in a waiting state until a condition is met"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--diagnostic-name",
                            ],
                            description: Some("Unique resource name for diagnostic proxy resources"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "diagnostic-name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--scope",
                            ],
                            description: Some("This is an extension resource provider and only resource level extension is supported at the moment"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "scope",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--created",
                            ],
                            description: Some("Wait until created with \'provisioningState\' at \'Succeeded\'"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "--custom",
                            ],
                            description: Some("Wait until the condition satisfies a custom JMESPath query. E.g. provisioningState!=\'InProgress\', instanceView.statuses[?code==\'PowerState/running\']"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "custom",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--deleted",
                            ],
                            description: Some("Wait until deleted"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "--exists",
                            ],
                            description: Some("Wait until the resource exists"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "--interval",
                            ],
                            description: Some("Polling interval in seconds"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "interval",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--timeout",
                            ],
                            description: Some("Maximum wait in seconds"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "timeout",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--updated",
                            ],
                            description: Some("Wait until updated with provisioningState at \'Succeeded\'"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "discovery-solution",
            aliases: [],
            description: Some("Discovery-solution command will help you discover available solutions based on your resource type and problem classification Id"),
            subcommands: [
                (
                    name: "list",
                    aliases: [],
                    description: Some("List the existing available solutions for the problemClassificationId or the resourceUri for the Azure resource"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--scope",
                            ],
                            description: Some("This is an extension resource provider and only resource level extension is supported at the moment"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "scope",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--filter",
                            ],
                            description: Some("Can be used to filter solutionIds by \'ProblemClassificationId\'. The filter supports only \'and\' and \'eq\' operators. Example: $filter=ProblemClassificationId eq \'1ddda5b4-cf6c-4d4f-91ad-bc38ab0e811e\' and ProblemClassificationId eq \'0a9673c2-7af6-4e19-90d3-4ee2461076d9\'"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "filter",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--skiptoken",
                            ],
                            description: Some("Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "skiptoken",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)