(
    version: 1,
    command: "tag",
    description: Some("Tag Management on a resource"),
    subcommands: [
        (
            name: "add-value",
            aliases: [],
            description: Some("Create a tag value"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The tag name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--value",
                    ],
                    description: Some("The tag value"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "value",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "create",
            aliases: [],
            description: Some("Create tags on a specific resource"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the tag to create"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-id",
                    ],
                    description: Some("The resource identifier for the entity being tagged. A resource, a resource group or a subscription may be tagged"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--tags",
                    ],
                    description: Some("The tags to be applied on the resource"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "tags",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "delete",
            aliases: [],
            description: Some("Delete tags on a specific resource"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the tag to be deleted"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-id",
                    ],
                    description: Some("The resource identifier for the entity being tagged. A resource, a resource group or a subscription may be tagged"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Do not prompt for confirmation"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("List the entire set of tags on a specific resource"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--resource-id",
                    ],
                    description: Some("The resource identifier for the entity being tagged. A resource, a resource group or a subscription may be tagged"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "remove-value",
            aliases: [],
            description: Some("Deletes a predefined tag value for a predefined tag name"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The tag name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--value",
                    ],
                    description: Some("The tag value"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "value",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Selectively update the set of tags on a specific resource"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--operation",
                    ],
                    description: Some("The update operation. Options are Merge, Replace and Delete"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "operation",
                            source: Static([
                                "Delete",
                                "Merge",
                                "Replace",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-id",
                    ],
                    description: Some("The resource identifier for the entity being tagged. A resource, a resource group or a subscription may be tagged"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "resource-id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--tags",
                    ],
                    description: Some("The tags to be updated on the resource"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "tags",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)