(
    version: 1,
    command: "tag",
    description: Some("Tag Management on a resource"),
    subcommands: [
        (
            name: "add-value",
            description: Some("Create a tag value"),
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The tag name"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--value",
                    ],
                    description: Some("The tag value"),
                    arguments: [
                        (
                            name: "value",
                        ),
                    ],
                    required: true,
                ),
            ],
        ),
        (
            name: "create",
            description: Some("Create tags on a specific resource"),
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the tag to create"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-id",
                    ],
                    description: Some("The resource identifier for the entity being tagged. A resource, a resource group or a subscription may be tagged"),
                    arguments: [
                        (
                            name: "resource-id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--tags",
                    ],
                    description: Some("The tags to be applied on the resource"),
                    arguments: [
                        (
                            name: "tags",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "delete",
            description: Some("Delete tags on a specific resource"),
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The name of the tag to be deleted"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--resource-id",
                    ],
                    description: Some("The resource identifier for the entity being tagged. A resource, a resource group or a subscription may be tagged"),
                    arguments: [
                        (
                            name: "resource-id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Do not prompt for confirmation"),
                ),
            ],
        ),
        (
            name: "list",
            description: Some("List the entire set of tags on a specific resource"),
            options: [
                (
                    names: [
                        "--resource-id",
                    ],
                    description: Some("The resource identifier for the entity being tagged. A resource, a resource group or a subscription may be tagged"),
                    arguments: [
                        (
                            name: "resource-id",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "remove-value",
            description: Some("Deletes a predefined tag value for a predefined tag name"),
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("The tag name"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--value",
                    ],
                    description: Some("The tag value"),
                    arguments: [
                        (
                            name: "value",
                        ),
                    ],
                    required: true,
                ),
            ],
        ),
        (
            name: "update",
            description: Some("Selectively update the set of tags on a specific resource"),
            options: [
                (
                    names: [
                        "--operation",
                    ],
                    description: Some("The update operation. Options are Merge, Replace and Delete"),
                    arguments: [
                        (
                            name: "operation",
                            suggestions: [
                                (
                                    name: "Delete",
                                ),
                                (
                                    name: "Merge",
                                ),
                                (
                                    name: "Replace",
                                ),
                            ],
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--resource-id",
                    ],
                    description: Some("The resource identifier for the entity being tagged. A resource, a resource group or a subscription may be tagged"),
                    arguments: [
                        (
                            name: "resource-id",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--tags",
                    ],
                    description: Some("The tags to be updated on the resource"),
                    arguments: [
                        (
                            name: "tags",
                        ),
                    ],
                    required: true,
                ),
            ],
        ),
    ],
)
