(
    version: 1,
    command: "term",
    description: Some("Manage marketplace agreement with marketplaceordering"),
    subcommands: [
        (
            name: "accept",
            aliases: [],
            description: Some("Accept marketplace terms"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--plan",
                    ],
                    description: Some("Plan identifier string of image being deployed"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "plan",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--product",
                    ],
                    description: Some("Offer identifier string of image being deployed"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "product",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--publisher",
                    ],
                    description: Some("Publisher identifier string of image being deployed"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "publisher",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "show",
            aliases: [],
            description: Some("Get marketplace terms"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--plan",
                    ],
                    description: Some("Plan identifier string of image being deployed"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "plan",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--product",
                    ],
                    description: Some("Offeridentifier string of image being deployed"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "product",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--publisher",
                    ],
                    description: Some("Publisher identifier string of image being deployed"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "publisher",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)