(
    version: 1,
    command: "upgrade",
    description: Some("Upgrade Azure CLI and extensions"),
    subcommands: [],
    options: [
        (
            names: [
                "--all",
            ],
            description: Some("Enable updating extensions as well"),
            takes_value: true,
            arguments: [
                (
                    name: "all",
                    source: Static([
                        "false",
                        "true",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--yes",
                "-y",
            ],
            description: Some("Do not prompt for checking release notes"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)