(
    version: 1,
    command: "@wordpress/create-block",
    description: Some("Generates PHP, JS and CSS code for registering a WordPress plugin with blocks"),
    options: [
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
        ),
        (
            names: [
                "-t",
                "--template",
            ],
            description: Some("Project template type name"),
            arguments: [
                (
                    name: "name",
                    suggestions: [
                        (
                            name: "standard",
                        ),
                        (
                            name: "es5",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--namespace",
            ],
            description: Some("Internal namespace for the block name"),
            arguments: [
                (
                    name: "value",
                ),
            ],
        ),
        (
            names: [
                "--title",
            ],
            description: Some("Display title for the block and the WordPress plugin"),
            arguments: [
                (
                    name: "value",
                ),
            ],
        ),
        (
            names: [
                "--short-description",
            ],
            description: Some("Short description for the block and the WordPress plugin"),
            arguments: [
                (
                    name: "value",
                ),
            ],
        ),
        (
            names: [
                "--category",
            ],
            description: Some("Category name for the block"),
            arguments: [
                (
                    name: "name",
                ),
            ],
        ),
        (
            names: [
                "--wp-scripts",
            ],
            description: Some("Enable integration with `@wordpress/scripts` package"),
        ),
        (
            names: [
                "--no-wp-scripts",
            ],
            description: Some("Disable integration with `@wordpress/scripts` package"),
        ),
        (
            names: [
                "--wp-env",
            ],
            description: Some("Enable integration with `@wordpress/env` package"),
        ),
        (
            names: [
                "--no-plugin",
            ],
            description: Some("Scaffold only block files"),
        ),
        (
            names: [
                "--variant",
            ],
            description: Some("The variant of the template to use"),
            arguments: [
                (
                    name: "variant",
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
        ),
    ],
    arguments: [
        (
            name: "slug",
            description: Some("The block slug used for identification, output location, and plugin name"),
            optional: true,
        ),
    ],
)
