(
    version: 1,
    command: "@wordpress/create-block",
    description: Some("Generates PHP, JS and CSS code for registering a WordPress plugin with blocks"),
    subcommands: [],
    options: [
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-t",
                "--template",
            ],
            description: Some("Project template type name"),
            takes_value: true,
            arguments: [
                (
                    name: "name",
                    source: Static([
                        "standard",
                        "es5",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--namespace",
            ],
            description: Some("Internal namespace for the block name"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--title",
            ],
            description: Some("Display title for the block and the WordPress plugin"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--short-description",
            ],
            description: Some("Short description for the block and the WordPress plugin"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--category",
            ],
            description: Some("Category name for the block"),
            takes_value: true,
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--wp-scripts",
            ],
            description: Some("Enable integration with `@wordpress/scripts` package"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-wp-scripts",
            ],
            description: Some("Disable integration with `@wordpress/scripts` package"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--wp-env",
            ],
            description: Some("Enable integration with `@wordpress/env` package"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-plugin",
            ],
            description: Some("Scaffold only block files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--variant",
            ],
            description: Some("The variant of the template to use"),
            takes_value: true,
            arguments: [
                (
                    name: "variant",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "slug",
            source: Files,
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
    ],
)