(
    version: 1,
    command: "format",
    description: Some("Dotnet format is a code formatter that applies style preferences to a project or solution. Preferences will be read from an .editorconfig file, if present, otherwise a default set of preferences will be used"),
    options: [
        (
            names: [
                "--diagnostics",
            ],
            description: Some("A space-separated list of diagnostic IDs to use as a filter when fixing code style or third party issues. Default value is whichever IDs are listed in the editorconfig file"),
            arguments: [
                (
                    name: "diagnostics",
                ),
            ],
        ),
        (
            names: [
                "--severity",
            ],
            description: Some("The minimum severity of diagnostics to fix. Allowed values are info, warn, and error. The default value is warn"),
            arguments: [
                (
                    name: "severity",
                    suggestions: [
                        (
                            name: "info",
                        ),
                        (
                            name: "warn",
                        ),
                        (
                            name: "error",
                        ),
                    ],
                    optional: true,
                    default: Some("warn"),
                ),
            ],
        ),
        (
            names: [
                "--no-restore",
            ],
            description: Some("Doesn't execute an implicit restore before formatting. Default is to do implicit restore"),
        ),
        (
            names: [
                "--verify-no-changes",
            ],
            description: Some("Verifies that no formatting changes would be performed. Terminates with a non zero exit code if any files would have been formatted"),
        ),
        (
            names: [
                "--include",
            ],
            description: Some("A space-separated list of relative file or folder paths to include in formatting. All files in the solution or project are formatted if empty"),
            arguments: [
                (
                    name: "paths",
                    template: [
                        Folders,
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--exclude",
            ],
            description: Some("A space-separated list of relative file or folder paths to exclude from formatting. The default is none"),
            arguments: [
                (
                    name: "paths",
                    template: [
                        Folders,
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--include-generated",
            ],
            description: Some("Formats files generated by the SDK"),
        ),
        (
            names: [
                "-v",
                "--verbosity",
            ],
            description: Some("Sets the verbosity level of the command. Allowed values are q[uiet], m[inimal], n[ormal], d[etailed], and diag[nostic]. Not supported in every command. See specific command page to determine if this option is available"),
            arguments: [
                (
                    name: "verbosity",
                    suggestions: [
                        (
                            name: "quiet",
                        ),
                        (
                            name: "minimal",
                        ),
                        (
                            name: "normal",
                        ),
                        (
                            name: "detailed",
                        ),
                        (
                            name: "diagnostic",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--binarylog",
            ],
            description: Some("Logs all project or solution load information to a binary log file"),
            arguments: [
                (
                    name: "log",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--report",
            ],
            description: Some("Produces a JSON report in the directory specified by <REPORT_PATH>"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "project",
            description: Some("The MSBuild project or solution to run code formatting on. If a project or solution file is not specified, MSBuild searches the current working directory for a file that has a file extension that ends in proj or sln, and uses that file"),
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
            optional: true,
        ),
    ],
)
