(
    version: 1,
    command: "store",
    description: Some("Dotnet store stores the specified assemblies in the runtime package store. By default, assemblies are optimized for the target runtime and framework. For more information, see the runtime package store topic"),
    options: [
        (
            names: [
                "-f",
                "--framework",
            ],
            description: Some("Specifies the target framework. The target framework has to be specified in the project file"),
            arguments: [
                (
                    name: "framework",
                ),
            ],
            required: true,
        ),
        (
            names: [
                "-m",
                "--manifest",
            ],
            description: Some("The package store manifest file is an XML file that contains the list of packages to store. The format of the manifest file is compatible with the SDK-style project format. So, a project file that references the desired packages can be used with the -m|--manifest option to store assemblies in the runtime package store"),
            arguments: [
                (
                    name: "manifest",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
            required: true,
            repeat: Many,
        ),
        (
            names: [
                "-r",
                "--runtime",
            ],
            description: Some("The runtime identifier to target"),
            arguments: [
                (
                    name: "runtime",
                ),
            ],
            required: true,
        ),
        (
            names: [
                "--framework-version",
            ],
            description: Some("Specifies the .NET SDK version. This option enables you to select a specific framework version beyond the framework specified by the -f|--framework option"),
            arguments: [
                (
                    name: "version",
                ),
            ],
        ),
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Specifies the path to the runtime package store. If not specified, it defaults to the store subdirectory of the user profile .NET installation directory"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--skip-optimization",
            ],
            description: Some("Skips the optimization phase"),
        ),
        (
            names: [
                "--skip-symbols",
            ],
            description: Some("Skips symbol generation. Currently, you can only generate symbols on Windows and Linux"),
        ),
        (
            names: [
                "-v",
                "--verbosity",
            ],
            description: Some("Sets the verbosity level of the command. Allowed values are q[uiet], m[inimal], n[ormal], d[etailed], and diag[nostic]. For more information, see LoggerVerbosity"),
            arguments: [
                (
                    name: "verbosity",
                    suggestions: [
                        (
                            name: "quiet",
                        ),
                        (
                            name: "minimal",
                        ),
                        (
                            name: "normal",
                        ),
                        (
                            name: "detailed",
                        ),
                        (
                            name: "diagnostic",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-w",
                "--working-dir",
            ],
            description: Some("The working directory used by the command. If not specified, it uses the obj subdirectory of the current directory"),
            arguments: [
                (
                    name: "directory",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
    ],
)
