(
    version: 1,
    command: "build-server",
    description: Some("Interacts with servers started by a build"),
    subcommands: [
        (
            name: "shutdown",
            aliases: [],
            description: Some("Shuts down build servers that are started from dotnet. By default, all servers are shut down"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--msbuild",
                    ],
                    description: Some("Shuts down the MSBuild build server"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--razor",
                    ],
                    description: Some("Shuts down the Razor build server"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--vbcscompiler",
                    ],
                    description: Some("Shuts down the VB/C# compiler build server"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)