(
    version: 1,
    command: "restore",
    description: Some("The dotnet restore command uses NuGet to restore dependencies as well as project-specific tools that are specified in the project file"),
    options: [
        (
            names: [
                "--configfile",
            ],
            description: Some("The NuGet configuration file (nuget.config) to use. If specified, only the settings from this file will be used. If not specified, the hierarchy of configuration files from the current directory will be used"),
            arguments: [
                (
                    name: "file",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--disable-parallel",
            ],
            description: Some("Disables restoring multiple projects in parallel"),
        ),
        (
            names: [
                "--force",
            ],
            description: Some("Forces all dependencies to be resolved even if the last restore was successful. Specifying this flag is the same as deleting the project.assets.json file"),
        ),
        (
            names: [
                "-force-evaluate",
            ],
            description: Some("Forces restore to reevaluate all dependencies even if a lock file already exists"),
        ),
        (
            names: [
                "--ignore-failed-sources",
            ],
            description: Some("Only warn about failed sources if there are packages meeting the version requirement"),
        ),
        (
            names: [
                "--interactive",
            ],
            description: Some("Allows the command to stop and wait for user input or action. For example, to complete authentication"),
        ),
        (
            names: [
                "--lock-file-path",
            ],
            description: Some("Output location where project lock file is written. By default, this is PROJECT_ROOTpackages.lock.json"),
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--locked-mode",
            ],
            description: Some("Don't allow updating project lock file"),
        ),
        (
            names: [
                "--no-cache",
            ],
            description: Some("Specifies to not cache HTTP requests"),
        ),
        (
            names: [
                "--no-dependencies",
            ],
            description: Some("When restoring a project with project-to-project (P2P) references, restores the root project and not the references"),
        ),
        (
            names: [
                "--packages",
            ],
            description: Some("Specifies the directory for restored packages"),
            arguments: [
                (
                    name: "directory",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--runtime",
            ],
            description: Some("Specifies a runtime for the package restore. This is used to restore packages for runtimes not explicitly listed in the <RuntimeIdentifiers> tag in the .csproj file"),
            arguments: [
                (
                    name: "runtime",
                ),
            ],
        ),
        (
            names: [
                "-s",
                "--source",
            ],
            description: Some("Specifies the URI of the NuGet package source to use during the restore operation. This setting overrides all of the sources specified in the nuget.config files. Multiple sources can be provided by specifying this option multiple times"),
            arguments: [
                (
                    name: "source",
                ),
            ],
        ),
        (
            names: [
                "--use-lock-file",
            ],
            description: Some("Enables project lock file to be generated and used with restore"),
        ),
        (
            names: [
                "-v",
                "--verbosity",
            ],
            description: Some("Sets the verbosity level of the command. Allowed values are q[uiet], m[inimal], n[ormal], d[etailed], and diag[nostic]. The default is minimal. For more information, see LoggerVerbosity"),
            arguments: [
                (
                    name: "verbosity",
                    suggestions: [
                        (
                            name: "quiet",
                        ),
                        (
                            name: "minimal",
                        ),
                        (
                            name: "normal",
                        ),
                        (
                            name: "detailed",
                        ),
                        (
                            name: "diagnostic",
                        ),
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "root",
            description: Some("Optional path to the project file to restore"),
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
            optional: true,
        ),
    ],
)
