(
    version: 1,
    command: "add",
    description: None,
    subcommands: [
        (
            name: "package",
            aliases: [],
            description: Some("The package reference to add"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-f",
                        "--framework",
                    ],
                    description: Some("Adds a package reference only when targeting a specific framework"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "framework",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--interactive",
                    ],
                    description: Some("Allows the command to stop and wait for user input or action. For example, to complete authentication"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-n",
                        "--no-restore",
                    ],
                    description: Some("Adds a package reference without performing a restore preview and compatibility check"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--package-directory",
                    ],
                    description: Some("The directory where to restore the packages. The default package restore location is %userprofile%.nugetpackages on Windows and ~/.nuget/packages on macOS and Linux"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "directory",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--prerelease",
                    ],
                    description: Some("Allows prerelease packages to be installed. Available since .NET Core 5 SDK"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-s",
                        "--source",
                    ],
                    description: Some("The URI of the NuGet package source to use during the restore operation"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Version of the package"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "version",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: true,
                                has_custom: true,
                            )),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: true,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "reference",
            aliases: [],
            description: Some("The dotnet add reference command provides a convenient option to add project references to a project. After running the command, the <ProjectReference> elements are added to the project file"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-f",
                        "--framework",
                    ],
                    description: Some("Adds a package reference only when targeting a specific framework"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "framework",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "path",
                    source: Unavailable,
                    optional: false,
                    variadic: true,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [
        (
            name: "project",
            source: Unavailable,
            optional: true,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: true,
            )),
        ),
    ],
)