(
    version: 1,
    command: "clean",
    description: Some("The dotnet clean command cleans the output of the previous build. It's implemented as an MSBuild target, so the project is evaluated when the command is run. Only the outputs created during the build are cleaned. Both intermediate (obj) and final output (bin) folders are cleaned"),
    options: [
        (
            names: [
                "-c",
                "--configuration",
            ],
            description: Some("Defines the build configuration. The default for most projects is Debug, but you can override the build configuration settings in your project. This option is only required when cleaning if you specified it during build time"),
            arguments: [
                (
                    name: "configuration",
                    suggestions: [
                        (
                            name: "Debug",
                        ),
                        (
                            name: "Release",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--framework",
            ],
            description: Some("The framework that was specified at build time. The framework must be defined in the project file. If you specified the framework at build time, you must specify the framework when cleaning"),
            arguments: [
                (
                    name: "framework",
                ),
            ],
        ),
        (
            names: [
                "--interactive",
            ],
            description: Some("Allows the command to stop and wait for user input or action. For example, to complete authentication. Available since .NET Core 3.0 SDK"),
        ),
        (
            names: [
                "--nologo",
            ],
            description: Some("Doesn't display the startup banner or the copyright message. Available since .NET Core 3.0 SDK"),
        ),
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("The directory that contains the build artifacts to clean. Specify the -f|--framework <FRAMEWORK> switch with the output directory switch if you specified the framework when the project was built"),
            arguments: [
                (
                    name: "directory",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--runtime",
            ],
            description: Some("Cleans the output folder of the specified runtime. This is used when a self-contained deployment was created"),
        ),
        (
            names: [
                "-v",
                "--verbosity",
            ],
            description: Some("Sets the verbosity level of the command. Allowed values are q[uiet], m[inimal], n[ormal], d[etailed], and diag[nostic]. Not supported in every command. See specific command page to determine if this option is available"),
            arguments: [
                (
                    name: "verbosity",
                    suggestions: [
                        (
                            name: "quiet",
                        ),
                        (
                            name: "minimal",
                        ),
                        (
                            name: "normal",
                        ),
                        (
                            name: "detailed",
                        ),
                        (
                            name: "diagnostic",
                        ),
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "project",
            description: Some("The MSBuild project or solution to clean. If a project or solution file is not specified, MSBuild searches the current working directory for a file that has a file extension that ends in proj or sln, and uses that file"),
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
            optional: true,
        ),
    ],
)
