(
    version: 1,
    command: "add",
    subcommands: [
        (
            name: "package",
            description: Some("The package reference to add"),
            options: [
                (
                    names: [
                        "-f",
                        "--framework",
                    ],
                    description: Some("Adds a package reference only when targeting a specific framework"),
                    arguments: [
                        (
                            name: "framework",
                        ),
                    ],
                ),
                (
                    names: [
                        "--interactive",
                    ],
                    description: Some("Allows the command to stop and wait for user input or action. For example, to complete authentication"),
                ),
                (
                    names: [
                        "-n",
                        "--no-restore",
                    ],
                    description: Some("Adds a package reference without performing a restore preview and compatibility check"),
                ),
                (
                    names: [
                        "--package-directory",
                    ],
                    description: Some("The directory where to restore the packages. The default package restore location is %userprofile%.nugetpackages on Windows and ~/.nuget/packages on macOS and Linux"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--prerelease",
                    ],
                    description: Some("Allows prerelease packages to be installed. Available since .NET Core 5 SDK"),
                ),
                (
                    names: [
                        "-s",
                        "--source",
                    ],
                    description: Some("The URI of the NuGet package source to use during the restore operation"),
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Version of the package"),
                    arguments: [
                        (
                            name: "version",
                            generators: [
                                (
                                    has_dynamic_script: true,
                                    has_post_process: true,
                                ),
                            ],
                            debounce: true,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "id",
                    generators: [
                        (
                            has_dynamic_script: true,
                            has_post_process: true,
                        ),
                    ],
                    debounce: true,
                ),
            ],
        ),
        (
            name: "reference",
            description: Some("The dotnet add reference command provides a convenient option to add project references to a project. After running the command, the <ProjectReference> elements are added to the project file"),
            options: [
                (
                    names: [
                        "-f",
                        "--framework",
                    ],
                    description: Some("Adds a package reference only when targeting a specific framework"),
                    arguments: [
                        (
                            name: "framework",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "path",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                    variadic: true,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "project",
            description: Some("Specifies the project file. If not specified, the command searches the current directory for one"),
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
            optional: true,
        ),
    ],
)
