(
    version: 1,
    command: "format",
    description: Some("Dotnet format is a code formatter that applies style preferences to a project or solution. Preferences will be read from an .editorconfig file, if present, otherwise a default set of preferences will be used"),
    subcommands: [],
    options: [
        (
            names: [
                "--diagnostics",
            ],
            description: Some("A space-separated list of diagnostic IDs to use as a filter when fixing code style or third party issues. Default value is whichever IDs are listed in the editorconfig file"),
            takes_value: true,
            arguments: [
                (
                    name: "diagnostics",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--severity",
            ],
            description: Some("The minimum severity of diagnostics to fix. Allowed values are info, warn, and error. The default value is warn"),
            takes_value: true,
            arguments: [
                (
                    name: "severity",
                    source: Static([
                        "info",
                        "warn",
                        "error",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-restore",
            ],
            description: Some("Doesn\'t execute an implicit restore before formatting. Default is to do implicit restore"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--verify-no-changes",
            ],
            description: Some("Verifies that no formatting changes would be performed. Terminates with a non zero exit code if any files would have been formatted"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--include",
            ],
            description: Some("A space-separated list of relative file or folder paths to include in formatting. All files in the solution or project are formatted if empty"),
            takes_value: true,
            arguments: [
                (
                    name: "paths",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--exclude",
            ],
            description: Some("A space-separated list of relative file or folder paths to exclude from formatting. The default is none"),
            takes_value: true,
            arguments: [
                (
                    name: "paths",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--include-generated",
            ],
            description: Some("Formats files generated by the SDK"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--verbosity",
            ],
            description: Some("Sets the verbosity level of the command. Allowed values are q[uiet], m[inimal], n[ormal], d[etailed], and diag[nostic]. Not supported in every command. See specific command page to determine if this option is available"),
            takes_value: true,
            arguments: [
                (
                    name: "verbosity",
                    source: Static([
                        "quiet",
                        "minimal",
                        "normal",
                        "detailed",
                        "diagnostic",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--binarylog",
            ],
            description: Some("Logs all project or solution load information to a binary log file"),
            takes_value: true,
            arguments: [
                (
                    name: "log",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--report",
            ],
            description: Some("Produces a JSON report in the directory specified by <REPORT_PATH>"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "project",
            source: Unavailable,
            optional: true,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: true,
            )),
        ),
    ],
)