(
    version: 1,
    command: "remove",
    subcommands: [
        (
            name: "package",
            description: Some("The dotnet remove package command provides a convenient option to remove a NuGet package reference from a project"),
            arguments: [
                (
                    name: "id",
                ),
            ],
        ),
        (
            name: "reference",
            description: Some("The dotnet remove reference command provides a convenient option to remove project references from a project"),
            arguments: [
                (
                    name: "ref",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "project",
            description: Some("Specifies the project file. If not specified, the command searches the current directory for one"),
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
            optional: true,
        ),
    ],
)
