(
    version: 1,
    command: "publish",
    description: Some("Dotnet publish compiles the application, reads through its dependencies specified in the project file, and publishes the resulting set of files to a directory"),
    subcommands: [],
    options: [
        (
            names: [
                "-a",
                "--arch",
            ],
            description: Some("Specifies the target architecture. This is a shorthand syntax for setting the Runtime Identifier (RID), where the provided value is combined with the default RID. For example, on a win-x64 machine, specifying --arch x86 sets the RID to win-x86. If you use this option, don\'t use the -r|--runtime option. Available since .NET 6 Preview 7"),
            takes_value: true,
            arguments: [
                (
                    name: "arch",
                    source: Static([
                        "x86",
                        "x64",
                        "arm",
                        "arm64",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-c",
                "--configuration",
            ],
            description: Some("Defines the build configuration. The default for most projects is Debug, but you can override the build configuration settings in your project"),
            takes_value: true,
            arguments: [
                (
                    name: "configuration",
                    source: Static([
                        "Debug",
                        "Release",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--framework",
            ],
            description: Some("Publishes the application for the specified target framework. You must specify the target framework in the project file"),
            takes_value: true,
            arguments: [
                (
                    name: "framework",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--force",
            ],
            description: Some("Forces all dependencies to be resolved even if the last restore was successful. Specifying this flag is the same as deleting the project.assets.json file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--interactive",
            ],
            description: Some("Allows the command to stop and wait for user input or action. For example, to complete authentication. Available since .NET Core 3.0 SDK"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--manifest",
            ],
            description: Some("Specifies one or several target manifests to use to trim the set of packages published with the app. The manifest file is part of the output of the dotnet store command. To specify multiple manifests, add a --manifest option for each manifest"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-build",
            ],
            description: Some("Doesn\'t build the project before publishing. It also implicitly sets the --no-restore flag"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-dependencies",
            ],
            description: Some("Ignores project-to-project references and only restores the root project"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nologo",
            ],
            description: Some("Doesn\'t display the startup banner or the copyright message. Available since .NET Core 3.0 SDK"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-restore",
            ],
            description: Some("Doesn\'t execute an implicit restore when running the command"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Specifies the path for the output directory"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--os",
            ],
            description: Some("Specifies the target operating system (OS). This is a shorthand syntax for setting the Runtime Identifier (RID), where the provided value is combined with the default RID. For example, on a win-x64 machine, specifying --os os sets the RID to os-x64. If you use this option, don\'t use the -r|--runtime option. Available since .NET 6 Preview 7"),
            takes_value: true,
            arguments: [
                (
                    name: "os",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--self-contained",
            ],
            description: Some("Publishes the .NET runtime with your application so the runtime doesn\'t need to be installed on the target machine. Default is true if a runtime identifier is specified and the project is an executable project (not a library project)"),
            takes_value: true,
            arguments: [
                (
                    name: "self-contained",
                    source: Static([
                        "true",
                        "false",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-self-contained",
            ],
            description: Some("Equivalent to --self-contained false. Available since .NET Core 3.0 SDK"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
                "--runtime",
            ],
            description: Some("Publishes the application for a given runtime. For a list of Runtime Identifiers (RIDs), see the RID catalog"),
            takes_value: true,
            arguments: [
                (
                    name: "runtime",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--verbosity",
            ],
            description: Some("Sets the verbosity level of the command. Allowed values are q[uiet], m[inimal], n[ormal], d[etailed], and diag[nostic]. The default is minimal. For more information, see LoggerVerbosity"),
            takes_value: true,
            arguments: [
                (
                    name: "verbosity",
                    source: Static([
                        "quiet",
                        "minimal",
                        "normal",
                        "detailed",
                        "diagnostic",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--version-suffix",
            ],
            description: Some("Defines the version suffix to replace the asterisk (*) in the version field of the project file"),
            takes_value: true,
            arguments: [
                (
                    name: "suffix",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "project",
            source: Unavailable,
            optional: true,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: true,
            )),
        ),
    ],
)