(
    version: 1,
    command: "new",
    description: Some("The dotnet new command creates a .NET project or other artifacts based on a template"),
    subcommands: [
        (
            name: "--list",
            aliases: [],
            description: Some("The dotnet new --list option lists available templates to use with dotnet new"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--author",
                    ],
                    description: None,
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--columns",
                    ],
                    description: Some("Comma-separated list of columns to display in the output"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "columns",
                            source: Static([
                                "language",
                                "tags",
                                "author",
                                "type",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--columns-all",
                    ],
                    description: Some("Displays all columns in the output. Available since .NET Core 5.0.300 SDK"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--tag",
                    ],
                    description: Some("Filters templates based on template tags. To be selected, a template must have at least one tag that exactly matches the criteria. Available since .NET Core 5.0.300 SDK"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "tag",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--type",
                    ],
                    description: None,
                    takes_value: true,
                    arguments: [
                        (
                            name: "type",
                            source: Static([
                                "project",
                                "item",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "--search",
            aliases: [],
            description: Some("The dotnet new --search option searches for templates supported by dotnet new on NuGet.org"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--author",
                    ],
                    description: Some("Filters templates based on template author. Partial match is supported"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "author",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--columns",
                    ],
                    description: Some("Comma-separated list of columns to display in the output"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "columns",
                            source: Static([
                                "language",
                                "tags",
                                "author",
                                "type",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--columns-all",
                    ],
                    description: Some("Displays all columns in the output"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-lang",
                        "--language",
                    ],
                    description: Some("Filters templates based on language supported by the template. The language accepted varies by the template. Not valid for some templates"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "language",
                            source: Static([
                                "C#",
                                "F#",
                                "VB",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--package",
                    ],
                    description: Some("Filters templates based on NuGet package ID. Partial match is supported"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "package",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--tag",
                    ],
                    description: Some("Filters templates based on template tags. To be selected, a template must have at least one tag that exactly matches the criteria"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "tag",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--type",
                    ],
                    description: Some("Filters templates based on template type. Predefined values are project and item"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "type",
                            source: Static([
                                "project",
                                "item",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "template",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-i",
            aliases: [
                "--install",
            ],
            description: None,
            subcommands: [],
            options: [
                (
                    names: [
                        "--interactive",
                    ],
                    description: Some("Allows the command to stop and wait for user input or action. For example, to complete authentication. Available since .NET 5.0 SDK"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--nuget-source",
                    ],
                    description: Some("By default, dotnet new --install uses the hierarchy of NuGet configuration files from the current directory to determine the NuGet source the package can be installed from. If --nuget-source is specified, the source will be added to the list of sources to be checked"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "source",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: true,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-u",
            aliases: [
                "--uninstall",
            ],
            description: Some("The dotnet new --uninstall command uninstalls a template package at the PATH or NUGET_ID provided"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "id",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--update-check",
            aliases: [],
            description: Some("The dotnet new --update-check option checks if there are updates available for the template packs that are currently installed"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "--update-apply",
            aliases: [],
            description: Some("The dotnet new --update-apply option checks if there are updates available for the template packages that are currently installed and installs them"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--dry-run",
            ],
            description: Some("Displays a summary of what would happen if the given command were run if it would result in a template creation"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--force",
            ],
            description: Some("Forces content to be generated even if it would change existing files. This is required when the template chosen would override existing files in the output directory"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-?",
                "-h",
                "--help",
            ],
            description: Some("Prints out help for the command. It can be invoked for the dotnet new command itself or for any template. For example, dotnet new mvc --help"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-lang",
                "--language",
            ],
            description: Some("The language of the template to create"),
            takes_value: true,
            arguments: [
                (
                    name: "language",
                    source: Static([
                        "C#",
                        "F#",
                        "VB",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-n",
                "--name",
            ],
            description: Some("The name for the created output. If no name is specified, the name of the current directory is used"),
            takes_value: true,
            arguments: [
                (
                    name: "output_name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Location to place the generated output. The default is the current directory"),
            takes_value: true,
            arguments: [
                (
                    name: "output_directory",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "template",
            source: Unavailable,
            optional: false,
            variadic: false,
            imported_generator: Some((
                script: [
                    "dotnet",
                    "new",
                    "--list",
                ],
                has_post_process: true,
                has_custom: false,
            )),
        ),
    ],
)