(
    version: 1,
    command: "-",
    description: Some("ZSH pre-command modifier that prepends a '-' to the argv[0] string"),
    arguments: [
        (
            name: "",
            is_command: true,
        ),
    ],
    presentation: (
        hidden: true,
    ),
)
