(
    version: 1,
    command: "-",
    description: Some("ZSH pre-command modifier that prepends a \'-\' to the argv[0] string"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)