(
    version: 1,
    command: "act",
    description: Some("Run GitHub actions locally by specifying the event name (e.g. `push`) or an action name directly"),
    subcommands: [
        (
            name: "completion",
            aliases: [],
            description: Some("Generate the autocompletion script for the specified shell"),
            subcommands: [
                (
                    name: "bash",
                    aliases: [],
                    description: Some("Generate the autocompletion script for bash"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "fish",
                    aliases: [],
                    description: Some("Generate the autocompletion script for fish"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "powershell",
                    aliases: [],
                    description: Some("Generate the autocompletion script for powershell"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "zsh",
                    aliases: [],
                    description: Some("Generate the autocompletion script for zsh"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Help about any command"),
            subcommands: [
                (
                    name: "completion",
                    aliases: [],
                    description: Some("Generate the autocompletion script for the specified shell"),
                    subcommands: [
                        (
                            name: "bash",
                            aliases: [],
                            description: Some("Generate the autocompletion script for bash"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "fish",
                            aliases: [],
                            description: Some("Generate the autocompletion script for fish"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "powershell",
                            aliases: [],
                            description: Some("Generate the autocompletion script for powershell"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "zsh",
                            aliases: [],
                            description: Some("Generate the autocompletion script for zsh"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                    ],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--bind",
                "-b",
            ],
            description: Some("Bind working directory to container, rather than copy"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--bug-report",
            ],
            description: Some("Display system information for bug report"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--container-cap-add",
            ],
            description: Some("Kernel capabilities to add to the workflow containers (e.g. --container-cap-add SYS_PTRACE)"),
            takes_value: true,
            arguments: [
                (
                    name: "container-cap-add",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--container-cap-drop",
            ],
            description: Some("Kernel capabilities to remove from the workflow containers (e.g. --container-cap-drop SYS_PTRACE)"),
            takes_value: true,
            arguments: [
                (
                    name: "container-cap-drop",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--defaultbranch",
            ],
            description: Some("The name of the main branch"),
            takes_value: true,
            arguments: [
                (
                    name: "defaultbranch",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--detect-event",
            ],
            description: Some("Use first event type from workflow as event that triggered the workflow"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--env",
            ],
            description: Some("Env to make available to actions with optional value (e.g. --env myenv=foo or --env myenv)"),
            takes_value: true,
            arguments: [
                (
                    name: "env",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--eventpath",
                "-e",
            ],
            description: Some("Path to event JSON file"),
            takes_value: true,
            arguments: [
                (
                    name: "eventpath",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--graph",
                "-g",
            ],
            description: Some("Draw workflows"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--job",
                "-j",
            ],
            description: Some("Run job"),
            takes_value: true,
            arguments: [
                (
                    name: "job",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--list",
                "-l",
            ],
            description: Some("List workflows"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--platform",
                "-P",
            ],
            description: Some("Custom image to use per platform (e.g. -P ubuntu-18.04=nektos/act-environments-ubuntu:18.04)"),
            takes_value: true,
            arguments: [
                (
                    name: "platform",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--privileged",
            ],
            description: Some("Use privileged mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--pull",
                "-p",
            ],
            description: Some("Pull docker image(s) even if already present"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--rebuild",
            ],
            description: Some("Rebuild local action docker image(s) even if already present"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--remote-name",
            ],
            description: Some("Git remote name that will be used to retrieve url of git repo"),
            takes_value: true,
            arguments: [
                (
                    name: "remote-name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--reuse",
                "-r",
            ],
            description: Some("Don\'t remove container(s) on successfully completed workflow(s) to maintain state between runs"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--rm",
            ],
            description: Some("Automatically remove container(s)/volume(s) after a workflow(s) failure"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--secret",
                "-s",
            ],
            description: Some("Secret to make available to actions with optional value (e.g. -s mysecret=foo or -s mysecret)"),
            takes_value: true,
            arguments: [
                (
                    name: "secret",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--use-gitignore",
            ],
            description: Some("Controls whether paths specified in .gitignore should be copied into container"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--userns",
            ],
            description: Some("User namespace to use"),
            takes_value: true,
            arguments: [
                (
                    name: "userns",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--watch",
                "-w",
            ],
            description: Some("Watch the contents of the local repo and run when files change"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--actor",
                "-a",
            ],
            description: Some("User that triggered the event"),
            takes_value: true,
            arguments: [
                (
                    name: "actor",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--artifact-server-path",
            ],
            description: Some("Defines the path where the artifact server stores uploads and retrieves downloads from. If not specified the artifact server will not start"),
            takes_value: true,
            arguments: [
                (
                    name: "artifact-server-path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--artifact-server-port",
            ],
            description: Some("Defines the port where the artifact server listens (will only bind to localhost)"),
            takes_value: true,
            arguments: [
                (
                    name: "artifact-server-port",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--container-architecture",
            ],
            description: Some("Architecture which should be used to run containers, e.g.: linux/amd64. If not specified, will use host default architecture. Requires Docker server API Version 1.41+. Ignored on earlier Docker server platforms"),
            takes_value: true,
            arguments: [
                (
                    name: "container-architecture",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--container-daemon-socket",
            ],
            description: Some("Path to Docker daemon socket which will be mounted to containers"),
            takes_value: true,
            arguments: [
                (
                    name: "container-daemon-socket",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--directory",
                "-C",
            ],
            description: Some("Working directory"),
            takes_value: true,
            arguments: [
                (
                    name: "directory",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--dryrun",
                "-n",
            ],
            description: Some("Dryrun mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--env-file",
            ],
            description: Some("Environment file to read and use as env in the containers"),
            takes_value: true,
            arguments: [
                (
                    name: "env-file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--github-instance",
            ],
            description: Some("GitHub instance to use. Don\'t use this if you are not using GitHub Enterprise Server"),
            takes_value: true,
            arguments: [
                (
                    name: "github-instance",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--insecure-secrets",
            ],
            description: Some("NOT RECOMMENDED! Doesn\'t hide secrets while printing logs"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--json",
            ],
            description: Some("Output logs in json format"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-recurse",
            ],
            description: Some("Flag to disable running workflows from subdirectories of specified path in \'--workflows\'/\'-W\' flag"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-skip-checkout",
            ],
            description: Some("Do not skip actions/checkout"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--quiet",
                "-q",
            ],
            description: Some("Disable logging of output from steps"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--secret-file",
            ],
            description: Some("File with list of secrets to read from (e.g. --secret-file .secrets)"),
            takes_value: true,
            arguments: [
                (
                    name: "secret-file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Verbose output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--workflows",
                "-W",
            ],
            description: Some("Path to workflow file(s)"),
            takes_value: true,
            arguments: [
                (
                    name: "workflows",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display help"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)