(
    version: 1,
    command: "afplay",
    description: Some("Audio File Play"),
    options: [
        (
            names: [
                "-v",
                "--volume",
            ],
            description: Some("Set the volume for playback of the file\nApple does not define a value range for this, but it appears to accept\n0=silent, 1=normal (default) and then up to 255=Very loud.\nThe scale is logarithmic and in addition to (not a replacement for) other volume control(s)"),
            arguments: [
                (
                    name: "0 (silent) - 1 (normal) - 255 (very loud)",
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help"),
        ),
        (
            names: [
                "--leaks",
            ],
            description: Some("Run leaks analysis"),
        ),
        (
            names: [
                "-t",
                "--time",
            ],
            description: Some("Play for `TIME` seconds\n>0 and < duration of `audio_file`"),
            arguments: [
                (
                    name: "TIME",
                    description: Some("A value greater than 0 but lower than the audio file length"),
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--rate",
            ],
            description: Some("Play at playback `RATE`.\npractical limits are about 0.4 (slower) to 3.0 (faster)"),
            arguments: [
                (
                    name: "RATE",
                    description: Some("0.4 (slower) - 3.0 (faster)"),
                ),
            ],
        ),
        (
            names: [
                "-q",
                "--rQuality",
            ],
            description: Some("Set the quality used for rate-scaled playback (default is 0 - low quality, 1 - high quality)"),
            arguments: [
                (
                    name: "QUALITY",
                    description: Some("0 (low) -1 (high)"),
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--debug",
            ],
            description: Some("Debug print output"),
        ),
    ],
    arguments: [
        (
            name: "play the song in the path",
            template: [
                FilePaths,
            ],
        ),
    ],
)
