(
    version: 1,
    command: "aftman",
    description: Some("A toolchain manager, enabling project-specific command line tools"),
    subcommands: [
        (
            name: "init",
            description: Some("Creates a new aftman.toml file in the given directory"),
            arguments: [
                (
                    name: "path",
                    description: Some("The folder to initialize the manifest file in. Defaults to the current directory"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "add",
            description: Some("Adds a new tool to Aftman and installs it"),
            options: [
                (
                    names: [
                        "--global",
                    ],
                    description: Some("Install this tool globally"),
                ),
            ],
            arguments: [
                (
                    name: "tool",
                    description: Some("What tool and version to install"),
                ),
                (
                    name: "alias",
                    description: Some("The name that will be used to run the tool"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "install",
            description: Some("Install all tools listed in aftman.toml files based on your current directory"),
            options: [
                (
                    names: [
                        "--no-trust-check",
                    ],
                    description: Some("All tools will be installed, regardless of whether they are known"),
                ),
            ],
        ),
        (
            name: "self-install",
            description: Some("Installs Aftman, upgrades any references to Aftman, and adds aftman to your system PATH if supported"),
        ),
        (
            name: "trust",
            arguments: [
                (
                    name: "tool",
                    description: Some("The tool to mark as trusted"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for aftman"),
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Show aftman's version"),
        ),
    ],
)
