(
    version: 1,
    command: "aftman",
    description: Some("A toolchain manager, enabling project-specific command line tools"),
    subcommands: [
        (
            name: "init",
            aliases: [],
            description: Some("Creates a new aftman.toml file in the given directory"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "add",
            aliases: [],
            description: Some("Adds a new tool to Aftman and installs it"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--global",
                    ],
                    description: Some("Install this tool globally"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "tool",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "alias",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "install",
            aliases: [],
            description: Some("Install all tools listed in aftman.toml files based on your current directory"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--no-trust-check",
                    ],
                    description: Some("All tools will be installed, regardless of whether they are known"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "self-install",
            aliases: [],
            description: Some("Installs Aftman, upgrades any references to Aftman, and adds aftman to your system PATH if supported"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "trust",
            aliases: [],
            description: None,
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "tool",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for aftman"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Show aftman\'s version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)