(
    version: 1,
    command: "ag",
    description: Some("Recursively search for PATTERN in PATH. Like grep or ack, but faster"),
    subcommands: [],
    options: [
        (
            names: [
                "--ackmate",
            ],
            description: Some("Output results in a format parseable by AckMate https://github.com/protocool/AckMate"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--affinity",
            ],
            description: Some("Set thread affinity (if platform supports it)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--noaffinity",
            ],
            description: Some("Don\'t set thread affinity (if platform supports it)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-a",
                "--all-types",
            ],
            description: Some("Search all files. This doesn\'t include hidden files, and doesn\'t respect any ignore files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-A",
                "--after",
            ],
            description: Some("Print lines after match"),
            takes_value: true,
            arguments: [
                (
                    name: "LINES",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-B",
                "--before",
            ],
            description: Some("Print lines before match"),
            takes_value: true,
            arguments: [
                (
                    name: "LINES",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--nobreak",
            ],
            description: Some("Print a newline between matches in different files. Enabled by default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
                "--count",
            ],
            description: Some("Only  print the number of matches in each file. Note: This is the number of matches, not the number of matching lines. Pipe output to wc -l if you want the number of matching lines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Print color codes in results"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nocolor",
            ],
            description: Some("Don\'t print color codes in results"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--color-line-number",
            ],
            description: Some("Color codes for line numbers. Default is 1;33"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--color-match",
            ],
            description: Some("Color codes for result match numbers. Default is 30;43"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--color-path",
            ],
            description: Some("Color codes for path names. Default is 1;32"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--column",
            ],
            description: Some("Print column numbers in results"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-C",
                "--context",
            ],
            description: Some("Print lines before and after matches"),
            takes_value: true,
            arguments: [
                (
                    name: "LINES",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-D",
                "--debug",
            ],
            description: Some("Output ridiculous amounts of debugging info. Not useful unless you\'re actually debugging"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--depth",
            ],
            description: Some("Search up to NUM directories deep, -1 for unlimited"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--filename",
            ],
            description: Some("Print file names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nofilename",
            ],
            description: Some("Don\'t print file names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
                "--follow",
            ],
            description: Some("Follow symlinks"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nofollow",
            ],
            description: Some("Don\'t follow symlinks"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-F",
                "--fixed-strings",
            ],
            description: Some("Alias for --literal for compatibility with grep"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--group",
            ],
            description: Some("Lumps multiple matches in the same file together, and presents them under a single occurrence of the filename"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nogroup",
            ],
            description: Some("Refrains from lumping matches in the same file together, and instead places the filename at the start of each match line"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
            ],
            description: Some("Print filenames matching PATTERN"),
            takes_value: true,
            arguments: [
                (
                    name: "PATTERN",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-G",
                "--file-search-regex",
            ],
            description: Some("Only search files whose names match PATTERN"),
            takes_value: true,
            arguments: [
                (
                    name: "PATTERN",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-H",
                "--heading",
            ],
            description: Some("Print filenames above matching contents"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--noheading",
            ],
            description: Some("Don\'t print filenames above matching contents"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--hidden",
            ],
            description: Some("Search hidden files. This option obeys ignored files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ignore",
            ],
            description: Some("Ignore files/directories whose names match this pattern. Literal file and directory names are also allowed"),
            takes_value: true,
            arguments: [
                (
                    name: "PATTERN",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--ignore-dir",
            ],
            description: Some("Alias for --ignore for compatibility with ack"),
            takes_value: true,
            arguments: [
                (
                    name: "NAME",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--ignore-case",
            ],
            description: Some("Match case-insensitively"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
                "--files-with-matches",
            ],
            description: Some("Only print the names of files containing matches, not the matching lines. An empty query will print all files that would be searched"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-L",
                "--files-without-matches",
            ],
            description: Some("Only print the names of files that don\'t contain matches"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--list-file-types",
            ],
            description: Some("See FILE TYPES below"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
                "--max-count",
            ],
            description: Some("Skip the rest of a file after NUM matches. Default is 0, which never skips"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--mmap",
            ],
            description: Some("Use of memory-mapped I/O. Defaults to true on platforms where mmap() is faster than read(). (All but macOS.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nommap",
            ],
            description: Some("Don\'t use of memory-mapped I/O. Defaults to true on platforms where mmap() is faster than read(). (All but macOS.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--multiline",
            ],
            description: Some("Match regexes across newlines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nomultiline",
            ],
            description: Some("Don\'t match regexes across newlines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
                "--norecurse",
            ],
            description: Some("Don\'t recurse into directories"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--numbers",
            ],
            description: Some("Print line numbers"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nonumbers",
            ],
            description: Some("Don\'t print line numbers"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-o",
                "--only-matching",
            ],
            description: Some("Print only the matching part of the lines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--one-device",
            ],
            description: Some("When  recursing  directories, don\'t scan dirs that reside on other storage devices. This lets you avoid scanning slow network mounts. This feature is not supported on all platforms"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
                "--path-to-ignore",
            ],
            description: Some("Provide a path to a specific .ignore file"),
            takes_value: true,
            arguments: [
                (
                    name: "STRING",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--pager",
            ],
            description: Some("Use a pager such as less. Use --nopager to override. This option is also ignored if output is piped to another program"),
            takes_value: true,
            arguments: [
                (
                    name: "COMMAND",
                    source: Static([
                        "more",
                        "less",
                        "most",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--parallel",
            ],
            description: Some("Parse the input stream as a search term, not data to search. This is meant to be  used  with  tools  such  as  GNU  parallel.  For  example:  echo \"foo\nbar\nbaz\" | parallel \"ag {} .\" will run 3 instances of ag, searching the current directory for \"foo\", \"bar\", and \"baz\""),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--print-long-lines",
            ],
            description: Some("Print matches on very long lines (> 2k characters by default)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--passthrough",
                "--passthru",
            ],
            description: Some("When searching a stream, print all lines even if they don\'t match"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Q",
                "--literal",
            ],
            description: Some("Do not parse PATTERN as a regular expression. Try to match it literally"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
                "--recurse",
            ],
            description: Some("Recurse into directories when searching. Default is true"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--case-sensitive",
            ],
            description: Some("Match case-sensitively"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-S",
                "--smart-case",
            ],
            description: Some("Match case-sensitively if there are any uppercase letters in PATTERN, case-insensitively otherwise. Enabled by default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--search-binary",
            ],
            description: Some("Search binary files for matches"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--silent",
            ],
            description: Some("Suppress all log messages, including errors"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--stats",
            ],
            description: Some("Print stats (files scanned, time taken, etc)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--stats-only",
            ],
            description: Some("Print stats (files scanned, time taken, etc) and nothing else"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-t",
                "--all-text",
            ],
            description: Some("Search all text files. This doesn\'t include hidden files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
                "--unrestricted",
            ],
            description: Some("Search all files. This ignores .ignore, .gitignore, etc. It searches binary and hidden files as well"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-U",
                "--skip-vcs-ignores",
            ],
            description: Some("Ignore VCS ignore files (.gitignore, .hgignore), but still use .ignore"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--invert-match",
            ],
            description: Some("Match every line not containing the specified pattern"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version info"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--vimgrep",
            ],
            description: Some("Output results in the same form as Vim\'s :vimgrep /pattern/g Here is a ~/.vimrc configuration example: set grepprg=ag --vimgrep $* set grepformat=%f:%l:%c:%m Then use :grep to grep for something. Then use :copen, :cn, :cp, etc. to navigate through the matches"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
                "--word-regexp",
            ],
            description: Some("Only match whole words"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--workers",
            ],
            description: Some("Use NUM worker threads. Default is the number of CPU cores, with a max of 8"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-z",
                "--search-zip",
            ],
            description: Some("Search contents of compressed files. Currently, gz and xz are supported. This option requires that ag is built with lzma and zlib"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-0",
                "--null",
                "--print0",
            ],
            description: Some("Separate the filenames with \0, rather than \n: this allows xargs -0 <command> to correctly process filenames containing spaces or newlines"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "pattern",
            source: Files,
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
        (
            name: "path",
            source: Files,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)