(
    version: 1,
    command: "ag",
    description: Some("Recursively search for PATTERN in PATH. Like grep or ack, but faster"),
    options: [
        (
            names: [
                "--ackmate",
            ],
            description: Some("Output results in a format parseable by AckMate https://github.com/protocool/AckMate"),
        ),
        (
            names: [
                "--affinity",
            ],
            description: Some("Set thread affinity (if platform supports it)"),
            exclusive_on: [
                "--noaffinity",
            ],
        ),
        (
            names: [
                "--noaffinity",
            ],
            description: Some("Don't set thread affinity (if platform supports it)"),
            exclusive_on: [
                "--affinity",
            ],
        ),
        (
            names: [
                "-a",
                "--all-types",
            ],
            description: Some("Search all files. This doesn't include hidden files, and doesn't respect any ignore files"),
        ),
        (
            names: [
                "-A",
                "--after",
            ],
            description: Some("Print lines after match"),
            arguments: [
                (
                    name: "LINES",
                    description: Some("The amount of lines"),
                    optional: true,
                    default: Some("2"),
                ),
            ],
        ),
        (
            names: [
                "-B",
                "--before",
            ],
            description: Some("Print lines before match"),
            arguments: [
                (
                    name: "LINES",
                    description: Some("The amount of lines"),
                    optional: true,
                    default: Some("2"),
                ),
            ],
        ),
        (
            names: [
                "--nobreak",
            ],
            description: Some("Print a newline between matches in different files. Enabled by default"),
        ),
        (
            names: [
                "-c",
                "--count",
            ],
            description: Some("Only  print the number of matches in each file. Note: This is the number of matches, not the number of matching lines. Pipe output to wc -l if you want the number of matching lines"),
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Print color codes in results"),
            exclusive_on: [
                "--nocolor",
            ],
        ),
        (
            names: [
                "--nocolor",
            ],
            description: Some("Don't print color codes in results"),
            exclusive_on: [
                "--color",
            ],
        ),
        (
            names: [
                "--color-line-number",
            ],
            description: Some("Color codes for line numbers. Default is 1;33"),
        ),
        (
            names: [
                "--color-match",
            ],
            description: Some("Color codes for result match numbers. Default is 30;43"),
        ),
        (
            names: [
                "--color-path",
            ],
            description: Some("Color codes for path names. Default is 1;32"),
        ),
        (
            names: [
                "--column",
            ],
            description: Some("Print column numbers in results"),
        ),
        (
            names: [
                "-C",
                "--context",
            ],
            description: Some("Print lines before and after matches"),
            arguments: [
                (
                    name: "LINES",
                    description: Some("The amount of lines"),
                    optional: true,
                    default: Some("2"),
                ),
            ],
        ),
        (
            names: [
                "-D",
                "--debug",
            ],
            description: Some("Output ridiculous amounts of debugging info. Not useful unless you're actually debugging"),
        ),
        (
            names: [
                "--depth",
            ],
            description: Some("Search up to NUM directories deep, -1 for unlimited"),
            arguments: [
                (
                    name: "NUM",
                    description: Some("The depth in directories to search"),
                    optional: true,
                    default: Some("25"),
                ),
            ],
        ),
        (
            names: [
                "--filename",
            ],
            description: Some("Print file names"),
            exclusive_on: [
                "--nofilename",
            ],
        ),
        (
            names: [
                "--nofilename",
            ],
            description: Some("Don't print file names"),
            exclusive_on: [
                "--filename",
            ],
        ),
        (
            names: [
                "-f",
                "--follow",
            ],
            description: Some("Follow symlinks"),
            exclusive_on: [
                "--nofollow",
            ],
        ),
        (
            names: [
                "--nofollow",
            ],
            description: Some("Don't follow symlinks"),
            exclusive_on: [
                "-f",
                "--follow",
            ],
        ),
        (
            names: [
                "-F",
                "--fixed-strings",
            ],
            description: Some("Alias for --literal for compatibility with grep"),
        ),
        (
            names: [
                "--group",
            ],
            description: Some("Lumps multiple matches in the same file together, and presents them under a single occurrence of the filename"),
            exclusive_on: [
                "--nogroup",
            ],
        ),
        (
            names: [
                "--nogroup",
            ],
            description: Some("Refrains from lumping matches in the same file together, and instead places the filename at the start of each match line"),
            exclusive_on: [
                "--group",
            ],
        ),
        (
            names: [
                "-g",
            ],
            description: Some("Print filenames matching PATTERN"),
            arguments: [
                (
                    name: "PATTERN",
                    description: Some("The pattern to look for"),
                ),
            ],
        ),
        (
            names: [
                "-G",
                "--file-search-regex",
            ],
            description: Some("Only search files whose names match PATTERN"),
            arguments: [
                (
                    name: "PATTERN",
                    description: Some("The pattern to look for"),
                ),
            ],
        ),
        (
            names: [
                "-H",
                "--heading",
            ],
            description: Some("Print filenames above matching contents"),
            exclusive_on: [
                "--noheading",
            ],
        ),
        (
            names: [
                "--noheading",
            ],
            description: Some("Don't print filenames above matching contents"),
            exclusive_on: [
                "-H",
                "--heading",
            ],
        ),
        (
            names: [
                "--hidden",
            ],
            description: Some("Search hidden files. This option obeys ignored files"),
        ),
        (
            names: [
                "--ignore",
            ],
            description: Some("Ignore files/directories whose names match this pattern. Literal file and directory names are also allowed"),
            arguments: [
                (
                    name: "PATTERN",
                    description: Some("The pattern to look for"),
                    template: [
                        FilePaths,
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--ignore-dir",
            ],
            description: Some("Alias for --ignore for compatibility with ack"),
            arguments: [
                (
                    name: "NAME",
                    description: Some("The directory to ignore"),
                    template: [
                        FilePaths,
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--ignore-case",
            ],
            description: Some("Match case-insensitively"),
        ),
        (
            names: [
                "-l",
                "--files-with-matches",
            ],
            description: Some("Only print the names of files containing matches, not the matching lines. An empty query will print all files that would be searched"),
        ),
        (
            names: [
                "-L",
                "--files-without-matches",
            ],
            description: Some("Only print the names of files that don't contain matches"),
        ),
        (
            names: [
                "--list-file-types",
            ],
            description: Some("See FILE TYPES below"),
        ),
        (
            names: [
                "-m",
                "--max-count",
            ],
            description: Some("Skip the rest of a file after NUM matches. Default is 0, which never skips"),
            arguments: [
                (
                    name: "NUM",
                    description: Some("The number of matches to skip after"),
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--mmap",
            ],
            description: Some("Use of memory-mapped I/O. Defaults to true on platforms where mmap() is faster than read(). (All but macOS.)"),
            exclusive_on: [
                "--nommap",
            ],
        ),
        (
            names: [
                "--nommap",
            ],
            description: Some("Don't use of memory-mapped I/O. Defaults to true on platforms where mmap() is faster than read(). (All but macOS.)"),
            exclusive_on: [
                "--mmap",
            ],
        ),
        (
            names: [
                "--multiline",
            ],
            description: Some("Match regexes across newlines"),
            exclusive_on: [
                "--nomultiline",
            ],
        ),
        (
            names: [
                "--nomultiline",
            ],
            description: Some("Don't match regexes across newlines"),
            exclusive_on: [
                "--multiline",
            ],
        ),
        (
            names: [
                "-n",
                "--norecurse",
            ],
            description: Some("Don't recurse into directories"),
            exclusive_on: [
                "-r",
                "--recurse",
            ],
        ),
        (
            names: [
                "--numbers",
            ],
            description: Some("Print line numbers"),
            exclusive_on: [
                "--nonumbers",
            ],
        ),
        (
            names: [
                "--nonumbers",
            ],
            description: Some("Don't print line numbers"),
            exclusive_on: [
                "--numbers",
            ],
        ),
        (
            names: [
                "-o",
                "--only-matching",
            ],
            description: Some("Print only the matching part of the lines"),
        ),
        (
            names: [
                "--one-device",
            ],
            description: Some("When  recursing  directories, don't scan dirs that reside on other storage devices. This lets you avoid scanning slow network mounts. This feature is not supported on all platforms"),
        ),
        (
            names: [
                "-p",
                "--path-to-ignore",
            ],
            description: Some("Provide a path to a specific .ignore file"),
            arguments: [
                (
                    name: "STRING",
                    description: Some("The path to the ignore file"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--pager",
            ],
            description: Some("Use a pager such as less. Use --nopager to override. This option is also ignored if output is piped to another program"),
            arguments: [
                (
                    name: "COMMAND",
                    description: Some("The pager"),
                    suggestions: [
                        (
                            name: "more",
                        ),
                        (
                            name: "less",
                        ),
                        (
                            name: "most",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--parallel",
            ],
            description: Some("Parse the input stream as a search term, not data to search. This is meant to be  used  with  tools  such  as  GNU  parallel.  For  example:  echo \"foo\nbar\nbaz\" | parallel \"ag {} .\" will run 3 instances of ag, searching the current directory for \"foo\", \"bar\", and \"baz\""),
        ),
        (
            names: [
                "--print-long-lines",
            ],
            description: Some("Print matches on very long lines (> 2k characters by default)"),
        ),
        (
            names: [
                "--passthrough",
                "--passthru",
            ],
            description: Some("When searching a stream, print all lines even if they don't match"),
        ),
        (
            names: [
                "-Q",
                "--literal",
            ],
            description: Some("Do not parse PATTERN as a regular expression. Try to match it literally"),
        ),
        (
            names: [
                "-r",
                "--recurse",
            ],
            description: Some("Recurse into directories when searching. Default is true"),
            exclusive_on: [
                "-n",
                "--norecurse",
            ],
        ),
        (
            names: [
                "-s",
                "--case-sensitive",
            ],
            description: Some("Match case-sensitively"),
        ),
        (
            names: [
                "-S",
                "--smart-case",
            ],
            description: Some("Match case-sensitively if there are any uppercase letters in PATTERN, case-insensitively otherwise. Enabled by default"),
        ),
        (
            names: [
                "--search-binary",
            ],
            description: Some("Search binary files for matches"),
        ),
        (
            names: [
                "--silent",
            ],
            description: Some("Suppress all log messages, including errors"),
        ),
        (
            names: [
                "--stats",
            ],
            description: Some("Print stats (files scanned, time taken, etc)"),
        ),
        (
            names: [
                "--stats-only",
            ],
            description: Some("Print stats (files scanned, time taken, etc) and nothing else"),
        ),
        (
            names: [
                "-t",
                "--all-text",
            ],
            description: Some("Search all text files. This doesn't include hidden files"),
        ),
        (
            names: [
                "-u",
                "--unrestricted",
            ],
            description: Some("Search all files. This ignores .ignore, .gitignore, etc. It searches binary and hidden files as well"),
        ),
        (
            names: [
                "-U",
                "--skip-vcs-ignores",
            ],
            description: Some("Ignore VCS ignore files (.gitignore, .hgignore), but still use .ignore"),
        ),
        (
            names: [
                "-v",
                "--invert-match",
            ],
            description: Some("Match every line not containing the specified pattern"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version info"),
        ),
        (
            names: [
                "--vimgrep",
            ],
            description: Some("Output results in the same form as Vim's :vimgrep /pattern/g Here is a ~/.vimrc configuration example: set grepprg=ag --vimgrep $* set grepformat=%f:%l:%c:%m Then use :grep to grep for something. Then use :copen, :cn, :cp, etc. to navigate through the matches"),
        ),
        (
            names: [
                "-w",
                "--word-regexp",
            ],
            description: Some("Only match whole words"),
        ),
        (
            names: [
                "--workers",
            ],
            description: Some("Use NUM worker threads. Default is the number of CPU cores, with a max of 8"),
            arguments: [
                (
                    name: "NUM",
                    description: Some("The NUM of worker threads"),
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-z",
                "--search-zip",
            ],
            description: Some("Search contents of compressed files. Currently, gz and xz are supported. This option requires that ag is built with lzma and zlib"),
        ),
        (
            names: [
                "-0",
                "--null",
                "--print0",
            ],
            description: Some("Separate the filenames with \u{0}, rather than \n: this allows xargs -0 <command> to correctly process filenames containing spaces or newlines"),
        ),
    ],
    arguments: [
        (
            name: "pattern",
            optional: true,
        ),
        (
            name: "path",
            template: [
                FilePaths,
            ],
            optional: true,
            variadic: true,
        ),
    ],
)
