(
    version: 1,
    command: "agrippa",
    subcommands: [
        (
            name: "init",
            description: Some("Generates a basic .agripparc.json file, with some default values for options that agrippa accepts"),
        ),
        (
            name: "generate",
            aliases: [
                "gen",
            ],
            description: Some("This is the core of the CLI - this command generates a new React component, based on the name and options passed to it"),
            options: [
                (
                    names: [
                        "--props",
                    ],
                    description: Some("Determines which prop declaration/validation solution to generate. Defaults to `ts` if `typescript` flag is `true`, `none` otherwise"),
                    arguments: [
                        (
                            name: "",
                            suggestions: [
                                (
                                    name: "ts",
                                    description: Some("Generate a TypeScript interface for props (this requires the typescript option to be true)"),
                                ),
                                (
                                    name: "jsdoc",
                                    description: Some("Generates JSDoc type hints for props (a @typedef and a @type)"),
                                ),
                                (
                                    name: "prop-types",
                                    description: Some("Generates prop-types for props"),
                                ),
                                (
                                    name: "none",
                                    description: Some("Generates no props"),
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--children",
                    ],
                    description: Some("Whether the component is meant to have children or not. Defaults to `false`"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "--typescript",
                        "--ts",
                    ],
                    description: Some("Option to generate Typescript components, defaults to `true` if the CLI manages to find a `tsconfig.json` file, false otherwise"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "--import-react",
                    ],
                    description: Some("Option to import React at the top of the component. Defaults to `true` if the CLI manages to find a `tsconfig.json` file and it has a `jsx` field under `compilerOptions` with `react-jsx` or `react-jsxdev` as the value, `false` otherwise"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "--export-type",
                    ],
                    description: Some("Whether to export the component as a named export or a default export. Defaults to `named`"),
                    arguments: [
                        (
                            name: "",
                            suggestions: [
                                (
                                    name: "named",
                                ),
                                (
                                    name: "default",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--declaration",
                    ],
                    description: Some("Whether to declare the component as a `const` with an arrow function, or as a `function` declaration. Defaults to `const`"),
                    arguments: [
                        (
                            name: "",
                            suggestions: [
                                (
                                    name: "const",
                                ),
                                (
                                    name: "function",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--memo",
                    ],
                    description: Some("Generates a component as a memo component. Defaults to `false`"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "--react-native",
                    ],
                    description: Some("Generates a React Native component. Defaults to `true` if `react-native` is a dependency in the project's `package.json`, `false` otherwise"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "--styling",
                    ],
                    description: Some("Which styling solution to generate. Defaults to `none`"),
                    arguments: [
                        (
                            name: "",
                            suggestions: [
                                (
                                    name: "none",
                                    description: Some("Generates no style"),
                                ),
                                (
                                    name: "css",
                                    description: Some("Generates a `css` file"),
                                ),
                                (
                                    name: "scss",
                                    description: Some("Generates a `scss` file"),
                                ),
                                (
                                    name: "jss",
                                    description: Some("Generates a `useStyles` hook above the component with `react-jss`'s `createUseStyles`"),
                                ),
                                (
                                    name: "mui",
                                    description: Some("Generates a `useStyles` hook above the component with `material-ui`'s `makeStyles`. Note that this generates styles for `material-ui` v4"),
                                ),
                                (
                                    name: "react-native",
                                    description: Some("Generates a React Native `StyleSheet`"),
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--styling-module",
                    ],
                    description: Some("Whether to generate a scoped `module` stylesheet. This option is only relevant for `css` or `scss` styling, and will be ignored for other values. Defaults to `true`"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "--base-dir",
                    ],
                    description: Some("Path to a base directory which components should be generated inside of (directly or nested). Defaults to the current working directory"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                            optional: true,
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--dest",
                        "--destination",
                    ],
                    description: Some("Allows the user to generate the component at a path relative to `baseDir`. It's mostly used to augment or modify the generation path in the command-line when creating the component itself. `dest` is resolved relative to `baseDir`"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                            optional: true,
                            variadic: true,
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--allow-outside-base",
                    ],
                    description: Some("Overrides default Agrippa behaviour to allow components to be specified outside `baseDir`. Defaults to current working directory"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                            optional: true,
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--flat",
                    ],
                    description: Some("By default, Agrippa generates a dedicated directory for the generated component; this directory has the same name as the component, and will contain the component file (as `index.tsx` or `index.jsx`), and the style file (if one is generated). Defaults to `false`"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "--separate-index",
                    ],
                    description: Some("In the `separateIndex` generation scheme, Agrippa creates one file for the component's code, and one `index` file, whose purpose is to allow importing exports from the component's directory elegantly (the import path can then be `<path>/<to>/<directory>/Component` instead of `<path>/<to>/<directory>/Component/Component`). Defaults to `true`"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "--post-command",
                        "--postCommand",
                    ],
                    description: Some("Allows a custom command to be run after having generated a component. This allows for some cool functionality, such as opening an IDE at the newly generated files automatically or linting them. Defaults to `none`"),
                    arguments: [
                        (
                            name: "",
                            is_command: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--overwrite",
                    ],
                    description: Some("By default, Agrippa prevents the generation of a component over an existing components, to prevent a loss of code. `--overwrite` tells Agrippa to replace existing files, if any are found. Defaults to `false`"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("The `debug` flag makes Agrippa print out additional debug information. It's quite useful when debugging. Defaults to `false`"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "component",
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "component's name",
        ),
    ],
)
