(
    version: 1,
    command: "aliases",
    description: Some("Bash aliases on steroids, dynamic alias functions for bash"),
    subcommands: [
        (
            name: "add",
            aliases: [],
            description: Some("Add an alias via the cli"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "command",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "clone",
            aliases: [],
            description: Some("Clone external aliases"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-E",
                        "--enable",
                    ],
                    description: Some("Whether to enable the user if they are not currently enabled"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "username",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "repo_url",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "directories",
            aliases: [],
            description: Some("List all directories initialized with aliases"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "exec",
            aliases: [],
            description: Some("Execute an alias for a given directory"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "directory",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Prints help information"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "init",
            aliases: [],
            description: Some("Initialize a directory for aliases"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-g",
                        "--global",
                    ],
                    description: Some("Returns the global initialization for the app"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-u",
                        "--user",
                    ],
                    description: Some("Initialize aliases for a specific user"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "user",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("List the aliases available"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-g",
                        "--global",
                    ],
                    description: Some("List only global aliases"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-l",
                        "--local",
                    ],
                    description: Some("List only local aliases"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-d",
                        "--directory",
                    ],
                    description: Some("List aliases for a specific directory"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "directory",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "name",
                    ],
                    description: Some("List aliases for with a specific name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "pull",
            aliases: [],
            description: Some("Pull a cloned user\'s aliases"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "username",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "rehash",
            aliases: [],
            description: Some("Update the aliases"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "remove",
            aliases: [],
            description: Some("Remove an alias via the cli"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "users",
            aliases: [],
            description: Some("List the users"),
            subcommands: [
                (
                    name: "disable",
                    aliases: [],
                    description: Some("Disable a user\'s aliases"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "username",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "enable",
                    aliases: [],
                    description: Some("Enable a user\'s aliases"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "username",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "help",
                    aliases: [],
                    description: Some("Prints this message or the help of the given subcommand(s)"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "move",
                    aliases: [],
                    description: Some("Move a user up or down the prioritization list"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "username",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                        (
                            name: "prioritization",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "use",
                    aliases: [],
                    description: Some("Assign a user to the top of the priority list"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "username",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Prints help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Prints version information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)