(
    version: 1,
    command: "ampx",
    description: Some("CLI for Amplify Gen 2"),
    subcommands: [
        (
            name: "sandbox",
            description: Some("Deploy to your personal cloud sandbox"),
            subcommands: [
                (
                    name: "delete",
                    description: Some("Delete your personal cloud sandbox"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Name to distinguish between sandbox environments"),
                            arguments: [
                                (
                                    name: "name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--profile",
                            ],
                            description: Some("AWS profile name"),
                            arguments: [
                                (
                                    name: "profile",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "-y",
                                "--yes",
                            ],
                            description: Some("Do not ask for confirmation before deleting"),
                        ),
                    ],
                ),
                (
                    name: "secret",
                    description: Some("Manage backend secrets for your personal cloud sandbox"),
                    subcommands: [
                        (
                            name: "set",
                            description: Some("Set a secret"),
                            options: [
                                (
                                    names: [
                                        "--profile",
                                    ],
                                    description: Some("AWS profile name"),
                                    arguments: [
                                        (
                                            name: "profile",
                                        ),
                                    ],
                                ),
                            ],
                            arguments: [
                                (
                                    name: "secret_name",
                                ),
                            ],
                        ),
                        (
                            name: "remove",
                            description: Some("Remove a secret"),
                            options: [
                                (
                                    names: [
                                        "--profile",
                                    ],
                                    description: Some("AWS profile name"),
                                    arguments: [
                                        (
                                            name: "profile",
                                        ),
                                    ],
                                ),
                            ],
                            arguments: [
                                (
                                    name: "secret_name",
                                ),
                            ],
                        ),
                        (
                            name: "list",
                            description: Some("List all available secrets"),
                            options: [
                                (
                                    names: [
                                        "--profile",
                                    ],
                                    description: Some("AWS profile name"),
                                    arguments: [
                                        (
                                            name: "profile",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            name: "get",
                            description: Some("View details of a secret"),
                            options: [
                                (
                                    names: [
                                        "--profile",
                                    ],
                                    description: Some("AWS profile name"),
                                    arguments: [
                                        (
                                            name: "profile",
                                        ),
                                    ],
                                ),
                            ],
                            arguments: [
                                (
                                    name: "secret_name",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
            options: [
                (
                    names: [
                        "--dir-to-watch",
                    ],
                    description: Some("Directory to watch for file changes"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--exclude",
                    ],
                    description: Some("Paths or glob patterns to ignore"),
                    arguments: [
                        (
                            name: "pattern",
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--identifier",
                    ],
                    description: Some("Name to distinguish between sandbox environments"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--outputs-out-dir",
                    ],
                    description: Some("Directory where client config file is written"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--outputs-format",
                    ],
                    description: Some("Format of the client config file"),
                    arguments: [
                        (
                            name: "format",
                            suggestions: [
                                (
                                    name: "json",
                                ),
                                (
                                    name: "dart",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--outputs-version",
                    ],
                    description: Some("Version of the configuration"),
                    arguments: [
                        (
                            name: "version",
                            suggestions: [
                                (
                                    name: "0",
                                ),
                                (
                                    name: "1",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("AWS profile name"),
                    arguments: [
                        (
                            name: "profile",
                        ),
                    ],
                ),
                (
                    names: [
                        "--stream-function-logs",
                    ],
                    description: Some("Stream function execution logs"),
                    arguments: [
                        (
                            name: "boolean",
                            suggestions: [
                                (
                                    name: "true",
                                ),
                                (
                                    name: "false",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--logs-filter",
                    ],
                    description: Some("Regex pattern to filter logs"),
                    arguments: [
                        (
                            name: "pattern",
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--logs-out-file",
                    ],
                    description: Some("File to append streaming logs"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "generate",
            description: Some("Generate supplemental information or code"),
            subcommands: [
                (
                    name: "outputs",
                    description: Some("Generate backend outputs file"),
                    options: [
                        (
                            names: [
                                "--profile",
                            ],
                            description: Some("AWS profile name"),
                            arguments: [
                                (
                                    name: "profile",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--format",
                            ],
                            description: Some("Format of the configuration"),
                            arguments: [
                                (
                                    name: "format",
                                    suggestions: [
                                        (
                                            name: "json",
                                        ),
                                        (
                                            name: "dart",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--out-dir",
                            ],
                            description: Some("Directory where config is written"),
                            arguments: [
                                (
                                    name: "directory",
                                    template: [
                                        Folders,
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--outputs-version",
                            ],
                            description: Some("Version of the configuration"),
                            arguments: [
                                (
                                    name: "version",
                                    suggestions: [
                                        (
                                            name: "0",
                                        ),
                                        (
                                            name: "1",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--branch",
                            ],
                            description: Some("Git branch name"),
                            arguments: [
                                (
                                    name: "branch_name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--app-id",
                            ],
                            description: Some("Amplify App ID"),
                            arguments: [
                                (
                                    name: "app_id",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "graphql-client-code",
                    description: Some("Generate GraphQL statements and types"),
                    options: [
                        (
                            names: [
                                "--out",
                            ],
                            description: Some("Directory where config is written"),
                            arguments: [
                                (
                                    name: "directory",
                                    template: [
                                        Folders,
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--format",
                            ],
                            description: Some("Format of the GraphQL client code"),
                            arguments: [
                                (
                                    name: "format",
                                    suggestions: [
                                        (
                                            name: "modelgen",
                                        ),
                                        (
                                            name: "graphql-codegen",
                                        ),
                                        (
                                            name: "introspection",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--model-target",
                            ],
                            description: Some("Modelgen export target"),
                            arguments: [
                                (
                                    name: "target",
                                    suggestions: [
                                        (
                                            name: "java",
                                        ),
                                        (
                                            name: "swift",
                                        ),
                                        (
                                            name: "javascript",
                                        ),
                                        (
                                            name: "typescript",
                                        ),
                                        (
                                            name: "dart",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--statement-target",
                            ],
                            description: Some("Graphql codegen statement export target"),
                            arguments: [
                                (
                                    name: "target",
                                    suggestions: [
                                        (
                                            name: "javascript",
                                        ),
                                        (
                                            name: "graphql",
                                        ),
                                        (
                                            name: "flow",
                                        ),
                                        (
                                            name: "typescript",
                                        ),
                                        (
                                            name: "angular",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--type-target",
                            ],
                            description: Some("Graphql-codegen type export target"),
                            arguments: [
                                (
                                    name: "target",
                                    suggestions: [
                                        (
                                            name: "json",
                                        ),
                                        (
                                            name: "swift",
                                        ),
                                        (
                                            name: "typescript",
                                        ),
                                        (
                                            name: "flow",
                                        ),
                                        (
                                            name: "scala",
                                        ),
                                        (
                                            name: "flow-modern",
                                        ),
                                        (
                                            name: "angular",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--all",
                            ],
                            description: Some("Show hidden options"),
                        ),
                        (
                            names: [
                                "--profile",
                            ],
                            description: Some("AWS profile name"),
                            arguments: [
                                (
                                    name: "profile",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--debug",
                            ],
                            description: Some("Print debug logs to the console"),
                        ),
                        (
                            names: [
                                "--statement-max-depth",
                            ],
                            description: Some("Maximum depth of the generated GraphQL statements"),
                            arguments: [
                                (
                                    name: "integer",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "forms",
                    description: Some("Generate React form components"),
                    options: [
                        (
                            names: [
                                "--out-dir",
                            ],
                            description: Some("Directory where generated forms are written"),
                            arguments: [
                                (
                                    name: "directory",
                                    template: [
                                        Folders,
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--models",
                            ],
                            description: Some("Model names to generate"),
                            arguments: [
                                (
                                    name: "model",
                                ),
                            ],
                            repeat: Many,
                        ),
                        (
                            names: [
                                "--profile",
                            ],
                            description: Some("AWS profile name"),
                            arguments: [
                                (
                                    name: "profile",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
            options: [
                (
                    names: [
                        "--stack",
                    ],
                    description: Some("CloudFormation stack name"),
                    arguments: [
                        (
                            name: "stack_name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--app-id",
                    ],
                    description: Some("Amplify App ID"),
                    arguments: [
                        (
                            name: "app_id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--branch",
                    ],
                    description: Some("Git branch name"),
                    arguments: [
                        (
                            name: "branch_name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("AWS profile name"),
                    arguments: [
                        (
                            name: "profile",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "info",
            description: Some("Generate system information for troubleshooting"),
        ),
        (
            name: "pipeline-deploy",
            description: Some("Deploy Amplify project in a CI/CD pipeline"),
            options: [
                (
                    names: [
                        "--branch",
                    ],
                    description: Some("Name of the git branch being deployed"),
                    arguments: [
                        (
                            name: "branch_name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--app-id",
                    ],
                    description: Some("The app id of the target Amplify app"),
                    arguments: [
                        (
                            name: "app_id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--outputs-out-dir",
                    ],
                    description: Some("Directory where client config file is written"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--outputs-version",
                    ],
                    description: Some("Version of the configuration"),
                    arguments: [
                        (
                            name: "version",
                            suggestions: [
                                (
                                    name: "0",
                                ),
                                (
                                    name: "1",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Display help information"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Display version information"),
        ),
        (
            names: [
                "--profile",
            ],
            description: Some("AWS profile name"),
            arguments: [
                (
                    name: "profile",
                ),
            ],
        ),
    ],
)
