(
    version: 1,
    command: "ansible-lint",
    description: Some("Ansible static code analysis"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for ansible-lint"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--list-rules",
                "-L",
            ],
            description: Some("List all the rules"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--list-tags",
                "-T",
            ],
            description: Some("List all the tags and the rules they cover"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--format",
                "-f",
            ],
            description: Some("Stdout formatting"),
            takes_value: true,
            arguments: [
                (
                    name: "-f",
                    source: Static([
                        "rich",
                        "plain",
                        "md",
                        "json",
                        "codeclimate",
                        "quiet",
                        "pep8",
                        "sarif",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-q",
            ],
            description: Some("Quieter, reduce verbosity, can be specified twice"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Parseable output, same as \'-f pep8\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--progressive",
            ],
            description: Some("Return success if it detects a reduction in number of violations compared with previous git commit. This feature works only in git repositories"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--project-dir",
            ],
            description: Some("Location of project/repository, autodetected based on location of configuration file"),
            takes_value: true,
            arguments: [
                (
                    name: "PROJECT_DIR",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--rules-dir",
                "-r",
            ],
            description: Some("Specify custom rule directories"),
            takes_value: true,
            arguments: [
                (
                    name: "RULESDIR",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Keep using embedded rules when using \'-r\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--write",
            ],
            description: Some("Allow ansible-lint to reformat YAML files and run rule transforms"),
            takes_value: true,
            arguments: [
                (
                    name: "WRITE_LIST",
                    source: Static([
                        "all",
                        "none",
                        "rule1,rule2,...",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--show-relpath",
            ],
            description: Some("Display path relative to CWD"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--tags",
                "-t",
            ],
            description: Some("Only check rules whose id/tags match these values"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Increase verbosity level (-vv for more)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--skip-list",
                "-x",
            ],
            description: Some("Only check rules whose id/tags do not match these values"),
            takes_value: true,
            arguments: [
                (
                    name: "SKIP_LIST",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--warn-list",
                "-w",
            ],
            description: Some("Only warn about these rules, unless overridden in config file defaults to \'experimental\'"),
            takes_value: true,
            arguments: [
                (
                    name: "WARN_LIST",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--enable-list",
            ],
            description: Some("Activate optional rules by their tag name"),
            takes_value: true,
            arguments: [
                (
                    name: "ENABLE_LIST",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--nocolor",
            ],
            description: Some("Disable colored output, same as NO_COLOR=1"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--force-color",
            ],
            description: Some("Force colored output, same as FORCE_COLOR=1"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--exclude-paths",
            ],
            description: Some("Path to directories or files to skip. This option is repeatable"),
            takes_value: true,
            arguments: [
                (
                    name: "EXCLUDE_PATHS",
                    source: Directories,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--config-file",
            ],
            description: Some("Specify configuration file to use. By default it will look for \'.ansible-lint\' or \'.config/ansible-lint.yml\'"),
            takes_value: true,
            arguments: [
                (
                    name: "CONFIG_FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--offline",
            ],
            description: Some("Disable installation of requirements.yml"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show version of ansible-lint"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "lintables",
            source: Files,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)