(
    version: 1,
    command: "ansible-playbook",
    description: Some("Runs Ansible playbooks, executing the defined tasks on the targeted hosts"),
    options: [
        (
            names: [
                "--ask-vault-pass",
            ],
            description: Some("Ask for vault password"),
        ),
        (
            names: [
                "--flush-cache",
            ],
            description: Some("Clears the fact cache for every host in inventory"),
        ),
        (
            names: [
                "--force-handlers",
            ],
            description: Some("Run handlers even if a task fails"),
        ),
        (
            names: [
                "--list-hosts",
            ],
            description: Some("Outputs a list of matching hosts; does not execute"),
        ),
        (
            names: [
                "--list-tags",
            ],
            description: Some("List all available tags"),
        ),
        (
            names: [
                "--list-tasks",
            ],
            description: Some("List all tasks that would be executed"),
        ),
        (
            names: [
                "--skip-tags",
            ],
            description: Some("Only run plays and tasks whose tags do not match these values"),
            arguments: [
                (
                    name: "tags",
                ),
            ],
        ),
        (
            names: [
                "--start-at-task",
            ],
            description: Some("Start the playbook at the task matching this name one-step-at-a-time"),
            arguments: [
                (
                    name: "task name",
                ),
            ],
        ),
        (
            names: [
                "--step",
            ],
            description: Some("Execute one-step-at-a-time"),
        ),
        (
            names: [
                "--syntax-check",
            ],
            description: Some("Perform a syntax check on the playbook, but do not execute it"),
        ),
        (
            names: [
                "--vault-id",
            ],
            description: Some("Specify the vault identity to use"),
            arguments: [
                (
                    name: "vault ID",
                ),
            ],
        ),
        (
            names: [
                "--vault-password-file",
            ],
            description: Some("Specify a vault password file"),
            arguments: [
                (
                    name: "vault password file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show program's version number, config file location, configured module search path, module location and executable location"),
        ),
        (
            names: [
                "--check",
                "-C",
            ],
            description: Some("Don't make any changes; instead, try to predict some of the changes that may occur"),
        ),
        (
            names: [
                "--diff",
                "-D",
            ],
            description: Some("When changing (small) files and templates, show the differences in those files"),
        ),
        (
            names: [
                "--module-path",
                "-M",
            ],
            description: Some("Prepend colon-separated path(s) to module library"),
            arguments: [
                (
                    name: "module path",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--extra-vars",
                "-e",
            ],
            description: Some("Set additional variables as key=value or YAML/JSON, if filename prepend with @"),
            arguments: [
                (
                    name: "extra vars",
                ),
            ],
        ),
        (
            names: [
                "--forks",
                "-f",
            ],
            description: Some("Specify number of parallel processes to use"),
            arguments: [
                (
                    name: "forks",
                ),
            ],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for ansible"),
        ),
        (
            names: [
                "--inventory",
                "-i",
            ],
            description: Some("Specify inventory host path or comma separated host list"),
            arguments: [
                (
                    name: "inventory",
                ),
            ],
        ),
        (
            names: [
                "--limit",
                "-l",
            ],
            description: Some("Limit selected hosts to an additional pattern"),
            arguments: [
                (
                    name: "subset",
                ),
            ],
        ),
        (
            names: [
                "--tags",
                "-t",
            ],
            description: Some("Only run plays and tasks tagged with these values"),
            arguments: [
                (
                    name: "tags",
                ),
            ],
        ),
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Enable verbose mode"),
        ),
        (
            names: [
                "-vvv",
            ],
            description: Some("Enable very verbose mode"),
        ),
        (
            names: [
                "-vvvv",
            ],
            description: Some("Enable connection debug mode"),
        ),
        (
            names: [
                "--become-method",
            ],
            description: Some("Privilege escalation method to use"),
            arguments: [
                (
                    name: "become method",
                    suggestions: [
                        (
                            name: "sudo",
                        ),
                        (
                            name: "su",
                        ),
                        (
                            name: "pbrun",
                        ),
                        (
                            name: "pfexec",
                        ),
                        (
                            name: "doas",
                        ),
                        (
                            name: "dzdo",
                        ),
                        (
                            name: "ksu",
                        ),
                        (
                            name: "runas",
                        ),
                        (
                            name: "machinectl",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--become-user",
            ],
            description: Some("Privilege escalation user to use"),
            arguments: [
                (
                    name: "become user",
                ),
            ],
        ),
        (
            names: [
                "--ask-become-pass",
                "-K",
            ],
            description: Some("Prompt for privilege escalation password"),
        ),
        (
            names: [
                "--become",
                "-b",
            ],
            description: Some("Run operations with become"),
        ),
        (
            names: [
                "--private-key",
                "--key-file",
            ],
            description: Some("Use this fole to authenticate the connection"),
            arguments: [
                (
                    name: "private key",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--scp-extra-args",
            ],
            description: Some("Extra arguments to pass to (only) scp"),
            arguments: [
                (
                    name: "SCP extra args",
                ),
            ],
        ),
        (
            names: [
                "--sftp-extra-args",
            ],
            description: Some("Extra arguments to pass to (only) sftp"),
            arguments: [
                (
                    name: "SFTP extra args",
                ),
            ],
        ),
        (
            names: [
                "-ssh-extra-args",
            ],
            description: Some("Extra arguments to pass to (only) ssh"),
            arguments: [
                (
                    name: "SSH extra args",
                ),
            ],
        ),
        (
            names: [
                "--ssh-common-args",
            ],
            description: Some("Extra arguments to pass to sftp/scp/ssh"),
            arguments: [
                (
                    name: "SSH common args",
                ),
            ],
        ),
        (
            names: [
                "--timeout",
                "-T",
            ],
            description: Some("Override the connection timeout in seconds"),
            arguments: [
                (
                    name: "timeout",
                ),
            ],
        ),
        (
            names: [
                "--connection",
                "-c",
            ],
            description: Some("Connection type to use"),
            arguments: [
                (
                    name: "connection type",
                ),
            ],
        ),
        (
            names: [
                "--ask-pass",
                "-k",
            ],
            description: Some("Ask for connection password"),
        ),
        (
            names: [
                "--user",
                "-u",
            ],
            description: Some("Connect as this user"),
            arguments: [
                (
                    name: "user",
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "playbook",
            description: Some("Playbook(s)"),
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
            variadic: true,
        ),
    ],
)
