(
    version: 1,
    command: "ansible-doc",
    description: Some("Displays information on modules installed in Ansible libraries"),
    options: [
        (
            names: [
                "--metadata-dump",
            ],
            description: Some("For internal testing only Dump json metadata for all plugins"),
            arguments: [
                (
                    name: "",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--playbook-dir",
            ],
            description: Some("Sets the relative path for many features including roles/ group_vars/ etc"),
            arguments: [
                (
                    name: "BASEDIR",
                    description: Some("Base directory"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Shows version number, config file location, module search path, module location, executable location and exit"),
            arguments: [
                (
                    name: "",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--list_files",
                "-F",
            ],
            description: Some("Show plugin names and their source files without summaries (implies --list)"),
            arguments: [
                (
                    name: "",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--module-path",
                "-M",
            ],
            description: Some("Prepend colon-separated path(s) to module library"),
            arguments: [
                (
                    name: "",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--entry-point",
                "-E",
            ],
            description: Some("Select the entry point for role(s)"),
            arguments: [
                (
                    name: "ENTRY_POINT",
                ),
            ],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help and exit"),
            arguments: [
                (
                    name: "",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--json",
                "-j",
            ],
            description: Some("Change output into json format"),
            arguments: [
                (
                    name: "",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--list",
                "-l",
            ],
            description: Some("List available plugins; a supplied argument will be used for filtering (can be a namespace or full collection name)"),
            arguments: [
                (
                    name: "NAMESPACE|COLLECTION",
                    optional: true,
                    dangerous: true,
                ),
            ],
        ),
        (
            names: [
                "--roles-path",
                "-r",
            ],
            description: Some("The path to the directory containing your roles"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--snippet",
                "-s",
            ],
            description: Some("Show playbook snippet for these plugin types: inventory, lookup, module"),
            arguments: [
                (
                    name: "PLUGIN_TYPE",
                    suggestions: [
                        (
                            name: "inventory",
                        ),
                        (
                            name: "lookup",
                        ),
                        (
                            name: "module",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--type",
                "-t",
            ],
            description: Some("Choose which plugin type (defaults to \"module\")"),
            arguments: [
                (
                    name: "PLUGIN_TYPE",
                    suggestions: [
                        (
                            name: "become",
                        ),
                        (
                            name: "cache",
                        ),
                        (
                            name: "callback",
                        ),
                        (
                            name: "cliconf",
                        ),
                        (
                            name: "connection",
                        ),
                        (
                            name: "httpapi",
                        ),
                        (
                            name: "inventory",
                        ),
                        (
                            name: "lookup",
                        ),
                        (
                            name: "netconf",
                        ),
                        (
                            name: "shell",
                        ),
                        (
                            name: "vars",
                        ),
                        (
                            name: "module",
                        ),
                        (
                            name: "strategy",
                        ),
                        (
                            name: "role",
                        ),
                        (
                            name: "keyword",
                        ),
                    ],
                    default: Some("module"),
                ),
            ],
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Verbose mode (-vvv for more, -vvvv to enable connection debugging)"),
            arguments: [
                (
                    name: "",
                    optional: true,
                ),
            ],
            exclusive_on: [
                "-v",
            ],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Verbose mode (-vvv for more, -vvvv to enable connection debugging)"),
            arguments: [
                (
                    name: "",
                    optional: true,
                ),
            ],
            repeat: Times(5),
            exclusive_on: [
                "--verbose",
            ],
        ),
    ],
    arguments: [
        (
            name: "plugin",
            generators: [
                (
                    script: [
                        "ansible-doc",
                        "--list",
                        "--json",
                    ],
                    has_post_process: true,
                ),
            ],
            variadic: true,
            dangerous: true,
        ),
    ],
)
