(
    version: 1,
    command: "ansible-doc",
    description: Some("Displays information on modules installed in Ansible libraries"),
    subcommands: [],
    options: [
        (
            names: [
                "--metadata-dump",
            ],
            description: Some("For internal testing only Dump json metadata for all plugins"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--playbook-dir",
            ],
            description: Some("Sets the relative path for many features including roles/ group_vars/ etc"),
            takes_value: true,
            arguments: [
                (
                    name: "BASEDIR",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Shows version number, config file location, module search path, module location, executable location and exit"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--list_files",
                "-F",
            ],
            description: Some("Show plugin names and their source files without summaries (implies --list)"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--module-path",
                "-M",
            ],
            description: Some("Prepend colon-separated path(s) to module library"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--entry-point",
                "-E",
            ],
            description: Some("Select the entry point for role(s)"),
            takes_value: true,
            arguments: [
                (
                    name: "ENTRY_POINT",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help and exit"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--json",
                "-j",
            ],
            description: Some("Change output into json format"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--list",
                "-l",
            ],
            description: Some("List available plugins; a supplied argument will be used for filtering (can be a namespace or full collection name)"),
            takes_value: true,
            arguments: [
                (
                    name: "NAMESPACE|COLLECTION",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--roles-path",
                "-r",
            ],
            description: Some("The path to the directory containing your roles"),
            takes_value: true,
            arguments: [
                (
                    name: "PATH",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--snippet",
                "-s",
            ],
            description: Some("Show playbook snippet for these plugin types: inventory, lookup, module"),
            takes_value: true,
            arguments: [
                (
                    name: "PLUGIN_TYPE",
                    source: Static([
                        "inventory",
                        "lookup",
                        "module",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--type",
                "-t",
            ],
            description: Some("Choose which plugin type (defaults to \"module\")"),
            takes_value: true,
            arguments: [
                (
                    name: "PLUGIN_TYPE",
                    source: Static([
                        "become",
                        "cache",
                        "callback",
                        "cliconf",
                        "connection",
                        "httpapi",
                        "inventory",
                        "lookup",
                        "netconf",
                        "shell",
                        "vars",
                        "module",
                        "strategy",
                        "role",
                        "keyword",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Verbose mode (-vvv for more, -vvvv to enable connection debugging)"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Verbose mode (-vvv for more, -vvvv to enable connection debugging)"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "plugin",
            source: Unavailable,
            optional: false,
            variadic: true,
            imported_generator: Some((
                script: [
                    "ansible-doc",
                    "--list",
                    "--json",
                ],
                has_post_process: true,
                has_custom: false,
            )),
        ),
    ],
)