(
    version: 1,
    command: "arch",
    description: Some("Print architecture type or run select architecture"),
    subcommands: [],
    options: [
        (
            names: [
                "-32",
            ],
            description: Some("Add the native 32-bit architecture to the list of architectures"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-64",
            ],
            description: Some("Add the native 64-bit architecture to the list of architectures"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-arch",
            ],
            description: None,
            takes_value: true,
            arguments: [
                (
                    name: "arch_name",
                    source: Static([
                        "i386",
                        "x86_64",
                        "x86_64h",
                        "arm64",
                        "arm64e",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i386",
            ],
            description: Some("32-bit intel"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x86_64",
            ],
            description: Some("64-bit intel"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x86_64h",
            ],
            description: Some("64-bit intel (haswell)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-arm64",
            ],
            description: Some("64-bit arm"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-arm64e",
            ],
            description: Some("64-bit arm (Apple Silicon)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Clear the environment that will be passed to the command"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Delete the named environment variable from the command\'s environment"),
            takes_value: true,
            arguments: [
                (
                    name: "envname",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Assign the given value to the variable in the command\'s environment"),
            takes_value: true,
            arguments: [
                (
                    name: "envname=value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
            ],
            description: Some("Print a help message and exit"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "program",
            source: Files,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)