(
    version: 1,
    command: "arch",
    description: Some("Print architecture type or run select architecture"),
    options: [
        (
            names: [
                "-32",
            ],
            description: Some("Add the native 32-bit architecture to the list of architectures"),
        ),
        (
            names: [
                "-64",
            ],
            description: Some("Add the native 64-bit architecture to the list of architectures"),
        ),
        (
            names: [
                "-arch",
            ],
            arguments: [
                (
                    name: "arch_name",
                    suggestions: [
                        (
                            name: "i386",
                            description: Some("32-bit intel"),
                            presentation: (
                                icon: Some("fig://icon?type=cpu"),
                            ),
                        ),
                        (
                            name: "x86_64",
                            description: Some("64-bit intel"),
                            presentation: (
                                icon: Some("fig://icon?type=cpu"),
                            ),
                        ),
                        (
                            name: "x86_64h",
                            description: Some("64-bit intel (haswell)"),
                            presentation: (
                                icon: Some("fig://icon?type=cpu"),
                            ),
                        ),
                        (
                            name: "arm64",
                            description: Some("64-bit arm"),
                            presentation: (
                                icon: Some("fig://icon?type=cpu"),
                            ),
                        ),
                        (
                            name: "arm64e",
                            description: Some("64-bit arm (Apple Silicon)"),
                            presentation: (
                                icon: Some("fig://icon?type=cpu"),
                            ),
                        ),
                    ],
                ),
            ],
            repeat: Many,
            exclusive_on: [
                "-i386",
                "-x86_64",
                "-x86_64h",
                "-arm64",
                "-arm64e",
            ],
        ),
        (
            names: [
                "-i386",
            ],
            description: Some("32-bit intel"),
            repeat: Many,
            exclusive_on: [
                "-arch",
            ],
            presentation: (
                icon: Some("fig://icon?type=cpu"),
            ),
        ),
        (
            names: [
                "-x86_64",
            ],
            description: Some("64-bit intel"),
            repeat: Many,
            exclusive_on: [
                "-arch",
            ],
            presentation: (
                icon: Some("fig://icon?type=cpu"),
            ),
        ),
        (
            names: [
                "-x86_64h",
            ],
            description: Some("64-bit intel (haswell)"),
            repeat: Many,
            exclusive_on: [
                "-arch",
            ],
            presentation: (
                icon: Some("fig://icon?type=cpu"),
            ),
        ),
        (
            names: [
                "-arm64",
            ],
            description: Some("64-bit arm"),
            repeat: Many,
            exclusive_on: [
                "-arch",
            ],
            presentation: (
                icon: Some("fig://icon?type=cpu"),
            ),
        ),
        (
            names: [
                "-arm64e",
            ],
            description: Some("64-bit arm (Apple Silicon)"),
            repeat: Many,
            exclusive_on: [
                "-arch",
            ],
            presentation: (
                icon: Some("fig://icon?type=cpu"),
            ),
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Clear the environment that will be passed to the command"),
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Delete the named environment variable from the command's environment"),
            arguments: [
                (
                    name: "envname",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Assign the given value to the variable in the command's environment"),
            arguments: [
                (
                    name: "envname=value",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "-h",
            ],
            description: Some("Print a help message and exit"),
        ),
    ],
    arguments: [
        (
            name: "program",
            template: [
                FilePaths,
            ],
            variadic: true,
            is_command: true,
        ),
    ],
    parser_directives: Some((
        flags_are_posix_noncompliant: true,
        options_must_precede_arguments: true,
    )),
)
