(
    version: 1,
    command: "asr",
    description: Some("Asr efficiently copies disk images onto volumes, either directly or via a multicast network stream"),
    subcommands: [
        (
            name: "help",
            description: Some("Displays asr usage information"),
        ),
        (
            name: "version",
            description: Some("Displays asr version"),
        ),
        (
            name: "restore",
            description: Some("Restores a disk image or volume to another volume"),
            options: [
                (
                    names: [
                        "--source",
                    ],
                    description: Some("Can be a disk image, /dev entry, or volume mountpoint"),
                    arguments: [
                        (
                            name: "source",
                            description: Some("Disk image, /dev entry, or volume mountpoint"),
                            template: [
                                FilePaths,
                            ],
                            suggest_current_token: true,
                        ),
                    ],
                    depends_on: [
                        "--target",
                        "--file",
                    ],
                ),
                (
                    names: [
                        "--target",
                    ],
                    description: Some("Can be a /dev entry, or volume mountpoint"),
                    arguments: [
                        (
                            name: "target",
                            description: Some("/dev entry, or volume mountpoint"),
                            template: [
                                FilePaths,
                            ],
                            suggest_current_token: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--file",
                    ],
                    description: Some("When performing a multicast restore, --file can be specified instead of --target"),
                    arguments: [
                        (
                            name: "source",
                            description: Some("Disk image, /dev entry, or volume mountpoint"),
                            template: [
                                FilePaths,
                            ],
                            suggest_current_token: true,
                        ),
                    ],
                    depends_on: [
                        "--erase",
                    ],
                ),
                (
                    names: [
                        "--erase",
                    ],
                    description: Some("Erases target and is required. --erase must always be used, as file copies are no longer supported by asr"),
                ),
                (
                    names: [
                        "--format",
                    ],
                    description: Some("Specifies the destination filesystem format"),
                    arguments: [
                        (
                            name: "HFS+ | HFSX",
                            description: Some("Specify the destination filesystem format"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--noprompt",
                    ],
                    description: Some("Suppresses the prompt which usually occurs before target"),
                ),
                (
                    names: [
                        "--timeout",
                    ],
                    description: Some("Specifies num seconds that a multicast client should wait when no payload data has been received over a multicast stream before exiting"),
                    arguments: [
                        (
                            name: "num",
                            description: Some("Number of seconds that a multicast client should wait"),
                            suggestions: [
                                (
                                    name: "0",
                                ),
                            ],
                            optional: true,
                            default: Some("0"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--puppetstrings",
                    ],
                    description: Some("Provide progress output that is easy for another program to parse"),
                ),
                (
                    names: [
                        "--noverify",
                    ],
                    description: Some("Skips the verification steps normally taken to ensure that a volume has been properly restored"),
                ),
                (
                    names: [
                        "--allowfragmentedcatalog",
                    ],
                    description: Some("Allows restores to proceed even if the source's catalog file is fragmented"),
                ),
                (
                    names: [
                        "--SHA256",
                    ],
                    description: Some("Forces the restore to use the SHA-256 hash in the image during verification"),
                ),
                (
                    names: [
                        "--sourcevolumename",
                    ],
                    description: Some("Tells asr which volume in the source container to invert when doing an APFS restore"),
                ),
                (
                    names: [
                        "--sourcevolumeUUID",
                    ],
                    description: Some("Tells asr which volume in the source container to invert when doing an APFS restore"),
                ),
                (
                    names: [
                        "--useReplication",
                    ],
                    description: Some("Forces asr to use replication for restoring APFS volumes"),
                ),
                (
                    names: [
                        "--useInverter",
                    ],
                    description: Some("Forces asr to use the inverter for restoring APFS volumes"),
                ),
                (
                    names: [
                        "--toSnapshot",
                    ],
                    description: Some("Specifies the snapshot on the source APFS volume to restore to the target APFS volume"),
                ),
                (
                    names: [
                        "--fromSnapshot",
                    ],
                    description: Some("Names a snapshot on the source APFS volume to use in combination with --toSnapshot to specify a snapshot delta to restore to the target APFS volume"),
                ),
            ],
        ),
        (
            name: "restoreexact",
            description: Some("Same as restore verb, except that for an HFS Plus volume, the target partition is resized to match the size of the source partition/ volume"),
            options: [
                (
                    names: [
                        "--source",
                    ],
                    description: Some("Can be a disk image, /dev entry, or volume mountpoint"),
                    arguments: [
                        (
                            name: "source",
                            description: Some("Disk image, /dev entry, or volume mountpoint"),
                            template: [
                                FilePaths,
                            ],
                            suggest_current_token: true,
                        ),
                    ],
                    depends_on: [
                        "--target",
                        "--file",
                    ],
                ),
                (
                    names: [
                        "--target",
                    ],
                    description: Some("Can be a /dev entry, or volume mountpoint"),
                    arguments: [
                        (
                            name: "target",
                            description: Some("/dev entry, or volume mountpoint"),
                            template: [
                                FilePaths,
                            ],
                            suggest_current_token: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--file",
                    ],
                    description: Some("When performing a multicast restore, --file can be specified instead of --target"),
                    arguments: [
                        (
                            name: "source",
                            description: Some("Disk image, /dev entry, or volume mountpoint"),
                            template: [
                                FilePaths,
                            ],
                            suggest_current_token: true,
                        ),
                    ],
                    depends_on: [
                        "--erase",
                    ],
                ),
                (
                    names: [
                        "--erase",
                    ],
                    description: Some("Erases target and is required. --erase must always be used, as file copies are no longer supported by asr"),
                ),
                (
                    names: [
                        "--format",
                    ],
                    description: Some("Specifies the destination filesystem format"),
                    arguments: [
                        (
                            name: "HFS+ | HFSX",
                            description: Some("Specify the destination filesystem format"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--noprompt",
                    ],
                    description: Some("Suppresses the prompt which usually occurs before target"),
                ),
                (
                    names: [
                        "--timeout",
                    ],
                    description: Some("Specifies num seconds that a multicast client should wait when no payload data has been received over a multicast stream before exiting"),
                    arguments: [
                        (
                            name: "num",
                            description: Some("Number of seconds that a multicast client should wait"),
                            suggestions: [
                                (
                                    name: "0",
                                ),
                            ],
                            optional: true,
                            default: Some("0"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--puppetstrings",
                    ],
                    description: Some("Provide progress output that is easy for another program to parse"),
                ),
                (
                    names: [
                        "--noverify",
                    ],
                    description: Some("Skips the verification steps normally taken to ensure that a volume has been properly restored"),
                ),
                (
                    names: [
                        "--allowfragmentedcatalog",
                    ],
                    description: Some("Allows restores to proceed even if the source's catalog file is fragmented"),
                ),
                (
                    names: [
                        "--SHA256",
                    ],
                    description: Some("Forces the restore to use the SHA-256 hash in the image during verification"),
                ),
                (
                    names: [
                        "--sourcevolumename",
                    ],
                    description: Some("Tells asr which volume in the source container to invert when doing an APFS restore"),
                ),
                (
                    names: [
                        "--sourcevolumeUUID",
                    ],
                    description: Some("Tells asr which volume in the source container to invert when doing an APFS restore"),
                ),
                (
                    names: [
                        "--useReplication",
                    ],
                    description: Some("Forces asr to use replication for restoring APFS volumes"),
                ),
                (
                    names: [
                        "--useInverter",
                    ],
                    description: Some("Forces asr to use the inverter for restoring APFS volumes"),
                ),
                (
                    names: [
                        "--toSnapshot",
                    ],
                    description: Some("Specifies the snapshot on the source APFS volume to restore to the target APFS volume"),
                ),
                (
                    names: [
                        "--fromSnapshot",
                    ],
                    description: Some("Names a snapshot on the source APFS volume to use in combination with --toSnapshot to specify a snapshot delta to restore to the target APFS volume"),
                ),
            ],
            presentation: (
                display_name: Some("restore[exact]"),
            ),
        ),
        (
            name: "server",
            description: Some("Multicasts source over the network"),
            options: [
                (
                    names: [
                        "--source",
                    ],
                    description: Some("Source has to be a UDIF disk image"),
                    arguments: [
                        (
                            name: "source",
                            description: Some("UDIF disk image local/remote path"),
                            template: [
                                FilePaths,
                            ],
                            suggest_current_token: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--interface",
                    ],
                    description: Some("The network interface to be used for multicasting"),
                    arguments: [
                        (
                            name: "interface",
                            description: Some("The network interface to be used for multicasting"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--config",
                    ],
                    description: Some("Server requires a configuration file to be passed"),
                    arguments: [
                        (
                            name: "configuration",
                            description: Some("Configuration file in standard property list format"),
                            generators: [
                                (
                                    has_custom: true,
                                    has_dynamic_trigger: true,
                                    has_dynamic_query_term: true,
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "imagescan",
            description: Some("Calculate checksums of the data in the provided image and store them in the image"),
        ),
        (
            name: "info",
            description: Some("Report the image metadata which was placed in the image by a previous use of the imagescan verb"),
            options: [
                (
                    names: [
                        "--plist",
                    ],
                    description: Some("Writes its output as an XML-formatted plist"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--buffers",
            ],
            description: Some("One of the options that control how asr uses memory"),
            arguments: [
                (
                    name: "num",
                    description: Some("Specifies the num buffers should be used"),
                ),
            ],
        ),
        (
            names: [
                "--buffersize",
            ],
            description: Some("One of the options that control how asr uses memory"),
            arguments: [
                (
                    name: "size",
                    description: Some("Specifies the size of each buffer"),
                ),
            ],
        ),
        (
            names: [
                "--csumbuffers",
            ],
            description: Some("One of the options that control how asr uses memory"),
            arguments: [
                (
                    name: "num",
                    description: Some("Specifies that num buffers should be used for checksumming operations"),
                ),
            ],
        ),
        (
            names: [
                "--csumbuffersize",
            ],
            description: Some("One of the options that control how asr uses memory"),
            arguments: [
                (
                    name: "size",
                    description: Some("Specifies the size of each buffer used for checksumming"),
                ),
            ],
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Enables verbose progress and error messages"),
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Enables other progress and error messages"),
        ),
    ],
)
