(
    version: 1,
    command: "assimp",
    description: Some("Open Asset Import Library"),
    subcommands: [
        (
            name: "listext",
            description: Some("List all known file extensions available for import"),
        ),
        (
            name: "listexport",
            description: Some("List all supported export formats"),
        ),
        (
            name: "knowext",
            description: Some("List all known file extensions available for import"),
            arguments: [
                (
                    name: "extension",
                    description: Some("Check whether a particular file extension is known by us"),
                    generators: [
                        (
                            script: [
                                "assimp",
                                "listext",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "exportinfo",
            description: Some("Show basic information on a specific export format"),
            arguments: [
                (
                    name: "extension",
                    description: Some("Specific file extension"),
                    generators: [
                        (
                            script: [
                                "assimp",
                                "listexport",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "info",
            description: Some("Load a model file and print basic statistics. Full postprocessing is applied unless the `-r` switch is specified"),
            options: [
                (
                    names: [
                        "-r",
                        "--raw",
                    ],
                    description: Some("No postprocessing, do a raw import"),
                ),
                (
                    names: [
                        "-v",
                        "--verbose",
                    ],
                    description: Some("Print verbose info such as node transform data"),
                ),
                (
                    names: [
                        "-s",
                        "--silent",
                    ],
                    description: Some("Print only minimal info"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Detailed help on a command"),
                ),
            ],
            arguments: [
                (
                    name: "file",
                    description: Some("Print basic structure of a 3D model"),
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "export",
            description: Some("Export a file to one of the supported output formats"),
            options: [
                (
                    names: [
                        "-f",
                        "--format",
                    ],
                    description: Some("Export file formats supported by Assimp"),
                    arguments: [
                        (
                            name: "format",
                            generators: [
                                (
                                    script: [
                                        "assimp",
                                        "listexport",
                                    ],
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Detailed help on a command"),
                ),
            ],
            arguments: [
                (
                    name: "model",
                    description: Some("Relative or absolute path to the input model"),
                    template: [
                        FilePaths,
                    ],
                ),
                (
                    name: "out",
                    description: Some("Relative or absolute path to write the output export to"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            name: "extract",
            description: Some("Extract embedded texture images"),
            options: [
                (
                    names: [
                        "-t",
                        "--texture",
                    ],
                    description: Some("Zero-based index of the texture to be extracted"),
                    arguments: [
                        (
                            name: "index",
                        ),
                    ],
                ),
                (
                    names: [
                        "-ba",
                        "–-bmp-with-alpha",
                    ],
                    description: Some("Specifies whether output BMPs contain an alpha channel or not"),
                ),
                (
                    names: [
                        "-f",
                        "--format",
                    ],
                    description: Some("Specifies the output file format. Supported formats are BMP and TGA. The default value is BMP (if a full output filename is specified, the output file format is taken from its extension)"),
                    arguments: [
                        (
                            name: "format",
                            suggestions: [
                                (
                                    name: "bmp",
                                ),
                                (
                                    name: "tga",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-s",
                        "–-nosuffix",
                    ],
                    description: Some("Prevents the tool from adding the _img<n> suffix to all filenames. This option must be specified together with -t to ensure that just one image is written"),
                ),
                (
                    names: [
                        "-cfast",
                    ],
                    description: Some("Fast post processing preset, runs just a few important steps"),
                ),
                (
                    names: [
                        "-cdefault",
                    ],
                    description: Some("Default post processing: runs all recommended steps"),
                ),
                (
                    names: [
                        "-cfull",
                    ],
                    description: Some("Fires almost all post processing steps"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Detailed help on a command"),
                ),
            ],
            arguments: [
                (
                    name: "model",
                    description: Some("Relative or absolute path to the input model"),
                    template: [
                        FilePaths,
                    ],
                ),
                (
                    name: "out",
                    description: Some("Relative or absolute path to write the output images to"),
                    template: [
                        Folders,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "dump",
            description: Some("Convert models to a binary or textual dump (ASSBIN/ASSXML)"),
            options: [
                (
                    names: [
                        "-b",
                        "--binary",
                    ],
                    description: Some("If true, the dump is written in binary format"),
                ),
                (
                    names: [
                        "-s",
                        "--short",
                    ],
                    description: Some("If true, the dump is shortened to include only min/max values for all vertex components and animation channels"),
                ),
                (
                    names: [
                        "-z",
                        "--compressed",
                    ],
                    description: Some("If true, Compressed"),
                ),
                (
                    names: [
                        "-cfast",
                    ],
                    description: Some("Fast post processing preset, runs just a few important steps"),
                ),
                (
                    names: [
                        "-cdefault",
                    ],
                    description: Some("Default post processing: runs all recommended steps"),
                ),
                (
                    names: [
                        "-cfull",
                    ],
                    description: Some("Fires almost all post processing steps"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Detailed help on a command"),
                ),
            ],
            arguments: [
                (
                    name: "model",
                    description: Some("Relative or absolute path to the input model"),
                    template: [
                        FilePaths,
                    ],
                ),
                (
                    name: "out",
                    description: Some("Relative or absolute path to write the output dump to. If it is omitted, the dump is written to '<model>-dump.txt'"),
                    template: [
                        Folders,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "cmpdump",
            description: Some("Compare dumps created using 'assimp dump <file> -s ...'"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Detailed help on a command"),
                ),
            ],
            arguments: [
                (
                    name: "actual",
                    description: Some("Mini dump now"),
                    template: [
                        FilePaths,
                    ],
                ),
                (
                    name: "expected",
                    description: Some("Archived dump from some point in the past"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "version",
            description: Some("Display Assimp version"),
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display some basic help"),
        ),
    ],
)
