(
    version: 1,
    command: "authchanger",
    description: Some("Authchanger is a utility included with Jamf Connect to help you manage the authorization database used by macOS to determine how the login process progresses"),
    options: [
        (
            names: [
                "-help",
                "-h",
            ],
            description: Some("Show help for authchanger"),
        ),
        (
            names: [
                "-version",
            ],
            description: Some("Prints the version number"),
        ),
        (
            names: [
                "-print",
            ],
            description: Some("Prints the current list of authorization mechanisms"),
        ),
        (
            names: [
                "-debug",
            ],
            description: Some("Does a dry run of the changes and prints out what would have happened"),
        ),
        (
            names: [
                "-reset",
            ],
            description: Some("Resets the login screen to the factory settings"),
        ),
        (
            names: [
                "-demobilize",
            ],
            description: Some("Sets up Jamf Connect Login to only demobilze accounts"),
        ),
        (
            names: [
                "-notify",
            ],
            description: Some("Adds the DEP Notify addition to the corresponding -AD, or -Setup argument"),
        ),
        (
            names: [
                "-setup",
            ],
            description: Some("Adds the DEP Notify addition to the corresponding -AD, or -Setup argument"),
        ),
        (
            names: [
                "-jamfconnect",
            ],
            description: Some("Enables Jamf Connect 2.0 login mechanisms"),
        ),
        (
            names: [
                "-verbose",
            ],
            description: Some("Enables verbose logging"),
        ),
        (
            names: [
                "-prelogin",
            ],
            description: Some("Mechs to be used before the actual UI is shown"),
        ),
        (
            names: [
                "-preauth",
            ],
            description: Some("Mechs to be used between the login UI and actual authentication"),
        ),
        (
            names: [
                "-postauth",
            ],
            description: Some("Mechs to be used after system authentication"),
        ),
        (
            names: [
                "-customrule",
            ],
            description: Some("Allows the printout of any authorizationDB rule as well as setting of that rule to any custom mechanism(s)"),
        ),
        (
            names: [
                "-sysprefs",
            ],
            description: Some("Enables Azure authentication for the Network Preference Pane"),
        ),
        (
            names: [
                "-sysprefsreset",
            ],
            description: Some("Removes Azure authentication for the Network Preference Pane"),
        ),
        (
            names: [
                "-defaultjcright",
            ],
            description: Some("Adds the mechanism to be used with the sudosaml binary"),
        ),
    ],
    parser_directives: Some((
        flags_are_posix_noncompliant: true,
    )),
)
