(
    version: 1,
    command: "autocannon",
    description: Some("Fast HTTP/1.1 benchmarking tool written in Node.js"),
    options: [
        (
            names: [
                "-c",
                "--connections",
            ],
            description: Some("The number of concurrent connections to use"),
            arguments: [
                (
                    name: "NUM",
                    default: Some("10"),
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--pipelining",
            ],
            description: Some("The number of pipelined requests to use"),
            arguments: [
                (
                    name: "NUM",
                    default: Some("1"),
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--duration",
            ],
            description: Some("The number of seconds to run the autocannon"),
            arguments: [
                (
                    name: "SEC",
                    default: Some("10"),
                ),
            ],
            exclusive_on: [
                "-a",
                "--amount",
            ],
        ),
        (
            names: [
                "-a",
                "--amount",
            ],
            description: Some("The number of requests to make before exiting the benchmark"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
            exclusive_on: [
                "-d",
                "--duration",
            ],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("The number of milliseconds to elapse between taking samples. This controls the sample interval, & therefore the total number of samples, which affects statistical analyses"),
            arguments: [
                (
                    name: "NUM",
                    default: Some("1"),
                ),
            ],
        ),
        (
            names: [
                "-S",
                "--socketPath",
            ],
            description: Some("A path to a Unix Domain Socket or a Windows Named Pipe. A URL is still required to send the correct Host header and path"),
            arguments: [
                (
                    name: "PATH",
                ),
            ],
        ),
        (
            names: [
                "-w",
                "--workers",
            ],
            description: Some("Number of worker threads to use to fire requests"),
            arguments: [
                (
                    name: "NUM",
                    default: Some("1"),
                ),
            ],
        ),
        (
            names: [
                "-W",
                "--warmup",
            ],
            description: Some("Use a warm up interval before starting sampling. This enables startup processes to finish and traffic to normalize before sampling begins"),
            arguments: [
                (
                    name: "-c",
                    default: Some("1"),
                ),
                (
                    name: "-d",
                    default: Some("3"),
                ),
            ],
        ),
        (
            names: [
                "--on-port",
            ],
            description: Some("Start the command listed after -- on the command line. When it starts listening on a port, start sending requests to that port. A URL is still required to send requests to the correct path. The hostname can be omitted, `localhost` will be used by default"),
            arguments: [
                (
                    name: "PORT",
                ),
            ],
        ),
        (
            names: [
                "-m",
                "--method",
            ],
            description: Some("The HTTP method to use"),
            arguments: [
                (
                    name: "METHOD",
                    suggestions: [
                        (
                            name: "GET",
                        ),
                        (
                            name: "POST",
                        ),
                        (
                            name: "PUT",
                        ),
                        (
                            name: "DELETE",
                        ),
                        (
                            name: "PATCH",
                        ),
                        (
                            name: "HEAD",
                        ),
                        (
                            name: "OPTIONS",
                        ),
                        (
                            name: "TRACE",
                        ),
                    ],
                    default: Some("GET"),
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--timeout",
            ],
            description: Some("The number of seconds before timing out and resetting a connection"),
            arguments: [
                (
                    name: "NUM",
                    default: Some("10"),
                ),
            ],
        ),
        (
            names: [
                "-T",
                "--title",
            ],
            description: Some("The title to place in the results for identification"),
            arguments: [
                (
                    name: "TITLE",
                ),
            ],
        ),
        (
            names: [
                "-b",
                "--body",
            ],
            description: Some("The body of the request"),
            arguments: [
                (
                    name: "BODY",
                ),
            ],
            depends_on: [
                "-H",
                "--headers",
            ],
        ),
        (
            names: [
                "-F",
                "--form",
            ],
            arguments: [
                (
                    name: "FORM",
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--input",
            ],
            description: Some("The body of the request"),
            arguments: [
                (
                    name: "FILE",
                    generators: [
                        (
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
            depends_on: [
                "-H",
                "--headers",
            ],
        ),
        (
            names: [
                "-H",
                "--headers",
            ],
            description: Some("The request headers"),
            arguments: [
                (
                    name: "K=V",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--har",
            ],
            description: Some("When provided, Autocannon will use requests from the HAR file"),
            arguments: [
                (
                    name: "FILE",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-B",
                "--bailout",
            ],
            description: Some("The number of failures before initiating a bailout"),
            arguments: [
                (
                    name: "NUM",
                    default: Some("0"),
                ),
            ],
        ),
        (
            names: [
                "-M",
                "--maxConnectionRequests",
            ],
            description: Some("The max number of requests to make per connection to the server"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
        ),
        (
            names: [
                "-O",
                "--maxOverallRequests",
            ],
            description: Some("The max number of requests to make overall to the server"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--connectionRate",
            ],
            description: Some("The max number of requests to make per second from an individual connection"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
        ),
        (
            names: [
                "-R",
                "--overallRate",
            ],
            description: Some("The max number of requests to make per second from all connections"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
        ),
        (
            names: [
                "-C",
                "--ignoreCoordinatedOmission",
            ],
            description: Some("Ignore the coordinated omission issue when requests should be sent at a fixed rate using 'connectionRate' or 'overallRate'"),
        ),
        (
            names: [
                "-D",
                "--reconnectRate",
            ],
            description: Some("The number of requests to make before resetting a connections connection to the server"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
        ),
        (
            names: [
                "-n",
                "--no-progress",
            ],
            description: Some("Don't render the progress bar. default: false"),
        ),
        (
            names: [
                "-l",
                "--latency",
            ],
            description: Some("Print all the latency data. default: false"),
        ),
        (
            names: [
                "-I",
                "--idReplacement",
            ],
            description: Some("Enable replacement of [<id>] with a randomly generated ID within the request body. default: false"),
        ),
        (
            names: [
                "-j",
                "--jsonPath",
            ],
            description: Some("Print the output as newline delimited JSON. This will cause the progress bar and results not to be rendered"),
        ),
        (
            names: [
                "-f",
                "--forever",
            ],
            description: Some("Run the benchmark forever. Efficiently restarts the benchmark on completion"),
        ),
        (
            names: [
                "-s",
                "--servername",
            ],
            description: Some("Server name for the SNI (Server Name Indication) TLS extension. Defaults to the hostname of the URL when it is not an IP address"),
        ),
        (
            names: [
                "-x",
                "--excludeErrorStats",
            ],
            description: Some("Exclude error statistics (non-2xx HTTP responses) from the final latency and bytes per second averages. default: false"),
        ),
        (
            names: [
                "-E",
                "--expectBody",
            ],
            description: Some("Ensure the body matches this value. If enabled, mismatches count towards bailout. Enabling this option will slow down the load testing"),
            arguments: [
                (
                    name: "EXPECTED",
                ),
            ],
        ),
        (
            names: [
                "--renderStatusCodes",
            ],
            description: Some("Print status codes and their respective statistics"),
        ),
        (
            names: [
                "--cert",
            ],
            description: Some("Path to cert chain in pem format"),
            arguments: [
                (
                    name: "FILE",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--key",
            ],
            description: Some("Path to private key for specified cert in pem format"),
            arguments: [
                (
                    name: "FILE",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--ca",
            ],
            description: Some("Path to trusted ca certificates for the test. This argument accepts both a single file as well as a list of files"),
            arguments: [
                (
                    name: "FILE",
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Print connection errors to stderr"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Print the version number"),
        ),
        (
            names: [
                "-V",
                "--verbose",
            ],
            description: Some("Print the table with results (default: true)"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help"),
        ),
    ],
    arguments: [
        (
            name: "URL",
            description: Some("The URL to benchmark"),
        ),
    ],
    presentation: (
        icon: Some("https://raw.githubusercontent.com/mcollina/autocannon/master/autocannon-logo-icon-100px.png"),
    ),
)
