(
    version: 1,
    command: "autojump",
    description: Some("A faster way to navigate your filesystem"),
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show the help message and exit"),
        ),
        (
            names: [
                "-a",
                "--add",
            ],
            description: Some("Add path"),
            arguments: [
                (
                    name: "directory",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--increase",
            ],
            description: Some("Increase current directory weight"),
            arguments: [
                (
                    name: "weight",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--decrease",
            ],
            description: Some("Decrease current directory weight"),
            arguments: [
                (
                    name: "weight",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--complete",
            ],
            description: Some("Used for tab completion"),
        ),
        (
            names: [
                "--purge",
            ],
            description: Some("Remove non-existent paths from database"),
        ),
        (
            names: [
                "-s",
                "--stat",
            ],
            description: Some("Show database entries and their key weights"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show version information"),
        ),
    ],
)
