(
    version: 1,
    command: "autocannon",
    description: Some("Fast HTTP/1.1 benchmarking tool written in Node.js"),
    subcommands: [],
    options: [
        (
            names: [
                "-c",
                "--connections",
            ],
            description: Some("The number of concurrent connections to use"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--pipelining",
            ],
            description: Some("The number of pipelined requests to use"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--duration",
            ],
            description: Some("The number of seconds to run the autocannon"),
            takes_value: true,
            arguments: [
                (
                    name: "SEC",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-a",
                "--amount",
            ],
            description: Some("The number of requests to make before exiting the benchmark"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("The number of milliseconds to elapse between taking samples. This controls the sample interval, & therefore the total number of samples, which affects statistical analyses"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-S",
                "--socketPath",
            ],
            description: Some("A path to a Unix Domain Socket or a Windows Named Pipe. A URL is still required to send the correct Host header and path"),
            takes_value: true,
            arguments: [
                (
                    name: "PATH",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-w",
                "--workers",
            ],
            description: Some("Number of worker threads to use to fire requests"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-W",
                "--warmup",
            ],
            description: Some("Use a warm up interval before starting sampling. This enables startup processes to finish and traffic to normalize before sampling begins"),
            takes_value: true,
            arguments: [
                (
                    name: "-c",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "-d",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--on-port",
            ],
            description: Some("Start the command listed after -- on the command line. When it starts listening on a port, start sending requests to that port. A URL is still required to send requests to the correct path. The hostname can be omitted, `localhost` will be used by default"),
            takes_value: true,
            arguments: [
                (
                    name: "PORT",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-m",
                "--method",
            ],
            description: Some("The HTTP method to use"),
            takes_value: true,
            arguments: [
                (
                    name: "METHOD",
                    source: Static([
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE",
                        "PATCH",
                        "HEAD",
                        "OPTIONS",
                        "TRACE",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--timeout",
            ],
            description: Some("The number of seconds before timing out and resetting a connection"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-T",
                "--title",
            ],
            description: Some("The title to place in the results for identification"),
            takes_value: true,
            arguments: [
                (
                    name: "TITLE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-b",
                "--body",
            ],
            description: Some("The body of the request"),
            takes_value: true,
            arguments: [
                (
                    name: "BODY",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-F",
                "--form",
            ],
            description: None,
            takes_value: true,
            arguments: [
                (
                    name: "FORM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--input",
            ],
            description: Some("The body of the request"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
        ),
        (
            names: [
                "-H",
                "--headers",
            ],
            description: Some("The request headers"),
            takes_value: true,
            arguments: [
                (
                    name: "K=V",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--har",
            ],
            description: Some("When provided, Autocannon will use requests from the HAR file"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-B",
                "--bailout",
            ],
            description: Some("The number of failures before initiating a bailout"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-M",
                "--maxConnectionRequests",
            ],
            description: Some("The max number of requests to make per connection to the server"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-O",
                "--maxOverallRequests",
            ],
            description: Some("The max number of requests to make overall to the server"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--connectionRate",
            ],
            description: Some("The max number of requests to make per second from an individual connection"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-R",
                "--overallRate",
            ],
            description: Some("The max number of requests to make per second from all connections"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-C",
                "--ignoreCoordinatedOmission",
            ],
            description: Some("Ignore the coordinated omission issue when requests should be sent at a fixed rate using \'connectionRate\' or \'overallRate\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-D",
                "--reconnectRate",
            ],
            description: Some("The number of requests to make before resetting a connections connection to the server"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-n",
                "--no-progress",
            ],
            description: Some("Don\'t render the progress bar. default: false"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
                "--latency",
            ],
            description: Some("Print all the latency data. default: false"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-I",
                "--idReplacement",
            ],
            description: Some("Enable replacement of [<id>] with a randomly generated ID within the request body. default: false"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-j",
                "--jsonPath",
            ],
            description: Some("Print the output as newline delimited JSON. This will cause the progress bar and results not to be rendered"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
                "--forever",
            ],
            description: Some("Run the benchmark forever. Efficiently restarts the benchmark on completion"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--servername",
            ],
            description: Some("Server name for the SNI (Server Name Indication) TLS extension. Defaults to the hostname of the URL when it is not an IP address"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x",
                "--excludeErrorStats",
            ],
            description: Some("Exclude error statistics (non-2xx HTTP responses) from the final latency and bytes per second averages. default: false"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-E",
                "--expectBody",
            ],
            description: Some("Ensure the body matches this value. If enabled, mismatches count towards bailout. Enabling this option will slow down the load testing"),
            takes_value: true,
            arguments: [
                (
                    name: "EXPECTED",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--renderStatusCodes",
            ],
            description: Some("Print status codes and their respective statistics"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--cert",
            ],
            description: Some("Path to cert chain in pem format"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--key",
            ],
            description: Some("Path to private key for specified cert in pem format"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--ca",
            ],
            description: Some("Path to trusted ca certificates for the test. This argument accepts both a single file as well as a list of files"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Print connection errors to stderr"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Print the version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--verbose",
            ],
            description: Some("Print the table with results (default: true)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "URL",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)