(
    version: 1,
    command: "aws-vault",
    description: Some("A vault for securely storing and accessing AWS credentials in development environments"),
    subcommands: [
        (
            name: "add",
            description: Some("Add credentials to the secure keystore"),
            arguments: [
                (
                    name: "profile",
                    description: Some("The profile you want to add"),
                ),
            ],
        ),
        (
            name: "remove",
            description: Some("Remove credentials from the secure keystore"),
            options: [
                (
                    names: [
                        "-f",
                        "--force",
                    ],
                    description: Some("Force-remove the profile without a prompt"),
                ),
            ],
            arguments: [
                (
                    name: "profile",
                    generators: [
                        (
                            script: [
                                "aws-vault",
                                "list",
                                "--profiles",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "list",
            description: Some("List profiles, along with their credentials and sessions"),
            options: [
                (
                    names: [
                        "--profiles",
                    ],
                    description: Some("Show only the profile names"),
                ),
                (
                    names: [
                        "--sessions",
                    ],
                    description: Some("Show only the session names"),
                ),
                (
                    names: [
                        "--credentials",
                    ],
                    description: Some("Show only the profiles with stored credential"),
                ),
            ],
        ),
        (
            name: "rotate",
            description: Some("Rotate credentials"),
            options: [
                (
                    names: [
                        "-n",
                        "--no-session",
                    ],
                    description: Some("Use master credentials, no session or role used"),
                ),
            ],
            arguments: [
                (
                    name: "profile",
                    generators: [
                        (
                            script: [
                                "aws-vault",
                                "list",
                                "--profiles",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "exec",
            description: Some("Execute a command with AWS credentials"),
            options: [
                (
                    names: [
                        "-d",
                        "--duration",
                    ],
                    description: Some("Duration of the temporary or assume-role session. Defaults to 1h"),
                    arguments: [
                        (
                            name: "DURATION",
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--no-session",
                    ],
                    description: Some("Use master credentials, no session or role used"),
                ),
                (
                    names: [
                        "--region",
                    ],
                    description: Some("The AWS region"),
                    arguments: [
                        (
                            name: "REGION",
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--mfa-token",
                    ],
                    description: Some("The MFA token to use"),
                    arguments: [
                        (
                            name: "MFA-TOKEN",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "profile",
                    generators: [
                        (
                            script: [
                                "aws-vault",
                                "list",
                                "--profiles",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
                (
                    name: "command",
                    is_command: true,
                ),
            ],
        ),
        (
            name: "export",
            description: Some("Export AWS credentials"),
            arguments: [
                (
                    name: "profile",
                    generators: [
                        (
                            script: [
                                "aws-vault",
                                "list",
                                "--profiles",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "clear",
            description: Some("Clear temporary credentials from the secure keystore"),
            arguments: [
                (
                    name: "profile",
                    generators: [
                        (
                            script: [
                                "aws-vault",
                                "list",
                                "--profiles",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "login",
            description: Some("Generate a login link for the AWS Console"),
            arguments: [
                (
                    name: "profile",
                    generators: [
                        (
                            script: [
                                "aws-vault",
                                "list",
                                "--profiles",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Show help about the command"),
            arguments: [
                (
                    name: "command",
                    template: [
                        Help,
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Show context-sensitive help (also try --help-long and --help-man)"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show application version"),
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Show debugging output"),
        ),
    ],
)
