(
    version: 1,
    command: "awsume",
    description: Some("Awsume"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for awsume"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Display the current version of awsume"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--output-profile",
                "-o",
            ],
            description: Some("A profile to output credentials to"),
            takes_value: true,
            arguments: [
                (
                    name: "output_profile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--clean",
            ],
            description: Some("Clean expired output profiles"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--refresh",
                "-r",
            ],
            description: Some("Force refresh credentials"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--show-commands",
                "-s",
            ],
            description: Some("Show the commands to set the credentials"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--unset",
                "-u",
            ],
            description: Some("Unset your aws environment variables"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--auto-refresh",
                "-a",
            ],
            description: Some("Auto refresh credentials"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--kill-refresher",
                "-k",
            ],
            description: Some("Kill autoawsume"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--list-profiles",
                "-l",
            ],
            description: Some("List profiles, \"more\" for detail (slow)"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--refresh-autocomplete",
            ],
            description: Some("Refresh all plugin autocomplete profiles"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--role-arn",
            ],
            description: Some("Role ARN or <partition>:<account_id>:<role_name>"),
            takes_value: true,
            arguments: [
                (
                    name: "role_arn",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--principal-arn",
            ],
            description: Some("Principal ARN or <partition>:<account_id>:<provider_name>"),
            takes_value: true,
            arguments: [
                (
                    name: "principal_arn",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--source-profile",
            ],
            description: Some("Source_profile to use(role-arn only)"),
            takes_value: true,
            arguments: [
                (
                    name: "source_profile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--external-id",
            ],
            description: Some("External ID to pass to the assume_role"),
            takes_value: true,
            arguments: [
                (
                    name: "external_id",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--mfa-token",
            ],
            description: Some("Your mfa token"),
            takes_value: true,
            arguments: [
                (
                    name: "mfa-token",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--region",
            ],
            description: Some("The region you want to awsume into"),
            takes_value: true,
            arguments: [
                (
                    name: "region",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--session-name",
            ],
            description: Some("Set a custom role session name"),
            takes_value: true,
            arguments: [
                (
                    name: "session_name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--role-duration",
            ],
            description: Some("Seconds to get role creds for"),
            takes_value: true,
            arguments: [
                (
                    name: "role_duration",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--with-saml",
            ],
            description: Some("Use saml (requires plugin)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--with-web-identity",
            ],
            description: Some("Use web identity (requires plugin)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--json",
            ],
            description: Some("Use json credentials"),
            takes_value: true,
            arguments: [
                (
                    name: "json",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--credentials-file",
            ],
            description: Some("Target a shared credentials file"),
            takes_value: true,
            arguments: [
                (
                    name: "credentials_file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--config-file",
            ],
            description: Some("Target a config file"),
            takes_value: true,
            arguments: [
                (
                    name: "config_file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--config",
            ],
            description: Some("Configure awsume"),
            takes_value: true,
            arguments: [
                (
                    name: "option",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--list-plugins",
            ],
            description: Some("List installed plugins"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--info",
            ],
            description: Some("Print any info logs to stderr"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Print any debug logs to stderr"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--console",
                "-c",
            ],
            description: Some("Open AWS console"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--console-link",
                "-cl",
            ],
            description: Some("Get a sign-on url"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--console-service",
                "-cs",
            ],
            description: Some("Open the console to a specific service"),
            takes_value: true,
            arguments: [
                (
                    name: "service",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-cls",
                "-csl",
            ],
            description: Some("Get a sign-on url to a specific service"),
            takes_value: true,
            arguments: [
                (
                    name: "service",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "profile",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)