(
    version: 1,
    command: "banner",
    description: Some("Prints a large, high quality banner on the standard output"),
    subcommands: [],
    options: [
        (
            names: [
                "-t",
            ],
            description: Some("Enable trace"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Enable debug"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
            ],
            description: Some("Change the output from a width of 132 to width, suitable for a narrow terminal"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "text",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)