(
    version: 1,
    command: "basename",
    description: Some("Return filename portion of pathname"),
    options: [
        (
            names: [
                "-a",
            ],
            description: Some("Treat every argument as a string"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Suffix to remove from string"),
            arguments: [
                (
                    name: "suffix",
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "string",
            description: Some("String to operate on (typically filenames)"),
            template: [
                FilePaths,
            ],
            variadic: true,
        ),
    ],
)
