(
    version: 1,
    command: "basename",
    description: Some("Return filename portion of pathname"),
    subcommands: [],
    options: [
        (
            names: [
                "-a",
            ],
            description: Some("Treat every argument as a string"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Suffix to remove from string"),
            takes_value: true,
            arguments: [
                (
                    name: "suffix",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "string",
            source: Files,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)