(
    version: 1,
    command: "base32",
    description: Some("Base32 encode/decode data and print to standard output"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display this help and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--decode",
                "-d",
            ],
            description: Some("Decode data"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ignore-garbage",
                "-i",
            ],
            description: Some("When decoding, ignore non-alphabet characters"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--wrap",
                "-w",
            ],
            description: Some("Wrap encoded lines after COLS character (default 76).  Use 0 to disable line wrapping"),
            takes_value: true,
            arguments: [
                (
                    name: "COLS",
                    source: Static([
                        "76",
                        "78",
                        "80",
                        "100",
                        "120",
                        "160",
                        "0",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Output version information and exit"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "FILE",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)