(
    version: 1,
    command: "bat",
    description: Some("A cat(1) clone with syntax highlighting and Git integration"),
    options: [
        (
            names: [
                "-A",
                "--show-all",
            ],
            description: Some("Show non-printable characters"),
        ),
        (
            names: [
                "-p",
                "--plain",
            ],
            description: Some("Show plain style, no decorations"),
        ),
        (
            names: [
                "-l",
                "--language",
            ],
            description: Some("Explicitly set the language for syntax highlighting"),
            arguments: [
                (
                    name: "<language>",
                    generators: [
                        (
                            script: [
                                "bat",
                                "--list-languages",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-H",
                "--highlight-line",
            ],
            description: Some("Highlight the specified line ranges"),
            arguments: [
                (
                    name: "<N:M> ",
                    description: Some("Range of line"),
                ),
            ],
        ),
        (
            names: [
                "--file-name",
            ],
            description: Some("Specify the name to display for a file. Useful when piping data to bat from STDIN when bat does not otherwise know the filename"),
            arguments: [
                (
                    name: "",
                    description: Some("File(s)"),
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--diff",
            ],
            description: Some("Show lines that have been added/removed/modified with respect to the Git index"),
        ),
        (
            names: [
                "--diff-context",
            ],
            description: Some("Include N lines of context around added/removed/modified lines when using '--diff'"),
            arguments: [
                (
                    name: "<N> ",
                    description: Some("Lines of context"),
                ),
            ],
        ),
        (
            names: [
                "--tabs",
            ],
            description: Some("Set the tab width to T spaces. Use a width of 0 to pass tabs through directly"),
            arguments: [
                (
                    name: "<T> ",
                    description: Some("Spaces of tab width"),
                ),
            ],
        ),
        (
            names: [
                "--wrap",
            ],
            description: Some("Specify when to use colored output"),
            arguments: [
                (
                    name: "<mode>",
                    generators: [
                        (
                            script: [
                                "bash",
                                "-c",
                                "bat --wrap unknow 2>&1 >/dev/null | grep possible",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--terminal-width",
            ],
            description: Some("Explicitly set the width of the terminal instead of determining it automatically"),
            arguments: [
                (
                    name: "<width> ",
                    description: Some("Width to wrap"),
                ),
            ],
        ),
        (
            names: [
                "-n",
                "--number",
            ],
            description: Some("Show line numbers, no other decorations"),
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Specify when to use colored output"),
            arguments: [
                (
                    name: "<when>",
                    generators: [
                        (
                            script: [
                                "bash",
                                "-c",
                                "bat --color unknow  2>&1 >/dev/null | grep possible",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--italic-text",
            ],
            description: Some("Specify when to use ANSI sequences for italic text in the output"),
            arguments: [
                (
                    name: "<when>",
                    generators: [
                        (
                            script: [
                                "bash",
                                "-c",
                                "bat --italic-text unknow 2>&1 >/dev/null | grep possible",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--decorations",
            ],
            description: Some("Specify when to use the decorations that have been specified via '--style'"),
            arguments: [
                (
                    name: "<when>",
                    generators: [
                        (
                            script: [
                                "bash",
                                "-c",
                                "bat --decorations unknow 2>&1 >/dev/null | grep possible",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--force-colorization",
            ],
            description: Some("Alias for '--decorations=always --color=always'"),
        ),
        (
            names: [
                "--paging",
            ],
            description: Some("Specify when to use the pager"),
            arguments: [
                (
                    name: "<when>",
                    generators: [
                        (
                            script: [
                                "bash",
                                "-c",
                                "bat --paging unknow  2>&1 >/dev/null | grep possible",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--pager",
            ],
            description: Some("Determine which pager is used"),
            arguments: [
                (
                    name: "<command>",
                    description: Some("Command to pager"),
                ),
            ],
        ),
        (
            names: [
                "-m",
                "--map-syntax",
            ],
            description: Some("Map a glob pattern to an existing syntax name"),
            arguments: [
                (
                    name: "<glob:syntax>",
                    description: Some("Full path or the filename:language that highlighted"),
                ),
            ],
        ),
        (
            names: [
                "--ignored-suffix",
            ],
            description: Some("Ignore extension"),
            arguments: [
                (
                    name: "<ignored-suffix>",
                    description: Some("Extension"),
                ),
            ],
        ),
        (
            names: [
                "--theme",
            ],
            description: Some("Set the theme for syntax highlighting"),
            arguments: [
                (
                    name: "<theme>",
                    generators: [
                        (
                            script: [
                                "bat",
                                "--list-themes",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--list-themes",
            ],
            description: Some("Display a list of supported themes for syntax highlighting"),
        ),
        (
            names: [
                "--style",
            ],
            description: Some("Display a list of supported themes for syntax highlighting"),
        ),
        (
            names: [
                "-r",
                "--line-range",
            ],
            description: Some("Only print the specified range of lines for each file"),
            arguments: [
                (
                    name: "<N:M> ",
                    description: Some("Range of line"),
                ),
            ],
        ),
        (
            names: [
                "-L",
                "--list-languages",
            ],
            description: Some("Display a list of supported languages for syntax highlighting"),
        ),
        (
            names: [
                "-u",
                "--unbuffered",
            ],
            description: Some("Make output unbuffered (exists for POSIX-compliance reasons and is simply ignored)"),
        ),
        (
            names: [
                "--diagnostic",
            ],
            description: Some("Show diagnostic information for bug reports"),
        ),
        (
            names: [
                "--acknowledgements",
            ],
            description: Some("Show acknowledgements"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help message"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Show version information"),
        ),
    ],
    arguments: [
        (
            name: "",
            description: Some("File(s)"),
            template: [
                FilePaths,
            ],
            variadic: true,
        ),
    ],
)
