(
    version: 1,
    command: "bc",
    description: Some("An arbitrary precision calculator language"),
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Print the usage and exit"),
        ),
        (
            names: [
                "--interactive",
                "-i",
            ],
            description: Some("Force interactive mode"),
        ),
        (
            names: [
                "--mathlib",
                "-l",
            ],
            description: Some("Define the standard math library"),
        ),
        (
            names: [
                "--warn",
                "-w",
            ],
            description: Some("Give warnings for extensions to POSIX bc"),
        ),
        (
            names: [
                "--standard",
                "-s",
            ],
            description: Some("Process exactly the POSIX bc language"),
        ),
        (
            names: [
                "--quiet",
                "-q",
            ],
            description: Some("Do not print the normal GNU bc welcome"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Print the version number and copyright and quit"),
        ),
    ],
    arguments: [
        (
            name: "file",
            template: [
                FilePaths,
            ],
            optional: true,
            variadic: true,
        ),
    ],
    parser_directives: Some((
        options_must_precede_arguments: true,
    )),
)
