(
    version: 1,
    command: "bcd",
    description: Some("Bookmark directories and move to them"),
    options: [
        (
            names: [
                "-s",
                "--store",
            ],
            description: Some("Store the current directory as a bookmark"),
            arguments: [
                (
                    name: "store",
                    optional: true,
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "-r",
                "--remove",
            ],
            description: Some("Remove a specified bookmark"),
            arguments: [
                (
                    name: "remove",
                    optional: true,
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "-i",
                "--install",
            ],
            description: Some("Setup the shell init script"),
        ),
        (
            names: [
                "-l",
                "--list",
            ],
            description: Some("List the stored bookmarks"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version information"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help information"),
        ),
    ],
    arguments: [
        (
            name: "bookmark",
            optional: true,
        ),
    ],
)
