(
    version: 1,
    command: "bosh",
    description: Some("Bosh cli to managed your bosh deployment"),
    subcommands: [
        (
            name: "add-blob",
            description: Some("Add blob"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
                (
                    name: "BLOBS-PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "unignore",
            description: Some("Unignore an instance"),
            arguments: [
                (
                    name: "INSTANCE-GROUP/INSTANCE-ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "update-cloud-config",
            description: Some("Update current cloud config"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "update-config",
            description: Some("Update config"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "update-cpi-config",
            description: Some("Update current CPI config"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "update-resurrection",
            description: Some("Enable/disable resurrection"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "on",
                        ),
                        (
                            name: "off",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "update-runtime-config",
            description: Some("Update current runtime config"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "upload-blobs",
            description: Some("Upload blobs"),
        ),
        (
            name: "upload-release",
            description: Some("Upload release"),
            arguments: [
                (
                    name: "URL",
                    optional: true,
                ),
            ],
        ),
        (
            name: "upload-stemcell",
            description: Some("Upload stemcell"),
            arguments: [
                (
                    name: "fileOrUrl",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "variables",
            description: Some("List variables"),
        ),
        (
            name: "vendor-package",
            description: Some("Vendor package"),
            arguments: [
                (
                    name: "PACKAGE",
                ),
                (
                    name: "SRC-DIR",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            name: "vms",
            description: Some("List all VMs in all deployments"),
        ),
        (
            name: "orphan-disk",
            description: Some("Orphan disk"),
            arguments: [
                (
                    name: "CID",
                ),
            ],
        ),
        (
            name: "networks",
            description: Some("List networks"),
        ),
        (
            name: "manifest",
            description: Some("Show deployment manifest"),
        ),
        (
            name: "tasks",
            description: Some("List running or recent tasks"),
            arguments: [
                (
                    name: "ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "task",
            description: Some("Show task status and start tracking its output"),
        ),
        (
            name: "take-snapshot",
            description: Some("Take snapshot"),
            arguments: [
                (
                    name: "INSTANCE-GROUP/INSTANCE-ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "sync-blobs",
            description: Some("Sync blobs"),
        ),
        (
            name: "stop-env",
            description: Some("Stop BOSH environment"),
        ),
        (
            name: "stop",
            description: Some("Stop instance(s)"),
            arguments: [
                (
                    name: "INSTANCE-GROUP/INSTANCE-ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "stemcells",
            description: Some("List stemcells"),
        ),
        (
            name: "start-env",
            description: Some("Start BOSH environment"),
        ),
        (
            name: "start",
            description: Some("Start instance(s)"),
            arguments: [
                (
                    name: "INSTANCE-GROUP/INSTANCE-ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "ssh",
            description: Some("SSH into instance(s)"),
            arguments: [
                (
                    name: "INSTANCE-GROUP/INSTANCE-ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "snapshots",
            description: Some("List snapshots"),
            arguments: [
                (
                    name: "INSTANCE-GROUP/INSTANCE-ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "sha2ify-release",
            description: Some("Convert release tarball to use SHA256"),
        ),
        (
            name: "sha1ify-release",
            description: Some("Convert release tarball to use SHA1"),
        ),
        (
            name: "runtime-config",
            description: Some("Show current runtime config"),
        ),
        (
            name: "run-errand",
            description: Some("Run errand"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
        (
            name: "restart",
            description: Some("Restart instance(s)"),
            arguments: [
                (
                    name: "INSTANCE-GROUP/INSTANCE-ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "reset-release",
            description: Some("Reset release"),
        ),
        (
            name: "repack-stemcell",
            description: Some("Repack stemcell"),
            arguments: [
                (
                    name: "Path-to-Stemcell",
                    template: [
                        FilePaths,
                    ],
                ),
                (
                    name: "Path-to-Result",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "remove-blob",
            description: Some("Remove blob"),
        ),
        (
            name: "releases",
            description: Some("List releases"),
        ),
        (
            name: "recreate",
            description: Some("Recreate instance(s)"),
            arguments: [
                (
                    name: "INSTANCE-GROUP/INSTANCE-ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "orphaned-vms",
            description: Some("List all the orphaned VMs in all deployments"),
        ),
        (
            name: "scp",
            description: Some("SCP to/from instance(s)"),
            arguments: [
                (
                    name: "PATH...",
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Show this help message"),
        ),
        (
            name: "ignore",
            description: Some("Ignore an instance"),
            arguments: [
                (
                    name: "INSTANCE-GROUP/INSTANCE-ID",
                ),
            ],
        ),
        (
            name: "init-release",
            description: Some("Initialize release"),
        ),
        (
            name: "inspect-local-release",
            description: Some("Display information from release metadata"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "inspect-local-stemcell",
            description: Some("Display information from stemcell metadata"),
            arguments: [
                (
                    name: "PATH-TO-STEMCELL",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "inspect-release",
            description: Some("List release contents such as jobs"),
            arguments: [
                (
                    name: "NAME/VERSION",
                ),
            ],
        ),
        (
            name: "instances",
            description: Some("List all instances in a deployment"),
        ),
        (
            name: "interpolate",
            description: Some("Interpolates variables into a manifest"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "locks",
            description: Some("List current locks"),
        ),
        (
            name: "log-in",
            description: Some("Login"),
        ),
        (
            name: "log-out",
            description: Some("Log out"),
        ),
        (
            name: "logs",
            description: Some("Fetch logs from instance(s)"),
            arguments: [
                (
                    name: "INSTANCE-GROUP/INSTANCE-ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "deployment",
            description: Some("Show deployment information"),
        ),
        (
            name: "deployments",
            description: Some("List deployments"),
        ),
        (
            name: "diff-config",
            description: Some("Diff two configs by ID or content"),
        ),
        (
            name: "disks",
            description: Some("List disks"),
        ),
        (
            name: "environment",
            description: Some("Show environment"),
        ),
        (
            name: "environments",
            description: Some("List environments"),
        ),
        (
            name: "errands",
            description: Some("List errands"),
        ),
        (
            name: "event",
            description: Some("Show event details"),
            arguments: [
                (
                    name: "ID",
                ),
            ],
        ),
        (
            name: "events",
            description: Some("List events"),
        ),
        (
            name: "export-release",
            description: Some("Export the compiled release to a tarball"),
            arguments: [
                (
                    name: "NAME/VERSION",
                ),
                (
                    name: "OS/VERSION",
                ),
            ],
        ),
        (
            name: "finalize-release",
            description: Some("Create final release from dev release tarball"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "generate-job",
            description: Some("Generate job"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
        (
            name: "generate-package",
            description: Some("Generate package"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
        (
            name: "create-release",
            description: Some("Create release"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "curl",
            description: Some("Make an HTTP request to the Director"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "delete-config",
            description: Some("Delete config"),
            arguments: [
                (
                    name: "ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "delete-deployment",
            description: Some("Delete deployment"),
        ),
        (
            name: "delete-disk",
            description: Some("Delete disk"),
            arguments: [
                (
                    name: "CID",
                ),
            ],
        ),
        (
            name: "delete-env",
            description: Some("Delete BOSH environment"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "delete-network",
            description: Some("Delete network"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
        (
            name: "delete-release",
            description: Some("Delete release"),
            arguments: [
                (
                    name: "NAME/VERSION",
                ),
            ],
        ),
        (
            name: "delete-snapshot",
            description: Some("Delete snapshot"),
            arguments: [
                (
                    name: "CID",
                ),
            ],
        ),
        (
            name: "delete-snapshots",
            description: Some("Delete all snapshots in a deployment"),
        ),
        (
            name: "delete-stemcell",
            description: Some("Delete stemcell"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "delete-vm",
            description: Some("Delete VM"),
            arguments: [
                (
                    name: "CID",
                ),
            ],
        ),
        (
            name: "deploy",
            description: Some("Update deployment"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "alias-env",
            description: Some("Alias environment to save URL and CA certificate"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "attach-disk",
            description: Some("Attach disk to an instance"),
            arguments: [
                (
                    name: "INSTANCE-GROUP/INSTANCE-ID",
                ),
                (
                    name: "DISK-CID",
                ),
            ],
        ),
        (
            name: "blobs",
            description: Some("List blobs"),
        ),
        (
            name: "cancel-task",
            description: Some("Cancel task at its next checkpoint"),
            arguments: [
                (
                    name: "ID",
                ),
            ],
        ),
        (
            name: "cancel-tasks",
            description: Some("Cancel tasks at their next checkpoints"),
        ),
        (
            name: "clean-up",
            description: Some("Clean up old unused resources except orphaned disks"),
        ),
        (
            name: "cloud-check",
            description: Some("Cloud consistency check and interactive repair"),
        ),
        (
            name: "cloud-config",
            description: Some("Show current cloud config"),
        ),
        (
            name: "config",
            description: Some("Show current config for either ID or both type and name"),
            arguments: [
                (
                    name: "ID",
                    optional: true,
                ),
            ],
        ),
        (
            name: "configs",
            description: Some("List configs"),
        ),
        (
            name: "cpi-config",
            description: Some("Show current CPI config"),
        ),
        (
            name: "create-env",
            description: Some("Create or update BOSH environment"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--version",
            ],
            description: Some("Show CLI version"),
        ),
        (
            names: [
                "--config",
            ],
            description: Some("Config file path (default: ~/.bosh/config)"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-e",
                "--environment",
            ],
            description: Some("Director environment name or URL"),
            arguments: [
                (
                    name: "name",
                ),
            ],
        ),
        (
            names: [
                "--ca-cert",
            ],
            description: Some("Director CA certificate path or value"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--sha2",
            ],
            description: Some("Use SHA256 checksums"),
        ),
        (
            names: [
                "--parallel",
            ],
            description: Some("The max number of parallel operations (default: 5)"),
            arguments: [
                (
                    name: "amount",
                    suggestions: [
                        (
                            name: "1",
                        ),
                        (
                            name: "2",
                        ),
                        (
                            name: "3",
                        ),
                        (
                            name: "4",
                        ),
                        (
                            name: "5",
                        ),
                        (
                            name: "6",
                        ),
                        (
                            name: "7",
                        ),
                        (
                            name: "8",
                        ),
                        (
                            name: "9",
                        ),
                        (
                            name: "10",
                        ),
                        (
                            name: "11",
                        ),
                        (
                            name: "12",
                        ),
                        (
                            name: "13",
                        ),
                        (
                            name: "14",
                        ),
                        (
                            name: "15",
                        ),
                        (
                            name: "16",
                        ),
                        (
                            name: "17",
                        ),
                        (
                            name: "18",
                        ),
                        (
                            name: "19",
                        ),
                        (
                            name: "20",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--client",
            ],
            description: Some("Override username or UAA client [$BOSH_CLIENT]"),
            arguments: [
                (
                    name: "name",
                ),
            ],
        ),
        (
            names: [
                "--client-secret",
            ],
            description: Some("Override password or UAA client secret [$BOSH_CLIENT_SECRET]"),
            arguments: [
                (
                    name: "secret",
                ),
            ],
        ),
        (
            names: [
                "--deployment",
            ],
            description: Some("Deployment name [$BOSH_DEPLOYMENT]"),
            arguments: [
                (
                    name: "",
                    generators: [
                        (
                            script: [
                                "bosh",
                                "--json",
                                "deployments",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--column",
            ],
            description: Some("Filter to show only given column(s)"),
            arguments: [
                (
                    name: "name",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--json",
            ],
            description: Some("Output as JSON"),
        ),
        (
            names: [
                "--tty",
            ],
            description: Some("Force TTY-like output"),
        ),
        (
            names: [
                "--no-color",
            ],
            description: Some("Toggle colorized output"),
        ),
        (
            names: [
                "-n",
                "--non-interactive",
            ],
            description: Some("Don't ask for user input [$BOSH_NON_INTERACTIVE]"),
        ),
    ],
)
