(
    version: 1,
    command: "browser-sync",
    description: Some("Keep multiple browsers & devices in sync when building websites"),
    subcommands: [
        (
            name: "start",
            aliases: [],
            description: Some("Start Browsersync"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-s",
                        "--server",
                    ],
                    description: Some("Run a Local server (uses your cwd as the web root)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--cwd",
                    ],
                    description: Some("Working directory"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "directory",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--json",
                    ],
                    description: Some("If true, certain logs will output as json only"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--serveStatic",
                        "--ss",
                    ],
                    description: Some("Directories to serve static files from"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "directories",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--port",
                    ],
                    description: Some("Specify a port to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "port",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--proxy",
                    ],
                    description: Some("Proxy an existing server"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--ws",
                    ],
                    description: Some("Proxy mode only - enable websocket proxying"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-b",
                        "--browser",
                    ],
                    description: Some("Choose which browser should be auto-opened"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-w",
                        "--watch",
                    ],
                    description: Some("Watch files"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--ignore",
                    ],
                    description: Some("Ignore patterns for file watchers"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "patterns",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--files",
                    ],
                    description: Some("File paths to watch"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "paths",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--index",
                    ],
                    description: Some("Specify which file should be used as the index page"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--plugins",
                    ],
                    description: Some("Load Browsersync plugins"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "plugins",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--extensions",
                    ],
                    description: Some("Specify file extension fallbacks"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "extensions",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--startPath",
                    ],
                    description: Some("Specify the start path for the opened browser"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "start-path",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--single",
                    ],
                    description: Some("If true, the connect-history-api-fallback middleware will be added"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--https",
                    ],
                    description: Some("Enable SSL for local development"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--directory",
                    ],
                    description: Some("Show a directory listing for the server"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--xip",
                    ],
                    description: Some("Use xip.io domain routing"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--tunnel",
                    ],
                    description: Some("Use a public URL"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--open",
                    ],
                    description: Some("Choose which URL is auto-opened (local, external or tunnel), or provide a url"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Static([
                                "local",
                                "external",
                                "tunnel",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cors",
                    ],
                    description: Some("Add Access Control headers to every request"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-c",
                        "--config",
                    ],
                    description: Some("Specify a path to a configuration file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "path",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--host",
                    ],
                    description: Some("Specify a hostname to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "hostname",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--listen",
                    ],
                    description: Some("Specify a hostname bind to (this will prevent binding to all interfaces)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "hostname",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--logLevel",
                    ],
                    description: Some("Set the logger output level (silent, info or debug)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "level",
                            source: Static([
                                "silent",
                                "info",
                                "debug",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--reload-delay",
                    ],
                    description: Some("Time in milliseconds to delay the reload event following file changes"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "milliseconds",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--reload-debounce",
                    ],
                    description: Some("Restrict the frequency in which browser:reload events can be emitted to connected clients"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "milliseconds",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ui-port",
                    ],
                    description: Some("Specify a port for the UI to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "port",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--watchEvents",
                    ],
                    description: Some("Specify which file events to respond to"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "events",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-notify",
                    ],
                    description: Some("Disable the notify element in browsers"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-open",
                    ],
                    description: Some("Don\'t open a new browser window"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-snippet",
                    ],
                    description: Some("Disable the snippet injection"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-online",
                    ],
                    description: Some("Force offline usage"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-ui",
                    ],
                    description: Some("Don\'t start the user interface"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-ghost-mode",
                    ],
                    description: Some("Disable Ghost Mode"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-inject-changes",
                    ],
                    description: Some("Reload on every file change"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-reload-on-restart",
                    ],
                    description: Some("Don\'t auto-reload all browsers following a restart"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "init",
            aliases: [],
            description: Some("Create a configuration file"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--cwd",
                    ],
                    description: Some("Working directory"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "string",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "reload",
            aliases: [],
            description: Some("Send a reload event over HTTP protocol"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-f",
                        "--files",
                    ],
                    description: Some("File paths to reload"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "paths",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--port",
                    ],
                    description: Some("Target a running instance by port number"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "port",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-u",
                        "--url",
                    ],
                    description: Some("Provide the full URL to the running browsersync isntance"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "url",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cwd",
                    ],
                    description: Some("Working directory"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "directory",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "recipe",
            aliases: [],
            description: Some("Generate the files for a recipe"),
            subcommands: [
                (
                    name: "ls",
                    aliases: [],
                    description: Some("List recipes"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [
                (
                    names: [
                        "--cwd",
                    ],
                    description: Some("Working directory"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "directory",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--output",
                    ],
                    description: Some("Specify an output directory"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "directory",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "recipe-name",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "bash",
                            "-c",
                            "browser-sync recipe ls | tail -n +3 | sed -e \'s/^[[:space:]]*//\'",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--version",
            ],
            description: Some("Show version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Show help"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "site or directory",
            source: Directories,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)