(
    version: 1,
    command: "btop",
    description: Some("Beautifuler htop (interactive process viewer)"),
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Shows help for btop"),
        ),
        (
            names: [
                "--low-color",
                "-lc",
            ],
            description: Some("Disables truecolor, converts 24-bit colors to 256-color"),
        ),
        (
            names: [
                "--tty_on",
                "-t",
            ],
            description: Some("Forces ON tty mode, max 16 colors and tty friendly graph symbol"),
            exclusive_on: [
                "--tty_off",
            ],
        ),
        (
            names: [
                "--tty_off",
                "+t",
            ],
            description: Some("Forces OFF tty mode"),
            exclusive_on: [
                "--tty_on",
            ],
        ),
        (
            names: [
                "--preset",
                "-p",
            ],
            description: Some("Start with preset"),
            arguments: [
                (
                    name: "id",
                    suggestions: [
                        (
                            name: "0",
                        ),
                        (
                            name: "1",
                        ),
                        (
                            name: "2",
                        ),
                        (
                            name: "3",
                        ),
                        (
                            name: "4",
                        ),
                        (
                            name: "5",
                        ),
                        (
                            name: "6",
                        ),
                        (
                            name: "7",
                        ),
                        (
                            name: "8",
                        ),
                        (
                            name: "9",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--utf-force",
            ],
            description: Some("Force start even if no UTF-8 locale was detected"),
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Starts in DEBUG mode: shows microsecond timer for information collect and screen draw functions and sets loglevel to DEBUG"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Shows the version of btop"),
        ),
    ],
)
