(
    version: 1,
    command: "bunx",
    description: None,
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "command",
            source: Static([
                "autocannon",
                "vite",
                "babel",
                "create-react-native-app",
                "react-native",
                "tailwindcss",
                "next",
                "nuxi",
                "gltfjsx",
                "prisma",
                "eslint",
                "prettier",
                "tsc",
                "typeorm",
                "@withfig/autocomplete-tools",
                "create-completion-spec",
                "@fig/publish-spec-to-team",
                "fig-teams@latest",
                "create-next-app",
                "create-t3-app",
                "create-discord-bot",
                "create-video",
                "remotion",
                "create-remix",
                "remix",
                "playwright",
                "ignite-cli",
                "vsce",
                "degit",
                "@preset/cli",
                "mikro-orm",
                "pod-install",
                "capacitor",
                "cap",
                "@magnolia/cli",
                "stencil",
                "swagger-typescript-api",
                "sta",
                "@wordpress/create-block",
                "astro",
                "ampx",
            ]),
            optional: false,
            variadic: false,
            imported_generator: Some((
                script: [
                    "bash",
                    "-c",
                    "until [[ -d node_modules/ ]] || [[ $PWD = \'/\' ]]; do cd ..; done; ls -1 node_modules/.bin/`",
                ],
                has_post_process: true,
                has_custom: false,
            )),
        ),
    ],
)