(
    version: 1,
    command: "bwdc",
    description: Some("Bitwarden Directory Connector"),
    subcommands: [
        (
            name: "login",
            aliases: [],
            description: Some("Log in to Directory Connector"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: None,
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "client_id",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "client_secret",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "logout",
            aliases: [],
            description: Some("Log out of Directory Connector"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: None,
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "test",
            aliases: [],
            description: Some("Prints a JSON formatted array of groups and users that would be synced to your Bitwarden organization"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--last",
                    ],
                    description: Some("Test only the changes since the last successful sync"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--help",
                    ],
                    description: None,
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "sync",
            aliases: [],
            description: Some("Run a live sync operation and push data to your Bitwarden organization"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: None,
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "last-sync",
            aliases: [],
            description: Some("The last-sync command returns an ISO 8601 timestamp for the last sync operation that was performed for users or groups. You must specify either users or groups as an <object> to run the command against- Returns an empty response if no sync has been performed for the given object"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: None,
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "Object",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "config",
            aliases: [],
            description: Some("The config command allows you to specify your directory settings"),
            subcommands: [
                (
                    name: "server",
                    aliases: [],
                    description: Some("URL of your self-hosted installation (e.g. https://my.url.com) or https://vault.bitwarden.eu"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "server-url",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "directory",
                    aliases: [],
                    description: Some("Type of directory to use"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "directory-type",
                            source: Static([
                                "0",
                                "1",
                                "2",
                                "3",
                                "4",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "ldap.password",
                    aliases: [],
                    description: Some("Password for connection to the LDAP server"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "password",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "azure.key",
                    aliases: [],
                    description: Some("Azure AD secret key"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "key",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "gsuite.key",
                    aliases: [],
                    description: Some("Google Workspace/GSuite private key"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "key",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "okta.token",
                    aliases: [],
                    description: Some("Okta token"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "token",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "onelogin.secret",
                    aliases: [],
                    description: Some("OneLogin client secret"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "secret",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: None,
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "setting",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "data-file",
            aliases: [],
            description: Some("Path to data.json database file"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: None,
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "clear-cache",
            aliases: [],
            description: Some("The clear-cache command allows you to clear cached data that the application stores while performing sync operations"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: None,
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("The update command allows you to check if your Directory Connector CLI is up-to-date"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Show help for bwdc"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)