(
    version: 1,
    command: "bws",
    description: None,
    subcommands: [
        (
            name: "config",
            aliases: [],
            description: Some("Specify server settings for the Secrets Manager CLI"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("Save specified value(s) to an alternate profile"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "profile",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--config-file",
                    ],
                    description: Some("Save specified value(s) to an alternative config file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Config file path",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for login command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "Setting",
                    source: Static([
                        "server-base",
                        "server-api",
                        "server-identity",
                        "state-file-dir",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "completions",
            aliases: [],
            description: Some("Generate shell completions"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for logout command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "SHELL",
                    source: Static([
                        "bash",
                        "elvish",
                        "fish",
                        "powershell",
                        "zsh",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "project",
            aliases: [],
            description: Some("Access, manipulate and create projects"),
            subcommands: [
                (
                    name: "create",
                    aliases: [],
                    description: Some("Create a new project"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "NAME",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete one or more existing projects"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "PROJECT_ID(s)",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "edit",
                    aliases: [],
                    description: Some("Change the name of an existing project"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "--name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                        (
                            name: "PROJECT_ID",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "get",
                    aliases: [],
                    description: Some("Retrieve a specific project accessible to this service account"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "PROJECT_ID",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List projects accessible to this service account"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Access, manipulate and create projects"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "secret",
            aliases: [],
            description: Some("Access, manipulate and create secrets"),
            subcommands: [
                (
                    name: "create",
                    aliases: [],
                    description: Some("Create a new secret"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--note",
                            ],
                            description: Some("Optional notes about this secret"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [
                        (
                            name: "KEY",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                        (
                            name: "VALUE",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                        (
                            name: "PROJECT_ID",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete an existing secret"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "SECRET_IDS",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "edit",
                    aliases: [],
                    description: Some("Edit an existing secret"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "key",
                            ],
                            description: Some("Edit the Secret Key"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "value",
                            ],
                            description: Some("Edit the Secret Value"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "project-id",
                            ],
                            description: Some("Edit the ID of project this secret belongs to"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "note",
                            ],
                            description: Some("Edit the optional notes about this secret"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [
                        (
                            name: "SECRET_ID",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "get",
                    aliases: [],
                    description: Some("Retrieve an existing secret"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "SECRET_ID",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List the secrets this service account can access"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "Project",
                            source: Files,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for unlock command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "--help",
            aliases: [
                "-h",
            ],
            description: Some("Get help about using the Bitwarden Secrets Manager CLI tool"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Output format [default: json]"),
            takes_value: true,
            arguments: [
                (
                    name: "Format",
                    source: Static([
                        "json",
                        "yaml",
                        "env",
                        "table",
                        "tsv",
                        "none",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-c",
                "--color",
            ],
            description: Some("Use colors in the output [default: auto]"),
            takes_value: true,
            arguments: [
                (
                    name: "Color",
                    source: Static([
                        "no",
                        "yes",
                        "auto",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--access-token",
            ],
            description: Some("Specify access token for the service account [env: BWS_ACCESS_TOKEN]"),
            takes_value: true,
            arguments: [
                (
                    name: "Access Token",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--config-file",
            ],
            description: Some("Config file to use [default: ~/.bws.config]"),
            takes_value: true,
            arguments: [
                (
                    name: "Config File",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--profile",
            ],
            description: Some("Profile to use from the config file [env: BWS_PROFILE=]"),
            takes_value: true,
            arguments: [
                (
                    name: "Profile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
                "--server-url",
            ],
            description: Some("Override the server URL from the config file [env: BWS_SERVER_URL=]"),
            takes_value: true,
            arguments: [
                (
                    name: "Server URL",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)