(
    version: 1,
    command: "bws",
    subcommands: [
        (
            name: "config",
            description: Some("Specify server settings for the Secrets Manager CLI"),
            options: [
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("Save specified value(s) to an alternate profile"),
                    arguments: [
                        (
                            name: "profile",
                            description: Some("Profile name to save to"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--config-file",
                    ],
                    description: Some("Save specified value(s) to an alternative config file"),
                    arguments: [
                        (
                            name: "Config file path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for login command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "Setting",
                    description: Some("Server setting to specify"),
                    suggestions: [
                        (
                            name: "server-base",
                            description: Some("Base server URL"),
                        ),
                        (
                            name: "server-api",
                            description: Some("Server API endpoint URL"),
                        ),
                        (
                            name: "server-identity",
                            description: Some("Server Identity endpoint URL"),
                        ),
                        (
                            name: "state-file-dir",
                            description: Some("Server file storage location"),
                        ),
                    ],
                ),
            ],
            presentation: (
                icon: Some("https://bitwarden.com/images/icon_32x32.png"),
            ),
        ),
        (
            name: "completions",
            description: Some("Generate shell completions"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for logout command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "SHELL",
                    description: Some("Shell to generate completions for"),
                    suggestions: [
                        (
                            name: "bash",
                            description: Some("Generate shell completions for bash"),
                        ),
                        (
                            name: "elvish",
                            description: Some("Generate shell completions for elvish"),
                        ),
                        (
                            name: "fish",
                            description: Some("Generate shell completions for fish"),
                        ),
                        (
                            name: "powershell",
                            description: Some("Generate shell completions for powershell"),
                        ),
                        (
                            name: "zsh",
                            description: Some("Generate shell completions for zsh"),
                        ),
                    ],
                ),
            ],
            presentation: (
                icon: Some("https://bitwarden.com/images/icon_32x32.png"),
            ),
        ),
        (
            name: "project",
            description: Some("Access, manipulate and create projects"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create a new project"),
                    arguments: [
                        (
                            name: "NAME",
                            description: Some("Name of project to be created"),
                        ),
                    ],
                    presentation: (
                        insert_value: Some("create '{cursor}'"),
                    ),
                ),
                (
                    name: "delete",
                    description: Some("Delete one or more existing projects"),
                    arguments: [
                        (
                            name: "PROJECT_ID(s)",
                            description: Some("ID(s) of project(s) to delete"),
                        ),
                    ],
                    presentation: (
                        insert_value: Some("delete '{cursor}'"),
                        dangerous: true,
                    ),
                ),
                (
                    name: "edit",
                    description: Some("Change the name of an existing project"),
                    arguments: [
                        (
                            name: "--name",
                            description: Some("New project name"),
                        ),
                        (
                            name: "PROJECT_ID",
                            description: Some("ID of project to edit"),
                        ),
                    ],
                    presentation: (
                        insert_value: Some("edit --name '{cursor}'"),
                    ),
                ),
                (
                    name: "get",
                    description: Some("Retrieve a specific project accessible to this service account"),
                    arguments: [
                        (
                            name: "PROJECT_ID",
                            description: Some("ID of project to retrieve"),
                        ),
                    ],
                    presentation: (
                        insert_value: Some("get '{cursor}'"),
                    ),
                ),
                (
                    name: "list",
                    description: Some("List projects accessible to this service account"),
                ),
            ],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Access, manipulate and create projects"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            presentation: (
                icon: Some("https://bitwarden.com/images/icon_32x32.png"),
            ),
        ),
        (
            name: "secret",
            description: Some("Access, manipulate and create secrets"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create a new secret"),
                    options: [
                        (
                            names: [
                                "--note",
                            ],
                            description: Some("Optional notes about this secret"),
                            presentation: (
                                insert_value: Some("--note '{cursor}'"),
                            ),
                        ),
                    ],
                    arguments: [
                        (
                            name: "KEY",
                            description: Some("Secret Key"),
                        ),
                        (
                            name: "VALUE",
                            description: Some("Secret Value"),
                        ),
                        (
                            name: "PROJECT_ID",
                            description: Some("The ID of the project this secret will be added to"),
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("Delete an existing secret"),
                    arguments: [
                        (
                            name: "SECRET_IDS",
                            description: Some("Delete one or more secrets designated by SECRET_IDS"),
                        ),
                    ],
                    presentation: (
                        dangerous: true,
                    ),
                ),
                (
                    name: "edit",
                    description: Some("Edit an existing secret"),
                    options: [
                        (
                            names: [
                                "key",
                            ],
                            description: Some("Edit the Secret Key"),
                            presentation: (
                                insert_value: Some("--key '{cursor}'"),
                            ),
                        ),
                        (
                            names: [
                                "value",
                            ],
                            description: Some("Edit the Secret Value"),
                            presentation: (
                                insert_value: Some("--value '{cursor}'"),
                            ),
                        ),
                        (
                            names: [
                                "project-id",
                            ],
                            description: Some("Edit the ID of project this secret belongs to"),
                            presentation: (
                                insert_value: Some("--project-id '{cursor}'"),
                            ),
                        ),
                        (
                            names: [
                                "note",
                            ],
                            description: Some("Edit the optional notes about this secret"),
                            presentation: (
                                insert_value: Some("--note '{cursor}'"),
                            ),
                        ),
                    ],
                    arguments: [
                        (
                            name: "SECRET_ID",
                            description: Some("ID of secret to be edited"),
                        ),
                    ],
                ),
                (
                    name: "get",
                    description: Some("Retrieve an existing secret"),
                    arguments: [
                        (
                            name: "SECRET_ID",
                            description: Some("Secret to retrieve"),
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("List the secrets this service account can access"),
                    arguments: [
                        (
                            name: "Project",
                            description: Some("Project Identifier"),
                            optional: true,
                        ),
                    ],
                ),
            ],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for unlock command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            presentation: (
                icon: Some("https://bitwarden.com/images/icon_32x32.png"),
            ),
        ),
        (
            name: "--help",
            aliases: [
                "-h",
            ],
            description: Some("Get help about using the Bitwarden Secrets Manager CLI tool"),
            presentation: (
                icon: Some("https://bitwarden.com/images/icon_32x32.png"),
            ),
        ),
    ],
    options: [
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Output format [default: json]"),
            arguments: [
                (
                    name: "Format",
                    description: Some("Select output format"),
                    suggestions: [
                        (
                            name: "json",
                            description: Some("Produce json output"),
                        ),
                        (
                            name: "yaml",
                            description: Some("Produce yaml output"),
                        ),
                        (
                            name: "env",
                            description: Some("Produce env output"),
                        ),
                        (
                            name: "table",
                            description: Some("Produce table output"),
                        ),
                        (
                            name: "tsv",
                            description: Some("Produce tsv output"),
                        ),
                        (
                            name: "none",
                            description: Some("Produce no output"),
                        ),
                    ],
                ),
            ],
            persistent: true,
            presentation: (
                priority: Some(40.0),
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "-c",
                "--color",
            ],
            description: Some("Use colors in the output [default: auto]"),
            arguments: [
                (
                    name: "Color",
                    description: Some("Select output coloration scheme"),
                    suggestions: [
                        (
                            name: "no",
                            description: Some("Do not color output"),
                        ),
                        (
                            name: "yes",
                            description: Some("Colorize output"),
                        ),
                        (
                            name: "auto",
                            description: Some("Use default terminal colors"),
                        ),
                    ],
                ),
            ],
            persistent: true,
            presentation: (
                priority: Some(40.0),
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "-t",
                "--access-token",
            ],
            description: Some("Specify access token for the service account [env: BWS_ACCESS_TOKEN]"),
            arguments: [
                (
                    name: "Access Token",
                    description: Some("Bitwarden Secrets Manager Access Token"),
                ),
            ],
            persistent: true,
            presentation: (
                priority: Some(40.0),
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "-f",
                "--config-file",
            ],
            description: Some("Config file to use [default: ~/.bws.config]"),
            arguments: [
                (
                    name: "Config File",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            persistent: true,
            presentation: (
                priority: Some(40.0),
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "-p",
                "--profile",
            ],
            description: Some("Profile to use from the config file [env: BWS_PROFILE=]"),
            arguments: [
                (
                    name: "Profile",
                    description: Some("User Profile to enable"),
                ),
            ],
            persistent: true,
            presentation: (
                priority: Some(40.0),
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "-u",
                "--server-url",
            ],
            description: Some("Override the server URL from the config file [env: BWS_SERVER_URL=]"),
            arguments: [
                (
                    name: "Server URL",
                    description: Some("URL of Bitwarden Secrets Manager server"),
                ),
            ],
            persistent: true,
            presentation: (
                priority: Some(40.0),
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help"),
            persistent: true,
            presentation: (
                priority: Some(49.0),
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version"),
            persistent: true,
            presentation: (
                priority: Some(49.0),
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
    ],
)
