(
    version: 1,
    command: "caffeinate",
    description: Some("Prevent the system from sleeping on behalf of a utility"),
    options: [
        (
            names: [
                "-d",
            ],
            description: Some("Create an assertion to prevent the display from sleeping"),
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Create an assertion to prevent the system from idle sleeping"),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Create an assertion to prevent the disk from idle sleeping"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Create an assertion to prevent the system from sleeping. This assertion is valid only when system is running on AC power"),
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Create an assertion to declare that user is active. If the display is off, this option turns the display on and prevents the display from going into idle sleep. If a timeout is not specified with '-t' option, then this assertion is taken with a default of 5 second timeout"),
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Specifies the timeout value in seconds for which this assertion has to be valid. The assertion is dropped after the specified timeout. Timeout value is not used when an utility is invoked with this command"),
            arguments: [
                (
                    name: "time",
                    description: Some("(in seconds)"),
                ),
            ],
        ),
        (
            names: [
                "-w",
            ],
            description: Some("Waits for the process with the specified pid to exit. Once the the process exits, the assertion is also released.  This option is ignored when used with utility option"),
            arguments: [
                (
                    name: "pid",
                    description: Some("(in seconds)"),
                ),
            ],
        ),
    ],
)
