(
    version: 1,
    command: "cal",
    description: Some("Displays a calendar and the date of Easter"),
    subcommands: [],
    options: [
        (
            names: [
                "-h",
            ],
            description: Some("Turns off highlighting of today"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-j",
            ],
            description: Some("Display Julian days (days one-based, numbered from January 1)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Display the specified month.  If month is specified as a decimal number, it may be followed by the letter ‘f’ or ‘p’ to indicate the following or preceding month of that number, respectively"),
            takes_value: true,
            arguments: [
                (
                    name: "month",
                    source: Static([
                        "january",
                        "february",
                        "march",
                        "april",
                        "may",
                        "june",
                        "july",
                        "august",
                        "september",
                        "october",
                        "november",
                        "december",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-y",
            ],
            description: Some("Display a calendar for the specified year"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "year",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)