(
    version: 1,
    command: "cal",
    description: Some("Displays a calendar and the date of Easter"),
    options: [
        (
            names: [
                "-h",
            ],
            description: Some("Turns off highlighting of today"),
        ),
        (
            names: [
                "-j",
            ],
            description: Some("Display Julian days (days one-based, numbered from January 1)"),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Display the specified month.  If month is specified as a decimal number, it may be followed by the letter ‘f’ or ‘p’ to indicate the following or preceding month of that number, respectively"),
            arguments: [
                (
                    name: "month",
                    suggestions: [
                        (
                            name: "january",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "february",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "march",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "april",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "may",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "june",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "july",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "august",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "september",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "october",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "november",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "december",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                    ],
                ),
            ],
            exclusive_on: [
                "-y",
            ],
        ),
        (
            names: [
                "-y",
            ],
            description: Some("Display a calendar for the specified year"),
            exclusive_on: [
                "-m",
            ],
        ),
    ],
    arguments: [
        (
            name: "year",
            description: Some("Year to print calendar of"),
        ),
    ],
    parser_directives: Some((
        options_must_precede_arguments: true,
    )),
)
