(
    version: 1,
    command: "capacitor",
    description: Some("The Capacitor command-line interface (CLI) tool is used to develop Capacitor apps"),
    subcommands: [
        (
            name: "add",
            description: Some("Add a native platform project to your app"),
            arguments: [
                (
                    name: "platform",
                    suggestions: [
                        (
                            name: "android",
                            presentation: (
                                icon: Some("fig://icon?type=android"),
                            ),
                        ),
                        (
                            name: "ios",
                            presentation: (
                                icon: Some("fig://icon?type=apple"),
                            ),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "copy",
            description: Some("Copy the web app build and Capacitor configuration file into the native platform project. Run this each time you make changes to your web app or change a configuration value"),
            arguments: [
                (
                    name: "platform",
                    suggestions: [
                        (
                            name: "android",
                            presentation: (
                                icon: Some("fig://icon?type=android"),
                            ),
                        ),
                        (
                            name: "ios",
                            presentation: (
                                icon: Some("fig://icon?type=apple"),
                            ),
                        ),
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                priority: Some(51.0),
            ),
        ),
        (
            name: "ls",
            description: Some("List all installed Cordova and Capacitor plugins"),
            arguments: [
                (
                    name: "platform",
                    suggestions: [
                        (
                            name: "android",
                            presentation: (
                                icon: Some("fig://icon?type=android"),
                            ),
                        ),
                        (
                            name: "ios",
                            presentation: (
                                icon: Some("fig://icon?type=apple"),
                            ),
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "open",
            description: Some("Opens the native project workspace in the specified native IDE (Xcode for iOS, Android Studio for Android)"),
            arguments: [
                (
                    name: "platform",
                    suggestions: [
                        (
                            name: "android",
                            presentation: (
                                icon: Some("fig://icon?type=android"),
                            ),
                        ),
                        (
                            name: "ios",
                            presentation: (
                                icon: Some("fig://icon?type=apple"),
                            ),
                        ),
                    ],
                ),
            ],
            presentation: (
                priority: Some(51.0),
            ),
        ),
        (
            name: "run",
            description: Some("Opens the native project workspace in the specified native IDE (Xcode for iOS, Android Studio for Android)"),
            options: [
                (
                    names: [
                        "--list",
                    ],
                    description: Some("Print a list of target devices available to the given platform"),
                    presentation: (
                        icon: Some("📱"),
                    ),
                ),
                (
                    names: [
                        "--target",
                    ],
                    description: Some("Run on a specific target device"),
                    arguments: [
                        (
                            name: "target",
                            generators: [
                                (
                                    has_custom: true,
                                    cache: Some((
                                        ttl_ms: Some(60000),
                                        stale_while_revalidate: true,
                                    )),
                                ),
                            ],
                        ),
                    ],
                    presentation: (
                        icon: Some("📱"),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "platform",
                    suggestions: [
                        (
                            name: "android",
                            presentation: (
                                icon: Some("fig://icon?type=android"),
                            ),
                        ),
                        (
                            name: "ios",
                            presentation: (
                                icon: Some("fig://icon?type=apple"),
                            ),
                        ),
                    ],
                ),
            ],
            presentation: (
                priority: Some(51.0),
            ),
        ),
        (
            name: "sync",
            description: Some("This command runs copy and then update"),
            options: [
                (
                    names: [
                        "--deployment",
                    ],
                    description: Some("Podfile.lock won't be deleted and pod install will use --deployment option"),
                ),
                (
                    names: [
                        "--inline",
                    ],
                    description: Some("After syncing, all JS source maps will be inlined allowing for debugging an Android Web View in Chromium based browsers"),
                ),
            ],
            arguments: [
                (
                    name: "platform",
                    suggestions: [
                        (
                            name: "android",
                            presentation: (
                                icon: Some("fig://icon?type=android"),
                            ),
                        ),
                        (
                            name: "ios",
                            presentation: (
                                icon: Some("fig://icon?type=apple"),
                            ),
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "update",
            description: Some("Updates the native plugins and dependencies referenced in package.json"),
            options: [
                (
                    names: [
                        "--deployment",
                    ],
                    description: Some("Podfile.lock won't be deleted and pod install will use --deployment option"),
                ),
            ],
            arguments: [
                (
                    name: "platform",
                    suggestions: [
                        (
                            name: "android",
                            presentation: (
                                icon: Some("fig://icon?type=android"),
                            ),
                        ),
                        (
                            name: "ios",
                            presentation: (
                                icon: Some("fig://icon?type=apple"),
                            ),
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Output usage information. Can be used with individual commands too"),
            persistent: true,
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Output the version number"),
        ),
    ],
    presentation: (
        icon: Some("https://capacitorjs.com/docs/img/meta/favicon.png"),
    ),
)
