(
    version: 1,
    command: "cargo",
    description: Some("Rust package manager"),
    options: [(names: ["--version", "-V"], description: Some("Show version"))],
    subcommands: [
        (name: "add", description: Some("Add dependencies")),
        (name: "build", description: Some("Compile the package"), options: [(names: ["--release", "-r"], description: Some("Build optimized artifacts"))]),
        (name: "check", description: Some("Check the package")),
        (name: "clippy", description: Some("Run Clippy")),
        (name: "fmt", description: Some("Format the package")),
        (name: "new", description: Some("Create a package"), arguments: [(name: "path", source: Directories)]),
        (name: "run", description: Some("Run a binary"), options: [(names: ["--bin"], description: Some("Select binary"), takes_value: true)]),
        (name: "test", description: Some("Run tests")),
    ],
)
