(
    version: 1,
    command: "cat",
    description: Some("Concatenate and print files"),
    options: [
        (
            names: [
                "-b",
            ],
            description: Some("Number the non-blank output lines, starting at 1"),
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Display non-printing characters (see the -v option), and display a dollar sign (‘$’) at the end of each line"),
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Set an exclusive advisory lock on the standard output file descriptor.  This lock is set using fcntl(2) with the F_SETLKW command. If the output file is already locked, cat will block until the lock is acquired"),
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Number the output lines, starting at 1"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Squeeze multiple adjacent empty lines, causing the output to be single spaced"),
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Display non-printing characters (see the -v option), and display tab characters as ‘^I’"),
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Disable output buffering"),
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Display non-printing characters so they are visible.  Control characters print as ‘^X’ for control-X; the delete character (octal 0177) prints as ‘^?’.  Non-ASCII characters (with the high bit set) are printed as ‘M-’ (for meta) followed by the character for the low 7 bits"),
        ),
    ],
    arguments: [
        (
            name: "",
            template: [
                FilePaths,
            ],
            variadic: true,
        ),
    ],
)
