(
    version: 1,
    command: "cdk",
    description: Some("AWS CDK CLI"),
    subcommands: [
        (
            name: "init",
            description: Some("Create a new, empty CDK project from a template"),
        ),
        (
            name: "metadata",
            description: Some("Returns all metadata associated with this stack"),
        ),
        (
            name: "doctor",
            description: Some("Check your set-up for potential problems"),
        ),
        (
            name: "diff",
            description: Some("Compares the specified stack with the deployed stack"),
        ),
        (
            name: "destroy",
            description: Some("Destroy the specified stack(s)"),
        ),
        (
            name: "deploy",
            description: Some("Deploy the specified stack(s) into your AWS account"),
        ),
        (
            name: "bootstrap",
            description: Some("Deploys the CDK toolkit stack into an AWS environment"),
        ),
        (
            name: "synth",
            aliases: [
                "synthesize",
            ],
            description: Some("Synthesizes and prints the CloudFormation template for this stack"),
        ),
        (
            name: "ls",
            aliases: [
                "list",
            ],
            description: Some("List all stacks in the app"),
        ),
        (
            name: "import",
            description: Some("Import existing resource(s) into the given STACK"),
        ),
        (
            name: "watch",
            description: Some("Shortcut for 'deploy --watch'"),
        ),
        (
            name: "ack",
            aliases: [
                "acknowledge",
            ],
            description: Some("Acknowledge a notice so that it does not show up anymore"),
        ),
        (
            name: "notices",
            description: Some("Returns a list of relevant notices"),
        ),
        (
            name: "context",
            description: Some("Manage cached context values"),
        ),
        (
            name: "doc",
            aliases: [
                "docs",
            ],
            description: Some("Opens the reference documentation in a browser"),
        ),
    ],
    options: [
        (
            names: [
                "--version",
            ],
            description: Some("The current version"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help"),
        ),
    ],
)
