(
    version: 1,
    command: "charm",
    description: Some("Do Charm stuff; run without arguments for a TUI or use the sub-commands like a pro"),
    subcommands: [
        (
            name: "backup-keys",
            description: Some("Backup your Charm account keys"),
        ),
        (
            name: "completion",
            description: Some("Generate shell completion"),
        ),
        (
            name: "crypt",
            description: Some("Use charm encryption"),
            subcommands: [
                (
                    name: "decrypt",
                    description: Some("Decrypt stdin with your Charm account encryption key"),
                ),
                (
                    name: "decrypt-lookup",
                    description: Some("Decrypt arg deterministically"),
                ),
                (
                    name: "encrypt",
                    description: Some("Encrypt stdin with your Charm account encryption key"),
                ),
                (
                    name: "encrypt-lookup",
                    description: Some("Encrypt arg deterministically"),
                ),
            ],
        ),
        (
            name: "fs",
            description: Some("Use the Charm file systems"),
            subcommands: [
                (
                    name: "cat",
                    description: Some("Output the content of the file at path"),
                    arguments: [
                        (
                            name: "[charm:]PATH",
                        ),
                    ],
                ),
                (
                    name: "cp",
                    description: Some("Copy a file, preface source or destination with \"charm:\" to specify a remote path"),
                    options: [
                        (
                            names: [
                                "--recursive",
                                "-r",
                            ],
                            description: Some("Copy directories recursively"),
                        ),
                    ],
                    arguments: [
                        (
                            name: "[charm:]PATH",
                        ),
                        (
                            name: "[charm:]PATH",
                        ),
                    ],
                ),
                (
                    name: "ls",
                    description: Some("List file or directory at path"),
                    arguments: [
                        (
                            name: "[charm:]PATH",
                        ),
                    ],
                ),
                (
                    name: "mv",
                    description: Some("Move a file, preface source or destination with \"charm\" to specify a remote  path"),
                    arguments: [
                        (
                            name: "[charm:]PATH",
                        ),
                        (
                            name: "[charm:]PATH",
                        ),
                    ],
                ),
                (
                    name: "rm",
                    description: Some("Remove file or directory at path"),
                    arguments: [
                        (
                            name: "[charm:]PATH",
                        ),
                    ],
                ),
                (
                    name: "tree",
                    description: Some("Print a file system tree from path"),
                    arguments: [
                        (
                            name: "[charm:]PATH",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Help about any command"),
        ),
        (
            name: "id",
            description: Some("Print your Charm ID"),
        ),
        (
            name: "import-keys",
            description: Some("Import previously backed up Charm account keys"),
            options: [
                (
                    names: [
                        "--force-overwrite",
                        "-f",
                    ],
                    description: Some("Overwrite if keys exist; don't prompt for input"),
                ),
            ],
            arguments: [
                (
                    name: "BACKUP.tar",
                    suggestions: [
                        (
                            name: "BACKUP.tar",
                        ),
                    ],
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "jwt",
            description: Some("Print a JWT"),
        ),
        (
            name: "keys",
            description: Some("Browse or print linked SSH keys"),
            options: [
                (
                    names: [
                        "--randomart",
                        "-r",
                    ],
                    description: Some("Print SSH 5.1 randomart for each key (the Drunken Bishop algorithm)"),
                ),
                (
                    names: [
                        "--simple",
                        "-s",
                    ],
                    description: Some("Simple, non-interactive output (good for scripts)"),
                ),
            ],
        ),
        (
            name: "kv",
            description: Some("Use the Charm key value store"),
            subcommands: [
                (
                    name: "delete",
                    description: Some("Delete a key with an optional @ db"),
                    arguments: [
                        (
                            name: "KEY[@DB]",
                        ),
                    ],
                ),
                (
                    name: "get",
                    description: Some("Get a value for a key with an optional @ db"),
                    arguments: [
                        (
                            name: "KEY[@DB]",
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("List all key value pairs with an optional @ db"),
                    arguments: [
                        (
                            name: "KEY[@DB]",
                            optional: true,
                        ),
                    ],
                ),
                (
                    name: "reset",
                    description: Some("Delete local db and pull down fresh copy from Charm Cloud"),
                    arguments: [
                        (
                            name: "KEY[@DB]",
                            optional: true,
                        ),
                    ],
                ),
                (
                    name: "set",
                    description: Some("Set a value for a key with an optional @ db"),
                    arguments: [
                        (
                            name: "KEY[@DB]",
                        ),
                        (
                            name: "VALUE",
                        ),
                    ],
                ),
                (
                    name: "sync",
                    description: Some("Sync local db with latest Charm Cloud db"),
                    arguments: [
                        (
                            name: "KEY[@DB]",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "link",
            description: Some("Link multiple machines to your Charm account"),
            arguments: [
                (
                    name: "code",
                    optional: true,
                ),
            ],
        ),
        (
            name: "name",
            description: Some("Username stuff"),
            arguments: [
                (
                    name: "username",
                    optional: true,
                ),
            ],
        ),
        (
            name: "serve",
            description: Some("Start a self-hosted Charm Cloud server"),
            options: [
                (
                    names: [
                        "--data-dir",
                    ],
                    description: Some("Directory to store SQLite db, SSH keys and file data"),
                    arguments: [
                        (
                            name: "DATA_DIR",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--health-port",
                    ],
                    description: Some("Health port to listen on"),
                    arguments: [
                        (
                            name: "HEALTH_PORT",
                            suggestions: [
                                (
                                    name: "35356",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--http-port",
                    ],
                    description: Some("HTTP port to listen on"),
                    arguments: [
                        (
                            name: "HTTP_PORT",
                            suggestions: [
                                (
                                    name: "35354",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--ssh-port",
                    ],
                    description: Some("SSH port to listen on"),
                    arguments: [
                        (
                            name: "SSH_PORT",
                            suggestions: [
                                (
                                    name: "35353",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--stats-port",
                    ],
                    description: Some("Stats port to listen on"),
                    arguments: [
                        (
                            name: "STATS_PORT",
                            suggestions: [
                                (
                                    name: "35355",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Help for charm"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Version for charm"),
        ),
    ],
)
