(
    version: 1,
    command: "checkov",
    description: Some("Checkov scans cloud infrastructure configurations to find misconfigurations before they're deployed"),
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for checkov"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Show the version of checkov"),
        ),
        (
            names: [
                "--quiet",
            ],
            description: Some("CLI output, display only failed checks"),
        ),
        (
            names: [
                "--compact",
            ],
            description: Some("CLI output, do not display code blocks"),
        ),
        (
            names: [
                "--list",
                "-l",
            ],
            description: Some("List checks"),
        ),
        (
            names: [
                "--no-guide",
            ],
            description: Some("Do not fetch Bridgecrew platform IDs and guidelines for the checkov output report. Note: this prevents Bridgecrew platform check IDs from being used anywhere in the CLI"),
            depends_on: [
                "--bc-api-key",
            ],
        ),
        (
            names: [
                "--output-bc-ids",
            ],
            description: Some("Print Bridgecrew platform IDs (BC...) instead of Checkov IDs (CKV...), if the check exists in the platform"),
            exclusive_on: [
                "--no-guide",
            ],
            depends_on: [
                "--bc-api-key",
            ],
        ),
        (
            names: [
                "--directory",
                "-d",
            ],
            description: Some("IaC root directory (can not be used together with --file)"),
            arguments: [
                (
                    name: "Directory",
                    template: [
                        Folders,
                    ],
                ),
            ],
            exclusive_on: [
                "--file",
            ],
        ),
        (
            names: [
                "--output",
                "-o",
            ],
            description: Some("Report output format. Add multiple outputs by using the flag multiple times (-o sarif -o cli)"),
            arguments: [
                (
                    name: "FORMAT",
                    suggestions: [
                        (
                            name: "cli",
                        ),
                        (
                            name: "cyclonedx",
                        ),
                        (
                            name: "json",
                        ),
                        (
                            name: "junitxml",
                        ),
                        (
                            name: "github_failed_only",
                        ),
                        (
                            name: "sarif",
                        ),
                    ],
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--framework",
            ],
            description: Some("IaC frameworks to include checks for"),
            arguments: [
                (
                    name: "FRAMEWORKS",
                    suggestions: [
                        (
                            name: "arm",
                        ),
                        (
                            name: "cloudformation",
                        ),
                        (
                            name: "dockerfile",
                        ),
                        (
                            name: "github_configuration",
                        ),
                        (
                            name: "gitlab_configuration",
                        ),
                        (
                            name: "helm",
                        ),
                        (
                            name: "json",
                        ),
                        (
                            name: "kubernetes",
                        ),
                        (
                            name: "kustomize",
                        ),
                        (
                            name: "sca_package",
                        ),
                        (
                            name: "secrets",
                        ),
                        (
                            name: "serverless",
                        ),
                        (
                            name: "terraform",
                        ),
                        (
                            name: "terraform_plan",
                        ),
                        (
                            name: "all",
                        ),
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--skip-framework",
            ],
            description: Some("IaC frameworks to exclude checks for"),
            arguments: [
                (
                    name: "FRAMEWORKS",
                    suggestions: [
                        (
                            name: "arm",
                        ),
                        (
                            name: "cloudformation",
                        ),
                        (
                            name: "dockerfile",
                        ),
                        (
                            name: "github_configuration",
                        ),
                        (
                            name: "gitlab_configuration",
                        ),
                        (
                            name: "helm",
                        ),
                        (
                            name: "json",
                        ),
                        (
                            name: "kubernetes",
                        ),
                        (
                            name: "kustomize",
                        ),
                        (
                            name: "sca_package",
                        ),
                        (
                            name: "secrets",
                        ),
                        (
                            name: "serverless",
                        ),
                        (
                            name: "terraform",
                        ),
                        (
                            name: "terraform_plan",
                        ),
                        (
                            name: "all",
                        ),
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--add-check",
            ],
            description: Some("Generate a new check via CLI prompt"),
        ),
        (
            names: [
                "--file",
                "-f",
            ],
            description: Some("IaC file(can not be used together with --directory)"),
            arguments: [
                (
                    name: "FILE",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            exclusive_on: [
                "--directory",
            ],
        ),
        (
            names: [
                "--skip-path",
            ],
            description: Some("Path (file or directory) to skip, using regular expression logic, relative to current working directory. Word boundaries are not implicit; i.e., specifying 'dir1' will skip any directory or subdirectory named 'dir1'. Ignored with -f. Can be specified multiple times"),
            arguments: [
                (
                    name: "SKIP_PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            repeat: Many,
            exclusive_on: [
                "--file",
            ],
        ),
        (
            names: [
                "--check",
                "-c",
            ],
            description: Some("Filter scan to run only on a specific check identifier (allowlist). You can specify multiple checks separated by comma delimiter. You may also use the environment variable: CKV_CHECK"),
            arguments: [
                (
                    name: "CHECKS",
                ),
            ],
        ),
        (
            names: [
                "--skip-check",
            ],
            description: Some("Filter scan to run all check except a specific check identifier (denylist). You can specify multiple checks separated by comma delimiter. You may also use the environment variable: CKV_SKIP_CHECK"),
            arguments: [
                (
                    name: "CHECKS",
                ),
            ],
        ),
        (
            names: [
                "--run-all-external-checks",
            ],
            description: Some("Run all external checks (loaded via --external-checks options) even if the checks are not present in the --check list. This allows you to always ensure that new checks present in the external source are used. If an external check is included in --skip-check, it will still be skipped"),
        ),
        (
            names: [
                "--external-checks-dir",
            ],
            description: Some("Directory for custom checks to be loaded. Can be repeated"),
            arguments: [
                (
                    name: "EXTERNAL_CHECKS_DIR",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--bc-api-key",
            ],
            description: Some("Bridgecrew API key. You may also use the environment variable: BC_API_KEY"),
            arguments: [
                (
                    name: "BC_API_KEY",
                ),
            ],
        ),
        (
            names: [
                "--docker-image",
            ],
            description: Some("Scan docker images by name or ID. Only works with --bc-api-key flag"),
            arguments: [
                (
                    name: "DOCKER_IMAGE",
                ),
            ],
            depends_on: [
                "--bc-api-key",
            ],
        ),
        (
            names: [
                "--dockerfile-path",
            ],
            description: Some("Path to the Dockerfile of the scanned docker image"),
            arguments: [
                (
                    name: "DOCKERFILE_PATH",
                ),
            ],
        ),
        (
            names: [
                "--repo-id",
            ],
            description: Some("Identity string of the repository, with form <repo_owner>/<repo_name>"),
            arguments: [
                (
                    name: "REPO_ID",
                ),
            ],
        ),
        (
            names: [
                "--branch",
                "-b",
            ],
            description: Some("Selected branch of the persisted repository. Only has effect when using the --bc-api-key flag"),
            arguments: [
                (
                    name: "BRANCH",
                    generators: [
                        (
                            script: [
                                "git",
                                "branch",
                                "--no-color",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
            depends_on: [
                "--bc-api-key",
            ],
        ),
        (
            names: [
                "--skip-fixes",
            ],
            description: Some("Do not download fixed resource templates from Bridgecrew. Only has an effect when using the --bc-api-key flag"),
            depends_on: [
                "--bc-api-key",
            ],
        ),
        (
            names: [
                "--skip-suppressions",
            ],
            description: Some("Do not download preconfigured suppressions from the Bridgecrew platform. Code comment suppressions will still be honored. Only has an effect when using the --bc-api-key flag"),
            depends_on: [
                "--bc-api-key",
            ],
        ),
        (
            names: [
                "--skip-policy-download",
            ],
            description: Some("Do not download custom policies configured in the Bridgecrew platform. Only has an effect when using the --bc-api-key flag"),
            depends_on: [
                "--bc-api-key",
            ],
        ),
        (
            names: [
                "--download-external-modules",
            ],
            description: Some("Download external terraform modules from public git repositories and terraform registry. You may also use the environment variable: DOWNLOAD_EXTERNAL_MODULES]"),
            arguments: [
                (
                    name: "DOWNLOAD_EXTERNAL_MODULES",
                ),
            ],
        ),
        (
            names: [
                "--var-file",
            ],
            description: Some("Variable files to load in addition to the default files (see https://www.terraform.io/docs/language/values/variables.html#variable-definitions-tfvars-files). Currently only supported for source Terraform (.tf file), and Helm chart scans. Requires using --directory, NOT --file"),
            arguments: [
                (
                    name: "VAR_FILE",
                ),
            ],
            exclusive_on: [
                "--file",
            ],
            depends_on: [
                "--directory",
            ],
        ),
        (
            names: [
                "--external-modules-download-path",
            ],
            description: Some("Set the path for the download external terraform modules. You may also use the environment variable: EXTERNAL_MODULES_DIR"),
            arguments: [
                (
                    name: "EXTERNAL_MODULES_DIR",
                ),
            ],
        ),
        (
            names: [
                "--evaluate-variables",
            ],
            description: Some("Evaluate the values of variables and locals"),
            arguments: [
                (
                    name: "EVALUATE_VARIABLES",
                ),
            ],
        ),
        (
            names: [
                "--ca-certificate",
                "-ca",
            ],
            description: Some("Custom CA (bundle) fila. You may also use the environment variablee: CA_CERTIFICATE"),
            arguments: [
                (
                    name: "CA_CERTIFICATE",
                ),
            ],
        ),
        (
            names: [
                "--repo-root-for-plan-enrichment",
            ],
            description: Some("Directory containing the hcl code used to generate a given plan file. Use with -f FILE"),
            arguments: [
                (
                    name: "REPO_ROOT_FOR_PLAN_ENRICHMENT",
                ),
            ],
            depends_on: [
                "--file",
            ],
        ),
        (
            names: [
                "--config-file",
            ],
            description: Some("Path to the Checkov configuration YAML file"),
            arguments: [
                (
                    name: "CONFIG_FILE",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--create-config",
            ],
            description: Some("Takes the current command line args and writes them out to a config file at the given path"),
            arguments: [
                (
                    name: "CONFIG_FILE",
                ),
            ],
            depends_on: [
                "--directory",
            ],
        ),
        (
            names: [
                "--show-config",
            ],
            description: Some("Prints all arguments and config settings and where they came from (eg. commandline, config file, environment variable or default)"),
        ),
        (
            names: [
                "--create-baseline",
            ],
            description: Some("Save all current results to a '.checkov.baseline' file so future runs will only flag new findings. Works only with `--directory` flag"),
            depends_on: [
                "--directory",
            ],
        ),
        (
            names: [
                "--baseline",
            ],
            description: Some("Use a '.checkov.baseline' file to compare current results with a known baseline. Report will include only failed checks that are newwith respect to the provided baseline. See --create-baseline"),
            arguments: [
                (
                    name: "BASELINE",
                ),
            ],
        ),
        (
            names: [
                "--soft-fail",
                "-s",
            ],
            description: Some("Runs checks but suppresses the error code"),
        ),
        (
            names: [
                "--soft-fail-on",
            ],
            description: Some("Exits with a 0 exit code for specified checks. You can specify multiple checks separated by comma delimiter"),
            arguments: [
                (
                    name: "CHECKS",
                ),
            ],
        ),
        (
            names: [
                "--hard-fail-on",
            ],
            description: Some("Exits with a non-zero exit code for specified checks. You can specify multiple checks separated by comma delimiter"),
            arguments: [
                (
                    name: "CHECKS",
                ),
            ],
        ),
        (
            names: [
                "--min-cve-severity",
            ],
            description: Some("Set minimum severity to return a non-zero exit code"),
            arguments: [
                (
                    name: "MIN_SEVERITY",
                    suggestions: [
                        (
                            name: "critical",
                        ),
                        (
                            name: "high",
                        ),
                        (
                            name: "medium",
                        ),
                        (
                            name: "low",
                        ),
                        (
                            name: "none",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--skip-cve-package",
            ],
            description: Some("Ignore specific open source package when SCA scanning for CVEs in package dependencies. Can be used multiple times to skip multiple packages"),
            arguments: [
                (
                    name: "SKIP_CVE_PACKAGE",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--use-enforcement-rules",
            ],
            description: Some("Use the Enforcement rules configured in the platform for hard / soft fail logic"),
            arguments: [
                (
                    name: "USE_ENFORCEMENT_RULES",
                ),
            ],
        ),
        (
            names: [
                "--support",
            ],
            description: Some("Enable debug logs and upload the logs to the server"),
            arguments: [
                (
                    name: "SUPPORT",
                ),
            ],
            depends_on: [
                "--bc-api-key",
            ],
        ),
        (
            names: [
                "--summary-position",
            ],
            description: Some("Chose whether the summary will be appended on top or on bottom"),
            arguments: [
                (
                    name: "SUMMARY_POSITION",
                    suggestions: [
                        (
                            name: "top",
                        ),
                        (
                            name: "bottom",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--skip-resources-without-violations",
            ],
            description: Some("Exclude extra resources (resources without violations)"),
            arguments: [
                (
                    name: "SKIP_RESOURCES_WITHOUT_VIOLATIONS",
                ),
            ],
        ),
        (
            names: [
                "--skip-download",
            ],
            description: Some("Do not download any data from Prisma Cloud"),
            arguments: [
                (
                    name: "SKIP_DOWNLOAD",
                ),
            ],
        ),
        (
            names: [
                "--secrets-history-timeout",
            ],
            description: Some("Maximum time to run the history scan"),
            arguments: [
                (
                    name: "SECRETS_HISTORY_TIMEOUT",
                ),
            ],
        ),
        (
            names: [
                "--scan-secrets-history",
            ],
            description: Some("Will scan the history of commits for secrets"),
            arguments: [
                (
                    name: "SCAN_SECRETS_HISTORY",
                ),
            ],
        ),
        (
            names: [
                "--prisma-api-url",
            ],
            description: Some("The Prisma Cloud API URL"),
            arguments: [
                (
                    name: "PRISMA_API_URL",
                ),
            ],
        ),
        (
            names: [
                "--policy-metadata-filter",
            ],
            description: Some("Comma separated key:value string to filter policies based on Prisma Cloud policy metadata"),
            arguments: [
                (
                    name: "POLICY_METADATA_FILTER",
                ),
            ],
        ),
        (
            names: [
                "--output-file-path",
            ],
            description: Some("Name of the output folder to save the chosen output formats"),
            arguments: [
                (
                    name: "OUTPUT_FILE_PATH",
                ),
            ],
        ),
        (
            names: [
                "--output-baseline-as-skipped",
            ],
            description: Some("Output checks that are skipped due to baseline file presence"),
            arguments: [
                (
                    name: "OUTPUT_BASELINE_AS_SKIPPED",
                ),
            ],
        ),
        (
            names: [
                "--openai-api-key",
            ],
            description: Some("Add an OpenAI API key to enhance finding guidelines. This will send Code to OpenAI"),
            arguments: [
                (
                    name: "OPENAI_API_KEY",
                ),
            ],
        ),
        (
            names: [
                "--no-fail-on-crash",
            ],
            description: Some("Return exit code 0 instead of 2"),
            arguments: [
                (
                    name: "NO_FAIL_ON_CRASH",
                ),
            ],
        ),
        (
            names: [
                "--mask",
            ],
            description: Some("Each entry in the list will be used for masking the desired attribute"),
            arguments: [
                (
                    name: "MASK",
                ),
            ],
        ),
        (
            names: [
                "--include-all-checkov-policies",
            ],
            description: Some("When running with an API key, Checkov will omit any policies that do not exist in the Bridgecrew or Prisma Cloud platform"),
            arguments: [
                (
                    name: "INCLUDE_ALL_CHECKOV_POLICIES",
                ),
            ],
        ),
        (
            names: [
                "--external-checks-git",
            ],
            description: Some("GitHub URL of external checks to be added"),
            arguments: [
                (
                    name: "EXTERNAL_CHECKS_GIT",
                ),
            ],
        ),
        (
            names: [
                "--enable-secret-scan-all-files",
            ],
            description: Some("Enable secret scan for all files"),
            arguments: [
                (
                    name: "ENABLE_SECRET_SCAN_ALL_FILES",
                ),
            ],
        ),
        (
            names: [
                "--deep-analysis",
            ],
            description: Some("Enable combine TF graph and TF Plan graph"),
            arguments: [
                (
                    name: "DEEP_ANALYSIS",
                ),
            ],
        ),
        (
            names: [
                "--block-list-secret-scan",
            ],
            description: Some("List of files to filter out from the secret scanner"),
            arguments: [
                (
                    name: "BLOCK_LIST_SECRET_SCAN",
                ),
            ],
            depends_on: [
                "--repo-root-for-plan-enrichment",
            ],
        ),
    ],
)
