(
    version: 1,
    command: "chown",
    description: Some("Change the user and/or group ownership of a given file, directory, or symbolic link"),
    subcommands: [],
    options: [
        (
            names: [
                "-f",
            ],
            description: Some("Don\'t report any failure to change file owner or group, nor modify the exit status to reflect such failures"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
            ],
            description: Some("If the file is a symbolic link, change the user ID and/or the group ID of the link itself"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Interpret user ID and group ID as numeric, avoiding name lookups"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Cause chown to be verbose, showing files as the owner is modified"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Change the user ID and/or the group ID for the file hierarchies rooted in the files instead of just the files themselves"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-H",
            ],
            description: Some("If the -R option is specified, symbolic links on the command line are followed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("If the -R option is specified, all symbolic links are followed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-P",
            ],
            description: Some("If the -R option is specified, no symbolic links are followed"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "owner[:group] or :group",
            source: Unavailable,
            optional: false,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: true,
            )),
        ),
        (
            name: "file/directory",
            source: Directories,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)