(
    version: 1,
    command: "cicada",
    description: Some("Write CI/CD Pipelines in TypeScript"),
    subcommands: [
        (
            name: "run",
            description: Some("Run a cicada pipeline"),
            options: [
                (
                    names: [
                        "-s",
                        "--secret",
                    ],
                    description: Some("Name of the secret to use, these come from environment variables"),
                    arguments: [
                        (
                            name: "secret",
                            optional: true,
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--dotenv",
                    ],
                    description: Some("Load a custom .env file"),
                    arguments: [
                        (
                            name: "dotenv",
                            template: [
                                FilePaths,
                            ],
                            optional: true,
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--secrets-json",
                    ],
                    description: Some("Load secrets from a json file"),
                    arguments: [
                        (
                            name: "secrets_json",
                            template: [
                                FilePaths,
                            ],
                            optional: true,
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--cicada-dockerfile",
                    ],
                    description: Some("A custom dockerfile to load the cicada bin from"),
                    arguments: [
                        (
                            name: "cicada_dockerfile",
                            template: [
                                FilePaths,
                            ],
                            optional: true,
                        ),
                    ],
                    repeat: Many,
                    presentation: (
                        hidden: true,
                    ),
                ),
                (
                    names: [
                        "--oci-backend",
                    ],
                    description: Some("The OCI backend to use"),
                    arguments: [
                        (
                            name: "oci_backend",
                            suggestions: [
                                (
                                    name: "docker",
                                ),
                                (
                                    name: "podman",
                                ),
                            ],
                            optional: true,
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--no-dotenv",
                    ],
                    description: Some("Do not load .env file"),
                ),
                (
                    names: [
                        "--no-cache",
                    ],
                    description: Some("Disable caching"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help (see more with '--help')"),
                ),
            ],
            arguments: [
                (
                    name: "pipeline",
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "step",
            description: Some("Run a step in a cicada workflow"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            arguments: [
                (
                    name: "workflow",
                ),
                (
                    name: "step",
                ),
            ],
            presentation: (
                hidden: true,
            ),
        ),
        (
            name: "init",
            description: Some("Initialize a cicada project, you can optionally specify a pipeline to create"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            arguments: [
                (
                    name: "pipeline",
                    optional: true,
                ),
            ],
        ),
        (
            name: "new",
            description: Some("Create a cicada pipeline"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            arguments: [
                (
                    name: "pipeline",
                ),
            ],
        ),
        (
            name: "update",
            description: Some("Update cicada"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
        ),
        (
            name: "completions",
            description: Some("List all available completions"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            arguments: [
                (
                    name: "shell",
                    suggestions: [
                        (
                            name: "bash",
                        ),
                        (
                            name: "elvish",
                        ),
                        (
                            name: "fish",
                        ),
                        (
                            name: "powershell",
                        ),
                        (
                            name: "zsh",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "fig-completion",
            description: Some("Create fig completions"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
        ),
        (
            name: "open",
            description: Some("Open a pipeline in your editor"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            arguments: [
                (
                    name: "pipeline",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "doctor",
            description: Some("Check for common issues"),
            options: [
                (
                    names: [
                        "--oci-backend",
                    ],
                    description: Some("The OCI backend to use"),
                    arguments: [
                        (
                            name: "oci_backend",
                            suggestions: [
                                (
                                    name: "docker",
                                ),
                                (
                                    name: "podman",
                                ),
                            ],
                            optional: true,
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            presentation: (
                hidden: true,
            ),
        ),
        (
            name: "debug",
            description: Some("Debug commands"),
            subcommands: [
                (
                    name: "daemon-info",
                    options: [
                        (
                            names: [
                                "--oci-backend",
                            ],
                            description: Some("The OCI backend to use"),
                            arguments: [
                                (
                                    name: "oci_backend",
                                    suggestions: [
                                        (
                                            name: "docker",
                                        ),
                                        (
                                            name: "podman",
                                        ),
                                    ],
                                    optional: true,
                                ),
                            ],
                            repeat: Many,
                        ),
                        (
                            names: [
                                "-j",
                                "--json",
                            ],
                        ),
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Print help"),
                        ),
                    ],
                ),
                (
                    name: "disk-usage",
                    aliases: [
                        "du",
                    ],
                    options: [
                        (
                            names: [
                                "--oci-backend",
                            ],
                            description: Some("The OCI backend to use"),
                            arguments: [
                                (
                                    name: "oci_backend",
                                    suggestions: [
                                        (
                                            name: "docker",
                                        ),
                                        (
                                            name: "podman",
                                        ),
                                    ],
                                    optional: true,
                                ),
                            ],
                            repeat: Many,
                        ),
                        (
                            names: [
                                "-j",
                                "--json",
                            ],
                        ),
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Print help"),
                        ),
                    ],
                ),
                (
                    name: "workers",
                    options: [
                        (
                            names: [
                                "--oci-backend",
                            ],
                            description: Some("The OCI backend to use"),
                            arguments: [
                                (
                                    name: "oci_backend",
                                    suggestions: [
                                        (
                                            name: "docker",
                                        ),
                                        (
                                            name: "podman",
                                        ),
                                    ],
                                    optional: true,
                                ),
                            ],
                            repeat: Many,
                        ),
                        (
                            names: [
                                "-j",
                                "--json",
                            ],
                        ),
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Print help"),
                        ),
                    ],
                ),
                (
                    name: "help",
                    description: Some("Print this message or the help of the given subcommand(s)"),
                    subcommands: [
                        (
                            name: "daemon-info",
                        ),
                        (
                            name: "disk-usage",
                        ),
                        (
                            name: "workers",
                        ),
                        (
                            name: "help",
                            description: Some("Print this message or the help of the given subcommand(s)"),
                        ),
                    ],
                ),
            ],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            presentation: (
                hidden: true,
            ),
        ),
        (
            name: "help",
            description: Some("Print this message or the help of the given subcommand(s)"),
            subcommands: [
                (
                    name: "run",
                    description: Some("Run a cicada pipeline"),
                ),
                (
                    name: "step",
                    description: Some("Run a step in a cicada workflow"),
                    presentation: (
                        hidden: true,
                    ),
                ),
                (
                    name: "init",
                    description: Some("Initialize a cicada project, you can optionally specify a pipeline to create"),
                ),
                (
                    name: "new",
                    description: Some("Create a cicada pipeline"),
                ),
                (
                    name: "update",
                    description: Some("Update cicada"),
                ),
                (
                    name: "completions",
                    description: Some("List all available completions"),
                ),
                (
                    name: "fig-completion",
                    description: Some("Create fig completions"),
                ),
                (
                    name: "open",
                    description: Some("Open a pipeline in your editor"),
                ),
                (
                    name: "doctor",
                    description: Some("Check for common issues"),
                    presentation: (
                        hidden: true,
                    ),
                ),
                (
                    name: "debug",
                    description: Some("Debug commands"),
                    subcommands: [
                        (
                            name: "daemon-info",
                        ),
                        (
                            name: "disk-usage",
                        ),
                        (
                            name: "workers",
                        ),
                    ],
                    presentation: (
                        hidden: true,
                    ),
                ),
                (
                    name: "help",
                    description: Some("Print this message or the help of the given subcommand(s)"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version"),
        ),
    ],
)
