(
    version: 1,
    command: "clear",
    description: Some("Clear the terminal screen"),
    subcommands: [],
    options: [
        (
            names: [
                "-T",
            ],
            description: Some("Indicates the type of terminal"),
            takes_value: true,
            arguments: [
                (
                    name: "type",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-V",
            ],
            description: Some("Reports version of ncurses used in this program, and exits"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Do not attempt to clear terminal\'s scrollback buffer using the extended E3 capability"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)