(
    version: 1,
    command: "clear",
    description: Some("Clear the terminal screen"),
    options: [
        (
            names: [
                "-T",
            ],
            description: Some("Indicates the type of terminal"),
            arguments: [
                (
                    name: "type",
                ),
            ],
        ),
        (
            names: [
                "-V",
            ],
            description: Some("Reports version of ncurses used in this program, and exits"),
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Do not attempt to clear terminal's scrollback buffer using the extended E3 capability"),
        ),
    ],
)
