(
    version: 1,
    command: "clojure",
    description: Some("Use the Clojure tools to run Clojure programs on the JVM, start a REPL, or invoke a specific function with data"),
    options: [
        (
            names: [
                "-A",
            ],
            description: Some("Use concatenated aliases to modify classpath"),
            presentation: (
                display_name: Some("-A:<aliases>"),
            ),
        ),
        (
            names: [
                "-X",
            ],
            arguments: [
                (
                    name: "a/fn",
                    description: Some("An alias to refer to its function or a qualified function"),
                    optional: true,
                ),
                (
                    name: "kvs",
                    description: Some("A list of key-value arguments to merge with the exec-args"),
                    optional: true,
                    variadic: true,
                ),
                (
                    name: "kv-map",
                    description: Some("Map to merge with the :exec-args map, taking precedence over kvs"),
                    optional: true,
                ),
            ],
            presentation: (
                display_name: Some("-X:<aliases>"),
            ),
        ),
        (
            names: [
                "-T",
            ],
            description: Some("Invoke tool by name or via aliases ala -X"),
            arguments: [
                (
                    name: "a/fn",
                    description: Some("An alias to refer to its function or a qualified function"),
                    optional: true,
                ),
                (
                    name: "kvs",
                    description: Some("A list of key-value arguments to merge with the exec-args"),
                    optional: true,
                    variadic: true,
                ),
                (
                    name: "kv-map",
                    description: Some("Map to merge with the :exec-args map, taking precedence over kvs"),
                    optional: true,
                ),
            ],
            presentation: (
                display_name: Some("-T:<name|aliases>"),
            ),
        ),
        (
            names: [
                "-M",
            ],
            description: Some("Use concatenated aliases to modify classpath or supply main opts"),
            arguments: [
                (
                    name: "args",
                    optional: true,
                    variadic: true,
                ),
            ],
            presentation: (
                display_name: Some("-M:<aliases>"),
            ),
        ),
        (
            names: [
                "-P",
            ],
            description: Some("Prepare deps - download libs, cache classpath, but don't exec"),
        ),
        (
            names: [
                "-J",
            ],
            description: Some("Pass opt through in java_opts"),
            presentation: (
                display_name: Some("-J<opt>"),
                insert_value: Some("-J{cursor}"),
            ),
        ),
        (
            names: [
                "-Sdeps",
            ],
            description: Some("Pass the deps data on the command line"),
            arguments: [
                (
                    name: "edn",
                    description: Some("The deps data in edn"),
                ),
            ],
        ),
        (
            names: [
                "-Spath",
            ],
            description: Some("Compute classpath and echo to stdout only"),
        ),
        (
            names: [
                "-Scp",
            ],
            description: Some("Use specified classpath instead of cached or computed one"),
            arguments: [
                (
                    name: "cp",
                    description: Some("The classpath to use"),
                ),
            ],
        ),
        (
            names: [
                "-Sdescribe",
            ],
            description: Some("Print environment and command parsing information as data"),
        ),
        (
            names: [
                "-Sforce",
            ],
            description: Some("Ignore classpath cache and force recomputation"),
        ),
        (
            names: [
                "-Spom",
            ],
            description: Some("Generate (or update) pom.xml with deps and paths"),
        ),
        (
            names: [
                "-Srepro",
            ],
            description: Some("Ignore the ~/.clojure/deps.edn config file"),
        ),
        (
            names: [
                "-Sthreads",
            ],
            description: Some("Set the number of threads to use when downloading dependencies"),
        ),
        (
            names: [
                "-Strace",
            ],
            description: Some("Write a trace.edn file that traces deps expansion"),
        ),
        (
            names: [
                "-Stree",
            ],
            description: Some("Print dependency tree"),
        ),
        (
            names: [
                "-Sverbose",
            ],
            description: Some("Print all path locations"),
        ),
        (
            names: [
                "-version",
                "--version",
            ],
            description: Some("Print the Clojure CLI version"),
        ),
        (
            names: [
                "-i",
                "--init",
            ],
            description: Some("Load a file or resource"),
            arguments: [
                (
                    name: "path",
                ),
            ],
        ),
        (
            names: [
                "-e",
                "--eval",
            ],
            description: Some("Evaluate expressions in string; print non-nil values"),
            arguments: [
                (
                    name: "string",
                ),
            ],
        ),
        (
            names: [
                "--report",
            ],
            description: Some("Report uncaught exceptions"),
            arguments: [
                (
                    name: "target",
                    description: Some("Where to report"),
                    suggestions: [
                        (
                            name: "file",
                        ),
                        (
                            name: "stderr",
                        ),
                        (
                            name: "none",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-m",
                "--main",
            ],
            description: Some("Call the -main function from a namespace with args"),
            arguments: [
                (
                    name: "ns-name",
                    description: Some("The namespace of the -main function"),
                    is_script: true,
                ),
                (
                    name: "args",
                    description: Some("The arguments to pass to the -main function"),
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--repl",
            ],
            description: Some("Run a REPL"),
        ),
        (
            names: [
                "-h",
                "-?",
                "--help",
            ],
            description: Some("Show help for clojure"),
        ),
    ],
    parser_directives: Some((
        flags_are_posix_noncompliant: true,
    )),
)
