(
    version: 1,
    command: "clojure",
    description: Some("Use the Clojure tools to run Clojure programs on the JVM, start a REPL, or invoke a specific function with data"),
    subcommands: [],
    options: [
        (
            names: [
                "-A",
            ],
            description: Some("Use concatenated aliases to modify classpath"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-X",
            ],
            description: None,
            takes_value: true,
            arguments: [
                (
                    name: "a/fn",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "kvs",
                    source: Files,
                    optional: true,
                    variadic: true,
                    imported_generator: None,
                ),
                (
                    name: "kv-map",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-T",
            ],
            description: Some("Invoke tool by name or via aliases ala -X"),
            takes_value: true,
            arguments: [
                (
                    name: "a/fn",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "kvs",
                    source: Files,
                    optional: true,
                    variadic: true,
                    imported_generator: None,
                ),
                (
                    name: "kv-map",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-M",
            ],
            description: Some("Use concatenated aliases to modify classpath or supply main opts"),
            takes_value: true,
            arguments: [
                (
                    name: "args",
                    source: Files,
                    optional: true,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-P",
            ],
            description: Some("Prepare deps - download libs, cache classpath, but don\'t exec"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-J",
            ],
            description: Some("Pass opt through in java_opts"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Sdeps",
            ],
            description: Some("Pass the deps data on the command line"),
            takes_value: true,
            arguments: [
                (
                    name: "edn",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-Spath",
            ],
            description: Some("Compute classpath and echo to stdout only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Scp",
            ],
            description: Some("Use specified classpath instead of cached or computed one"),
            takes_value: true,
            arguments: [
                (
                    name: "cp",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-Sdescribe",
            ],
            description: Some("Print environment and command parsing information as data"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Sforce",
            ],
            description: Some("Ignore classpath cache and force recomputation"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Spom",
            ],
            description: Some("Generate (or update) pom.xml with deps and paths"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Srepro",
            ],
            description: Some("Ignore the ~/.clojure/deps.edn config file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Sthreads",
            ],
            description: Some("Set the number of threads to use when downloading dependencies"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Strace",
            ],
            description: Some("Write a trace.edn file that traces deps expansion"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Stree",
            ],
            description: Some("Print dependency tree"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Sverbose",
            ],
            description: Some("Print all path locations"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-version",
                "--version",
            ],
            description: Some("Print the Clojure CLI version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-i",
                "--init",
            ],
            description: Some("Load a file or resource"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-e",
                "--eval",
            ],
            description: Some("Evaluate expressions in string; print non-nil values"),
            takes_value: true,
            arguments: [
                (
                    name: "string",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--report",
            ],
            description: Some("Report uncaught exceptions"),
            takes_value: true,
            arguments: [
                (
                    name: "target",
                    source: Static([
                        "file",
                        "stderr",
                        "none",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-m",
                "--main",
            ],
            description: Some("Call the -main function from a namespace with args"),
            takes_value: true,
            arguments: [
                (
                    name: "ns-name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "args",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--repl",
            ],
            description: Some("Run a REPL"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "-?",
                "--help",
            ],
            description: Some("Show help for clojure"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)