(
    version: 1,
    command: "coda",
    description: Some("Coda Local development CLI tool. It comes bundled with the Pack SDK and makes it easy to build and manage Packs from the CLI"),
    subcommands: [
        (
            name: "init",
            description: Some("Initialize an empty project with the recommended settings and dependencies"),
        ),
        (
            name: "execute",
            description: Some("Execute the formula and print the output to the terminal"),
            options: [
                (
                    names: [
                        "--dynamicUrl",
                    ],
                    description: Some("To run a sync for a dynamic sync table, use this parameter to specify which URL to sync from"),
                    arguments: [
                        (
                            name: "url",
                            description: Some("The URL to sync from"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "path/to/pack.ts",
                    description: Some("The path to the pack.ts file. E.g. src/pack.ts"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
                (
                    name: "formula",
                    description: Some("Formula name to execute"),
                    generators: [
                        (
                            script: [
                                "bash",
                                "-c",
                                "grep -A5 --include=*.ts --exclude-dir=node_modules -r 'addFormula\\|addSyncTable\\|makeFormula\\|makeSyncTable' . | grep -A3 -i formula | grep name: | grep -oE \"['\\\"]\\w*['\\\"]\"",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
                (
                    name: "params",
                    description: Some("Arguments to pass to the formula"),
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "auth",
            description: Some("Set up authentication in your development environment so that you can execute Pack formulas with authentication applied to them"),
            arguments: [
                (
                    name: "path/to/pack.ts",
                    description: Some("The path to the pack.ts file. E.g. src/pack.ts"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "register",
            description: Some("Create a new API token or register an existing one to be used with future commands"),
            arguments: [
                (
                    name: "apiToken",
                    description: Some("The API token to register"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "create",
            description: Some("Create a new Pack on Coda’s servers and get assigned a Pack ID. Run this command just once for each Pack you create"),
            options: [
                (
                    names: [
                        "--name",
                    ],
                    description: Some("Specify a name for the Pack. You can always set or update the name in the Pack management UI later"),
                    arguments: [
                        (
                            name: "name",
                            description: Some("The desired Pack name"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--description",
                    ],
                    description: Some("Specify a description for the Pack. You can always set or update the description in the Pack management UI later"),
                    arguments: [
                        (
                            name: "description",
                            description: Some("The Pack description"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "path/to/pack.ts",
                    description: Some("The path to the pack.ts file. E.g. src/pack.ts"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "upload",
            description: Some("Use this command to upload a new version of your Pack based on your latest code"),
            arguments: [
                (
                    name: "path/to/pack.ts",
                    description: Some("The path to the pack.ts file. E.g. src/pack.ts"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "release",
            description: Some("Release a Pack version and make it live for your users"),
            arguments: [
                (
                    name: "path/to/pack.ts",
                    description: Some("The path to the pack.ts file. E.g. src/pack.ts"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
                (
                    name: "version",
                    description: Some("The release version. Must always be greater than that of any of your previous releases"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "clone",
            description: Some("Migrate the development of a Pack from the Pack Studio to a new local CLI Pack development"),
            arguments: [
                (
                    name: "urlOrPackId",
                    description: Some("The URL or ID of the Pack. E.g. https://coda.io/p/123456 or 123456"),
                ),
            ],
        ),
        (
            name: "link",
            description: Some("Link the development of a Pack from the Pack studio to an existing local CLI Pack development"),
            arguments: [
                (
                    name: "path/to/pack.ts",
                    description: Some("The path to the pack.ts file. E.g. src/pack.ts"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
                (
                    name: "urlOrPackId",
                    description: Some("The URL or ID of the Pack. E.g. https://coda.io/p/123456 or 123456"),
                ),
            ],
        ),
        (
            name: "whoami",
            description: Some("Looks up information about the API token that is registered in this environment"),
            arguments: [
                (
                    name: "apiToken",
                    description: Some("The API token to look up"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "build",
            description: Some("Generate a bundle for your Pack"),
            arguments: [
                (
                    name: "path/to/pack.ts",
                    description: Some("The path to the pack.ts file. E.g. src/pack.ts"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "validate",
            description: Some("Validate your Pack definition"),
            arguments: [
                (
                    name: "path/to/pack.ts",
                    description: Some("The path to the pack.ts file. E.g. src/pack.ts"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "setOption",
            description: Some("Set a persistent build option for the Pack. This will be used for all builds of the Pack"),
            arguments: [
                (
                    name: "path/to/pack.ts",
                    description: Some("The path to the pack.ts file. E.g. src/pack.ts"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
                (
                    name: "option",
                    description: Some("Currently the only supported option is 'timerStrategy'"),
                    suggestions: [
                        (
                            name: "timerStrategy",
                        ),
                    ],
                ),
                (
                    name: "value",
                    description: Some("Value to set for the option"),
                    suggestions: [
                        (
                            name: "none",
                        ),
                        (
                            name: "error",
                        ),
                        (
                            name: "fake",
                        ),
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--version",
            ],
            description: Some("Show version number"),
            persistent: true,
            presentation: (
                priority: Some(1.0),
            ),
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Show help"),
            persistent: true,
            presentation: (
                priority: Some(2.0),
            ),
        ),
    ],
)
