(
    version: 1,
    command: "command",
    description: Some("Run an external command"),
    options: [
        (
            names: [
                "-v",
            ],
            description: Some("Print the location of the command"),
        ),
    ],
    arguments: [
        (
            name: "",
            is_command: true,
        ),
    ],
)
