(
    version: 1,
    command: "copyfile",
    description: Some("Oh-My-Zsh plugin that copies the contents of a file to the clipboard"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "file",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)