(
    version: 1,
    command: "cot",
    description: Some("Command-line utility for CotEditor"),
    subcommands: [],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help message and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show program\'s version number and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
                "--wait",
            ],
            description: Some("Wait for opened file to be closed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
                "--background",
            ],
            description: Some("Do not bring the application to the foreground"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
                "--new",
            ],
            description: Some("Create a new blank document"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
                "--line",
            ],
            description: Some("Jump to specific line in opened document"),
            takes_value: true,
            arguments: [
                (
                    name: "line",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-c",
                "--column",
            ],
            description: Some("Jump to specific column in opened document"),
            takes_value: true,
            arguments: [
                (
                    name: "column",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)