(
    version: 1,
    command: "cp",
    description: Some("Copy files and directories"),
    subcommands: [],
    options: [
        (
            names: [
                "-a",
            ],
            description: Some("Preserves structure and attributes of files but not directory structure"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("If the destination file cannot be opened, remove it and create a new file, without prompting for confirmation"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-H",
            ],
            description: Some("If the -R option is specified, symbolic links on the command line are followed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Cause cp to write a prompt to the standard error output before copying a file that would overwrite an existing file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("If the -R option is specified, all symbolic links are followed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Do not overwrite an existing file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-P",
            ],
            description: Some("If the -R option is specified, no symbolic links are followed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-R",
            ],
            description: Some("If source designates a directory, cp copies the directory and the entire subtree connected at that point. If source ends in a /, the contents of the directory are copied rather than the directory itself"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Cause cp to be verbose, showing files as they are copied"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-X",
            ],
            description: Some("Do not copy Extended Attributes (EAs) or resource forks"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Copy files using clonefile"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "source",
            source: Directories,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
        (
            name: "target",
            source: Directories,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)