(
    version: 1,
    command: "create-vite",
    description: Some("Create a new project powered by Vite"),
    options: [
        (
            names: [
                "--template",
            ],
            arguments: [
                (
                    name: "template",
                    suggestions: [
                        (
                            name: "vanilla",
                            presentation: (
                                icon: Some("https://upload.wikimedia.org/wikipedia/commons/6/6a/JavaScript-logo.png?20120221235433"),
                            ),
                        ),
                        (
                            name: "vanilla-ts",
                            presentation: (
                                icon: Some("https://www.typescriptlang.org/favicon-32x32.png"),
                            ),
                        ),
                        (
                            name: "vue",
                            presentation: (
                                icon: Some("https://raw.githubusercontent.com/vuejs/art/a1c78b74569b70a25300925b4eacfefcc143b8f6/logo.svg"),
                            ),
                        ),
                        (
                            name: "vue-ts",
                            presentation: (
                                icon: Some("https://raw.githubusercontent.com/vuejs/art/a1c78b74569b70a25300925b4eacfefcc143b8f6/logo.svg"),
                            ),
                        ),
                        (
                            name: "react",
                            presentation: (
                                icon: Some("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png"),
                            ),
                        ),
                        (
                            name: "react-ts",
                            presentation: (
                                icon: Some("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png"),
                            ),
                        ),
                        (
                            name: "react-swc",
                            presentation: (
                                icon: Some("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png"),
                            ),
                        ),
                        (
                            name: "react-swc-ts",
                            presentation: (
                                icon: Some("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/1024px-React-icon.svg.png"),
                            ),
                        ),
                        (
                            name: "preact",
                            presentation: (
                                icon: Some("https://avatars.githubusercontent.com/u/26872990?s=200&v=4"),
                            ),
                        ),
                        (
                            name: "preact-ts",
                            presentation: (
                                icon: Some("https://avatars.githubusercontent.com/u/26872990?s=200&v=4"),
                            ),
                        ),
                        (
                            name: "lit",
                            presentation: (
                                icon: Some("https://avatars.githubusercontent.com/u/18489846?s=200&v=4"),
                            ),
                        ),
                        (
                            name: "lit-ts",
                            presentation: (
                                icon: Some("https://avatars.githubusercontent.com/u/18489846?s=200&v=4"),
                            ),
                        ),
                        (
                            name: "svelte",
                            presentation: (
                                icon: Some("https://raw.githubusercontent.com/sveltejs/branding/2af7bc72f1bf5152dab89bee1ee2093b1be0824d/svelte-logo.svg"),
                            ),
                        ),
                        (
                            name: "svelte-ts",
                            presentation: (
                                icon: Some("https://raw.githubusercontent.com/sveltejs/branding/2af7bc72f1bf5152dab89bee1ee2093b1be0824d/svelte-logo.svg"),
                            ),
                        ),
                        (
                            name: "solid",
                            presentation: (
                                icon: Some("https://www.solidjs.com/img/logo/without-wordmark/logo.svg"),
                            ),
                        ),
                        (
                            name: "solid-ts",
                            presentation: (
                                icon: Some("https://www.solidjs.com/img/logo/without-wordmark/logo.svg"),
                            ),
                        ),
                        (
                            name: "qwik",
                            presentation: (
                                icon: Some("https://qwik.builder.io/favicons/favicon.svg"),
                            ),
                        ),
                        (
                            name: "qwik-ts",
                            presentation: (
                                icon: Some("https://qwik.builder.io/favicons/favicon.svg"),
                            ),
                        ),
                    ],
                ),
            ],
            required: true,
        ),
    ],
    arguments: [
        (
            name: "projectName",
            description: Some("Project name"),
        ),
    ],
    presentation: (
        icon: Some("https://vitejs.dev/logo.svg"),
    ),
)
