(
    version: 1,
    command: "create-react-app",
    description: Some("Creates a new React project"),
    options: [
        (
            names: [
                "--template",
            ],
            description: Some("Specify a template for the created project (a custom template on npm (search for \"cra-template-*\"), a relative path, or an archive (.tgz or .tar.gz))"),
            arguments: [
                (
                    name: "name or url",
                ),
            ],
            presentation: (
                priority: Some(76.0),
                icon: Some("https://raw.githubusercontent.com/expo/expo-cli/master/assets/fig/path.png"),
            ),
        ),
        (
            names: [
                "--use-npm",
            ],
            description: Some("Use npm to install dependencies (default when Yarn is not installed)"),
            arguments: [
                (
                    name: "boolean",
                    suggestions: [
                        (
                            name: "true",
                            presentation: (
                                icon: Some("https://raw.githubusercontent.com/expo/expo-cli/master/assets/fig/true.png"),
                            ),
                        ),
                        (
                            name: "false",
                            presentation: (
                                icon: Some("https://raw.githubusercontent.com/expo/expo-cli/master/assets/fig/false.png"),
                            ),
                        ),
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                priority: Some(75.0),
                icon: Some("fig://icon?type=npm"),
            ),
        ),
        (
            names: [
                "--use-pnp",
            ],
            description: Some("Use Yarn Plug'n'Play to create the app"),
            arguments: [
                (
                    name: "boolean",
                    suggestions: [
                        (
                            name: "true",
                            presentation: (
                                icon: Some("https://raw.githubusercontent.com/expo/expo-cli/master/assets/fig/true.png"),
                            ),
                        ),
                        (
                            name: "false",
                            presentation: (
                                icon: Some("https://raw.githubusercontent.com/expo/expo-cli/master/assets/fig/false.png"),
                            ),
                        ),
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                priority: Some(75.0),
                icon: Some("fig://icon?type=yarn"),
            ),
        ),
        (
            names: [
                "--scripts-version",
            ],
            description: Some("Use a non-standard version of react-scripts (a specific npm version or npm tag, a custom fork published on npm, a relative path, or an archive (.tgz or .tar.gz))"),
            arguments: [
                (
                    name: "alternative package",
                ),
            ],
            presentation: (
                priority: Some(74.0),
            ),
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Print additional logs"),
            presentation: (
                priority: Some(1.0),
                icon: Some("https://raw.githubusercontent.com/expo/expo-cli/master/assets/fig/string.png"),
            ),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
            presentation: (
                priority: Some(1.0),
                icon: Some("https://raw.githubusercontent.com/expo/expo-cli/master/assets/fig/help.png"),
            ),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
            presentation: (
                priority: Some(1.0),
                icon: Some("https://raw.githubusercontent.com/expo/expo-cli/master/assets/fig/info.png"),
            ),
        ),
    ],
    arguments: [
        (
            name: "name",
            template: [
                Folders,
            ],
        ),
    ],
)
