(
    version: 1,
    command: "create-t3-app",
    description: Some("A CLI for creating web applications with the t3 stack"),
    subcommands: [],
    options: [
        (
            names: [
                "--noGit",
            ],
            description: Some("Explicitly tell the CLI to not initialize a new git repo in the project (default: false)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--noInstall",
            ],
            description: Some("Explicitly tell the CLI to not run the package manager\'s install command (default: false)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-y",
                "--default",
            ],
            description: Some("Bypass the CLI and use all default options to bootstrap a new t3-app (default: false)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--CI",
            ],
            description: Some("Boolean value if we\'re running in CI (default: false)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--tailwind",
            ],
            description: Some("Experimental: Boolean value if we should install Tailwind CSS. Must be used in conjunction with `--CI`"),
            takes_value: true,
            arguments: [
                (
                    name: "boolean",
                    source: Static([
                        "true",
                        "false",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--nextAuth",
            ],
            description: Some("Experimental: Boolean value if we should install NextAuth.js. Must be used in conjunction with `--CI`"),
            takes_value: true,
            arguments: [
                (
                    name: "boolean",
                    source: Static([
                        "true",
                        "false",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--prisma",
            ],
            description: Some("Experimental: Boolean value if we should install Prisma. Must be used in conjunction with `--CI`"),
            takes_value: true,
            arguments: [
                (
                    name: "boolean",
                    source: Static([
                        "true",
                        "false",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--trpc",
            ],
            description: Some("Experimental: Boolean value if we should install tRPC. Must be used in conjunction with `--CI`"),
            takes_value: true,
            arguments: [
                (
                    name: "boolean",
                    source: Static([
                        "true",
                        "false",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--import-alias",
            ],
            description: Some("Explicitly tell the CLI to use a custom import alias"),
            takes_value: true,
            arguments: [
                (
                    name: "alias",
                    source: Static([
                        "~/",
                        "@/",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Display the version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display help for command"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "dir",
            source: Directories,
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
    ],
)