(
    version: 1,
    command: "create-completion-spec",
    description: Some("Setup fig folder and create spec with the given name"),
    subcommands: [
        (
            name: "help",
            description: Some("Display help for command"),
            arguments: [
                (
                    name: "command",
                    optional: true,
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
    options: [
        (
            names: [
                "--here",
            ],
            description: Some("Set if the spec should be created in the current folder"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
    arguments: [
        (
            name: "name",
        ),
    ],
)
