(
    version: 1,
    command: "create-web3-frontend",
    description: Some("Quickly create a Next.js project with wagmi and TailwindCSS ready to go"),
    options: [
        (
            names: [
                "--ts",
                "--typescript",
            ],
            description: Some("Initialize as a TypeScript project"),
        ),
        (
            names: [
                "--use-npm",
            ],
            description: Some("Explicitly tell the CLI to bootstrap the app using npm"),
        ),
        (
            names: [
                "--use-pnpm",
            ],
            description: Some("Explicitly tell the CLI to bootstrap the app using pnpm"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
    arguments: [
        (
            name: "project-directory",
            template: [
                Folders,
            ],
        ),
    ],
)
