(
    version: 1,
    command: "create-redwood-app",
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help"),
        ),
        (
            names: [
                "--typescript",
                "--ts",
            ],
            description: Some("Generate a TypeScript project"),
        ),
        (
            names: [
                "--overwrite",
            ],
            description: Some("Create even if target directory isn't empty"),
        ),
        (
            names: [
                "--telemetry",
            ],
            description: Some("Enables sending telemetry events for this create"),
        ),
        (
            names: [
                "--git-init",
                "--git",
            ],
            description: Some("Initialize a git repository"),
        ),
        (
            names: [
                "--commit-message",
                "-m",
            ],
            description: Some("Commit message for the initial commit"),
        ),
        (
            names: [
                "--yes",
                "-y",
            ],
            description: Some("Skip prompts and use defaults"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show version number"),
        ),
        (
            names: [
                "--yarn-install",
            ],
            description: Some("Install node modules. Skip via --no-yarn-install"),
        ),
    ],
    arguments: [
        (
            name: "projectName",
            description: Some("Name of your Redwood project"),
        ),
    ],
    presentation: (
        icon: Some("https://avatars.githubusercontent.com/u/45050444?s=48&v=4"),
    ),
)
