(
    version: 1,
    command: "create-remix",
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Display version for command"),
        ),
    ],
    presentation: (
        icon: Some("https://remix.run/favicon-light.1.png"),
    ),
)
