(
    version: 1,
    command: "create-vite",
    description: Some("Create a new project powered by Vite"),
    subcommands: [],
    options: [
        (
            names: [
                "--template",
            ],
            description: None,
            takes_value: true,
            arguments: [
                (
                    name: "template",
                    source: Static([
                        "vanilla",
                        "vanilla-ts",
                        "vue",
                        "vue-ts",
                        "react",
                        "react-ts",
                        "react-swc",
                        "react-swc-ts",
                        "preact",
                        "preact-ts",
                        "lit",
                        "lit-ts",
                        "svelte",
                        "svelte-ts",
                        "solid",
                        "solid-ts",
                        "qwik",
                        "qwik-ts",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "projectName",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)