(
    version: 1,
    command: "create-remix",
    description: None,
    subcommands: [],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Display version for command"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)