(
    version: 1,
    command: "create-next-app",
    options: [
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
        ),
        (
            names: [
                "--ts",
                "--typescript",
            ],
            description: Some("Initialize as a TypeScript project"),
        ),
        (
            names: [
                "--use-npm",
            ],
            description: Some("Explicitly tell the CLI to bootstrap the app using npm"),
        ),
        (
            names: [
                "--use-pnpm",
            ],
            description: Some("Explicitly tell the CLI to bootstrap the app using pnpm"),
        ),
        (
            names: [
                "-e",
                "--example",
            ],
            description: Some("An example to bootstrap the app with. You can use an example name from the official Next.js repo or a GitHub URL. The URL can use any branch and/or subdirectory"),
            arguments: [
                (
                    name: "name|github-url",
                ),
            ],
        ),
        (
            names: [
                "--example-path",
            ],
            description: Some("In a rare case, your GitHub URL might contain a branch name with a slash (e.g. bug/fix-1) and the path to the example (e.g. foo/bar). In this case, you must specify the path to the example separately: --example-path foo/bar"),
            arguments: [
                (
                    name: "path-to-example",
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
    arguments: [
        (
            name: "project-directory",
            template: [
                Folders,
            ],
        ),
    ],
    presentation: (
        icon: Some("https://nextjs.org/static/favicon/favicon-16x16.png"),
    ),
)
