(
    version: 1,
    command: "create-redwood-app",
    description: None,
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--typescript",
                "--ts",
            ],
            description: Some("Generate a TypeScript project"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--overwrite",
            ],
            description: Some("Create even if target directory isn\'t empty"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--telemetry",
            ],
            description: Some("Enables sending telemetry events for this create"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--git-init",
                "--git",
            ],
            description: Some("Initialize a git repository"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--commit-message",
                "-m",
            ],
            description: Some("Commit message for the initial commit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--yes",
                "-y",
            ],
            description: Some("Skip prompts and use defaults"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--yarn-install",
            ],
            description: Some("Install node modules. Skip via --no-yarn-install"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "projectName",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)