(
    version: 1,
    command: "create-video",
    description: Some("CLI used to create remotion video project"),
    presentation: (
        icon: Some("https://raw.githubusercontent.com/remotion-dev/remotion/main/packages/docs/static/img/logo-small.png"),
    ),
)
