(
    version: 1,
    command: "csdx",
    description: Some("Content Stack CLI"),
    subcommands: [
        (
            name: "login",
            aliases: [],
            description: Some("The auth:login command lets you log in to Contentstack and save the session"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-u",
                        "--username",
                    ],
                    description: Some("Email address of your Contentstack account"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "email address",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--password",
                    ],
                    description: Some("Password can be passed in command"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "password",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "auth:tokens:add",
            aliases: [],
            description: Some("Lets you add an existing management token from your Contentstack account and save it to the session for further use"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-a",
                        "--alias",
                    ],
                    description: Some("Alias (name) you want to assign to the token"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "alias",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--management",
                    ],
                    description: Some("Alias (name) you want to assign to the token"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--delivery",
                    ],
                    description: Some("Flag to set delivery token"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-k",
                        "--stack-api-key",
                    ],
                    description: Some("API key of the stack where the token exists"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "stack-api-key",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--token",
                    ],
                    description: Some("Value of the token"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "token",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--force",
                    ],
                    description: Some("Force token replace"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "auth:tokens:remove",
            aliases: [],
            description: Some("The auth:tokens:remove command lets you delete a management/ delivery token from your local CLI session"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-a",
                        "--alias",
                    ],
                    description: Some("Alias (name) you want to assign to the token"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "alias",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-i",
                        "--ignore",
                    ],
                    description: Some("Ignores if token not present. Command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "cm:bootstrap",
            aliases: [],
            description: Some("The \'Bootstrap\' plugin in Contentstack CLI allows users to automate the process of project setup for starter apps"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--app-name",
                    ],
                    description: Some("The name of the starter app you want to use. Example: reactjs-starter, nextjs-starter, gatsby-starter, angular-starter, nuxt-starter"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "app-name",
                            source: Static([
                                "reactjs-starter",
                                "nextjs-starter",
                                "gatsby-starter",
                                "angular-starter",
                                "nuxt-starter",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--project-dir",
                    ],
                    description: Some("Directory/path to setup the project. If directory name has a space then provide the path as a string or escap the space using back slash as shown in the below example"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "project-dir",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--app-type",
                    ],
                    description: Some("Sample or Starter app"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "app-type",
                            source: Static([
                                "Sample",
                                "Starter",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-k",
                        "--stack-api-key",
                    ],
                    description: Some("Provide stack API key to seed content"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "stack-api-key",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--org",
                    ],
                    description: Some("Provide organization UID to create a new stack"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "org",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--stack-name",
                    ],
                    description: Some("Name of the new stack that will be created"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "stack-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "auth:tokens",
            aliases: [],
            description: Some("The auth:tokens command lists the existing tokens added to the session"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-x",
                        "--extended",
                    ],
                    description: Some("To show extra columns"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--columns",
                    ],
                    description: Some("To display specific columns, separated by comma"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "columns",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--csv",
                    ],
                    description: Some("Output is csv format"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--filter",
                    ],
                    description: Some("To filter the property by partial string matching, ex: name=foo"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "filter",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-header",
                    ],
                    description: Some("To hide table’s header in output"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-truncate",
                    ],
                    description: Some("To not truncate output to fit screen"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--output",
                    ],
                    description: Some("To display output in a particular format"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "format",
                            source: Static([
                                "csv",
                                "json",
                                "yaml",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--sort",
                    ],
                    description: Some("To sort the list, prepend \'-\' to sort in a descending order"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "sort",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "config:get:region",
            aliases: [],
            description: Some("The config:get:region command will return the name of the region on which you are performing actions in Contentstack, via the CLI"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "config:set:region",
            aliases: [],
            description: Some("The config:set:region command lets you select a region, from the available Contentstack regions, to perform actions using the CLI"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "region",
                    source: Static([
                        "EU",
                        "AZURE-NA",
                        "NA",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "cm:stacks:export",
            aliases: [],
            description: Some("The cm:stacks:export command lets you export content from one stack to another"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-c",
                        "--config",
                    ],
                    description: Some("[optional] path of the config"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "config",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-k",
                        "--stack-api-key",
                    ],
                    description: Some("API key of the source stack"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "stack-api-key",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-a",
                        "--alias",
                    ],
                    description: Some("The management token of the source stack from which you will export content"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "alias",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-d",
                        "--data-dir",
                    ],
                    description: Some("The path or the location in your file system to store the exported content. For e.g., ./content"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "data-dir",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--branch",
                    ],
                    description: Some("The name of the branch where you want to export your content. If you don’t mention the branch name, then by default the content will be exported from all the branches of your stack"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "branch",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--module",
                    ],
                    description: Some("[optional] Specific module name. If not specified, the export command will export all the modules to the stack. The available modules are assets, content-types, entries, environments, extensions, global-fields, labels, locales, webhooks, and workflows"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "module",
                            source: Static([
                                "assets",
                                "content-types",
                                "entries",
                                "environments",
                                "extensions",
                                "global-fields",
                                "labels",
                                "locales",
                                "webhooks",
                                "workflows",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--content-types",
                    ],
                    description: Some("[optional] content type"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "content-types",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--secured-assets",
                    ],
                    description: Some("[optional] use when assets are secured"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "secured-assets",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "logout",
            aliases: [],
            description: Some("The auth:logout command lets you log out of Contentstack and clear the session"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "whoami",
            aliases: [],
            description: Some("The csdx auth:whoami command returns the username (email address) of the user who is currently logged in to the session"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for csdx"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)