(
    version: 1,
    command: "date",
    description: Some("Display or set date and time"),
    options: [
        (
            names: [
                "-d",
            ],
            description: Some("Set the kernel's value for daylight saving time"),
            arguments: [
                (
                    name: "dst",
                ),
            ],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Use specified format for input instead of the default [[[mm]dd]HH]MM[[cc]yy][.ss] format"),
            arguments: [
                (
                    name: "input_fmt",
                    description: Some("The format with which to parse the new date value"),
                ),
                (
                    name: "new_date",
                    description: Some("The new date to set"),
                ),
            ],
        ),
        (
            names: [
                "-j",
            ],
            description: Some("Don't try to set the date"),
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Only set time on the current machine, instead of all machines in the local group"),
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Use RFC 2822 date and time output format"),
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Print the date and time represented by the specified number of seconds since the Epoch"),
            arguments: [
                (
                    name: "seconds",
                    description: Some("Number of seconds since the Epoch (00:00:00 UTC, January 1, 1970)"),
                ),
            ],
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Set the system's value for minutes west of GMT"),
            arguments: [
                (
                    name: "minutes_west",
                ),
            ],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Display or set the date in UTC (Coordinated Universal) time"),
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Adjust and print (but don't set) the second, minute, hour, month day, week day, month, or year according to val"),
            arguments: [
                (
                    name: "val",
                    description: Some("[+|-]val[ymwdHMS]"),
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "new_time OR output_fmt",
            description: Some("New_time: [[[mm]dd]HH]MM[[cc]yy][.ss], output_fmt: '+' followed by user-defined format string"),
            optional: true,
            dangerous: true,
        ),
    ],
)
