(
    version: 1,
    command: "date",
    description: Some("Display or set date and time"),
    subcommands: [],
    options: [
        (
            names: [
                "-d",
            ],
            description: Some("Set the kernel\'s value for daylight saving time"),
            takes_value: true,
            arguments: [
                (
                    name: "dst",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Use specified format for input instead of the default [[[mm]dd]HH]MM[[cc]yy][.ss] format"),
            takes_value: true,
            arguments: [
                (
                    name: "input_fmt",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "new_date",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-j",
            ],
            description: Some("Don\'t try to set the date"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Only set time on the current machine, instead of all machines in the local group"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Use RFC 2822 date and time output format"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Print the date and time represented by the specified number of seconds since the Epoch"),
            takes_value: true,
            arguments: [
                (
                    name: "seconds",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Set the system\'s value for minutes west of GMT"),
            takes_value: true,
            arguments: [
                (
                    name: "minutes_west",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Display or set the date in UTC (Coordinated Universal) time"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Adjust and print (but don\'t set) the second, minute, hour, month day, week day, month, or year according to val"),
            takes_value: true,
            arguments: [
                (
                    name: "val",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "new_time OR output_fmt",
            source: Files,
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
    ],
)