(
    version: 1,
    command: "dcli",
    description: Some("Dashlane CLI"),
    subcommands: [
        (
            name: "sync",
            aliases: [
                "s",
            ],
            description: Some("Manually synchronize the local vault with Dashlane"),
        ),
        (
            name: "read",
            description: Some("Retrieve a secret from the local vault via its path"),
            arguments: [
                (
                    name: "path",
                    description: Some("Path to the secret (dl://<title>/<field> or dl://<id>/<field>)"),
                ),
            ],
        ),
        (
            name: "exec",
            description: Some("Execute a command with secrets injected into the environment variables (-- <command>)"),
            arguments: [
                (
                    name: "command",
                    is_command: true,
                ),
            ],
            presentation: (
                insert_value: Some("exec --"),
            ),
        ),
        (
            name: "inject",
            description: Some("Inject secrets into a templated string or file (uses stdin and stdout by default)"),
            options: [
                (
                    names: [
                        "-i",
                        "--in",
                    ],
                    description: Some("Input file of a template to inject the credential into"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--out",
                    ],
                    description: Some("Output file to write the injected template to"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "password",
            aliases: [
                "p",
            ],
            description: Some("Retrieve a password from the local vault and copy it to the clipboard"),
            options: [
                (
                    names: [
                        "-o",
                        "--output",
                    ],
                    description: Some("How to print the passwords. The JSON option outputs all the matching credentials"),
                    arguments: [
                        (
                            name: "type",
                            suggestions: [
                                (
                                    name: "clipboard",
                                ),
                                (
                                    name: "password",
                                ),
                                (
                                    name: "json",
                                ),
                            ],
                            default: Some("clipboard"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "filters",
                    description: Some("Filter credentials based on any parameter using <param>=<value>; if <param> is not specified in the filter, will default to url and title"),
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "otp",
            aliases: [
                "o",
            ],
            description: Some("Retrieve an OTP code from local vault and copy it to the clipboard"),
            options: [
                (
                    names: [
                        "--print",
                    ],
                    description: Some("Prints just the OTP code, instead of copying it to the clipboard"),
                ),
            ],
            arguments: [
                (
                    name: "filters",
                    description: Some("Filter credentials based on any parameter using <param>=<value>; if <param> is not specified in the filter, will default to url and title"),
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "note",
            aliases: [
                "n",
            ],
            description: Some("Retrieve a secure note from the local vault and open it"),
            options: [
                (
                    names: [
                        "-o",
                        "--output",
                    ],
                    description: Some("How to print the notes. The JSON option outputs all the matching notes"),
                    arguments: [
                        (
                            name: "type",
                            suggestions: [
                                (
                                    name: "text",
                                ),
                                (
                                    name: "json",
                                ),
                            ],
                            default: Some("text"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "filters",
                    description: Some("Filter notes based on any parameter using <param>=<value>; if <param> is not specified in the filter, will default to title only"),
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "accounts",
            aliases: [
                "a",
            ],
            description: Some("Manage your accounts connected to the CLI"),
            subcommands: [
                (
                    name: "whoami",
                    description: Some("Prints the login email of the account currently in use"),
                ),
                (
                    name: "help",
                    description: Some("Display help for command"),
                    arguments: [
                        (
                            name: "command",
                            template: [
                                Help,
                            ],
                            optional: true,
                        ),
                    ],
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
        ),
        (
            name: "devices",
            aliases: [
                "d",
            ],
            description: Some("Operations on devices"),
            subcommands: [
                (
                    name: "list",
                    description: Some("Lists all registered devices that can access your account"),
                    options: [
                        (
                            names: [
                                "--json",
                            ],
                            description: Some("Output in JSON format"),
                        ),
                    ],
                ),
                (
                    name: "remove",
                    description: Some("De-registers a list of devices. De-registering the CLI will implies doing a \"dcli logout\""),
                    options: [
                        (
                            names: [
                                "--all",
                            ],
                            description: Some("Remove all devices including this one (dangerous)"),
                            presentation: (
                                dangerous: true,
                            ),
                        ),
                        (
                            names: [
                                "--others",
                            ],
                            description: Some("Remove all other devices"),
                            presentation: (
                                dangerous: true,
                            ),
                        ),
                    ],
                    arguments: [
                        (
                            name: "device ids",
                            description: Some("Ids of the devices to remove"),
                            generators: [
                                (
                                    script: [
                                        "dcli",
                                        "devices",
                                        "list",
                                        "--json",
                                    ],
                                    has_post_process: true,
                                ),
                            ],
                            optional: true,
                            variadic: true,
                        ),
                    ],
                ),
                (
                    name: "register",
                    description: Some("Registers a new device to be used in non-interactive mode"),
                    options: [
                        (
                            names: [
                                "--json",
                            ],
                            description: Some("Output in JSON format"),
                        ),
                    ],
                    arguments: [
                        (
                            name: "device name",
                            description: Some("Name of the device to register"),
                        ),
                    ],
                ),
                (
                    name: "help",
                    description: Some("Display help for command"),
                    arguments: [
                        (
                            name: "command",
                            template: [
                                Help,
                            ],
                            optional: true,
                        ),
                    ],
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
        ),
        (
            name: "team",
            aliases: [
                "t",
            ],
            description: Some("Team related commands"),
            subcommands: [
                (
                    name: "credentials",
                    aliases: [
                        "c",
                    ],
                    description: Some("Team credentials operations"),
                    subcommands: [
                        (
                            name: "generate",
                            description: Some("Generate new team credentials"),
                            options: [
                                (
                                    names: [
                                        "--json",
                                    ],
                                    description: Some("Output in JSON format"),
                                ),
                            ],
                        ),
                        (
                            name: "list",
                            description: Some("List all team credentials"),
                            options: [
                                (
                                    names: [
                                        "--json",
                                    ],
                                    description: Some("Output in JSON format"),
                                ),
                            ],
                        ),
                        (
                            name: "revoke",
                            description: Some("Revoke credentials by access key"),
                            arguments: [
                                (
                                    name: "accessKey",
                                    description: Some("Access key of the credentials to revoke"),
                                    generators: [
                                        (
                                            script: [
                                                "dcli",
                                                "team",
                                                "credentials",
                                                "list",
                                                "--json",
                                            ],
                                            has_post_process: true,
                                        ),
                                    ],
                                ),
                            ],
                            presentation: (
                                dangerous: true,
                            ),
                        ),
                        (
                            name: "help",
                            description: Some("Display help for command"),
                            arguments: [
                                (
                                    name: "command",
                                    template: [
                                        Help,
                                    ],
                                    optional: true,
                                ),
                            ],
                            presentation: (
                                priority: Some(49.0),
                            ),
                        ),
                    ],
                ),
                (
                    name: "members",
                    aliases: [
                        "m",
                    ],
                    description: Some("List team members"),
                    options: [
                        (
                            names: [
                                "--csv",
                            ],
                            description: Some("Output in CSV format"),
                        ),
                        (
                            names: [
                                "--human-readable",
                            ],
                            description: Some("Output dates in human readable format"),
                        ),
                    ],
                    arguments: [
                        (
                            name: "page",
                            description: Some("Page number"),
                            optional: true,
                        ),
                        (
                            name: "limit",
                            description: Some("Limit of members per page"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    name: "logs",
                    aliases: [
                        "l",
                    ],
                    description: Some("List audit logs"),
                    options: [
                        (
                            names: [
                                "--start",
                            ],
                            description: Some("Start timestamp in ms"),
                            arguments: [
                                (
                                    name: "start",
                                    default: Some("0"),
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--end",
                            ],
                            description: Some("End timestamp in ms (use \"now\" to get the current timestamp)"),
                            arguments: [
                                (
                                    name: "end",
                                    default: Some("now"),
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--type",
                            ],
                            description: Some("Log type"),
                            arguments: [
                                (
                                    name: "type",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--category",
                            ],
                            description: Some("Log category"),
                            arguments: [
                                (
                                    name: "category",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--csv",
                            ],
                            description: Some("Output in CSV format"),
                        ),
                        (
                            names: [
                                "--human-readable",
                            ],
                            description: Some("Output dates in human readable format"),
                        ),
                    ],
                ),
                (
                    name: "report",
                    aliases: [
                        "r",
                    ],
                    description: Some("Get team report"),
                    arguments: [
                        (
                            name: "days",
                            description: Some("Number of days in history"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    name: "help",
                    description: Some("Display help for command"),
                    arguments: [
                        (
                            name: "command",
                            template: [
                                Help,
                            ],
                            optional: true,
                        ),
                    ],
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
        ),
        (
            name: "configure",
            aliases: [
                "c",
            ],
            description: Some("Configure the CLI"),
            subcommands: [
                (
                    name: "disable-auto-sync",
                    description: Some("Disable automatic synchronization which is done once per hour (default: false)"),
                    arguments: [
                        (
                            name: "boolean",
                            suggestions: [
                                (
                                    name: "true",
                                ),
                                (
                                    name: "false",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "save-master-password",
                    description: Some("Should the encrypted master password be saved and the OS keychain be used (default: true)"),
                    arguments: [
                        (
                            name: "boolean",
                            suggestions: [
                                (
                                    name: "true",
                                ),
                                (
                                    name: "false",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "help",
                    description: Some("Display help for command"),
                    arguments: [
                        (
                            name: "command",
                            template: [
                                Help,
                            ],
                            optional: true,
                        ),
                    ],
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
        ),
        (
            name: "backup",
            description: Some("Backup your local vault (will use the current directory by default)"),
            options: [
                (
                    names: [
                        "--directory",
                    ],
                    description: Some("Output directory of the backup (\".\" by default)"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--filename",
                    ],
                    description: Some("Filename of the backup (\"dashlane-backup-<unix_timestamp>.db by default\")"),
                    arguments: [
                        (
                            name: "filename",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "logout",
            description: Some("Logout and clean your local database and OS keychain"),
        ),
        (
            name: "help",
            description: Some("Display help for command"),
            arguments: [
                (
                    name: "command",
                    template: [
                        Help,
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            persistent: true,
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Print debug messages"),
            persistent: true,
            presentation: (
                priority: Some(48.0),
            ),
        ),
    ],
    presentation: (
        icon: Some("https://avatars.githubusercontent.com/u/2639205?s=200&v=4"),
    ),
)
