(
    version: 1,
    command: "dd",
    description: Some("Convert and copy a file"),
    options: [
        (
            names: [
                "bs",
            ],
            description: Some("Set input and output block size"),
            arguments: [
                (
                    name: "size",
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "cbs",
            ],
            description: Some("Set the conversion record size"),
            arguments: [
                (
                    name: "size",
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "count",
            ],
            description: Some("Copy this many input blocks"),
            arguments: [
                (
                    name: "number",
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "files",
            ],
            description: Some("Copy this many files before terminating"),
            arguments: [
                (
                    name: "number",
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "ibs",
            ],
            description: Some("Set the input block size"),
            arguments: [
                (
                    name: "size",
                    default: Some("512"),
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "if",
            ],
            description: Some("Read an input file instead of stdin"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                priority: Some(60.0),
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "iseek",
            ],
            description: Some("Seek this many blocks on the input file"),
            arguments: [
                (
                    name: "blocks",
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "obs",
            ],
            description: Some("Set the output block size"),
            arguments: [
                (
                    name: "size",
                    default: Some("512"),
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "of",
            ],
            description: Some("Write to an output file instead of stdout"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                    suggest_current_token: true,
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                priority: Some(59.0),
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "oseek",
            ],
            description: Some("Seek this many blocks on the output file"),
            arguments: [
                (
                    name: "blocks",
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "seek",
            ],
            description: Some("Seek this many blocks from the beginning of the output before copying"),
            arguments: [
                (
                    name: "blocks",
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "skip",
            ],
            description: Some("Skip this many blocks from the beginning of the input before copying"),
            arguments: [
                (
                    name: "blocks",
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
        (
            names: [
                "conv",
            ],
            description: Some("Convert input data (comma-separated list)"),
            arguments: [
                (
                    name: "value",
                    generators: [
                        (
                            has_custom: true,
                            query_term: Some(AfterLast(",")),
                        ),
                    ],
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
    ],
    parser_directives: Some((
        flags_are_posix_noncompliant: true,
    )),
)
