(
    version: 1,
    command: "ddosify",
    description: Some("High-performance load testing tool, written in Golang"),
    options: [
        (
            names: [
                "-t",
            ],
            description: Some("Target website URL. Example: https://ddosify.com"),
            arguments: [
                (
                    name: "URL",
                ),
            ],
            required: true,
            presentation: (
                priority: Some(90.0),
                insert_value: Some("-t https://{cursor}"),
            ),
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Total request count. Default: 100"),
            arguments: [
                (
                    name: "RequestCount",
                    default: Some("100"),
                ),
            ],
            presentation: (
                priority: Some(80.0),
            ),
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Test duration in seconds. Default: 10"),
            arguments: [
                (
                    name: "Duration",
                    default: Some("10"),
                ),
            ],
            presentation: (
                priority: Some(80.0),
            ),
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Type of the request. Default: linear"),
            arguments: [
                (
                    name: "RequestType",
                    suggestions: [
                        (
                            name: "linear",
                        ),
                        (
                            name: "incremental",
                        ),
                        (
                            name: "waved",
                        ),
                    ],
                    default: Some("linear"),
                ),
            ],
            presentation: (
                priority: Some(70.0),
            ),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("HTTP Methods. Default: GET"),
            arguments: [
                (
                    name: "HTTPMethod",
                    suggestions: [
                        (
                            name: "GET",
                        ),
                        (
                            name: "POST",
                        ),
                        (
                            name: "PUT",
                        ),
                        (
                            name: "DELETE",
                        ),
                        (
                            name: "HEAD",
                        ),
                        (
                            name: "PATCH",
                        ),
                        (
                            name: "OPTIONS",
                        ),
                    ],
                    default: Some("GET"),
                ),
            ],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Body for the request"),
            arguments: [
                (
                    name: "Body",
                ),
            ],
            presentation: (
                insert_value: Some("-b '{cursor}'"),
            ),
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Basic authentication"),
            arguments: [
                (
                    name: "BasicAuth",
                    suggestions: [
                        (
                            name: "username:password",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-h",
            ],
            description: Some("Headers of the request. You can provide multiple headers"),
            arguments: [
                (
                    name: "header",
                    suggestions: [
                        (
                            name: "Content-Type: application/json",
                        ),
                        (
                            name: "User-Agent: DdosifyLoadGenerator/0.8.1",
                        ),
                    ],
                ),
            ],
            repeat: Many,
            presentation: (
                insert_value: Some("-h '{cursor}'"),
            ),
        ),
        (
            names: [
                "-T",
            ],
            description: Some("Timeout in seconds. Default: 5"),
            arguments: [
                (
                    name: "Timeout",
                    default: Some("5"),
                ),
            ],
        ),
        (
            names: [
                "-P",
            ],
            description: Some("Proxy address"),
            arguments: [
                (
                    name: "Proxy",
                    suggestions: [
                        (
                            name: "http://user:pass@proxy_host.com:port",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Test result output format. Default: stdout"),
            arguments: [
                (
                    name: "OutputFormat",
                    suggestions: [
                        (
                            name: "stdout",
                        ),
                        (
                            name: "stdout-json",
                        ),
                    ],
                    default: Some("stdout"),
                ),
            ],
        ),
        (
            names: [
                "--config",
            ],
            description: Some("Config file of the load test i.e example_ddosify_config.json"),
            arguments: [
                (
                    name: "ConfigFile",
                ),
            ],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Prints version, git commit, built date (utc)"),
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Iterates the scenario once and prints curl-like verbose result"),
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Prints CLI flags"),
        ),
    ],
)
