(
    version: 1,
    command: "ddosify",
    description: Some("High-performance load testing tool, written in Golang"),
    subcommands: [],
    options: [
        (
            names: [
                "-t",
            ],
            description: Some("Target website URL. Example: https://ddosify.com"),
            takes_value: true,
            arguments: [
                (
                    name: "URL",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Total request count. Default: 100"),
            takes_value: true,
            arguments: [
                (
                    name: "RequestCount",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Test duration in seconds. Default: 10"),
            takes_value: true,
            arguments: [
                (
                    name: "Duration",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Type of the request. Default: linear"),
            takes_value: true,
            arguments: [
                (
                    name: "RequestType",
                    source: Static([
                        "linear",
                        "incremental",
                        "waved",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("HTTP Methods. Default: GET"),
            takes_value: true,
            arguments: [
                (
                    name: "HTTPMethod",
                    source: Static([
                        "GET",
                        "POST",
                        "PUT",
                        "DELETE",
                        "HEAD",
                        "PATCH",
                        "OPTIONS",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Body for the request"),
            takes_value: true,
            arguments: [
                (
                    name: "Body",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Basic authentication"),
            takes_value: true,
            arguments: [
                (
                    name: "BasicAuth",
                    source: Static([
                        "username:password",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
            ],
            description: Some("Headers of the request. You can provide multiple headers"),
            takes_value: true,
            arguments: [
                (
                    name: "header",
                    source: Static([
                        "Content-Type: application/json",
                        "User-Agent: DdosifyLoadGenerator/0.8.1",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-T",
            ],
            description: Some("Timeout in seconds. Default: 5"),
            takes_value: true,
            arguments: [
                (
                    name: "Timeout",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-P",
            ],
            description: Some("Proxy address"),
            takes_value: true,
            arguments: [
                (
                    name: "Proxy",
                    source: Static([
                        "http://user:pass@proxy_host.com:port",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Test result output format. Default: stdout"),
            takes_value: true,
            arguments: [
                (
                    name: "OutputFormat",
                    source: Static([
                        "stdout",
                        "stdout-json",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--config",
            ],
            description: Some("Config file of the load test i.e example_ddosify_config.json"),
            takes_value: true,
            arguments: [
                (
                    name: "ConfigFile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Prints version, git commit, built date (utc)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Iterates the scenario once and prints curl-like verbose result"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Prints CLI flags"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)