(
    version: 1,
    command: "defaults",
    description: Some("Command line interface to a user's defaults"),
    subcommands: [
        (
            name: "read",
            description: Some("Shows defaults"),
            arguments: [
                (
                    name: "domain",
                    suggestions: [
                        (
                            name: "-globalDomain",
                            description: Some("Global domain"),
                        ),
                        (
                            name: "-app",
                            description: Some("Application name"),
                            presentation: (
                                insert_value: Some("-app '{cursor}'"),
                            ),
                        ),
                    ],
                    generators: [
                        (
                            script: [
                                "defaults",
                                "domains",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
                (
                    name: "key",
                ),
            ],
        ),
        (
            name: "write",
            description: Some("Writes key for domain"),
            arguments: [
                (
                    name: "domain",
                    suggestions: [
                        (
                            name: "-globalDomain",
                            description: Some("Global domain"),
                        ),
                        (
                            name: "-app",
                            description: Some("Application name"),
                            presentation: (
                                insert_value: Some("-app '{cursor}'"),
                            ),
                        ),
                    ],
                    generators: [
                        (
                            script: [
                                "defaults",
                                "domains",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
                (
                    name: "key",
                ),
                (
                    name: "value",
                ),
            ],
        ),
        (
            name: "delete",
            description: Some("Deletes domain or key in domain"),
            arguments: [
                (
                    name: "domain",
                    suggestions: [
                        (
                            name: "-globalDomain",
                            description: Some("Global domain"),
                        ),
                        (
                            name: "-app",
                            description: Some("Application name"),
                            presentation: (
                                insert_value: Some("-app '{cursor}'"),
                            ),
                        ),
                    ],
                    generators: [
                        (
                            script: [
                                "defaults",
                                "domains",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
                (
                    name: "key",
                ),
            ],
        ),
        (
            name: "rename",
            description: Some("Renames old_key to new_key"),
            arguments: [
                (
                    name: "domain",
                    suggestions: [
                        (
                            name: "-globalDomain",
                            description: Some("Global domain"),
                        ),
                        (
                            name: "-app",
                            description: Some("Application name"),
                            presentation: (
                                insert_value: Some("-app '{cursor}'"),
                            ),
                        ),
                    ],
                    generators: [
                        (
                            script: [
                                "defaults",
                                "domains",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
                (
                    name: "old_key",
                ),
                (
                    name: "new_key",
                ),
            ],
        ),
        (
            name: "domains",
            description: Some("Lists all domains"),
        ),
        (
            name: "find",
            description: Some("Lists all entries containing word"),
            arguments: [
                (
                    name: "word",
                    description: Some("The word to search for"),
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Show help text"),
        ),
        (
            name: "read-type",
            description: Some("Shows the type for the given domain, key"),
            arguments: [
                (
                    name: "domain",
                    suggestions: [
                        (
                            name: "-globalDomain",
                            description: Some("Global domain"),
                        ),
                        (
                            name: "-app",
                            description: Some("Application name"),
                            presentation: (
                                insert_value: Some("-app '{cursor}'"),
                            ),
                        ),
                    ],
                    generators: [
                        (
                            script: [
                                "defaults",
                                "domains",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
                (
                    name: "key",
                ),
            ],
        ),
    ],
)
