(
    version: 1,
    command: "defaultbrowser",
    description: Some("Change your default browser from the CLI"),
    arguments: [
        (
            name: "",
            generators: [
                (
                    script: [
                        "defaultbrowser",
                    ],
                    has_post_process: true,
                ),
            ],
            optional: true,
        ),
    ],
)
