(
    version: 1,
    command: "defaultbrowser",
    description: Some("Change your default browser from the CLI"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "value",
            source: Unavailable,
            optional: true,
            variadic: false,
            imported_generator: Some((
                script: [
                    "defaultbrowser",
                ],
                has_post_process: true,
                has_custom: false,
            )),
        ),
    ],
)