(
    version: 1,
    command: "degit",
    description: Some("Straightforward project scaffolding"),
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Print help"),
        ),
        (
            names: [
                "-f",
                "--force",
            ],
            description: Some("Overwrite existing files"),
        ),
        (
            names: [
                "-c",
                "--cache",
            ],
            description: Some("Use a cache"),
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Be verbose?"),
        ),
        (
            names: [
                "-m",
                "--mode",
            ],
            description: Some("Clone mode"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "git",
                        ),
                        (
                            name: "tar",
                        ),
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "user/repo",
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                ),
            ],
        ),
        (
            name: "location",
            template: [
                Folders,
            ],
            optional: true,
            suggest_current_token: true,
        ),
    ],
)
