(
    version: 1,
    command: "diff",
    description: Some("Compare files line by line"),
    subcommands: [],
    options: [
        (
            names: [
                "-i",
                "--ignore-case",
            ],
            description: Some("Ignore case differences in file contents"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ignore-file-name-case",
            ],
            description: Some("Ignore case when comparing file names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-ignore-file-name-case",
            ],
            description: Some("Consider case when comparing file names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-E",
                "--ignore-tab-expansion",
            ],
            description: Some("Ignore changes due to tab expansion"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-b",
                "--ignore-space-change",
            ],
            description: Some("Ignore changes in the amount of white space"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
                "--ignore-all-space",
            ],
            description: Some("Ignore all white space"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-B",
                "--ignore-blank-lines",
            ],
            description: Some("Ignore changes whose lines are all blank"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-I",
                "--ignore-matching-lines",
            ],
            description: Some("Ignore changes whose lines all match RE"),
            takes_value: true,
            arguments: [
                (
                    name: "RE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--strip-trailing-cr",
            ],
            description: Some("Strip trailing carriage return on input"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-a",
                "--text",
            ],
            description: Some("Treat all files as text"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
                "-C",
                "--context",
            ],
            description: Some("Output NUM lines of copied context"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
                "-U",
                "--unified",
            ],
            description: Some("Output NUM lines of unified context"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--label",
            ],
            description: Some("Use LABEL instead of file name"),
            takes_value: true,
            arguments: [
                (
                    name: "LABEL",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--show-c-function",
            ],
            description: Some("Show which C function each change is in"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-F",
                "--show-function-line",
            ],
            description: Some("Show the most recent line matching RE"),
            takes_value: true,
            arguments: [
                (
                    name: "RE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-q",
                "--brief",
            ],
            description: Some("Output only whether files differ"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-e",
                "--ed",
            ],
            description: Some("Output an ed script"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--normal",
            ],
            description: Some("Output a normal diff"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
                "--rcs",
            ],
            description: Some("Output an RCS format diff"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-y",
                "--side-by-side",
            ],
            description: Some("Output in two columns"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-W",
                "--width",
            ],
            description: Some("Output at most NUM (default 130) print columns"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--left-column",
            ],
            description: Some("Output only the left column of common lines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--suppress-common-lines",
            ],
            description: Some("Do not output common lines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-D",
                "--ifdef",
            ],
            description: Some("Output merged file to show `#ifdef NAME\' diffs"),
            takes_value: true,
            arguments: [
                (
                    name: "NAME",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-l",
                "--paginate",
            ],
            description: Some("Pass the output through `pr\' to paginate it"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-t",
                "--expand-tabs",
            ],
            description: Some("Expand tabs to spaces in output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-T",
                "--initial-tab",
            ],
            description: Some("Make tabs line up by prepending a tab"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
                "--recursive",
            ],
            description: Some("Recursively compare any subdirectories found"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-N",
                "--new-file",
            ],
            description: Some("Treat absent files as empty"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--unidirectional-new-file",
            ],
            description: Some("Treat absent first files as empty"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--report-identical-files",
            ],
            description: Some("Report when two files are the same"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x",
                "--exclude",
            ],
            description: Some("Exclude files that match PAT"),
            takes_value: true,
            arguments: [
                (
                    name: "PAT",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-X",
                "--exclude-from",
            ],
            description: Some("Exclude files that match any pattern in FILE"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-S",
                "--starting-file",
            ],
            description: Some("Start with FILE when comparing directories"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--from-file",
            ],
            description: Some("Compare FILE1 to all operands. FILE1 can be a directory"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE1",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--to-file",
            ],
            description: Some("Compare all operands to FILE2. FILE2 can be a directory"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE2",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--horizon-lines",
            ],
            description: Some("Keep NUM lines of the common prefix and suffix"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--minimal",
            ],
            description: Some("Try hard to find a smaller set of changes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--speed-large-files",
            ],
            description: Some("Assume large files and many scattered small changes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Output version info"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Show help"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--old-group-format",
            ],
            description: Some("Similar, but format old input groups with GFTM"),
            takes_value: true,
            arguments: [
                (
                    name: "GFTM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--new-group-format",
            ],
            description: Some("Similar, but format new input groups with GFTM"),
            takes_value: true,
            arguments: [
                (
                    name: "GFTM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--unchanged-group-format",
            ],
            description: Some("Similar, but format unchanged input groups with GFTM"),
            takes_value: true,
            arguments: [
                (
                    name: "GFTM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--changed-group-format",
            ],
            description: Some("Similar, but format changed input groups with GFTM"),
            takes_value: true,
            arguments: [
                (
                    name: "GFTM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--line-format",
            ],
            description: Some("Format all input lines with LFMT"),
            takes_value: true,
            arguments: [
                (
                    name: "LFTM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--old-line-format",
            ],
            description: Some("Format old input lines with LFTM"),
            takes_value: true,
            arguments: [
                (
                    name: "LFTM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--new-line-format",
            ],
            description: Some("Format new input lines with LFTM"),
            takes_value: true,
            arguments: [
                (
                    name: "LFTM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--unchanged-line-format",
            ],
            description: Some("Format unchanged input lines with LFTM"),
            takes_value: true,
            arguments: [
                (
                    name: "LFTM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "file",
            source: Files,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)