(
    version: 1,
    command: "direnv",
    description: Some("Unclutter your .profile"),
    subcommands: [
        (
            name: "allow",
            description: Some("Grants direnv to load the given .envrc"),
            arguments: [
                (
                    name: "PATH_TO_RC",
                    generators: [
                        (
                            template: [
                                FilePaths,
                            ],
                            has_filter_template_suggestions: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                dangerous: true,
            ),
        ),
        (
            name: "deny",
            description: Some("Revokes the authorization of a given .envrc"),
            arguments: [
                (
                    name: "PATH_TO_RC",
                    generators: [
                        (
                            template: [
                                FilePaths,
                            ],
                            has_filter_template_suggestions: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                dangerous: true,
            ),
        ),
        (
            name: "edit",
            description: Some("Opens PATH_TO_RC or the current .envrc into an $EDITOR and allow the file to be loaded afterwards"),
            arguments: [
                (
                    name: "PATH_TO_RC",
                    generators: [
                        (
                            template: [
                                FilePaths,
                            ],
                            has_filter_template_suggestions: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "exec",
            description: Some("Executes a command after loading the first .envrc found in DIR"),
            arguments: [
                (
                    name: "DIR",
                    template: [
                        Folders,
                    ],
                ),
                (
                    name: "COMMAND",
                    is_command: true,
                    dangerous: true,
                ),
            ],
        ),
        (
            name: "fetchurl",
            description: Some("Fetches a given URL into direnv's CAS"),
            arguments: [
                (
                    name: "url",
                ),
                (
                    name: "integrity-hash",
                    description: Some("Check if the `integrity hash` is equal to the hash value of the file obtained from the `url`"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Help for direnv"),
            arguments: [
                (
                    name: "SHOW_PRIVATE",
                    description: Some("Any string"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "hook",
            description: Some("Used to setup the shell hook"),
            arguments: [
                (
                    name: "SHELL",
                    suggestions: [
                        (
                            name: "bash",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "zsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "fish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "tcsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "elvish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "prune",
            description: Some("Removes old allowed files"),
            presentation: (
                dangerous: true,
            ),
        ),
        (
            name: "reload",
            description: Some("Triggers an env reload"),
            presentation: (
                dangerous: true,
            ),
        ),
        (
            name: "status",
            description: Some("Prints some debug status information"),
        ),
        (
            name: "stdlib",
            description: Some("Displays the stdlib available in the .envrc execution context"),
        ),
        (
            name: "version",
            description: Some("Prints the version or checks that direnv is older than VERSION_AT_LEAST"),
            arguments: [
                (
                    name: "VERSION_AT_LEAST",
                    optional: true,
                ),
            ],
        ),
        (
            name: "apply_dump",
            description: Some("Accepts a filename containing `direnv dump` output and generates a series of bash export statements to apply the given env"),
            arguments: [
                (
                    name: "FILE",
                    template: [
                        FilePaths,
                    ],
                    dangerous: true,
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            name: "show_dump",
            description: Some("Show the data inside of a dump for debugging purposes"),
            arguments: [
                (
                    name: "DUMP",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            name: "dotenv",
            description: Some("Transforms a .env file to evaluatable `export KEY=PAIR` statements"),
            arguments: [
                (
                    name: "SHELL",
                    suggestions: [
                        (
                            name: "bash",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "zsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "fish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "tcsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "elvish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                    ],
                    optional: true,
                ),
                (
                    name: "PATH_TO_DOTENV",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            name: "dump",
            description: Some("Used to export the inner bash state at the end of execution"),
            arguments: [
                (
                    name: "SHELL",
                    suggestions: [
                        (
                            name: "bash",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "zsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "fish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "tcsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "elvish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                    ],
                    optional: true,
                ),
                (
                    name: "FILE",
                    description: Some("Overwrites by dump data"),
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                    dangerous: true,
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            name: "export",
            description: Some("Loads an .envrc and prints the diff in terms of exports"),
            arguments: [
                (
                    name: "SHELL",
                    suggestions: [
                        (
                            name: "bash",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "zsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "fish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "tcsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "elvish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                    ],
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            name: "watch",
            description: Some("Adds a path to the list that direnv watches for changes"),
            arguments: [
                (
                    name: "SHELL",
                    suggestions: [
                        (
                            name: "bash",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "zsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "fish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "tcsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "elvish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                    ],
                ),
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            name: "watch-dir",
            description: Some("Recursively adds a directory to the list that direnv watches for changes"),
            arguments: [
                (
                    name: "SHELL",
                    suggestions: [
                        (
                            name: "bash",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "zsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "fish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "tcsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "elvish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                    ],
                ),
                (
                    name: "DIR",
                    template: [
                        Folders,
                    ],
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            name: "watch-list",
            description: Some("Pipe pairs of `mtime path` to stdin to build a list of files to watch"),
            arguments: [
                (
                    name: "SHELL",
                    suggestions: [
                        (
                            name: "bash",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "zsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "fish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "tcsh",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                        (
                            name: "elvish",
                            presentation: (
                                icon: Some("🐚"),
                            ),
                        ),
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            name: "current",
            description: Some("Reports whether direnv's view of a file is current (or stale)"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
    options: [
        (
            names: [
                "--version",
            ],
            description: Some("Prints the version or checks that direnv is older than VERSION_AT_LEAST"),
            arguments: [
                (
                    name: "VERSION_AT_LEAST",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Help for direnv"),
            arguments: [
                (
                    name: "SHOW_PRIVATE",
                    description: Some("Any string"),
                    optional: true,
                ),
            ],
        ),
    ],
)
