(
    version: 1,
    command: "dirname",
    description: Some("Return directory portion of pathname"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "string",
            source: Files,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)