(
    version: 1,
    command: "do-release-upgrade",
    description: Some("Upgrade Ubuntu to latest release"),
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help message and exit"),
        ),
        (
            names: [
                "-d",
                "--devel-release",
            ],
            description: Some("If using the latest supported release, upgrade to the development release"),
        ),
        (
            names: [
                "-p",
                "--proposed",
            ],
            description: Some("Try upgrading to the latest release using the upgrader from Ubuntu-proposed"),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Run in a special upgrade mode"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "desktop",
                        ),
                        (
                            name: "server",
                        ),
                    ],
                ),
            ],
            presentation: (
                hidden: true,
            ),
        ),
        (
            names: [
                "--mode",
            ],
            description: Some("Run in a special upgrade mode"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "desktop",
                        ),
                        (
                            name: "server",
                        ),
                    ],
                ),
            ],
            requires_separator: Some("="),
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Run the specified frontend"),
            arguments: [
                (
                    name: "frontend",
                ),
            ],
            presentation: (
                hidden: true,
            ),
        ),
        (
            names: [
                "--frontend",
            ],
            description: Some("Run the specified frontend"),
            arguments: [
                (
                    name: "frontend",
                ),
            ],
            requires_separator: Some("="),
        ),
    ],
)
