(
    version: 1,
    command: "do-release-upgrade",
    description: Some("Upgrade Ubuntu to latest release"),
    subcommands: [],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help message and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
                "--devel-release",
            ],
            description: Some("If using the latest supported release, upgrade to the development release"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
                "--proposed",
            ],
            description: Some("Try upgrading to the latest release using the upgrader from Ubuntu-proposed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Run in a special upgrade mode"),
            takes_value: true,
            arguments: [
                (
                    name: "mode",
                    source: Static([
                        "desktop",
                        "server",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--mode",
            ],
            description: Some("Run in a special upgrade mode"),
            takes_value: true,
            arguments: [
                (
                    name: "mode",
                    source: Static([
                        "desktop",
                        "server",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Run the specified frontend"),
            takes_value: true,
            arguments: [
                (
                    name: "frontend",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--frontend",
            ],
            description: Some("Run the specified frontend"),
            takes_value: true,
            arguments: [
                (
                    name: "frontend",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [],
)