(
    version: 1,
    command: "do",
    description: Some("Do the command"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)