(
    version: 1,
    command: "docker",
    description: Some("Manage containers"),
    subcommands: [
        (name: "build", description: Some("Build an image"), arguments: [(name: "path", source: Directories)]),
        (name: "compose", description: Some("Docker Compose")),
        (name: "exec", description: Some("Run a command in a container"), arguments: [(name: "container", source: Generator("docker.containers"))]),
        (name: "images", description: Some("List images")),
        (name: "logs", description: Some("Fetch container logs"), arguments: [(name: "container", source: Generator("docker.containers"))]),
        (name: "ps", description: Some("List containers")),
        (name: "pull", description: Some("Download an image")),
        (name: "run", description: Some("Run a container")),
    ],
)
