(
    version: 1,
    command: "doctl",
    description: Some("The official DigitalOcean command line interface (CLI)"),
    subcommands: [
        (
            name: "completion",
            description: Some("Configure your terminal's shell so that doctl commands autocomplete when you press the TAB key"),
            arguments: [
                (
                    name: "shell",
                    suggestions: [
                        (
                            name: "bash",
                        ),
                        (
                            name: "zsh",
                        ),
                        (
                            name: "fish",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Display help about commands"),
            arguments: [
                (
                    name: "command",
                ),
            ],
        ),
        (
            name: "1-click",
            description: Some("The commands under `doctl 1-click` are for interacting with DigitalOcean 1-Click applications"),
            subcommands: [
                (
                    name: "list",
                ),
            ],
        ),
        (
            name: "account",
            description: Some("The subcommands of `doctl account` retrieve information about DigitalOcean accounts"),
            subcommands: [
                (
                    name: "get",
                    description: Some("Retrieve account profile details"),
                ),
                (
                    name: "ratelimit",
                    description: Some("Retrieve your API usage and the remaining quota"),
                ),
            ],
        ),
        (
            name: "apps",
            description: Some("Display commands for working with apps"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create an app"),
                ),
                (
                    name: "create-deployment",
                    description: Some("Create a deployment"),
                ),
                (
                    name: "delete",
                    description: Some("Deletes an app"),
                ),
                (
                    name: "get",
                    description: Some("Get an app"),
                ),
                (
                    name: "get-deployment",
                    description: Some("Get a deployment"),
                ),
                (
                    name: "list",
                    description: Some("List all apps"),
                ),
                (
                    name: "list-alerts",
                    description: Some("List alerts on an app"),
                ),
                (
                    name: "list-deployments",
                    description: Some("List all deployments"),
                ),
                (
                    name: "list-regions",
                    description: Some("List App Platform regions"),
                ),
                (
                    name: "logs",
                    description: Some("Get logs"),
                ),
                (
                    name: "propose",
                    description: Some("Propose an app spec"),
                ),
                (
                    name: "spec",
                    description: Some("Display commands for working with app specs"),
                ),
                (
                    name: "tier",
                    description: Some("Display commands for working with app tiers"),
                ),
                (
                    name: "update",
                    description: Some("Update an app"),
                ),
                (
                    name: "update-alert-destinations",
                    description: Some("Update alert destinations"),
                ),
            ],
        ),
        (
            name: "auth",
            description: Some("Display commands for authenticating doctl with an account"),
            subcommands: [
                (
                    name: "init",
                    description: Some("Initialize doctl to use a specific account"),
                ),
                (
                    name: "list",
                    description: Some("List available authentication contexts"),
                ),
                (
                    name: "remove",
                    description: Some("Remove authentication contexts"),
                ),
                (
                    name: "switch",
                    description: Some("Switches between authentication contexts"),
                ),
            ],
        ),
        (
            name: "balance",
            description: Some("Display commands for retrieving your account balance"),
            subcommands: [
                (
                    name: "get",
                    description: Some("Retrieve your account balance"),
                ),
            ],
        ),
        (
            name: "billing-history",
            description: Some("Display commands for retrieving your billing history"),
            subcommands: [
                (
                    name: "list",
                    description: Some("Retrieve a paginated billing history for a user"),
                ),
            ],
        ),
        (
            name: "compute",
            description: Some("Display commands that manage infrastructure"),
            subcommands: [
                (
                    name: "action",
                    description: Some("Display commands for retrieving resource action history"),
                ),
                (
                    name: "cdn",
                    description: Some("Display commands that manage CDNs"),
                ),
                (
                    name: "certificate",
                    description: Some("Display commands that manage SSL certificates and private keys"),
                ),
                (
                    name: "domain",
                    description: Some("Display commands that manage domains"),
                ),
                (
                    name: "droplet",
                    description: Some("Manage virtual machines (Droplets)"),
                ),
                (
                    name: "droplet-action",
                    description: Some("Display Droplet action commands"),
                ),
                (
                    name: "firewall",
                    description: Some("Display commands to manage cloud firewalls"),
                ),
                (
                    name: "floating-ip",
                    description: Some("Display commands to manage floating IP addresses"),
                ),
                (
                    name: "floating-ip-action",
                    description: Some("Display commands to associate floating IP addresses with Droplets"),
                ),
                (
                    name: "image",
                    description: Some("Display commands to manage images"),
                ),
                (
                    name: "image-action",
                    description: Some("Display commands to perform actions on images"),
                ),
                (
                    name: "load-balancer",
                    description: Some("Display commands to manage load balancers"),
                ),
                (
                    name: "region",
                    description: Some("Display commands to list datacenter regions"),
                ),
                (
                    name: "size",
                    description: Some("List available Droplet sizes"),
                ),
                (
                    name: "snapshot",
                    description: Some("Access and manage snapshots"),
                ),
                (
                    name: "ssh",
                    description: Some("Access a Droplet using SSH"),
                ),
                (
                    name: "ssh-key",
                    description: Some("Display commands to manage SSH keys on your account"),
                ),
                (
                    name: "tag",
                    description: Some("Display commands to manage tags"),
                ),
                (
                    name: "volume",
                    description: Some("Display commands to manage block storage volumes"),
                ),
                (
                    name: "volume-action",
                    description: Some("Display commands to perform actions on a volume"),
                ),
            ],
        ),
        (
            name: "databases",
            description: Some("Display commands that manage databases"),
            subcommands: [
                (
                    name: "backups",
                    description: Some("List database cluster backups"),
                ),
                (
                    name: "connection",
                    description: Some("Retrieve connection details for a database cluster"),
                ),
                (
                    name: "create",
                    description: Some("Create a database cluster"),
                ),
                (
                    name: "db",
                    description: Some("Display commands for managing individual databases within a cluster"),
                ),
                (
                    name: "delete",
                    description: Some("Delete a database cluster"),
                ),
                (
                    name: "firewalls",
                    description: Some("Display commands to manage firewall rules (called `trusted sources` in the control panel) for database clusters"),
                ),
                (
                    name: "get",
                    description: Some("Get details for a database cluster"),
                ),
                (
                    name: "list",
                    description: Some("List your database clusters"),
                ),
                (
                    name: "maintenance-window",
                    description: Some("Display commands for scheduling automatic maintenance on your database cluster"),
                ),
                (
                    name: "migrate",
                    description: Some("Migrate a database cluster to a new region"),
                ),
                (
                    name: "pool",
                    description: Some("Display commands for managing connection pools"),
                ),
                (
                    name: "replica",
                    description: Some("Display commands to manage read-only database replicas"),
                ),
                (
                    name: "resize",
                    description: Some("Resize a database cluster"),
                ),
                (
                    name: "sql-mode",
                    description: Some("Display commands to configure a MySQL database cluster's SQL modes"),
                ),
                (
                    name: "user",
                    description: Some("Display commands for managing database users"),
                ),
            ],
        ),
        (
            name: "invoice",
            description: Some("Display commands for retrieving invoices for your account"),
            subcommands: [
                (
                    name: "csv",
                    description: Some("Download a CSV file of an invoice"),
                ),
                (
                    name: "get",
                    description: Some("Retrieve a list of all the items on an invoice"),
                ),
                (
                    name: "list",
                    description: Some("List all of the invoices for your account"),
                ),
                (
                    name: "pdf",
                    description: Some("Download a PDF file of an invoice"),
                ),
                (
                    name: "summary",
                    description: Some("Get a summary of an invoice"),
                ),
            ],
        ),
        (
            name: "kubernetes",
            description: Some("Displays commands to manage Kubernetes clusters and configurations"),
            subcommands: [
                (
                    name: "1-click",
                    description: Some("Display commands that pertain to kubernetes 1-click applications"),
                ),
                (
                    name: "cluster",
                    description: Some("Display commands for managing Kubernetes clusters"),
                ),
                (
                    name: "options",
                    description: Some("List possible option values for use inside Kubernetes commands"),
                ),
            ],
        ),
        (
            name: "monitoring",
            description: Some("[Beta] Display commands to manage monitoring"),
            subcommands: [
                (
                    name: "alert",
                    description: Some("Display commands for managing alert policies"),
                ),
            ],
        ),
        (
            name: "projects",
            description: Some("Manage projects and assign resources to them"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create a new project"),
                ),
                (
                    name: "delete",
                    description: Some("Delete the specified project"),
                ),
                (
                    name: "get",
                    description: Some("Retrieve details for a specific project"),
                ),
                (
                    name: "list",
                    description: Some("List existing projects"),
                ),
                (
                    name: "resources",
                    description: Some("Manage resources assigned to a project"),
                ),
                (
                    name: "update",
                    description: Some("Update an existing project"),
                ),
            ],
        ),
        (
            name: "registry",
            description: Some("Display commands for working with container registries"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create a private container registry"),
                ),
                (
                    name: "delete",
                    description: Some("Delete a container registry"),
                ),
                (
                    name: "docker-config",
                    description: Some("Generate a docker auth configuration for a registry"),
                ),
                (
                    name: "garbage-collection",
                    description: Some("Display commands for garbage collection for a container registry"),
                ),
                (
                    name: "get",
                    description: Some("Retrieve details about a container registry"),
                ),
                (
                    name: "kubernetes-manifest",
                    description: Some("Generate a Kubernetes secret manifest for a registry"),
                ),
                (
                    name: "login",
                    description: Some("Log in Docker to a container registry"),
                ),
                (
                    name: "logout",
                    description: Some("Log out Docker from a container registry"),
                ),
                (
                    name: "options",
                    description: Some("List available container registry options"),
                ),
                (
                    name: "repository",
                    description: Some("Display commands for working with repositories in a container registry"),
                ),
            ],
        ),
        (
            name: "vpcs",
            description: Some("Display commands that manage VPCs"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create a new VPC"),
                ),
                (
                    name: "delete",
                    description: Some("Permanently delete a VPC"),
                ),
                (
                    name: "get",
                    description: Some("Retrieve a VPC"),
                ),
                (
                    name: "list",
                    description: Some("List VPCs"),
                ),
                (
                    name: "update",
                    description: Some("Update a VPC's configuration"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Help for doctl"),
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Enable verbose output"),
        ),
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Desired output format"),
            arguments: [
                (
                    name: "format",
                    suggestions: [
                        (
                            name: "text",
                        ),
                        (
                            name: "json",
                        ),
                    ],
                    default: Some("text"),
                ),
            ],
        ),
        (
            names: [
                "--trace",
            ],
            description: Some("Show a log of network activity while performing a command"),
        ),
        (
            names: [
                "-c",
                "--config",
            ],
            description: Some("Specify a custom config file (default \"$HOME/config.yaml\")"),
        ),
        (
            names: [
                "-u",
                "--api-url",
            ],
            description: Some("Override default API endpoint"),
        ),
        (
            names: [
                "-t",
                "--access-token",
            ],
            description: Some("API V2 access token"),
        ),
        (
            names: [
                "version",
            ],
            description: Some("Show the current version"),
        ),
    ],
)
