(
    version: 1,
    command: "dotenv",
    description: Some("Loads environment variables from .env"),
    options: [
        (
            names: [
                "-f",
            ],
            description: Some("List of env files to parse"),
            arguments: [
                (
                    name: "",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            exclusive_on: [
                "-h",
                "-v",
                "-t",
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help"),
            exclusive_on: [
                "-f",
                "-v",
                "-t",
            ],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show version"),
            exclusive_on: [
                "-f",
                "-h",
                "-t",
            ],
        ),
        (
            names: [
                "-t",
                "--template",
            ],
            description: Some("Create a template env file"),
            arguments: [
                (
                    name: "",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            exclusive_on: [
                "-f",
                "-h",
                "-v",
            ],
        ),
    ],
    arguments: [
        (
            name: "",
            is_command: true,
        ),
    ],
)
