(
    version: 1,
    command: "dotenv-vault",
    description: Some("CLI for dotenv-vault"),
    subcommands: [
        (
            name: "new",
            description: Some("Create your project"),
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                ),
            ],
            arguments: [
                (
                    name: "DOTENV_VAULT",
                    description: Some("Set .env.vault identifier. Defaults to generated value"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "login",
            description: Some("Log in to dotenv-vault"),
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                ),
            ],
            arguments: [
                (
                    name: "DOTENV_ME",
                    description: Some("Set .env.me credential. Defaults to generated value"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "logout",
            description: Some("Log out from dotenv-vault"),
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                ),
            ],
        ),
        (
            name: "open",
            description: Some("Opens project page in a browser"),
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                ),
            ],
            arguments: [
                (
                    name: "ENVIRONMENT",
                    description: Some("Set environment to open to. Defaults to development"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "push",
            description: Some("Push .env securely"),
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                ),
                (
                    names: [
                        "-m",
                        "--dotenvMe",
                    ],
                    description: Some("Pass .env.me (DOTENV_ME) credential directly (rather than reading from .env.me file)"),
                    arguments: [
                        (
                            name: "DOTENV_ME",
                            description: Some("Pass .env.me (DOTENV_ME) credential directly"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "ENVIRONMENT",
                    description: Some("Set environment to open to. Defaults to development"),
                    optional: true,
                ),
                (
                    name: "FILENAME",
                    description: Some("Set input filename. Defaults to .env for development and .env.{environment} for other environments"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "pull",
            description: Some("Pull .env securely"),
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                ),
                (
                    names: [
                        "-m",
                        "--dotenvMe",
                    ],
                    description: Some("Pass .env.me (DOTENV_ME) credential directly (rather than reading from .env.me file)"),
                    arguments: [
                        (
                            name: "DOTENV_ME",
                            description: Some("Pass .env.me (DOTENV_ME) credential directly"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "ENVIRONMENT",
                    description: Some("Set environment to open to. Defaults to development"),
                    optional: true,
                ),
                (
                    name: "FILENAME",
                    description: Some("Set input filename. Defaults to .env for development and .env.{environment} for other environments"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "versions",
            description: Some("List version history"),
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                ),
                (
                    names: [
                        "-m",
                        "--dotenvMe",
                    ],
                    description: Some("Pass .env.me (DOTENV_ME) credential directly (rather than reading from .env.me file)"),
                    arguments: [
                        (
                            name: "DOTENV_ME",
                            description: Some("Pass .env.me (DOTENV_ME) credential directly"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "ENVIRONMENT",
                    description: Some("Set environment to open to. Defaults to development"),
                    optional: true,
                ),
                (
                    name: "FILENAME",
                    description: Some("Set input filename. Defaults to .env for development and .env.{environment} for other environments"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "whoami",
            description: Some("Display the current logged in user"),
            options: [
                (
                    names: [
                        "-m",
                        "--dotenvMe",
                    ],
                    description: Some("Pass .env.me (DOTENV_ME) credential directly (rather than reading from .env.me file)"),
                    arguments: [
                        (
                            name: "DOTENV_ME",
                            description: Some("Pass .env.me (DOTENV_ME) credential directly"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "status",
            description: Some("Check dotenv-operational status"),
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Display help for dotenv-vault"),
        ),
        (
            name: "update",
            description: Some("Update the dotenv-vault CLI"),
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Get documentation for the command"),
            persistent: true,
        ),
    ],
)
