(
    version: 1,
    command: "dotenv",
    description: Some("Loads environment variables from .env"),
    subcommands: [],
    options: [
        (
            names: [
                "-f",
            ],
            description: Some("List of env files to parse"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-t",
                "--template",
            ],
            description: Some("Create a template env file"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)