(
    version: 1,
    command: "dotenv-vault",
    description: Some("CLI for dotenv-vault"),
    subcommands: [
        (
            name: "new",
            aliases: [],
            description: Some("Create your project"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "DOTENV_VAULT",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "login",
            aliases: [],
            description: Some("Log in to dotenv-vault"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "DOTENV_ME",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "logout",
            aliases: [],
            description: Some("Log out from dotenv-vault"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "open",
            aliases: [],
            description: Some("Opens project page in a browser"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "ENVIRONMENT",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "push",
            aliases: [],
            description: Some("Push .env securely"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-m",
                        "--dotenvMe",
                    ],
                    description: Some("Pass .env.me (DOTENV_ME) credential directly (rather than reading from .env.me file)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "DOTENV_ME",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "ENVIRONMENT",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "FILENAME",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "pull",
            aliases: [],
            description: Some("Pull .env securely"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-m",
                        "--dotenvMe",
                    ],
                    description: Some("Pass .env.me (DOTENV_ME) credential directly (rather than reading from .env.me file)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "DOTENV_ME",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "ENVIRONMENT",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "FILENAME",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "versions",
            aliases: [],
            description: Some("List version history"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-m",
                        "--dotenvMe",
                    ],
                    description: Some("Pass .env.me (DOTENV_ME) credential directly (rather than reading from .env.me file)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "DOTENV_ME",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "ENVIRONMENT",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "FILENAME",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "whoami",
            aliases: [],
            description: Some("Display the current logged in user"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-m",
                        "--dotenvMe",
                    ],
                    description: Some("Pass .env.me (DOTENV_ME) credential directly (rather than reading from .env.me file)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "DOTENV_ME",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "status",
            aliases: [],
            description: Some("Check dotenv-operational status"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Display help for dotenv-vault"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Update the dotenv-vault CLI"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatic yes to prompts. Assume yes to all prompts and run non-interactively"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Get documentation for the command"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)