(
    version: 1,
    command: "dotslash",
    description: None,
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "value",
            source: Directories,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)