(
    version: 1,
    command: "dscacheutil",
    description: Some("Utility for managing the Directory Service cache"),
    subcommands: [
        (
            name: "-h",
            aliases: [],
            description: Some("List the options for calling dscacheutil"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-q",
            aliases: [],
            description: Some("Query the Directory Service cache"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-a",
                    ],
                    description: Some("Attribute to query"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "attributeKey",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                        (
                            name: "attributeValue",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "category",
                    source: Static([
                        "group",
                        "host",
                        "mount",
                        "protocol",
                        "rpc",
                        "service",
                        "user",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-cachedump",
            aliases: [],
            description: Some("Get an overview of the cache by default"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-buckets",
                    ],
                    description: Some("Get an overview of the cache by default"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-entries",
                    ],
                    description: Some("Dump detailed information about cache entries"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "entry",
                            source: Static([
                                "group",
                                "host",
                                "mount",
                                "protocol",
                                "rpc",
                                "service",
                                "user",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-configuration",
            aliases: [],
            description: Some("Get the current configuration information, such as the search policy and cache parameters"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-flushcache",
            aliases: [],
            description: Some("Flush the entire cache"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-statistics",
            aliases: [],
            description: Some("Get statistics from the cache, including an overview an detailed call statistics"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)