(
    version: 1,
    command: "dust",
    description: Some("Like du but more intuitive"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for dust"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Print version information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-percent-bars",
                "-b",
            ],
            description: Some("No percent bars or percentages will be displayed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-colors",
                "-c",
            ],
            description: Some("No colors will be printed (Useful for commands like: watch)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--depth",
                "-d",
            ],
            description: Some("Depth to show"),
            takes_value: true,
            arguments: [
                (
                    name: "depth",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--filter",
                "-e",
            ],
            description: Some("Only include filepaths matching this regex. For png files type: -e \"\\.png$\""),
            takes_value: true,
            arguments: [
                (
                    name: "filter",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--filecount",
                "-f",
            ],
            description: Some("Directory \'size\' is number of child files/dirs not disk size"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--si",
                "-H",
            ],
            description: Some("Print sizes in powers of 1000 (e.g., 1.1G)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ignore_hidden",
                "-i",
            ],
            description: Some("Do not display hidden files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--number-of-lines",
                "-n",
            ],
            description: Some("Number of lines of output to show. (Default is terminal_height - 10)"),
            takes_value: true,
            arguments: [
                (
                    name: "number_of_lines",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--full-paths",
                "-p",
            ],
            description: Some("Subdirectories will not have their path shortened"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--reverse",
                "-r",
            ],
            description: Some("Print tree upside down (biggest highest)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--apparent-size",
                "-s",
            ],
            description: Some("Use file length instead of blocks"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--skip-total",
            ],
            description: Some("No total row will be displayed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--file_types",
                "-t",
            ],
            description: Some("Show only these file types"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--invert-filter",
                "-v",
            ],
            description: Some("Exclude filepaths matching this regex. To ignore png files type: -v \"\\.png$\""),
            takes_value: true,
            arguments: [
                (
                    name: "invert_filter",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--terminal_width",
                "-w",
            ],
            description: Some("Specify width of output overriding the auto detection of terminal width"),
            takes_value: true,
            arguments: [
                (
                    name: "width",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--limit-filesystem",
                "-x",
            ],
            description: Some("Only count the files and directories on the same filesystem as the supplied directory"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ignore-directory",
                "-X",
            ],
            description: Some("Exclude any file or directory with this name"),
            takes_value: true,
            arguments: [
                (
                    name: "ignore_directory",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--min-size",
                "-z",
            ],
            description: Some("Minimum size file to include in output"),
            takes_value: true,
            arguments: [
                (
                    name: "min_size",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "inputs",
            source: Directories,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)