(
    version: 1,
    command: "eleventy",
    description: Some("Eleventy is a simpler static site generator"),
    subcommands: [],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help message and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show program\'s version number and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--quiet",
            ],
            description: Some("Don’t print all written files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--watch",
            ],
            description: Some("Wait for files to change and automatically rewrite"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--dryrun",
            ],
            description: Some("Don’t write any files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--input",
            ],
            description: Some("Input template files"),
            takes_value: true,
            arguments: [
                (
                    name: "Template File",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--output",
            ],
            description: Some("Write HTML output to this folder"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--serve",
            ],
            description: Some("Run web server on port and watch them too"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--port",
            ],
            description: Some("Run Web Server on specified port"),
            takes_value: true,
            arguments: [
                (
                    name: "port",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--formats",
            ],
            description: Some("Whitelist only certain template types"),
            takes_value: true,
            arguments: [
                (
                    name: "Template Names Separated by ,",
                    source: Static([
                        "md",
                        "html",
                        "ejs",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--config",
            ],
            description: Some("Override the eleventy config file path"),
            takes_value: true,
            arguments: [
                (
                    name: "Config File",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--pathprefix",
            ],
            description: Some("Change all url template filters to use this subdirectory"),
            takes_value: true,
            arguments: [
                (
                    name: "Subdirectory",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Directories,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)