(
    version: 1,
    command: "elm-json",
    description: Some("Deal with your elm.json"),
    subcommands: [
        (
            name: "help",
            aliases: [],
            description: Some("Prints help information or the help of the given subcommand(s)"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "subcommand",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "install",
            aliases: [],
            description: Some("Install a package"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Prints help information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--test",
                    ],
                    description: Some("Install as a test-dependency"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--version",
                        "-V",
                    ],
                    description: Some("Prints version information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--yes",
                    ],
                    description: Some("Answer \"yes\" to all questions"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "PACKAGE",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "curl",
                            "-sH",
                            "accept-encoding: gzip",
                            "--compressed",
                            "https://package.elm-lang.org/search.json",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
                (
                    name: "-- INPUT",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "new",
            aliases: [],
            description: Some("Create a new elm.json file"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Prints help information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--version",
                        "-V",
                    ],
                    description: Some("Prints version information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "tree",
            aliases: [],
            description: Some("List entire dependency graph as a tree"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Prints help information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--test",
                    ],
                    description: Some("Promote test-dependencies to top-level dependencies"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--version",
                        "-V",
                    ],
                    description: Some("Prints version information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "PACKAGE",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "curl",
                            "-sH",
                            "accept-encoding: gzip",
                            "--compressed",
                            "https://package.elm-lang.org/search.json",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
                (
                    name: "-- INPUT",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "uninstall",
            aliases: [],
            description: Some("Uninstall a package"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Prints help information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--version",
                        "-V",
                    ],
                    description: Some("Prints version information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--yes",
                    ],
                    description: Some("Answer \"yes\" to all questions"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "PACKAGE",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "curl",
                            "-sH",
                            "accept-encoding: gzip",
                            "--compressed",
                            "https://package.elm-lang.org/search.json",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
                (
                    name: "-- INPUT",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "upgrade",
            aliases: [],
            description: Some("Bring your dependencies up to date"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Prints help information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--unsafe",
                    ],
                    description: Some("Allow major versions bumps"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--version",
                        "-V",
                    ],
                    description: Some("Prints version information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--yes",
                    ],
                    description: Some("Answer \"yes\" to all questions"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "INPUT",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Prints help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--offline",
            ],
            description: Some("Enable offline mode, which means no HTTP traffic will happen"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Prints version information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Sets the level of verbosity"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)