(
    version: 1,
    command: "elm-format",
    description: Some("Format your code in the Elm idiomatic way"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for elm-format"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--output",
            ],
            description: Some("Write output to FILE instead of overwriting the given source file"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--yes",
            ],
            description: Some("Reply \'yes\' to all automated prompts"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--validate",
            ],
            description: Some("Check if files are formatted without changing them"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--stdin",
            ],
            description: Some("Read from stdin, output to stdout"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--elm-version",
            ],
            description: Some("The Elm version of the source files being formatted"),
            takes_value: true,
            arguments: [
                (
                    name: "VERSION",
                    source: Static([
                        "0.19",
                        "0.18",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "INPUT",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)