(
    version: 1,
    command: "elm-format",
    description: Some("Format your code in the Elm idiomatic way"),
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for elm-format"),
        ),
        (
            names: [
                "--output",
            ],
            description: Some("Write output to FILE instead of overwriting the given source file"),
            arguments: [
                (
                    name: "FILE",
                    description: Some("Name and location of output file"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--yes",
            ],
            description: Some("Reply 'yes' to all automated prompts"),
        ),
        (
            names: [
                "--validate",
            ],
            description: Some("Check if files are formatted without changing them"),
        ),
        (
            names: [
                "--stdin",
            ],
            description: Some("Read from stdin, output to stdout"),
        ),
        (
            names: [
                "--elm-version",
            ],
            description: Some("The Elm version of the source files being formatted"),
            arguments: [
                (
                    name: "VERSION",
                    description: Some("Valid values: 0.18, 0.19. Default: auto"),
                    suggestions: [
                        (
                            name: "0.19",
                        ),
                        (
                            name: "0.18",
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "INPUT",
            template: [
                FilePaths,
            ],
        ),
    ],
)
