(
    version: 1,
    command: "else",
    description: Some("Execute this command if the test returned 1"),
    arguments: [
        (
            name: "",
            is_command: true,
        ),
    ],
)
