(
    version: 1,
    command: "emacs",
    description: Some("An extensible, customizable, free/libre text editor — and more"),
    options: [
        (
            names: [
                "--batch",
            ],
            description: Some("Do not do interactive display; implies -q"),
            depends_on: [
                "-q",
            ],
        ),
        (
            names: [
                "--chdir",
            ],
            description: Some("Change to directory"),
        ),
        (
            names: [
                "--daemon",
                "--bg-daemon",
            ],
            description: Some("Start a server in the background"),
        ),
        (
            names: [
                "--fg-daemon",
            ],
            description: Some("Start a server in the foreground"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Display Emacs version information and exit"),
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Display help and exit"),
        ),
        (
            names: [
                "-q",
                "--no-init-file",
            ],
            description: Some("Do not load an init file"),
        ),
        (
            names: [
                "-nl",
                "--no-shared-memory",
            ],
            description: Some("Do not use shared memory"),
        ),
        (
            names: [
                "--no-site-file",
                "-nsl",
            ],
            description: Some("Do not load the site-wide startup file"),
        ),
        (
            names: [
                "--no-desktop",
            ],
            description: Some("Do not load a saved desktop"),
        ),
        (
            names: [
                "-Q",
                "--quick",
            ],
            description: Some("Similar to \"-q --no-site-file --no-splash\",  Also, avoid processing X resources"),
        ),
        (
            names: [
                "--no-splash",
            ],
            description: Some("Do not display a splash screen during start-u"),
        ),
        (
            names: [
                "--debug-init",
            ],
            description: Some("Enable Emacs Lisp debugger during the processing of the user init file ~/.emacs.  This is useful for debugging problems in the init file"),
        ),
        (
            names: [
                "-u",
                "--user",
            ],
            description: Some("Load user's init file"),
        ),
        (
            names: [
                "-t",
                "--terminal",
            ],
            description: Some("Use specified file as the terminal instead of using stdin/stdout.  This must be the first argument specified in the command line"),
            arguments: [
                (
                    name: "",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--file",
                "--find-file",
                "--visit",
            ],
            description: Some("The same as specifying file directly as an argument"),
            arguments: [
                (
                    name: "",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "",
            template: [
                FilePaths,
            ],
        ),
    ],
)
