(
    version: 1,
    command: "emacs",
    description: Some("An extensible, customizable, free/libre text editor — and more"),
    subcommands: [],
    options: [
        (
            names: [
                "--batch",
            ],
            description: Some("Do not do interactive display; implies -q"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--chdir",
            ],
            description: Some("Change to directory"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--daemon",
                "--bg-daemon",
            ],
            description: Some("Start a server in the background"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--fg-daemon",
            ],
            description: Some("Start a server in the foreground"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Display Emacs version information and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Display help and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-q",
                "--no-init-file",
            ],
            description: Some("Do not load an init file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-nl",
                "--no-shared-memory",
            ],
            description: Some("Do not use shared memory"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-site-file",
                "-nsl",
            ],
            description: Some("Do not load the site-wide startup file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-desktop",
            ],
            description: Some("Do not load a saved desktop"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Q",
                "--quick",
            ],
            description: Some("Similar to \"-q --no-site-file --no-splash\",  Also, avoid processing X resources"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-splash",
            ],
            description: Some("Do not display a splash screen during start-u"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--debug-init",
            ],
            description: Some("Enable Emacs Lisp debugger during the processing of the user init file ~/.emacs.  This is useful for debugging problems in the init file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
                "--user",
            ],
            description: Some("Load user\'s init file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-t",
                "--terminal",
            ],
            description: Some("Use specified file as the terminal instead of using stdin/stdout.  This must be the first argument specified in the command line"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--file",
                "--find-file",
                "--visit",
            ],
            description: Some("The same as specifying file directly as an argument"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)