(
    version: 1,
    command: "enapter",
    description: Some("Cross-platform device management command-line tool for Enapter Energy Management System Toolkit"),
    subcommands: [
        (
            name: "devices",
            description: Some("Device information and management commands"),
            subcommands: [
                (
                    name: "upload",
                    description: Some("Upload blueprint to a device"),
                    options: [
                        (
                            names: [
                                "--hardware-id",
                            ],
                            description: Some("Hardware ID (UCM ID) of the device; can be obtained in cloud.enapter.com"),
                            arguments: [
                                (
                                    name: "ID",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--blueprint-dir",
                            ],
                            description: Some("Directory which contains blueprint file"),
                            arguments: [
                                (
                                    name: "",
                                    template: [
                                        FilePaths,
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--timeout",
                            ],
                            description: Some("Time to wait for blueprint uploading (default: 30s)"),
                            arguments: [
                                (
                                    name: "timeout",
                                    optional: true,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                        ),
                    ],
                ),
                (
                    name: "logs",
                    description: Some("Stream logs from a device"),
                    options: [
                        (
                            names: [
                                "--hardware-id",
                            ],
                            description: Some("Hardware ID (UCM ID) of the device; can be obtained in cloud.enapter.com"),
                            arguments: [
                                (
                                    name: "ID",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                        ),
                    ],
                ),
                (
                    name: "upload-logs",
                    description: Some("Show blueprint uploading logs"),
                    options: [
                        (
                            names: [
                                "--hardware-id",
                            ],
                            description: Some("Hardware ID (UCM ID) of the device; can be obtained in cloud.enapter.com"),
                            arguments: [
                                (
                                    name: "ID",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                        ),
                    ],
                ),
                (
                    name: "execute",
                    description: Some("Execute command on device"),
                    options: [
                        (
                            names: [
                                "--hardware-id",
                            ],
                            description: Some("Hardware ID (UCM ID) of the device; can be obtained in cloud.enapter.com"),
                            arguments: [
                                (
                                    name: "ID",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--command",
                            ],
                            description: Some("Command name"),
                            arguments: [
                                (
                                    name: "command",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--arguments",
                            ],
                            description: Some("Command arguments as JSON object"),
                            arguments: [
                                (
                                    name: "arguments",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--show-progress",
                            ],
                            description: Some("Enable in-progress responses streaming (default: false)"),
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                        ),
                    ],
                ),
                (
                    name: "help",
                    description: Some("Help"),
                ),
            ],
        ),
        (
            name: "rules",
            description: Some("Rules information and management commands"),
            subcommands: [
                (
                    name: "update",
                    description: Some("Update rule"),
                    options: [
                        (
                            names: [
                                "--rule-id",
                            ],
                            description: Some("Rule ID; can be obtained in cloud.enapter.com"),
                            arguments: [
                                (
                                    name: "ID",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--rule-path",
                            ],
                            description: Some("Path to file with rule Lua code"),
                            arguments: [
                                (
                                    name: "",
                                    template: [
                                        FilePaths,
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--execution-interval",
                            ],
                            description: Some("Rule execution interval in milliseconds (default: chosen by the server)"),
                            arguments: [
                                (
                                    name: "interval",
                                    optional: true,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--stdlib-version",
                            ],
                            description: Some("Version of standard library used by the rule (default: chosen by the server)"),
                            arguments: [
                                (
                                    name: "version",
                                    optional: true,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--timeout",
                            ],
                            description: Some("Time to wait for rule update (default: 30s)"),
                            arguments: [
                                (
                                    name: "timeout",
                                    optional: true,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                        ),
                    ],
                ),
                (
                    name: "logs",
                    description: Some("Stream logs from a rule"),
                    options: [
                        (
                            names: [
                                "--rule-id",
                            ],
                            description: Some("Rule ID; can be obtained in cloud.enapter.com"),
                            arguments: [
                                (
                                    name: "ID",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Shows a list of commands or help for one command"),
            arguments: [
                (
                    name: "command",
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Show version"),
        ),
    ],
)
