(
    version: 1,
    command: "enapter",
    description: Some("Cross-platform device management command-line tool for Enapter Energy Management System Toolkit"),
    subcommands: [
        (
            name: "devices",
            aliases: [],
            description: Some("Device information and management commands"),
            subcommands: [
                (
                    name: "upload",
                    aliases: [],
                    description: Some("Upload blueprint to a device"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--hardware-id",
                            ],
                            description: Some("Hardware ID (UCM ID) of the device; can be obtained in cloud.enapter.com"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "ID",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--blueprint-dir",
                            ],
                            description: Some("Directory which contains blueprint file"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "value",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--timeout",
                            ],
                            description: Some("Time to wait for blueprint uploading (default: 30s)"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "timeout",
                                    source: Files,
                                    optional: true,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "logs",
                    aliases: [],
                    description: Some("Stream logs from a device"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--hardware-id",
                            ],
                            description: Some("Hardware ID (UCM ID) of the device; can be obtained in cloud.enapter.com"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "ID",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "upload-logs",
                    aliases: [],
                    description: Some("Show blueprint uploading logs"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--hardware-id",
                            ],
                            description: Some("Hardware ID (UCM ID) of the device; can be obtained in cloud.enapter.com"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "ID",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "execute",
                    aliases: [],
                    description: Some("Execute command on device"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--hardware-id",
                            ],
                            description: Some("Hardware ID (UCM ID) of the device; can be obtained in cloud.enapter.com"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "ID",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--command",
                            ],
                            description: Some("Command name"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "command",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--arguments",
                            ],
                            description: Some("Command arguments as JSON object"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "arguments",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--show-progress",
                            ],
                            description: Some("Enable in-progress responses streaming (default: false)"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "help",
                    aliases: [],
                    description: Some("Help"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "rules",
            aliases: [],
            description: Some("Rules information and management commands"),
            subcommands: [
                (
                    name: "update",
                    aliases: [],
                    description: Some("Update rule"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--rule-id",
                            ],
                            description: Some("Rule ID; can be obtained in cloud.enapter.com"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "ID",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--rule-path",
                            ],
                            description: Some("Path to file with rule Lua code"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "value",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--execution-interval",
                            ],
                            description: Some("Rule execution interval in milliseconds (default: chosen by the server)"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "interval",
                                    source: Files,
                                    optional: true,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--stdlib-version",
                            ],
                            description: Some("Version of standard library used by the rule (default: chosen by the server)"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "version",
                                    source: Files,
                                    optional: true,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--timeout",
                            ],
                            description: Some("Time to wait for rule update (default: 30s)"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "timeout",
                                    source: Files,
                                    optional: true,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "logs",
                    aliases: [],
                    description: Some("Stream logs from a rule"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--rule-id",
                            ],
                            description: Some("Rule ID; can be obtained in cloud.enapter.com"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "ID",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Shows a list of commands or help for one command"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Show version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)