(
    version: 1,
    command: "encore",
    description: Some("Encore is the fastest way of developing backend applications"),
    subcommands: [
        (
            name: "app",
            description: Some("Commands to create and link Encore apps"),
            subcommands: [
                (
                    name: "clone",
                    description: Some("Clone an Encore app to your computer"),
                ),
                (
                    name: "create",
                    description: Some("Create a new Encore app"),
                    options: [
                        (
                            names: [
                                "--example",
                            ],
                            description: Some("URL to example code to use"),
                            arguments: [
                                (
                                    name: "example",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "link",
                    description: Some("Link an Encore app with the server"),
                    options: [
                        (
                            names: [
                                "--force",
                                "-f",
                            ],
                            description: Some("Force link even if the app is already linked"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "auth",
            description: Some("Commands to authenticate with Encore"),
            subcommands: [
                (
                    name: "login",
                    description: Some("Log in to Encore"),
                    options: [
                        (
                            names: [
                                "--auth-key",
                                "-k",
                            ],
                            description: Some("Auth Key to use for login"),
                            arguments: [
                                (
                                    name: "auth-key",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "logout",
                    description: Some("Logs out the currently logged in user"),
                ),
                (
                    name: "signup",
                    description: Some("Create a new Encore account"),
                ),
                (
                    name: "whoami",
                    description: Some("Show the current logged in user"),
                ),
            ],
        ),
        (
            name: "check",
            description: Some("Checks your application for compile-time errors using Encore's compiler"),
            options: [
                (
                    names: [
                        "--codegen-debug",
                    ],
                    description: Some("Dump generated code (for debugging Encore's code generation)"),
                ),
            ],
        ),
        (
            name: "daemon",
            description: Some("Starts the encore daemon"),
            subcommands: [
                (
                    name: "env",
                    description: Some("Prints Encore environment information"),
                ),
            ],
            options: [
                (
                    names: [
                        "--foreground",
                        "-f",
                    ],
                    description: Some("Start the daemon in the foreground"),
                ),
            ],
        ),
        (
            name: "db",
            description: Some("Database management commands"),
            subcommands: [
                (
                    name: "conn-uri",
                    description: Some("Outputs the database connection string"),
                    options: [
                        (
                            names: [
                                "--env",
                                "-e",
                            ],
                            description: Some("Environment name to connect to (such as \"prod\")"),
                            arguments: [
                                (
                                    name: "env",
                                    default: Some("local"),
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "proxy",
                    description: Some("Sets up a proxy tunnel to the database"),
                    options: [
                        (
                            names: [
                                "--env",
                                "-e",
                            ],
                            description: Some("Environment name to connect to (such as \"prod\")"),
                            arguments: [
                                (
                                    name: "env",
                                    default: Some("local"),
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--port",
                                "-p",
                            ],
                            description: Some("Port to listen on (defaults to a random port)"),
                            arguments: [
                                (
                                    name: "port",
                                    default: Some("0"),
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "reset",
                    description: Some("Resets the databases for the given services. Use --all to reset all databases"),
                    options: [
                        (
                            names: [
                                "--all",
                            ],
                            description: Some("Reset all services in the application"),
                        ),
                    ],
                ),
                (
                    name: "shell",
                    description: Some("Connects to the database via psql shell"),
                    options: [
                        (
                            names: [
                                "--env",
                                "-e",
                            ],
                            description: Some("Environment name to connect to (such as \"prod\")"),
                            arguments: [
                                (
                                    name: "env",
                                    default: Some("local"),
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "eject",
            description: Some("Eject provides ways to eject your application to migrate away from using Encore"),
            subcommands: [
                (
                    name: "docker",
                    description: Some("Docker builds a portable docker image of your Encore application"),
                    options: [
                        (
                            names: [
                                "--base",
                            ],
                            description: Some("Base image to build from"),
                            arguments: [
                                (
                                    name: "base",
                                    default: Some("scratch"),
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--push",
                                "-p",
                            ],
                            description: Some("Push image to remote repository"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "gen",
            description: Some("Code generation commands"),
            subcommands: [
                (
                    name: "client",
                    description: Some("Generates an API client for your app"),
                    options: [
                        (
                            names: [
                                "--env",
                                "-e",
                            ],
                            description: Some("The environment to fetch the API for (defaults to the primary environment)"),
                            arguments: [
                                (
                                    name: "env",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--lang",
                                "-l",
                            ],
                            description: Some("The language to generate code for (\"typescript\" and \"go\" are supported)"),
                            arguments: [
                                (
                                    name: "lang",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--output",
                                "-o",
                            ],
                            description: Some("The filename to write the generated client code to"),
                            arguments: [
                                (
                                    name: "output",
                                    template: [
                                        FilePaths,
                                    ],
                                    suggest_current_token: true,
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "wrappers",
                    description: Some("Generates user-facing wrapper code"),
                ),
            ],
        ),
        (
            name: "logs",
            description: Some("Streams logs from your application"),
            options: [
                (
                    names: [
                        "--env",
                        "-e",
                    ],
                    description: Some("Environment name to stream logs from (defaults to the production environment)"),
                    arguments: [
                        (
                            name: "env",
                        ),
                    ],
                ),
                (
                    names: [
                        "--json",
                    ],
                    description: Some("Whether to print logs in raw JSON format"),
                ),
            ],
        ),
        (
            name: "run",
            description: Some("Runs your application"),
            options: [
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Compile for debugging (disables some optimizations)"),
                ),
                (
                    names: [
                        "--listen",
                    ],
                    description: Some("Address to listen on (for example \"0.0.0.0:4000\")"),
                    arguments: [
                        (
                            name: "listen",
                            default: Some("localhost"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--port",
                        "-p",
                    ],
                    description: Some("Port to listen on"),
                    arguments: [
                        (
                            name: "port",
                            default: Some("4000"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--tunnel",
                    ],
                    description: Some("Create a tunnel to your machine for others to test against"),
                ),
                (
                    names: [
                        "--watch",
                        "-w",
                    ],
                    description: Some("Watch for changes and live-reload"),
                ),
            ],
        ),
        (
            name: "secret",
            description: Some("Secret management commands"),
            subcommands: [
                (
                    name: "set",
                    description: Some("Sets a secret value"),
                    options: [
                        (
                            names: [
                                "--dev",
                                "-d",
                            ],
                            description: Some("To set the secret for development use"),
                        ),
                        (
                            names: [
                                "--prod",
                                "-p",
                            ],
                            description: Some("To set the secret for production use"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "test",
            description: Some("Tests your application"),
        ),
        (
            name: "version",
            description: Some("Reports the current version of the encore application"),
            subcommands: [
                (
                    name: "update",
                    description: Some("Checks for an update of encore and, if one is available, runs the appropriate command to update it"),
                ),
            ],
        ),
        (
            name: "vpn",
            description: Some("VPN management commands"),
            subcommands: [
                (
                    name: "start",
                    description: Some("Sets up a secure connection to private environments"),
                ),
                (
                    name: "status",
                    description: Some("Determines the status of the VPN connection"),
                ),
                (
                    name: "stop",
                    description: Some("Stops the VPN connection"),
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Help about any command"),
            subcommands: [
                (
                    name: "app",
                    description: Some("Commands to create and link Encore apps"),
                    subcommands: [
                        (
                            name: "clone",
                            description: Some("Clone an Encore app to your computer"),
                        ),
                        (
                            name: "create",
                            description: Some("Create a new Encore app"),
                        ),
                        (
                            name: "link",
                            description: Some("Link an Encore app with the server"),
                        ),
                    ],
                ),
                (
                    name: "auth",
                    description: Some("Commands to authenticate with Encore"),
                    subcommands: [
                        (
                            name: "login",
                            description: Some("Log in to Encore"),
                        ),
                        (
                            name: "logout",
                            description: Some("Logs out the currently logged in user"),
                        ),
                        (
                            name: "signup",
                            description: Some("Create a new Encore account"),
                        ),
                        (
                            name: "whoami",
                            description: Some("Show the current logged in user"),
                        ),
                    ],
                ),
                (
                    name: "check",
                    description: Some("Checks your application for compile-time errors using Encore's compiler"),
                ),
                (
                    name: "daemon",
                    description: Some("Starts the encore daemon"),
                    subcommands: [
                        (
                            name: "env",
                            description: Some("Prints Encore environment information"),
                        ),
                    ],
                ),
                (
                    name: "db",
                    description: Some("Database management commands"),
                    subcommands: [
                        (
                            name: "conn-uri",
                            description: Some("Outputs the database connection string"),
                        ),
                        (
                            name: "proxy",
                            description: Some("Sets up a proxy tunnel to the database"),
                        ),
                        (
                            name: "reset",
                            description: Some("Resets the databases for the given services. Use --all to reset all databases"),
                        ),
                        (
                            name: "shell",
                            description: Some("Connects to the database via psql shell"),
                        ),
                    ],
                ),
                (
                    name: "eject",
                    description: Some("Eject provides ways to eject your application to migrate away from using Encore"),
                    subcommands: [
                        (
                            name: "docker",
                            description: Some("Docker builds a portable docker image of your Encore application"),
                        ),
                    ],
                ),
                (
                    name: "gen",
                    description: Some("Code generation commands"),
                    subcommands: [
                        (
                            name: "client",
                            description: Some("Generates an API client for your app"),
                        ),
                        (
                            name: "wrappers",
                            description: Some("Generates user-facing wrapper code"),
                        ),
                    ],
                ),
                (
                    name: "logs",
                    description: Some("Streams logs from your application"),
                ),
                (
                    name: "run",
                    description: Some("Runs your application"),
                ),
                (
                    name: "secret",
                    description: Some("Secret management commands"),
                    subcommands: [
                        (
                            name: "set",
                            description: Some("Sets a secret value"),
                        ),
                    ],
                ),
                (
                    name: "test",
                    description: Some("Tests your application"),
                ),
                (
                    name: "version",
                    description: Some("Reports the current version of the encore application"),
                    subcommands: [
                        (
                            name: "update",
                            description: Some("Checks for an update of encore and, if one is available, runs the appropriate command to update it"),
                        ),
                    ],
                ),
                (
                    name: "vpn",
                    description: Some("VPN management commands"),
                    subcommands: [
                        (
                            name: "start",
                            description: Some("Sets up a secure connection to private environments"),
                        ),
                        (
                            name: "status",
                            description: Some("Determines the status of the VPN connection"),
                        ),
                        (
                            name: "stop",
                            description: Some("Stops the VPN connection"),
                        ),
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Verbose output"),
            arguments: [
                (
                    name: "verbose",
                    default: Some("0"),
                ),
            ],
            persistent: true,
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display help"),
            persistent: true,
        ),
    ],
)
