(
    version: 1,
    command: "envchain",
    description: Some("Set environment variables with macOS keychain or D-Bus secret service"),
    subcommands: [
        (
            name: "-s",
            aliases: [
                "--set",
            ],
            description: Some("Add keychain item of environment variable +ENV+ for namespace +NAMESPACE+"),
            options: [
                (
                    names: [
                        "-n",
                        "--noecho",
                    ],
                    description: Some("Do not echo user input"),
                ),
                (
                    names: [
                        "-p",
                        "--require-passphrase",
                    ],
                    description: Some("Always ask for keychain passphrase"),
                    exclusive_on: [
                        "--no-require-passphrase",
                    ],
                ),
                (
                    names: [
                        "-P",
                        "--no-require-passphrase",
                    ],
                    description: Some("Do not ask for keychain passphrase"),
                    exclusive_on: [
                        "--require-passphrase",
                    ],
                ),
            ],
            arguments: [
                (
                    name: "NAMESPACE",
                    generators: [
                        (
                            script: [
                                "envchain",
                                "--list",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
                (
                    name: "ENV",
                    variadic: true,
                ),
            ],
            presentation: (
                icon: Some("fig://icon?type=option"),
            ),
        ),
        (
            name: "-l",
            aliases: [
                "--list",
            ],
            description: Some("List namespaces that have been created"),
            presentation: (
                icon: Some("fig://icon?type=option"),
            ),
        ),
    ],
    arguments: [
        (
            name: "NAMESPACE",
            generators: [
                (
                    script: [
                        "envchain",
                        "--list",
                    ],
                    has_post_process: true,
                ),
            ],
        ),
        (
            name: "CMD",
            is_command: true,
        ),
    ],
)
