(
    version: 1,
    command: "eslint",
    description: Some("Pluggable JavaScript linter"),
    subcommands: [],
    options: [
        (
            names: [
                "--no-eslintrc",
            ],
            description: Some("Disable use of configuration from .eslintrc.*"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
                "--config",
            ],
            description: Some("Use this configuration, overriding .eslintrc.* config options if present"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--env",
            ],
            description: Some("Specify environments"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--ext",
            ],
            description: Some("Specify JavaScript file extensions"),
            takes_value: true,
            arguments: [
                (
                    name: "Extension",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--global",
            ],
            description: Some("Define global variables"),
            takes_value: true,
            arguments: [
                (
                    name: "Variables",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--parser",
            ],
            description: Some("Specify the parser to be used"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--parser-options",
            ],
            description: Some("Specify parser options"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--resolve-plugins-relative-to",
            ],
            description: Some("A folder where plugins should be resolved from"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--rulesdir",
            ],
            description: Some("Use additional rules from this directory"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--plugin",
            ],
            description: Some("Specify plugins"),
            takes_value: true,
            arguments: [
                (
                    name: "Plugin",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "bash",
                            "-c",
                            "{ ls node_modules ; ls $(npm root -g) ; ls $(yarn global dir)/node_modules/ ; } | cat",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--rule",
            ],
            description: Some("Specify rules"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--fix",
            ],
            description: Some("Automatically fix problems"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--fix-dry-run",
            ],
            description: Some("Automatically fix problems without saving the changes to the file system"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--fix-type",
            ],
            description: Some("Specify the types of fixes to apply"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Static([
                        "problem",
                        "suggestion",
                        "layout",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--ignore-path",
            ],
            description: Some("Specify path of ignore file"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-ignore",
            ],
            description: Some("Disable use of ignore files and patterns"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ignore-pattern",
            ],
            description: Some("Pattern of files to ignore (in addition to those in .eslintignore)"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--stdin",
            ],
            description: Some("Lint code provided on <STDIN>"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--stdin-filename",
            ],
            description: Some("Specify filename to process STDIN as"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--quiet",
            ],
            description: Some("Report errors only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--max-warnings",
            ],
            description: Some("Number of warnings to trigger nonzero exit code"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-o",
                "--output-file",
            ],
            description: Some("Specify file to write report to"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--format",
            ],
            description: Some("Use a specific output format"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Static([
                        "checkstyle",
                        "codeframe",
                        "compact",
                        "html",
                        "jslint-xml",
                        "json",
                        "junit",
                        "stylish",
                        "table",
                        "tap",
                        "unix",
                        "visualstudio",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Force enabling of color"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-color",
            ],
            description: Some("Force disabling of color"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-inline-config",
            ],
            description: Some("Prevent comments from changing config or rules"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--report-unused-disable-directives",
            ],
            description: Some("Adds reported errors for unused eslint-disable-directives"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--cache",
            ],
            description: Some("Only check changed files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--cache-location",
            ],
            description: Some("Path to the cache file or directory"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--cache-strategy",
            ],
            description: Some("Strategy to use for detecting changed files"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Static([
                        "metadata",
                        "content",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--init",
            ],
            description: Some("Run config initialization wizard"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--env-info",
            ],
            description: Some("Output execution environment information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-error-on-unmatched-pattern",
            ],
            description: Some("Prevent errors when pattern is unmatched"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Output debugging information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Output the version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--print-config",
            ],
            description: Some("Print the configuration for the give file"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "file|dir|glob",
            source: Directories,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)