(
    version: 1,
    command: "exa",
    description: Some("A modern replacement for ls"),
    subcommands: [],
    options: [
        (
            names: [
                "-?",
                "--help",
            ],
            description: Some("Show list of command-line options"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show version of exa"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-1",
                "--oneline",
            ],
            description: Some("Display one entry per line"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
                "--long",
            ],
            description: Some("Display extended file metadata as a table"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-G",
                "--grid",
            ],
            description: Some("Display entries as a grid (default)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x",
                "--across",
            ],
            description: Some("Sort the grid across, rather than downwards"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-R",
                "--recurse",
            ],
            description: Some("Recurse into directories"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-T",
                "--tree",
            ],
            description: Some("Recurse into directories as a tree"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-F",
                "--classify",
            ],
            description: Some("Display type indicator by file names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--colour",
                "--color",
            ],
            description: Some("When to use terminal colours (always, auto, never)"),
            takes_value: true,
            arguments: [
                (
                    name: "when",
                    source: Static([
                        "always",
                        "auto",
                        "never",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--colour-scale",
                "--color-scale",
            ],
            description: Some("Highlight levels of file sizes distinctly"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-a",
                "--all",
            ],
            description: Some("Show hidden and \'dot\' files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
                "--list-dirs",
            ],
            description: Some("List directories like regular files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-L",
                "--level",
            ],
            description: Some("Limit the depth of recursion"),
            takes_value: true,
            arguments: [
                (
                    name: "DEPTH",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--reverse",
            ],
            description: Some("Reverse the sort order"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--sort",
            ],
            description: Some("Which field to sort by"),
            takes_value: true,
            arguments: [
                (
                    name: "sort field",
                    source: Static([
                        "name",
                        "Name",
                        "extension",
                        "Extension",
                        "size",
                        "type",
                        "modified",
                        "accessed",
                        "created",
                        "inode",
                        "none",
                        "date",
                        "time",
                        "old",
                        "new",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--group-directories-first",
            ],
            description: Some("List directories before other files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-D",
                "--only-dirs",
            ],
            description: Some("List only directories"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-I",
                "--ignore-glob",
            ],
            description: Some("Glob patterns (pipe-separated) of files to ignore"),
            takes_value: true,
            arguments: [
                (
                    name: "GLOB",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--git-ignore",
            ],
            description: Some("Ignore files mentioned in \'.gitignore\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-b",
                "--binary",
            ],
            description: Some("List file sizes with binary prefixes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-B",
                "--bytes",
            ],
            description: Some("List file sizes in bytes, without any prefixes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
                "--group",
            ],
            description: Some("List each file\'s group"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--header",
            ],
            description: Some("Add a header row to each column"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-H",
                "--links",
            ],
            description: Some("List each file\'s number of hard links"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-i",
                "--inode",
            ],
            description: Some("List each file\'s inode number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
                "--modified",
            ],
            description: Some("Use the modified timestamp field"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-S",
                "--blocks",
            ],
            description: Some("Show number of file system blocks"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-t",
                "--time",
            ],
            description: Some("Which timestamp field to list (modified, accessed, created)"),
            takes_value: true,
            arguments: [
                (
                    name: "FIELD",
                    source: Static([
                        "modified",
                        "accessed",
                        "created",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
                "--accessed",
            ],
            description: Some("Use the accessed timestamp field"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-U",
                "--created",
            ],
            description: Some("Use the created timestamp field"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--time-style",
            ],
            description: Some("How to format timestamps (default, iso, long-iso, full-iso)"),
            takes_value: true,
            arguments: [
                (
                    name: "style",
                    source: Static([
                        "default",
                        "iso",
                        "long-iso",
                        "full-iso",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--git",
            ],
            description: Some("List each file\'s Git status, if tracked or ignored"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-@",
                "--extended",
            ],
            description: Some("List each file\'s extended attributes and sizes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--icons",
            ],
            description: Some("Shows icons before each folder or file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-icons",
            ],
            description: Some("Does not display icons"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--changed",
            ],
            description: Some("Displays when a file or folder got changed instead of modified in the header"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "files...",
            source: Files,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)