(
    version: 1,
    command: "exec",
    description: Some("Replace the current shell with a program"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)