(
    version: 1,
    command: "exercism",
    description: Some("Solve coding exercises in your chosen programming languages"),
    subcommands: [
        (
            name: "configure",
            aliases: [
                "c",
            ],
            description: Some("Configure the command-line client"),
            options: [
                (
                    names: [
                        "-a",
                        "--api",
                    ],
                    description: Some("API base url"),
                    arguments: [
                        (
                            name: "url",
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-verify",
                    ],
                    description: Some("Skip online token authorization check"),
                ),
                (
                    names: [
                        "-s",
                        "--show",
                    ],
                    description: Some("Show the current configuration"),
                ),
                (
                    names: [
                        "-t",
                        "--token",
                    ],
                    description: Some("Auth token used to connect to the site"),
                    arguments: [
                        (
                            name: "token",
                        ),
                    ],
                ),
                (
                    names: [
                        "-w",
                        "--workspace",
                    ],
                    description: Some("Directory for exercism exercises"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "download",
            aliases: [
                "d",
            ],
            description: Some("Download an exercise"),
            options: [
                (
                    names: [
                        "-e",
                        "--exercise",
                    ],
                    description: Some("The exercise slug"),
                    arguments: [
                        (
                            name: "exercise",
                        ),
                    ],
                ),
                (
                    names: [
                        "-T",
                        "--team",
                    ],
                    description: Some("The team slug"),
                    arguments: [
                        (
                            name: "team",
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--track",
                    ],
                    description: Some("The track ID"),
                    arguments: [
                        (
                            name: "track",
                        ),
                    ],
                ),
                (
                    names: [
                        "-u",
                        "--uuid",
                    ],
                    description: Some("The solution UUID"),
                    arguments: [
                        (
                            name: "uuid",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Help about any command"),
        ),
        (
            name: "open",
            aliases: [
                "o",
            ],
            description: Some("Open an exercise on the website"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            name: "prepare",
            aliases: [
                "p",
            ],
            description: Some("Prepare does setup for Exercism and its tracks"),
        ),
        (
            name: "submit",
            aliases: [
                "s",
            ],
            description: Some("Submit your solution to an exercise"),
            arguments: [
                (
                    name: "file",
                    description: Some("The files you want to submit"),
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "troubleshoot",
            aliases: [
                "t",
                "debug",
            ],
            description: Some("Troubleshoot does a diagnostic self-check"),
            options: [
                (
                    names: [
                        "-f",
                        "--full-api-key",
                    ],
                    description: Some("Display the user's full API key"),
                ),
            ],
        ),
        (
            name: "upgrade",
            aliases: [
                "u",
            ],
            description: Some("Upgrade to the latest version of the CLI"),
        ),
        (
            name: "version",
            aliases: [
                "v",
            ],
            description: Some("Version outputs the version of CLI"),
        ),
        (
            name: "workspace",
            aliases: [
                "w",
            ],
            description: Some("Print out the path to your Exercism workspace"),
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Help for this command"),
            persistent: true,
        ),
        (
            names: [
                "--timeout",
            ],
            description: Some("Override the default HTTP timeout"),
            arguments: [
                (
                    name: "value",
                ),
            ],
            persistent: true,
        ),
        (
            names: [
                "--unmask-token",
            ],
            description: Some("Will unmask the API during a request/response dump"),
            persistent: true,
        ),
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Verbose output"),
            persistent: true,
        ),
    ],
)
