(
    version: 1,
    command: "export",
    description: Some("Export variables"),
    arguments: [
        (
            name: "",
            variadic: true,
        ),
    ],
    presentation: (
        hidden: true,
    ),
)
