(
    version: 1,
    command: "export",
    description: Some("Export variables"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)