(
    version: 1,
    command: "expressots",
    description: Some("ExpressoTS CLI"),
    subcommands: [
        (
            name: "new",
            description: Some("Create a new ExpressoTS application"),
            options: [
                (
                    names: [
                        "-t",
                        "--template",
                    ],
                    description: Some("Choose a template to use"),
                    arguments: [
                        (
                            name: "template",
                            description: Some("Choose a template"),
                            generators: [
                                (
                                    script: [
                                        "expressots",
                                        "templates",
                                    ],
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--package-manager",
                    ],
                    description: Some("Choose a package manager to use"),
                    arguments: [
                        (
                            name: "package-manager",
                            description: Some("Choose a package manager"),
                            generators: [
                                (
                                    script: [
                                        "expressots",
                                        "package",
                                        "manager",
                                    ],
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-d",
                        "--directory",
                    ],
                    description: Some("Create the application in a specific directory"),
                    arguments: [
                        (
                            name: "directory",
                            description: Some("Select a directory"),
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show command help"),
                ),
            ],
            arguments: [
                (
                    name: "name",
                    description: Some("Name of the application"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for expressots"),
        ),
        (
            names: [
                "i",
                "info",
            ],
            description: Some("Display CLI details"),
        ),
    ],
)
