(
    version: 1,
    command: "fastlane",
    description: Some("Fastlane is an open source platform aimed at simplifying Android and iOS deployment"),
    subcommands: [
        (
            name: "init",
            description: Some("Helps you with your initial fastlane setup"),
            subcommands: [
                (
                    name: "swift",
                    description: Some("Fastlane configuration written in Swift (Beta). Swift setup is still in beta"),
                ),
            ],
            options: [
                (
                    names: [
                        "-u",
                        "--user",
                    ],
                    description: Some("Only iOS projects Your Apple ID"),
                    arguments: [
                        (
                            name: "appleID",
                            description: Some("Your Apple ID"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "action",
            description: Some("Shows more information for a specific command"),
            arguments: [
                (
                    name: "tool_name",
                ),
            ],
        ),
        (
            name: "actions",
            description: Some("Lists all available fastlane actions"),
        ),
        (
            name: "add_plugin",
            description: Some("Add a new plugin to your fastlane setup"),
            arguments: [
                (
                    name: "plugin_name",
                ),
            ],
        ),
        (
            name: "docs",
            description: Some("Generate a markdown based documentation based on the Fastfile"),
            options: [
                (
                    names: [
                        "-f",
                        "--force",
                    ],
                    description: Some("Overwrite the existing README.md in the ./fastlane folder"),
                ),
            ],
        ),
        (
            name: "enable_auto_complete",
            description: Some("Enable tab auto completion"),
            options: [
                (
                    names: [
                        "-c",
                        "--custom",
                    ],
                    description: Some("Add custom command(s) for which tab auto complete should be enabled too"),
                    arguments: [
                        (
                            name: "<command1>...<commandN>",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "env",
            description: Some("Print your fastlane environment, use this when you submit an issue on GitHub"),
        ),
        (
            name: "help",
            description: Some("Display global or [command] help documentation"),
        ),
        (
            name: "install_plugins",
            description: Some("Install all plugins for this project"),
        ),
        (
            name: "lanes",
            description: Some("Lists all available lanes and shows their description"),
        ),
        (
            name: "list",
            description: Some("Lists all available lanes without description"),
            options: [
                (
                    names: [
                        "-j",
                        "--json",
                    ],
                    description: Some("Output the lanes in JSON instead of text"),
                ),
            ],
        ),
        (
            name: "new_action",
            description: Some("Create a new custom action for fastlane"),
            options: [
                (
                    names: [
                        "--name",
                    ],
                    description: Some("Name of your new action"),
                    arguments: [
                        (
                            name: "action_name",
                        ),
                    ],
                    required: true,
                ),
            ],
        ),
        (
            name: "new_plugin",
            description: Some("Create a new plugin that can be used with fastlane"),
            arguments: [
                (
                    name: "plugin_name",
                    optional: true,
                ),
            ],
        ),
        (
            name: "run",
            description: Some("Run a fastlane one-off action without a full lane"),
            arguments: [
                (
                    name: "action",
                ),
            ],
        ),
        (
            name: "search_plugins",
            description: Some("Search for plugins, search query is optional"),
            arguments: [
                (
                    name: "search_query",
                    optional: true,
                ),
            ],
        ),
        (
            name: "socket_server",
            description: Some("Starts local socket server and enables only a single local connection"),
            options: [
                (
                    names: [
                        "-s",
                        "--stay_alive",
                    ],
                    description: Some("Keeps socket server up even after error or disconnects, requires CTRL-C to kill"),
                ),
                (
                    names: [
                        "-c",
                        "--connection_timeout",
                    ],
                    description: Some("Sets connection established timeout"),
                    arguments: [
                        (
                            name: "seconds",
                            description: Some("Connection timeout in seconds"),
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--port",
                    ],
                    description: Some("Sets the port on localhost for the socket connection"),
                    arguments: [
                        (
                            name: "port",
                            description: Some("The port on localhost"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "trigger",
            description: Some("Run a specific lane. Pass the lane name and optionally the platform first"),
            options: [
                (
                    names: [
                        "--disable_runner_upgrades",
                    ],
                    description: Some("Prevents fastlane from attempting to update FastlaneRunner swift project"),
                ),
                (
                    names: [
                        "--swift_server_port",
                    ],
                    description: Some("Prevents fastlane from attempting to update FastlaneRunner swift project"),
                    arguments: [
                        (
                            name: "port",
                            description: Some("Set specific port to communicate between fastlane and FastlaneRunner"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "lane",
                    description: Some("Specific lane to trigger"),
                ),
            ],
        ),
        (
            name: "update_fastlane",
            description: Some("Update fastlane to the latest release"),
        ),
        (
            name: "update_plugins",
            description: Some("Update all plugin dependencies"),
        ),
    ],
    options: [
        (
            names: [
                "--platform",
            ],
            description: Some("Only show actions available on the given platform"),
            arguments: [
                (
                    name: "platform",
                    description: Some("One of android, ios or mac"),
                    suggestions: [
                        (
                            name: "ios",
                        ),
                        (
                            name: "android",
                        ),
                        (
                            name: "mac",
                        ),
                    ],
                ),
            ],
            persistent: true,
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help for fastlane"),
            persistent: true,
            presentation: (
                priority: Some(48.0),
            ),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show version information for fastlane"),
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Show version information for fastlane"),
            persistent: true,
            presentation: (
                priority: Some(48.0),
            ),
        ),
        (
            names: [
                "--capture_output",
            ],
            description: Some("Captures the output of the current run, and generates a markdown issue template"),
        ),
        (
            names: [
                "--troubleshoot",
            ],
            description: Some("Enables extended verbose mode. Use with caution, as this even includes ALL sensitive data. Cannot be used on CI"),
        ),
        (
            names: [
                "--env",
            ],
            description: Some("Add environment(s) to use with `dotenv`"),
        ),
    ],
)
