(
    version: 1,
    command: "figterm",
    description: Some("Fig's terminal layer"),
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Print help information"),
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Print version information"),
        ),
    ],
)
