(
    version: 1,
    command: "find",
    description: Some("Walk a file hierarchy"),
    subcommands: [],
    options: [
        (
            names: [
                "-E",
            ],
            description: Some("Interpret regular expressions followed by -regex and -iregex primaries as extended"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-H",
            ],
            description: Some("Cause the file information and file type returned for each symbolic link specified to be those referenced by the link"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("Cause the file information and file type returned for each symbolic link to be those of the file referenced by the link"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-P",
            ],
            description: Some("Cause the file information and file type returned for each symbolic link to be those for the link itself"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-X",
            ],
            description: Some("Permit find to be safely used in conjunction with xargs"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Cause find to perform a depth-first traversal"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Specify a file hierarch for find to traverse"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Cause find to traverse the file hierarchies in lexicographical order"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Prevent find from descending into directories that have a device number different than that of the file from which the descent began"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "path",
            source: Directories,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
        (
            name: "expression",
            source: Files,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)