(
    version: 1,
    command: "find",
    description: Some("Walk a file hierarchy"),
    options: [
        (
            names: [
                "-E",
            ],
            description: Some("Interpret regular expressions followed by -regex and -iregex primaries as extended"),
        ),
        (
            names: [
                "-H",
            ],
            description: Some("Cause the file information and file type returned for each symbolic link specified to be those referenced by the link"),
            exclusive_on: [
                "-L",
                "-P",
            ],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("Cause the file information and file type returned for each symbolic link to be those of the file referenced by the link"),
            exclusive_on: [
                "-H",
                "-P",
            ],
        ),
        (
            names: [
                "-P",
            ],
            description: Some("Cause the file information and file type returned for each symbolic link to be those for the link itself"),
            exclusive_on: [
                "-H",
                "-L",
            ],
        ),
        (
            names: [
                "-X",
            ],
            description: Some("Permit find to be safely used in conjunction with xargs"),
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Cause find to perform a depth-first traversal"),
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Specify a file hierarch for find to traverse"),
            arguments: [
                (
                    name: "path",
                ),
            ],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Cause find to traverse the file hierarchies in lexicographical order"),
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Prevent find from descending into directories that have a device number different than that of the file from which the descent began"),
        ),
    ],
    arguments: [
        (
            name: "path",
            template: [
                Folders,
            ],
            optional: true,
            variadic: true,
        ),
        (
            name: "expression",
            description: Some("Composition of primaries and operands"),
            optional: true,
            variadic: true,
        ),
    ],
)
