(
    version: 1,
    command: "firefox",
    description: Some("Free open-source web browser developer by Mozilla"),
    options: [
        (
            names: [
                "--display",
            ],
            description: Some("Specify an X display to use"),
            arguments: [
                (
                    name: "display",
                    description: Some("X display to use"),
                ),
            ],
        ),
        (
            names: [
                "--sync",
            ],
            description: Some("Make X calls synchronous"),
        ),
        (
            names: [
                "--g-fatal-warnings",
            ],
            description: Some("Make all warnings fatal"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help message and exit"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Print version information and exit"),
        ),
        (
            names: [
                "--full-version",
            ],
            description: Some("Print full version information and exit"),
        ),
        (
            names: [
                "-P",
            ],
            description: Some("Specify profile to use"),
            arguments: [
                (
                    name: "profile",
                    description: Some("Profile to use"),
                ),
            ],
        ),
        (
            names: [
                "--profile",
            ],
            description: Some("Specify profile to use by folder"),
            arguments: [
                (
                    name: "profile",
                    description: Some("Profile folder to use"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--migration",
            ],
            description: Some("Start with migration wizard"),
        ),
        (
            names: [
                "--ProfileManager",
            ],
            description: Some("Start with ProfileManager"),
        ),
        (
            names: [
                "--no-remote",
            ],
            description: Some("Do not accept or send remote commands; implies --new-instance"),
            exclusive_on: [
                "--new-instance",
            ],
        ),
        (
            names: [
                "--new-instance",
            ],
            description: Some("Open new instance, not a new window in running instance"),
        ),
        (
            names: [
                "--safe-mode",
            ],
            description: Some("Disables extensions and themes for this session"),
        ),
        (
            names: [
                "--allow-downgrade",
            ],
            description: Some("Allows downgrading a profile"),
        ),
        (
            names: [
                "--MOZ_LOG",
            ],
            description: Some("Treated as MOZ_LOG=<modules> environment variable, overrides it"),
            arguments: [
                (
                    name: "modules",
                ),
            ],
        ),
        (
            names: [
                "--MOZ_LOG_FILE",
            ],
            description: Some("Treated as MOZ_LOG_FILE=<file> environment variable, overrides it. If MOZ_LOG_FILE is not specified as an argument or as an environment variable, logging will be written to stdout"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--headless",
            ],
            description: Some("Run without a GUI"),
        ),
        (
            names: [
                "--jsdebugger",
            ],
            description: Some("Open the Browser Toolbox. Defaults to the local build but can be overridden by a firefox path"),
            arguments: [
                (
                    name: "folder",
                    template: [
                        Folders,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--wait-for-jsdebugger",
            ],
            description: Some("Spin event loop until JS debugger connects; enables debugging (some) application startup code paths"),
            depends_on: [
                "--jsdebugger",
            ],
        ),
        (
            names: [
                "--start-debugger-server",
            ],
            description: Some("Start the devtools server on a TCP port or Unix domain socket path"),
            arguments: [
                (
                    name: "port or path",
                    template: [
                        FilePaths,
                    ],
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--browser",
            ],
            description: Some("Open a browser window"),
        ),
        (
            names: [
                "--new-window",
            ],
            description: Some("Open a URL in a new window"),
            arguments: [
                (
                    name: "URL",
                    description: Some("URL to open"),
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--new-tab",
            ],
            description: Some("Open a URL in a new tab"),
            arguments: [
                (
                    name: "URL",
                    description: Some("URL to open"),
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--private-window",
            ],
            description: Some("Open a URL in a new private window"),
            arguments: [
                (
                    name: "URL",
                    description: Some("URL to open"),
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--preferences",
            ],
            description: Some("Open the preferences dialog"),
        ),
        (
            names: [
                "--screenshot",
            ],
            description: Some("Take a screenshot"),
            arguments: [
                (
                    name: "folder",
                    description: Some("Folder to save screenshot to"),
                    template: [
                        Folders,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--window-size",
            ],
            description: Some("Size of your screenshot"),
            arguments: [
                (
                    name: "width",
                    description: Some("Width of your screenshot"),
                ),
                (
                    name: "height",
                    description: Some("Height of your screenshot"),
                    optional: true,
                ),
            ],
            depends_on: [
                "--screenshot",
            ],
        ),
        (
            names: [
                "--search",
            ],
            description: Some("Search for a term in your default search engine"),
            arguments: [
                (
                    name: "term",
                    description: Some("Term to search for"),
                ),
            ],
        ),
        (
            names: [
                "--setDefaultBrowser",
            ],
            description: Some("Set Firefox as the default browser"),
        ),
        (
            names: [
                "--first-startup",
            ],
            description: Some("Run post-install actions before opening a new window"),
        ),
        (
            names: [
                "--kiosk",
            ],
            description: Some("Start the browser in kiosk mode"),
        ),
        (
            names: [
                "--disable-pinch",
            ],
            description: Some("Disable touch-screen and touch-pad pinch gestures"),
        ),
        (
            names: [
                "--jsconsole",
            ],
            description: Some("Open the Browser Console"),
        ),
        (
            names: [
                "--devtools",
            ],
            description: Some("Open DevTools on initial load"),
        ),
        (
            names: [
                "--marionette",
            ],
            description: Some("Enable remote debugging server"),
        ),
        (
            names: [
                "--remote-debugging-port",
            ],
            description: Some("Start the Firefox Remote Agent, which is a low-level remote debugging interface used for WebDriver"),
            arguments: [
                (
                    name: "port",
                    description: Some("Defaults to port 9222"),
                    optional: true,
                    default: Some("9222"),
                ),
            ],
        ),
        (
            names: [
                "--allow-remote-hosts",
            ],
            description: Some("Values of the Host header to allow for incoming requests"),
            arguments: [
                (
                    name: "hosts",
                ),
            ],
        ),
        (
            names: [
                "--allow-remote-origins",
            ],
            description: Some("Values of the Origin header to allow for incoming requests"),
            arguments: [
                (
                    name: "origins",
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "URL",
            description: Some("URL to open"),
        ),
    ],
)
