(
    version: 1,
    command: "fmt",
    description: Some("Simple text formatter"),
    subcommands: [],
    options: [
        (
            names: [
                "-c",
            ],
            description: Some("Center the text, line by line.  In this case, most of the other\noptions are ignored; no splitting or joining of lines is done"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Try to format mail header lines contained in the input\nsensibly"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Format lines beginning with a ‘.’ (dot) character"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Allow indented paragraphs.  Without the -p flag, any change in\nthe amount of whitespace at the start of a line results in a\nnew paragraph being begun"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Collapse whitespace inside lines, so that multiple whitespace\ncharacters are turned into a single space.  (Or, at the end of\na sentence, a double space.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Treat the chars (and no others) as sentence-ending characters.\nBy default the sentence-ending characters are full stop (‘.’),\nquestion mark (‘?’) and exclamation mark (‘!’).  Remember that\nsome characters may need to be escaped to protect them from\nyour shell"),
            takes_value: true,
            arguments: [
                (
                    name: "chars",
                    source: Static([
                        ".",
                        "?",
                        "!",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Replace multiple spaces with tabs at the start of each output\nline, if possible.  Each number spaces will be replaced with\none tab.  The default is 8.  If number is 0, spaces are\npreserved"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Static([
                        "8",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Assume that the input files\' tabs assume number spaces per tab\nstop.  The default is 8"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Static([
                        "8",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "file",
            source: Files,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)