(
    version: 1,
    command: "for",
    description: Some("Perform a set of commands multiple times"),
    arguments: [
        (
            name: "var",
        ),
        (
            name: "",
            suggestions: [
                (
                    name: "in",
                ),
            ],
        ),
        (
            name: "values",
            variadic: true,
        ),
    ],
)
