(
    version: 1,
    command: "for",
    description: Some("Perform a set of commands multiple times"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "var",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
        (
            name: "value",
            source: Static([
                "in",
            ]),
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
        (
            name: "values",
            source: Files,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)