(
    version: 1,
    command: "fzf",
    description: Some("A general-purpose command-line fuzzy finder"),
    options: [
        (
            names: [
                "-x",
                "--extended",
            ],
            description: Some("Enables extended-search mode"),
            exclusive_on: [
                "+x",
                "--no-extended",
            ],
        ),
        (
            names: [
                "+x",
                "--no-extended",
            ],
            description: Some("Disables extended-search mode"),
            exclusive_on: [
                "-x",
                "--extended",
            ],
        ),
        (
            names: [
                "-e",
                "--exact",
            ],
            description: Some("Enables Exact-match"),
        ),
        (
            names: [
                "--algo",
            ],
            description: Some("Fuzzy matching algorithm"),
            arguments: [
                (
                    name: "type",
                    suggestions: [
                        (
                            name: "v1",
                        ),
                        (
                            name: "v2",
                        ),
                    ],
                    default: Some("v2"),
                ),
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Case-insensitive match (default: smart-case match)"),
            exclusive_on: [
                "+i",
            ],
        ),
        (
            names: [
                "+i",
            ],
            description: Some("Case-sensitive match (default: smart-case match)"),
            exclusive_on: [
                "-i",
            ],
        ),
        (
            names: [
                "--literal",
            ],
            description: Some("Do not normalize latin script letters before matching"),
        ),
        (
            names: [
                "-n",
                "--nth",
            ],
            description: Some("Comma-separated list of field index expressions for limiting search scope"),
            arguments: [
                (
                    name: "index expressions",
                    description: Some("Non-zero integer or range expression ([BEGIN]..[END])"),
                ),
            ],
        ),
        (
            names: [
                "--with-nth",
            ],
            description: Some("Transform the presentation of each line using field index expressions"),
            arguments: [
                (
                    name: "index expressions",
                    description: Some("Non-zero integer or range expression ([BEGIN]..[END])"),
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--delimiter",
            ],
            description: Some("Field delimiter regex (default: AWK-style)"),
            arguments: [
                (
                    name: "STR",
                    default: Some("AWK-style"),
                ),
            ],
        ),
        (
            names: [
                "+s",
                "--no-sort",
            ],
            description: Some("Do not sort the result"),
        ),
        (
            names: [
                "--tac",
            ],
            description: Some("Reverse the order of the input"),
        ),
        (
            names: [
                "--disabled",
            ],
            description: Some("Do not perform search"),
        ),
        (
            names: [
                "--tiebreak",
            ],
            description: Some("Comma-separated list of sort criteria to apply when the scores are tied"),
            arguments: [
                (
                    name: "criteria",
                    suggestions: [
                        (
                            name: "length",
                        ),
                        (
                            name: "begin",
                        ),
                        (
                            name: "end",
                        ),
                        (
                            name: "index",
                        ),
                    ],
                    default: Some("length"),
                ),
            ],
        ),
        (
            names: [
                "-m",
                "--multi",
            ],
            description: Some("Enable multi-select with tab/shift-tab"),
            arguments: [
                (
                    name: "MAX",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--no-mouse",
            ],
            description: Some("Disable mouse"),
        ),
        (
            names: [
                "--bind",
            ],
            description: Some("Custom key bindings. Refer to the man page"),
            arguments: [
                (
                    name: "keybinds",
                ),
            ],
        ),
        (
            names: [
                "--cycle",
            ],
            description: Some("Enable cyclic scroll"),
        ),
        (
            names: [
                "--keep-right",
            ],
            description: Some("Keep the right end of the line visible on overflow"),
        ),
        (
            names: [
                "--no-hscroll",
            ],
            description: Some("Disable horizontal scroll"),
        ),
        (
            names: [
                "--hscroll-off",
            ],
            description: Some("Number of screen columns to keep to the right of the highlighted substring"),
            arguments: [
                (
                    name: "columns",
                    default: Some("10"),
                ),
            ],
        ),
        (
            names: [
                "--filepath-word",
            ],
            description: Some("Make word-wise movements respect path separators"),
        ),
        (
            names: [
                "--jump-labels",
            ],
            description: Some("Label characters for jump and jump-accept"),
            arguments: [
                (
                    name: "characters",
                ),
            ],
        ),
        (
            names: [
                "--height",
            ],
            description: Some("Display fzf window below the cursor with the given height instead of using fullscreen"),
            arguments: [
                (
                    name: "height",
                    description: Some("Height[%]"),
                ),
            ],
        ),
        (
            names: [
                "--min-height",
            ],
            description: Some("Minimum height when --height is given in percent"),
            arguments: [
                (
                    name: "height",
                    default: Some("10"),
                ),
            ],
        ),
        (
            names: [
                "--layout",
            ],
            description: Some("Choose layout"),
            arguments: [
                (
                    name: "layout",
                    suggestions: [
                        (
                            name: "default",
                        ),
                        (
                            name: "reverse",
                        ),
                        (
                            name: "reverse-list",
                        ),
                    ],
                    default: Some("default"),
                ),
            ],
        ),
        (
            names: [
                "--border",
            ],
            description: Some("Draw border around the finder"),
            arguments: [
                (
                    name: "style",
                    suggestions: [
                        (
                            name: "rounded",
                        ),
                        (
                            name: "sharp",
                        ),
                        (
                            name: "horizontal",
                        ),
                        (
                            name: "vertical",
                        ),
                        (
                            name: "top",
                        ),
                        (
                            name: "bottom",
                        ),
                        (
                            name: "left",
                        ),
                        (
                            name: "right",
                        ),
                        (
                            name: "none",
                        ),
                    ],
                    optional: true,
                    default: Some("rounded"),
                ),
            ],
        ),
        (
            names: [
                "--margin",
            ],
            description: Some("Screen margin (TRBL | TB,RL | T,RL,B | T,R,B,L)"),
            arguments: [
                (
                    name: "margin",
                    description: Some("Number"),
                ),
            ],
        ),
        (
            names: [
                "--padding",
            ],
            description: Some("Padding inside border (TRBL | TB,RL | T,RL,B | T,R,B,L)"),
            arguments: [
                (
                    name: "padding",
                    description: Some("Number"),
                ),
            ],
        ),
        (
            names: [
                "--info",
            ],
            description: Some("Finder info style"),
            arguments: [
                (
                    name: "style",
                    suggestions: [
                        (
                            name: "default",
                        ),
                        (
                            name: "inline",
                        ),
                        (
                            name: "hidden",
                        ),
                    ],
                    default: Some("default"),
                ),
            ],
        ),
        (
            names: [
                "--prompt",
            ],
            description: Some("Input prompt"),
            arguments: [
                (
                    name: "string",
                    default: Some("'> '"),
                ),
            ],
        ),
        (
            names: [
                "--pointer",
            ],
            description: Some("Pointer to the current line"),
            arguments: [
                (
                    name: "string",
                    default: Some("'>'"),
                ),
            ],
        ),
        (
            names: [
                "--marker",
            ],
            description: Some("Multi-select marker"),
            arguments: [
                (
                    name: "string",
                    default: Some("'>'"),
                ),
            ],
        ),
        (
            names: [
                "--header",
            ],
            description: Some("String to print as header"),
            arguments: [
                (
                    name: "string",
                ),
            ],
        ),
        (
            names: [
                "--header-lines",
            ],
            description: Some("The first N lines of the input are treated as header"),
            arguments: [
                (
                    name: "number",
                ),
            ],
        ),
        (
            names: [
                "--ansi",
            ],
            description: Some("Enable processing of ANSI color codes"),
        ),
        (
            names: [
                "--tabstop",
            ],
            description: Some("Number of spaces for a tab character"),
            arguments: [
                (
                    name: "spaces",
                    default: Some("8"),
                ),
            ],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Base scheme"),
            arguments: [
                (
                    name: "color scheme",
                    description: Some("(dark|light|16|bw) and/or custom colors"),
                    suggestions: [
                        (
                            name: "dark",
                        ),
                        (
                            name: "light",
                        ),
                        (
                            name: "16",
                        ),
                        (
                            name: "bw",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--no-bold",
            ],
            description: Some("Do not use bold text"),
        ),
        (
            names: [
                "--history",
            ],
            description: Some("History file"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--history-size",
            ],
            description: Some("Maximum number of history entries"),
            arguments: [
                (
                    name: "number",
                    default: Some("1000"),
                ),
            ],
        ),
        (
            names: [
                "--preview",
            ],
            description: Some("Command to preview highlighted line ({})"),
            arguments: [
                (
                    name: "command",
                ),
            ],
        ),
        (
            names: [
                "--preview-window",
            ],
            description: Some("Preview window layout"),
            arguments: [
                (
                    name: "options",
                    suggestions: [
                        (
                            name: "up",
                        ),
                        (
                            name: "down",
                        ),
                        (
                            name: "left",
                        ),
                        (
                            name: "right",
                        ),
                        (
                            name: "nowrap",
                        ),
                        (
                            name: "wrap",
                        ),
                        (
                            name: "nocycle",
                        ),
                        (
                            name: "cycle",
                        ),
                        (
                            name: "nofollow",
                        ),
                        (
                            name: "follow",
                        ),
                        (
                            name: "nohidden",
                        ),
                        (
                            name: "hidden",
                        ),
                        (
                            name: "default",
                        ),
                    ],
                    variadic: true,
                    default: Some("default: right:50%"),
                ),
            ],
        ),
        (
            names: [
                "-q",
                "--query",
            ],
            description: Some("Start the finder with the given query"),
            arguments: [
                (
                    name: "string",
                ),
            ],
        ),
        (
            names: [
                "-1",
                "--select-1",
            ],
            description: Some("Automatically select the only match"),
        ),
        (
            names: [
                "-0",
                "--exit-0",
            ],
            description: Some("Exit immediately when there's no match"),
        ),
        (
            names: [
                "-f",
                "--filter",
            ],
            description: Some("Filter mode. Do not start interactive finder"),
            arguments: [
                (
                    name: "string",
                ),
            ],
        ),
        (
            names: [
                "--print-query",
            ],
            description: Some("Print query as the first line"),
        ),
        (
            names: [
                "--expect",
            ],
            description: Some("Comma-separated list of keys to complete fzf"),
            arguments: [
                (
                    name: "keys",
                ),
            ],
        ),
        (
            names: [
                "--read0",
            ],
            description: Some("Read input delimited by ASCII NUL characters"),
        ),
        (
            names: [
                "--print0",
            ],
            description: Some("Print output delimited by ASCII NUL characters"),
        ),
        (
            names: [
                "--sync",
            ],
            description: Some("Synchronous search for multi-staged filtering"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Display version information and exit"),
        ),
    ],
)
