(
    version: 1,
    command: "ganache-cli",
    description: Some("Fast Ethereum RPC client"),
    subcommands: [
        (
            name: "forkCacheSize",
            aliases: [],
            description: Some("The maximum size, in bytes, of the in-memory cache for queries on a chain fork. Defaults to 1_073_741_824 bytes (1 gigabyte)"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-a",
                "--accounts",
            ],
            description: Some("Specify the number of accounts to generate at startup"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-e",
                "--defaultBalanceEther",
            ],
            description: Some("Amount of ether to assign each test account. Default is 100"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-b",
                "--blockTime",
            ],
            description: Some("Specify blockTime in seconds for automatic mining. If you don\'t specify this flag, ganache will instantly mine a new block for every transaction"),
            takes_value: true,
            arguments: [
                (
                    name: "seconds",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--deterministic",
            ],
            description: Some("Generate deterministic addresses based on a pre-defined mnemonic"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
                "--secure",
            ],
            description: Some("Lock available accounts by default (good for third party transaction signing)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
                "--mnemonic",
            ],
            description: Some("Use a bip39 mnemonic phrase for generating a PRNG seed, which is in turn used for hierarchical deterministic (HD) account generation"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
                "--port",
            ],
            description: Some("Port number to listen on. Defaults to 8545"),
            takes_value: true,
            arguments: [
                (
                    name: "port number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--host",
            ],
            description: Some("Hostname to listen on. Defaults to 127.0.0.1 (defaults to 0.0.0.0 for Docker instances of ganache-cli)"),
            takes_value: true,
            arguments: [
                (
                    name: "Hostname",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-s",
                "--seed",
            ],
            description: Some("Use arbitrary data to generate the HD wallet mnemonic to be used"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
                "--gasPrice",
            ],
            description: Some("The price of gas in wei (defaults to 20000000000)"),
            takes_value: true,
            arguments: [
                (
                    name: "price",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-l",
                "--gasLimit",
            ],
            description: Some("The block gas limit (defaults to 0x6691b7)"),
            takes_value: true,
            arguments: [
                (
                    name: "limit",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--callGasLimit",
            ],
            description: Some("Sets the transaction gas limit for eth_call and eth_estimateGas calls"),
            takes_value: true,
            arguments: [
                (
                    name: "limit",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-k",
                "--hardfork",
            ],
            description: Some("Allows users to specify which hardfork should be used"),
            takes_value: true,
            arguments: [
                (
                    name: "hardfork",
                    source: Static([
                        "byzantium",
                        "constantinople",
                        "petersburg",
                        "istanbul",
                        "muirGlacier",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--fork",
            ],
            description: Some("Fork from another currently running Ethereum client at a given block. Input should be the HTTP location and port of the other client"),
            takes_value: true,
            arguments: [
                (
                    name: "HTTP location & port",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--networkId",
            ],
            description: Some("Specify the network id ganache-cli will use to identify itself (defaults to the current time or the network id of the forked blockchain if configured)"),
            takes_value: true,
            arguments: [
                (
                    name: "Network ID",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--chainId",
            ],
            description: Some("Specify the Chain ID ganache-cli will use for eth_chainId RPC and the CHAINID opcode"),
            takes_value: true,
            arguments: [
                (
                    name: "Chain ID",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--db",
            ],
            description: Some("Specify a path to a directory to save the chain database. If a database already exists, ganache-cli will initialize that chain instead of creating a new one"),
            takes_value: true,
            arguments: [
                (
                    name: "folder",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Output VM opcodes for debugging"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--mem",
            ],
            description: Some("Output ganache-cli memory usage statistics. This replaces normal output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Run ganache-cli without any logs"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-?",
                "--help",
            ],
            description: Some("Display help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Display the version of ganache-cli"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--account_keys_path",
                "--acctKeys",
            ],
            description: Some("Specifies a file to save accounts and private keys to, for testing"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--noVMErrorsOnRPCResponse",
            ],
            description: Some("Do not transmit transaction failures as RPC errors"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--allowUnlimitedContractSize",
            ],
            description: Some("Allows unlimited contract sizes while debugging"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--keepAliveTimeout",
            ],
            description: Some("Sets the HTTP server\'s keepAliveTimeout in milliseconds"),
            takes_value: true,
            arguments: [
                (
                    name: "timeout",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--time",
            ],
            description: Some("Date (ISO 8601) that the first block should start"),
            takes_value: true,
            arguments: [
                (
                    name: "date",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--account",
            ],
            description: Some("Specify any number of times passing arbitrary private keys and their associated balances to generate initial addresses"),
            takes_value: true,
            arguments: [
                (
                    name: "<privatekey>, balance",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
                "--unlock",
            ],
            description: Some("Specify any number of times passing either an address or an account index to unlock specific accounts"),
            takes_value: true,
            arguments: [
                (
                    name: "address or account index",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [],
)