(
    version: 1,
    command: "gatsby",
    description: Some("Gatsby CLI"),
    subcommands: [
        (
            name: "develop",
            aliases: [],
            description: Some("Start the Gatsby development server"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-H",
                        "--host",
                    ],
                    description: Some("Set host. Defaults to localhost"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "host",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--port",
                    ],
                    description: Some("Set port. Defaults to env.PORT or 8000"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "port",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--open",
                    ],
                    description: Some("Open the site in your (default) browser for you"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-S",
                        "--https",
                    ],
                    description: Some("Use HTTPS"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--inspect",
                    ],
                    description: Some("Opens a port for debugging"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "build",
            aliases: [],
            description: Some("Compile your application and make it ready for deployment"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--prefix-paths",
                    ],
                    description: Some("Build site with link paths prefixed (set pathPrefix in your config)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-uglify",
                    ],
                    description: Some("Build site without uglifying JS bundles (for debugging)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("Build site with react profiling"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--open-tracing-config-file",
                    ],
                    description: Some("Use Tracer configuration file"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--graphql-tracing",
                    ],
                    description: Some("Trace every graphql resolver, may have performance implications"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-color",
                        "--no-colors",
                    ],
                    description: Some("Disables colored terminal output"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "serve",
            aliases: [],
            description: Some("Serve the production build of your site for testing"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-H",
                        "--host",
                    ],
                    description: Some("Set host. Defaults to localhost"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "host",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--port",
                    ],
                    description: Some("Set port. Defaults to env.PORT or 8000"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "port",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--open",
                    ],
                    description: Some("Open the site in your (default) browser for you"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--prefix-paths",
                    ],
                    description: Some("Serve site with link paths prefixed"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "clean",
            aliases: [],
            description: Some("Wipe out the cache (.cache folder) and public directories"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "info",
            aliases: [],
            description: Some("Get helpful environment information"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-C",
                        "--clipboard",
                    ],
                    description: Some("Copy environment information to your clipboard"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "plugin",
            aliases: [],
            description: Some("Run commands pertaining to gatsby plugins"),
            subcommands: [],
            options: [
                (
                    names: [
                        "docs",
                    ],
                    description: Some("Documentation about using and creating plugins"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "repl",
            aliases: [],
            description: Some("Gatsby will prompt you to type in commands and explore"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("View your current Gatsby CLI version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)