(
    version: 1,
    command: "git-cliff",
    description: Some("A highly customizable changelog generator ⛰️"),
    options: [
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Increases the logging verbosity"),
            presentation: (
                priority: Some(1.0),
            ),
        ),
        (
            names: [
                "--init",
                "-i",
            ],
            description: Some("Writes the default configuration file to cliff.toml"),
        ),
        (
            names: [
                "--latest",
                "-l",
            ],
            description: Some("Processes the commits starting from the latest tag"),
            exclusive_on: [
                "--current",
                "-u",
            ],
        ),
        (
            names: [
                "--current",
            ],
            description: Some("Processes the commits that belong to the current tag"),
            exclusive_on: [
                "-l",
                "-u",
            ],
        ),
        (
            names: [
                "--unreleased",
                "-u",
            ],
            description: Some("Processes the commits that do not belong to a tag"),
            exclusive_on: [
                "-l",
                "--current",
            ],
        ),
        (
            names: [
                "--date-order",
            ],
            description: Some("Sorts the tags chronologically"),
        ),
        (
            names: [
                "--context",
            ],
            description: Some("Prints changelog context as JSON"),
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Prints help information"),
            presentation: (
                priority: Some(1.0),
            ),
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Prints version information"),
            presentation: (
                priority: Some(1.0),
            ),
        ),
        (
            names: [
                "--config",
                "-c",
            ],
            description: Some("Sets the configuration file"),
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                    suggest_current_token: true,
                    default: Some("cliff.toml"),
                ),
            ],
        ),
        (
            names: [
                "--workdir",
                "-w",
            ],
            description: Some("Sets the working directory"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                    suggest_current_token: true,
                ),
            ],
        ),
        (
            names: [
                "--repository",
                "-r",
            ],
            description: Some("Sets the git repository"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                    suggest_current_token: true,
                ),
            ],
        ),
        (
            names: [
                "--include-path",
            ],
            description: Some("Sets the path to include related commits"),
            arguments: [
                (
                    name: "pattern",
                    variadic: true,
                    options_can_break_variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--exclude-path",
            ],
            description: Some("Sets the path to exclude related commits"),
            arguments: [
                (
                    name: "pattern",
                    variadic: true,
                    options_can_break_variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--with-commit",
            ],
            description: Some("Sets custom commit messages to include in the changelog"),
            arguments: [
                (
                    name: "msg",
                    variadic: true,
                    options_can_break_variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--prepend",
                "-p",
            ],
            description: Some("Prepends entries to the given changelog file"),
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                    suggest_current_token: true,
                ),
            ],
        ),
        (
            names: [
                "--output",
                "-o",
            ],
            description: Some("Writes output to the given file"),
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                    suggest_current_token: true,
                ),
            ],
        ),
        (
            names: [
                "--tag",
                "-t",
            ],
            description: Some("Sets the tag for the latest version"),
            arguments: [
                (
                    name: "tag",
                ),
            ],
        ),
        (
            names: [
                "--body",
                "-b",
            ],
            description: Some("Sets the template for the changelog body"),
            arguments: [
                (
                    name: "template",
                ),
            ],
        ),
        (
            names: [
                "--strip",
                "-s",
            ],
            description: Some("Strips the given parts from the changelog"),
            arguments: [
                (
                    name: "part",
                    suggestions: [
                        (
                            name: "header",
                        ),
                        (
                            name: "footer",
                        ),
                        (
                            name: "all",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--sort",
            ],
            description: Some("Sets sorting of the commits inside sections"),
            arguments: [
                (
                    name: "sort",
                    suggestions: [
                        (
                            name: "oldest",
                        ),
                        (
                            name: "newest",
                        ),
                    ],
                    default: Some("oldest"),
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "range",
            description: Some("Sets the commit range to process"),
            generators: [
                (
                    script: [
                        "git",
                        "rev-list",
                        "--all",
                        "--oneline",
                        "--abbrev-commit",
                    ],
                    pipeline: Lines((delimiter: Some(""), name: 0, description: Some(From(1)))),
                    has_post_process: true,
                    trigger: Some(OnMatch([
                            "..",
                        ])),
                    query_term: Some(AfterLast(".")),
                ),
            ],
        ),
    ],
)
