(
    version: 1,
    command: "git-profile",
    description: Some("Switch profiles"),
    subcommands: [
        (
            name: "use",
            description: Some("Use a profile"),
            arguments: [
                (
                    name: "profile",
                    description: Some("Profile you want to apply in this repository"),
                    generators: [
                        (
                            script: [
                                "git-profile",
                                "list",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Help for git-profile script"),
        ),
        (
            names: [
                "--config",
                "-c",
            ],
            description: Some("Config file (default \"~/.gitprofile\")"),
        ),
    ],
)
