(
    version: 1,
    command: "git-cliff",
    description: Some("A highly customizable changelog generator ⛰\u{fe0f}"),
    subcommands: [],
    options: [
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Increases the logging verbosity"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--init",
                "-i",
            ],
            description: Some("Writes the default configuration file to cliff.toml"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--latest",
                "-l",
            ],
            description: Some("Processes the commits starting from the latest tag"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--current",
            ],
            description: Some("Processes the commits that belong to the current tag"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--unreleased",
                "-u",
            ],
            description: Some("Processes the commits that do not belong to a tag"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--date-order",
            ],
            description: Some("Sorts the tags chronologically"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--context",
            ],
            description: Some("Prints changelog context as JSON"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Prints help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Prints version information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--config",
                "-c",
            ],
            description: Some("Sets the configuration file"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--workdir",
                "-w",
            ],
            description: Some("Sets the working directory"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--repository",
                "-r",
            ],
            description: Some("Sets the git repository"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--include-path",
            ],
            description: Some("Sets the path to include related commits"),
            takes_value: true,
            arguments: [
                (
                    name: "pattern",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--exclude-path",
            ],
            description: Some("Sets the path to exclude related commits"),
            takes_value: true,
            arguments: [
                (
                    name: "pattern",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--with-commit",
            ],
            description: Some("Sets custom commit messages to include in the changelog"),
            takes_value: true,
            arguments: [
                (
                    name: "msg",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--prepend",
                "-p",
            ],
            description: Some("Prepends entries to the given changelog file"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--output",
                "-o",
            ],
            description: Some("Writes output to the given file"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--tag",
                "-t",
            ],
            description: Some("Sets the tag for the latest version"),
            takes_value: true,
            arguments: [
                (
                    name: "tag",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--body",
                "-b",
            ],
            description: Some("Sets the template for the changelog body"),
            takes_value: true,
            arguments: [
                (
                    name: "template",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--strip",
                "-s",
            ],
            description: Some("Strips the given parts from the changelog"),
            takes_value: true,
            arguments: [
                (
                    name: "part",
                    source: Static([
                        "header",
                        "footer",
                        "all",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--sort",
            ],
            description: Some("Sets sorting of the commits inside sections"),
            takes_value: true,
            arguments: [
                (
                    name: "sort",
                    source: Static([
                        "oldest",
                        "newest",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "range",
            source: Unavailable,
            optional: false,
            variadic: false,
            imported_generator: Some((
                script: [
                    "git",
                    "rev-list",
                    "--all",
                    "--oneline",
                    "--abbrev-commit",
                ],
                has_post_process: true,
                has_custom: false,
            )),
        ),
    ],
)