(
    version: 1,
    command: "git-quick-stats",
    description: Some("Git quick statistics is a simple and efficient way to access various statistics in git repository"),
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for git-quick-stats"),
        ),
        (
            names: [
                "--suggest-reviewers",
                "-r",
            ],
            description: Some("Show the best people to contact to review code"),
        ),
        (
            names: [
                "--detailed-git-stats",
                "-T",
            ],
            description: Some("Give a detailed list of git stats"),
        ),
        (
            names: [
                "---git-stats-by-branch",
                "-R",
            ],
            description: Some("Show detailed list of git stats by branch"),
        ),
        (
            names: [
                "--changelogs",
                "-c",
            ],
            description: Some("Show changelogs"),
        ),
        (
            names: [
                "--changelogs-by-author",
                "-L",
            ],
            description: Some("Show changelogs by author"),
        ),
        (
            names: [
                "--my-daily-stats",
                "-S",
            ],
            description: Some("Show your current daily stats"),
        ),
        (
            names: [
                "--my-csv-output-by-branch-stats",
                "-V",
            ],
            description: Some("Output daily stats by branch in CSV format"),
        ),
        (
            names: [
                "--json-output",
                "-j",
            ],
            description: Some("Save git log as a JSON formatted file to a specified area"),
        ),
        (
            names: [
                "--branch-tree",
                "-b",
            ],
            description: Some("Show an ASCII graph of the git repo branch history"),
        ),
        (
            names: [
                "--branches-by-date",
                "-D",
            ],
            description: Some("Show branches by date"),
        ),
        (
            names: [
                "--contributors",
                "-C",
            ],
            description: Some("See a list of everyone who contributed to the repo"),
        ),
        (
            names: [
                "--commits-per-author",
                "-a",
            ],
            description: Some("Displays a list of commits per author"),
        ),
        (
            names: [
                "--commits-per-day",
                "-d",
            ],
            description: Some("Displays a list of commits per day"),
        ),
        (
            names: [
                "--commits-by-month",
                "-m",
            ],
            description: Some("Displays a list of commits per month"),
        ),
        (
            names: [
                "--commits-by-year",
                "-Y",
            ],
            description: Some("Displays a list of commits per year"),
        ),
        (
            names: [
                "--commits-by-weekday",
                "-w",
            ],
            description: Some("Displays a list of commits per weekday"),
        ),
        (
            names: [
                "--commits-by-hour",
                "-o",
            ],
            description: Some("Displays a list of commits per hour"),
        ),
        (
            names: [
                "--commits-by-author-by-hour",
                "-A",
            ],
            description: Some("Displays a list of commits per hour by author"),
        ),
        (
            names: [
                "--commits-by-timezone",
                "-z",
            ],
            description: Some("Displays a list of commits per timezone"),
        ),
        (
            names: [
                "--commits-by-author-by-timezone",
                "-Z",
            ],
            description: Some("Displays a list of commits per timezone by author"),
        ),
    ],
)
