(
    version: 1,
    command: "git-flow",
    description: Some("A collection of Git extensions to provide high-level repository operations for Vincent Driessen\'s branching model"),
    subcommands: [
        (
            name: "init",
            aliases: [],
            description: Some("Initialize a new git repo with support for the branching model"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-d",
                    ],
                    description: Some("Use default branch naming conventions"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-f",
                    ],
                    description: Some("Force setting of gitflow branches, even if already configured"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "feature",
            aliases: [],
            description: Some("List all feature branches"),
            subcommands: [
                (
                    name: "start",
                    aliases: [],
                    description: Some("Create a new feature branch"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "finish",
                    aliases: [],
                    description: Some("Merge a feature branch into develop"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "name",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "publish",
                    aliases: [],
                    description: Some("Push a feature branch to the remote repository"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "pull",
                    aliases: [],
                    description: Some("Pull a feature branch from the remote repository"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "origin",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "release",
            aliases: [],
            description: Some("List all release branches"),
            subcommands: [
                (
                    name: "start",
                    aliases: [],
                    description: Some("Create a new release branch"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "finish",
                    aliases: [],
                    description: Some("Merge a release branch into develop"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "name",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "hotfix",
            aliases: [],
            description: Some("List all hotfix branches"),
            subcommands: [
                (
                    name: "start",
                    aliases: [],
                    description: Some("Create a new hotfix branch"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "finish",
                    aliases: [],
                    description: Some("Merge a hotfix branch into develop"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "name",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "support",
            aliases: [],
            description: Some("List all support branches"),
            subcommands: [
                (
                    name: "start",
                    aliases: [],
                    description: Some("Create a new support branch"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)