(
    version: 1,
    command: "github",
    description: Some("Open a git repository in GitHub Desktop"),
    subcommands: [
        (
            name: "clone",
            aliases: [],
            description: Some("Clone a repository"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--branch",
                        "-b",
                    ],
                    description: Some("The branch to checkout after cloning"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "branch",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "url|slug",
                    source: Static([
                        "https://github.com/",
                        "https://gitlab.com/",
                        "https://bitbucket.com/",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "open",
            aliases: [],
            description: Some("Open a git repository in GitHub Desktop"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Show the help page for a command"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "command",
                    source: Static([
                        "clone",
                        "open",
                        "help",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Show the help page for a command"),
            takes_value: true,
            arguments: [
                (
                    name: "command",
                    source: Static([
                        "clone",
                        "open",
                        "help",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "path",
            source: Unavailable,
            optional: true,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: false,
            )),
        ),
    ],
)