(
    version: 1,
    command: "github",
    description: Some("Open a git repository in GitHub Desktop"),
    subcommands: [
        (
            name: "clone",
            description: Some("Clone a repository"),
            options: [
                (
                    names: [
                        "--branch",
                        "-b",
                    ],
                    description: Some("The branch to checkout after cloning"),
                    arguments: [
                        (
                            name: "branch",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "url|slug",
                    suggestions: [
                        (
                            name: "https://github.com/",
                            presentation: (
                                icon: Some("https://github.com/fluidicon.png"),
                            ),
                        ),
                        (
                            name: "https://gitlab.com/",
                            presentation: (
                                icon: Some("https://about.gitlab.com/ico/favicon-32x32.png"),
                            ),
                        ),
                        (
                            name: "https://bitbucket.com/",
                            presentation: (
                                icon: Some("https://wac-cdn.atlassian.com/assets/img/favicons/bitbucket/favicon-32x32.png"),
                            ),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "open",
            description: Some("Open a git repository in GitHub Desktop"),
            arguments: [
                (
                    name: "path",
                    generators: [
                        (
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Show the help page for a command"),
            arguments: [
                (
                    name: "command",
                    suggestions: [
                        (
                            name: "clone",
                        ),
                        (
                            name: "open",
                        ),
                        (
                            name: "help",
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Show the help page for a command"),
            arguments: [
                (
                    name: "command",
                    suggestions: [
                        (
                            name: "clone",
                        ),
                        (
                            name: "open",
                        ),
                        (
                            name: "help",
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "path",
            generators: [
                (
                    template: [
                        Folders,
                    ],
                ),
            ],
            optional: true,
        ),
    ],
)
