(
    version: 1,
    command: "gltfjsx",
    description: Some("GLTF to JSX converter"),
    subcommands: [],
    options: [
        (
            names: [
                "-t",
                "--types",
            ],
            description: Some("Add Typescript definitions"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Verbose output w/ names and empty groups"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
                "--meta",
            ],
            description: Some("Include metadata (as userData)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--shadows",
            ],
            description: Some("Let meshes cast and receive shadows"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
                "--printwidth",
            ],
            description: Some("Prettier printWidth (default: 120)"),
            takes_value: true,
            arguments: [
                (
                    name: "width",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--precision",
            ],
            description: Some("Number of fractional digits (default: 2)"),
            takes_value: true,
            arguments: [
                (
                    name: "digits",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--draco",
            ],
            description: Some("Draco binary path"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--root",
            ],
            description: Some("Sets directory from which .gltf file is served"),
            takes_value: true,
            arguments: [
                (
                    name: "root",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-D",
                "--debug",
            ],
            description: Some("Debug output"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "file",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)