(
    version: 1,
    command: "goto",
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for goto"),
        ),
        (
            names: [
                "--register",
                "-r",
            ],
            description: Some("Registers an alias"),
            arguments: [
                (
                    name: "alias",
                ),
                (
                    name: "target",
                    template: [
                        Folders,
                    ],
                ),
            ],
            persistent: true,
        ),
        (
            names: [
                "--unregister",
                "-u",
            ],
            description: Some("Unregister an alias"),
            arguments: [
                (
                    name: "alias",
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                    filter_strategy: Prefix,
                    dangerous: true,
                ),
            ],
            persistent: true,
        ),
        (
            names: [
                "--push",
                "-p",
            ],
            description: Some("Pushes the current directory onto the stack, then performs goto"),
        ),
        (
            names: [
                "--pop",
                "-o",
            ],
            description: Some("Pops the top directory from the stack, then changes to that directory"),
        ),
        (
            names: [
                "--list",
                "-l",
            ],
            description: Some("Pops the top directory from the stack, then changes to that directory"),
        ),
        (
            names: [
                "--expand",
                "-x",
            ],
            description: Some("Expands an alias"),
            arguments: [
                (
                    name: "alias",
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--cleanup",
                "-c",
            ],
            description: Some("Cleans up non existent directory aliases"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Displays the version of the goto script"),
        ),
    ],
    arguments: [
        (
            name: "alias",
            generators: [
                (
                    has_custom: true,
                ),
            ],
        ),
    ],
    presentation: (
        display_name: Some("Goto a Folder by alias"),
    ),
)
