(
    version: 1,
    command: "goto",
    description: None,
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for goto"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--register",
                "-r",
            ],
            description: Some("Registers an alias"),
            takes_value: true,
            arguments: [
                (
                    name: "alias",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "target",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--unregister",
                "-u",
            ],
            description: Some("Unregister an alias"),
            takes_value: true,
            arguments: [
                (
                    name: "alias",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--push",
                "-p",
            ],
            description: Some("Pushes the current directory onto the stack, then performs goto"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--pop",
                "-o",
            ],
            description: Some("Pops the top directory from the stack, then changes to that directory"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--list",
                "-l",
            ],
            description: Some("Pops the top directory from the stack, then changes to that directory"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--expand",
                "-x",
            ],
            description: Some("Expands an alias"),
            takes_value: true,
            arguments: [
                (
                    name: "alias",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--cleanup",
                "-c",
            ],
            description: Some("Cleans up non existent directory aliases"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Displays the version of the goto script"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "alias",
            source: Unavailable,
            optional: false,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: true,
            )),
        ),
    ],
)