(
    version: 1,
    command: "graphcdn",
    description: Some("GraphCDN CLI"),
    subcommands: [
        (
            name: "login",
            description: Some("Authenticate the CLI"),
            options: [
                (
                    names: [
                        "--token",
                    ],
                    arguments: [
                        (
                            name: "token",
                        ),
                    ],
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                ),
            ],
        ),
        (
            name: "init",
            description: Some("Create a new GraphCDN service"),
            options: [
                (
                    names: [
                        "-y",
                        "--yes",
                    ],
                    description: Some("Skip all the questions and just init"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                ),
            ],
        ),
        (
            name: "pull",
            description: Some("Pull the latest service configuration"),
            options: [
                (
                    names: [
                        "--service",
                    ],
                    description: Some("Name of the service to pull from (only required without graphcdn.yml)"),
                    arguments: [
                        (
                            name: "service",
                            description: Some("Name of the environment to pull from"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--env",
                    ],
                    arguments: [
                        (
                            name: "env",
                        ),
                    ],
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                ),
            ],
        ),
        (
            name: "push",
            description: Some("Push and deploy the latest app configuration"),
            options: [
                (
                    names: [
                        "--env",
                    ],
                    arguments: [
                        (
                            name: "env",
                        ),
                    ],
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                ),
            ],
            arguments: [
                (
                    name: "field",
                    suggestions: [
                        (
                            name: "schema",
                        ),
                        (
                            name: "rules",
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
        ),
    ],
)
