(
    version: 1,
    command: "grep",
    description: Some("Matches patterns in input text. Supports simple patterns and regular expressions"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Print a usage message briefly summarizing these command-line options and the bug-reporting address, then exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-E",
                "--extended-regexp",
            ],
            description: Some("Interpret PATTERN as an extended regular expression (-E is specified by POSIX.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-F",
                "--fixed-string",
            ],
            description: Some("Interpret PATTERN as a list of fixed strings, separated by newlines, any of which is to be matched. (-F is specified by POSIX.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-G",
                "--basic-regexp",
            ],
            description: Some("Interpret PATTERN as a basic regular expression (BRE, see below). This is the default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-e",
                "--regexp",
            ],
            description: Some("Use PATTERN as the pattern. This can be used to specify multiple search patterns, or to protect a pattern beginning with a hyphen (-). (-e is specified by POSIX.)"),
            takes_value: true,
            arguments: [
                (
                    name: "pattern",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--ignore-case",
                "-y",
            ],
            description: Some("Ignore case distinctions in both the PATTERN and the input files. (-i is specified by POSIX.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--invert-match",
            ],
            description: Some("Invert the sense of matching, to select non-matching lines. (-v is specified by POSIX.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
                "--word-regexp",
            ],
            description: Some("Select only those lines containing matches that form whole words. The test is that the matching substring must either be at the beginning of the line, or preceded by a non-word constituent character. Similarly, it must be either at the end of the line or followed by a non-word constituent character. Word-constituent characters are letters, digits, and the underscore"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x",
                "--line-regexp",
            ],
            description: Some("Select only those matches that exactly match the whole line. (-x is specified by POSIX.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
                "--count",
            ],
            description: Some("Suppress normal output; instead print a count of matching lines for each input file. With the -v, --invert-match option, count non-matching lines. (-c is specified by POSIX.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Surround the matched (non-empty) strings, matching lines, context lines, file names, line numbers, byte offsets, and separators (for fields and groups of context lines) with escape sequences to display them in color on the terminal. The colors are defined by the environment variable GREP_COLORS. The deprecated environment variable GREP_COLOR is still supported, but its setting does not have priority"),
            takes_value: true,
            arguments: [
                (
                    name: "WHEN",
                    source: Static([
                        "never",
                        "always",
                        "auto",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-L",
                "--files-without-match",
            ],
            description: Some("Suppress normal output; instead print the name of each input file from which no output would normally have been printed. The scanning will stop on the first match"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
                "--files-with-matches",
            ],
            description: Some("Suppress normal output; instead print the name of each input file from which output would normally have been printed. The scanning will stop on the first match. (-l is specified by POSIX.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
                "--max-count",
            ],
            description: Some("Stop reading a file after NUM matching lines. If the input is standard input from a regular file, and NUM matching lines are output, grep ensures that the standard input is positioned to just after the last matching line before exiting, regardless of the presence of trailing context lines. This enables a calling process to resume a search. When grep stops after NUM matching lines, it outputs any trailing context lines. When the -c or --count option is also used, grep does not output a count greater than NUM. When the -v or --invert-match option is also used, grep stops after outputting NUM non-matching lines"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-o",
                "--only-matching",
            ],
            description: Some("Print only the matched (non-empty) parts of a matching line, with each such part on a separate output line"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-q",
                "--quiet",
                "--silent",
            ],
            description: Some("Quiet; do not write anything to standard output. Exit immediately with zero status if any match is found, even if an error was detected. Also see the -s or --no-messages option. (-q is specified by POSIX.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--no-messages",
            ],
            description: Some("Suppress error messages about nonexistent or unreadable files. Portability note: unlike GNU grep, 7th Edition Unix grep did not conform to POSIX, because it lacked -q and its -s option behaved like GNU grep\'s -q option. USG -style grep also lacked -q but its -s option behaved like GNU grep. Portable shell scripts should avoid both -q and -s and should redirect standard and error output to /dev/null instead. (-s is specified by POSIX.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-b",
                "--byte-offset",
            ],
            description: Some("Print the 0-based byte offset within the input file before each line of output. If -o (--only-matching) is specified, print the offset of the matching part itself"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-H",
                "--with-filename",
            ],
            description: Some("Print the file name for each match. This is the default when there is more than one file to search"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--no-filename",
            ],
            description: Some("Suppress the prefixing of file names on output. This is the default when there is only one file (or only standard input) to search"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--label",
            ],
            description: Some("Display input actually coming from standard input as input coming from file LABEL. This is especially useful when implementing tools like zgrep, e.g., gzip -cd foo.gz | grep --label=foo -H something"),
            takes_value: true,
            arguments: [
                (
                    name: "LABEL",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-n",
                "--line-number",
            ],
            description: Some("Prefix each line of output with the 1-based line number within its input file. (-n is specified by POSIX.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-T",
                "--initial-tab",
            ],
            description: Some("Make sure that the first character of actual line content lies on a tab stop, so that the alignment of tabs looks normal. This is useful with options that prefix their output to the actual content: -H,-n, and -b. In order to improve the probability that lines from a single file will all start at the same column, this also causes the line number and byte offset (if present) to be printed in a minimum size field width"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
                "--unix-byte-offsets",
            ],
            description: Some("Report Unix-style byte offsets. This switch causes grep to report byte offsets as if the file were a Unix-style text file, i.e., with CR characters stripped off. This will produce results identical to running grep on a Unix machine. This option has no effect unless -b option is also used; it has no effect on platforms other than MS-DOS and MS -Windows"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--null",
            ],
            description: Some("Output a zero byte (the ASCII NUL character) instead of the character that normally follows a file name. For example, grep -lZ outputs a zero byte after each file name instead of the usual newline. This option makes the output unambiguous, even in the presence of file names containing unusual characters like newlines. This option can be used with commands like find -print0, perl -0, sort -z, and xargs -0 to process arbitrary file names, even those that contain newline characters"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-A",
                "--after-context",
            ],
            description: Some("Print num lines of trailing context after each match"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-B",
                "--before-context",
            ],
            description: Some("Print num lines of leading context before each match. See also the -A and -C options"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-C",
                "--context",
            ],
            description: Some("Print NUM lines of output context. Places a line containing a group separator (--) between contiguous groups of matches. With the -o or --only-matching option, this has no effect and a warning is given"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-a",
                "--text",
            ],
            description: Some("Treat all files as ASCII text. Normally grep will simply print ``Binary file ... matches\'\' if files contain binary characters. Use of this option forces grep to output lines matching the specified pattern"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--binary-files",
            ],
            description: Some("Controls searching and printing of binary files"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Static([
                        "binary",
                        "without-match",
                        "text",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-D",
                "--devices",
            ],
            description: Some("Specify the demanded action for devices, FIFOs and sockets"),
            takes_value: true,
            arguments: [
                (
                    name: "action",
                    source: Static([
                        "read",
                        "skip",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--directories",
            ],
            description: Some("Specify the demanded action for directories"),
            takes_value: true,
            arguments: [
                (
                    name: "action",
                    source: Static([
                        "read",
                        "skip",
                        "recurse",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--exclude",
            ],
            description: Some("Note that --exclude patterns take priority over --include patterns, and if no --include pattern is specified, all files are searched that are not excluded. Patterns are matched to the full path specified, not only to the filename component"),
            takes_value: true,
            arguments: [
                (
                    name: "GLOB",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--exclude-dir",
            ],
            description: Some("If -R is specified, only directories matching the given filename pattern are searched.  Note that --exclude-dir patterns take priority over --include-dir patterns"),
            takes_value: true,
            arguments: [
                (
                    name: "dir",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-I",
            ],
            description: Some("Ignore binary files. This option is equivalent to --binary-file=without-match option"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--include",
            ],
            description: Some("If specified, only files matching the given filename pattern are searched. Note that --exclude patterns take priority over --include patterns. Patterns are matched to the full path specified, not only to the filename component"),
            takes_value: true,
            arguments: [
                (
                    name: "GLOB",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--include-dir",
            ],
            description: Some("If -R is specified, only directories matching the given filename pattern are searched. Note that --exclude-dir patterns take priority over --include-dir patterns"),
            takes_value: true,
            arguments: [
                (
                    name: "dir",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-R",
                "-r",
                "--recursive",
            ],
            description: Some("Recursively search subdirectories listed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--line-buffered",
            ],
            description: Some("Force output to be line buffered. By default, output is line buffered when standard output is a terminal and block buffered otherwise"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-U",
                "--binary",
            ],
            description: Some("Search binary files, but do not attempt to print them"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-J",
                "-bz2decompress",
            ],
            description: Some("Decompress the bzip2(1) compressed file before looking for the text"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version number of grep to the standard output stream"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-P",
                "--perl-regexp",
            ],
            description: Some("Interpret pattern as a Perl regular expression"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
                "--file",
            ],
            description: Some("Obtain patterns from FILE, one per line. The empty file contains zero patterns, and therefore matches nothing. (-f is specified by POSIX.)"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "search pattern",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
        (
            name: "file",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)