(
    version: 1,
    command: "gron",
    description: Some("Gron is a tool to make it easier to understand big blobs of JSON"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for gron"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
                "--ungron",
            ],
            description: Some("Reverse the operation (turn assignments back into JSON)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--values",
            ],
            description: Some("Print just the values of provided assignments"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
                "--colorize",
            ],
            description: Some("Colorize output (default on tty)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
                "--monochrome",
            ],
            description: Some("Monochrome (don\'t colorize output)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--stream",
            ],
            description: Some("Treat each line of input as a separate JSON object"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-k",
                "--insecure",
            ],
            description: Some("Disable certificate validation"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-j",
                "--json",
            ],
            description: Some("Represent gron data as JSON stream"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-sort",
            ],
            description: Some("Don\'t sort output (faster)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Print version information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)