(
    version: 1,
    command: "hardhat",
    description: Some("Ethereum development environment"),
    subcommands: [
        (
            name: "accounts",
            aliases: [],
            description: Some("Prints the list of accounts"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "check",
            aliases: [],
            description: Some("Check whatever you need"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "clean",
            aliases: [],
            description: Some("Clears the cache and deletes all artifacts"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--global",
                    ],
                    description: Some("Clear the global cache"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "compile",
            aliases: [],
            description: Some("Compiles the entire project, building all artifacts"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--force",
                    ],
                    description: Some("Force compilation ignoring cache"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Makes the compilation process less verbose"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "console",
            aliases: [],
            description: Some("Opens a hardhat console"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--no-compile",
                    ],
                    description: Some("Don\'t compile before running this task"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "flatten",
            aliases: [],
            description: Some("Flattens and prints contracts and their dependencies"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Prints this message"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "node",
            aliases: [],
            description: Some("Starts a JSON-RPC server on top of Hardhat Network"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--fork",
                    ],
                    description: Some("The URL of the JSON-RPC server to fork from"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--fork-block-number",
                    ],
                    description: Some("The block number to fork from"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--hostname",
                    ],
                    description: Some("The host to which to bind to for new connections"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--port",
                    ],
                    description: Some("The port on which to listen for new connections (default: 8545)"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "run",
            aliases: [],
            description: Some("Runs a user-defined script after compiling the project"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--no-compile",
                    ],
                    description: Some("Don\'t compile before running this task"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "test",
            aliases: [],
            description: Some("Runs mocha tests"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--no-compile",
                    ],
                    description: Some("Don\'t compile before running this task"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "config",
            ],
            description: Some("A Hardhat config file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--emoji",
            ],
            description: Some("Use emoji in messages"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--max-memory",
            ],
            description: Some("The maximum amount of memory that Hardhat can use"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Shows the help text or task\'s help if name is provided"),
            takes_value: true,
            arguments: [
                (
                    name: "task",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--network",
            ],
            description: Some("The network to connect to"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "---show-stack-traces",
            ],
            description: Some("Show stack traces"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Enables Hardhat verbose logging"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Shows hardhat\'s version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)