(
    version: 1,
    command: "hb-service",
    description: Some("The hb-service command is provided by homebridge-config-ui-x"),
    subcommands: [
        (
            name: "install",
            aliases: [],
            description: Some("Install homebridge as a service"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "uninstall",
            aliases: [],
            description: Some("Remove the homebridge service"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "start",
            aliases: [],
            description: Some("Start the homebridge service"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "stop",
            aliases: [],
            description: Some("Stop the homebridge service"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "restart",
            aliases: [],
            description: Some("Restart the homebridge service"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "rebuild",
            aliases: [],
            description: Some("Rebuild UI"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--all",
                    ],
                    description: Some("Rebuild all npm modules (use after updating Node.js)"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "run",
            aliases: [],
            description: Some("Run homebridge daemon"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "logs",
            aliases: [],
            description: Some("Tails the homebridge service logs"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update-node",
            aliases: [],
            description: Some("Update Node.js"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "version",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display help for command"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Output the version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--service-name",
                "-S",
            ],
            description: Some("The name of the homebridge service to install or control"),
            takes_value: true,
            arguments: [
                (
                    name: "service name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--port",
            ],
            description: Some("The port to set to the Homebridge UI when installing as a service"),
            takes_value: true,
            arguments: [
                (
                    name: "port",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--user",
            ],
            description: Some("The user account the Homebridge service will be installed as (Linux, macOS only)"),
            takes_value: true,
            arguments: [
                (
                    name: "user",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--plugin-path",
                "-P",
            ],
            description: None,
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--user-storage-path",
                "-U",
            ],
            description: None,
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-timestamp",
                "-T",
            ],
            description: None,
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--gid",
            ],
            description: None,
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--uid",
            ],
            description: None,
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--docker",
            ],
            description: None,
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--allow-root",
            ],
            description: None,
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--stdout",
            ],
            description: None,
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--strict-plugin-resolution",
            ],
            description: None,
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)