(
    version: 1,
    command: "head",
    description: Some("Output the first part of files"),
    subcommands: [],
    options: [
        (
            names: [
                "-c",
                "--bytes",
            ],
            description: Some("Print the first [numBytes] bytes of each file"),
            takes_value: true,
            arguments: [
                (
                    name: "numBytes",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-n",
                "--lines",
            ],
            description: Some("Print the first [numLines] lines instead of the first 10"),
            takes_value: true,
            arguments: [
                (
                    name: "numLines",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-q",
                "--quiet",
                "--silent",
            ],
            description: Some("Never print headers giving file names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Always print headers giving file names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Display this help and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Output version information and exit"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "file",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)