(
    version: 1,
    command: "homey",
    description: None,
    subcommands: [
        (
            name: "app",
            aliases: [],
            description: Some("App related commands"),
            subcommands: [
                (
                    name: "add-types",
                    aliases: [],
                    description: Some("Install the Apps SDK TypeScript declarations"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "build",
                    aliases: [],
                    description: Some("Build a Homey App for publishing"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "compose",
                    aliases: [],
                    description: Some("Migrate app to Homey compose"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "create",
                    aliases: [],
                    description: Some("Create a new Homey App"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "discovery",
                    aliases: [],
                    description: Some("Discovery related commands"),
                    subcommands: [
                        (
                            name: "create",
                            aliases: [],
                            description: Some("Create a new Discovery strategy"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                    ],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "driver",
                    aliases: [],
                    description: Some("Driver related commands"),
                    subcommands: [
                        (
                            name: "capabilities",
                            aliases: [],
                            description: Some("Change the capabilities of a Driver"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "create",
                            aliases: [],
                            description: Some("Create a new Driver"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "flow",
                            aliases: [],
                            description: Some("Create a new Flow for a Driver"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                    ],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "flow",
                    aliases: [],
                    description: Some("Flow related commands"),
                    subcommands: [
                        (
                            name: "create",
                            aliases: [],
                            description: Some("Create a new Flow"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                    ],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "install",
                    aliases: [],
                    description: Some("Install a Homey App"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-c",
                                "--clean",
                            ],
                            description: None,
                            takes_value: true,
                            arguments: [
                                (
                                    name: "clean",
                                    source: Static([
                                        "false",
                                        "true",
                                    ]),
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "-s",
                                "--skip-build",
                            ],
                            description: None,
                            takes_value: true,
                            arguments: [
                                (
                                    name: "skip-build",
                                    source: Static([
                                        "false",
                                        "true",
                                    ]),
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "manage",
                    aliases: [],
                    description: Some("View your app in the Homey Developer Tools"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "publish",
                    aliases: [],
                    description: Some("Publish a Homey App to the Homey Apps Store"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "run",
                    aliases: [],
                    description: Some("Run a Homey App in development mode"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-c",
                                "--clean",
                            ],
                            description: None,
                            takes_value: true,
                            arguments: [
                                (
                                    name: "clean",
                                    source: Static([
                                        "false",
                                        "true",
                                    ]),
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "-s",
                                "--skip-build",
                            ],
                            description: None,
                            takes_value: true,
                            arguments: [
                                (
                                    name: "skip-build",
                                    source: Static([
                                        "false",
                                        "true",
                                    ]),
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "-l",
                                "--link-modules",
                            ],
                            description: Some("Provide a comma-separated path to local Node.js modules to link. Only works on Homey Cloud"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "modules",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "validate",
                    aliases: [],
                    description: Some("Validate a Homey App"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-l",
                                "--level",
                            ],
                            description: Some("Validation level"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "value",
                                    source: Static([
                                        "debug",
                                        "publish",
                                        "verified",
                                    ]),
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "version",
                    aliases: [],
                    description: Some("Update a Homey App\'s version"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "next",
                            source: Static([
                                "patch",
                                "minor",
                                "major",
                                "semver",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "view",
                    aliases: [],
                    description: Some("View your app in the Homey Apps Store"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [
                (
                    names: [
                        "-p",
                        "--path",
                    ],
                    description: Some("Path to a Homey App directory"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "value",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "docs",
            aliases: [],
            description: Some("Open Homey Developer Documentation"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("List all Homeys"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "login",
            aliases: [],
            description: Some("Log in with an Athom Account"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "logout",
            aliases: [],
            description: Some("Log out the current user"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "select",
            aliases: [],
            description: Some("Select a Homey as active"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-i",
                        "--id",
                    ],
                    description: Some("ID of the Homey"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--name",
                    ],
                    description: Some("Name of the Homey"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "tools",
            aliases: [],
            description: Some("Open Homey Developer Tools"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "unselect",
            aliases: [],
            description: Some("Unselect the active Homey"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "whoami",
            aliases: [],
            description: Some("Show the current logged in user"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: None,
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: None,
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)