(
    version: 1,
    command: "hop",
    description: Some("Interact with Hop in your terminal"),
    subcommands: [
        (
            name: "auth",
            description: Some("Authenticate with Hop"),
            subcommands: [
                (
                    name: "help",
                    description: Some("Prints this message or the help of the given subcommand(s)"),
                ),
                (
                    name: "login",
                    description: Some("Login to Hop"),
                ),
                (
                    name: "logout",
                    description: Some("Logout the current user"),
                ),
            ],
        ),
        (
            name: "deploy",
            description: Some("Deploy a new container"),
            options: [
                (
                    names: [
                        "--type",
                        "-t",
                    ],
                    description: Some("Type of the container, defaults to `ephemeral`"),
                    arguments: [
                        (
                            name: "container type",
                            suggestions: [
                                (
                                    name: "ephemeral",
                                ),
                                (
                                    name: "persistent",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--containers",
                        "-i",
                    ],
                    description: Some("Number of containers to use, defaults to 1 if `scaling` is manual"),
                    arguments: [
                        (
                            name: "container amount",
                            suggestions: [
                                (
                                    name: "1",
                                ),
                                (
                                    name: "2",
                                ),
                                (
                                    name: "4",
                                ),
                                (
                                    name: "8",
                                ),
                                (
                                    name: "10",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--cpu",
                        "-c",
                    ],
                    description: Some("The number of CPUs to use, defaults to 1"),
                    arguments: [
                        (
                            name: "cpu amount",
                            suggestions: [
                                (
                                    name: "1",
                                ),
                                (
                                    name: "2",
                                ),
                                (
                                    name: "4",
                                ),
                                (
                                    name: "8",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--env",
                        "-e",
                    ],
                    description: Some("Environment variables to set, in the form of KEY=VALUE"),
                    arguments: [
                        (
                            name: "environment variable",
                            suggestions: [
                                (
                                    name: "port=",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of the deployment, defaults to the directory name"),
                    arguments: [
                        (
                            name: "deployment name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--project",
                        "-p",
                    ],
                    description: Some("Namespace or ID of the project to use"),
                    arguments: [
                        (
                            name: "project",
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ram",
                        "-m",
                    ],
                    description: Some("Amount of RAM to use, defaults to 512MB"),
                    arguments: [
                        (
                            name: "ram amount",
                            suggestions: [
                                (
                                    name: "128MB",
                                ),
                                (
                                    name: "256MB",
                                ),
                                (
                                    name: "512MB",
                                ),
                                (
                                    name: "1G",
                                ),
                                (
                                    name: "2G",
                                ),
                                (
                                    name: "4G",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--scaling",
                        "-s",
                    ],
                    description: Some("Scaling strategy, defaults to `manual`"),
                    arguments: [
                        (
                            name: "scaling strategy",
                            suggestions: [
                                (
                                    name: "manual",
                                ),
                                (
                                    name: "autoscale",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "dir",
                    description: Some("Directory to deploy, defaults to current directory"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Prints this message or the help of the given subcommand(s)"),
            arguments: [
                (
                    name: "command",
                    template: [
                        Help,
                    ],
                ),
            ],
        ),
        (
            name: "ignite",
            description: Some("Interact with Ignite containers"),
            subcommands: [
                (
                    name: "ls",
                    description: Some("List all deployments"),
                    options: [
                        (
                            names: [
                                "--project",
                                "-p",
                            ],
                            description: Some("Namespace or ID of the project to use"),
                        ),
                    ],
                ),
                (
                    name: "rm",
                    description: Some("Delete a deployment"),
                    options: [
                        (
                            names: [
                                "--project",
                                "-p",
                            ],
                            description: Some("Namespace or ID of the project to use"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "link",
            description: Some("Link an existing deployment to a hopfile"),
        ),
        (
            name: "projects",
            description: Some("Interact with projects"),
            subcommands: [
                (
                    name: "info",
                    description: Some("Get information about a project"),
                ),
                (
                    name: "ls",
                    description: Some("List all projects that you're authorized to"),
                ),
                (
                    name: "new",
                    description: Some("Create a new project"),
                ),
                (
                    name: "rm",
                    description: Some("Delete a project"),
                ),
                (
                    name: "switch",
                    description: Some("Switch to a different project"),
                ),
            ],
        ),
        (
            name: "whoami",
            description: Some("Get information about the current user"),
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Prints help information"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Prints version information"),
        ),
        (
            names: [
                "--project",
                "-p",
            ],
            description: Some("Namespace or ID of the project to use"),
        ),
    ],
)
