(
    version: 1,
    command: "hostname",
    description: Some("Set or print name of current host system"),
    subcommands: [],
    options: [
        (
            names: [
                "-f",
            ],
            description: Some("Include domain information in the printed name"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Trim off any domain information from the printed name"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Only print domain information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "hostname",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)