(
    version: 1,
    command: "hostname",
    description: Some("Set or print name of current host system"),
    options: [
        (
            names: [
                "-f",
            ],
            description: Some("Include domain information in the printed name"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Trim off any domain information from the printed name"),
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Only print domain information"),
        ),
    ],
    arguments: [
        (
            name: "hostname",
            description: Some("The hostname to use for this machine"),
        ),
    ],
)
