(
    version: 1,
    command: "httpy",
    description: Some("Programmable command-line HTTP client for the API"),
    options: [
        (
            names: [
                "--exec",
                "-x",
            ],
            description: Some("Execute httpy command"),
        ),
        (
            names: [
                "--status",
                "-S",
            ],
            description: Some("Print only the response status"),
        ),
        (
            names: [
                "--header",
                "-H",
            ],
            description: Some("Print only the response headers"),
        ),
        (
            names: [
                "--body",
                "-B",
            ],
            description: Some("Print only the response body"),
        ),
        (
            names: [
                "--allow-redirect",
                "-r",
            ],
            description: Some("Allow requests to be redirected"),
        ),
        (
            names: [
                "--verbose",
                "-V",
            ],
            description: Some("Show request and response in verbose"),
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for httpy"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Show version for httpy"),
        ),
    ],
    arguments: [
        (
            name: "URL",
            description: Some("The scheme defaults to 'http://' if the URL does not include one"),
        ),
        (
            name: "METHOD",
            description: Some("The HTTP method to be used for the request (GET, POST, PUT, DELETE, ...)"),
            suggestions: [
                (
                    name: "GET",
                ),
                (
                    name: "POST",
                ),
                (
                    name: "PUT",
                ),
                (
                    name: "DELETE",
                ),
            ],
            optional: true,
            default: Some("GET"),
        ),
    ],
)
