(
    version: 1,
    command: "hx",
    description: Some("A post-modern text editor"),
    subcommands: [],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--tutor",
            ],
            description: Some("Open the tutorial"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--health",
            ],
            description: Some("Check for errors in editor setup"),
            takes_value: true,
            arguments: [
                (
                    name: "language",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Increases logging verbosity"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
                "--grammar",
            ],
            description: Some("Fetch or build tree-sitter grammars"),
            takes_value: true,
            arguments: [
                (
                    name: "action",
                    source: Static([
                        "fetch",
                        "build",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "files",
            source: Directories,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)