(
    version: 1,
    command: "hyper",
    description: Some("Hyper is an Electron-based terminal"),
    subcommands: [
        (
            name: "install",
            aliases: [
                "i",
            ],
            description: Some("Install a plugin"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "plugin",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "docs",
            aliases: [
                "d",
                "h",
                "home",
            ],
            description: Some("Open the npm page of a plugin"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "plugin",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Display help"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [
                "ls",
            ],
            description: Some("List installed plugins"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list-remote",
            aliases: [
                "lsr",
                " ls-remote",
            ],
            description: Some("List plugins available on npm"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "search",
            aliases: [
                "s",
            ],
            description: Some("Search for plugins on npm"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "query",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "uninstall",
            aliases: [
                "u",
                "rm",
                "remove",
            ],
            description: Some("Uninstall plugin"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "plugin",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "hyper",
                            "list",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "version",
            aliases: [],
            description: Some("Show version"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Verbose mode (disabled by default)"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Directories,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)