(
    version: 1,
    command: "ibus",
    subcommands: [
        (
            name: "engine",
            description: Some("Set or get engine"),
            arguments: [
                (
                    name: "",
                    generators: [
                        (
                            script: [
                                "ibus",
                                "list-engine",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "exit",
            description: Some("Exit ibus-daemon"),
        ),
        (
            name: "list-engine",
            description: Some("Show available engines"),
        ),
        (
            name: "watch",
            description: Some("Not implemented"),
            presentation: (
                hidden: true,
            ),
        ),
        (
            name: "version",
            description: Some("Show version"),
        ),
        (
            name: "read-cache",
            description: Some("Show the content of registry cache"),
        ),
        (
            name: "write-cache",
            description: Some("Create registry cache"),
        ),
        (
            name: "address",
            description: Some("Print the D-Bus address of ibus-daemon"),
        ),
        (
            name: "read-config",
            description: Some("Show the configuration values"),
        ),
        (
            name: "reset-config",
            description: Some("Reset the configuration values"),
        ),
        (
            name: "emoji",
            description: Some("Save emoji on dialog to clipboard"),
        ),
        (
            name: "help",
            description: Some("Show this information"),
        ),
    ],
)
