(
    version: 1,
    command: "iex",
    description: Some("Elixir Interactive Shell"),
    subcommands: [],
    options: [
        (
            names: [
                "-e",
                "--eval",
            ],
            description: Some("Evaluates the given command"),
            takes_value: true,
            arguments: [
                (
                    name: "EXPRESSION",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Prints this message and exits"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Requires the given files/patterns"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Finds and executes the given script in $PATH"),
            takes_value: true,
            arguments: [
                (
                    name: "SCRIPT",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-pr",
            ],
            description: Some("Requires the given files/patterns in parallel"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-pa",
            ],
            description: Some("Prepends the given path to Erlang code path"),
            takes_value: true,
            arguments: [
                (
                    name: "PATH",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-pz",
            ],
            description: Some("Appends the given path to Erlang code path"),
            takes_value: true,
            arguments: [
                (
                    name: "PATH",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Prints Elixir version and exits"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--app",
            ],
            description: Some("Starts the given app and its dependencies"),
            takes_value: true,
            arguments: [
                (
                    name: "APP",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--erl",
            ],
            description: Some("Switches to be passed down to Erlang"),
            takes_value: true,
            arguments: [
                (
                    name: "SWITCHES",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--logger-otp-reports",
            ],
            description: Some("Enables or disables OTP reporting"),
            takes_value: true,
            arguments: [
                (
                    name: "BOOL",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--logger-sasl-reports",
            ],
            description: Some("Enables or disables SASL reporting"),
            takes_value: true,
            arguments: [
                (
                    name: "BOOL",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-halt",
            ],
            description: Some("Does not halt the Erlang VM after execution"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--werl",
            ],
            description: Some("Uses Erlang\'s Windows shell GUI (Windows only)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--cookie",
            ],
            description: Some("Sets a cookie for this distributed node"),
            takes_value: true,
            arguments: [
                (
                    name: "COOKIE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--hidden",
            ],
            description: Some("Makes a hidden node"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--name",
            ],
            description: Some("Makes and assigns a name to the distributed node"),
            takes_value: true,
            arguments: [
                (
                    name: "NAME",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--rpc-eval",
            ],
            description: Some("Evaluates the given command on the given remote node"),
            takes_value: true,
            arguments: [
                (
                    name: "NODE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "COMMAND",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--sname",
            ],
            description: Some("Makes and assigns a short name to the distributed node"),
            takes_value: true,
            arguments: [
                (
                    name: "NAME",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--boot",
            ],
            description: Some("Uses the given FILE.boot to start the system"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--boot-var",
            ],
            description: Some("Makes $VAR available as VALUE to FILE.boot"),
            takes_value: true,
            arguments: [
                (
                    name: "VAR",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "VALUE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--erl-config",
            ],
            description: Some("Loads configuration in FILE.config written in Erlang"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--pipe-to",
            ],
            description: Some("Starts the Erlang VM as a named PIPEDIR and LOGDIR"),
            takes_value: true,
            arguments: [
                (
                    name: "PIPEDIR",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "LOGDIR",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--vm-args",
            ],
            description: Some("Passes the contents in file as arguments to the VM"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--dot-iex",
            ],
            description: Some("Overrides default .iex.exs file and uses path instead; path can be empty, then no file will be loaded"),
            takes_value: true,
            arguments: [
                (
                    name: "PATH",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--remsh",
            ],
            description: Some("Connects to a node using a remote shell"),
            takes_value: true,
            arguments: [
                (
                    name: "NAME",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "file",
            source: Unavailable,
            optional: false,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: true,
            )),
        ),
        (
            name: "data",
            source: Files,
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
    ],
)