(
    version: 1,
    command: "ignite-cli",
    description: Some("Ignite is a CLI that helps you spin up a new React Native app using a battle-tested tech stack"),
    subcommands: [
        (
            name: "new",
            aliases: [],
            description: Some("Create a new React Native app"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--expo",
                    ],
                    description: Some("Use Expo"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--bundle",
                    ],
                    description: Some("Set the bundle ID of the app"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "bundle",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "g",
            aliases: [
                "generate",
            ],
            description: Some("Generate components and other app features"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--list",
                    ],
                    description: Some("List installed generators"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--update",
                    ],
                    description: Some("Update installed generators"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "generator",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "ls",
                            "ignite/templates",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
                (
                    name: "name",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Update installed generators"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--all",
                    ],
                    description: Some("Update all installed generators"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "generator",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "ls",
                            "ignite/templates",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "doctor",
            aliases: [],
            description: Some("Check your environment & display versions of installed dependencies"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Output the version number"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)