(
    version: 1,
    command: "ignite-cli",
    description: Some("Ignite is a CLI that helps you spin up a new React Native app using a battle-tested tech stack"),
    subcommands: [
        (
            name: "new",
            description: Some("Create a new React Native app"),
            options: [
                (
                    names: [
                        "--expo",
                    ],
                    description: Some("Use Expo"),
                ),
                (
                    names: [
                        "--bundle",
                    ],
                    description: Some("Set the bundle ID of the app"),
                    arguments: [
                        (
                            name: "bundle",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "name",
                ),
            ],
        ),
        (
            name: "g",
            aliases: [
                "generate",
            ],
            description: Some("Generate components and other app features"),
            options: [
                (
                    names: [
                        "--list",
                    ],
                    description: Some("List installed generators"),
                ),
                (
                    names: [
                        "--update",
                    ],
                    description: Some("Update installed generators"),
                ),
            ],
            arguments: [
                (
                    name: "generator",
                    generators: [
                        (
                            script: [
                                "ls",
                                "ignite/templates",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
                (
                    name: "name",
                    optional: true,
                ),
            ],
        ),
        (
            name: "update",
            description: Some("Update installed generators"),
            options: [
                (
                    names: [
                        "--all",
                    ],
                    description: Some("Update all installed generators"),
                ),
            ],
            arguments: [
                (
                    name: "generator",
                    generators: [
                        (
                            script: [
                                "ls",
                                "ignite/templates",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "doctor",
            description: Some("Check your environment & display versions of installed dependencies"),
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Output the version number"),
        ),
    ],
)
