(
    version: 1,
    command: "java",
    description: Some("Launch a Java application"),
    options: [
        (
            names: [
                "-jar",
            ],
            description: Some("To launch the main class in a JAR file"),
            arguments: [
                (
                    name: "JAR file",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
            presentation: (
                priority: Some(99.0),
            ),
        ),
        (
            names: [
                "-D",
            ],
            description: Some("Set a system property, -D<NAME>=<VALUE>"),
            presentation: (
                priority: Some(98.0),
            ),
        ),
        (
            names: [
                "--help",
                "-h",
                "-?",
            ],
            description: Some("Show help for java"),
        ),
        (
            names: [
                "--version",
                "-version",
            ],
            description: Some("Print product version to the error stream and exit"),
        ),
        (
            names: [
                "-showversion",
                "--show-version",
            ],
            description: Some("Print product version to the output stream and continue"),
        ),
        (
            names: [
                "--dry-run",
            ],
            description: Some("Create VM and load main class but do not execute main method"),
        ),
        (
            names: [
                "--classpath",
                "-cp",
            ],
            description: Some("Class search path of directories and zip/jar files"),
            arguments: [
                (
                    name: "search files",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "mainclass",
            description: Some("To launch a class file"),
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
        ),
    ],
    parser_directives: Some((
        flags_are_posix_noncompliant: true,
    )),
)
