(
    version: 1,
    command: "jenv",
    description: Some("Manage your Java environment"),
    subcommands: [
        (
            name: "commands",
            description: Some("List all available JEnv commands"),
        ),
        (
            name: "help",
            description: Some("Parses and displays help contents from a command's source file"),
            options: [
                (
                    names: [
                        "--usage",
                    ],
                ),
            ],
            arguments: [
                (
                    name: "COMMAND",
                    generators: [
                        (
                            script: [
                                "jenv",
                                "commands",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "info",
            description: Some("Show information about which command will be executed"),
            arguments: [
                (
                    name: "command",
                    generators: [
                        (
                            script: [
                                "jenv",
                                "shims",
                                "--short",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "add",
            description: Some("Add JDK into jenv. A alias name will be generated by parsing \"java -version\""),
            arguments: [
                (
                    name: "JAVA_HOME",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            name: "enable-plugin",
            description: Some("Activate a jEnv plugin"),
            arguments: [
                (
                    name: "pluginName",
                    description: Some("Plugin Name"),
                    generators: [
                        (
                            script: [
                                "jenv",
                                "plugins",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "disable-plugin",
            description: Some("Deactivate a jEnv plugin"),
            arguments: [
                (
                    name: "pluginName",
                    description: Some("Plugin Name"),
                    generators: [
                        (
                            script: [
                                "jenv",
                                "plugins",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "doctor",
            description: Some("Run jEnv diagnostics"),
        ),
        (
            name: "exec",
            description: Some("Runs an executable by first preparing PATH so that the selected Java version's `bin' directory is at the front"),
            arguments: [
                (
                    name: "command",
                    generators: [
                        (
                            script: [
                                "bash",
                                "-c",
                                "for i in $(echo $PATH | tr \":\" \"\\n\"); do [[ -d \"$i\" ]] && find \"$i\" -maxdepth 1 -type f -perm -111 && find \"$i\" -maxdepth 1 -type l -perm -111; done",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    filter_strategy: Fuzzy,
                    is_command: true,
                ),
            ],
        ),
        (
            name: "global",
            description: Some("Sets the global Java version"),
            arguments: [
                (
                    name: "version",
                    generators: [
                        (
                            script: [
                                "jenv",
                                "versions",
                                "--bare",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "global-options",
            description: Some("Sets the global Java options"),
            arguments: [
                (
                    name: "options",
                    variadic: true,
                ),
            ],
        ),
        (
            name: "local",
            description: Some("Sets the local application-specific Java version by writing the version name to a file named `.java-version'"),
            options: [
                (
                    names: [
                        "--unset",
                    ],
                    description: Some("Remove local jEnv settings"),
                ),
            ],
            arguments: [
                (
                    name: "version",
                    generators: [
                        (
                            script: [
                                "jenv",
                                "versions",
                                "--bare",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "local-options",
            description: Some("Sets the local application-specific Java options"),
            arguments: [
                (
                    name: "options",
                    variadic: true,
                ),
            ],
        ),
        (
            name: "shell",
            description: Some("Sets a shell-specific Java version by setting the `JENV_VERSION'"),
            options: [
                (
                    names: [
                        "--unset",
                    ],
                    description: Some("Remove shell jEnv settings"),
                ),
            ],
            arguments: [
                (
                    name: "version",
                    generators: [
                        (
                            script: [
                                "jenv",
                                "versions",
                                "--bare",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "shell-options",
            description: Some("Sets the shell-specific Java options"),
            arguments: [
                (
                    name: "options",
                    variadic: true,
                ),
            ],
        ),
        (
            name: "hooks",
            description: Some("List hook scripts for a given jenv command"),
            arguments: [
                (
                    name: "command",
                    generators: [
                        (
                            script: [
                                "jenv",
                                "shims",
                                "--short",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "init",
            description: Some("Configure the shell environment for jenv"),
        ),
        (
            name: "javahome",
            description: Some("Display path to selected JAVA_HOME"),
        ),
        (
            name: "macos-javahome",
            description: Some("Installs a file located at ~/Library/LaunchAgents/jenv-environment.plist . It sets JAVA_HOME for GUI applications on startup for the **currently active version of Java**"),
        ),
        (
            name: "options",
            description: Some("Show the current Java options"),
        ),
        (
            name: "options-file",
            description: Some("Detect the file that sets the current jenv jvm options"),
        ),
        (
            name: "options-file-read",
            description: Some("Read options from file"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "options-file-write",
            description: Some("Write options to a file"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
                (
                    name: "options",
                    variadic: true,
                ),
            ],
        ),
        (
            name: "prefix",
            description: Some("Displays the directory where a Java version is installed"),
            arguments: [
                (
                    name: "version",
                    generators: [
                        (
                            script: [
                                "jenv",
                                "versions",
                                "--bare",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "refresh-plugins",
            description: Some("Refresh plugins links"),
        ),
        (
            name: "refresh-versions",
            description: Some("Refresh alias names"),
        ),
        (
            name: "rehash",
            description: Some("Rehash jenv shims (run this after installing executables)"),
        ),
        (
            name: "remove",
            description: Some("Remove JDK installations"),
            arguments: [
                (
                    name: "version",
                    generators: [
                        (
                            script: [
                                "jenv",
                                "versions",
                                "--bare",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "root",
            description: Some("Display the root directory where versions and shims are kept"),
        ),
        (
            name: "shims",
            description: Some("List existing jenv shims"),
            options: [
                (
                    names: [
                        "--short",
                    ],
                    description: Some("Show only files without path"),
                ),
            ],
        ),
        (
            name: "version",
            description: Some("Shows the currently selected Java version and how it was selected"),
        ),
        (
            name: "versions",
            description: Some("Lists all Java versions found in `$JENV_ROOT/versions/*'"),
            options: [
                (
                    names: [
                        "--bare",
                    ],
                    description: Some("Display only version"),
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Display verbose output"),
                ),
            ],
        ),
        (
            name: "whence",
            description: Some("List all Java versions that contain the given executable"),
            options: [
                (
                    names: [
                        "--path",
                    ],
                ),
            ],
            arguments: [
                (
                    name: "command",
                    generators: [
                        (
                            script: [
                                "jenv",
                                "shims",
                                "--short",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "which",
            description: Some("Displays the full path to the executable that jenv will invoke when you run the given command"),
            arguments: [
                (
                    name: "command",
                    generators: [
                        (
                            script: [
                                "jenv",
                                "shims",
                                "--short",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for jEnv"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show version for jEnv"),
        ),
    ],
)
