(
    version: 1,
    command: "jest",
    description: Some("A delightful JavaScript Testing Framework with a focus on simplicity"),
    subcommands: [],
    options: [
        (
            names: [
                "--bail",
                "-b",
            ],
            description: Some("Exit the test suite immediately upon n number of failing test suite. Defaults to 1"),
            takes_value: true,
            arguments: [
                (
                    name: "n",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--cache",
            ],
            description: Some("Whether to use the cache"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-cache",
            ],
            description: Some("Whether to use the cache"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--changedFilesWithAncestor",
            ],
            description: Some("Runs tests related to the current changes and the changes made in the last commit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--changedSince",
            ],
            description: Some("Runs tests related to the changes since the provided branch or commit hash"),
            takes_value: true,
            arguments: [
                (
                    name: "since",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--ci",
            ],
            description: Some("Instead of the regular behavior of storing a new snapshot automatically, will fail the test and require Jest to be run with --updateSnapshot"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--clearCache",
            ],
            description: Some("Deletes the Jest cache directory and then exits without running tests"),
            takes_value: true,
            arguments: [
                (
                    name: "cacheDirectory",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--collectCoverageFrom",
            ],
            description: Some("A glob pattern relative to rootDir matching the files that coverage info needs to be collected from"),
            takes_value: true,
            arguments: [
                (
                    name: "glob",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--colors",
            ],
            description: Some("Forces test results output highlighting even if stdout is not a TTY"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--config",
                "-c",
            ],
            description: Some("The path to a Jest config file specifying how to find and execute tests"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--coverage",
            ],
            description: Some("Enable or disable coverage, disabled by default"),
            takes_value: true,
            arguments: [
                (
                    name: "true|false",
                    source: Static([
                        "true",
                        "false",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--coverageProvider",
            ],
            description: Some("Indicates which provider should be used to instrument code for coverage"),
            takes_value: true,
            arguments: [
                (
                    name: "babel|v8",
                    source: Static([
                        "babel",
                        "v8",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Print debugging info about your Jest config"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--detectOpenHandles",
            ],
            description: Some("Attempt to collect and print open handles preventing Jest from exiting cleanly"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--env",
            ],
            description: Some("The test environment used for all tests"),
            takes_value: true,
            arguments: [
                (
                    name: "jsdom|node|path/to/env.js",
                    source: Static([
                        "jsdom",
                        "node",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--errorOnDeprecated",
            ],
            description: Some("Make calling deprecated APIs throw helpful error messages"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--expand",
                "-e",
            ],
            description: Some("Use this flag to show full diffs and errors instead of a patch"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--findRelatedTests",
            ],
            description: Some("Find and run the tests that cover a space separated list of source files that were passed in as arguments"),
            takes_value: true,
            arguments: [
                (
                    name: "<path1> ... <pathN>",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--forceExit",
            ],
            description: Some("Force Jest to exit after all tests have completed running"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Show the help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--init",
            ],
            description: Some("Generate a basic configuration file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--injectGlobals",
            ],
            description: Some("Insert Jest\'s globals (expect, test, describe, beforeEach etc.) into the global environment"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--json",
            ],
            description: Some("Prints the test results in JSON"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--outputFile",
            ],
            description: Some("Write test results to a file when the --json option is also specified"),
            takes_value: true,
            arguments: [
                (
                    name: "filename",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--lastCommit",
            ],
            description: Some("Run all tests affected by file changes in the last commit made"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--listTests",
            ],
            description: Some("Lists all tests as JSON that Jest will run given the arguments, and exits"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--logHeapUsage",
            ],
            description: Some("Logs the heap usage after every test"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--maxConcurrency",
            ],
            description: Some("Prevents Jest from executing more than the specified amount of tests at the same time"),
            takes_value: true,
            arguments: [
                (
                    name: "num",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--maxWorkers",
                "-w",
            ],
            description: Some("Specifies the maximum number of workers the worker-pool will spawn for running tests"),
            takes_value: true,
            arguments: [
                (
                    name: "<num>|<string>",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--noStackTrace",
            ],
            description: Some("Disables stack trace in test results output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--notify",
            ],
            description: Some("Activates notifications for test results"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--onlyChanged",
                "-o",
            ],
            description: Some("Attempts to identify which tests to run based on which files have changed in the current repository"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--passWithNoTests",
            ],
            description: Some("Allows the test suite to pass when no files are found"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--projects",
            ],
            description: Some("Run tests from one or more projects, found in the specified paths; also takes path globs"),
            takes_value: true,
            arguments: [
                (
                    name: "<path1> ... <pathN>",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--reporters",
            ],
            description: Some("Run tests with specified reporters"),
            takes_value: true,
            arguments: [
                (
                    name: "reporter",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--roots",
            ],
            description: Some("A list of paths to directories that Jest should use to search for files in"),
            takes_value: true,
            arguments: [
                (
                    name: "<path1> ... <pathN>",
                    source: Directories,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--runInBand",
                "-i",
            ],
            description: Some("Run all tests serially in the current process, rather than creating a worker pool of child processes that run tests"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--selectProjects",
            ],
            description: Some("Run only the tests of the specified projects"),
            takes_value: true,
            arguments: [
                (
                    name: "<project1> ... <projectN>",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--runTestsByPath",
            ],
            description: Some("Run only the tests that were specified with their exact paths"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--setupTestFrameworkScriptFile",
            ],
            description: Some("The path to a module that runs some code to configure or set up the testing framework before each test"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--showConfig",
            ],
            description: Some("Print your Jest config and then exits"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--silent",
            ],
            description: Some("Prevent tests from printing messages through the console"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--testNamePattern",
                "-t",
            ],
            description: Some("Run only tests with a name that matches the regex"),
            takes_value: true,
            arguments: [
                (
                    name: "regex",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--testLocationInResults",
            ],
            description: Some("Adds a location field to test results"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--testPathPattern",
            ],
            description: Some("A regexp pattern string that is matched against all tests paths before executing the test"),
            takes_value: true,
            arguments: [
                (
                    name: "regex",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--testPathIgnorePatterns",
            ],
            description: Some("An array of regexp pattern strings that are tested against all tests paths before executing the test"),
            takes_value: true,
            arguments: [
                (
                    name: "[array]",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--testRunner",
            ],
            description: Some("Lets you specify a custom test runner"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--testSequencer",
            ],
            description: Some("Lets you specify a custom test sequencer"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--testTimeout",
            ],
            description: Some("Default timeout of a test in milliseconds"),
            takes_value: true,
            arguments: [
                (
                    name: "timeout in ms",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--updateSnapshot",
                "-u",
            ],
            description: Some("Use this flag to re-record every snapshot that fails during this test run"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--useStderr",
            ],
            description: Some("Divert all output to stderr"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Display individual test results with the test suite hierarchy"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Print the version and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--watch",
            ],
            description: Some("Watch files for changes and rerun tests related to changed files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--watchAll",
            ],
            description: Some("Watch files for changes and rerun all tests when something changes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--watchman",
            ],
            description: Some("Whether to use watchman for file crawling"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-watchman",
            ],
            description: Some("Whether to use watchman for file crawling"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)