(
    version: 1,
    command: "jmeter",
    description: Some("Apache JMeter - 100% Java Load Testing Tool"),
    subcommands: [],
    options: [
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Print the JMeter version information and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print usage information and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
                "--propfile",
            ],
            description: Some("The jmeter property file to use"),
            takes_value: true,
            arguments: [
                (
                    name: "property",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-q",
                "--addprop",
            ],
            description: Some("Additional JMeter property file(s)"),
            takes_value: true,
            arguments: [
                (
                    name: "files...",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--testfile",
            ],
            description: Some("The JMeter test(.jmx) file to run. \"-t LAST\" will load last used file"),
            takes_value: true,
            arguments: [
                (
                    name: "testfile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-l",
                "--logfile",
            ],
            description: Some("The file to log samples to"),
            takes_value: true,
            arguments: [
                (
                    name: "logfile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--jmeterlogconf",
            ],
            description: Some("JMeter logging configuration file"),
            takes_value: true,
            arguments: [
                (
                    name: "jmeterlogconf",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-j",
                "--jmeterlogfile",
            ],
            description: Some("JMeter run log file"),
            takes_value: true,
            arguments: [
                (
                    name: "jmeterlogfile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-n",
                "--nongui",
            ],
            description: Some("Run JMeter in nongui mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--server",
            ],
            description: Some("Run the JMeter server"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-E",
                "--proxyScheme",
            ],
            description: Some("Set a proxy scheme to use for the proxy server"),
            takes_value: true,
            arguments: [
                (
                    name: "proxyScheme",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-H",
                "--proxyHost",
            ],
            description: Some("Set a proxy server for JMeter to use"),
            takes_value: true,
            arguments: [
                (
                    name: "server",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-P",
                "--proxyPort",
            ],
            description: Some("Set proxy server port for JMeter to use"),
            takes_value: true,
            arguments: [
                (
                    name: "port",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-N",
                "--nonProxyHosts",
            ],
            description: Some("Set nonproxy host list (e.g. *.apache.org|localhost)"),
            takes_value: true,
            arguments: [
                (
                    name: "nonProxyHosts",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
                "--username",
            ],
            description: Some("Set username for proxy server that JMeter is to use"),
            takes_value: true,
            arguments: [
                (
                    name: "username",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-a",
                "--password",
            ],
            description: Some("Set password for proxy server that JMeter is to use"),
            takes_value: true,
            arguments: [
                (
                    name: "password",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-J",
                "--jmeterproperty",
            ],
            description: Some("Define additional JMeter properties <argument>=<value>"),
            takes_value: true,
            arguments: [
                (
                    name: "jmeterproperty",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-G",
                "--globalproperty",
            ],
            description: Some("Define Global properties (sent to servers) e.g. -Gport=123 or -Gglobal.properties"),
            takes_value: true,
            arguments: [
                (
                    name: "globalproperty",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-D",
                "--systemproperty",
            ],
            description: Some("Define additional system properties <argument>=<value>"),
            takes_value: true,
            arguments: [
                (
                    name: "systemproperty",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-S",
                "--systemPropertyFile",
            ],
            description: Some("Additional system property file(s)"),
            takes_value: true,
            arguments: [
                (
                    name: "systemPropertyFile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--forceDeleteResultFile",
            ],
            description: Some("Force delete existing results files and web report folder"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-L",
                "--loglevel",
            ],
            description: Some("[category=]level e.g. jorphan=INFO, jmeter.util=DEBUG or com.example.foo=WARN"),
            takes_value: true,
            arguments: [
                (
                    name: "loglevel",
                    source: Static([
                        "OFF",
                        "FATAL",
                        "WARN",
                        "INFO",
                        "DEBUG",
                        "TRACE",
                        "ALL",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--runremote",
            ],
            description: Some("Start remote servers (as defined in remote_hosts)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-R",
                "--remotestart",
            ],
            description: Some("Start these remote servers (overrides remote_hosts)"),
            takes_value: true,
            arguments: [
                (
                    name: "servers",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--homedir",
            ],
            description: Some("The JMeter home directory to use"),
            takes_value: true,
            arguments: [
                (
                    name: "homedir",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-X",
                "--remoteexit",
            ],
            description: Some("Exit the remote servers at end  of test (non-GUI)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
                "--reportonly",
            ],
            description: Some("Generate report dashboard only, from a test results file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-e",
                "--reportatendofloadtests",
            ],
            description: Some("Generate report dashboard after load test"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-o",
                "--reportoutputfolder",
            ],
            description: Some("Output folder for report dashboard"),
            takes_value: true,
            arguments: [
                (
                    name: "reportoutputfolder",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [],
)