(
    version: 1,
    command: "julia",
    description: Some("The Julia Programming Language"),
    options: [
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Display version information"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help message for julia (--help-hidden for more)"),
        ),
        (
            names: [
                "--help-hidden",
            ],
            description: Some("Uncommon options not shown by `-h`"),
        ),
        (
            names: [
                "--project",
            ],
            description: Some("Set given directory as the home project/environment"),
            arguments: [
                (
                    name: "project folder",
                    description: Some("Julia project/environment"),
                    suggestions: [
                        (
                            name: "@.",
                            description: Some("Search through parent directories until a Project.toml or JuliaProject.toml file is found"),
                            presentation: (
                                priority: Some(75.0),
                            ),
                        ),
                    ],
                    generators: [
                        (
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-J",
                "--sysimage",
            ],
            description: Some("Start up with the given system image file"),
            arguments: [
                (
                    name: "system image",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-H",
                "--home",
            ],
            description: Some("Set location of `julia` executable"),
            arguments: [
                (
                    name: "",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--startup-file",
            ],
            description: Some("Load `~/.julia/config/startup.jl`"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--handle-signals",
            ],
            description: Some("Enable or disable Julia's default signal handlers"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--sysimage-native-code",
            ],
            description: Some("Use native code from system image if available"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--compiled-modules",
            ],
            description: Some("Enable or disable incremental precompilation of modules"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-e",
                "--eval",
            ],
            description: Some("Evaluate given expr"),
            arguments: [
                (
                    name: "expr",
                ),
            ],
            presentation: (
                insert_value: Some("-e '{cursor}'"),
            ),
        ),
        (
            names: [
                "-E",
                "--print",
            ],
            description: Some("Evaluate given expr and display the result"),
            arguments: [
                (
                    name: "expr",
                ),
            ],
            presentation: (
                insert_value: Some("-E '{cursor}'"),
            ),
        ),
        (
            names: [
                "-L",
                "--load",
            ],
            description: Some("Load given file immediately on all processors"),
            arguments: [
                (
                    name: "julia script",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--threads",
            ],
            description: Some("Enable N threads; \"auto\" sets N to the number of local CPU threads"),
            arguments: [
                (
                    name: "",
                    description: Some("Number of threads"),
                    suggestions: [
                        (
                            name: "auto",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--procs",
            ],
            description: Some("Integer value N launches N additional local worker processes \"auto\" launches as many workers as the number of local CPU threads"),
            arguments: [
                (
                    name: "",
                    description: Some("Number of additional local worker processes"),
                    suggestions: [
                        (
                            name: "auto",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--machine-file",
            ],
            description: Some("Run processes on hosts listed in given file"),
            arguments: [
                (
                    name: "",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Interactive mode; REPL runs and isinteractive() is true"),
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Quiet startup: no banner, suppress REPL warnings"),
        ),
        (
            names: [
                "--banner",
            ],
            description: Some("Enable or disable startup banner"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                        (
                            name: "auto",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Enable or disable color text"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                        (
                            name: "auto",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--history-file",
            ],
            description: Some("Load or save history"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--depwarn",
            ],
            description: Some("Enable or disable syntax and method deprecation warnings (\"error\" turns warnings into errors)"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                        (
                            name: "error",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--warn-overwrite",
            ],
            description: Some("Enable or disable method overwrite warnings"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--warn-scope",
            ],
            description: Some("Enable or disable warning for ambiguous top-level scope"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-C",
                "--cpu-target",
            ],
            description: Some("Limit usage of CPU features up to <target>; set to \"help\" to see the available options"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "-O",
                "--optimize",
            ],
            description: Some("Set the optimization level (default level is 2 if unspecified or 3 if used without a level)"),
            arguments: [
                (
                    name: "level",
                    description: Some("Level of optimization"),
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-g",
            ],
            description: Some("Enable / Set the level of debug info generation"),
            arguments: [
                (
                    name: "level",
                    description: Some("Level of debug info generation"),
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--inline",
            ],
            description: Some("Control whether inlining is permitted, including overriding @inline declarations"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--check-bounds",
            ],
            description: Some("Emit bounds checks always, never, or respect @inbounds declarations"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                        (
                            name: "auto",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--polly",
            ],
            description: Some("Enable or disable the polyhedral optimizer Polly (overrides @polly declaration)"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--math-mode",
            ],
            description: Some("Disallow or enable unsafe floating point optimizations (overrides @fastmath declaration)"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "ieee",
                        ),
                        (
                            name: "fast",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--code-coverage",
            ],
            description: Some("Count executions of source lines (omitting setting is equivalent to \"user\")"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "none",
                        ),
                        (
                            name: "user",
                        ),
                        (
                            name: "all",
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--track-allocation",
            ],
            description: Some("Count bytes allocated by each source line (omitting setting is equivalent to \"user\")"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "none",
                        ),
                        (
                            name: "user",
                        ),
                        (
                            name: "all",
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--bug-report",
            ],
            description: Some("Launch a bug report session. It can be used to start a REPL, run a script, or evaluate  expressions. It first tries to use BugReporting.jl installed in current environment and fallbacks to the latest compatible BugReporting.jl if not. For more information, see --bug-report=help"),
            arguments: [
                (
                    name: "KIND",
                ),
            ],
        ),
        (
            names: [
                "--compile",
            ],
            description: Some("Enable or disable JIT compiler, or request exhaustive or minimal compilation"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                        (
                            name: "all",
                        ),
                        (
                            name: "min",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--output-o",
            ],
            description: Some("Generate an object file (including system image data)"),
            arguments: [
                (
                    name: "name",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--output-ji",
            ],
            description: Some("Generate a system image data file (.ji)"),
            arguments: [
                (
                    name: "name",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--output-unopt-bc",
            ],
            description: Some("Generate unoptimized LLVM bitcode (.bc)"),
            arguments: [
                (
                    name: "name",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--output-jit-bc",
            ],
            description: Some("Dump all IR generated by the frontend (not including system image)"),
            arguments: [
                (
                    name: "name",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--output-bc",
            ],
            description: Some("Generate LLVM bitcode (.bc)"),
            arguments: [
                (
                    name: "name",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--output-asm",
            ],
            description: Some("Generate an assembly file (.s)"),
            arguments: [
                (
                    name: "name",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--output-incremental",
            ],
            description: Some("Generate an incremental output file (rather than complete)"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "yes",
                        ),
                        (
                            name: "no",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--image-codegen",
            ],
            description: Some("Force generate code in imaging mode"),
        ),
    ],
    arguments: [
        (
            name: "julia script",
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
            optional: true,
            is_script: true,
        ),
    ],
)
