(
    version: 1,
    command: "jupyter",
    description: Some("An interactive computing environment for notebook programming"),
    subcommands: [
        (
            name: "bundlerextension",
            description: Some("Work with Jupyter bundler extensions"),
            subcommands: [
                (
                    name: "enable",
                    description: Some("Enable a bundler extension"),
                ),
                (
                    name: "disable",
                    description: Some("Disable a bundler extension"),
                ),
                (
                    name: "list",
                    description: Some("List bundler extensions"),
                ),
            ],
            options: [
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Set log level to logging.DEBUG (maximize logging output)"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show this message"),
                ),
                (
                    names: [
                        "--log-level",
                    ],
                    description: Some("Set the log level by value or name"),
                    arguments: [
                        (
                            name: "level",
                        ),
                    ],
                ),
                (
                    names: [
                        "--config",
                    ],
                    description: Some("Choose a config file"),
                    arguments: [
                        (
                            name: "config",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--user",
                    ],
                    description: Some("Apply the operation only for the given user"),
                    arguments: [
                        (
                            name: "user",
                        ),
                    ],
                ),
                (
                    names: [
                        "--system",
                    ],
                    description: Some("Apply the operation system-wide"),
                ),
                (
                    names: [
                        "--sys-prefix",
                    ],
                    description: Some("Use sys.prefix as the prefix for installing nbextensions (for environments, packaging)"),
                ),
                (
                    names: [
                        "--py",
                        "--python",
                    ],
                    description: Some("Install from a Python package"),
                ),
            ],
        ),
        (
            name: "kernel",
            description: Some("Run a kernel locally in a subprocess"),
            options: [
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Set log level to logging.DEBUG (maximize logging output)"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show this message"),
                ),
                (
                    names: [
                        "--kernel",
                    ],
                    arguments: [
                        (
                            name: "KernelApp.kernel_name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--ip",
                    ],
                    arguments: [
                        (
                            name: "KernelManager.ip",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "kernelspec",
            description: Some("Manage Jupyter kernel specifications"),
            subcommands: [
                (
                    name: "list",
                    options: [
                        (
                            names: [
                                "--json",
                            ],
                            description: Some("Output spec name and location as json"),
                        ),
                    ],
                ),
                (
                    name: "install",
                    description: Some("Install a kernel specification directory"),
                    options: [
                        (
                            names: [
                                "--log-level",
                            ],
                            description: Some("Set the log level by value or name"),
                            arguments: [
                                (
                                    name: "level",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--config",
                            ],
                            description: Some("Choose a config file"),
                            arguments: [
                                (
                                    name: "config",
                                    template: [
                                        FilePaths,
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--debug",
                            ],
                            description: Some("Set log level to logging.DEBUG (maximize logging output)"),
                        ),
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Show this message"),
                        ),
                    ],
                    arguments: [
                        (
                            name: "kernel",
                        ),
                    ],
                ),
                (
                    name: "uninstall",
                    description: Some("Alias for remove"),
                    arguments: [
                        (
                            name: "kernel",
                        ),
                    ],
                ),
                (
                    name: "remove",
                    description: Some("Remove one or more Jupyter kernelspecs by name"),
                    arguments: [
                        (
                            name: "kernel",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "migrate",
            description: Some("Migrate configuration and data from .ipython prior to 4.0 to Jupyter locations"),
            options: [
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Set log level to logging.DEBUG (maximize logging output)"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show this message"),
                ),
                (
                    names: [
                        "--log-level",
                    ],
                    description: Some("Set the log level by value or name"),
                    arguments: [
                        (
                            name: "level",
                        ),
                    ],
                ),
                (
                    names: [
                        "--config",
                    ],
                    description: Some("Choose a config file"),
                    arguments: [
                        (
                            name: "config",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--generate-config",
                    ],
                    description: Some("Generate default config file"),
                ),
                (
                    names: [
                        "-y",
                    ],
                    description: Some("Answer yes to any questions instead of prompting"),
                ),
            ],
        ),
        (
            name: "nbconvert",
            description: Some("This application is used to convert notebook files (*.ipynb) to various other formats"),
            options: [
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Set log level to logging.DEBUG (maximize logging output)"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show this message"),
                ),
                (
                    names: [
                        "--log-level",
                    ],
                    description: Some("Set the log level by value or name"),
                    arguments: [
                        (
                            name: "level",
                        ),
                    ],
                ),
                (
                    names: [
                        "--config",
                    ],
                    description: Some("Choose a config file"),
                    arguments: [
                        (
                            name: "config",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "nbextension",
            subcommands: [
                (
                    name: "install",
                    description: Some("Install an nbextension"),
                    arguments: [
                        (
                            name: "extension",
                        ),
                    ],
                ),
                (
                    name: "uninstall",
                    description: Some("Uninstall an nbextension"),
                    arguments: [
                        (
                            name: "extension",
                        ),
                    ],
                ),
                (
                    name: "enable",
                    description: Some("Enable an nbextension"),
                    arguments: [
                        (
                            name: "extension",
                        ),
                    ],
                ),
                (
                    name: "disable",
                    description: Some("Disable an nbextension"),
                    arguments: [
                        (
                            name: "extension",
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("List nbextensions"),
                ),
            ],
            options: [
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Set log level to logging.DEBUG (maximize logging output)"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show this message"),
                ),
                (
                    names: [
                        "--log-level",
                    ],
                    description: Some("Set the log level by value or name"),
                    arguments: [
                        (
                            name: "level",
                        ),
                    ],
                ),
                (
                    names: [
                        "--config",
                    ],
                    description: Some("Choose a config file"),
                    arguments: [
                        (
                            name: "config",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "notebook",
            description: Some("Run the Jupyter notebook server"),
            subcommands: [
                (
                    name: "list",
                    description: Some("List currently running notebook servers"),
                ),
                (
                    name: "stop",
                    description: Some("Stop currently running notebook server"),
                ),
                (
                    name: "password",
                    description: Some("Set a password for the notebook server"),
                ),
            ],
            options: [
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Set log level to logging.DEBUG (maximize logging output)"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show this message"),
                ),
                (
                    names: [
                        "--log-level",
                    ],
                    description: Some("Set the log level by value or name"),
                    arguments: [
                        (
                            name: "level",
                        ),
                    ],
                ),
                (
                    names: [
                        "--config",
                    ],
                    description: Some("Choose a config file"),
                    arguments: [
                        (
                            name: "config",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "run",
            description: Some("Run a notebook"),
            options: [
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Set log level to logging.DEBUG (maximize logging output)"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show this message"),
                ),
                (
                    names: [
                        "--log-level",
                    ],
                    description: Some("Set the log level by value or name"),
                    arguments: [
                        (
                            name: "level",
                        ),
                    ],
                ),
                (
                    names: [
                        "--config",
                    ],
                    description: Some("Choose a config file"),
                    arguments: [
                        (
                            name: "config",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "serverextension",
            description: Some("Manage server extensions"),
            options: [
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Set log level to logging.DEBUG (maximize logging output)"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show this message"),
                ),
                (
                    names: [
                        "--log-level",
                    ],
                    description: Some("Set the log level by value or name"),
                    arguments: [
                        (
                            name: "level",
                        ),
                    ],
                ),
                (
                    names: [
                        "--config",
                    ],
                    description: Some("Choose a config file"),
                    arguments: [
                        (
                            name: "config",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "troubleshoot",
            description: Some("Log for troubleshooting"),
        ),
        (
            name: "trust",
            description: Some("Manage trust"),
            options: [
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Set log level to logging.DEBUG (maximize logging output)"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show this message"),
                ),
                (
                    names: [
                        "--log-level",
                    ],
                    description: Some("Set the log level by value or name"),
                    arguments: [
                        (
                            name: "level",
                        ),
                    ],
                ),
                (
                    names: [
                        "--config",
                    ],
                    description: Some("Choose a config file"),
                    arguments: [
                        (
                            name: "config",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for jupyter"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show the jupyter command's version and exit"),
        ),
        (
            names: [
                "--config-dir",
            ],
            description: Some("Show Jupyter config dir"),
        ),
        (
            names: [
                "--data-dir",
            ],
            description: Some("Show Jupyter data dir"),
        ),
        (
            names: [
                "--runtime-dir",
            ],
            description: Some("Show Jupyter runtime dir"),
        ),
        (
            names: [
                "--paths",
            ],
            description: Some("Show all Jupyter paths. Add --json for machine-readable format"),
        ),
        (
            names: [
                "--json",
            ],
            description: Some("Output paths as machine-readable json"),
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Output debug information about paths"),
        ),
    ],
)
