(
    version: 1,
    command: "just",
    description: Some("Just a command runner"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Print help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--changelog",
            ],
            description: Some("Print the changelog"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--check",
            ],
            description: Some("Run --fmt in \'check\' mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--choose",
            ],
            description: Some("Select one or more recipes to run using another program"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--chooser",
            ],
            description: Some("Override the binary invoked by --choose"),
            takes_value: true,
            arguments: [
                (
                    name: "program",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Print colorful output"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Static([
                        "auto",
                        "always",
                        "never",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-c",
                "--command",
            ],
            description: Some("Run an arbitrary command with the working directory, .env, overrides, and exports"),
            takes_value: true,
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--completions",
            ],
            description: Some("Print shell completions"),
            takes_value: true,
            arguments: [
                (
                    name: "shell",
                    source: Static([
                        "zsh",
                        "bash",
                        "fish",
                        "powershell",
                        "elvish",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--clear-shell-args",
            ],
            description: Some("Clear shell arguments"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--dry-run",
            ],
            description: Some("Print what just would do, without doing it"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--dump",
            ],
            description: Some("Print justfile"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--dotenv-filename",
            ],
            description: Some("Use a file with this name instead of .env"),
            takes_value: true,
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--dotenv-path",
            ],
            description: Some("Load the environment file from a path instead of searching for one"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--dump-format",
            ],
            description: Some("Specify the format for dumping the justfile"),
            takes_value: true,
            arguments: [
                (
                    name: "format",
                    source: Static([
                        "just",
                        "json",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-e",
                "--edit",
            ],
            description: Some("Edit the justfile with $VISUAL or $EDITOR, falling back to vim"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--evaluate",
            ],
            description: Some("Evaluate and print all variables"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--fmt",
            ],
            description: Some("Format and overwrite the justfile"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--highlight",
            ],
            description: Some("Highlight echoed recipe lines in bold"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--init",
            ],
            description: Some("Initialize a new justfile"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
                "--justfile",
            ],
            description: Some("Use a specific justfile"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-l",
                "--list",
            ],
            description: Some("List available recipes and their arguments"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--list-heading",
            ],
            description: Some("Print this text before the list"),
            takes_value: true,
            arguments: [
                (
                    name: "text",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--list-prefix",
            ],
            description: Some("Print this text before each list item"),
            takes_value: true,
            arguments: [
                (
                    name: "text",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-dotenv",
            ],
            description: Some("Don\'t load the environment file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-highlight",
            ],
            description: Some("Don\'t highlight echoed recipe lines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Suppress all output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--set",
            ],
            description: Some("Override a variable with a value"),
            takes_value: true,
            arguments: [
                (
                    name: "variable",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: true,
                        has_custom: true,
                    )),
                ),
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--shell",
            ],
            description: Some("Invoke this shell to run recipes"),
            takes_value: true,
            arguments: [
                (
                    name: "shell",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--shell-arg",
            ],
            description: Some("Invoke the shell with this as an argument"),
            takes_value: true,
            arguments: [
                (
                    name: "argument",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--shell-command",
            ],
            description: Some("Invoke --command with the shell used to run recipe lines and backticks"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--show",
            ],
            description: Some("Show information about a recipe"),
            takes_value: true,
            arguments: [
                (
                    name: "recipe",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: true,
                        has_custom: true,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--summary",
            ],
            description: Some("List names of available recipes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
                "--unsorted",
            ],
            description: Some("Return list and summary entries in source order"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--unstable",
            ],
            description: Some("Enable unstable features"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--variables",
            ],
            description: Some("List names of variables"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Use verbose output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
                "--working-directory",
            ],
            description: Some("Use this as the working directory"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "args",
            source: Unavailable,
            optional: true,
            variadic: true,
            imported_generator: Some((
                script: [],
                has_post_process: true,
                has_custom: true,
            )),
        ),
    ],
)