(
    version: 1,
    command: "k6",
    description: Some("Grafana k6 is an open-source load testing tool that makes performance testing easy"),
    subcommands: [
        (
            name: "archive",
            description: Some("Create an archive"),
            arguments: [
                (
                    name: "archive",
                    description: Some("Name of a file to archive"),
                ),
            ],
        ),
        (
            name: "cloud",
            description: Some("Run a test on the cloud"),
            arguments: [
                (
                    name: "cloud",
                    description: Some("Name of a script to run"),
                ),
            ],
        ),
        (
            name: "completion",
            description: Some("Generate the autocompletion script for the specified shell"),
            subcommands: [
                (
                    name: "bash",
                    description: Some("Generate the autocompletion script for bash"),
                ),
                (
                    name: "fish",
                    description: Some("Generate the autocompletion script for fish"),
                ),
                (
                    name: "powershell",
                    description: Some("Generate the autocompletion script for powershell"),
                ),
                (
                    name: "zsh",
                    description: Some("Generate the autocompletion script for zsh"),
                ),
            ],
            arguments: [
                (
                    name: "completion",
                    description: Some("Generate the autocompletion script for the specified shell"),
                ),
            ],
        ),
        (
            name: "convert",
            description: Some("Convert a HAR file to a k6 script"),
            arguments: [
                (
                    name: "convert",
                    description: Some("HAR file to convert"),
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Help about any command"),
            arguments: [
                (
                    name: "help",
                    description: Some("Help about any command"),
                ),
            ],
        ),
        (
            name: "inspect",
            description: Some("Inspect a script or archive"),
            arguments: [
                (
                    name: "inspect",
                    description: Some("K6 script to inspect or archive"),
                ),
            ],
        ),
        (
            name: "login",
            description: Some("Inspect a script or archive"),
            subcommands: [
                (
                    name: "cloud",
                    description: Some("Authenticate with Load Impact"),
                ),
                (
                    name: "influxdb",
                    description: Some("Authenticate with InfluxDB"),
                ),
            ],
            arguments: [
                (
                    name: "login",
                    description: Some("K6 script to inspect or archive"),
                ),
            ],
        ),
        (
            name: "pause",
            description: Some("Pause a running test"),
        ),
        (
            name: "resume",
            description: Some("Resume a running test"),
        ),
        (
            name: "run",
            description: Some("Start a load test"),
            options: [
                (
                    names: [
                        "--address",
                    ],
                    description: Some("Address of the API server"),
                    arguments: [
                        (
                            name: "address",
                            description: Some("Address of the API server"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--batch",
                    ],
                    description: Some("Max parallel batch reqs (default 20)"),
                    arguments: [
                        (
                            name: "batch",
                            description: Some("Max parallel batch reqs (default 20)"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--batch-per-host",
                    ],
                    description: Some("Max parallel batch reqs per host (default 6)"),
                    arguments: [
                        (
                            name: "batch-per-host",
                            description: Some("Max parallel batch reqs per host (default 6)"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--vus",
                        "-u",
                    ],
                    description: Some("Number of virtual users (default 1)"),
                    arguments: [
                        (
                            name: "vus",
                            description: Some("Number of virtual users (default 1)"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--duration",
                        "-d",
                    ],
                    description: Some("Test duration limit"),
                    arguments: [
                        (
                            name: "duration",
                            description: Some("Test duration limit"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--iterations",
                        "-i",
                    ],
                    description: Some("Script total iteration limit (among all VUs)"),
                    arguments: [
                        (
                            name: "iterations",
                            description: Some("Script total iteration limit (among all VUs)"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--stage",
                        "-s",
                    ],
                    description: Some("Add a stage, as `[duration]:[target]`"),
                    arguments: [
                        (
                            name: "stage",
                            description: Some("Add a stage, as `[duration]:[target]`"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--execution-segment",
                    ],
                    description: Some("Add a stage, as `[duration]:[target]`"),
                    arguments: [
                        (
                            name: "execution-segment",
                            description: Some("Limit execution to the specified segment, e.g. 10%, 1/3, 0.2:2/3"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--execution-segment-sequence",
                    ],
                    description: Some("The execution segment sequence"),
                    arguments: [
                        (
                            name: "execution-segment-sequence",
                            description: Some("The execution segment sequence"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--paused",
                        "-p",
                    ],
                    description: Some("Start the test in a paused state"),
                    arguments: [
                        (
                            name: "paused",
                            description: Some("Start the test in a paused state"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-setup",
                    ],
                    description: Some("Don't run setup()"),
                    arguments: [
                        (
                            name: "no-setup",
                            description: Some("Don't run setup()"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-teardown",
                    ],
                    description: Some("Don't run teardown()"),
                    arguments: [
                        (
                            name: "no-teardown",
                            description: Some("Don't run teardown()"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--max-redirects",
                    ],
                    description: Some("Follow at most n redirects (default 10)"),
                    arguments: [
                        (
                            name: "max-redirects",
                            description: Some("Follow at most n redirects (default 10)"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--rps",
                    ],
                    description: Some("Limit requests per second"),
                    arguments: [
                        (
                            name: "rps",
                            description: Some("Limit requests per second"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--user-agent",
                    ],
                    description: Some("User agent for http requests (default \"k6/0.39.0 (https://k6.io/)\")"),
                    arguments: [
                        (
                            name: "user-agent",
                            description: Some("User agent for http requests (default \"k6/0.39.0 (https://k6.io/)\")"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--http-debug",
                    ],
                    description: Some("Log all HTTP requests and responses. Excludes body by default. To include body use '--http-debug=full'"),
                    arguments: [
                        (
                            name: "http-debug",
                            description: Some("Log all HTTP requests and responses. Excludes body by default. To include body use '--http-debug=full'"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--insecure-skip-tls-verify",
                    ],
                    description: Some("Skip verification of TLS certificates"),
                    arguments: [
                        (
                            name: "insecure-skip-tls-verify",
                            description: Some("Skip verification of TLS certificates"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-connection-reuse",
                    ],
                    description: Some("Disable keep-alive connections"),
                    arguments: [
                        (
                            name: "no-connection-reuse",
                            description: Some("Disable keep-alive connections"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-vu-connection-reuse",
                    ],
                    description: Some("Don't reuse connections between iterations"),
                    arguments: [
                        (
                            name: "no-vu-connection-reuse",
                            description: Some("Don't reuse connections between iterations"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--min-iteration-duration",
                    ],
                    description: Some("Minimum amount of time k6 will take executing a single iteration"),
                    arguments: [
                        (
                            name: "min-iteration-duration",
                            description: Some("Minimum amount of time k6 will take executing a single iteration"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--throw",
                    ],
                    description: Some("Throw warnings (like failed http requests) as errors"),
                    arguments: [
                        (
                            name: "throw",
                            description: Some("Throw warnings (like failed http requests) as errors"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--blacklist-ip",
                    ],
                    description: Some("Blacklist an ip range from being called"),
                    arguments: [
                        (
                            name: "blacklist-ip",
                            description: Some("Blacklist an ip range from being calledd"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--block-hostnames",
                    ],
                    description: Some("Block a case-insensitive hostname pattern, with optional leading wildcard, from being called"),
                    arguments: [
                        (
                            name: "block-hostnames",
                            description: Some("Block a case-insensitive hostname pattern, with optional leading wildcard, from being called"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--summary-trend-stats",
                    ],
                    description: Some("Define stats for trend metrics (response times), one or more as 'avg,p(95),...' (default 'avg,min,med,max,p(90),p(95)')"),
                    arguments: [
                        (
                            name: "summary-trend-stats",
                            description: Some("Define stats for trend metrics (response times), one or more as 'avg,p(95),...' (default 'avg,min,med,max,p(90),p(95)')"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--summary-time-unit",
                    ],
                    description: Some("Define the time unit used to display the trend stats. Possible units are: 's', 'ms' and 'us'"),
                    arguments: [
                        (
                            name: "summary-time-unit",
                            description: Some("Define the time unit used to display the trend stats. Possible units are: 's', 'ms' and 'us'"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--system-tags",
                    ],
                    description: Some("Only include these system tags in metrics (default \"proto,subproto,status,method,url,name,group,check,error,error_code,tls_version,scenario,service,expected_response\")"),
                    arguments: [
                        (
                            name: "system-tags",
                            description: Some("Only include these system tags in metrics (default \"proto,subproto,status,method,url,name,group,check,error,error_code,tls_version,scenario,service,expected_response\")"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--tag",
                    ],
                    description: Some("Add a tag to be applied to all samples, as `[name]=[value]`"),
                    arguments: [
                        (
                            name: "tag",
                            description: Some("Add a tag to be applied to all samples, as `[name]=[value]`"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--console-output",
                    ],
                    description: Some("Redirects the console logging to the provided output file"),
                    arguments: [
                        (
                            name: "console-output",
                            description: Some("Redirects the console logging to the provided output file"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--discard-response-bodies",
                    ],
                    description: Some("Read but don't process or save HTTP response bodies"),
                    arguments: [
                        (
                            name: "discard-response-bodies",
                            description: Some("Read but don't process or save HTTP response bodies"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--local-ips",
                    ],
                    description: Some("Client IP Ranges and/or CIDRs from which each VU will be making requests, e.g. '192.168.220.1,192.168.0.10-192.168.0.25', 'fd:1::0/120', etc"),
                    arguments: [
                        (
                            name: "local-ips",
                            description: Some("Client IP Ranges and/or CIDRs from which each VU will be making requests, e.g. '192.168.220.1,192.168.0.10-192.168.0.25', 'fd:1::0/120', etc"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--dns",
                    ],
                    description: Some("DNS resolver configuration"),
                    arguments: [
                        (
                            name: "dns",
                            description: Some("DNS resolver configuration"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--include-system-env-vars",
                    ],
                    description: Some("Pass the real system environment variables to the runtime (default true)"),
                    arguments: [
                        (
                            name: "include-system-env-vars",
                            description: Some("Pass the real system environment variables to the runtime (default true)"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--compatibility-mode",
                    ],
                    description: Some("JavaScript compiler compatibility mode, \"extended\" or \"base\""),
                    arguments: [
                        (
                            name: "compatibility-mode",
                            description: Some("JavaScript compiler compatibility mode, \"extended\" or \"base\""),
                        ),
                    ],
                ),
                (
                    names: [
                        "--type",
                        "-t",
                    ],
                    description: Some("Override test type, \"js\" or \"archive\""),
                    arguments: [
                        (
                            name: "type",
                            description: Some("Override test type, \"js\" or \"archive\""),
                        ),
                    ],
                ),
                (
                    names: [
                        "--env",
                        "-e",
                    ],
                    description: Some("Add/override environment variable with VAR=value"),
                    arguments: [
                        (
                            name: "env",
                            description: Some("Add/override environment variable with VAR=value"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-thresholds",
                    ],
                    description: Some("Don't run thresholds"),
                    arguments: [
                        (
                            name: "no-thresholds",
                            description: Some("Don't run thresholds"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-summary",
                    ],
                    description: Some("Don't show the summary at the end of the test"),
                    arguments: [
                        (
                            name: "no-summary",
                            description: Some("Don't show the summary at the end of the test"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--summary-export",
                    ],
                    description: Some("Output the end-of-test summary report to JSON file"),
                    arguments: [
                        (
                            name: "summary-export",
                            description: Some("Output the end-of-test summary report to JSON file"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--out",
                        "-o",
                    ],
                    description: Some("Uri for an external metrics database"),
                    arguments: [
                        (
                            name: "out",
                            description: Some("Uri for an external metrics database"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--linger",
                        "-l",
                    ],
                    description: Some("Keep the API server alive past test end"),
                    arguments: [
                        (
                            name: "linger",
                            description: Some("Keep the API server alive past test end"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-usage-report",
                    ],
                    description: Some("Don't send anonymous stats to the developers"),
                    arguments: [
                        (
                            name: "no-usage-report",
                            description: Some("Don't send anonymous stats to the developers"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "run",
                    description: Some("K6 script to run"),
                ),
            ],
        ),
        (
            name: "scale",
            description: Some("Scale a running test"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Help for scale"),
                ),
                (
                    names: [
                        "-m",
                        "--max",
                    ],
                    description: Some("Max available virtual users"),
                    arguments: [
                        (
                            name: "max",
                            description: Some("Max available virtual users"),
                        ),
                    ],
                ),
                (
                    names: [
                        "-u",
                        "--vus",
                    ],
                    description: Some("Number of virtual users (default 1)"),
                    arguments: [
                        (
                            name: "vus",
                            description: Some("Number of virtual users (default 1)"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "stats",
            description: Some("Show test metrics"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Help for stats"),
                ),
            ],
        ),
        (
            name: "status",
            description: Some("Show test status"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Help for status"),
                ),
            ],
        ),
        (
            name: "version",
            description: Some("Show the application version and exit"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Help for version"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Enable verbose logging"),
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Disable progress updates"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Help for k6"),
        ),
        (
            names: [
                "-a",
                "--address",
            ],
            description: Some("Address for the REST API server (default \"localhost:6565\")"),
            arguments: [
                (
                    name: "address",
                    description: Some("Address for the REST API server (default \"localhost:6565\")"),
                ),
            ],
        ),
        (
            names: [
                "--config",
                "-c",
            ],
            description: Some("JSON config file"),
            arguments: [
                (
                    name: "config",
                    description: Some("JSON config file"),
                ),
            ],
        ),
        (
            names: [
                "--log-format",
            ],
            description: Some("Log output format"),
            arguments: [
                (
                    name: "log-format",
                    description: Some("Log output format"),
                ),
            ],
        ),
        (
            names: [
                "--log-output",
            ],
            description: Some("Change the output for k6 logs"),
            arguments: [
                (
                    name: "log-output",
                    description: Some("Change the output for k6 logs"),
                ),
            ],
        ),
        (
            names: [
                "--no-color",
            ],
            description: Some("Disable colored output"),
            arguments: [
                (
                    name: "no-color",
                    description: Some("Disable colored output"),
                ),
            ],
        ),
    ],
)
