(
    version: 1,
    command: "killall",
    description: Some("Kill processes by name"),
    subcommands: [],
    options: [
        (
            names: [
                "-d",
            ],
            description: Some("Be verbose (dry run) and display number of user processes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Use the effective user ID instead of the real user ID for matching processes with -u"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-help",
            ],
            description: Some("Display help and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-I",
            ],
            description: Some("Request confirmation before killing each process"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("List the names of the available signals and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Match the process name as a regular expression"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Be verbose"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Be verbose (dry run)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGHUP",
            ],
            description: Some("Send HUP instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGINT",
            ],
            description: Some("Send INT instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGQUIT",
            ],
            description: Some("Send QUIT instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGILL",
            ],
            description: Some("Send ILL instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGTRAP",
            ],
            description: Some("Send TRAP instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGABRT",
            ],
            description: Some("Send ABRT instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGEMT",
            ],
            description: Some("Send EMT instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGFPE",
            ],
            description: Some("Send FPE instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGKILL",
            ],
            description: Some("Send KILL instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGBUS",
            ],
            description: Some("Send BUS instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGSEGV",
            ],
            description: Some("Send SEGV instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGSYS",
            ],
            description: Some("Send SYS instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGPIPE",
            ],
            description: Some("Send PIPE instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGALRM",
            ],
            description: Some("Send ALRM instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGURG",
            ],
            description: Some("Send URG instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGSTOP",
            ],
            description: Some("Send STOP instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGTSTP",
            ],
            description: Some("Send TSTP instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGCONT",
            ],
            description: Some("Send CONT instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGCHLD",
            ],
            description: Some("Send CHLD instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGTTIN",
            ],
            description: Some("Send TTIN instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGTTOU",
            ],
            description: Some("Send TTOU instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGIO",
            ],
            description: Some("Send IO instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGXCPU",
            ],
            description: Some("Send XCPU instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGXFSZ",
            ],
            description: Some("Send XFSZ instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGVTALRM",
            ],
            description: Some("Send VTALRM instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGPROF",
            ],
            description: Some("Send PROF instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGWINCH",
            ],
            description: Some("Send WINCH instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGINFO",
            ],
            description: Some("Send INFO instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGUSR1",
            ],
            description: Some("Send USR1 instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-SIGUSR2",
            ],
            description: Some("Send USR2 instead of TERM"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Limit potentially matching processes to those belonging to the user"),
            takes_value: true,
            arguments: [
                (
                    name: "user",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "bash",
                            "-c",
                            "dscl . -list /Users | grep -v \'^_\'",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Limit matching processes to those running on the specified TTY"),
            takes_value: true,
            arguments: [
                (
                    name: "tty",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Limit matching processes to those matching the given name"),
            takes_value: true,
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-q",
            ],
            description: Some("Suppress error message if no processes are matched"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-z",
            ],
            description: Some("Do not skip zombies"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "process_name",
            source: Unavailable,
            optional: false,
            variadic: true,
            imported_generator: Some((
                script: [
                    "bash",
                    "-c",
                    "ps -A -o comm | sort -u",
                ],
                has_post_process: true,
                has_custom: false,
            )),
        ),
    ],
)