(
    version: 1,
    command: "kill",
    description: Some("Terminate or signal a process"),
    options: [
        (
            names: [
                "-s",
            ],
            description: Some("A symbolic signal name specifying the signal to be sent"),
            arguments: [
                (
                    name: "signal_name",
                    generators: [
                        (
                            script: [
                                "env",
                                "kill",
                                "-l",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("If no operand is given, list the signal names; otherwise, write the signal name corresponding to exit_status"),
            arguments: [
                (
                    name: "exit_status",
                    optional: true,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "pid",
            generators: [
                (
                    script: [
                        "bash",
                        "-c",
                        "ps axo pid,comm | sed 1d",
                    ],
                    has_post_process: true,
                ),
            ],
            variadic: true,
        ),
    ],
)
