(
    version: 1,
    command: "kind",
    description: Some("Kubernetes IN Docker - local clusters for testing Kubernetes"),
    subcommands: [
        (
            name: "Build",
            description: Some("Build one of [node-image]"),
            subcommands: [
                (
                    name: "node-image",
                    description: Some("Builds a node image"),
                    options: [
                        (
                            names: [
                                "--arch",
                            ],
                            description: Some("Architecture to build for, defaults to the host architecture"),
                            arguments: [
                                (
                                    name: "architecture",
                                    description: Some("Architecture to build for, defaults to the host architecture"),
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--base-image",
                            ],
                            description: Some("Base image to use for the node image"),
                            arguments: [
                                (
                                    name: "base image",
                                    description: Some("Name:tag of the base image to use for the build"),
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--image",
                            ],
                            description: Some("Name:tag of the resulting image to be built"),
                            arguments: [
                                (
                                    name: "name:tag",
                                    description: Some("Name:tag of the resulting image to be built"),
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--kube-root",
                            ],
                            description: Some("Path to the Kubernetes source directory"),
                            arguments: [
                                (
                                    name: "path",
                                    description: Some("Path to the Kubernetes source directory"),
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--type",
                            ],
                            description: Some("Type of node image to build"),
                            arguments: [
                                (
                                    name: "type",
                                    description: Some("Build type, default is docker"),
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "create",
            description: Some("Creates a cluster"),
            subcommands: [
                (
                    name: "cluster",
                    description: Some("Creates a cluster"),
                    options: [
                        (
                            names: [
                                "--config",
                            ],
                            description: Some("Path to a kind config file"),
                        ),
                        (
                            names: [
                                "--image",
                            ],
                            description: Some("Node docker image to use for booting the cluster"),
                        ),
                        (
                            names: [
                                "--kubeconfig",
                            ],
                            description: Some("Sets kubeconfig path instead of $KUBECONFIG or $HOME/.kube/config"),
                        ),
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Cluster name"),
                        ),
                        (
                            names: [
                                "--retain",
                            ],
                            description: Some("Retain nodes for debugging when cluster creation fails"),
                        ),
                        (
                            names: [
                                "--wait",
                            ],
                            description: Some("Wait for control-plane node to be ready"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "completion",
            description: Some("Generates shell completion scripts"),
            subcommands: [
                (
                    name: "bash",
                    description: Some("Output shell completions for bash"),
                ),
                (
                    name: "fish",
                    description: Some("Output shell completions for fish"),
                ),
                (
                    name: "zsh",
                    description: Some("Output shell completions for zsh"),
                ),
            ],
        ),
        (
            name: "delete",
            description: Some("Deletes one or more clusters"),
            subcommands: [
                (
                    name: "cluster",
                    description: Some("Delete Cluster"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Cluster name"),
                            arguments: [
                                (
                                    name: "cluster name",
                                    generators: [
                                        (
                                            script: [
                                                "kind",
                                                "get",
                                                "clusters",
                                            ],
                                            has_post_process: true,
                                        ),
                                    ],
                                ),
                            ],
                            presentation: (
                                priority: Some(100.0),
                            ),
                        ),
                    ],
                ),
                (
                    name: "clusters",
                    description: Some("Delete Clusters"),
                    options: [
                        (
                            names: [
                                "-A",
                                "--all",
                            ],
                            description: Some("Delete all clusters"),
                            presentation: (
                                priority: Some(100.0),
                            ),
                        ),
                        (
                            names: [
                                "--kubeconfig",
                            ],
                            description: Some("Sets kubeconfig path instead of $KUBECONFIG or $HOME/.kube/config"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "export",
            description: Some("Exports a cluster's kubeconfig"),
            subcommands: [
                (
                    name: "kubeconfig",
                    description: Some("Exports a cluster's kubeconfig"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Cluster name"),
                        ),
                        (
                            names: [
                                "--internal",
                            ],
                            description: Some("Use internal address instead of externalt"),
                        ),
                        (
                            names: [
                                "--kubeconfig",
                            ],
                            description: Some("Sets kubeconfig path instead of $KUBECONFIG or $HOME/.kube/config"),
                        ),
                    ],
                ),
                (
                    name: "logs",
                    description: Some("Exports logs to a tempdir or [output-dir] if specified"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Cluster name"),
                            arguments: [
                                (
                                    name: "cluster name",
                                    generators: [
                                        (
                                            script: [
                                                "kind",
                                                "get",
                                                "clusters",
                                            ],
                                            has_post_process: true,
                                        ),
                                    ],
                                ),
                            ],
                            presentation: (
                                priority: Some(100.0),
                            ),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "get",
            description: Some("Gets one of [clusters, nodes, kubeconfig]"),
            subcommands: [
                (
                    name: "clusters",
                    description: Some("Lists existing kind clusters by their name"),
                ),
                (
                    name: "kubeconfig",
                    description: Some("Prints cluster kubeconfig"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Cluster name"),
                            arguments: [
                                (
                                    name: "cluster name",
                                    generators: [
                                        (
                                            script: [
                                                "kind",
                                                "get",
                                                "clusters",
                                            ],
                                            has_post_process: true,
                                        ),
                                    ],
                                ),
                            ],
                            presentation: (
                                priority: Some(100.0),
                            ),
                        ),
                        (
                            names: [
                                "--internal",
                            ],
                            description: Some("Use internal address instead of external"),
                        ),
                    ],
                ),
                (
                    name: "nodes",
                    description: Some("Lists existing kind nodes by their name"),
                    options: [
                        (
                            names: [
                                "-A",
                                "--all",
                            ],
                            description: Some("List all nodes"),
                            presentation: (
                                priority: Some(50.0),
                            ),
                        ),
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Cluster name"),
                            arguments: [
                                (
                                    name: "cluster name",
                                    generators: [
                                        (
                                            script: [
                                                "kind",
                                                "get",
                                                "clusters",
                                            ],
                                            has_post_process: true,
                                        ),
                                    ],
                                ),
                            ],
                            presentation: (
                                priority: Some(50.0),
                            ),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "load",
            description: Some("Loads images into node from an archive or image on host"),
            subcommands: [
                (
                    name: "docker-image",
                    description: Some("Loads docker images from host into all or specified nodes by name"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Cluster name"),
                            arguments: [
                                (
                                    name: "cluster name",
                                    generators: [
                                        (
                                            script: [
                                                "kind",
                                                "get",
                                                "clusters",
                                            ],
                                            has_post_process: true,
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--nodes",
                            ],
                            description: Some("Comma separated list of nodes to load images into"),
                            arguments: [
                                (
                                    name: "nodes",
                                    generators: [
                                        (
                                            script: [
                                                "kind",
                                                "get",
                                                "nodes",
                                                "-A",
                                            ],
                                            has_post_process: true,
                                        ),
                                    ],
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "image-archive",
                    description: Some("Loads docker images from archive into all or specified nodes by name"),
                    options: [
                        (
                            names: [
                                "--name",
                            ],
                            description: Some("Cluster name"),
                            arguments: [
                                (
                                    name: "cluster name",
                                    generators: [
                                        (
                                            script: [
                                                "kind",
                                                "get",
                                                "clusters",
                                            ],
                                            has_post_process: true,
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--nodes",
                            ],
                            description: Some("Comma separated list of nodes to load images into"),
                            arguments: [
                                (
                                    name: "nodes",
                                    generators: [
                                        (
                                            script: [
                                                "kind",
                                                "get",
                                                "nodes",
                                                "-A",
                                            ],
                                            has_post_process: true,
                                        ),
                                    ],
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "version",
            description: Some("Prints the kind CLI version"),
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Help for kind"),
            persistent: true,
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Silence all stderr output"),
            persistent: true,
        ),
        (
            names: [
                "-v",
                "--verbosity",
            ],
            description: Some("Info log verbosity, higher value produces more output"),
            arguments: [
                (
                    name: "int",
                ),
            ],
            persistent: true,
        ),
    ],
)
