(
    version: 1,
    command: "knex",
    description: Some("SQL query builder for JavaScript"),
    subcommands: [
        (
            name: "init",
            description: Some("Create a fresh knexfile"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "migrate:make",
            description: Some("Create a named migration file"),
            arguments: [
                (
                    name: "migration name",
                ),
            ],
        ),
        (
            name: "migrate:latest",
            description: Some("Run all migrations that have not yet been run"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "migrate:up",
            description: Some("Run the next or the specified migration that has not yet been run"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "migrate:rollback",
            description: Some("Rollback the last batch of migrations performed"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "migrate:down",
            description: Some("Undo the last or the specified migration that was already run"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "migrate:currentVersion",
            description: Some("View the current version for the  migration"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "migrate:list|migrate:status",
            description: Some("List all migrations files with status"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "migrate:unlock",
            description: Some("Forcibly unlocks the migrations lock table"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "seed:make",
            description: Some("Create a named seed file"),
            arguments: [
                (
                    name: "seed name",
                ),
            ],
        ),
        (
            name: "seed:run",
            description: Some("Run seed files"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Display help for command"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--version",
            ],
            description: Some("Output the version number"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Run with debugging"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--knexfile",
            ],
            description: Some("Specify the knexfile path"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--knexpath",
            ],
            description: Some("Specify the path to knex instance"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--cwd",
            ],
            description: Some("Specify the working directory"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--client",
            ],
            description: Some("Set DB client without a knexfile"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--connection",
            ],
            description: Some("Set DB connection without a knexfile"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--migrations-directory",
            ],
            description: Some("Set migrations directory without a knexfile"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--migrations-table-name",
            ],
            description: Some("Set migrations table name without a knexfile"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--env",
            ],
            description: Some("Environment, default: process.env.NODE_ENV || development"),
            arguments: [
                (
                    name: "environment",
                ),
            ],
        ),
        (
            names: [
                "--esm",
            ],
            description: Some("Enable ESM interop"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--specific",
            ],
            description: Some("Specify one seed file to execute"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--timestamp-filename-prefix",
            ],
            description: Some("Enable a timestamp prefix on name of generated seed files"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Display help for command"),
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
    ],
)
