(
    version: 1,
    command: "kool",
    description: Some("Cloud and docker environments made easy"),
    subcommands: [
        (
            name: "create",
            description: Some("Create a new project using a preset"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for create"),
                ),
            ],
            arguments: [
                (
                    name: "preset",
                    description: Some("Preset that will be used to create the project"),
                ),
                (
                    name: "folder",
                    description: Some("Folder where the project will be created"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            name: "deploy",
            description: Some("Deploy a local application to a Kool Cloud environment"),
            subcommands: [
                (
                    name: "destroy",
                    description: Some("Destroy an environment deployed to Kool Cloud"),
                    options: [
                        (
                            names: [
                                "--verbose",
                            ],
                            description: Some("Increases output verbosity"),
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Help for destroy"),
                        ),
                    ],
                ),
                (
                    name: "exec",
                    description: Some("Execute a command inside a running service container deployed to Kool Cloud"),
                    options: [
                        (
                            names: [
                                "--verbose",
                            ],
                            description: Some("Increases output verbosity"),
                        ),
                        (
                            names: [
                                "--container",
                                "-c",
                            ],
                            description: Some("Container target"),
                            arguments: [
                                (
                                    name: "container",
                                    default: Some("default"),
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Help for exec"),
                        ),
                    ],
                ),
                (
                    name: "logs",
                    description: Some("See the logs of running service container deployed to Kool Cloud"),
                    options: [
                        (
                            names: [
                                "--verbose",
                            ],
                            description: Some("Increases output verbosity"),
                        ),
                        (
                            names: [
                                "--container",
                                "-c",
                            ],
                            description: Some("Container target"),
                            arguments: [
                                (
                                    name: "container",
                                    default: Some("default"),
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--follow",
                                "-f",
                            ],
                            description: Some("Follow log output"),
                        ),
                        (
                            names: [
                                "--tail",
                                "-t",
                            ],
                            description: Some("Number of lines to show from the end of the logs for each container. A value equal to 0 will show all lines"),
                            arguments: [
                                (
                                    name: "tail",
                                    default: Some("25"),
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Help for logs"),
                        ),
                    ],
                ),
            ],
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for deploy"),
                ),
            ],
        ),
        (
            name: "docker",
            description: Some("Create a new container (a powered up 'docker run')"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--env",
                        "-e",
                    ],
                    description: Some("Environment variables"),
                    arguments: [
                        (
                            name: "env",
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--network",
                        "-n",
                    ],
                    description: Some("Connect a container to a network"),
                    arguments: [
                        (
                            name: "network",
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--publish",
                        "-p",
                    ],
                    description: Some("Publish a container's port(s) to the host"),
                    arguments: [
                        (
                            name: "publish",
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--volume",
                        "-v",
                    ],
                    description: Some("Bind mount a volume"),
                    arguments: [
                        (
                            name: "volume",
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for docker"),
                ),
            ],
            arguments: [
                (
                    name: "image",
                    description: Some("Docker image"),
                ),
                (
                    name: "command",
                    description: Some("Command to execute inside the container"),
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "exec",
            description: Some("Execute a command inside a running service container"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--detach",
                        "-d",
                    ],
                    description: Some("Detached mode: Run command in the background"),
                ),
                (
                    names: [
                        "--env",
                        "-e",
                    ],
                    description: Some("Environment variables"),
                    arguments: [
                        (
                            name: "env",
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for exec"),
                ),
            ],
            arguments: [
                (
                    name: "service",
                    description: Some("Service you want to execute a command"),
                ),
                (
                    name: "command",
                    description: Some("Command to execute inside the container"),
                    variadic: true,
                ),
            ],
        ),
        (
            name: "info",
            description: Some("Print out information about the local environment"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for info"),
                ),
            ],
        ),
        (
            name: "logs",
            description: Some("Display log output from running service containers"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--follow",
                        "-f",
                    ],
                    description: Some("Follow log output"),
                ),
                (
                    names: [
                        "--tail",
                        "-t",
                    ],
                    description: Some("Number of lines to show from the end of the logs for each container. A value equal to 0 will show all lines"),
                    arguments: [
                        (
                            name: "tail",
                            default: Some("25"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for logs"),
                ),
            ],
            arguments: [
                (
                    name: "service",
                    description: Some("Service to get logs from"),
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "preset",
            description: Some("Install configuration files customized for Kool in the current directory"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for preset"),
                ),
            ],
            arguments: [
                (
                    name: "preset",
                    description: Some("Preset that will be used to configure the project"),
                ),
            ],
        ),
        (
            name: "recipe",
            description: Some("Adds configuration for some recipe in the current work directory"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for recipe"),
                ),
            ],
            arguments: [
                (
                    name: "recipe",
                    description: Some("Recipe that will be used to add configuration"),
                ),
            ],
        ),
        (
            name: "restart",
            description: Some("Restart running service containers (the same as 'kool stop' followed by 'kool start')"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--purge",
                    ],
                    description: Some("Remove all persistent data from volume mounts on containers"),
                ),
                (
                    names: [
                        "--rebuild",
                    ],
                    description: Some("Updates and builds service's images"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for restart"),
                ),
            ],
            arguments: [
                (
                    name: "service",
                    description: Some("Service you want to restart"),
                    generators: [
                        (
                            script: [
                                "docker-compose",
                                "config",
                                "--services",
                            ],
                            split_on: Some("\n"),
                        ),
                    ],
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "run",
            description: Some("Execute a script defined in kool.yml"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--env",
                        "-e",
                    ],
                    description: Some("Environment variables"),
                    arguments: [
                        (
                            name: "env",
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for run"),
                ),
            ],
            arguments: [
                (
                    name: "script",
                    description: Some("Script to be executed"),
                    generators: [
                        (
                            script: [
                                "kool",
                                "run",
                                "--help",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "self-update",
            description: Some("Update kool to the latest version"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for self-update"),
                ),
            ],
        ),
        (
            name: "share",
            description: Some("Live share your local environment on the Internet using an HTTP tunnel"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--port",
                    ],
                    description: Some("The port from the target service that should be shared. If not provided, it will default to port 80"),
                    arguments: [
                        (
                            name: "port",
                            default: Some("0"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--service",
                    ],
                    description: Some("The name of the local service container you want to share"),
                    arguments: [
                        (
                            name: "service",
                            default: Some("app"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--subdomain",
                    ],
                    description: Some("The subdomain used to generate your public https://subdomain.kool.live URL"),
                    arguments: [
                        (
                            name: "subdomain",
                        ),
                    ],
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for share"),
                ),
            ],
        ),
        (
            name: "start",
            description: Some("Start service containers defined in docker-compose.yml"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--foreground",
                        "-f",
                    ],
                    description: Some("Start containers in foreground mode"),
                ),
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("Specify a profile to enable"),
                    arguments: [
                        (
                            name: "profile",
                        ),
                    ],
                ),
                (
                    names: [
                        "--rebuild",
                        "-b",
                    ],
                    description: Some("Updates and builds service's images"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for start"),
                ),
            ],
            arguments: [
                (
                    name: "service",
                    description: Some("Service you want to start"),
                    generators: [
                        (
                            script: [
                                "docker-compose",
                                "config",
                                "--services",
                            ],
                            split_on: Some("\n"),
                        ),
                    ],
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "status",
            description: Some("Show the status of all service containers"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for status"),
                ),
            ],
        ),
        (
            name: "stop",
            description: Some("Stop and destroy running service containers"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Increases output verbosity"),
                ),
                (
                    names: [
                        "--purge",
                    ],
                    description: Some("Remove all persistent data from volume mounts on containers"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Help for stop"),
                ),
            ],
            arguments: [
                (
                    name: "service",
                    description: Some("Service you want to stop"),
                    generators: [
                        (
                            script: [
                                "docker-compose",
                                "config",
                                "--services",
                            ],
                            split_on: Some("\n"),
                        ),
                    ],
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--verbose",
            ],
            description: Some("Increases output verbosity"),
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Help for kool"),
        ),
    ],
)
