(
    version: 1,
    command: "kotlinc",
    description: Some("Kotlin compiler for JVM"),
    subcommands: [
        (
            name: "-version",
            aliases: [],
            description: Some("Display the compiler version"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-nowarn",
            aliases: [],
            description: Some("Suppress the compiler from displaying warnings during compilation"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-Werror",
            aliases: [],
            description: Some("Turn any warnings into a compilation error"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-verbose",
            aliases: [],
            description: Some("Enable verbose logging output which includes details of the compilation process"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-script",
            aliases: [],
            description: Some("Evaluate a Kotlin script file. When called with this option, the compiler executes the first Kotlin script (*.kts) file among the given arguments"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "script-file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-help",
            aliases: [
                "-h",
            ],
            description: Some("Display usage information and exit. Only standard options are shown. To show advanced options, use -X"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-X",
            aliases: [],
            description: Some("Display information about the advanced options and exit. These options are currently unstable: their names and behavior may be changed without notice"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-kotlin-home",
            aliases: [],
            description: Some("Specify a custom path to the Kotlin compiler used for the discovery of runtime libraries"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-P",
            aliases: [],
            description: Some("Pass an option to a Kotlin compiler plugin. Available plugins and their options are listed in the Tools > Compiler plugins section of the documentation"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "plugin:pluginId:optionName=value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-language-version",
            aliases: [],
            description: Some("Provide source compatibility with the specified version of Kotlin"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "version",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-api-version",
            aliases: [],
            description: Some("Allow using declarations only from the specified version of Kotlin bundled libraries"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "version",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-progressive",
            aliases: [],
            description: Some("Enable the progressive mode for the compiler. In the progressive mode, deprecations and bug fixes for unstable code take effect immediately, instead of going through a graceful migration cycle. Code written in the progressive mode is backward compatible; however, code written in a non-progressive mode may cause compilation errors in the progressive mode"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-opt-in",
            aliases: [],
            description: Some("Enable usages of API that requires opt-in with a requirement annotation specified by the given fully qualified name"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "annotation",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-classpath",
            aliases: [
                "-cp",
            ],
            description: Some("Search for class files in the specified paths. Separate elements of the classpath with system path separators (; on Windows, : on macOS/Linux). The classpath can contain file and directory paths, ZIP, or JAR files"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-d",
            aliases: [],
            description: Some("Place the generated class files into the specified location. The location can be a directory, a ZIP, or a JAR file"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-include-runtime",
            aliases: [],
            description: Some("Include the Kotlin runtime into the resulting JAR file. Makes the resulting archive runnable on any Java-enabled environment"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-jdk-home",
            aliases: [],
            description: Some("Use a custom JDK home directory to include into the classpath if it differs from the default JAVA_HOME"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-jvm-target",
            aliases: [],
            description: Some("Specify the target version of the generated JVM bytecode. Possible values are 1.8, 9, 10, ..., 21. The default value is 1.8"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "version",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-java-parameters",
            aliases: [],
            description: Some("Generate metadata for Java 1.8 reflection on method parameters"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-module-name",
            aliases: [],
            description: Some("Set a custom name for the generated .kotlin_module file"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "-no-jdk",
            aliases: [],
            description: Some("Don\'t automatically include the Java runtime into the classpath"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-no-reflect",
            aliases: [],
            description: Some("Don\'t automatically include the Kotlin reflection (kotlin-reflect.jar) into the classpath"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-no-stdlib",
            aliases: [],
            description: Some("Don\'t automatically include the Kotlin/JVM stdlib (kotlin-stdlib.jar) and Kotlin reflection (kotlin-reflect.jar) into the classpath"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "-script-templates",
            aliases: [],
            description: Some("Script definition template classes. Use fully qualified class names and separate them with commas (,)"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "classnames[,]",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)