(
    version: 1,
    command: "kubens",
    description: Some("Switch between Kubernetes-namespaces"),
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for kubens"),
        ),
        (
            names: [
                "--current",
                "-c",
            ],
            description: Some("Show current namespace"),
        ),
    ],
    arguments: [
        (
            name: "namespace",
            generators: [
                (
                    script: [
                        "bash",
                        "-c",
                        "kubens | grep -v $(kubens -c)",
                    ],
                    has_post_process: true,
                ),
                (
                    script: [
                        "kubens",
                        "-c",
                    ],
                    has_post_process: true,
                ),
            ],
            optional: true,
        ),
    ],
    additional_suggestions: [
        (
            name: "-",
            description: Some("Switch to previous namespace within the current context"),
            presentation: (
                priority: Some(85.0),
                icon: Some("fig://icon?type=asterisk"),
            ),
        ),
    ],
    parser_directives: Some((
        flags_are_posix_noncompliant: true,
    )),
)
