(
    version: 1,
    command: "launchctl",
    description: Some("Interfaces with launchd"),
    subcommands: [
        (
            name: "bootstrap",
            description: Some("Bootstraps a domain or a service into a domain"),
            arguments: [
                (
                    name: "service",
                    description: Some("Service or domain target"),
                    template: [
                        FilePaths,
                    ],
                ),
                (
                    name: "service-path",
                    description: Some("Service path(s)"),
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "bootout",
            description: Some("Tears down a domain or removes a service from a domain"),
            arguments: [
                (
                    name: "service",
                    description: Some("Service or domain target"),
                    template: [
                        FilePaths,
                    ],
                ),
                (
                    name: "service-path",
                    description: Some("Service path(s)"),
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "enable",
            description: Some("Enables an existing service"),
            arguments: [
                (
                    name: "service",
                    description: Some("Service or domain target"),
                ),
            ],
        ),
        (
            name: "disable",
            description: Some("Disables an existing service"),
            arguments: [
                (
                    name: "service",
                    description: Some("Service or domain target"),
                ),
            ],
        ),
        (
            name: "kickstart",
            description: Some("Forces an existing service to start"),
            options: [
                (
                    names: [
                        "-k",
                    ],
                    description: Some("Kill instance before restarting"),
                ),
                (
                    names: [
                        "-p",
                    ],
                    description: Some("Print PID"),
                ),
            ],
            arguments: [
                (
                    name: "service",
                    description: Some("Service or domain target"),
                ),
            ],
        ),
        (
            name: "attach",
            description: Some("Attach the system's debugger to a service"),
            options: [
                (
                    names: [
                        "-k",
                    ],
                    description: Some("Kill instance"),
                ),
                (
                    names: [
                        "-s",
                    ],
                    description: Some("Force the service to start"),
                ),
                (
                    names: [
                        "-x",
                    ],
                    description: Some("Attach xpcproxy"),
                ),
            ],
            arguments: [
                (
                    name: "service",
                    description: Some("Service or domain target"),
                ),
            ],
        ),
        (
            name: "debug",
            description: Some("Configures the next invocation of a service for debugging"),
            options: [
                (
                    names: [
                        "--program",
                    ],
                    description: Some("Use program path as executable"),
                    arguments: [
                        (
                            name: "program-path",
                        ),
                    ],
                ),
                (
                    names: [
                        "--guard-malloc",
                    ],
                    description: Some("Turn on libgmalloc"),
                ),
                (
                    names: [
                        "--malloc-stack-logging",
                    ],
                    description: Some("Turn on malloc(3) stack logging"),
                ),
                (
                    names: [
                        "--malloc-nano-allocator",
                    ],
                    description: Some("Turn on malloc(3) nano allocator"),
                ),
                (
                    names: [
                        "--debug-libraries",
                    ],
                    description: Some("Set the DYLD_IMAGE_SUFFIX"),
                ),
                (
                    names: [
                        "--introspection-libraries",
                    ],
                    description: Some("Add introspection libraries to the DYLD_IMAGE_PATH"),
                ),
                (
                    names: [
                        "--NSZombie",
                    ],
                    description: Some("Enables NSZombie"),
                ),
                (
                    names: [
                        "--32",
                    ],
                    description: Some("Runs service on appropriate 32-bit architecture"),
                ),
                (
                    names: [
                        "--stdin",
                    ],
                    description: Some("Sets the stdin path"),
                    arguments: [
                        (
                            name: "stdin-path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--stdout",
                    ],
                    description: Some("Sets the stdout path"),
                    arguments: [
                        (
                            name: "stdout-path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--stderr",
                    ],
                    description: Some("Sets the stderr path"),
                    arguments: [
                        (
                            name: "stderr-path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--environment",
                    ],
                    description: Some("Sets environment variables"),
                    arguments: [
                        (
                            name: "environment-variables",
                            variadic: true,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "argv",
                    description: Some("Variable args: argv0 argv1"),
                    variadic: true,
                ),
            ],
        ),
        (
            name: "kill",
            description: Some("Sends a signal to the service instance"),
            arguments: [
                (
                    name: "signal",
                    description: Some("Specify signal-name or signal-number"),
                ),
                (
                    name: "service",
                    description: Some("Service or domain target"),
                ),
            ],
        ),
        (
            name: "blame",
            description: Some("Prints the reason a service is running"),
            arguments: [
                (
                    name: "service",
                    description: Some("Service or domain target"),
                ),
            ],
        ),
        (
            name: "print",
            description: Some("Prints a description of a domain or service"),
            arguments: [
                (
                    name: "service",
                    description: Some("Service or domain target"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "print-cache",
            description: Some("Prints information about the service cache"),
        ),
        (
            name: "print-disabled",
            description: Some("Prints which services are disabled"),
            arguments: [
                (
                    name: "domain-target",
                ),
            ],
        ),
        (
            name: "plist",
            description: Some("Prints a property list embedded in a binary (targets the Info.plist by default)"),
            arguments: [
                (
                    name: "segment",
                    description: Some("Segment or section"),
                ),
                (
                    name: "Mach-O",
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "procinfo",
            description: Some("Prints port information about a process"),
            arguments: [
                (
                    name: "pid",
                ),
            ],
        ),
        (
            name: "hostinfo",
            description: Some("Prints port information about the host"),
        ),
        (
            name: "resolveport",
            description: Some("Resolves a port name from a process to an endpoint in launchd"),
            arguments: [
                (
                    name: "owner-pid",
                ),
                (
                    name: "port-name",
                ),
            ],
        ),
        (
            name: "limit",
            description: Some("Reads or modifies launchd's resource limits"),
            options: [
                (
                    names: [
                        "cpu",
                    ],
                    arguments: [
                        (
                            name: "[both]",
                            description: Some("Specify a limit for both soft and hard"),
                        ),
                        (
                            name: "[soft | hard]",
                            description: Some("Specify a soft/hard limit pair"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "filesize",
                    ],
                    arguments: [
                        (
                            name: "[both]",
                            description: Some("Specify a limit for both soft and hard"),
                        ),
                        (
                            name: "[soft | hard]",
                            description: Some("Specify a soft/hard limit pair"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "data",
                    ],
                    arguments: [
                        (
                            name: "[both]",
                            description: Some("Specify a limit for both soft and hard"),
                        ),
                        (
                            name: "[soft | hard]",
                            description: Some("Specify a soft/hard limit pair"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "stack",
                    ],
                    arguments: [
                        (
                            name: "[both]",
                            description: Some("Specify a limit for both soft and hard"),
                        ),
                        (
                            name: "[soft | hard]",
                            description: Some("Specify a soft/hard limit pair"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "core",
                    ],
                    arguments: [
                        (
                            name: "[both]",
                            description: Some("Specify a limit for both soft and hard"),
                        ),
                        (
                            name: "[soft | hard]",
                            description: Some("Specify a soft/hard limit pair"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "rss",
                    ],
                    arguments: [
                        (
                            name: "[both]",
                            description: Some("Specify a limit for both soft and hard"),
                        ),
                        (
                            name: "[soft | hard]",
                            description: Some("Specify a soft/hard limit pair"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "memlock",
                    ],
                    arguments: [
                        (
                            name: "[both]",
                            description: Some("Specify a limit for both soft and hard"),
                        ),
                        (
                            name: "[soft | hard]",
                            description: Some("Specify a soft/hard limit pair"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "maxproc",
                    ],
                    arguments: [
                        (
                            name: "[both]",
                            description: Some("Specify a limit for both soft and hard"),
                        ),
                        (
                            name: "[soft | hard]",
                            description: Some("Specify a soft/hard limit pair"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "maxfiles",
                    ],
                    arguments: [
                        (
                            name: "[both]",
                            description: Some("Specify a limit for both soft and hard"),
                        ),
                        (
                            name: "[soft | hard]",
                            description: Some("Specify a soft/hard limit pair"),
                            optional: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "runstats",
            description: Some("Prints performance statistics for a service"),
            arguments: [
                (
                    name: "service",
                    description: Some("Service or domain target"),
                ),
            ],
        ),
        (
            name: "examine",
            description: Some("Runs the specified analysis tool against launchd in a non-re-entrant manner"),
            arguments: [
                (
                    name: "tool",
                ),
                (
                    name: "[args | @PID]",
                    variadic: true,
                ),
            ],
        ),
        (
            name: "config",
            description: Some("Modifies persistent configuration parameters for launchd domains"),
            arguments: [
                (
                    name: "[system | user]",
                    suggestions: [
                        (
                            name: "system",
                        ),
                    ],
                ),
                (
                    name: "param",
                    description: Some("A key for a key/value pair"),
                ),
                (
                    name: "value",
                    description: Some("A value for a key/value pair"),
                ),
            ],
        ),
        (
            name: "dumpstate",
            description: Some("Dumps launchd state to stdout"),
        ),
        (
            name: "dumpjpcategory",
            description: Some("Dumps the jetsam properties category for all services"),
        ),
        (
            name: "reboot",
            description: Some("Initiates a system reboot of the specified type"),
            options: [
                (
                    names: [
                        "system",
                    ],
                ),
                (
                    names: [
                        "userspace",
                    ],
                ),
                (
                    names: [
                        "halt",
                    ],
                ),
                (
                    names: [
                        "logout",
                    ],
                ),
                (
                    names: [
                        "apps",
                    ],
                ),
            ],
        ),
        (
            name: "load",
            description: Some("Recommended alternatives: bootstrap | enable. Bootstraps a service or directory of services"),
            options: [
                (
                    names: [
                        "-w",
                    ],
                    description: Some("Enable if disabled"),
                ),
                (
                    names: [
                        "-F",
                    ],
                    description: Some("Force load"),
                ),
                (
                    names: [
                        "-S",
                    ],
                    description: Some("Session"),
                    arguments: [
                        (
                            name: "session",
                        ),
                    ],
                ),
                (
                    names: [
                        "-D",
                    ],
                    description: Some("Load files from specified domain"),
                    arguments: [
                        (
                            name: "domain",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "unload",
            description: Some("Recommended alternatives: bootout | disable. Unloads a service or directory of services"),
            options: [
                (
                    names: [
                        "-w",
                    ],
                    description: Some("Enable if disabled"),
                ),
                (
                    names: [
                        "-F",
                    ],
                    description: Some("Force load"),
                ),
                (
                    names: [
                        "-S",
                    ],
                    description: Some("Session"),
                    arguments: [
                        (
                            name: "session",
                        ),
                    ],
                ),
                (
                    names: [
                        "-D",
                    ],
                    description: Some("Load files from specified domain"),
                    arguments: [
                        (
                            name: "domain",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "remove",
            description: Some("Unloads the specified service name"),
            arguments: [
                (
                    name: "label",
                    generators: [
                        (
                            script: [
                                "launchctl",
                                "list",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "list",
            description: Some("Lists information about services"),
            arguments: [
                (
                    name: "label",
                    generators: [
                        (
                            script: [
                                "launchctl",
                                "list",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "start",
            description: Some("Starts the specified service"),
            arguments: [
                (
                    name: "label",
                    generators: [
                        (
                            script: [
                                "launchctl",
                                "list",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "stop",
            description: Some("Stops the specified service if it is running"),
            arguments: [
                (
                    name: "label",
                    generators: [
                        (
                            script: [
                                "launchctl",
                                "list",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "setenv",
            description: Some("Sets the specified environment variables for all services within the domain"),
            arguments: [
                (
                    name: "key",
                ),
                (
                    name: "value",
                ),
            ],
        ),
        (
            name: "unsetenv",
            description: Some("Unsets the specified environment variables for all services within the domain"),
            arguments: [
                (
                    name: "key",
                ),
            ],
        ),
        (
            name: "getenv",
            description: Some("Gets the value of an environment variable from within launchd"),
            arguments: [
                (
                    name: "key",
                ),
            ],
        ),
        (
            name: "bsexec",
            description: Some("Execute a program in another process' bootstrap context"),
            arguments: [
                (
                    name: "PID",
                ),
                (
                    name: "command",
                ),
                (
                    name: "args",
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "asuser",
            description: Some("Execute a program in the bootstrap context of a given user"),
            arguments: [
                (
                    name: "UID",
                ),
                (
                    name: "command",
                ),
                (
                    name: "args",
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "submit",
            description: Some("Submit a basic job from the command line"),
            options: [
                (
                    names: [
                        "-p",
                    ],
                    description: Some("Program to execute"),
                    arguments: [
                        (
                            name: "executable",
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                    ],
                    description: Some("Std out path"),
                    arguments: [
                        (
                            name: "stdout-path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-e",
                    ],
                    description: Some("Std err path"),
                    arguments: [
                        (
                            name: "stderr-path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "-l",
                    description: Some("Label flag"),
                ),
                (
                    name: "label",
                    description: Some("Unique label to assign to launchd"),
                    generators: [
                        (
                            script: [
                                "launchctl",
                                "list",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
                (
                    name: "command",
                    description: Some("Command to run"),
                ),
                (
                    name: "arg",
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "managerpid",
            description: Some("Prints the PID of the launchd controlling the session"),
        ),
        (
            name: "manageruid",
            description: Some("Prints the UID of the current launchd session"),
        ),
        (
            name: "managername",
            description: Some("Prints the name of the current launchd session"),
        ),
        (
            name: "error",
            description: Some("Prints a description of an error"),
            arguments: [
                (
                    name: "type",
                    description: Some("Error domain type"),
                    suggestions: [
                        (
                            name: "posix",
                        ),
                        (
                            name: "mach",
                        ),
                        (
                            name: "bootstrap",
                        ),
                    ],
                ),
                (
                    name: "code",
                    description: Some("Numeric code"),
                ),
            ],
        ),
        (
            name: "variant",
            description: Some("Prints the launchd variant"),
        ),
        (
            name: "version",
            description: Some("Prints the launchd version"),
        ),
        (
            name: "help",
            description: Some("Prints the usage for a given subcommand"),
        ),
    ],
    arguments: [
        (
            name: "",
        ),
    ],
)
