(
    version: 1,
    command: "ldd",
    description: Some("Print shared library dependencies"),
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Show help for ldd"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Print version information and exit"),
        ),
        (
            names: [
                "-d",
                "--data-relocs",
            ],
            description: Some("Process data relocations"),
        ),
        (
            names: [
                "-r",
                "--function-relocs",
            ],
            description: Some("Process data and function relocations"),
        ),
        (
            names: [
                "-u",
                "--unused",
            ],
            description: Some("Print unused direct dependencies"),
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Print all information"),
        ),
    ],
    arguments: [
        (
            name: "exe",
            template: [
                FilePaths,
            ],
            variadic: true,
        ),
    ],
)
