(
    version: 1,
    command: "leaf",
    description: Some("Create and interact with your leaf projects"),
    subcommands: [
        (
            name: "completion",
            description: Some("Dump the shell completion script"),
        ),
        (
            name: "create",
            description: Some("[init] Create a new Leaf PHP project"),
            arguments: [
                (
                    name: "project name",
                    description: Some("Name of the project"),
                ),
            ],
        ),
        (
            name: "deploy",
            description: Some("[publish] Deploy your leaf project"),
        ),
        (
            name: "help",
            description: Some("Display help for a command"),
        ),
        (
            name: "install",
            description: Some("Add a new package to your leaf app"),
            arguments: [
                (
                    name: "package name",
                    description: Some("Name of the package"),
                ),
            ],
        ),
        (
            name: "interact",
            description: Some("Interact with your application"),
        ),
        (
            name: "list",
            description: Some("List commands"),
        ),
        (
            name: "run",
            description: Some("Run a script in your composer.json"),
            arguments: [
                (
                    name: "command name",
                    description: Some("Name of the command"),
                ),
            ],
        ),
        (
            name: "serve",
            description: Some("Run your Leaf app"),
            options: [
                (
                    names: [
                        "--port",
                    ],
                    description: Some("The port number to run the server on"),
                    arguments: [
                        (
                            name: "port number",
                            description: Some("The port number to run the server on"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--watch",
                    ],
                    description: Some("Watch for changes and restart the server"),
                ),
            ],
        ),
        (
            name: "test",
            description: Some("Test your leaf application through leaf alchemy"),
        ),
        (
            name: "test:setup",
            description: Some("Add tests to your application"),
        ),
        (
            name: "uninstall",
            description: Some("Uninstall a package"),
            arguments: [
                (
                    name: "package name",
                    description: Some("Name of the package"),
                ),
            ],
        ),
        (
            name: "update",
            description: Some("Update leaf cli to the latest version"),
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for the given command. When no command is given display help for the list command"),
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Do not output any message"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Display this application version"),
        ),
        (
            names: [
                "--ansi",
            ],
            description: Some("Force ANSI output"),
            exclusive_on: [
                "--no-ansi",
            ],
        ),
        (
            names: [
                "--no-ansi",
            ],
            description: Some("Disable ANSI output"),
            exclusive_on: [
                "--ansi",
            ],
        ),
        (
            names: [
                "-n",
                "--no-interaction",
            ],
            description: Some("Do not ask any interactive question"),
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug"),
            repeat: Times(3),
        ),
    ],
)
