(
    version: 1,
    command: "leaf",
    description: Some("Create and interact with your leaf projects"),
    subcommands: [
        (
            name: "completion",
            aliases: [],
            description: Some("Dump the shell completion script"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "create",
            aliases: [],
            description: Some("[init] Create a new Leaf PHP project"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "project name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "deploy",
            aliases: [],
            description: Some("[publish] Deploy your leaf project"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Display help for a command"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "install",
            aliases: [],
            description: Some("Add a new package to your leaf app"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "package name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "interact",
            aliases: [],
            description: Some("Interact with your application"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("List commands"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "run",
            aliases: [],
            description: Some("Run a script in your composer.json"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "command name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "serve",
            aliases: [],
            description: Some("Run your Leaf app"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--port",
                    ],
                    description: Some("The port number to run the server on"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "port number",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--watch",
                    ],
                    description: Some("Watch for changes and restart the server"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "test",
            aliases: [],
            description: Some("Test your leaf application through leaf alchemy"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "test:setup",
            aliases: [],
            description: Some("Add tests to your application"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "uninstall",
            aliases: [],
            description: Some("Uninstall a package"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "package name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Update leaf cli to the latest version"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for the given command. When no command is given display help for the list command"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Do not output any message"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Display this application version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ansi",
            ],
            description: Some("Force ANSI output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-ansi",
            ],
            description: Some("Disable ANSI output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
                "--no-interaction",
            ],
            description: Some("Do not ask any interactive question"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Increase the verbosity of messages: 1 for normal output, 2 for more verbose output and 3 for debug"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)