(
    version: 1,
    command: "lima",
    description: Some("Lima is an alias for \"limactl shell $LIMA_INSTANCE\""),
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Help for lima"),
        ),
    ],
    arguments: [
        (
            name: "COMMAND",
            optional: true,
            variadic: true,
            is_command: true,
        ),
    ],
)
