(
    version: 1,
    command: "ln",
    description: Some("Create (default hard) symbolic links to files"),
    options: [
        (
            names: [
                "-s",
            ],
            description: Some("Create a symbolic link"),
            arguments: [
                (
                    name: "source_file",
                    template: [
                        FilePaths,
                        Folders,
                    ],
                ),
                (
                    name: "link_name or link_dirname",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Verbose"),
        ),
        (
            names: [
                "-F",
            ],
            description: Some("If link name already exists replace it"),
            arguments: [
                (
                    name: "source_file",
                    template: [
                        FilePaths,
                        Folders,
                    ],
                ),
                (
                    name: "link_name or link_dirname",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-h",
            ],
            description: Some("Don't follow symbolic links"),
        ),
        (
            names: [
                "-f",
            ],
            description: Some("If link name already exists unlink the old one before creating the new one"),
            arguments: [
                (
                    name: "source_file",
                    template: [
                        FilePaths,
                        Folders,
                    ],
                ),
                (
                    name: "link_name or link_dirname",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Prompt if proposed link already exists"),
            arguments: [
                (
                    name: "source_file",
                    template: [
                        FilePaths,
                        Folders,
                    ],
                ),
                (
                    name: "link_name or link_dirname",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Same as -h don't follow symbolic links"),
        ),
    ],
    arguments: [
        (
            name: "source_file",
            template: [
                FilePaths,
                Folders,
            ],
        ),
        (
            name: "link_name or link_dirname",
            optional: true,
        ),
    ],
)
