(
    version: 1,
    command: "locust",
    description: Some("Locust is an easy to use, scriptable and scalable Python-based performance testing tool"),
    subcommands: [],
    options: [
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show program\'s version number and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show this help message and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
                "--locustfile",
            ],
            description: Some("Show program\'s version number and exit"),
            takes_value: true,
            arguments: [
                (
                    name: "files...",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--config",
            ],
            description: Some("Config file path"),
            takes_value: true,
            arguments: [
                (
                    name: "files...",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-H",
                "--host",
            ],
            description: Some("Host to load test in the following format: http://10.21.32.33"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
                "--users",
            ],
            description: Some("Peak number of concurrent Locust users. Primarily used together with --headless or --autostart"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
                "--spawn-rate",
            ],
            description: Some("Rate to spawn users at (users per second). Primarily used together with --headless or --autostart"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-t",
                "--run-time",
            ],
            description: Some("Stop after the specified amount of time, e.g. (300s, 20m, 3h, 1h30m, etc.)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
                "--list",
            ],
            description: Some("Show list of possible User classes and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--web-host",
            ],
            description: Some("Host to bind the web interface to. Defaults to \'*\' (all interfaces)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-P",
                "--web-port",
            ],
            description: Some("Port on which to run web host"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--headless",
            ],
            description: Some("Disable the web interface, and start the test immediately"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--autostart",
            ],
            description: Some("Starts the test immediately (without disabling the web UI)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--autoquit",
            ],
            description: Some("Quits Locust entirely, X seconds after the run is finished"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--web-auth",
            ],
            description: Some("Turn on Basic Auth for the web interface. e.g. username:password"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--tls-cert",
            ],
            description: Some("Optional path to TLS certificate to use to serve over HTTPS"),
            takes_value: true,
            arguments: [
                (
                    name: "tls-cert",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--tls-key",
            ],
            description: Some("Optional path to TLS private key to use to serve over HTTPS"),
            takes_value: true,
            arguments: [
                (
                    name: "tls-key",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--class-picker",
            ],
            description: Some("Enable select boxes in the web interface to choose from all available User classes and Shape classes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--master",
            ],
            description: Some("Set locust to run in distributed mode with this process as master"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--master-bind-host",
            ],
            description: Some("Interfaces (hostname, ip) that locust master should bind to"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--master-bind-port",
            ],
            description: Some("Port that locust master should bind to"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--expect-workers",
            ],
            description: Some("How many workers master should expect to connect before starting the test (only when --headless/autostart is used)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--expect-workers-max-wait",
            ],
            description: Some("How long should the master wait for workers to connect before giving up. Defaults to wait forever"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--worker",
            ],
            description: Some("Set locust to run in distributed mode with this process as worker"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--master-host",
            ],
            description: Some("Host or IP address of locust master for distributed load testing. Only used when running with --worker. Defaults to 127.0.0.1"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--master-port",
            ],
            description: Some("Show list of possible User classes and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--csv",
            ],
            description: Some("Store current request stats to files in CSV format"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--csv-full-history",
            ],
            description: Some("Store each stats entry in CSV format to _stats_history.csv file. You must also specify the \'--csv\' argument to enable this"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--print-stats",
            ],
            description: Some("Print stats in the console"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--only-summary",
            ],
            description: Some("Only print the summary stats"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--reset-stats",
            ],
            description: Some("Reset statistics once spawning has been completed. Should be set on both master and workers when running in distributed mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--html",
            ],
            description: Some("Store HTML report to file path specified"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--skip-log-setup",
            ],
            description: Some("Disable Locust\'s logging setup. Instead, the configuration is provided by the Locust test or Python defaults. --loglevel LOGLEVEL, -L LOGLEVEL"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--loglevel",
            ],
            description: Some("Choose between DEBUG/INFO/WARNING/ERROR/CRITICAL. Default is INFO"),
            takes_value: true,
            arguments: [
                (
                    name: "loglevel",
                    source: Static([
                        "INFO",
                        "WARNING",
                        "DEBUG",
                        "ERROR",
                        "CRITICAL",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--logfile",
            ],
            description: Some("Path to log file. If not set, log will go to stderr"),
            takes_value: true,
            arguments: [
                (
                    name: "logfile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--show-task-ratio",
            ],
            description: Some("Print table of the User classes\' task execution ratio. Use this with non-zero --user option if some classes define non-zero fixed_count attribute"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--show-task-ratio-json",
            ],
            description: Some("Print json data of the User classes\' task execution ratio. Use this with non-zero --user option if some classes define non-zero fixed_count attribute"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--exit-code-on-error",
            ],
            description: Some("Sets the process exit code to use when a test result contain any failure or error"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--equal-weights",
            ],
            description: Some("Use equally distributed task weights, overriding the weights specified in the locustfile"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--enable-rebalancing",
            ],
            description: Some("Allow to automatically rebalance users if new workers are added or removed during a test run"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-T",
                "--tags",
            ],
            description: Some("List of tags to include in the test, so only tasks with any matching tags will be executed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--E",
                "--exclude-tags",
            ],
            description: Some("List of tags to exclude from the test, so only tasks with no matching tags will be executed"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)