(
    version: 1,
    command: "ls",
    description: Some("List directory contents"),
    options: [
        (
            names: [
                "-@",
            ],
            description: Some("Display extended attribute keys and sizes in long (-l) output"),
        ),
        (
            names: [
                "-1",
            ],
            description: Some("(The numeric digit ``one''.)  Force output to be one entry per line.  This is the default when output is not to a terminal"),
        ),
        (
            names: [
                "-A",
            ],
            description: Some("List all entries except for . and ...  Always set for the super-user"),
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Include directory entries whose names begin with a dot (.)"),
        ),
        (
            names: [
                "-B",
            ],
            description: Some("Force printing of non-printable characters (as defined by ctype(3) and current locale settings) in file names as xxx, where xxx is the numeric value of the character in octal"),
        ),
        (
            names: [
                "-b",
            ],
            description: Some("As -B, but use C escape codes whenever possible"),
        ),
        (
            names: [
                "-C",
            ],
            description: Some("Force multi-column output; this is the default when output is to a terminal"),
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Use time when file status was last changed for sorting (-t) or long printing (-l)"),
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Directories are listed as plain files (not searched recursively)"),
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Print the Access Control List (ACL) associated with the file, if present, in long (-l) output"),
        ),
        (
            names: [
                "-F",
            ],
            description: Some("Display a slash (/) immediately after each pathname that is a directory, an asterisk (*) after each that is executable, an at sign (@) after each symbolic link, an equals sign (=) after each socket, a percent sign (%) after each whiteout, and a vertical bar (|) after each that is a FIFO"),
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Output is not sorted.  This option turns on the -a option"),
        ),
        (
            names: [
                "-G",
            ],
            description: Some("Enable colorized output.  This option is equivalent to defining CLICOLOR in the environment.  (See below.)"),
        ),
        (
            names: [
                "-g",
            ],
            description: Some("This option is only available for compatibility with POSIX; it is used to display the group name in the long (-l) format output (the owner name is suppressed)"),
        ),
        (
            names: [
                "-H",
            ],
            description: Some("Symbolic links on the command line are followed.  This option is assumed if none of the -F, -d, or -l options are specified"),
        ),
        (
            names: [
                "-h",
            ],
            description: Some("When used with the -l option, use unit suffixes: Byte, Kilobyte, Megabyte, Gigabyte, Terabyte and Petabyte in order to reduce the number of digits to three or less using base 2 for sizes"),
        ),
        (
            names: [
                "-i",
            ],
            description: Some("For each file, print the file's file serial number (inode number)"),
        ),
        (
            names: [
                "-k",
            ],
            description: Some("If the -s option is specified, print the file size allocation in kilobytes, not blocks.  This option overrides the environment variable BLOCKSIZE"),
        ),
        (
            names: [
                "-L",
            ],
            description: Some("Follow all symbolic links to final target and list the file or directory the link references rather than the link itself.  This option cancels the -P option"),
        ),
        (
            names: [
                "-l",
            ],
            description: Some("(The lowercase letter ``ell''.)  List in long format.  (See below.)  A total sum for all the file sizes is output on a line before the long listing"),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Stream output format; list files across the page, separated by commas"),
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Display user and group IDs numerically, rather than converting to a user or group name in a long (-l) output.  This option turns on the -l option"),
        ),
        (
            names: [
                "-O",
            ],
            description: Some("Include the file flags in a long (-l) output"),
        ),
        (
            names: [
                "-o",
            ],
            description: Some("List in long format, but omit the group id"),
        ),
        (
            names: [
                "-P",
            ],
            description: Some("If argument is a symbolic link, list the link itself rather than the object the link references.  This option cancels the -H and -L options"),
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Write a slash (`/') after each filename if that file is a directory"),
        ),
        (
            names: [
                "-q",
            ],
            description: Some("Force printing of non-graphic characters in file names as the character `?'; this is the default when output is to a terminal"),
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Recursively list subdirectories encountered"),
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Reverse the order of the sort to get reverse lexicographical order or the oldest entries first (or largest files last, if combined with sort by size"),
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Sort files by size"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Display the number of file system blocks actually used by each file, in units of 512 bytes, where partial units are rounded up to the next integer value.  If the output is to a terminal, a total sum for all the file sizes is output on a line before the listing.  The environment variable BLOCKSIZE overrides the unit size of 512 bytes"),
        ),
        (
            names: [
                "-T",
            ],
            description: Some("When used with the -l (lowercase letter ``ell'') option, display complete time information for the file, including month, day, hour, minute, second, and year"),
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Sort by time modified (most recently modified first) before sorting the operands by lexicographical order"),
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Use time of last access, instead of last modification of the file for sorting (-t) or long printing (-l)"),
        ),
        (
            names: [
                "-U",
            ],
            description: Some("Use time of file creation, instead of last modification for sorting (-t) or long output (-l)"),
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Force unedited printing of non-graphic characters; this is the default when output is not to a terminal"),
        ),
        (
            names: [
                "-W",
            ],
            description: Some("Display whiteouts when scanning directories.  (-S) flag)"),
        ),
        (
            names: [
                "-w",
            ],
            description: Some("Force raw printing of non-printable characters.  This is the default when output is not to a terminal"),
        ),
        (
            names: [
                "-x",
            ],
            description: Some("The same as -C, except that the multi-column output is produced with entries sorted across, rather than down, the columns"),
        ),
        (
            names: [
                "-%",
            ],
            description: Some("Distinguish dataless files and directories with a '%' character in long (-l) output, and don't materialize dataless directories when listing them"),
        ),
        (
            names: [
                "-,",
            ],
            description: Some("When the -l option is set, print file sizes grouped and separated by thousands using the non-monetary separator returned\nby localeconv(3), typically a comma or period.  If no locale is set, or the locale does not have a non-monetary separator, this\noption has no effect.  This option is not defined in IEEE Std 1003.1-2001 (“POSIX.1”)"),
            depends_on: [
                "-l",
            ],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Output colored escape sequences based on when, which may be set to either always, auto, or never"),
            arguments: [
                (
                    name: "when",
                    suggestions: [
                        (
                            name: "always",
                            aliases: [
                                "yes",
                                "force",
                            ],
                            description: Some("Will make ls always output color"),
                        ),
                        (
                            name: "auto",
                            description: Some("Will make ls output escape sequences based on termcap(5), but only if stdout is a tty and either the -G flag is specified or the COLORTERM environment variable is set and not empty"),
                        ),
                        (
                            name: "never",
                            aliases: [
                                "no",
                                "none",
                            ],
                            description: Some("Will disable color regardless of environment variables"),
                        ),
                    ],
                ),
            ],
            requires_separator: Some("="),
        ),
    ],
    arguments: [
        (
            name: "",
            template: [
                FilePaths,
                Folders,
            ],
            variadic: true,
            filter_strategy: Fuzzy,
        ),
    ],
)
