(
    version: 1,
    command: "lsblk",
    description: Some("List block devices"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for lsblk"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Show version for lsblk"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--all",
                "-a",
            ],
            description: Some("Also list empty devices and RAM disk devices"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--bytes",
                "-b",
            ],
            description: Some("Print the SIZE column in bytes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--discard",
                "-D",
            ],
            description: Some("Print information about the discarding capabilities (TRIM, UNMAP) for each device"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nodeps",
                "-d",
            ],
            description: Some("Do not print holder devices or slaves"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--dedup",
                "-E",
            ],
            description: Some("Use column as a de-duplication key to de-duplicate output tree"),
            takes_value: true,
            arguments: [
                (
                    name: "column",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--exclude",
                "-e",
            ],
            description: Some("Exclude the devices specified by the comma-separated list of major device numbers"),
            takes_value: true,
            arguments: [
                (
                    name: "list",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--fs",
                "-f",
            ],
            description: Some("Output info about filesystems"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--include",
                "-I",
            ],
            description: Some("Include devices specified by the comma-separated list of major device numbers"),
            takes_value: true,
            arguments: [
                (
                    name: "list",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--ascii",
                "-i",
            ],
            description: Some("Use ASCII characters for tree formatting"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--json",
                "-J",
            ],
            description: Some("Use JSON output format"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--list",
                "-l",
            ],
            description: Some("Produce output in the form of a list"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--merge",
                "-M",
            ],
            description: Some("Group parents of sub-trees to provide more readable output for RAIDs and Multi-path devices"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--perms",
                "-m",
            ],
            description: Some("Output info about device owner, group and mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--noheadings",
                "-n",
            ],
            description: Some("Do not print a header line"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--output",
                "-o",
            ],
            description: Some("Specify which output columns to print"),
            takes_value: true,
            arguments: [
                (
                    name: "list",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--output-all",
                "-O",
            ],
            description: Some("Output all available columns"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--pairs",
                "-P",
            ],
            description: Some("Produce output in the form of key-value pairs"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--raw",
                "-r",
            ],
            description: Some("Produce output in raw format"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--scsi",
                "-S",
            ],
            description: Some("Output info about SCSI devices only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--inverse",
                "-s",
            ],
            description: Some("Print dependencies in inverse order"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--tree",
                "-T",
            ],
            description: Some("Force tree-like output format"),
            takes_value: true,
            arguments: [
                (
                    name: "column",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--topology",
                "-t",
            ],
            description: Some("Output info about block-device topology"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--width",
                "-w",
            ],
            description: Some("Specifies output width as a number of characters"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--sort",
                "-x",
            ],
            description: Some("Sort output lines by column"),
            takes_value: true,
            arguments: [
                (
                    name: "column",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--zoned",
                "-z",
            ],
            description: Some("Print the zone model for each device"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--sysroot",
            ],
            description: Some("Gather data for a Linux instance other than the instance from which the lsblk command is issued"),
            takes_value: true,
            arguments: [
                (
                    name: "directory",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "device",
            source: Files,
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
    ],
)