(
    version: 1,
    command: "lsd",
    description: Some("An ls command with a lot of pretty colors and some other stuff"),
    subcommands: [],
    options: [
        (
            names: [
                "-1",
                "--oneline",
            ],
            description: Some("Display one entry per line"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-A",
                "--almost-all",
            ],
            description: Some("Do not list implied . and"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-a",
                "--all",
            ],
            description: Some("Do not ignore entries starting with"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
                "--directory-only",
            ],
            description: Some("Display directories themselves, and not their contents (recursively when used with --tree)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-F",
                "--classify",
            ],
            description: Some("Append indicator (one of */=>@|) at the end of the file names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--human-readable",
            ],
            description: Some("For ls compatibility purposes ONLY, currently set by default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-i",
                "--inode",
            ],
            description: Some("Display the index number of each file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-L",
                "--dereference",
            ],
            description: Some("When showing file information for a symbolic link, show information for the file the link references rather than for the link itself"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
                "--long",
            ],
            description: Some("Display the extended file metadata as a table"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-R",
                "--recursive",
            ],
            description: Some("Recurse into directories"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
                "--reverse",
            ],
            description: Some("Reverse the order of the sort"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-S",
                "--sizesort",
            ],
            description: Some("Sort by size"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-t",
                "--timesort",
            ],
            description: Some("Sort by time modified"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--versionsort",
            ],
            description: Some("Natural sort of (version) numbers within text"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--classic",
            ],
            description: Some("Enable classic mode (no colors or icons)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-X",
                "--extensionsort",
            ],
            description: Some("Sort by file extension"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Prints help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ignore-config",
            ],
            description: Some("Ignore the configuration file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-symlink",
            ],
            description: Some("Do not display symlink target"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--total-size",
            ],
            description: Some("Display the total size of directories"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--tree",
            ],
            description: Some("Recurse into directories and present the result as a tree"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Prints version information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--blocks",
            ],
            description: Some("Specify the blocks that will be displayed and in what order"),
            takes_value: true,
            arguments: [
                (
                    name: "blocks",
                    source: Static([
                        "permission",
                        "user",
                        "group",
                        "size",
                        "date",
                        "name",
                        "inode",
                        "links",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("When to use terminal colours"),
            takes_value: true,
            arguments: [
                (
                    name: "color",
                    source: Static([
                        "always",
                        "auto",
                        "never",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--date",
            ],
            description: Some("How to display date"),
            takes_value: true,
            arguments: [
                (
                    name: "date",
                    source: Static([
                        "date",
                        "relative",
                        "+date-time-format",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--depth",
            ],
            description: Some("Stop recursing into directories after reaching depth"),
            takes_value: true,
            arguments: [
                (
                    name: "num",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--group-dirs",
            ],
            description: Some("Sort the directories then the files"),
            takes_value: true,
            arguments: [
                (
                    name: "group-dirs",
                    source: Static([
                        "none",
                        "first",
                        "last",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--icon",
            ],
            description: Some("When to print the icons"),
            takes_value: true,
            arguments: [
                (
                    name: "icon",
                    source: Static([
                        "always",
                        "auto",
                        "never",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--icon-theme",
            ],
            description: Some("Whether to use fancy or unicode icons"),
            takes_value: true,
            arguments: [
                (
                    name: "icon-theme",
                    source: Static([
                        "fancy",
                        "unicode",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--ignore-glob",
            ],
            description: Some("Do not display files/directories with names matching the glob pattern(s). More than one can be specified by repeating the argument"),
            takes_value: true,
            arguments: [
                (
                    name: "pattern",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--size",
            ],
            description: Some("How to display size"),
            takes_value: true,
            arguments: [
                (
                    name: "size",
                    source: Static([
                        "default",
                        "short",
                        "bytes",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--sort",
            ],
            description: Some("Sort by WORD instead of name"),
            takes_value: true,
            arguments: [
                (
                    name: "WORD",
                    source: Static([
                        "size",
                        "time",
                        "version",
                        "extension",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Directories,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)