(
    version: 1,
    command: "lsd",
    description: Some("An ls command with a lot of pretty colors and some other stuff"),
    options: [
        (
            names: [
                "-1",
                "--oneline",
            ],
            description: Some("Display one entry per line"),
        ),
        (
            names: [
                "-A",
                "--almost-all",
            ],
            description: Some("Do not list implied . and"),
        ),
        (
            names: [
                "-a",
                "--all",
            ],
            description: Some("Do not ignore entries starting with"),
        ),
        (
            names: [
                "-d",
                "--directory-only",
            ],
            description: Some("Display directories themselves, and not their contents (recursively when used with --tree)"),
        ),
        (
            names: [
                "-F",
                "--classify",
            ],
            description: Some("Append indicator (one of */=>@|) at the end of the file names"),
        ),
        (
            names: [
                "-h",
                "--human-readable",
            ],
            description: Some("For ls compatibility purposes ONLY, currently set by default"),
        ),
        (
            names: [
                "-i",
                "--inode",
            ],
            description: Some("Display the index number of each file"),
        ),
        (
            names: [
                "-L",
                "--dereference",
            ],
            description: Some("When showing file information for a symbolic link, show information for the file the link references rather than for the link itself"),
        ),
        (
            names: [
                "-l",
                "--long",
            ],
            description: Some("Display the extended file metadata as a table"),
        ),
        (
            names: [
                "-R",
                "--recursive",
            ],
            description: Some("Recurse into directories"),
        ),
        (
            names: [
                "-r",
                "--reverse",
            ],
            description: Some("Reverse the order of the sort"),
        ),
        (
            names: [
                "-S",
                "--sizesort",
            ],
            description: Some("Sort by size"),
        ),
        (
            names: [
                "-t",
                "--timesort",
            ],
            description: Some("Sort by time modified"),
        ),
        (
            names: [
                "-v",
                "--versionsort",
            ],
            description: Some("Natural sort of (version) numbers within text"),
        ),
        (
            names: [
                "--classic",
            ],
            description: Some("Enable classic mode (no colors or icons)"),
        ),
        (
            names: [
                "-X",
                "--extensionsort",
            ],
            description: Some("Sort by file extension"),
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Prints help information"),
        ),
        (
            names: [
                "--ignore-config",
            ],
            description: Some("Ignore the configuration file"),
        ),
        (
            names: [
                "--no-symlink",
            ],
            description: Some("Do not display symlink target"),
        ),
        (
            names: [
                "--total-size",
            ],
            description: Some("Display the total size of directories"),
        ),
        (
            names: [
                "--tree",
            ],
            description: Some("Recurse into directories and present the result as a tree"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Prints version information"),
        ),
        (
            names: [
                "--blocks",
            ],
            description: Some("Specify the blocks that will be displayed and in what order"),
            arguments: [
                (
                    name: "blocks",
                    suggestions: [
                        (
                            name: "permission",
                        ),
                        (
                            name: "user",
                        ),
                        (
                            name: "group",
                        ),
                        (
                            name: "size",
                        ),
                        (
                            name: "date",
                        ),
                        (
                            name: "name",
                        ),
                        (
                            name: "inode",
                        ),
                        (
                            name: "links",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("When to use terminal colours"),
            arguments: [
                (
                    name: "color",
                    suggestions: [
                        (
                            name: "always",
                        ),
                        (
                            name: "auto",
                        ),
                        (
                            name: "never",
                        ),
                    ],
                    default: Some("auto"),
                ),
            ],
        ),
        (
            names: [
                "--date",
            ],
            description: Some("How to display date"),
            arguments: [
                (
                    name: "date",
                    suggestions: [
                        (
                            name: "date",
                        ),
                        (
                            name: "relative",
                        ),
                        (
                            name: "+date-time-format",
                        ),
                    ],
                    default: Some("date"),
                ),
            ],
        ),
        (
            names: [
                "--depth",
            ],
            description: Some("Stop recursing into directories after reaching depth"),
            arguments: [
                (
                    name: "num",
                ),
            ],
        ),
        (
            names: [
                "--group-dirs",
            ],
            description: Some("Sort the directories then the files"),
            arguments: [
                (
                    name: "group-dirs",
                    suggestions: [
                        (
                            name: "none",
                        ),
                        (
                            name: "first",
                        ),
                        (
                            name: "last",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--icon",
            ],
            description: Some("When to print the icons"),
            arguments: [
                (
                    name: "icon",
                    suggestions: [
                        (
                            name: "always",
                        ),
                        (
                            name: "auto",
                        ),
                        (
                            name: "never",
                        ),
                    ],
                    default: Some("auto"),
                ),
            ],
        ),
        (
            names: [
                "--icon-theme",
            ],
            description: Some("Whether to use fancy or unicode icons"),
            arguments: [
                (
                    name: "icon-theme",
                    suggestions: [
                        (
                            name: "fancy",
                        ),
                        (
                            name: "unicode",
                        ),
                    ],
                    default: Some("fancy"),
                ),
            ],
        ),
        (
            names: [
                "--ignore-glob",
            ],
            description: Some("Do not display files/directories with names matching the glob pattern(s). More than one can be specified by repeating the argument"),
            arguments: [
                (
                    name: "pattern",
                ),
            ],
        ),
        (
            names: [
                "--size",
            ],
            description: Some("How to display size"),
            arguments: [
                (
                    name: "size",
                    suggestions: [
                        (
                            name: "default",
                        ),
                        (
                            name: "short",
                        ),
                        (
                            name: "bytes",
                        ),
                    ],
                    default: Some("default"),
                ),
            ],
        ),
        (
            names: [
                "--sort",
            ],
            description: Some("Sort by WORD instead of name"),
            arguments: [
                (
                    name: "WORD",
                    suggestions: [
                        (
                            name: "size",
                        ),
                        (
                            name: "time",
                        ),
                        (
                            name: "version",
                        ),
                        (
                            name: "extension",
                        ),
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "",
            template: [
                Folders,
            ],
            variadic: true,
            default: Some("."),
        ),
    ],
)
