(
    version: 1,
    command: "lsof",
    description: Some("List open files"),
    subcommands: [],
    options: [
        (
            names: [
                "-?",
                "-h",
                "--help",
            ],
            description: Some("Help"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Apply AND to the selections (defaults to OR)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Avoid kernel blocks"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Select the listing of files for processes executing a command"),
            takes_value: true,
            arguments: [
                (
                    name: "string or regexp (optional ending with /i /b /x)",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "+c",
            ],
            description: Some("COMMAND width (9)"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "+d",
            ],
            description: Some("Search for all open instances/files/directories of directory"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Specify a list of file descriptors (FDs) to exclude from or include in the output listing"),
            takes_value: true,
            arguments: [
                (
                    name: "File descriptor number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "+D",
            ],
            description: Some("Search tree for all open instances/files/directories of directory. *SLOW?*"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "+f",
            ],
            description: Some("Enable path name arguments to be interpreted"),
            takes_value: true,
            arguments: [
                (
                    name: "flags",
                    source: Static([
                        "c",
                        "g",
                        "G",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Inhibit path name arguments to be interpreted"),
            takes_value: true,
            arguments: [
                (
                    name: "flags",
                    source: Static([
                        "c",
                        "g",
                        "G",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-F",
            ],
            description: Some("Select fields to output"),
            takes_value: true,
            arguments: [
                (
                    name: "options",
                    source: Static([
                        "a",
                        "c",
                        "C",
                        "d",
                        "D",
                        "f",
                        "G",
                        "i",
                        "k",
                        "K",
                        "l",
                        "L",
                        "m",
                        "M",
                        "n",
                        "o",
                        "p",
                        "g",
                        "P",
                        "r",
                        "R",
                        "s",
                        "S",
                        "t",
                        "T",
                        "u",
                        "0",
                    ]),
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-F?",
            ],
            description: Some("Show fields for -F"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
            ],
            description: Some("Exclude or select by process group IDs (PGID)"),
            takes_value: true,
            arguments: [
                (
                    name: "PGID",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Selects files by [46][protocol][@hostname|hostaddr][:service|port]"),
            takes_value: true,
            arguments: [
                (
                    name: "options",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "echo",
                            "echo",
                            "ifconfig",
                            "echo",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Inhibit conversion of user IDs to login names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "+L",
            ],
            description: Some("Enable listing of file link counts"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("Disable listing of file link counts"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "+M",
            ],
            description: Some("Enable portMap registration"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-M",
            ],
            description: Some("Disable portMap registration"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("No host names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-N",
            ],
            description: Some("Select NFS files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-o",
            ],
            description: Some("List file offset"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-O",
            ],
            description: Some("No overhead *RISKY*"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Exclude or select process identification numbers (PIDs)"),
            takes_value: true,
            arguments: [
                (
                    name: "PIDs",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-P",
            ],
            description: Some("No port names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "+r",
            ],
            description: Some("Repeat every t seconds (15) until no files"),
            takes_value: true,
            arguments: [
                (
                    name: "time (seconds)",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Repeat every t seconds (15) forever"),
            takes_value: true,
            arguments: [
                (
                    name: "time (seconds)",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-R",
            ],
            description: Some("List parent PID"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("List file size or exclude/select protocol"),
            takes_value: true,
            arguments: [
                (
                    name: "protocol:state",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Stat timeout in seconds (lstat/readlink/stat)"),
            takes_value: true,
            arguments: [
                (
                    name: "timeout (seconds)",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-T",
            ],
            description: Some("Disable TCP/TPI info"),
            takes_value: true,
            arguments: [
                (
                    name: "info",
                    source: Static([
                        "f",
                        "q",
                        "s",
                        "w",
                        "",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Specify terse listing"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Exclude/select login|UID set"),
            takes_value: true,
            arguments: [
                (
                    name: "UIDs",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-U",
            ],
            description: Some("Select Unix socket"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("List version info"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
            ],
            description: Some("Verbose search"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "+w",
            ],
            description: Some("Enable warnings"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
            ],
            description: Some("Disable warnings"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Cross over +d|+D File systems or symbolic links"),
            takes_value: true,
            arguments: [
                (
                    name: "cross-over option",
                    source: Static([
                        "f",
                        "l",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-X",
            ],
            description: Some("File descriptor table only"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "names",
            source: Directories,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)