(
    version: 1,
    command: "lsof",
    description: Some("List open files"),
    options: [
        (
            names: [
                "-?",
                "-h",
                "--help",
            ],
            description: Some("Help"),
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Apply AND to the selections (defaults to OR)"),
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Avoid kernel blocks"),
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Select the listing of files for processes executing a command"),
            arguments: [
                (
                    name: "string or regexp (optional ending with /i /b /x)",
                ),
            ],
        ),
        (
            names: [
                "+c",
            ],
            description: Some("COMMAND width (9)"),
            arguments: [
                (
                    name: "number",
                ),
            ],
        ),
        (
            names: [
                "+d",
            ],
            description: Some("Search for all open instances/files/directories of directory"),
            arguments: [
                (
                    name: "file",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Specify a list of file descriptors (FDs) to exclude from or include in the output listing"),
            arguments: [
                (
                    name: "File descriptor number",
                ),
            ],
        ),
        (
            names: [
                "+D",
            ],
            description: Some("Search tree for all open instances/files/directories of directory. *SLOW?*"),
            arguments: [
                (
                    name: "file",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "+f",
            ],
            description: Some("Enable path name arguments to be interpreted"),
            arguments: [
                (
                    name: "flags",
                    suggestions: [
                        (
                            name: "c",
                            description: Some("File structure use count"),
                        ),
                        (
                            name: "g",
                            description: Some("File flag abbreviations"),
                        ),
                        (
                            name: "G",
                            description: Some("File flags in hexadecimal"),
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Inhibit path name arguments to be interpreted"),
            arguments: [
                (
                    name: "flags",
                    suggestions: [
                        (
                            name: "c",
                            description: Some("File structure use count"),
                        ),
                        (
                            name: "g",
                            description: Some("File flag abbreviations"),
                        ),
                        (
                            name: "G",
                            description: Some("File flags in hexadecimal"),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-F",
            ],
            description: Some("Select fields to output"),
            arguments: [
                (
                    name: "options",
                    suggestions: [
                        (
                            name: "a",
                            description: Some("Access: r = read; w = write; u = read/write"),
                        ),
                        (
                            name: "c",
                            description: Some("Command name"),
                        ),
                        (
                            name: "C",
                            description: Some("File struct share count"),
                        ),
                        (
                            name: "d",
                            description: Some("Device character code"),
                        ),
                        (
                            name: "D",
                            description: Some("Major/minor device number as 0x<hex>"),
                        ),
                        (
                            name: "f",
                            description: Some("File descriptor (always selected)"),
                        ),
                        (
                            name: "G",
                            description: Some("File flaGs"),
                        ),
                        (
                            name: "i",
                            description: Some("Inode number"),
                        ),
                        (
                            name: "k",
                            description: Some("Link count"),
                        ),
                        (
                            name: "K",
                            description: Some("Task ID (TID)"),
                        ),
                        (
                            name: "l",
                            description: Some("Lock: r/R = read; w/W = write; u = read/write"),
                        ),
                        (
                            name: "L",
                            description: Some("Login name"),
                        ),
                        (
                            name: "m",
                            description: Some("Marker between repeated output"),
                        ),
                        (
                            name: "M",
                            description: Some("Task comMand name"),
                        ),
                        (
                            name: "n",
                            description: Some("Comment, name, Internet addresses"),
                        ),
                        (
                            name: "o",
                            description: Some("File offset as 0t<dec> or 0x<hex>"),
                        ),
                        (
                            name: "p",
                            description: Some("Process ID (PID)"),
                        ),
                        (
                            name: "g",
                            description: Some("Process group ID (PGID)"),
                        ),
                        (
                            name: "P",
                            description: Some("Protocol name"),
                        ),
                        (
                            name: "r",
                            description: Some("Raw device number as 0x<hex>"),
                        ),
                        (
                            name: "R",
                            description: Some("PaRent PID"),
                        ),
                        (
                            name: "s",
                            description: Some("File size"),
                        ),
                        (
                            name: "S",
                            description: Some("Stream module and device names"),
                        ),
                        (
                            name: "t",
                            description: Some("File type"),
                        ),
                        (
                            name: "T",
                            description: Some("TCP/TPI info"),
                        ),
                        (
                            name: "u",
                            description: Some("User ID (UID)"),
                        ),
                        (
                            name: "0",
                            description: Some("(zero) use NUL field terminator instead of N"),
                        ),
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-F?",
            ],
            description: Some("Show fields for -F"),
        ),
        (
            names: [
                "-g",
            ],
            description: Some("Exclude or select by process group IDs (PGID)"),
            arguments: [
                (
                    name: "PGID",
                    description: Some("Process Group ID (comma separated)"),
                ),
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Selects files by [46][protocol][@hostname|hostaddr][:service|port]"),
            arguments: [
                (
                    name: "options",
                    generators: [
                        (
                            script: [
                                "echo",
                            ],
                            has_post_process: true,
                        ),
                        (
                            script: [
                                "echo",
                            ],
                            has_post_process: true,
                        ),
                        (
                            script: [
                                "ifconfig",
                            ],
                            has_post_process: true,
                            trigger: Some(OnMatch([
                                    "@",
                                ])),
                        ),
                        (
                            script: [
                                "echo",
                            ],
                            has_post_process: true,
                            trigger: Some(OnMatch([
                                    ":",
                                ])),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Inhibit conversion of user IDs to login names"),
        ),
        (
            names: [
                "+L",
            ],
            description: Some("Enable listing of file link counts"),
            arguments: [
                (
                    name: "number",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("Disable listing of file link counts"),
            arguments: [
                (
                    name: "number",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "+M",
            ],
            description: Some("Enable portMap registration"),
        ),
        (
            names: [
                "-M",
            ],
            description: Some("Disable portMap registration"),
        ),
        (
            names: [
                "-n",
            ],
            description: Some("No host names"),
        ),
        (
            names: [
                "-N",
            ],
            description: Some("Select NFS files"),
        ),
        (
            names: [
                "-o",
            ],
            description: Some("List file offset"),
        ),
        (
            names: [
                "-O",
            ],
            description: Some("No overhead *RISKY*"),
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Exclude or select process identification numbers (PIDs)"),
            arguments: [
                (
                    name: "PIDs",
                    description: Some("PIDs to select or exclude ( with ^)"),
                ),
            ],
        ),
        (
            names: [
                "-P",
            ],
            description: Some("No port names"),
        ),
        (
            names: [
                "+r",
            ],
            description: Some("Repeat every t seconds (15) until no files"),
            arguments: [
                (
                    name: "time (seconds)",
                    description: Some("Time per repeat"),
                ),
            ],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Repeat every t seconds (15) forever"),
            arguments: [
                (
                    name: "time (seconds)",
                    description: Some("Time per repeat"),
                ),
            ],
        ),
        (
            names: [
                "-R",
            ],
            description: Some("List parent PID"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("List file size or exclude/select protocol"),
            arguments: [
                (
                    name: "protocol:state",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Stat timeout in seconds (lstat/readlink/stat)"),
            arguments: [
                (
                    name: "timeout (seconds)",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-T",
            ],
            description: Some("Disable TCP/TPI info"),
            arguments: [
                (
                    name: "info",
                    suggestions: [
                        (
                            name: "f",
                            description: Some("Selects reporting of socket options/states/values and tcp flag values"),
                        ),
                        (
                            name: "q",
                            description: Some("Selects queue length reporting"),
                        ),
                        (
                            name: "s",
                            description: Some("Selects connection state reporting"),
                        ),
                        (
                            name: "w",
                            description: Some("Selects window size reporting"),
                        ),
                        (
                            name: "",
                            description: Some("Disables info"),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Specify terse listing"),
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Exclude/select login|UID set"),
            arguments: [
                (
                    name: "UIDs",
                ),
            ],
        ),
        (
            names: [
                "-U",
            ],
            description: Some("Select Unix socket"),
        ),
        (
            names: [
                "-v",
            ],
            description: Some("List version info"),
        ),
        (
            names: [
                "-V",
            ],
            description: Some("Verbose search"),
        ),
        (
            names: [
                "+w",
            ],
            description: Some("Enable warnings"),
        ),
        (
            names: [
                "-w",
            ],
            description: Some("Disable warnings"),
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Cross over +d|+D File systems or symbolic links"),
            arguments: [
                (
                    name: "cross-over option",
                    suggestions: [
                        (
                            name: "f",
                            description: Some("File system mount point cross-over processing"),
                        ),
                        (
                            name: "l",
                            description: Some("Symbolic link cross-over processing"),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-X",
            ],
            description: Some("File descriptor table only"),
        ),
    ],
    arguments: [
        (
            name: "names",
            description: Some("Select named files or files on named file systems"),
            template: [
                Folders,
            ],
            optional: true,
            variadic: true,
        ),
    ],
)
