(
    version: 1,
    command: "luz",
    description: Some("A next-generation build system for Apple Darwin-based systems"),
    subcommands: [
        (
            name: "build",
            aliases: [],
            description: Some("Build the target in the current directory"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Show help for the build command"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--clean",
                        "-c",
                    ],
                    description: Some("Clean the build directory before building"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "gen",
            aliases: [],
            description: Some("Generate a new project"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Show help for the gen command"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--type",
                        "-t",
                    ],
                    description: Some("The type of project to generate"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "type",
                            source: Static([
                                "tool",
                                "tweak",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for Luz"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)