(
    version: 1,
    command: "lvim",
    description: Some("Hyperextensible Vim-based text editor"),
    subcommands: [],
    options: [
        (
            names: [
                "+",
            ],
            description: Some("Start at end of file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--cmd",
            ],
            description: Some("Execute <cmd> before any config"),
            takes_value: true,
            arguments: [
                (
                    name: "cmd",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Execute <cmd> after config and first file"),
            takes_value: true,
            arguments: [
                (
                    name: "cmd",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Binary mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Diff mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-e",
                "-E",
            ],
            description: Some("Ex mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-es",
                "-Es",
            ],
            description: Some("Silent (batch) mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print this help message"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Use this shada file"),
            takes_value: true,
            arguments: [
                (
                    name: "shada",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Modifications (writing files) not allowed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-M",
            ],
            description: Some("Modifications in text not allowed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("No swap file, use memory only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Open N windows (default: one per file)"),
            takes_value: true,
            arguments: [
                (
                    name: "N",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-O",
            ],
            description: Some("Open N vertical windows (default: one per file)"),
            takes_value: true,
            arguments: [
                (
                    name: "N",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Open N tab pages (default: one per file)"),
            takes_value: true,
            arguments: [
                (
                    name: "N",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("List swap files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Recover edit state for this file"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Read-only mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Source <session> after loading the first file"),
            takes_value: true,
            arguments: [
                (
                    name: "session",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Read Normal mode commands from <scriptin>"),
            takes_value: true,
            arguments: [
                (
                    name: "scriptin",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Use this config file"),
            takes_value: true,
            arguments: [
                (
                    name: "config",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Print version information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--api-info",
            ],
            description: Some("Write msgpack-encoded API metadata to stdout"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--embed",
            ],
            description: Some("Use stdin/stdout as a msgpack-rpc channel"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--headless",
            ],
            description: Some("Don\'t start a user interface"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--listen",
            ],
            description: Some("Serve RPC API from this address"),
            takes_value: true,
            arguments: [
                (
                    name: "address",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--noplugin",
            ],
            description: Some("Don\'t load plugins"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--remote",
                "--remote-subcommand",
            ],
            description: Some("Execute commands remotely on a server"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--server",
            ],
            description: Some("Specify RPC server to send commands to"),
            takes_value: true,
            arguments: [
                (
                    name: "address",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--startuptime",
            ],
            description: Some("Write startup timing messages to <file>"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Directories,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)