(
    version: 1,
    command: "maigret",
    description: Some("Maigret is an easy-to-use and powerful OSINT tool for collecting a dossier on a person by username only"),
    options: [
        (
            names: [
                "-a",
                "--all-sites",
            ],
            description: Some("Use all sites for scan"),
            presentation: (
                icon: Some("🌍"),
            ),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Display version information and dependencies"),
        ),
        (
            names: [
                "--timeout",
            ],
            description: Some("Time in seconds to wait for response to requests (default {settings.timeout}s). A longer timeout will be more likely to get results from slow sites. On the other hand, this may cause a long delay to gather all results"),
            arguments: [
                (
                    name: "Timeout",
                    description: Some("Timeout in seconds"),
                ),
            ],
            presentation: (
                icon: Some("⚙️"),
            ),
        ),
        (
            names: [
                "--retries",
            ],
            description: Some("Attempts to restart temporarily failed requests"),
            arguments: [
                (
                    name: "Retries",
                    description: Some("Number of attempts"),
                ),
            ],
            presentation: (
                icon: Some("⚙️"),
            ),
        ),
        (
            names: [
                "-n",
                "--max-connections",
            ],
            description: Some("Allowed number of concurrent connections (default {settings.max_connections})"),
            arguments: [
                (
                    name: "Connections",
                    description: Some("Number connections"),
                ),
            ],
            presentation: (
                icon: Some("⚙️"),
            ),
        ),
        (
            names: [
                "--no-recursion",
            ],
            description: Some("Disable recursive search by additional data extracted from pages"),
            presentation: (
                icon: Some("⚙️"),
            ),
        ),
        (
            names: [
                "--no-extracting",
            ],
            description: Some("Disable parsing pages for additional data and other usernames"),
            presentation: (
                icon: Some("⚙️"),
            ),
        ),
        (
            names: [
                "--id-type",
            ],
            description: Some("Specify identifier(s) type (default: username)"),
            arguments: [
                (
                    name: "Type",
                    description: Some("Type of identifier"),
                    suggestions: [
                        (
                            name: "username",
                        ),
                        (
                            name: "yandex_public_id",
                        ),
                        (
                            name: "gaia_id",
                        ),
                        (
                            name: "vk_id",
                        ),
                        (
                            name: "ok_id",
                        ),
                        (
                            name: "wikimapia_uid",
                        ),
                        (
                            name: "steam_id",
                        ),
                        (
                            name: "uidme_uguid",
                        ),
                        (
                            name: "yelp_userid",
                        ),
                    ],
                    default: Some("username"),
                ),
            ],
            presentation: (
                icon: Some("⚙️"),
            ),
        ),
        (
            names: [
                "--db",
            ],
            description: Some("Load Maigret database from a JSON file or HTTP web resource"),
            arguments: [
                (
                    name: "DB path",
                    description: Some("DB path"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            presentation: (
                icon: Some("🗄"),
            ),
        ),
        (
            names: [
                "--cookies-jar-file",
            ],
            description: Some("File with cookies"),
            arguments: [
                (
                    name: "Cookie file",
                    description: Some("Cookie file"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            presentation: (
                icon: Some("🍪"),
            ),
        ),
        (
            names: [
                "--ignore-ids",
            ],
            description: Some("Do not make search by the specified username or other ids"),
            arguments: [
                (
                    name: "Ignored ids",
                    description: Some("Ignored ids"),
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-fo",
                "--folderoutput",
            ],
            description: Some("If using multiple usernames, the output of the results will be saved to this folder"),
            arguments: [
                (
                    name: "Reports path",
                    description: Some("Reports path"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--proxy",
            ],
            description: Some("Make requests over a proxy. e.g. socks5://127.0.0.1:1080"),
            arguments: [
                (
                    name: "Proxy URL",
                    description: Some("Proxy URL"),
                ),
            ],
        ),
        (
            names: [
                "--tor-proxy",
            ],
            description: Some("Specify URL of your Tor gateway. Default is socks5://127.0.0.1:9050"),
            arguments: [
                (
                    name: "Tor Proxy URL",
                    description: Some("Tor Proxy URL"),
                ),
            ],
        ),
        (
            names: [
                "--i2p-proxy",
            ],
            description: Some("Specify URL of your I2P gateway. Default is http://127.0.0.1:4444"),
            arguments: [
                (
                    name: "I2P URL",
                    description: Some("I2P URL"),
                ),
            ],
        ),
        (
            names: [
                "--with-domains",
            ],
            description: Some("Enable (experimental) feature of checking domains on usernames"),
        ),
        (
            names: [
                "--tags",
            ],
            description: Some("Specify tags of sites (see `--stats`)"),
            arguments: [
                (
                    name: "Tags",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--site",
            ],
            description: Some("Limit analysis to just the specified sites (multiple option)"),
            arguments: [
                (
                    name: "Site name",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--use-disabled-sites",
            ],
            description: Some("Use disabled sites to search (may cause many false positives)"),
        ),
        (
            names: [
                "--parse",
            ],
            description: Some("Parse page by URL and extract username and IDs to use for search"),
            arguments: [
                (
                    name: "Parse URL",
                ),
            ],
        ),
        (
            names: [
                "--submit",
            ],
            description: Some("URL of existing profile in new site to submit"),
            arguments: [
                (
                    name: "Site URL",
                    default: Some("False"),
                ),
            ],
        ),
        (
            names: [
                "--self-check",
            ],
            description: Some("Do self check for sites and database and disable non-working ones"),
        ),
        (
            names: [
                "--stats",
            ],
            description: Some("Show database statistics (most frequent sites engines and tags)"),
        ),
        (
            names: [
                "--print-not-found",
            ],
            description: Some("Print sites where the username was not found"),
        ),
        (
            names: [
                "--print-errors",
            ],
            description: Some("Print errors messages: connection, captcha, site country ban, etc"),
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Display extra information and metrics"),
        ),
        (
            names: [
                "-info",
                "--vv",
            ],
            description: Some("Display extra/service information and metrics"),
        ),
        (
            names: [
                "--debug",
                "-vvv",
                "-d",
            ],
            description: Some("Display extra/service/debug information and metrics, save responses in debug.log"),
        ),
        (
            names: [
                "--no-color",
            ],
            description: Some("Don't color terminal output"),
        ),
        (
            names: [
                "--no-progressbar",
            ],
            description: Some("Don't show progressbar"),
        ),
        (
            names: [
                "-T",
                "--txt",
            ],
            description: Some("Create a TXT report (one report per username)"),
        ),
        (
            names: [
                "-C",
                "--csv",
            ],
            description: Some("Create a CSV report (one report per username)"),
        ),
        (
            names: [
                "-H",
                "--html",
            ],
            description: Some("Create an HTML report (one report per username)"),
        ),
        (
            names: [
                "-X",
                "--xmind",
            ],
            description: Some("Create a XMind 8 mindmap report (one report per username)"),
        ),
        (
            names: [
                "-P",
                "--pdf",
            ],
            description: Some("Create a PDF report (one report per username)"),
        ),
        (
            names: [
                "-G",
                "--graph",
            ],
            description: Some("Create a graph report (one report per username)"),
        ),
        (
            names: [
                "-J",
                "--json",
            ],
            description: Some("Generate a JSON report of specific type: simple, ndjson (one report per username)"),
            arguments: [
                (
                    name: "Type",
                    suggestions: [
                        (
                            name: "simple",
                        ),
                        (
                            name: "ndjson",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--reports-sorting",
            ],
            description: Some("Method of results sorting in reports (default: in order of getting the result)"),
            arguments: [
                (
                    name: "Type",
                    suggestions: [
                        (
                            name: "default",
                        ),
                        (
                            name: "data",
                        ),
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "user",
            description: Some("The username for which you want to search sites"),
            variadic: true,
        ),
    ],
)
