(
    version: 1,
    command: "mailsy",
    description: Some("⚡\u{fe0f} Quickly generate a disposable email straight from terminal"),
    subcommands: [
        (
            name: "g",
            aliases: [],
            description: Some("Generate a new email"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "m",
            aliases: [],
            description: Some("Fetch messages from the inbox"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "d",
            aliases: [],
            description: Some("Delete account"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "me",
            aliases: [],
            description: Some("Show details of the account"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Get help for a command"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Output the current version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)