(
    version: 1,
    command: "mas",
    description: Some("A simple command line interface for the Mac App Store"),
    subcommands: [
        (
            name: "account",
            aliases: [],
            description: Some("Prints the primary account Apple ID"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Display general or command-specific help"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "home",
            aliases: [],
            description: Some("Opens MAS Preview app page in a browser"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "info",
            aliases: [],
            description: Some("Display app information from the Mac App Store"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "Application",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "install",
            aliases: [],
            description: Some("Install an application"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "Application",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("Lists apps from the Mac App Store which are currently installed"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "lucky",
            aliases: [],
            description: Some("Install the first result from the Mac App Store"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "Application",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "open",
            aliases: [],
            description: Some("Opens app page in AppStore.app"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "Application",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "outdated",
            aliases: [],
            description: Some("Lists pending updates from the Mac App Store"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "purchase",
            aliases: [],
            description: Some("Purchase and download free apps from the Mac App Store"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "Application",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "reset",
            aliases: [],
            description: Some("Resets the Mac App Store"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "search",
            aliases: [],
            description: Some("Search for apps from the Mac App Store"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "Application",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "signin",
            aliases: [],
            description: Some("Sign in to the Mac App Store"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "signout",
            aliases: [],
            description: Some("Sign out of the Mac App Store"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "uninstall",
            aliases: [],
            description: Some("Uninstall app installed from the Mac App Store"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "Application",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "upgrade",
            aliases: [],
            description: Some("Upgrade outdated apps from the Mac App Store"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "vendor",
            aliases: [],
            description: Some("Opens vendor\'s app page in a browser"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "App ID",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "version",
            aliases: [],
            description: Some("Print version number"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)