(
    version: 1,
    command: "mas",
    description: Some("A simple command line interface for the Mac App Store"),
    subcommands: [
        (
            name: "account",
            description: Some("Prints the primary account Apple ID"),
        ),
        (
            name: "help",
            description: Some("Display general or command-specific help"),
        ),
        (
            name: "home",
            description: Some("Opens MAS Preview app page in a browser"),
        ),
        (
            name: "info",
            description: Some("Display app information from the Mac App Store"),
            arguments: [
                (
                    name: "Application",
                    description: Some("The application you want to show info"),
                ),
            ],
        ),
        (
            name: "install",
            description: Some("Install an application"),
            arguments: [
                (
                    name: "Application",
                    description: Some("The application you want to Install"),
                ),
            ],
        ),
        (
            name: "list",
            description: Some("Lists apps from the Mac App Store which are currently installed"),
        ),
        (
            name: "lucky",
            description: Some("Install the first result from the Mac App Store"),
            arguments: [
                (
                    name: "Application",
                    description: Some("The application you want to Install"),
                ),
            ],
        ),
        (
            name: "open",
            description: Some("Opens app page in AppStore.app"),
            arguments: [
                (
                    name: "Application",
                    description: Some("The application you want to Open"),
                ),
            ],
        ),
        (
            name: "outdated",
            description: Some("Lists pending updates from the Mac App Store"),
        ),
        (
            name: "purchase",
            description: Some("Purchase and download free apps from the Mac App Store"),
            arguments: [
                (
                    name: "Application",
                    description: Some("The application you want to purchase"),
                ),
            ],
        ),
        (
            name: "reset",
            description: Some("Resets the Mac App Store"),
        ),
        (
            name: "search",
            description: Some("Search for apps from the Mac App Store"),
            arguments: [
                (
                    name: "Application",
                    description: Some("The application you want to Search"),
                ),
            ],
        ),
        (
            name: "signin",
            description: Some("Sign in to the Mac App Store"),
        ),
        (
            name: "signout",
            description: Some("Sign out of the Mac App Store"),
        ),
        (
            name: "uninstall",
            description: Some("Uninstall app installed from the Mac App Store"),
            arguments: [
                (
                    name: "Application",
                    description: Some("The application you want to uninstall"),
                ),
            ],
        ),
        (
            name: "upgrade",
            description: Some("Upgrade outdated apps from the Mac App Store"),
        ),
        (
            name: "vendor",
            description: Some("Opens vendor's app page in a browser"),
            arguments: [
                (
                    name: "App ID",
                    description: Some("The application you want to open vendor's app"),
                ),
            ],
        ),
        (
            name: "version",
            description: Some("Print version number"),
        ),
    ],
)
