(
    version: 1,
    command: "mdfind",
    description: Some("Finds files matching a given query"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for mdfind"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-0",
            ],
            description: Some("Prints an ASCII NUL character after each result path"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-live",
            ],
            description: Some("Provide live-updates to the number of files matching the query"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-count",
            ],
            description: Some("Output the total number of matches, instead of the path to the matching items"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-onlyin",
            ],
            description: Some("Limit the scope of the search to <dir>"),
            takes_value: true,
            arguments: [
                (
                    name: "dir",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-name",
            ],
            description: Some("Search for matching file names to <filename> only"),
            takes_value: true,
            arguments: [
                (
                    name: "filename",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-reprint",
            ],
            description: Some("Reprint results on live update"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Show contents of smart folder ~/Library/Saved Searches/<folder>.savedSearch"),
            takes_value: true,
            arguments: [
                (
                    name: "folder",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
        ),
        (
            names: [
                "-literal",
            ],
            description: Some("Force the provided query string to be taken as a literal query string, without interpretation"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-interpret",
            ],
            description: Some("Force the provided query string to be interpreted as if it had been typed into the Spotlight menu"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "query",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)