(
    version: 1,
    command: "mdls",
    description: Some("Lists the metadata attributes for the specified file"),
    subcommands: [],
    options: [
        (
            names: [
                "--name",
                "-name",
            ],
            description: Some("Print only the matching metadata attribute value.  Can be used multiple times"),
            takes_value: true,
            arguments: [
                (
                    name: "attributeName",
                    source: Static([
                        "_kMDItemDisplayNameWithExtensions",
                        "kMDItemContentCreationDate",
                        "kMDItemContentCreationDate_Ranking",
                        "kMDItemContentModificationDate",
                        "kMDItemContentModificationDate_Ranking",
                        "kMDItemContentType",
                        "kMDItemContentTypeTree",
                        "kMDItemDateAdded",
                        "kMDItemDateAdded_Ranking",
                        "kMDItemDisplayName",
                        "kMDItemDocumentIdentifier",
                        "kMDItemFSContentChangeDate",
                        "kMDItemFSCreationDate",
                        "kMDItemFSCreatorCode",
                        "kMDItemFSFinderFlags",
                        "kMDItemFSHasCustomIcon",
                        "kMDItemFSInvisible",
                        "kMDItemFSIsExtensionHidden",
                        "kMDItemFSIsStationery",
                        "kMDItemFSLabel",
                        "kMDItemFSName",
                        "kMDItemFSNodeCount",
                        "kMDItemFSOwnerGroupID",
                        "kMDItemFSOwnerUserID",
                        "kMDItemFSSize",
                        "kMDItemFSTypeCode",
                        "kMDItemInterestingDate_Ranking",
                        "kMDItemKind",
                        "kMDItemLogicalSize",
                        "kMDItemPhysicalSize",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--raw",
                "-raw",
            ],
            description: Some("Print raw attribute data in the order that was requested. Fields will be separated with a ASCII NUL character, suitable for piping to xargs(1) -0"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nullMarker",
                "-nullMarker",
            ],
            description: Some("Sets a marker string to be used when a requested attribute is null. Only used in -raw mode.  Default is \'(null)\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--plist",
                "-plist",
            ],
            description: Some("Output attributes in XML format to file. Use - to write to stdout option. Incompatible with options -raw, -nullMarker, and -name"),
            takes_value: true,
            arguments: [
                (
                    name: "stdout or file",
                    source: Static([
                        "-",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "file",
            source: Files,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)