(
    version: 1,
    command: "mikro-orm",
    description: Some("TypeScript ORM for Node.js based on Data Mapper, Unit of Work and Identity Map patterns. Supports MongoDB, MySQL, MariaDB, PostgreSQL and SQLite databases"),
    subcommands: [
        (
            name: "cache:clear",
            description: Some("Clear metadata cache"),
        ),
        (
            name: "cache:generate",
            description: Some("Generate metadata cache for production"),
        ),
        (
            name: "generate-entities",
            description: Some("Generate entities based on current database schema"),
            options: [
                (
                    names: [
                        "-s",
                        "--save",
                    ],
                    description: Some("Saves entities to directory defined by --path"),
                ),
                (
                    names: [
                        "-d",
                        "--dump",
                    ],
                    description: Some("Dumps all entities to console"),
                ),
                (
                    names: [
                        "-p",
                        "--path",
                    ],
                    description: Some("Sets path to directory where to save entities"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--schema",
                    ],
                    description: Some("Generates entities only for given schema"),
                    arguments: [
                        (
                            name: "schema",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "database:create",
            description: Some("Create your database if it does not exist"),
        ),
        (
            name: "database:import",
            description: Some("Imports the SQL file to the database"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "seeder:run",
            description: Some("Seed the database using the seeder class"),
        ),
        (
            name: "seeder:create",
            description: Some("Create a new seeder class"),
            options: [
                (
                    names: [
                        "--class",
                    ],
                    description: Some("Seeder class to run"),
                ),
            ],
        ),
        (
            name: "schema:create",
            description: Some("Create database schema based on current metadata"),
            options: [
                (
                    names: [
                        "-r",
                        "--run",
                    ],
                    description: Some("Runs queries"),
                ),
                (
                    names: [
                        "-d",
                        "--dump",
                    ],
                    description: Some("Dumps all queries to console"),
                ),
                (
                    names: [
                        "--fk-checks",
                    ],
                    description: Some("Do not skip foreign key checks"),
                ),
                (
                    names: [
                        "--schema",
                    ],
                    description: Some("Set the current schema for wildcard schema entities"),
                    arguments: [
                        (
                            name: "schema",
                        ),
                    ],
                ),
                (
                    names: [
                        "--seed",
                    ],
                    description: Some("Allows to seed the database on create or drop and recreate"),
                    arguments: [
                        (
                            name: "seed",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "schema:drop",
            description: Some("Drop database schema based on current metadata"),
            options: [
                (
                    names: [
                        "-r",
                        "--run",
                    ],
                    description: Some("Runs queries"),
                ),
                (
                    names: [
                        "-d",
                        "--dump",
                    ],
                    description: Some("Dumps all queries to console"),
                ),
                (
                    names: [
                        "--fk-checks",
                    ],
                    description: Some("Do not skip foreign key checks"),
                ),
                (
                    names: [
                        "--schema",
                    ],
                    description: Some("Set the current schema for wildcard schema entities"),
                    arguments: [
                        (
                            name: "schema",
                        ),
                    ],
                ),
                (
                    names: [
                        "--drop-migrations-table",
                    ],
                    description: Some("Drop also migrations table"),
                ),
                (
                    names: [
                        "--drop-db",
                    ],
                    description: Some("Drop the whole database"),
                ),
            ],
        ),
        (
            name: "schema:update",
            description: Some("Update database schema based on current metadata"),
            options: [
                (
                    names: [
                        "-r",
                        "--run",
                    ],
                    description: Some("Runs queries"),
                ),
                (
                    names: [
                        "-d",
                        "--dump",
                    ],
                    description: Some("Dumps all queries to console"),
                ),
                (
                    names: [
                        "--fk-checks",
                    ],
                    description: Some("Do not skip foreign key checks"),
                ),
                (
                    names: [
                        "--schema",
                    ],
                    description: Some("Set the current schema for wildcard schema entities"),
                    arguments: [
                        (
                            name: "schema",
                        ),
                    ],
                ),
                (
                    names: [
                        "--safe",
                    ],
                    description: Some("Allows to disable table and column dropping"),
                ),
                (
                    names: [
                        "--drop-tables",
                    ],
                    description: Some("Allows to disable table dropping"),
                ),
            ],
        ),
        (
            name: "schema:fresh",
            description: Some("Drop and recreate database schema based on current metadata"),
            options: [
                (
                    names: [
                        "-r",
                        "--run",
                    ],
                    description: Some("Runs queries"),
                ),
                (
                    names: [
                        "--schema",
                    ],
                    description: Some("Set the current schema for wildcard schema entities"),
                    arguments: [
                        (
                            name: "schema",
                        ),
                    ],
                ),
                (
                    names: [
                        "--seed",
                    ],
                    description: Some("Allows to seed the database on create or drop and recreate"),
                    arguments: [
                        (
                            name: "seed",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "migration:create",
            description: Some("Create new migration with current schema diff"),
            options: [
                (
                    names: [
                        "-b",
                        "--blank",
                    ],
                    description: Some("Create blank migration"),
                ),
                (
                    names: [
                        "-i",
                        "--initial",
                    ],
                    description: Some("Create initial migration"),
                ),
                (
                    names: [
                        "-d",
                        "--dump",
                    ],
                    description: Some("Dumps all queries to console"),
                ),
                (
                    names: [
                        "-p",
                        "--path",
                    ],
                    description: Some("Sets path to directory where to save entities"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "migration:up",
            description: Some("Migrate up to the latest version"),
            options: [
                (
                    names: [
                        "-t",
                        "--to",
                    ],
                    description: Some("Migrate up to specific version"),
                ),
                (
                    names: [
                        "-f",
                        "--from",
                    ],
                    description: Some("Start migration from specific version"),
                ),
                (
                    names: [
                        "-o",
                        "--only",
                    ],
                    description: Some("Migrate only specified versions"),
                ),
            ],
        ),
        (
            name: "migration:down",
            description: Some("Migrate one step down"),
            options: [
                (
                    names: [
                        "-t",
                        "--to",
                    ],
                    description: Some("Migrate down to specific version"),
                ),
                (
                    names: [
                        "-f",
                        "--from",
                    ],
                    description: Some("Start migration from specific version"),
                ),
                (
                    names: [
                        "-o",
                        "--only",
                    ],
                    description: Some("Migrate only specified versions"),
                ),
            ],
        ),
        (
            name: "migration:list",
            description: Some("List all executed migrations"),
        ),
        (
            name: "migration:pending",
            description: Some("List all pending migrations"),
        ),
        (
            name: "migration:fresh",
            description: Some("Clear the database and rerun all migrations"),
            options: [
                (
                    names: [
                        "--seed",
                    ],
                    description: Some("Allows to seed the database on create or drop and recreate"),
                    arguments: [
                        (
                            name: "seed",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "debug",
            description: Some("Debug CLI configuration"),
        ),
    ],
    options: [
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show version number"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help"),
        ),
    ],
)
