(
    version: 1,
    command: "minectl",
    description: Some("Create Minecraft Server on different cloud provider"),
    subcommands: [
        (
            name: "completion",
            description: Some("Generate the autocompletion script for the specified shell"),
            subcommands: [
                (
                    name: "bash",
                    description: Some("Generate the autocompletion script for bash"),
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                        ),
                    ],
                ),
                (
                    name: "fish",
                    description: Some("Generate the autocompletion script for fish"),
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                        ),
                    ],
                ),
                (
                    name: "powershell",
                    description: Some("Generate the autocompletion script for powershell"),
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                        ),
                    ],
                ),
                (
                    name: "zsh",
                    description: Some("Generate the autocompletion script for zsh"),
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "create",
            description: Some("Create an Minecraft Server"),
            options: [
                (
                    names: [
                        "--filename",
                        "-f",
                    ],
                    description: Some("Location of the manifest file"),
                    arguments: [
                        (
                            name: "filename",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--wait",
                        "-w",
                    ],
                    description: Some("Wait for Minecraft Server is started"),
                ),
            ],
        ),
        (
            name: "delete",
            description: Some("Delete an Minecraft Server"),
            options: [
                (
                    names: [
                        "--filename",
                        "-f",
                    ],
                    description: Some("Location of the manifest file"),
                    arguments: [
                        (
                            name: "filename",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                    ],
                    description: Some("Contains the server id"),
                    arguments: [
                        (
                            name: "id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatically delete the server"),
                ),
            ],
        ),
        (
            name: "list",
            description: Some("List all Minecraft Server"),
            options: [
                (
                    names: [
                        "--provider",
                        "-p",
                    ],
                    description: Some("The cloud provider - civo|scaleway|do|hetzner|akamai|ovh|equinix|gce|vultr|azure|oci|ionos|aws|vexxhost|multipass|exoscale"),
                    arguments: [
                        (
                            name: "provider",
                            suggestions: [
                                (
                                    name: "civo",
                                ),
                                (
                                    name: "scaleway",
                                ),
                                (
                                    name: "do",
                                ),
                                (
                                    name: "hetzner",
                                ),
                                (
                                    name: "linode",
                                ),
                                (
                                    name: "ovh",
                                ),
                                (
                                    name: "equinix",
                                ),
                                (
                                    name: "gce",
                                ),
                                (
                                    name: "vultr",
                                ),
                                (
                                    name: "azure",
                                ),
                                (
                                    name: "oci",
                                ),
                                (
                                    name: "ionos",
                                ),
                                (
                                    name: "aws",
                                ),
                                (
                                    name: "vexxhost",
                                ),
                                (
                                    name: "multipass",
                                ),
                                (
                                    name: "exoscale",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--region",
                        "-r",
                    ],
                    description: Some("The region (gce: zone) for your cloud provider - civo|gce"),
                    arguments: [
                        (
                            name: "region",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "plugins",
            description: Some("Manage your plugins for a specific server"),
            options: [
                (
                    names: [
                        "--destination",
                        "-d",
                    ],
                    description: Some("Plugin destination folder"),
                    arguments: [
                        (
                            name: "destination",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--filename",
                        "-f",
                    ],
                    description: Some("Location of the manifest file"),
                    arguments: [
                        (
                            name: "filename",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                    ],
                    description: Some("Contains the server id"),
                    arguments: [
                        (
                            name: "id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--plugin",
                        "-p",
                    ],
                    description: Some("Location of the plugin"),
                    arguments: [
                        (
                            name: "plugin",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--ssh-key",
                        "-k",
                    ],
                    description: Some("Specify a specific path for the SSH key"),
                    arguments: [
                        (
                            name: "ssh-key",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "rcon",
            description: Some("RCON client to your Minecraft server"),
            options: [
                (
                    names: [
                        "--filename",
                        "-f",
                    ],
                    description: Some("Location of the manifest file"),
                    arguments: [
                        (
                            name: "filename",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                    ],
                    description: Some("Contains the server id"),
                    arguments: [
                        (
                            name: "id",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "update",
            description: Some("Update an Minecraft Server"),
            options: [
                (
                    names: [
                        "--filename",
                        "-f",
                    ],
                    description: Some("Location of the manifest file"),
                    arguments: [
                        (
                            name: "filename",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                    ],
                    description: Some("Contains the server id"),
                    arguments: [
                        (
                            name: "id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--ssh-key",
                        "-k",
                    ],
                    description: Some("Specify a specific path for the SSH key"),
                    arguments: [
                        (
                            name: "ssh-key",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "version",
            description: Some("Display the clients version information"),
        ),
        (
            name: "wizard",
            description: Some("Calls the minectl wizard to create interactively a minectl 🗺 config"),
            options: [
                (
                    names: [
                        "--output",
                        "-o",
                    ],
                    description: Some("Output folder for the configuration file for minectl 🗺 (default: ~/.minectl)"),
                    arguments: [
                        (
                            name: "output",
                            template: [
                                Folders,
                            ],
                            suggest_current_token: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Help about any command"),
            subcommands: [
                (
                    name: "completion",
                    description: Some("Generate the autocompletion script for the specified shell"),
                    subcommands: [
                        (
                            name: "bash",
                            description: Some("Generate the autocompletion script for bash"),
                        ),
                        (
                            name: "fish",
                            description: Some("Generate the autocompletion script for fish"),
                        ),
                        (
                            name: "powershell",
                            description: Some("Generate the autocompletion script for powershell"),
                        ),
                        (
                            name: "zsh",
                            description: Some("Generate the autocompletion script for zsh"),
                        ),
                    ],
                ),
                (
                    name: "create",
                    description: Some("Create an Minecraft Server"),
                ),
                (
                    name: "delete",
                    description: Some("Delete an Minecraft Server"),
                ),
                (
                    name: "list",
                    description: Some("List all Minecraft Server"),
                ),
                (
                    name: "plugins",
                    description: Some("Manage your plugins for a specific server"),
                ),
                (
                    name: "rcon",
                    description: Some("RCON client to your Minecraft server"),
                ),
                (
                    name: "update",
                    description: Some("Update an Minecraft Server"),
                ),
                (
                    name: "version",
                    description: Some("Display the clients version information"),
                ),
                (
                    name: "wizard",
                    description: Some("Calls the minectl wizard to create interactively a minectl 🗺 config"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--headless",
            ],
            description: Some("Set this value to if mincetl is called by a CI system. Enables logging and disables human-readable output rendering (default: false)"),
            persistent: true,
        ),
        (
            names: [
                "--log-encoding",
            ],
            description: Some("Set the log encoding: console|json (default: console)"),
            arguments: [
                (
                    name: "log-encoding",
                    suggestions: [
                        (
                            name: "console",
                        ),
                        (
                            name: "json",
                        ),
                    ],
                    default: Some("console"),
                ),
            ],
            persistent: true,
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Enable verbose logging: debug|info|warn|error|dpanic|panic|fatal"),
            arguments: [
                (
                    name: "verbose",
                    suggestions: [
                        (
                            name: "debug",
                        ),
                        (
                            name: "info",
                        ),
                        (
                            name: "warn",
                        ),
                        (
                            name: "error",
                        ),
                        (
                            name: "dpanic",
                        ),
                        (
                            name: "panic",
                        ),
                        (
                            name: "fatal",
                        ),
                    ],
                ),
            ],
            persistent: true,
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display help"),
            persistent: true,
        ),
    ],
)
