(
    version: 1,
    command: "minectl",
    description: Some("Create Minecraft Server on different cloud provider"),
    subcommands: [
        (
            name: "completion",
            aliases: [],
            description: Some("Generate the autocompletion script for the specified shell"),
            subcommands: [
                (
                    name: "bash",
                    aliases: [],
                    description: Some("Generate the autocompletion script for bash"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "fish",
                    aliases: [],
                    description: Some("Generate the autocompletion script for fish"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "powershell",
                    aliases: [],
                    description: Some("Generate the autocompletion script for powershell"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "zsh",
                    aliases: [],
                    description: Some("Generate the autocompletion script for zsh"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "create",
            aliases: [],
            description: Some("Create an Minecraft Server"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--filename",
                        "-f",
                    ],
                    description: Some("Location of the manifest file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "filename",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--wait",
                        "-w",
                    ],
                    description: Some("Wait for Minecraft Server is started"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "delete",
            aliases: [],
            description: Some("Delete an Minecraft Server"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--filename",
                        "-f",
                    ],
                    description: Some("Location of the manifest file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "filename",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                    ],
                    description: Some("Contains the server id"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--yes",
                        "-y",
                    ],
                    description: Some("Automatically delete the server"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("List all Minecraft Server"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--provider",
                        "-p",
                    ],
                    description: Some("The cloud provider - civo|scaleway|do|hetzner|akamai|ovh|equinix|gce|vultr|azure|oci|ionos|aws|vexxhost|multipass|exoscale"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "provider",
                            source: Static([
                                "civo",
                                "scaleway",
                                "do",
                                "hetzner",
                                "linode",
                                "ovh",
                                "equinix",
                                "gce",
                                "vultr",
                                "azure",
                                "oci",
                                "ionos",
                                "aws",
                                "vexxhost",
                                "multipass",
                                "exoscale",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--region",
                        "-r",
                    ],
                    description: Some("The region (gce: zone) for your cloud provider - civo|gce"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "region",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "plugins",
            aliases: [],
            description: Some("Manage your plugins for a specific server"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--destination",
                        "-d",
                    ],
                    description: Some("Plugin destination folder"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "destination",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--filename",
                        "-f",
                    ],
                    description: Some("Location of the manifest file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "filename",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                    ],
                    description: Some("Contains the server id"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--plugin",
                        "-p",
                    ],
                    description: Some("Location of the plugin"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "plugin",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ssh-key",
                        "-k",
                    ],
                    description: Some("Specify a specific path for the SSH key"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ssh-key",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "rcon",
            aliases: [],
            description: Some("RCON client to your Minecraft server"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--filename",
                        "-f",
                    ],
                    description: Some("Location of the manifest file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "filename",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                    ],
                    description: Some("Contains the server id"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Update an Minecraft Server"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--filename",
                        "-f",
                    ],
                    description: Some("Location of the manifest file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "filename",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                    ],
                    description: Some("Contains the server id"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ssh-key",
                        "-k",
                    ],
                    description: Some("Specify a specific path for the SSH key"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ssh-key",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "version",
            aliases: [],
            description: Some("Display the clients version information"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "wizard",
            aliases: [],
            description: Some("Calls the minectl wizard to create interactively a minectl 🗺 config"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--output",
                        "-o",
                    ],
                    description: Some("Output folder for the configuration file for minectl 🗺 (default: ~/.minectl)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "output",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Help about any command"),
            subcommands: [
                (
                    name: "completion",
                    aliases: [],
                    description: Some("Generate the autocompletion script for the specified shell"),
                    subcommands: [
                        (
                            name: "bash",
                            aliases: [],
                            description: Some("Generate the autocompletion script for bash"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "fish",
                            aliases: [],
                            description: Some("Generate the autocompletion script for fish"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "powershell",
                            aliases: [],
                            description: Some("Generate the autocompletion script for powershell"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "zsh",
                            aliases: [],
                            description: Some("Generate the autocompletion script for zsh"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                    ],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "create",
                    aliases: [],
                    description: Some("Create an Minecraft Server"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete an Minecraft Server"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List all Minecraft Server"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "plugins",
                    aliases: [],
                    description: Some("Manage your plugins for a specific server"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "rcon",
                    aliases: [],
                    description: Some("RCON client to your Minecraft server"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "update",
                    aliases: [],
                    description: Some("Update an Minecraft Server"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "version",
                    aliases: [],
                    description: Some("Display the clients version information"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "wizard",
                    aliases: [],
                    description: Some("Calls the minectl wizard to create interactively a minectl 🗺 config"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--headless",
            ],
            description: Some("Set this value to if mincetl is called by a CI system. Enables logging and disables human-readable output rendering (default: false)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--log-encoding",
            ],
            description: Some("Set the log encoding: console|json (default: console)"),
            takes_value: true,
            arguments: [
                (
                    name: "log-encoding",
                    source: Static([
                        "console",
                        "json",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Enable verbose logging: debug|info|warn|error|dpanic|panic|fatal"),
            takes_value: true,
            arguments: [
                (
                    name: "verbose",
                    source: Static([
                        "debug",
                        "info",
                        "warn",
                        "error",
                        "dpanic",
                        "panic",
                        "fatal",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display help"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)