(
    version: 1,
    command: "mix",
    description: Some("Build tool for Elixir"),
    subcommands: [
        (
            name: "new",
            aliases: [],
            description: Some("Creates a new Elixir project at the given path"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--app",
                    ],
                    description: Some("Name the OTP application for the project"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "app",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--modules",
                    ],
                    description: Some("Name the modules in the generated code skeleton"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "module",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--sup",
                    ],
                    description: Some("Generate an OTP application skeleton including a supervision tree. Normally an app is generated without a supervisor and without the app callback"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--umbrella",
                    ],
                    description: Some("Generate an umbrella project"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "run",
            aliases: [],
            description: Some("Starts the current application and runs code"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--config",
                    ],
                    description: Some("Loads the given configuration files"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-e",
                        "--eval",
                    ],
                    description: Some("Evaluates the given code"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "code",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-r",
                        "--require",
                    ],
                    description: Some("Executes the given pattern/file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "file|pattern",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--parallel",
                    ],
                    description: Some("Executes the given pattern/file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "file|pattern",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                    ],
                ),
                (
                    names: [
                        "--preload-modules",
                    ],
                    description: Some("Preloads all modules defined in applications"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-compile",
                    ],
                    description: Some("Does not compile even if files require compilation"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-deps-check",
                    ],
                    description: Some("Does not check dependencies"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-archives-check",
                    ],
                    description: Some("Does not check archives"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-halt",
                    ],
                    description: Some("Does not halt the system after running the command"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-mix-exs",
                    ],
                    description: Some("Allows the command to run even if there is no mix.exs"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-start",
                    ],
                    description: Some("Does not start applications after compilation"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-elixir-version-check",
                    ],
                    description: Some("Does not check the Elixir version from mix.exs"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "file",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Prints documentation for a given task (Lists all the tasks if no task is specified)"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--search",
                    ],
                    description: Some("Prints all tasks and aliases that contain \'pattern\' in the name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "pattern",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--names",
                    ],
                    description: Some("Prints all task names and aliases"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "task",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "mix",
                            "help",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Shows usage information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Shows versioning information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "task",
            source: Unavailable,
            optional: true,
            variadic: false,
            imported_generator: Some((
                script: [
                    "mix",
                    "help",
                ],
                has_post_process: true,
                has_custom: false,
            )),
        ),
    ],
)