(
    version: 1,
    command: "mkdir",
    description: Some("Make directories"),
    options: [
        (
            names: [
                "-m",
                "--mode",
            ],
            description: Some("Set file mode (as in chmod), not a=rwx - umask"),
            arguments: [
                (
                    name: "mode",
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--parents",
            ],
            description: Some("No error if existing, make parent directories as needed"),
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Print a message for each created directory"),
        ),
        (
            names: [
                "-Z",
                "--context",
            ],
            description: Some("Set the SELinux security context of each created directory"),
            arguments: [
                (
                    name: "context",
                ),
            ],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Display this help and exit"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Output version information and exit"),
        ),
    ],
    arguments: [
        (
            name: "directory name",
            template: [
                Folders,
            ],
            suggest_current_token: true,
        ),
    ],
)
