(
    version: 1,
    command: "mob",
    description: Some("Fast git handover for remote collaboration with mob.sh"),
    subcommands: [
        (
            name: "start",
            aliases: [
                "s",
            ],
            description: Some("Start session from base branch in wip branch"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--include-uncommitted-changes",
                        "-i",
                    ],
                    description: Some("Move uncommitted changes to wip branch"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--branch",
                        "-b",
                    ],
                    description: Some("Set wip branch to \'mob/<base-branch>/<branch-postfix>\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "branch-postfix",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "minutes",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "next",
            aliases: [
                "n",
            ],
            description: Some("Handover changes in wip branch to next person"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--stay",
                        "-s",
                    ],
                    description: Some("Stay on wip branch (default)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--return-to-base-branch",
                        "-r",
                    ],
                    description: Some("Return to base branch"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--message",
                        "-m",
                    ],
                    description: Some("Override commit message"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "commit-message",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "done",
            aliases: [
                "d",
            ],
            description: Some("Squashes all changes in wip branch to index in base branch"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--no-squash",
                    ],
                    description: Some("Squash no commits from wip branch, only merge wip branch"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--squash",
                    ],
                    description: Some("Squash all commits from wip branch"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--squash-wip",
                    ],
                    description: Some("Squash wip commits from wip branch, maintaining manual commits"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "reset",
            aliases: [],
            description: Some("Removes local and remote wip branch"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--branch",
                        "-b",
                    ],
                    description: Some("Set wip branch to \'mob/<base-branch>/<branch-postfix>\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "branch-postfix",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "clean",
            aliases: [],
            description: Some("Removes all orphan wip branches"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "timer",
            aliases: [
                "t",
            ],
            description: Some("Start a <minutes> timer"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "minutes",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "break",
            aliases: [],
            description: Some("Start a <minutes> break timer"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "minutes",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "status",
            aliases: [],
            description: Some("Show the status of the current session"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "fetch",
            aliases: [],
            description: Some("Fetch remote state"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "branch",
            aliases: [
                "b",
            ],
            description: Some("Show remote wip branches"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "config",
            aliases: [],
            description: Some("Show all configuration options"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "version",
            aliases: [],
            description: Some("Show the version"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Show help"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "moo",
            aliases: [],
            description: Some("Moo!"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--debug",
            ],
            description: Some("Enable verbose logging"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)