(
    version: 1,
    command: "mongosh",
    description: Some("The MongoDB Shell, mongosh  is a fully functional JavaScript and Node.js 14.x REPL environment for interacting with MongoDB deployments"),
    subcommands: [],
    options: [
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("View your current mongosh version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--shell",
            ],
            description: Some("Enables the shell interface. If you invoke the mongosh command and specify a JavaScript file as an argument, or use --eval to specify JavaScript on the command line, the --shell option provides the user with a shell prompt after the file finishes executing"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--eval",
            ],
            description: Some("Evaluates a JavaScript expression that is specified as an argument. mongosh does not load its own environment when evaluating code. As a result many options of the shell environment are not available. The result of evaluating a JavaScript argument is printed to your command line"),
            takes_value: true,
            arguments: [
                (
                    name: "javascript",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Returns information on the options and use of the MongoDB Shell"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--authenticationDatabase",
            ],
            description: Some("Specifies the authentication database where the specified --username has been created. See Authentication Database"),
            takes_value: true,
            arguments: [
                (
                    name: "dbname",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--gssapiHostName",
            ],
            description: Some("Specify the hostname of a service using GSSAPI/Kerberos. Only required if the hostname of a machine does not match the hostname resolved by DNS"),
            takes_value: true,
            arguments: [
                (
                    name: "hostname",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--gssapiServiceName",
            ],
            description: Some("Specify the name of the service using GSSAPI/Kerberos. Only required if the service does not use the default name of mongodb"),
            takes_value: true,
            arguments: [
                (
                    name: "saslServiceName",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--password",
                "-p",
            ],
            description: Some("Specifies a password with which to authenticate to a MongoDB database that uses authentication. Use in conjunction with the --username and --authenticationDatabase options"),
            takes_value: true,
            arguments: [
                (
                    name: "password",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--username",
                "-u",
            ],
            description: Some("Specifies a username with which to authenticate to a MongoDB database that uses authentication. Use in conjunction with the --password and --authenticationDatabase options"),
            takes_value: true,
            arguments: [
                (
                    name: "username",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--retryWrites",
            ],
            description: Some("Enables retryable writes as the default for sessions in the MongoDB Shell"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--authenticationMechanism",
            ],
            description: Some("Specifies the authentication mechanism the MongoDB Shell uses to authenticate to the mongod or mongos"),
            takes_value: true,
            arguments: [
                (
                    name: "authentication mechanism",
                    source: Static([
                        "SCRAM-SHA-1",
                        "SCRAM-SHA-256",
                        "MONGODB-X509",
                        "GSSAPI (Kerberos)",
                        "PLAIN (LDAP SASL)",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--nodb",
            ],
            description: Some("Prevents the shell from connecting to any database instances"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--norc",
            ],
            description: Some("Prevents the shell from sourcing and evaluating ~/.mongoshrc.js on startup"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--quiet",
            ],
            description: Some("Skips all messages during startup (such as welcome messages and startup warnings) and goes directly to the prompt"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Increases the verbosity of the shell output during the connection process and when running commands"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--port",
            ],
            description: Some("Specifies the port where the mongod or mongos instance is listening. If --port is not specified, the MongoDB Shell attempts to connect to port 27017"),
            takes_value: true,
            arguments: [
                (
                    name: "port",
                    source: Static([
                        "27017",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--tls",
            ],
            description: Some("Enables connection to a mongod or mongos that has TLS SSL support enabled"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--tlsAllowInvalidHostnames",
            ],
            description: Some("Disables the validation of the hostnames in the certificate presented by the mongod/mongos instance. Allows the MongoDB Shell to connect to MongoDB instances even if the hostname in the server certificates do not match the server\'s host"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--tlsAllowInvalidCertificates",
            ],
            description: Some("Bypasses the validation checks for the certificates presented by the mongod/mongos instance and allows connections to servers that present invalid certificates"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--tlsDisabledProtocols",
            ],
            description: Some("Disables the specified TLS protocols"),
            takes_value: true,
            arguments: [
                (
                    name: "protocols",
                    source: Static([
                        "TLS1_0",
                        "TLS1_1",
                        "TLS1_2",
                        "TLS1_3",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--tlsCAFile",
            ],
            description: Some("Specifies the .pem file that contains the root certificate chain from the Certificate Authority. This file is used to validate the certificate presented by the mongod/mongos instance"),
            takes_value: true,
            arguments: [
                (
                    name: "filePath",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--tlsCRLFile",
            ],
            description: Some("Specifies the .pem file that contains the root certificate chain from the Certificate Authority. This file is used to validate the certificate presented by the mongod/mongos instance"),
            takes_value: true,
            arguments: [
                (
                    name: "filePath",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--tlsCertificateKeyFile",
            ],
            description: Some("Enables connection to a mongod or mongos that has TLS SSL support enabled"),
            takes_value: true,
            arguments: [
                (
                    name: "filePath",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "Connection String",
            source: Static([
                "mongodb://localhost:27017",
                "mongodb+srv://cluster0.example.mongodb.net/sample_geospatial",
            ]),
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
    ],
)