(
    version: 1,
    command: "more",
    description: Some("Opposite of less"),
    subcommands: [],
    options: [
        (
            names: [
                "-d",
                "--silent",
            ],
            description: Some("Prompt with \'[Press space to continue, \'q\' to quit.]\', and display \'[Press \'h\' for instructions.]\' instead of ringing the bell when an illegal key is pressed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
                "--logical",
            ],
            description: Some("Do not pause after any line containing a ^L (form feed)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
                "--no-pause",
            ],
            description: Some("Count logical lines, rather than screen lines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
                "--print-over",
            ],
            description: Some("Instead, clear the whole screen and then display the text"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
                "--clean-print",
            ],
            description: Some("Instead, paint each screen from the top, clearing the remainder of each line as it is displayed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--squeeze",
            ],
            description: Some("Squeeze multiple blank lines into one"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
                "--plain",
            ],
            description: Some("Silently ignored as backwards compatibility"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
                "--lines",
            ],
            description: Some("Specify the number of lines per screenful"),
            takes_value: true,
            arguments: [
                (
                    name: "n",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Display help text"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Display version information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)