(
    version: 1,
    command: "mosh",
    description: Some(""),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for mosh"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--client",
            ],
            description: Some("Mosh client on local machine (default: \"mosh-client\")"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--server",
            ],
            description: Some("Mosh server on remote machine (default: \"mosh-server\")"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--predict",
            ],
            description: Some("Local echo options"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Static([
                        "adaptive",
                        "always",
                        "never",
                        "experimental",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-4",
            ],
            description: Some("Use IPv4 only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-6",
            ],
            description: Some("Use IPv6 only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--family",
            ],
            description: Some("Network Type"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Static([
                        "inet",
                        "ine6",
                        "auto",
                        "all",
                        "prefer-inet4",
                        "prefer-inet6",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--port",
                "-p",
            ],
            description: Some("Server-side UDP port or range, (No effect on server-side SSH port)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--bind-server",
            ],
            description: Some("{ssh|any|IP}, ask the server to reply from an IP address, (default: \"ssh\")"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ssh",
            ],
            description: Some("Ssh command to run when setting up session, (example: \"ssh -p 2222\")"),
            takes_value: true,
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-ssh-pty",
            ],
            description: Some("Do not allocate a pseudo tty on ssh connection"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-init",
            ],
            description: Some("Do not send terminal initialization string"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--local",
            ],
            description: Some("Run mosh-server locally without using ssh"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--experimental-remote-ip",
            ],
            description: Some("Select the method for discovering the remote IP address to use for mosh"),
            takes_value: true,
            arguments: [
                (
                    name: "method",
                    source: Static([
                        "local",
                        "remote",
                        "proxy",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Version and copyright information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "user@hostname",
            source: Unavailable,
            optional: false,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: true,
            )),
        ),
    ],
)