(
    version: 1,
    command: "mount",
    description: Some("Mount disks and manage subtrees"),
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Help for abc"),
        ),
        (
            names: [
                "-a",
                "--all",
            ],
            description: Some("Mount all filesystems in fstab"),
        ),
        (
            names: [
                "-c",
                "--no-canonicalize",
            ],
            description: Some("Don't canonicalize paths"),
        ),
        (
            names: [
                "-f",
                "--fake",
            ],
            description: Some("Dry run; skip the mount(2) syscall"),
        ),
        (
            names: [
                "-F",
                "--fork",
            ],
            description: Some("Fork off for each device (use with -a)"),
        ),
        (
            names: [
                "-T",
                "--fstab",
            ],
            description: Some("Alternative file to /etc/fstab"),
            arguments: [
                (
                    name: "fstab",
                    template: [
                        FilePaths,
                    ],
                    default: Some("/etc/fstab"),
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--internal-only",
            ],
            description: Some("Don't call the mount.<type> helpers"),
        ),
        (
            names: [
                "-l",
                "--show-labels",
            ],
            description: Some("Show also filesystem labels"),
        ),
        (
            names: [
                "-m",
                "--mkdir",
            ],
            description: Some("Alias to '-o X-mount.mkdir"),
        ),
        (
            names: [
                "-n",
                "--no-mtab",
            ],
            description: Some("Don't write to /etc/mtab"),
        ),
        (
            names: [
                "--options-mode",
            ],
            description: Some("What to do with options loaded from fstab"),
            arguments: [
                (
                    name: "mode",
                ),
            ],
        ),
        (
            names: [
                "--options-source",
            ],
            description: Some("Mount options source"),
            arguments: [
                (
                    name: "source",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--options-source-force",
            ],
            description: Some("Force use of options from fstab/mtab"),
        ),
        (
            names: [
                "-o",
                "--options",
            ],
            description: Some("Comma-separated list of mount options"),
            arguments: [
                (
                    name: "list",
                ),
            ],
        ),
        (
            names: [
                "-O",
                "--test-opts",
            ],
            description: Some("Limit the set of filesystems (use with -a)"),
            arguments: [
                (
                    name: "list",
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--read-only",
            ],
            description: Some("Mount the filesystem read-only (same as -o ro)"),
        ),
        (
            names: [
                "-t",
                "--types",
            ],
            description: Some("Limit the set of filesystem types"),
            arguments: [
                (
                    name: "list",
                ),
            ],
        ),
        (
            names: [
                "--source",
            ],
            description: Some("Explicitly specifies source"),
            arguments: [
                (
                    name: "source",
                    suggestions: [
                        (
                            name: "path",
                        ),
                        (
                            name: "label",
                        ),
                        (
                            name: "uuid",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--target",
            ],
            description: Some("Explicitly specifies mountpoint"),
            arguments: [
                (
                    name: "mountpoint",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--target-prefix",
            ],
            description: Some("Specifies path used for all mountpoints"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Say what is being done"),
        ),
        (
            names: [
                "-w",
                "--rw",
                "--read-write",
            ],
            description: Some("Mount the filesystem read-write (default)"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Display version"),
        ),
        (
            names: [
                "-B",
                "--bind",
            ],
            description: Some("Mount a subtree somewhere else (same as -o bind)"),
        ),
        (
            names: [
                "-M",
                "--move",
            ],
            description: Some("Move a subtree to some other place"),
        ),
        (
            names: [
                "-R",
                "-rbind",
            ],
            description: Some("Mount a subtree and all submounts somewhere else"),
        ),
        (
            names: [
                "--make-shared",
            ],
            description: Some("Mark a subtree as shared"),
        ),
        (
            names: [
                "--make-slave",
            ],
            description: Some("Mark a subtree as slave"),
        ),
        (
            names: [
                "--make-private",
            ],
            description: Some("Mark a subtree as private"),
        ),
        (
            names: [
                "--make-unbindable",
            ],
            description: Some("Mark a subtree as unbindable"),
        ),
        (
            names: [
                "--make-rshared",
            ],
            description: Some("Recursively mark a whole subtree as shared"),
        ),
        (
            names: [
                "--make-rslave",
            ],
            description: Some("Recursively mark a whole subtree as slave"),
        ),
        (
            names: [
                "--make-rprivate",
            ],
            description: Some("Recursively mark a whole subtree as private"),
        ),
        (
            names: [
                "--make-runbindable",
            ],
            description: Some("Recursively mark a whole subtree as unbindable"),
        ),
    ],
    arguments: [
        (
            name: "Disk/loopfile",
            template: [
                FilePaths,
            ],
            generators: [
                (
                    script: [
                        "cat",
                        "/proc/partitions",
                    ],
                    has_post_process: true,
                ),
                (
                    script: [
                        "ls",
                        "-1",
                        "/dev/mapper",
                    ],
                    has_post_process: true,
                ),
            ],
        ),
        (
            name: "mountpoint",
            suggestions: [
                (
                    name: "/mnt",
                ),
                (
                    name: "/run/media/",
                ),
            ],
            template: [
                Folders,
            ],
        ),
    ],
)
