(
    version: 1,
    command: "mv",
    description: Some("Move & rename files and folders"),
    options: [
        (
            names: [
                "-f",
            ],
            description: Some("Do not prompt for confirmation before overwriting the destination path"),
            exclusive_on: [
                "-i",
                "-n",
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Cause mv to write a prompt to standard error before moving a file that would overwrite an existing file"),
            exclusive_on: [
                "-f",
                "-n",
            ],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Do not overwrite existing file"),
            exclusive_on: [
                "-f",
                "-i",
            ],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Cause mv to be verbose, showing files after they are moved"),
        ),
    ],
    arguments: [
        (
            name: "source",
            template: [
                FilePaths,
                Folders,
            ],
            variadic: true,
        ),
        (
            name: "target",
            template: [
                FilePaths,
                Folders,
            ],
        ),
    ],
)
