(
    version: 1,
    command: "mv",
    description: Some("Move & rename files and folders"),
    subcommands: [],
    options: [
        (
            names: [
                "-f",
            ],
            description: Some("Do not prompt for confirmation before overwriting the destination path"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Cause mv to write a prompt to standard error before moving a file that would overwrite an existing file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Do not overwrite existing file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Cause mv to be verbose, showing files after they are moved"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "source",
            source: Directories,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
        (
            name: "target",
            source: Directories,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)