(
    version: 1,
    command: "mvn",
    description: Some("Maven - a Java based project management and comprehension tool"),
    subcommands: [],
    options: [
        (
            names: [
                "--also-make",
                "-am",
            ],
            description: Some("Also build projects required by project list"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--also-make-dependents",
                "-amd",
            ],
            description: Some("Also build projects that depend on projects in the project list"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--batch-mode",
                "-B",
            ],
            description: Some("Run in non-interactive (batch)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--builder",
                "-b",
            ],
            description: Some("Specify the build strategy to use"),
            takes_value: true,
            arguments: [
                (
                    name: "id of build strategy",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--strict-checksums",
                "-C",
            ],
            description: Some("Fail if checksums do not match"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--lax-checksums",
                "-c",
            ],
            description: Some("Warn if checksums do not match"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Specify the color mode of the output"),
            takes_value: true,
            arguments: [
                (
                    name: "color mode",
                    source: Static([
                        "always",
                        "never",
                        "auto",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--check-plugin-updates",
                "-cpu",
            ],
            description: Some("Ineffective. Only kept for backward compatibility"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--define",
                "-D",
            ],
            description: Some("Define a system property"),
            takes_value: true,
            arguments: [
                (
                    name: "system property",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--errors",
                "-e",
            ],
            description: Some("Produce execution error messages"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--encrypt-master-password",
                "-emp",
            ],
            description: Some("Encrypt the master security password"),
            takes_value: true,
            arguments: [
                (
                    name: "master password",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--encrypt-password",
                "-ep",
            ],
            description: Some("Encrypt the server password"),
            takes_value: true,
            arguments: [
                (
                    name: "server password",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--file",
                "-f",
            ],
            description: Some("Force the use of an alternate POM file (or directory with pom.xml)"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--fail-at-end",
                "-fae",
            ],
            description: Some("Only fail the build afterwards; allow all non-impacted builds to continue"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--fail-fast",
                "-ff",
            ],
            description: Some("Stop at first failure in reactorized builds"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--fail-never",
                "-fn",
            ],
            description: Some("Never fail the build, regardless of project result"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--global-settings",
                "-gs",
            ],
            description: Some("Specify the global settings file to use"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--global-toolchains",
                "-gt",
            ],
            description: Some("Specify the global toolchains file to use"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--log-file",
                "-l",
            ],
            description: Some("Specify the file to log to"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--legacy-local-repository",
                "-llr",
            ],
            description: Some("Use the Maven2 legacy local repository behaviour"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--non-recursive",
                "-N",
            ],
            description: Some("Do not recurse into sub-projects"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-plugin-registry",
                "-npr",
            ],
            description: Some("Ineffective. Only kept for backward compatibility"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-plugin-updates",
                "-npu",
            ],
            description: Some("Ineffective. Only kept for backward compatibility"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-snapshot-updates",
                "-nsu",
            ],
            description: Some("Suppress SNAPSHOT updates"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-transfer-progress",
                "-ntp",
            ],
            description: Some("Do not display transfer progress when downloading or uploading"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--offline",
                "-o",
            ],
            description: Some("Work offline"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--activate-profiles",
                "-P",
            ],
            description: Some("Activate the specified profiles (comma delimited)"),
            takes_value: true,
            arguments: [
                (
                    name: "profiles",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--projects",
                "-pl",
            ],
            description: Some("Specify the projects to build"),
            takes_value: true,
            arguments: [
                (
                    name: "project list",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--quiet",
                "-q",
            ],
            description: Some("Quiet output - only shows errors"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--resume-from",
                "-rf",
            ],
            description: Some("Resume from the specified project"),
            takes_value: true,
            arguments: [
                (
                    name: "project",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--settings",
                "-s",
            ],
            description: Some("Specify the user settings file to use"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--toolchains",
                "-t",
            ],
            description: Some("Specify the toolchains file to use"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--threads",
                "-T",
            ],
            description: Some("Specify the number of threads to use"),
            takes_value: true,
            arguments: [
                (
                    name: "threads",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--update-snapshots",
                "-U",
            ],
            description: Some("Forces a check for missing releases and updated snapshots on remote repositories"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--update-plugins",
                "-up",
            ],
            description: Some("Ineffective. Only kept for backward compatibility"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Display version information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--show-version",
                "-V",
            ],
            description: Some("Display version information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--debug",
                "-X",
            ],
            description: Some("Produce execution debug output"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "goal/phase",
            source: Static([
                "pre-clean",
                "clean",
                "post-clean",
                "validate",
                "initialize",
                "generate-sources",
                "process-sources",
                "generate-resources",
                "process-resources",
                "compile",
                "process-classes",
                "generate-test-sources",
                "process-test-sources",
                "generate-test-resources",
                "process-test-resources",
                "test-compile",
                "process-test-classes",
                "test",
                "prepare-package",
                "package",
                "pre-integration-test",
                "integration-test",
                "post-integration-test",
                "verify",
                "install",
                "deploy",
                "pre-site",
                "site",
                "post-site",
                "site-deploy",
            ]),
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)