(
    version: 1,
    command: "mypy",
    description: Some("Mypy is a static type checker for Python"),
    subcommands: [],
    options: [
        (
            names: [
                "--module",
            ],
            description: Some("Asks mypy to type check the provided module"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--package",
            ],
            description: Some("Asks mypy to type check the provided package"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--command",
            ],
            description: Some("Asks mypy to type check the provided string as a program"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--exclude",
            ],
            description: Some("A regular expression that matches file names, directory names and paths which mypy should ignore while recursively discovering files to check"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Show help message and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("More verbose messages"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show program\'s version number and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--config-file",
            ],
            description: Some("This flag makes mypy read configuration settings from the given file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--warn-unused-configs",
            ],
            description: Some("This flag makes mypy warn about unused [mypy-<pattern>] config file sections"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--explicit-package-bases",
            ],
            description: Some("This flag tells mypy that top-level packages will be based in either the current directory, or a member of the MYPYPATH environment variable"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ignore-missing-imports",
            ],
            description: Some("This flag makes mypy ignore all missing imports"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "silent",
            ],
            description: Some("This flag adjusts how mypy follows imported modules that were not explicitly passed in via the command line"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--python-executable",
            ],
            description: Some("This flag will have mypy collect type information from PEP561 compliant packages installed for the Python executable EXECUTABLE"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-site-packages",
            ],
            description: Some("This flag will disable searching for PEP561 compliant packages"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-silence-site-packages",
            ],
            description: Some("By default, mypy will suppress any error messages generated within PEP561 compliant packages"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--fast-module-lookup",
            ],
            description: Some("The default logic used to scan through search paths to resolve imports has a quadratic worse-case behavior in some cases, which is for instance triggered by a large number of folders sharing"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-namespace-packages",
            ],
            description: Some("This flag disables import discovery of namespace packages (see PEP420)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--python-version",
            ],
            description: Some("This flag will make mypy type check your code as if it were run under Python version X"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--platform",
            ],
            description: Some("This flag will make mypy type check your code as if it were run under the given operating system"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--always-true",
            ],
            description: Some("This flag will treat all variables named NAME as compile-time constants that are always true"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--always-false",
            ],
            description: Some("This flag will treat all variables named NAME as compile-time constants that are always false"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disallow-any-unimported",
            ],
            description: Some("This flag disallows usage of types that come from unfollowed imports (such types become aliases for Any)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disallow-any-expr",
            ],
            description: Some("This flag disallows all expressions in the module that have type Any"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disallow-any-decorated",
            ],
            description: Some("This flag disallows functions that have Any in their signature after decorator transformation"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disallow-any-explicit",
            ],
            description: Some("This flag disallows explicit Any in type positions such as type annotations and generic type parameters"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disallow-any-generics",
            ],
            description: Some("This flag disallows usage of generic types that do not specify explicit type parameters"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disallow-subclassing-any",
            ],
            description: Some("This flag reports an error whenever a class subclasses a value of type Any"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disallow-untyped-calls",
            ],
            description: Some("This flag reports an error whenever a function with type annotations calls a function defined without annotations"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--untyped-calls-exclude",
            ],
            description: Some("This flag allows to selectively disable option--disallow-untyped-calls for functions and methods defined in specific packages, modules, or classes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disallow-untyped-defs",
            ],
            description: Some("This flag reports an error whenever it encounters a function definition without type annotations or with incomplete type annotations"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disallow-incomplete-defs",
            ],
            description: Some("This flag reports an error whenever it encounters a partly annotated function definition, while still allowing entirely unannotated definitions"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--check-untyped-defs",
            ],
            description: Some("This flag is less severe than the previous two options -- it type checks the body of every function, regardless of whether it has type annotations"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disallow-untyped-decorators",
            ],
            description: Some("This flag reports an error whenever a function with type annotations is decorated with a decorator without annotations"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--implicit-optional",
            ],
            description: Some("This flag causes mypy to treat arguments with a None default value as having an implicit pydata~typing"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-strict-optional",
            ],
            description: Some("This flag disables strict checking of pydata~typing"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--warn-redundant-casts",
            ],
            description: Some("This flag will make mypy report an error whenever your code uses an unnecessary cast that can safely be removed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--warn-unused-ignores",
            ],
            description: Some("This flag will make mypy report an error whenever your code uses a # type ignore comment on a line that is not actually generating an error message"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-warn-no-return",
            ],
            description: Some("By default, mypy will generate errors when a function is missing return statements in some execution paths"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--warn-return-any",
            ],
            description: Some("This flag causes mypy to generate a warning when returning a value with type Any from a function declared with a non-Any return type"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--warn-unreachable",
            ],
            description: Some("This flag will make mypy report an error whenever it encounters code determined to be unreachable or redundant after performing type analysis"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--allow-untyped-globals",
            ],
            description: Some("This flag causes mypy to suppress errors caused by not being able to fully infer the types of global and class variables"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--allow-redefinition",
            ],
            description: Some("By default, mypy won\'t allow a variable to be redefined with an unrelated type"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--local-partial-types",
            ],
            description: Some("In mypy, the most common cases for partial types are variables initialized using None, but without explicit Optional annotations"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-implicit-reexport",
            ],
            description: Some("By default, imported values to a module are treated as exported and mypy allows other modules to import them"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--strict-equality",
            ],
            description: Some("By default, mypy allows always-false comparisons like 42 == \'no\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--extra-checks",
            ],
            description: Some("This flag enables additional checks that are technically correct but may be impractical in real code"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--strict",
            ],
            description: Some("This flag mode enables all optional error checking flags"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disable-error-code",
            ],
            description: Some("This flag allows disabling one or multiple error codes globally"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--enable-error-code",
            ],
            description: Some("This flag allows enabling one or multiple error codes globally"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--show-error-context",
            ],
            description: Some("This flag will precede all errors with \'note\' messages explaining the context of the error"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--show-column-numbers",
            ],
            description: Some("This flag will add column offsets to error messages"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--show-error-end",
            ],
            description: Some("This flag will make mypy show not just that start position where an error was detected, but also the end position of the relevant expression"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--hide-error-codes",
            ],
            description: Some("This flag will hide the error code [<code>] from error messages"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--pretty",
            ],
            description: Some("Use visually nicer output in error messages use soft word wrap, show source code snippets, and show error location markers"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-color-output",
            ],
            description: Some("This flag will disable color output in error messages, enabled by default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-error-summary",
            ],
            description: Some("This flag will disable error summary"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--show-absolute-path",
            ],
            description: Some("Show absolute paths to files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--soft-error-limit",
            ],
            description: Some("This flag will adjust the limit after which mypy will (sometimes) disable reporting most additional errors"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-incremental",
            ],
            description: Some("This flag disables incremental mode mypy will no longer reference the cache when re-run"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--cache-dir",
            ],
            description: Some("By default, mypy stores all cache data inside of a folder named"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--sqlite-cache",
            ],
            description: Some("Use an SQLite_ database to store the cache"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--cache-fine-grained",
            ],
            description: Some("Include fine-grained dependency information in the cache for the mypy daemon"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--skip-version-check",
            ],
            description: Some("By default, mypy will ignore cache data generated by a different version of mypy"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--skip-cache-mtime-checks",
            ],
            description: Some("Skip cache internal consistency checks based on mtime"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--pdb",
            ],
            description: Some("This flag will invoke the Python debugger when mypy encounters a fatal error"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--tb",
            ],
            description: Some("If set, this flag will display a full traceback when mypy encounters a fatal error"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--raise-exceptions",
            ],
            description: Some("Raise exception on fatal error"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--custom-typing-module",
            ],
            description: Some("This flag lets you use a custom module as a substitute for the pymodtyping module"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--custom-typeshed-dir",
            ],
            description: Some("This flag specifies the directory where mypy looks for standard library typeshed stubs, instead of the typeshed that ships with mypy"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--warn-incomplete-stub",
            ],
            description: Some("This flag modifies both the option--disallow-untyped-defs and option--disallow-incomplete-defs flags so they also report errors if stubs in typeshed are missing type annotations or has incomplete annotations"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--shadow-file",
            ],
            description: Some("When mypy is asked to type check SOURCE_FILE, this flag makes mypy read from and type check the contents of SHADOW_FILE instead"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--any-exprs-report",
            ],
            description: Some("Causes mypy to generate a text file report documenting how many expressions of type Any are present within your codebase"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--cobertura-xml-report",
            ],
            description: Some("Causes mypy to generate a Cobertura XML type checking coverage report"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--html-report",
            ],
            description: Some("Causes mypy to generate an HTML type checking coverage report"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--linecount-report",
            ],
            description: Some("Causes mypy to generate a text file report documenting the functions and lines that are typed and untyped within your codebase"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--linecoverage-report",
            ],
            description: Some("Causes mypy to generate a JSON file that maps each source file\'s absolute filename to a list of line numbers that belong to typed functions in that file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--lineprecision-report",
            ],
            description: Some("Causes mypy to generate a flat text file report with per-module statistics of how many lines are typechecked etc"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--txt-report",
            ],
            description: Some("Causes mypy to generate a text file type checking coverage report"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--xml-report",
            ],
            description: Some("Causes mypy to generate an XML type checking coverage report"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--install-types",
            ],
            description: Some("This flag causes mypy to install known missing stub packages for third-party libraries using pip"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--non-interactive",
            ],
            description: Some("When used together with option--install-types <mypy --install-types>, this causes mypy to install all suggested stub packages using pip without asking for confirmation, and then continues to perform type checking using the installed stubs, if some files or modules are provided to type check"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--junit-xml",
            ],
            description: Some("Causes mypy to generate a JUnit XML test result document with type checking results"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--find-occurrences",
            ],
            description: Some("This flag will make mypy print out all usages of a class member based on static type information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--scripts-are-modules",
            ],
            description: Some("This flag will give command line arguments that appear to be scripts"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)