(
    version: 1,
    command: "nano",
    description: Some("Nano\'s ANOther editor, an enhanced free Pico clone"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)