(
    version: 1,
    command: "ncal",
    description: Some("Displays a calendar and the date of Easter"),
    options: [
        (
            names: [
                "-h",
            ],
            description: Some("Turns off highlighting of today"),
        ),
        (
            names: [
                "-J",
            ],
            description: Some("Display Julian Calendar, if combined with the -e option, display date of Easter according to the Julian Calendar"),
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Display date of Easter (for western churches)"),
        ),
        (
            names: [
                "-j",
            ],
            description: Some("Display Julian days (days one-based, numbered from January 1)"),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Display the specified month.  If month is specified as a decimal number, it may be followed by the letter ‘f’ or ‘p’ to indicate the following or preceding month of that number, respectively"),
            arguments: [
                (
                    name: "month",
                    description: Some("Display the specified month.  If month is specified as a decimal number, it may be followed by the letter ‘f’ or ‘p’ to indicate the following or preceding month of that number, respectively"),
                    suggestions: [
                        (
                            name: "january",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "february",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "march",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "april",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "may",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "june",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "july",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "august",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "september",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "october",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "november",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                        (
                            name: "december",
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🗓"),
                            ),
                        ),
                    ],
                ),
            ],
            exclusive_on: [
                "-y",
                "-p",
            ],
        ),
        (
            names: [
                "-y",
            ],
            description: Some("Display a calendar for the specified year"),
            arguments: [
                (
                    name: "year",
                ),
            ],
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Display date of Orthodox Easter (Greek and Russian Orthodox Churches)"),
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Print the country codes and switching days from Julian to Gregorian Calendar as they are assumed by ncal.  The country code as determined from the local environment is marked with an asterisk"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Assume the switch from Julian to Gregorian Calendar at the date associated with the country_code.  If not specified, ncal tries to guess the switch date from the local environment or falls back to September 2, 1752.  This was when Great Britain and her colonies switched to the Gregorian Calendar"),
            arguments: [
                (
                    name: "country_code",
                    suggestions: [
                        (
                            name: "AL",
                            description: Some("Albania"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "AT",
                            description: Some("Austria"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "AU",
                            description: Some("Australia"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "BE",
                            description: Some("Belgium"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "BG",
                            description: Some("Bulgaria"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "CA",
                            description: Some("Canada"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "CH",
                            description: Some("Switzerland"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "CN",
                            description: Some("China"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "CZ",
                            description: Some("Czech Republic"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "DE",
                            description: Some("Germany"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "DK",
                            description: Some("Denmark"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "ES",
                            description: Some("Spain"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "FI",
                            description: Some("Finland"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "FR",
                            description: Some("France"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "GB",
                            description: Some("United Kingdom"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "GR",
                            description: Some("Greece"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "HU",
                            description: Some("Hungary"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "IS",
                            description: Some("Iceland"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "IT",
                            description: Some("Italy"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "JP",
                            description: Some("Japan"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "LI",
                            description: Some("Lithuania"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "LN",
                            description: Some("Latin"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "LU",
                            description: Some("Luxembourg"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "LV",
                            description: Some("Latvia"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "NL",
                            description: Some("Netherlands"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "NO",
                            description: Some("Norway"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "PL",
                            description: Some("Poland"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "PT",
                            description: Some("Portugal"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "RO",
                            description: Some("Romania"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "RU",
                            description: Some("Russia"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "SI",
                            description: Some("Slovenia"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "SW",
                            description: Some("Sweden"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "TR",
                            description: Some("Turkey"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "US",
                            description: Some("United States"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                        (
                            name: "YU",
                            description: Some("Yugoslavia"),
                            kind: Some(Arg),
                            presentation: (
                                icon: Some("🌎"),
                            ),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-w",
            ],
            description: Some("Print the number of the week below each week column"),
        ),
        (
            names: [
                "-3",
            ],
            description: Some("Display the previous, current and next month surrounding today"),
            exclusive_on: [
                "-y",
                "-A",
                "-B",
                "-p",
            ],
        ),
        (
            names: [
                "-A",
            ],
            description: Some("Display the number of months after the current month"),
            arguments: [
                (
                    name: "number",
                    description: Some("Number of months to display"),
                ),
            ],
        ),
        (
            names: [
                "-B",
            ],
            description: Some("Display the number of months before the current month"),
            arguments: [
                (
                    name: "number",
                    description: Some("Number of months to display"),
                ),
            ],
        ),
        (
            names: [
                "-C",
            ],
            description: Some("Switch to cal mode"),
        ),
        (
            names: [
                "-N",
            ],
            description: Some("Switch to ncal mode"),
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Use yyyy-mm as the current date (for debugging of date selection)"),
            arguments: [
                (
                    name: "yyyy-mm",
                    description: Some("Date to use as the current date"),
                ),
            ],
        ),
        (
            names: [
                "-H",
            ],
            description: Some("Use yyyy-mm-dd as the current date (for debugging of highlighting)"),
            arguments: [
                (
                    name: "yyyy-mm-dd",
                    description: Some("Date to use as the current date"),
                ),
            ],
        ),
    ],
    parser_directives: Some((
        options_must_precede_arguments: true,
    )),
)
