(
    version: 1,
    command: "newman",
    description: Some("Newman is a command-line collection runner for Postman"),
    subcommands: [
        (
            name: "run",
            description: Some("Initiate a Postman Collection run from a given URL or path"),
            options: [
                (
                    names: [
                        "-e",
                        "--environment",
                    ],
                    description: Some("Specify a URL or path to a Postman Environment"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-g",
                        "--globals",
                    ],
                    description: Some("Specify a URL or path to a file containing Postman Globals"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-r",
                        "--reporters",
                    ],
                    description: Some("Specify the reporters to use for this run"),
                    arguments: [
                        (
                            name: "reporters",
                            optional: true,
                            default: Some("cli"),
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--iteration-count",
                    ],
                    description: Some("Define the number of iterations to run"),
                    arguments: [
                        (
                            name: "n",
                        ),
                    ],
                ),
                (
                    names: [
                        "-d",
                        "--iteration-data",
                    ],
                    description: Some("Specify a data file to use for iterations (either JSON or CSV)"),
                    arguments: [
                        (
                            name: "path",
                            suggestions: [
                                (
                                    name: "JSON",
                                ),
                                (
                                    name: "CSV",
                                ),
                            ],
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--folder",
                    ],
                    description: Some("Specify the folder to run from a collection. Can be specified multiple times to run multiple folders"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--global-var",
                    ],
                    description: Some("Allows the specification of global variables via the command line, in a key=value format"),
                    arguments: [
                        (
                            name: "value",
                        ),
                    ],
                ),
                (
                    names: [
                        "--env-var",
                    ],
                    description: Some("Allows the specification of environment variables via the command line, in a key=value format"),
                    arguments: [
                        (
                            name: "value",
                        ),
                    ],
                ),
                (
                    names: [
                        "--export-environment",
                    ],
                    description: Some("Exports the final environment to a file after completing the run"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--export-globals",
                    ],
                    description: Some("Exports the final globals to a file after completing the run"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--export-collection",
                    ],
                    description: Some("Exports the executed collection to a file after completing the run"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--postman-api-key",
                    ],
                    description: Some("API Key used to load the resources from the Postman API"),
                    arguments: [
                        (
                            name: "apiKey",
                        ),
                    ],
                ),
                (
                    names: [
                        "--bail",
                    ],
                    description: Some("Specify whether or not to gracefully stop a collection run on encountering an error and whether to end the run with an error based on the optional modifier"),
                    arguments: [
                        (
                            name: "modifiers",
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ignore-redirects",
                    ],
                    description: Some("Prevents Newman from automatically following 3XX redirect responses"),
                ),
                (
                    names: [
                        "-x",
                        "--suppress-exit-code",
                    ],
                    description: Some("Specify whether or not to override the default exit code for the current run"),
                ),
                (
                    names: [
                        "--silent",
                    ],
                    description: Some("Prevents Newman from showing output to CLI"),
                ),
                (
                    names: [
                        "--disable-unicode",
                    ],
                    description: Some("Forces Unicode compliant symbols to be replaced by their plain text equivalents"),
                ),
                (
                    names: [
                        "--color",
                    ],
                    description: Some("Enable/Disable colored output (auto|on|off)"),
                    arguments: [
                        (
                            name: "value",
                            suggestions: [
                                (
                                    name: "auto",
                                ),
                                (
                                    name: "on",
                                ),
                                (
                                    name: "off",
                                ),
                            ],
                            default: Some("auto"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--delay-request",
                    ],
                    description: Some("Specify the extent of delay between requests (milliseconds)"),
                    arguments: [
                        (
                            name: "n",
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--timeout",
                    ],
                    description: Some("Specify a timeout for collection run (milliseconds)"),
                    arguments: [
                        (
                            name: "n",
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--timeout-request",
                    ],
                    description: Some("Specify a timeout for requests (milliseconds)"),
                    arguments: [
                        (
                            name: "n",
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--timeout-script",
                    ],
                    description: Some("Specify a timeout for scripts (milliseconds)"),
                    arguments: [
                        (
                            name: "n",
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--working-dir",
                    ],
                    description: Some("Specify the path to the working directory"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-insecure-file-read",
                    ],
                    description: Some("Prevents reading the files situated outside of the working directory"),
                ),
                (
                    names: [
                        "-k",
                        "--insecure",
                    ],
                    description: Some("Disables SSL validations"),
                ),
                (
                    names: [
                        "--ssl-client-cert-list",
                    ],
                    description: Some("Specify the path to a client certificates configurations (JSON)"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--ssl-client-cert",
                    ],
                    description: Some("Specify the path to a client certificate (PEM)"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--ssl-client-key",
                    ],
                    description: Some("Specify the path to a client certificate private key"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--ssl-client-passphrase",
                    ],
                    description: Some("Specify the client certificate passphrase (for protected key)"),
                    arguments: [
                        (
                            name: "passphrase",
                        ),
                    ],
                ),
                (
                    names: [
                        "--ssl-extra-ca-certs",
                    ],
                    description: Some("Specify additionally trusted CA certificates (PEM)"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--cookie-jar",
                    ],
                    description: Some("Specify the path to a custom cookie jar (serialized tough-cookie JSON)"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--export-cookie-jar",
                    ],
                    description: Some("Exports the cookie jar to a file after completing the run"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show detailed information of collection run and each request sent"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "collection",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Display help for command"),
            arguments: [
                (
                    name: "command",
                    template: [
                        Help,
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
    options: [
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Output the version number"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
)
