(
    version: 1,
    command: "next",
    description: Some("Next.js CLI to start, build and export your application"),
    subcommands: [
        (
            name: "build",
            aliases: [],
            description: Some("Create an optimized production build of your application"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("Enable production profiling"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Enable more verbose build output"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "dir",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "dev",
            aliases: [],
            description: Some("Start the application in development mode"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-p",
                        "--port",
                    ],
                    description: Some("A port number on which to start the application"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "value",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-H",
                        "--hostname",
                    ],
                    description: Some("Hostname on which to start the application"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "value",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "dir",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "start",
            aliases: [],
            description: Some("Start the application in production mode"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-p",
                        "--port",
                    ],
                    description: Some("A port number on which to start the application"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "value",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-H",
                        "--hostname",
                    ],
                    description: Some("Hostname on which to start the application"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "value",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "dir",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "export",
            aliases: [],
            description: Some("Exports the application for production deployment"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-s",
                    ],
                    description: Some("Do not print any messages to console"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "dir",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "telemetry",
            aliases: [],
            description: Some("Allows you to control Next.js\' telemetry collection"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "status",
                    source: Static([
                        "enable",
                        "disable",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Output the version number"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)