(
    version: 1,
    command: "nhost",
    description: Some("Nhost\'s command-line"),
    subcommands: [
        (
            name: "deploy",
            aliases: [],
            description: Some("Deploy local migrations and metadata changes to Nhost production"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "dev",
            aliases: [],
            description: Some("Start Nhost project for local development"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "down",
            aliases: [],
            description: Some("Stop and remove local Nhost backend started by `nhost dev`"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "env",
            aliases: [
                "env:ls",
            ],
            description: Some("List environment variables"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "env:pull",
            aliases: [],
            description: Some("Sync remote environment variables to your local environment"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Display help for nhost"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "init",
            aliases: [],
            description: Some("Initialize current working directory as a Nhost project"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "link",
            aliases: [],
            description: Some("Link Nhost Project"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "login",
            aliases: [],
            description: Some("Login to your Nhost account"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--email",
                        "-e",
                    ],
                    description: Some("Email address"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "email",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "logout",
            aliases: [],
            description: Some("Logout from your Nhost account"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)