(
    version: 1,
    command: "ni",
    description: Some("Use the right package manager - install"),
    options: [
        (
            names: [
                "-g",
            ],
            description: Some("Operates in 'global' mode, so that packages are installed into the prefix folder instead of the current working directory"),
        ),
        (
            names: [
                "-D",
            ],
            description: Some("Package will appear in your `devDependencies`"),
        ),
        (
            names: [
                "-P",
            ],
            description: Some("Save package to your `peerDependencies`"),
        ),
        (
            names: [
                "-O",
            ],
            description: Some("Save package to your `optionalDependencies`"),
        ),
        (
            names: [
                "--frozen",
            ],
            description: Some("Don't generate a lockfile and fail if an update is needed"),
        ),
        (
            names: [
                "-C",
            ],
            description: Some("Change directory"),
            arguments: [
                (
                    name: "directory",
                    description: Some("The directory to move"),
                    template: [
                        Folders,
                    ],
                ),
                (
                    name: "target",
                    description: Some("The target directory"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
        ),
    ],
    arguments: [
        (
            name: "package",
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    query_term: Some(AfterLast("@")),
                    cache: Some((
                        ttl_ms: Some(172800000),
                        stale_while_revalidate: true,
                    )),
                ),
            ],
            variadic: true,
            debounce: true,
        ),
    ],
)
