(
    version: 1,
    command: "nmap",
    description: Some("Network exploration tool and security / port scanner"),
    options: [
        (
            names: [
                "-iL",
            ],
            description: Some("Input from list of hosts/networks"),
        ),
        (
            names: [
                "-iR",
            ],
            description: Some("Choose random targets"),
        ),
        (
            names: [
                "--exclude",
            ],
            description: Some("Excluide hosts/networks"),
        ),
        (
            names: [
                "--excludefile",
            ],
            description: Some("Exclude list from file"),
        ),
        (
            names: [
                "-sS",
            ],
            description: Some("TCP SYN scan"),
        ),
        (
            names: [
                "-sT",
            ],
            description: Some("TCP scan"),
        ),
        (
            names: [
                "-sA",
            ],
            description: Some("TCP ACK scan"),
        ),
        (
            names: [
                "-sW",
            ],
            description: Some("TCP Window scan"),
        ),
        (
            names: [
                "-sM",
            ],
            description: Some("TCP Maimon scan"),
        ),
        (
            names: [
                "-sU",
            ],
            description: Some("UDP scan"),
        ),
        (
            names: [
                "-sP",
            ],
            description: Some("Ping scan"),
        ),
        (
            names: [
                "-sN",
            ],
            description: Some("TCP Null scan"),
        ),
        (
            names: [
                "-sF",
            ],
            description: Some("FIN scan"),
        ),
        (
            names: [
                "-sX",
            ],
            description: Some("Xmas scan"),
        ),
        (
            names: [
                "-sO",
            ],
            description: Some("IP protocol scan"),
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Scan specified ports"),
        ),
        (
            names: [
                "-v",
                "-vv",
            ],
            description: Some("Increase verbosity level"),
        ),
        (
            names: [
                "-O",
            ],
            description: Some("Enable OS detection"),
        ),
        (
            names: [
                "--osscan-limit",
            ],
            description: Some("Limit OS detection to promising targets"),
        ),
        (
            names: [
                "---osscan-guess",
            ],
            description: Some("Guess OS more aggressively"),
        ),
        (
            names: [
                "-A",
            ],
            description: Some("Enable a full detection"),
        ),
        (
            names: [
                "-6",
            ],
            description: Some("Enable IPV6 scanning"),
        ),
        (
            names: [
                "-V",
            ],
            description: Some("Print version number"),
        ),
        (
            names: [
                "-privileged",
            ],
            description: Some("Assume that user is fully privileges"),
        ),
        (
            names: [
                "-unprivileged",
            ],
            description: Some("Assume that user lacks raw socket privileges"),
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for nmap"),
        ),
    ],
    parser_directives: Some((
        flags_are_posix_noncompliant: true,
    )),
)
