(
    version: 1,
    command: "nmap",
    description: Some("Network exploration tool and security / port scanner"),
    subcommands: [],
    options: [
        (
            names: [
                "-iL",
            ],
            description: Some("Input from list of hosts/networks"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-iR",
            ],
            description: Some("Choose random targets"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--exclude",
            ],
            description: Some("Excluide hosts/networks"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--excludefile",
            ],
            description: Some("Exclude list from file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-sS",
            ],
            description: Some("TCP SYN scan"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-sT",
            ],
            description: Some("TCP scan"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-sA",
            ],
            description: Some("TCP ACK scan"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-sW",
            ],
            description: Some("TCP Window scan"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-sM",
            ],
            description: Some("TCP Maimon scan"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-sU",
            ],
            description: Some("UDP scan"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-sP",
            ],
            description: Some("Ping scan"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-sN",
            ],
            description: Some("TCP Null scan"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-sF",
            ],
            description: Some("FIN scan"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-sX",
            ],
            description: Some("Xmas scan"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-sO",
            ],
            description: Some("IP protocol scan"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Scan specified ports"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "-vv",
            ],
            description: Some("Increase verbosity level"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-O",
            ],
            description: Some("Enable OS detection"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--osscan-limit",
            ],
            description: Some("Limit OS detection to promising targets"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "---osscan-guess",
            ],
            description: Some("Guess OS more aggressively"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-A",
            ],
            description: Some("Enable a full detection"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-6",
            ],
            description: Some("Enable IPV6 scanning"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
            ],
            description: Some("Print version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-privileged",
            ],
            description: Some("Assume that user is fully privileges"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-unprivileged",
            ],
            description: Some("Assume that user lacks raw socket privileges"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for nmap"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)