(
    version: 1,
    command: "noglob",
    description: Some("ZSH pre-command modifier that disables glob expansion"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)