(
    version: 1,
    command: "nrm",
    description: Some("Use the right package manage - remove"),
    options: [
        (
            names: [
                "-g",
            ],
            description: Some("Operates in 'global' mode, so that packages are removed from the prefix folder instead of the current working directory"),
        ),
        (
            names: [
                "-D",
            ],
            description: Some("Package will be removed from your `devDependencies`"),
        ),
        (
            names: [
                "-P",
            ],
            description: Some("Remove package from your `peerDependencies`"),
        ),
        (
            names: [
                "-O",
            ],
            description: Some("Remove package from your `optionalDependencies`"),
        ),
        (
            names: [
                "--frozen",
            ],
            description: Some("Don't generate a lockfile and fail if an update is needed"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
        ),
    ],
    arguments: [
        (
            name: "package",
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                ),
            ],
            variadic: true,
            filter_strategy: Fuzzy,
        ),
    ],
)
