(
    version: 1,
    command: "nu",
    description: Some("Use the right package manage - upgrade"),
    subcommands: [],
    options: [
        (
            names: [
                "-i",
            ],
            description: Some("Display the outdated packages before performing any upgrade"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)