(
    version: 1,
    command: "nu",
    description: Some("Use the right package manage - upgrade"),
    options: [
        (
            names: [
                "-i",
            ],
            description: Some("Display the outdated packages before performing any upgrade"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
        ),
    ],
)
