(
    version: 1,
    command: "nuxt",
    subcommands: [
        (
            name: "dev",
            description: Some("Launch the development server"),
        ),
        (
            name: "start",
            description: Some("Start the production server (after running nuxt build). Use it for Node.js hosting like Heroku, Digital Ocean, etc"),
        ),
        (
            name: "generate",
            description: Some("Build the application (if needed), generate every route as a HTML file and statically export to dist/ directory (used for static hosting)"),
        ),
        (
            name: "build",
            description: Some("Build and optimize your application with webpack for production"),
        ),
        (
            name: "webpack",
            description: Some("Inspect the webpack config"),
            subcommands: [
                (
                    name: "subcommands coming soon",
                ),
            ],
            options: [
                (
                    names: [
                        "--name",
                    ],
                    description: Some("Bundle name to inspect. (client, server, modern)"),
                ),
                (
                    names: [
                        "--dev",
                    ],
                    description: Some("Inspect webpack config for dev mode"),
                ),
                (
                    names: [
                        "--depth",
                    ],
                    description: Some("Inspection depth. Defaults to 2 to prevent verbose output"),
                ),
                (
                    names: [
                        "--no-colors",
                    ],
                    description: Some("Disable ANSI colors (disabled by default when TTY is not available or when piping to a file)"),
                ),
            ],
        ),
    ],
)
