(
    version: 1,
    command: "nuxt",
    description: Some(""),
    subcommands: [
        (
            name: "dev",
            aliases: [],
            description: Some("Launch the development server"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "start",
            aliases: [],
            description: Some("Start the production server (after running nuxt build). Use it for Node.js hosting like Heroku, Digital Ocean, etc"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "generate",
            aliases: [],
            description: Some("Build the application (if needed), generate every route as a HTML file and statically export to dist/ directory (used for static hosting)"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "build",
            aliases: [],
            description: Some("Build and optimize your application with webpack for production"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "webpack",
            aliases: [],
            description: Some("Inspect the webpack config"),
            subcommands: [
                (
                    name: "subcommands coming soon",
                    aliases: [],
                    description: None,
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [
                (
                    names: [
                        "--name",
                    ],
                    description: Some("Bundle name to inspect. (client, server, modern)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--dev",
                    ],
                    description: Some("Inspect webpack config for dev mode"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--depth",
                    ],
                    description: Some("Inspection depth. Defaults to 2 to prevent verbose output"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-colors",
                    ],
                    description: Some("Disable ANSI colors (disabled by default when TTY is not available or when piping to a file)"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)