(
    version: 1,
    command: "nvim",
    description: Some("Hyperextensible Vim-based text editor"),
    options: [
        (
            names: [
                "+",
            ],
            description: Some("Start at end of file"),
        ),
        (
            names: [
                "--cmd",
            ],
            description: Some("Execute <cmd> before any config"),
            arguments: [
                (
                    name: "cmd",
                ),
            ],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Execute <cmd> after config and first file"),
            arguments: [
                (
                    name: "cmd",
                ),
            ],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Binary mode"),
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Diff mode"),
        ),
        (
            names: [
                "-e",
                "-E",
            ],
            description: Some("Ex mode"),
        ),
        (
            names: [
                "-es",
                "-Es",
            ],
            description: Some("Silent (batch) mode"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print this help message"),
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Use this shada file"),
            arguments: [
                (
                    name: "shada",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Modifications (writing files) not allowed"),
        ),
        (
            names: [
                "-M",
            ],
            description: Some("Modifications in text not allowed"),
        ),
        (
            names: [
                "-n",
            ],
            description: Some("No swap file, use memory only"),
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Open N windows (default: one per file)"),
            arguments: [
                (
                    name: "N",
                ),
            ],
        ),
        (
            names: [
                "-O",
            ],
            description: Some("Open N vertical windows (default: one per file)"),
            arguments: [
                (
                    name: "N",
                ),
            ],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Open N tab pages (default: one per file)"),
            arguments: [
                (
                    name: "N",
                ),
            ],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("List swap files"),
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Recover edit state for this file"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Read-only mode"),
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Source <session> after loading the first file"),
            arguments: [
                (
                    name: "session",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Read Normal mode commands from <scriptin>"),
            arguments: [
                (
                    name: "scriptin",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Use this config file"),
            arguments: [
                (
                    name: "config",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Print version information"),
        ),
        (
            names: [
                "--api-info",
            ],
            description: Some("Write msgpack-encoded API metadata to stdout"),
        ),
        (
            names: [
                "--embed",
            ],
            description: Some("Use stdin/stdout as a msgpack-rpc channel"),
        ),
        (
            names: [
                "--headless",
            ],
            description: Some("Don't start a user interface"),
        ),
        (
            names: [
                "--listen",
            ],
            description: Some("Serve RPC API from this address"),
            arguments: [
                (
                    name: "address",
                ),
            ],
        ),
        (
            names: [
                "--noplugin",
            ],
            description: Some("Don't load plugins"),
        ),
        (
            names: [
                "--remote",
                "--remote-subcommand",
            ],
            description: Some("Execute commands remotely on a server"),
        ),
        (
            names: [
                "--server",
            ],
            description: Some("Specify RPC server to send commands to"),
            arguments: [
                (
                    name: "address",
                ),
            ],
        ),
        (
            names: [
                "--startuptime",
            ],
            description: Some("Write startup timing messages to <file>"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "",
            template: [
                FilePaths,
                Folders,
            ],
        ),
    ],
    parser_directives: Some((
        flags_are_posix_noncompliant: true,
    )),
)
