(
    version: 1,
    command: "nvm",
    description: Some("Node Package Manager"),
    subcommands: [
        (
            name: "install",
            aliases: [],
            description: Some("Download and install a <version>. Uses .nvmrc if available and version is omitted"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-s",
                    ],
                    description: Some("Skip binary download, install from source only"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--reinstall-packages-from",
                    ],
                    description: Some("When installing, reinstall packages installed in <version>"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "version",
                            source: Static([
                                "node",
                                "iojs",
                                "system",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("When installing, only select from LTS (long-term support) versions"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("When installing, only select from versions for a specific LTS line"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "LTS name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--skip-default-packages",
                    ],
                    description: Some("When installing, skip the default-packages file if it exists"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--latest-npm",
                    ],
                    description: Some("After installing, attempt to upgrade to the latest working npm on the given node version"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-progress",
                    ],
                    description: Some("Disable the progress bar on any downloads"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--alias",
                    ],
                    description: Some("After installing, set the alias specified to the version specified. (same as: nvm alias <name> <version>)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--default",
                    ],
                    description: Some("After installing, set default alias to the version specified. (same as: nvm alias default <version>)"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    source: Static([
                        "node",
                        "iojs",
                        "system",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "uninstall",
            aliases: [],
            description: Some("Uninstall a version"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("Uninstall using automatic LTS (long-term support) alias `lts/*`, if available"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("Uninstall using automatic alias for provided LTS line, if available"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "LTS name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    source: Static([
                        "node",
                        "iojs",
                        "system",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "use",
            aliases: [],
            description: Some("Modify PATH to use <version>. Uses .nvmrc if available and version is omitted"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--silent",
                    ],
                    description: Some("Silences stdout/stderr output"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("Uses automatic LTS (long-term support) alias `lts/*`, if available"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("Uses automatic alias for provided LTS line, if available"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "LTS name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    source: Static([
                        "node",
                        "iojs",
                        "system",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "exec",
            aliases: [],
            description: Some("Run <command> on <version>. Uses .nvmrc if available and version is omitted"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--silent",
                    ],
                    description: Some("Silences stdout/stderr output"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("Uses automatic LTS (long-term support) alias `lts/*`, if available"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("Uses automatic alias for provided LTS line, if available"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "LTS name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    source: Static([
                        "node",
                        "iojs",
                        "system",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "command",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "run",
            aliases: [],
            description: Some("Run `node` on <version> with <args> as arguments. Uses .nvmrc if available and version is omitted"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--silent",
                    ],
                    description: Some("Silences stdout/stderr output"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("Uses automatic LTS (long-term support) alias `lts/*`, if available"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("Uses automatic alias for provided LTS line, if available"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "LTS name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    source: Static([
                        "node",
                        "iojs",
                        "system",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "args",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "current",
            aliases: [],
            description: Some("Display currently activated version of Node"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "ls",
            aliases: [],
            description: Some("List installed versions, matching a given <version> if provided"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--no-colors",
                    ],
                    description: Some("Suppress colored output"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-alias",
                    ],
                    description: Some("Suppress `nvm alias` output"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    source: Static([
                        "node",
                        "iojs",
                        "system",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "ls-remote",
            aliases: [],
            description: Some("List remote versions available for install, matching a given <version> if provided"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("When listing, only show LTS (long-term support) versions"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("When listing, only show versions for a specific LTS line"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "LTS name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-colors",
                    ],
                    description: Some("Suppress colored output"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    source: Static([
                        "node",
                        "iojs",
                        "system",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "version",
            aliases: [],
            description: Some("Resolve the given description to a single local version"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "version",
                    source: Static([
                        "node",
                        "iojs",
                        "system",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "version-remote",
            aliases: [],
            description: Some("Resolve the given description to a single remote version"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("When listing, only show LTS (long-term support) versions"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--lts",
                    ],
                    description: Some("When listing, only show versions for a specific LTS line"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "LTS name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    source: Static([
                        "node",
                        "iojs",
                        "system",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "deactivate",
            aliases: [],
            description: Some("Undo effects of `nvm` on current shell"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--silent",
                    ],
                    description: Some("Silences stdout/stderr output"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "alias",
            aliases: [],
            description: Some("Show all aliases beginning with <pattern> or Set an alias named <name> pointing to <version>"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "pattern or name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "version",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "unalias",
            aliases: [],
            description: Some("Deletes the alias named <name>"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "install-latest-npm",
            aliases: [],
            description: Some("Attempt to upgrade to the latest working `npm` on the current node version"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "reinstall-packages",
            aliases: [],
            description: Some("Reinstall global `npm` packages contained in <version> to current version"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "version",
                    source: Static([
                        "node",
                        "iojs",
                        "system",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "unload",
            aliases: [],
            description: Some("Unload `nvm` from shell"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "which",
            aliases: [],
            description: Some("Display path to installed node version. Uses .nvmrc if available and version is omitted"),
            subcommands: [
                (
                    name: "current",
                    aliases: [],
                    description: None,
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [
                (
                    names: [
                        "--silent",
                    ],
                    description: Some("Silences stdout/stderr output when a version is omitted"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    source: Static([
                        "node",
                        "iojs",
                        "system",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "cache",
            aliases: [],
            description: None,
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "value",
                    source: Static([
                        "dir",
                        "clear",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "set-colors",
            aliases: [],
            description: Some("Set five text colors using format \"yMeBg\". Available when supported"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "color codes",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Show help page"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Print out the installed version of nvm"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-colors",
            ],
            description: Some("Suppress colored output"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)