(
    version: 1,
    command: "od",
    description: Some("Octal, decimal, hex, ASCII dump"),
    options: [
        (
            names: [
                "-A",
            ],
            description: Some("Specify the input address base.  The argument base may be\none of d, o, x or n, which specify decimal, octal,\nhexadecimal addresses or no address, respectively"),
            arguments: [
                (
                    name: "base",
                    suggestions: [
                        (
                            name: "d",
                        ),
                        (
                            name: "o",
                        ),
                        (
                            name: "x",
                        ),
                        (
                            name: "n",
                        ),
                    ],
                    default: Some("d"),
                ),
            ],
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Output named characters.  Equivalent to -t a"),
        ),
        (
            names: [
                "-B",
                "-o",
            ],
            description: Some("Output octal shorts.  Equivalent to -t o2"),
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Output octal bytes.  Equivalent to -t o1"),
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Output C-style escaped characters.  Equivalent to -t c"),
        ),
        (
            names: [
                "-D",
            ],
            description: Some("Output unsigned decimal ints.  Equivalent to -t u4"),
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Output unsigned decimal shorts.  Equivalent to -t u2"),
        ),
        (
            names: [
                "-e",
                "-F",
            ],
            description: Some("Output double-precision floating point numbers.  Equivalent to -t fD"),
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Output single-precision floating point numbers.  Equivalent to -t fF"),
        ),
        (
            names: [
                "-H",
                "-X",
            ],
            description: Some("Output hexadecimal ints.  Equivalent to -t x4"),
        ),
        (
            names: [
                "-h",
                "-x",
            ],
            description: Some("Output hexadecimal shorts.  Equivalent to -t x2"),
        ),
        (
            names: [
                "-I",
                "-L",
                "-l",
            ],
            description: Some("Output signed decimal longs.  Equivalent to -t dL"),
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Output signed decimal ints.  Equivalent to -t dI"),
        ),
        (
            names: [
                "-j",
            ],
            description: Some("Skip skip bytes of the combined input before dumping.  The\nnumber may be followed by one of b, k, m or g which\nspecify the units of the number as blocks (512 bytes),\nkilobytes, megabytes and gigabytes, respectively"),
            arguments: [
                (
                    name: "skip",
                ),
            ],
        ),
        (
            names: [
                "-N",
            ],
            description: Some("Dump at most length bytes of input"),
            arguments: [
                (
                    name: "length",
                ),
            ],
        ),
        (
            names: [
                "-O",
            ],
            description: Some("Output octal ints.  Equivalent to -t o4"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Output signed decimal shorts.  Equivalent to -t d2"),
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Specify the output format.  The type argument is a string\ncontaining one or more of the following kinds of type specificers: a,\nc, [d|o|u|x][C|S|I|L|n], or f[F|D|L|n]. See the man page for meanings"),
            arguments: [
                (
                    name: "type",
                    suggestions: [
                        (
                            name: "a",
                        ),
                        (
                            name: "c",
                        ),
                        (
                            name: "dC",
                        ),
                        (
                            name: "dS",
                        ),
                        (
                            name: "dI",
                        ),
                        (
                            name: "dL",
                        ),
                        (
                            name: "dn",
                        ),
                        (
                            name: "oC",
                        ),
                        (
                            name: "oS",
                        ),
                        (
                            name: "oI",
                        ),
                        (
                            name: "oL",
                        ),
                        (
                            name: "on",
                        ),
                        (
                            name: "uC",
                        ),
                        (
                            name: "uS",
                        ),
                        (
                            name: "uI",
                        ),
                        (
                            name: "uL",
                        ),
                        (
                            name: "un",
                        ),
                        (
                            name: "xC",
                        ),
                        (
                            name: "xS",
                        ),
                        (
                            name: "xI",
                        ),
                        (
                            name: "xL",
                        ),
                        (
                            name: "xn",
                        ),
                        (
                            name: "fF",
                        ),
                        (
                            name: "fD",
                        ),
                        (
                            name: "fL",
                        ),
                        (
                            name: "fn",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Write all input data, instead of replacing lines of duplicate values with a '*'"),
        ),
    ],
    arguments: [
        (
            name: "[+]offset[.][Bb]",
            description: Some("Offset"),
            suggestions: [
                (
                    name: "+0b",
                ),
            ],
            optional: true,
            default: Some("+0b"),
        ),
        (
            name: "file",
            description: Some("File name"),
            template: [
                FilePaths,
            ],
            optional: true,
            variadic: true,
        ),
    ],
    parser_directives: Some((
        options_must_precede_arguments: true,
    )),
)
