(
    version: 1,
    command: "oh-my-posh",
    description: Some(""),
    subcommands: [
        (
            name: "init",
            aliases: [],
            description: Some("Initialize oh-my-posh for your shell"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--config",
                        "-c",
                    ],
                    description: Some("The config file to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "CONFIG",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--print",
                        "-p",
                    ],
                    description: Some("Print the init script"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "SHELL",
                    source: Static([
                        "zsh",
                        "fish",
                        "pwsh",
                        "powershell",
                        "cmd",
                        "bash",
                        "shell",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "get",
            aliases: [],
            description: Some("Get oh-my-posh values"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "VALUE",
                    source: Static([
                        "millis",
                        "shell",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "debug",
            aliases: [],
            description: Some("Debug oh-my-posh, example usage: \'oh-my-posh debug\'"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--config",
                        "-c",
                    ],
                    description: Some("The config file to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "CONFIG",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "config",
            aliases: [],
            description: Some("Interact with the oh-my-posh configuration"),
            subcommands: [
                (
                    name: "edit",
                    aliases: [],
                    description: Some("Edit the config file, example usage: \'oh-my-posh config edit\'"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "migrate",
                    aliases: [],
                    description: Some("Migrate the config file, example usage: \'oh-my-posh config migrate --config ~/.config.omp.json\'"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--write",
                                "-w",
                            ],
                            description: Some("Write the migrated config to the configuration file, example usage: \'oh-my-posh config migrate --write\'"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "--format",
                                "-f",
                            ],
                            description: Some("The file format to use"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "FORMAT",
                                    source: Static([
                                        "json",
                                        "yaml",
                                        "toml",
                                    ]),
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "export",
                    aliases: [],
                    description: Some("Export the config file, example usage: \'oh-my-posh config export --config ~/.config.omp.toml\'"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--output",
                                "-o",
                            ],
                            description: Some("The file to output the migrated config to, example usage: \'oh-my-posh config export --output ~/.config.omp.json\'"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "OUTPUT",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--format",
                                "-f",
                            ],
                            description: Some("The file format to use"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "FORMAT",
                                    source: Static([
                                        "json",
                                        "yaml",
                                        "toml",
                                    ]),
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [
                (
                    names: [
                        "--config",
                        "-c",
                    ],
                    description: Some("The config file to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "CONFIG",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "print",
            aliases: [],
            description: Some("Print a prompt"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--config",
                        "-c",
                    ],
                    description: Some("The config file to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "CONFIG",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--terminal-width",
                        "-w",
                    ],
                    description: Some("The terminal width, example usage: \'oh-my-posh print primary --terminal-width 200\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "WIDTH",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--command",
                    ],
                    description: Some("The current command for tooltips, example usage: \'oh-my-posh print tooltip --command az\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "COMMAND",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--error",
                        "-e",
                    ],
                    description: Some("The last exit code, example usage: \'oh-my-posh print primary --error 127\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "ERROR CODE",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--eval",
                    ],
                    description: Some("Use eval to render the prompt, example usage: \'oh-my-posh print primary --eval\'"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--execution-time",
                    ],
                    description: Some("Use last command execution time in millis, example usage: \'oh-my-posh print primary --execution-time 200\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "EXECUTION TIME",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--plain",
                        "-p",
                    ],
                    description: Some("Print a prompt without ASNI codes, example usage: \'oh-my-posh print primary --plain\'"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--pswd",
                    ],
                    description: Some("The current working directory according to PowerShell, example usage: \'oh-my-posh print primary --pswd C:\\Users\\user\\Documents\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "POWERSHELL WORKING DIRECTORY",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--pwd",
                    ],
                    description: Some("The current working directory, example usage: \'oh-my-posh print primary --pwd /home/user/Documents\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "WORKING DIRECTORY",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--shell",
                    ],
                    description: Some("The current shell, example usage: \'oh-my-posh print primary --shell fish\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "SHELL",
                            source: Static([
                                "zsh",
                                "fish",
                                "pwsh",
                                "powershell",
                                "cmd",
                                "bash",
                                "shell",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--stack-count",
                    ],
                    description: Some("The directory stack count, example usage: \'oh-my-posh print primary --stack-count 1\'"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "NUM",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "PROMPT",
                    source: Static([
                        "primary",
                        "secondary",
                        "right",
                        "transient",
                        "tooltip",
                        "valid",
                        "error",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "version",
            aliases: [],
            description: Some("Display the oh-my-posh version, example usage: \'oh-my-posh version\'"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for oh-my-posh"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)