(
    version: 1,
    command: "okta",
    description: Some("The Okta CLI is the easiest way to get started with Okta!"),
    subcommands: [
        (
            name: "register",
            description: Some("Sign up for a new Okta account"),
            options: [
                (
                    names: [
                        "--company",
                    ],
                    description: Some("Company/organization used when registering a new Okta account"),
                ),
                (
                    names: [
                        "--email",
                    ],
                    description: Some("Email used when registering a new Okta account"),
                ),
                (
                    names: [
                        "--first-name",
                    ],
                    description: Some("First name used when registering a new Okta account"),
                ),
                (
                    names: [
                        "--last-name",
                    ],
                    description: Some("Last name used when registering a new Okta account"),
                ),
            ],
        ),
        (
            name: "login",
            description: Some("Authorizes the Okta CLI tool"),
        ),
        (
            name: "apps",
            description: Some("Manage Okta apps"),
            subcommands: [
                (
                    name: "config",
                    description: Some("Show an Okta app's configuration"),
                    options: [
                        (
                            names: [
                                "--app",
                            ],
                            description: Some("The App ID"),
                        ),
                    ],
                ),
                (
                    name: "create",
                    description: Some("Create a new Okta app"),
                    options: [
                        (
                            names: [
                                "--app-name",
                            ],
                            description: Some("Application name to be created, defaults to current directory name"),
                        ),
                        (
                            names: [
                                "--authorization-server-id",
                            ],
                            description: Some("Okta Authorization Server Id"),
                        ),
                        (
                            names: [
                                "--config-file",
                            ],
                            description: Some("Application config file"),
                        ),
                        (
                            names: [
                                "--redirect-uri",
                            ],
                            description: Some("OIDC Redirect URI"),
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("Deletes an Okta app"),
                    options: [
                        (
                            names: [
                                "-f",
                                "--force",
                            ],
                            description: Some("Deactivate and delete applications without confirmation"),
                        ),
                    ],
                    arguments: [
                        (
                            name: "appIds",
                            description: Some("List of application IDs to be deleted"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "start",
            description: Some("Creates an Okta Sample Application"),
            arguments: [
                (
                    name: "name",
                    description: Some("The name of the sample app to create"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Displays help information about the specified command"),
            options: [
                (
                    names: [
                        "register",
                    ],
                    description: Some("Sign up for a new Okta account"),
                ),
                (
                    names: [
                        "login",
                    ],
                    description: Some("Authorizes the Okta CLI tool"),
                ),
                (
                    names: [
                        "apps",
                    ],
                    description: Some("Manage Okta apps"),
                ),
                (
                    names: [
                        "start",
                    ],
                    description: Some("Creates an Okta Sample Application"),
                ),
                (
                    names: [
                        "help",
                    ],
                    description: Some("Displays help information about the specified command"),
                ),
                (
                    names: [
                        "generate-completion",
                    ],
                    description: Some("Generate bash/zsh completion script for Okta"),
                ),
            ],
        ),
        (
            name: "generate-completion",
            description: Some("Generate bash/zsh completion script for Okta"),
            presentation: (
                hidden: true,
            ),
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for Okta CLI"),
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Print version information"),
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Verbose logging"),
        ),
        (
            names: [
                "--batch",
            ],
            description: Some("Batch mode, will not prompt for user input"),
        ),
    ],
)
