(
    version: 1,
    command: "omz",
    description: Some("Oh My Zsh"),
    subcommands: [
        (
            name: "help",
            aliases: [],
            description: Some("Print the help message"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "changelog",
            aliases: [],
            description: Some("Print the changelog"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "plugin",
            aliases: [],
            description: Some("Manage plugins"),
            subcommands: [
                (
                    name: "disable",
                    aliases: [],
                    description: Some("Disable plugin(s)"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "plugin",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "enable",
                    aliases: [],
                    description: Some("Enable plugin(s)"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "plugin",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "info",
                    aliases: [],
                    description: Some("Get information of a plugin"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "plugin",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List all available Oh My Zsh plugins"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "load",
                    aliases: [],
                    description: Some("Load plugin(s)"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "plugin",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "pr",
            aliases: [],
            description: Some("Manage Oh My Zsh Pull Requests"),
            subcommands: [
                (
                    name: "clean",
                    aliases: [],
                    description: Some("Delete all PR branches (ohmyzsh/pull-*)"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "test",
                    aliases: [],
                    description: Some("Fetch PR #NUMBER and rebase against master"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "PR_number_or_URL",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "reload",
            aliases: [],
            description: Some("Reload the current zsh session"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "theme",
            aliases: [],
            description: Some("Manage themes"),
            subcommands: [
                (
                    name: "list",
                    aliases: [],
                    description: Some("List all available Oh My Zsh themes"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "set",
                    aliases: [],
                    description: Some("Set a theme in your .zshrc file"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "theme",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "use",
                    aliases: [],
                    description: Some("Load a theme"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "theme",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Update Oh My Zsh"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "version",
            aliases: [],
            description: Some("Show the version"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)