(
    version: 1,
    command: "omz",
    description: Some("Oh My Zsh"),
    subcommands: [
        (
            name: "help",
            description: Some("Print the help message"),
        ),
        (
            name: "changelog",
            description: Some("Print the changelog"),
        ),
        (
            name: "plugin",
            description: Some("Manage plugins"),
            subcommands: [
                (
                    name: "disable",
                    description: Some("Disable plugin(s)"),
                    arguments: [
                        (
                            name: "plugin",
                        ),
                    ],
                ),
                (
                    name: "enable",
                    description: Some("Enable plugin(s)"),
                    arguments: [
                        (
                            name: "plugin",
                        ),
                    ],
                ),
                (
                    name: "info",
                    description: Some("Get information of a plugin"),
                    arguments: [
                        (
                            name: "plugin",
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("List all available Oh My Zsh plugins"),
                ),
                (
                    name: "load",
                    description: Some("Load plugin(s)"),
                    arguments: [
                        (
                            name: "plugin",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "pr",
            description: Some("Manage Oh My Zsh Pull Requests"),
            subcommands: [
                (
                    name: "clean",
                    description: Some("Delete all PR branches (ohmyzsh/pull-*)"),
                ),
                (
                    name: "test",
                    description: Some("Fetch PR #NUMBER and rebase against master"),
                    arguments: [
                        (
                            name: "PR_number_or_URL",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "reload",
            description: Some("Reload the current zsh session"),
        ),
        (
            name: "theme",
            description: Some("Manage themes"),
            subcommands: [
                (
                    name: "list",
                    description: Some("List all available Oh My Zsh themes"),
                ),
                (
                    name: "set",
                    description: Some("Set a theme in your .zshrc file"),
                    arguments: [
                        (
                            name: "theme",
                        ),
                    ],
                ),
                (
                    name: "use",
                    description: Some("Load a theme"),
                    arguments: [
                        (
                            name: "theme",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "update",
            description: Some("Update Oh My Zsh"),
        ),
        (
            name: "version",
            description: Some("Show the version"),
        ),
    ],
)
