(
    version: 1,
    command: "onboardbase",
    description: Some("Onboardbase manages app secrets and credentials securely with team work and contractors in mind"),
    subcommands: [
        (
            name: "build",
            description: Some("Run a command with secrets injected into the environment"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show CLI help"),
                ),
                (
                    names: [
                        "-p",
                        "--project",
                    ],
                    description: Some("Name of project"),
                    arguments: [
                        (
                            name: "project name",
                        ),
                    ],
                ),
                (
                    names: [
                        "-e",
                        "--environment",
                    ],
                    description: Some("Environment to run by default"),
                    arguments: [
                        (
                            name: "environment",
                        ),
                    ],
                ),
                (
                    names: [
                        "-c",
                        "--command",
                    ],
                    description: Some("Command to run"),
                    arguments: [
                        (
                            name: "Command to Run",
                        ),
                    ],
                ),
                (
                    names: [
                        "-k",
                        "--prefix",
                    ],
                    description: Some("Prefix"),
                    arguments: [
                        (
                            name: "Project Prefix",
                        ),
                    ],
                ),
                (
                    names: [
                        "-s",
                        "--passphrase",
                    ],
                    description: Some("Passphrase"),
                    arguments: [
                        (
                            name: "Encryption Passphrase",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "command",
                ),
            ],
        ),
        (
            name: "config:get-token",
            description: Some("Get all tokens"),
            options: [
                (
                    names: [
                        "-S",
                        "--scope",
                    ],
                    description: Some("Scope"),
                    arguments: [
                        (
                            name: "project scope",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "config:set",
            description: Some("Update your onboardbase config"),
            options: [
                (
                    names: [
                        "-s",
                        "--scope",
                    ],
                    description: Some("Scope"),
                    arguments: [
                        (
                            name: "project scope",
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--token",
                    ],
                    description: Some("Auth Token"),
                    arguments: [
                        (
                            name: "Auth Token",
                        ),
                    ],
                ),
                (
                    names: [
                        "-A",
                        "--api-host",
                    ],
                    description: Some("API Host"),
                    arguments: [
                        (
                            name: "Api Host",
                        ),
                    ],
                ),
                (
                    names: [
                        "-D",
                        "--dashboard-host",
                    ],
                    description: Some("Dashboard Host"),
                    arguments: [
                        (
                            name: "Dashboard Host",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "config:set-token",
            description: Some("Set up Configuration token manually"),
            options: [
                (
                    names: [
                        "-S",
                        "--scope",
                    ],
                    description: Some("Scope"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                    required: true,
                ),
            ],
            arguments: [
                (
                    name: "token",
                ),
            ],
        ),
        (
            name: "destroy",
            description: Some("Cleanup Onboardbase artifacts including backup and authentication"),
        ),
        (
            name: "environment:create",
            description: Some("Create an environment under a project"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show CLI help"),
                ),
                (
                    names: [
                        "-p",
                        "--project",
                    ],
                    description: Some("Name of project"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "-e",
                        "--environment",
                    ],
                    description: Some("Environment Title"),
                    arguments: [
                        (
                            name: "Environment Name",
                        ),
                    ],
                    required: true,
                ),
            ],
        ),
        (
            name: "login",
            description: Some("Describe the command here"),
            options: [
                (
                    names: [
                        "--overwrite",
                    ],
                ),
            ],
        ),
        (
            name: "logout",
            description: Some("Log out of the CLI"),
        ),
        (
            name: "project:create",
            description: Some("Create a project"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show CLI help"),
                ),
                (
                    names: [
                        "-t",
                        "--title",
                    ],
                    description: Some("Name of project"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "-d",
                        "--description",
                    ],
                    description: Some("Project description"),
                    arguments: [
                        (
                            name: "Project Description",
                        ),
                    ],
                ),
                (
                    names: [
                        "-e",
                        "--environment",
                    ],
                    description: Some("Environment to run by default"),
                    arguments: [
                        (
                            name: "default environment",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "recommendation:create",
            description: Some("Create a recommendation"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show CLI help"),
                ),
                (
                    names: [
                        "-p",
                        "--project",
                    ],
                    description: Some("Name of project"),
                    arguments: [
                        (
                            name: "project name",
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--note",
                    ],
                    description: Some("Note"),
                    arguments: [
                        (
                            name: "project description",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "secrets",
                ),
            ],
        ),
        (
            name: "secrets",
            description: Some("Log secrets in JSON file"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show CLI help"),
                ),
                (
                    names: [
                        "-p",
                        "--project",
                    ],
                    description: Some("Name of project"),
                    arguments: [
                        (
                            name: "project name",
                        ),
                    ],
                ),
                (
                    names: [
                        "-e",
                        "--environment",
                    ],
                    description: Some("Environment to run by default"),
                    arguments: [
                        (
                            name: "default environment",
                        ),
                    ],
                ),
                (
                    names: [
                        "-J",
                        "--json",
                    ],
                    description: Some("JSON format"),
                ),
            ],
        ),
        (
            name: "secrets:delete",
            description: Some("Update secrets on Onboardbase"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show CLI help"),
                ),
                (
                    names: [
                        "-p",
                        "--project",
                    ],
                    description: Some("Name of project"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "-e",
                        "--environment",
                    ],
                    description: Some("Environment to run by default"),
                    arguments: [
                        (
                            name: "Environment to update",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "secrets",
                ),
            ],
        ),
        (
            name: "secrets:update",
            description: Some("Update secrets on Onboardbase"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show CLI help"),
                ),
                (
                    names: [
                        "-p",
                        "--project",
                    ],
                    description: Some("Name of project"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "-e",
                        "--environment",
                    ],
                    description: Some("Environment to run by default"),
                    arguments: [
                        (
                            name: "Environment to update",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "secrets",
                ),
            ],
        ),
        (
            name: "secrets:upload",
            description: Some("Upload secrets"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show CLI help"),
                ),
                (
                    names: [
                        "-p",
                        "--project",
                    ],
                    description: Some("Name of project"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
                (
                    names: [
                        "-e",
                        "--environment",
                    ],
                    description: Some("Environment to run by default"),
                    arguments: [
                        (
                            name: "Environment to update",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "secrets",
                ),
            ],
        ),
        (
            name: "setup",
            description: Some("Setup the Onboardbase CLI for managing secrets"),
        ),
        (
            name: "share",
            description: Some("Share your local onboardbase.yaml secrets with a teammate"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Show CLI help"),
                ),
                (
                    names: [
                        "-p",
                        "--project",
                    ],
                    description: Some("Project name"),
                    arguments: [
                        (
                            name: "project name",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Display help for <%= config.bin %>"),
            options: [
                (
                    names: [
                        "--all",
                    ],
                    description: Some("See all commands in CLI"),
                ),
            ],
            arguments: [
                (
                    name: "command",
                    description: Some("Command to show help for"),
                    optional: true,
                ),
            ],
        ),
    ],
)
