(
    version: 1,
    command: "osascript",
    description: Some("Execute OSA scripts (AppleScript, JavaScript, etc.)"),
    subcommands: [],
    options: [
        (
            names: [
                "-e",
            ],
            description: Some("Enter one line of a script"),
            takes_value: true,
            arguments: [
                (
                    name: "statement",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Interactive mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Override the language for any plain text files"),
            takes_value: true,
            arguments: [
                (
                    name: "language",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Modify the output style"),
            takes_value: true,
            arguments: [
                (
                    name: "flags",
                    source: Static([
                        "h",
                        "s",
                        "e",
                        "o",
                    ]),
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "script",
            source: Unavailable,
            optional: true,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: true,
            )),
        ),
    ],
)