(
    version: 1,
    command: "oxlint",
    description: Some("A high performance linter for the Oxidation Compiler"),
    options: [
        (
            names: [
                "-c",
                "--config",
            ],
            description: Some("Path to Oxlint JSON configuration file"),
            arguments: [
                (
                    name: "file",
                    generators: [
                        (
                            template: [
                                FilePaths,
                                History,
                            ],
                            has_filter_template_suggestions: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--tsconfig",
            ],
            description: Some("Path to tsconfig.json path for reading path aliases and project references for import plugin"),
            arguments: [
                (
                    name: "file",
                    generators: [
                        (
                            script: [
                                "ls",
                            ],
                            template: [
                                FilePaths,
                                History,
                            ],
                            has_filter_template_suggestions: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--ignore-path",
            ],
            description: Some("Specify the file to use as your .eslintignore"),
            arguments: [
                (
                    name: "file",
                    suggestions: [
                        (
                            name: ".eslintignore",
                            kind: Some(File),
                        ),
                    ],
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--ignore-pattern",
            ],
            description: Some("Specify file patterns to ignore (in addition to those in .eslintignore)"),
            arguments: [
                (
                    name: "pattern",
                    description: Some("Glob pattern"),
                ),
            ],
        ),
        (
            names: [
                "--no-ignore",
            ],
            description: Some("Disable exluding of files from .eslintignore files, --ignore-path, and --ignore-pattern"),
        ),
        (
            names: [
                "--symlinks",
            ],
            description: Some("Follow symlinks when linting, which are ignored by default"),
        ),
        (
            names: [
                "--jsdoc-plugin",
            ],
            description: Some("Enable the JSDoc plugin"),
        ),
        (
            names: [
                "--jest-plugin",
            ],
            description: Some("Enable the Jest plugin"),
        ),
        (
            names: [
                "--vitest-plugin",
            ],
            description: Some("Enable the Vitest plugin"),
        ),
        (
            names: [
                "--nextjs-plugin",
            ],
            description: Some("Enable the Next.js plugin"),
        ),
        (
            names: [
                "--react-perf-plugin",
            ],
            description: Some("Enable the React Performance plugin"),
        ),
        (
            names: [
                "--promise-plugin",
            ],
            description: Some("Enable the Promise plugin"),
        ),
        (
            names: [
                "--disable-react-plugin",
            ],
            description: Some("Disable the React plugin, which is turned on by default"),
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            names: [
                "--disable-unicorn-plugin",
            ],
            description: Some("Disable the Unicorn plugin, which is turned on by default"),
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            names: [
                "--disable-oxc-plugin",
            ],
            description: Some("Disable the Oxc plugin, which is turned on by default"),
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            names: [
                "--disable-typescript-plugin",
            ],
            description: Some("Disable the TypeScript plugin, which is turned on by default"),
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            names: [
                "--disable-import-plugin",
            ],
            description: Some("Disable the Import plugin, which is turned on by default"),
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            names: [
                "-D",
                "--deny",
            ],
            description: Some("Deny a lint rule or category (enable a lint as an error)"),
            arguments: [
                (
                    name: "lint",
                    description: Some("Lint rule or category"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                        (
                            script: [
                                "oxlint",
                                "--rules",
                            ],
                            has_custom: true,
                            cache: Some((
                                ttl_ms: Some(86400),
                            )),
                        ),
                    ],
                ),
            ],
            presentation: (
                priority: Some(75.0),
            ),
        ),
        (
            names: [
                "-W",
                "--warn",
            ],
            description: Some("Warn about a lint rule or category (enable a lint as a warning)"),
            arguments: [
                (
                    name: "lint",
                    description: Some("Lint rule or category"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                        (
                            script: [
                                "oxlint",
                                "--rules",
                            ],
                            has_custom: true,
                            cache: Some((
                                ttl_ms: Some(86400),
                            )),
                        ),
                    ],
                ),
            ],
            presentation: (
                priority: Some(75.0),
            ),
        ),
        (
            names: [
                "-A",
                "--allow",
            ],
            description: Some("Allow a lint rule or category (suppress a lint)"),
            arguments: [
                (
                    name: "lint",
                    description: Some("Lint rule or category"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                        (
                            script: [
                                "oxlint",
                                "--rules",
                            ],
                            has_custom: true,
                            cache: Some((
                                ttl_ms: Some(86400),
                            )),
                        ),
                    ],
                ),
            ],
            presentation: (
                priority: Some(75.0),
            ),
        ),
        (
            names: [
                "--fix",
            ],
            description: Some("Fix as many issues as possible. Only unfixed issues are reported in the output"),
        ),
        (
            names: [
                "--silent",
            ],
            description: Some("Do not display any diagnostics"),
        ),
        (
            names: [
                "--deny-warnings",
            ],
            description: Some("Exit with a non-zero code if there are any warnings"),
        ),
        (
            names: [
                "--max-warnings",
            ],
            description: Some("Exit with a non-zero code if there are more than `max` warnings"),
            arguments: [
                (
                    name: "max",
                    description: Some("The maximum number of warnings"),
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--format",
            ],
            description: Some("Use a specific output format"),
            arguments: [
                (
                    name: "format",
                    suggestions: [
                        (
                            name: "default",
                        ),
                        (
                            name: "json",
                        ),
                        (
                            name: "unix",
                        ),
                        (
                            name: "checkstyle",
                        ),
                        (
                            name: "github",
                            description: Some("GitHub Actions Annotations"),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--threads",
            ],
            description: Some("Number of threads to use. Set to 1 to use only 1 CPU core"),
            arguments: [
                (
                    name: "int",
                    description: Some("Number of threads (positive int)"),
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
        (
            names: [
                "--rules",
            ],
            description: Some("List all available rules"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Show version"),
        ),
    ],
    arguments: [
        (
            name: "file|dir|glob",
            description: Some("File(s) to lint"),
            template: [
                FilePaths,
                Folders,
            ],
            variadic: true,
            default: Some("."),
        ),
    ],
)
