(
    version: 1,
    command: "oxlint",
    description: Some("A high performance linter for the Oxidation Compiler"),
    subcommands: [],
    options: [
        (
            names: [
                "-c",
                "--config",
            ],
            description: Some("Path to Oxlint JSON configuration file"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--tsconfig",
            ],
            description: Some("Path to tsconfig.json path for reading path aliases and project references for import plugin"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "ls",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--ignore-path",
            ],
            description: Some("Specify the file to use as your .eslintignore"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Static([
                        ".eslintignore",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--ignore-pattern",
            ],
            description: Some("Specify file patterns to ignore (in addition to those in .eslintignore)"),
            takes_value: true,
            arguments: [
                (
                    name: "pattern",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-ignore",
            ],
            description: Some("Disable exluding of files from .eslintignore files, --ignore-path, and --ignore-pattern"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--symlinks",
            ],
            description: Some("Follow symlinks when linting, which are ignored by default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--jsdoc-plugin",
            ],
            description: Some("Enable the JSDoc plugin"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--jest-plugin",
            ],
            description: Some("Enable the Jest plugin"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--vitest-plugin",
            ],
            description: Some("Enable the Vitest plugin"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nextjs-plugin",
            ],
            description: Some("Enable the Next.js plugin"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--react-perf-plugin",
            ],
            description: Some("Enable the React Performance plugin"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--promise-plugin",
            ],
            description: Some("Enable the Promise plugin"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disable-react-plugin",
            ],
            description: Some("Disable the React plugin, which is turned on by default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disable-unicorn-plugin",
            ],
            description: Some("Disable the Unicorn plugin, which is turned on by default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disable-oxc-plugin",
            ],
            description: Some("Disable the Oxc plugin, which is turned on by default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disable-typescript-plugin",
            ],
            description: Some("Disable the TypeScript plugin, which is turned on by default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--disable-import-plugin",
            ],
            description: Some("Disable the Import plugin, which is turned on by default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-D",
                "--deny",
            ],
            description: Some("Deny a lint rule or category (enable a lint as an error)"),
            takes_value: true,
            arguments: [
                (
                    name: "lint",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "oxlint",
                            "--rules",
                        ],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
        ),
        (
            names: [
                "-W",
                "--warn",
            ],
            description: Some("Warn about a lint rule or category (enable a lint as a warning)"),
            takes_value: true,
            arguments: [
                (
                    name: "lint",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "oxlint",
                            "--rules",
                        ],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
        ),
        (
            names: [
                "-A",
                "--allow",
            ],
            description: Some("Allow a lint rule or category (suppress a lint)"),
            takes_value: true,
            arguments: [
                (
                    name: "lint",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "oxlint",
                            "--rules",
                        ],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--fix",
            ],
            description: Some("Fix as many issues as possible. Only unfixed issues are reported in the output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--silent",
            ],
            description: Some("Do not display any diagnostics"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--deny-warnings",
            ],
            description: Some("Exit with a non-zero code if there are any warnings"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--max-warnings",
            ],
            description: Some("Exit with a non-zero code if there are more than `max` warnings"),
            takes_value: true,
            arguments: [
                (
                    name: "max",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--format",
            ],
            description: Some("Use a specific output format"),
            takes_value: true,
            arguments: [
                (
                    name: "format",
                    source: Static([
                        "default",
                        "json",
                        "unix",
                        "checkstyle",
                        "github",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--threads",
            ],
            description: Some("Number of threads to use. Set to 1 to use only 1 CPU core"),
            takes_value: true,
            arguments: [
                (
                    name: "int",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--rules",
            ],
            description: Some("List all available rules"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Show version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "file|dir|glob",
            source: Directories,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)