(
    version: 1,
    command: "pageres",
    description: Some("Capture website screenshots"),
    options: [
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Verbose output to see errors if you need to troubleshoot"),
        ),
        (
            names: [
                "--crop",
                "-c",
            ],
            description: Some("Crop to the set height"),
            exclusive_on: [
                "--no-crop",
            ],
        ),
        (
            names: [
                "--delay",
                "-d",
            ],
            description: Some("Delay screenshot capture"),
            arguments: [
                (
                    name: "time",
                ),
            ],
        ),
        (
            names: [
                "--filename",
            ],
            description: Some("Custom filename"),
            arguments: [
                (
                    name: "template",
                    description: Some("--filename='<%= date %> - <%= url %>'"),
                ),
            ],
        ),
        (
            names: [
                "--overwrite",
            ],
            description: Some("Overwrite destination file if it exists. Defaults to appending (n) to the file name if --overwrite is not set"),
        ),
        (
            names: [
                "--selector",
            ],
            description: Some("Capture DOM element"),
            arguments: [
                (
                    name: "element",
                ),
            ],
        ),
        (
            names: [
                "--hide",
            ],
            description: Some("Hide DOM element. Can be set multiple times"),
            arguments: [
                (
                    name: "element",
                ),
            ],
        ),
        (
            names: [
                "--no-crop",
            ],
            description: Some("Override a global crop option within a group"),
            exclusive_on: [
                "--crop",
                "-c",
            ],
        ),
        (
            names: [
                "--css",
            ],
            description: Some("Apply custom CSS to the webpage. Specify some CSS or the path to a CSS file"),
            arguments: [
                (
                    name: "string",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--cookie",
            ],
            description: Some("Browser cookie. Can be set multiple times"),
            arguments: [
                (
                    name: "cookie",
                ),
            ],
        ),
        (
            names: [
                "--header",
            ],
            description: Some("Custom HTTP request header. Can be set multiple times"),
            arguments: [
                (
                    name: "header",
                ),
            ],
        ),
        (
            names: [
                "--username",
            ],
            description: Some("Username for HTTP auth"),
            arguments: [
                (
                    name: "username",
                ),
            ],
        ),
        (
            names: [
                "--password",
            ],
            description: Some("Password for HTTP auth"),
            arguments: [
                (
                    name: "password",
                ),
            ],
        ),
        (
            names: [
                "--scale",
            ],
            description: Some("Scale webpage n of times"),
            arguments: [
                (
                    name: "number",
                ),
            ],
        ),
        (
            names: [
                "--format",
            ],
            description: Some("Image format. Either png (default) or jpg"),
            arguments: [
                (
                    name: "format",
                    suggestions: [
                        (
                            name: "png",
                        ),
                        (
                            name: "jpg",
                        ),
                    ],
                    default: Some("png"),
                ),
            ],
        ),
        (
            names: [
                "--user-agent",
            ],
            description: Some("Custom user agent"),
            arguments: [
                (
                    name: "string",
                ),
            ],
        ),
        (
            names: [
                "--transparent",
            ],
            description: Some("Set background color to transparent instead of white if no background is set"),
        ),
        (
            names: [
                "--darkMode",
            ],
            description: Some("Emulate preference of dark color scheme"),
        ),
    ],
    arguments: [
        (
            name: "url | filepath",
            template: [
                FilePaths,
            ],
            variadic: true,
        ),
        (
            name: "resolution",
            variadic: true,
        ),
    ],
)
