(
    version: 1,
    command: "pass",
    description: Some("Pass - stores, retrieves, generates, and synchronizes passwords securely"),
    subcommands: [
        (
            name: "init",
            description: Some("Initialize new password storage and use gpg-id for encryption"),
            options: [
                (
                    names: [
                        "--path",
                        "-p",
                    ],
                    description: Some("A specific gpg-id or set of gpg-ids is assigned for that specific sub folder of the password store"),
                    arguments: [
                        (
                            name: "sub-folder",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "gpg-id",
                    description: Some("The gpg-id you want to use to encrypt your password store"),
                ),
            ],
        ),
        (
            name: "insert",
            description: Some("Insert a new password into the password store called pass-name"),
            options: [
                (
                    names: [
                        "--echo",
                        "-e",
                    ],
                    description: Some("Disable keyboard echo when the password is entered and confirm the password by asking for it twice"),
                ),
                (
                    names: [
                        "--multi-line",
                        "-m",
                    ],
                    description: Some("Lines will be read until EOF or Ctrl+D is reached. Otherwise, only a single line from standard in is read"),
                ),
                (
                    names: [
                        "--force",
                        "-f",
                    ],
                    description: Some("Don't prompt before overwriting an existing password"),
                ),
            ],
            arguments: [
                (
                    name: "pass-name",
                    description: Some("The password name"),
                ),
            ],
        ),
        (
            name: "git",
            description: Some("Password store git functions"),
            load_spec: Some("git"),
        ),
        (
            name: "version",
            description: Some("Show version information"),
        ),
        (
            name: "help",
            description: Some("Show usage message"),
        ),
        (
            name: "cp",
            description: Some("Copies the password or directory named old-path to new-path"),
            options: [
                (
                    names: [
                        "--force",
                        "-f",
                    ],
                    description: Some("Do not interactively prompt before moving"),
                ),
            ],
            arguments: [
                (
                    name: "old-path",
                    description: Some("The old password name or directory"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                ),
                (
                    name: "new-path",
                    description: Some("The new password name or directory"),
                ),
            ],
        ),
        (
            name: "mv",
            description: Some("Renames the password or directory named old-path to new-path"),
            options: [
                (
                    names: [
                        "--force",
                        "-f",
                    ],
                    description: Some("Do not interactively prompt before moving"),
                ),
            ],
            arguments: [
                (
                    name: "old-path",
                    description: Some("The old password name or directory"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                ),
                (
                    name: "new-path",
                    description: Some("The new password name or directory"),
                ),
            ],
        ),
        (
            name: "rm",
            description: Some("Remove the password named pass-name from the password store"),
            options: [
                (
                    names: [
                        "--recursive",
                        "-r",
                    ],
                    description: Some("Delete pass-name recursively if it is a directory"),
                ),
                (
                    names: [
                        "--force",
                        "-f",
                    ],
                    description: Some("Do not interactively prompt before removal"),
                ),
            ],
            arguments: [
                (
                    name: "pass-name",
                    description: Some("The password name"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "generate",
            description: Some("Generate a new password of length pass-length and insert into pass-name"),
            options: [
                (
                    names: [
                        "--no-symbols",
                        "-n",
                    ],
                    description: Some("Do not use any non-alphanumeric characters in the generated password"),
                ),
                (
                    names: [
                        "--clip",
                        "-c",
                    ],
                    description: Some("Do not print the password but instead copy it to the clipboard"),
                ),
                (
                    names: [
                        "--in-place",
                        "-i",
                    ],
                    description: Some("Do not interactively prompt, and only replace the first line of the password file with the new generated password, keeping the remainder of the file intact"),
                ),
                (
                    names: [
                        "--force",
                        "-f",
                    ],
                    description: Some("Overwrite the existing password"),
                ),
            ],
            arguments: [
                (
                    name: "pass-name",
                    description: Some("The password name"),
                ),
                (
                    name: "pass-length",
                    description: Some("The length of the password"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "ls",
            aliases: [
                "list",
            ],
            description: Some("List names of passwords inside the tree at subfolder by using the tree"),
            arguments: [
                (
                    name: "password sub-directory",
                    description: Some("The password sub directory you want to list"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "find",
            description: Some("List names of passwords inside the tree that match pass-names"),
            arguments: [
                (
                    name: "pass-name",
                    description: Some("The password name you want to search for"),
                ),
            ],
        ),
        (
            name: "show",
            description: Some("Decrypt and print a password"),
            options: [
                (
                    names: [
                        "--clip",
                        "-c",
                    ],
                    description: Some("Copy the password to the clipboard"),
                ),
                (
                    names: [
                        "--qrcode",
                        "-q",
                    ],
                    description: Some("Display a QRcode of the password"),
                ),
            ],
            arguments: [
                (
                    name: "pass-name",
                    description: Some("The password you want to show"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "edit",
            description: Some("Insert a new password or edit an existing password using the default text editor specified by the environment"),
            arguments: [
                (
                    name: "pass-name",
                    description: Some("The password you want to edit"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "grep",
            description: Some("Searches inside each decrypted password file for search-string. Grep options can be used"),
            arguments: [
                (
                    name: "pass-name",
                    description: Some("The password name you want to grep for"),
                ),
            ],
            load_spec: Some("grep"),
        ),
    ],
    options: [
        (
            names: [
                "--clip",
                "-c",
            ],
            description: Some("Copy the password to the clipboard"),
        ),
        (
            names: [
                "--qrcode",
                "-q",
            ],
            description: Some("Display a QRcode of the password"),
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Show help for pass"),
        ),
    ],
    arguments: [
        (
            name: "pass-name",
            description: Some("The password you want to show"),
            generators: [
                (
                    has_custom: true,
                ),
            ],
        ),
    ],
)
