(
    version: 1,
    command: "passwd",
    description: Some("Modify a user's password"),
    options: [
        (
            names: [
                "-i",
            ],
            description: Some("Specify where the password update should be applied"),
            arguments: [
                (
                    name: "infosystem",
                    description: Some("The directory system"),
                    suggestions: [
                        (
                            name: "PAM",
                        ),
                        (
                            name: "opendirectory",
                        ),
                        (
                            name: "file",
                        ),
                        (
                            name: "nis",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Causes the password to be updated in the given location of the chosen directory system"),
            arguments: [
                (
                    name: "location",
                    description: Some("The location of the chosen directory system"),
                    template: [
                        FilePaths,
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Specify the user name to use when authenticating to the directory node"),
            arguments: [
                (
                    name: "authname",
                    description: Some("The user name"),
                    generators: [
                        (
                            script: [
                                "bash",
                                "-c",
                                "dscl . -list /Users | grep -E -v '^_'",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
    ],
)
