(
    version: 1,
    command: "pdfunite",
    description: Some("Combine multiple pdfs"),
    options: [
        (
            names: [
                "-v",
            ],
            description: Some("Print copyright and version info"),
        ),
        (
            names: [
                "-h",
                "--help",
                "-?",
            ],
            description: Some("Print usage information"),
        ),
    ],
    arguments: [
        (
            name: "",
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
            variadic: true,
        ),
    ],
)
