(
    version: 1,
    command: "pg_dump",
    description: Some("Dumps a database as a text file or to other formats"),
    options: [
        (
            names: [
                "--help",
                "-?",
            ],
            description: Some("Show help for pg_dump"),
        ),
        (
            names: [
                "--file",
                "-f",
            ],
            description: Some("Output file or directory name"),
            arguments: [
                (
                    name: "filename",
                ),
            ],
        ),
        (
            names: [
                "--format",
                "-F",
            ],
            description: Some("Output file format"),
            arguments: [
                (
                    name: "format",
                    suggestions: [
                        (
                            name: "c",
                            presentation: (
                                display_name: Some("custom"),
                            ),
                        ),
                        (
                            name: "d",
                            presentation: (
                                display_name: Some("directory"),
                            ),
                        ),
                        (
                            name: "t",
                            presentation: (
                                display_name: Some("tar"),
                            ),
                        ),
                        (
                            name: "p",
                            presentation: (
                                display_name: Some("plain text"),
                            ),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--jobs",
                "-j",
            ],
            description: Some("Number of parallel job to dump"),
            arguments: [
                (
                    name: "num",
                ),
            ],
        ),
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Verbose mode"),
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Output version information"),
        ),
        (
            names: [
                "--compress",
                "-Z",
            ],
            description: Some("Compression level for compressed formats"),
            arguments: [
                (
                    name: "level",
                    suggestions: [
                        (
                            name: "0",
                        ),
                        (
                            name: "1",
                        ),
                        (
                            name: "2",
                        ),
                        (
                            name: "3",
                        ),
                        (
                            name: "4",
                        ),
                        (
                            name: "5",
                        ),
                        (
                            name: "6",
                        ),
                        (
                            name: "7",
                        ),
                        (
                            name: "8",
                        ),
                        (
                            name: "9",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--lock-wait-timeout",
            ],
            description: Some("Fail after waiting <timeout> for a table lock"),
            arguments: [
                (
                    name: "timeout",
                ),
            ],
        ),
        (
            names: [
                "--no-sync",
            ],
            description: Some("Do not wait for changes to be written safely to disk"),
        ),
        (
            names: [
                "--data-only",
                "-a",
            ],
            description: Some("Dump only the data, not the schema"),
        ),
        (
            names: [
                "--blobs",
                "-b",
            ],
            description: Some("Include large objects in dump"),
        ),
        (
            names: [
                "--no-blobs",
                "-B",
            ],
            description: Some("Exclude large objects in dump"),
        ),
        (
            names: [
                "--clean",
                "-c",
            ],
            description: Some("Clean (drop) database objects before recreating"),
        ),
        (
            names: [
                "--create",
                "-C",
            ],
            description: Some("Include commands to create database in dump"),
        ),
        (
            names: [
                "--extension",
                "-e",
            ],
            description: Some("Dump the specified extension(s) only"),
            arguments: [
                (
                    name: "pattern",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--encoding",
                "-E",
            ],
            description: Some("Dump the data in encoding <encoding>"),
            arguments: [
                (
                    name: "encoding",
                ),
            ],
        ),
        (
            names: [
                "--schema",
                "-n",
            ],
            description: Some("Dump the specified schema(s) only"),
            arguments: [
                (
                    name: "pattern",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--exclude-schema",
                "-N",
            ],
            description: Some("Do NOT dump the specified schema(s)"),
            arguments: [
                (
                    name: "pattern",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--no-owner",
                "-O",
            ],
            description: Some("Skip restoration of object ownership in plain-text format"),
        ),
        (
            names: [
                "--schema-only",
                "-s",
            ],
            description: Some("Dump only the schema, no data"),
        ),
        (
            names: [
                "--superuser",
                "-S",
            ],
            description: Some("Superuser user name to use in plain-text format"),
            arguments: [
                (
                    name: "name",
                ),
            ],
        ),
        (
            names: [
                "--table",
                "-t",
            ],
            description: Some("Dump the specified table(s) only"),
            arguments: [
                (
                    name: "table",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--exclude-table",
                "-T",
            ],
            description: Some("Do NOT dump the specified table(s)"),
            arguments: [
                (
                    name: "table",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--no-privileges",
                "-x",
                "--no-acl",
            ],
            description: Some("Do not dump privileges (grant/revoke)"),
        ),
        (
            names: [
                "--binary-upgrade",
            ],
            description: Some("For use by upgrade utilities only"),
        ),
        (
            names: [
                "--column-inserts",
                "--attribute-inserts",
            ],
            description: Some("Dump data as INSERT commands with column names"),
        ),
        (
            names: [
                "--disable-dollar-quoting",
            ],
            description: Some("Disable dollar quoting, use SQL standard quoting"),
        ),
        (
            names: [
                "--disable-triggers",
            ],
            description: Some("Disable triggers during data-only restore"),
        ),
        (
            names: [
                "--enable-row-security",
            ],
            description: Some("Enable row security (dump only content user has access to)"),
        ),
        (
            names: [
                "--exclude-table-data",
            ],
            description: Some("Do NOT dump data for the specified table(s)"),
            arguments: [
                (
                    name: "table",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--extra-float-digits",
            ],
            description: Some("Override default setting for extra_float_digits"),
            arguments: [
                (
                    name: "num",
                ),
            ],
        ),
        (
            names: [
                "--if-exists",
            ],
            description: Some("Use IF EXISTS when dropping objects"),
        ),
        (
            names: [
                "--include-foreign-data",
            ],
            description: Some("Include data of foreign tables on foreign servers matching PATTERN"),
            arguments: [
                (
                    name: "pattern",
                ),
            ],
        ),
        (
            names: [
                "--inserts",
            ],
            description: Some("Dump data as INSERT commands, rather than COPY"),
        ),
        (
            names: [
                "--load-via-partition-root",
            ],
            description: Some("Load partitions via the root table"),
        ),
        (
            names: [
                "--no-comments",
            ],
            description: Some("Do not dump comments"),
        ),
        (
            names: [
                "--no-publications",
            ],
            description: Some("Do not dump publications"),
        ),
        (
            names: [
                "--no-security-labels",
            ],
            description: Some("Do not dump security label assignments"),
        ),
        (
            names: [
                "--no-subscriptions",
            ],
            description: Some("Do not dump subscriptions"),
        ),
        (
            names: [
                "--no-synchronized-snapshots",
            ],
            description: Some("Do not use synchronized snapshots in parallel jobs"),
        ),
        (
            names: [
                "--no-tablespaces",
            ],
            description: Some("Do not dump tablespace assignments"),
        ),
        (
            names: [
                "--no-toast-compression",
            ],
            description: Some("Do not dump TOAST compression methods"),
        ),
        (
            names: [
                "--no-unlogged-table-data",
            ],
            description: Some("Do not dump unlogged table data"),
        ),
        (
            names: [
                "--on-conflict-do-nothing",
            ],
            description: Some("Add ON CONFLICT DO NOTHING to INSERT commands"),
        ),
        (
            names: [
                "--quote-all-identifiers",
            ],
            description: Some("Quote all identifiers, even if not key words"),
        ),
        (
            names: [
                "--rows-per-insert",
            ],
            description: Some("Number of rows per INSERT; implies --inserts"),
            arguments: [
                (
                    name: "numbers",
                ),
            ],
        ),
        (
            names: [
                "--section",
            ],
            description: Some("Dump named section (pre-data, data, or post-data)"),
            arguments: [
                (
                    name: "section",
                ),
            ],
        ),
        (
            names: [
                "--serializable-deferrable",
            ],
            description: Some("Wait until the dump can run without anomalies"),
        ),
        (
            names: [
                "--snapshot",
            ],
            description: Some("Use given snapshot for the dump"),
            arguments: [
                (
                    name: "snapshot",
                ),
            ],
        ),
        (
            names: [
                "--strict-names",
            ],
            description: Some("Require table and/or schema include patterns to match at least one entity each"),
        ),
        (
            names: [
                "--use-set-session-authorization",
            ],
            description: Some("Use SET SESSION AUTHORIZATION commands instead of ALTER OWNER commands to set ownership"),
        ),
        (
            names: [
                "--dbname",
                "-d",
            ],
            description: Some("Database to dump"),
            arguments: [
                (
                    name: "database",
                ),
            ],
        ),
        (
            names: [
                "--host",
                "-h",
            ],
            description: Some("Database server host or socket directory"),
            arguments: [
                (
                    name: "host",
                ),
            ],
        ),
        (
            names: [
                "--port",
                "-p",
            ],
            description: Some("Database server port number"),
            arguments: [
                (
                    name: "number",
                ),
            ],
        ),
        (
            names: [
                "--username",
                "-U",
            ],
            description: Some("Connect as specified database user"),
            arguments: [
                (
                    name: "name",
                ),
            ],
        ),
        (
            names: [
                "--no-password",
                "-w",
            ],
            description: Some("Never prompt for password"),
        ),
        (
            names: [
                "--password",
                "-W",
            ],
            description: Some("Force password prompt (should happen automatically)"),
        ),
        (
            names: [
                "--role",
            ],
            description: Some("Do SET ROLE before dump"),
            arguments: [
                (
                    name: "name",
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "dbname",
            description: Some("Name of the database to dump"),
        ),
    ],
)
