(
    version: 1,
    command: "pipx",
    description: Some("Install and Run Python Applications in Isolated Environments"),
    subcommands: [
        (
            name: "install",
            description: Some("Install a package"),
            options: [
                (
                    names: [
                        "--include-deps",
                    ],
                    description: Some("Include apps of dependent packages"),
                ),
                (
                    names: [
                        "--force",
                    ],
                    description: Some("Modify existing virtual environment and files in PIPX_BIN_DIR"),
                ),
                (
                    names: [
                        "--suffix",
                    ],
                    description: Some("Optional suffix for virtual environment and executable names"),
                    arguments: [
                        (
                            name: "SUFFIX",
                        ),
                    ],
                ),
                (
                    names: [
                        "--python",
                    ],
                    description: Some("The Python executable used to create the Virtual Environment and run the associated app/apps. Must be v3.6+"),
                    arguments: [
                        (
                            name: "PYTHON",
                        ),
                    ],
                ),
                (
                    names: [
                        "--system-site-packages",
                    ],
                    description: Some("Give the virtual environment access to the system site-packages dir"),
                ),
                (
                    names: [
                        "--index-url",
                        "-i",
                    ],
                    description: Some("Base URL of Python Package Index"),
                    arguments: [
                        (
                            name: "INDEX_URL",
                        ),
                    ],
                ),
                (
                    names: [
                        "--editable",
                        "-e",
                    ],
                    description: Some("Install a project in editable mode"),
                ),
                (
                    names: [
                        "--pip-args",
                    ],
                    description: Some("Arbitrary pip arguments to pass directly to pip install/upgrade commands"),
                    arguments: [
                        (
                            name: "PIP_ARGS",
                        ),
                    ],
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show verbose output"),
                ),
            ],
            arguments: [
                (
                    name: "package_spec",
                    description: Some("Package name or pip installation spec"),
                ),
            ],
        ),
        (
            name: "inject",
            description: Some("Installs packages to an existing pipx-managed virtual environment"),
            options: [
                (
                    names: [
                        "--include-apps",
                    ],
                    description: Some("Add apps from the injected packages onto your PATH"),
                ),
                (
                    names: [
                        "--include-deps",
                    ],
                    description: Some("Include apps of dependent packages"),
                ),
                (
                    names: [
                        "--system-site-packages",
                    ],
                    description: Some("Give the virtual environment access to the system site-packages dir"),
                ),
                (
                    names: [
                        "--index-url",
                        "-i",
                    ],
                    description: Some("Base URL of Python Package Index"),
                    arguments: [
                        (
                            name: "INDEX_URL",
                        ),
                    ],
                ),
                (
                    names: [
                        "--editable",
                        "-e",
                    ],
                    description: Some("Install a project in editable mode"),
                ),
                (
                    names: [
                        "--pip-args",
                    ],
                    description: Some("Arbitrary pip arguments to pass directly to pip install/upgrade commands"),
                    arguments: [
                        (
                            name: "PIP_ARGS",
                        ),
                    ],
                ),
                (
                    names: [
                        "--force",
                        "-f",
                    ],
                    description: Some("Modify existing virtual environment and files in PIPX_BIN_DIR"),
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show verbose output"),
                ),
            ],
            arguments: [
                (
                    name: "package",
                    description: Some("Name of the existing pipx-managed Virtual Environment to inject into"),
                    generators: [
                        (
                            script: [
                                "pipx",
                                "list",
                                "--short",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
                (
                    name: "dependencies",
                    description: Some("The packages to inject into the Virtual Environment--either package name or pip package spec"),
                ),
            ],
        ),
        (
            name: "upgrade",
            description: Some("Upgrade a package in a pipx-managed Virtual Environment by running 'pip install --upgrade PACKAGE'"),
            options: [
                (
                    names: [
                        "--include-injected",
                    ],
                    description: Some("Also upgrade packages injected into the main app's environment"),
                ),
                (
                    names: [
                        "--force",
                        "-f",
                    ],
                    description: Some("Modify existing virtual environment and files in PIPX_BIN_DIR"),
                ),
                (
                    names: [
                        "--system-site-packages",
                    ],
                    description: Some("Give the virtual environment access to the system site-packages dir"),
                ),
                (
                    names: [
                        "--index-url",
                        "-i",
                    ],
                    description: Some("Base URL of Python Package Index"),
                    arguments: [
                        (
                            name: "INDEX_URL",
                        ),
                    ],
                ),
                (
                    names: [
                        "--editable",
                        "-e",
                    ],
                    description: Some("Install a project in editable mode"),
                ),
                (
                    names: [
                        "--pip-args",
                    ],
                    description: Some("Arbitrary pip arguments to pass directly to pip install/upgrade commands"),
                    arguments: [
                        (
                            name: "PIP_ARGS",
                        ),
                    ],
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show verbose output"),
                ),
            ],
            arguments: [
                (
                    name: "package",
                    generators: [
                        (
                            script: [
                                "pipx",
                                "list",
                                "--short",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "upgrade-all",
            description: Some("Upgrades all packages within their virtual environments by running 'pip install --upgrade PACKAGE'"),
            options: [
                (
                    names: [
                        "--include-injected",
                    ],
                    description: Some("Also upgrade packages injected into the main app's environment"),
                ),
                (
                    names: [
                        "--skip",
                    ],
                    description: Some("Skip these packages"),
                    arguments: [
                        (
                            name: "packages to skip",
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--force",
                        "-f",
                    ],
                    description: Some("Modify existing virtual environment and files in PIPX_BIN_DIR"),
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show verbose output"),
                ),
            ],
        ),
        (
            name: "uninstall",
            description: Some("Uninstalls a pipx-managed Virtual Environment by deleting it and any files that point to its apps"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show verbose output"),
                ),
            ],
            arguments: [
                (
                    name: "package",
                    generators: [
                        (
                            script: [
                                "pipx",
                                "list",
                                "--short",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "uninstall-all",
            description: Some("Uninstall all pipx-managed packages"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show verbose output"),
                ),
            ],
        ),
        (
            name: "reinstall",
            description: Some("Reinstalls a package"),
            options: [
                (
                    names: [
                        "--python",
                    ],
                    description: Some("The Python executable used to recreate the Virtual Environment and run the associated app/apps. Must be v3.6+"),
                    arguments: [
                        (
                            name: "PYTHON",
                        ),
                    ],
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show verbose output"),
                ),
            ],
            arguments: [
                (
                    name: "package",
                    generators: [
                        (
                            script: [
                                "pipx",
                                "list",
                                "--short",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "reinstall-all",
            description: Some("Reinstalls all packages"),
            options: [
                (
                    names: [
                        "--python",
                    ],
                    description: Some("The Python executable used to recreate the Virtual Environment and run the associated app/apps. Must be v3.6+"),
                    arguments: [
                        (
                            name: "PYTHON",
                        ),
                    ],
                ),
                (
                    names: [
                        "--skip",
                    ],
                    description: Some("Skip these packages"),
                    arguments: [
                        (
                            name: "packages to skip",
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show verbose output"),
                ),
            ],
        ),
        (
            name: "list",
            description: Some("List packages and apps installed with pipx"),
            options: [
                (
                    names: [
                        "--include-injected",
                    ],
                    description: Some("Show packages injected into the main app's environment"),
                ),
                (
                    names: [
                        "--json",
                    ],
                    description: Some("Output rich data in json format"),
                ),
                (
                    names: [
                        "--short",
                    ],
                    description: Some("List packages only"),
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show verbose output"),
                ),
            ],
        ),
        (
            name: "run",
            description: Some("Download the latest version of a package to a temporary virtual environment, then run an app from it"),
            options: [
                (
                    names: [
                        "--no-cache",
                    ],
                    description: Some("Do not re-use cached virtual environment if it exists"),
                ),
                (
                    names: [
                        "--pypackages",
                    ],
                    description: Some("Require app to be run from local __pypackages__ directory"),
                ),
                (
                    names: [
                        "--spec",
                    ],
                    description: Some("The package name or specific installation source passed to pip"),
                    arguments: [
                        (
                            name: "SPEC",
                        ),
                    ],
                ),
                (
                    names: [
                        "--python",
                    ],
                    description: Some("The Python version to run package's CLI app with"),
                    arguments: [
                        (
                            name: "PYTHON",
                        ),
                    ],
                ),
                (
                    names: [
                        "--system-site-packages",
                    ],
                    description: Some("Give the virtual environment access to the system site-packages dir"),
                ),
                (
                    names: [
                        "--index-url",
                        "-i",
                    ],
                    description: Some("Base URL of Python Package Index"),
                    arguments: [
                        (
                            name: "INDEX_URL",
                        ),
                    ],
                ),
                (
                    names: [
                        "--editable",
                        "-e",
                    ],
                    description: Some("Install a project in editable mode"),
                ),
                (
                    names: [
                        "--pip-args",
                    ],
                    description: Some("Arbitrary pip arguments to pass directly to pip install/upgrade commands"),
                    arguments: [
                        (
                            name: "PIP_ARGS",
                        ),
                    ],
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show verbose output"),
                ),
            ],
            arguments: [
                (
                    name: "app",
                    description: Some("App/package name and any arguments to be passed to it"),
                    variadic: true,
                ),
            ],
        ),
        (
            name: "runpip",
            description: Some("Run pip in an existing pipx-managed Virtual Environment"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Show verbose output"),
                ),
            ],
            arguments: [
                (
                    name: "package",
                    description: Some("Name of the existing pipx-managed Virtual Environment to run pip in"),
                ),
                (
                    name: "pipargs",
                    description: Some("Arguments to forward to pip command"),
                    variadic: true,
                ),
            ],
        ),
        (
            name: "ensurepath",
            description: Some("Ensure directory where pipx stores apps is in your PATH environment variable"),
            options: [
                (
                    names: [
                        "--force",
                        "-f",
                    ],
                    description: Some("Add text to your shell's config file even if it looks like your PATH already contains paths to pipx and pipx-install apps"),
                ),
            ],
        ),
        (
            name: "environment",
            description: Some("Print a list of variables used in pipx.constants"),
            options: [
                (
                    names: [
                        "--value",
                    ],
                    description: Some("Print the value of the variable"),
                    arguments: [
                        (
                            name: "VARIABLE",
                            suggestions: [
                                (
                                    name: "PIPX_HOME",
                                ),
                                (
                                    name: "PIPX_BIN_DIR",
                                ),
                                (
                                    name: "PIPX_SHARED_LIBS",
                                ),
                                (
                                    name: "PIPX_LOCAL_VENVS",
                                ),
                                (
                                    name: "PIPX_LOG_DIR",
                                ),
                                (
                                    name: "PIPX_TRASH_DIR",
                                ),
                                (
                                    name: "PIPX_VENV_CACHEDIR",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "completions",
            description: Some("Print instructions on enabling shell completions for pipx"),
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for pipx"),
        ),
    ],
)
