(
    version: 1,
    command: "pkgutil",
    description: Some("Query and manipulate for macOS Installer packages and receipts"),
    subcommands: [
        (
            name: "--packages",
            aliases: [
                "--pkgs",
            ],
            description: Some("List all installed package IDs on the specified --volume"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "--pkgs-plist",
            aliases: [],
            description: Some("List all installed package IDs, in Mac OS X plist(5) format, on the specified --volume"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "--files",
            aliases: [],
            description: Some("List all of the files installed under the package-id"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "package-id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "pkgutil",
                            "--pkgs",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--export-plist",
            aliases: [],
            description: Some("Print all receipt information about the specified package-id in Mac OS X plist(5) format"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "package-id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "pkgutil",
                            "--pkgs",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--verify",
            aliases: [],
            description: Some("Run repair_packages(8) to verify the specified package-id"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "package-id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "pkgutil",
                            "--pkgs",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--repair",
            aliases: [],
            description: Some("Run repair_packages(8) to repair the specified package-id"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "package-id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "pkgutil",
                            "--pkgs",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--pkg-info",
            aliases: [],
            description: Some("Print extended information about the specified package-id"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "package-id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "pkgutil",
                            "--pkgs",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--pkg-info-plist",
            aliases: [],
            description: Some("Print extended information about the specified package-id in Mac OS X plist(5) format"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "package-id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "pkgutil",
                            "--pkgs",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--forget",
            aliases: [],
            description: Some("Discard all receipt data about package-id, but don\'t touch installed files"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "package-id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "pkgutil",
                            "--pkgs",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--learn",
            aliases: [],
            description: Some("Update the ACLs of the given path in the receipt identified by --edit-pkg"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--pkg-groups",
            aliases: [],
            description: Some("List all of the package groups this package-id is a member of"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "package-id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "pkgutil",
                            "--pkgs",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--groups",
            aliases: [],
            description: Some("List all of the package groups ont he specified --volume"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "--group-plist",
            aliases: [],
            description: Some("List all of the package groups ont he specified --volume in Mac OS X plist(5) format"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "--group-pkgs",
            aliases: [],
            description: Some("List all of the packages that are members of this group-id"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "group-id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "pkgutil",
                            "--groups",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--file-info",
            aliases: [],
            description: Some("Show the metadata known about path"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--file-info-plist",
            aliases: [],
            description: Some("Show the metadata known about path in Mac OS X plist(5) format"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--expand",
            aliases: [],
            description: Some("Expand the flat package at pkg-path into a new directory specified by dir-path"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "pkg-path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "dir-path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--flatten",
            aliases: [],
            description: Some("Flatten the dir-path into a new flat package created at pkg-path"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "dir-path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "pkg-path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--bom",
            aliases: [],
            description: Some("Extract any BOM files from the flat pkg at path into /tmp and return the filename(s)"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "find",
                            ".",
                            "-type",
                            "f",
                            "-name",
                            "*.bom",
                            "-maxdepth",
                            "1",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--payload-files",
            aliases: [],
            description: Some("List the files archived within the uninstalled flat package(s) at path"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "find",
                            ".",
                            "-type",
                            "f",
                            "-name",
                            "*.pkg",
                            "-maxdepth",
                            "1",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "--check-signature",
            aliases: [],
            description: Some("Check the validity and trust of the signature on the package at pkg-path"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "pkg-path",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "find",
                            ".",
                            "-type",
                            "f",
                            "-name",
                            "*.pkg",
                            "-maxdepth",
                            "1",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("A brief summary of commands and usage"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
                "--force",
            ],
            description: Some("Skip confirmation before a potentially destructive or ambiguous action"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Output in a human-readable format"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--volume",
            ],
            description: Some("Perform all operations on specified volume"),
            takes_value: true,
            arguments: [
                (
                    name: "volume",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--edit-pkg",
            ],
            description: Some("Specifies an existing receipt to be modified in-place by --learn"),
            takes_value: true,
            arguments: [
                (
                    name: "package-id",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "pkgutil",
                            "--pkgs",
                        ],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--only-files",
            ],
            description: Some("List only files (not directories) in --files listing"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--only-dirs",
            ],
            description: Some("List only directories (not files) in --files listing"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--regexp",
            ],
            description: Some("Use regex to match package-id arguments, if an exact match isn\'t found"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--pkgs",
            ],
            description: Some("List all installed package IDs, optionally matching kwarg REGEXP, on the specified --volume"),
            takes_value: true,
            arguments: [
                (
                    name: "REGEXP",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [],
)