(
    version: 1,
    command: "pkill",
    description: Some("Send  the  specified  signal  (by default SIGTERM) to each specified process"),
    subcommands: [],
    options: [
        (
            names: [
                "--signal",
            ],
            description: Some("Signal to send (either number or name)"),
            takes_value: true,
            arguments: [
                (
                    name: "signal",
                    source: Static([
                        "SIGABRT",
                        "SIGALRM",
                        "SIGBUS",
                        "SIGCHLD",
                        "SIGCLD",
                        "SIGCONT",
                        "SIGEMT",
                        "SIGFPE",
                        "SIGHUP",
                        "SIGILL",
                        "SIGINFO",
                        "SIGINT",
                        "SIGIO",
                        "SIGIOT",
                        "SIGKILL",
                        "SIGLOST",
                        "SIGPIPE",
                        "SIGPOLL",
                        "SIGPROF",
                        "SIGPWR",
                        "SIGQUIT",
                        "SIGSEGV",
                        "SIGSTKFLT",
                        "SIGSTOP",
                        "SIGTSTP",
                        "SIGSYS",
                        "SIGTERM",
                        "SIGTRAP",
                        "SIGTTIN",
                        "SIGTTOU",
                        "SIGUNUSED",
                        "SIGURG",
                        "SIGUSR1",
                        "SIGUSR2",
                        "SIGVTALRM",
                        "SIGXCPU",
                        "SIGXFSZ",
                        "SIGWINCH",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-q",
                "--queue",
            ],
            description: Some("Integer value to be sent with the signal"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-e",
                "--echo",
            ],
            description: Some("Display what is killed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
                "--full",
            ],
            description: Some("Use full process name to match"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
                "--pgroup",
            ],
            description: Some("Match listed process group IDs"),
            takes_value: true,
            arguments: [
                (
                    name: "PGID",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-G",
                "--group",
            ],
            description: Some("Match real group IDs"),
            takes_value: true,
            arguments: [
                (
                    name: "GID",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--ignore-case",
            ],
            description: Some("Match case insensitively"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
                "--newest",
            ],
            description: Some("Select most recently started"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-o",
                "--oldest",
            ],
            description: Some("Select least recently started"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-O",
                "--older",
            ],
            description: Some("Select where older than seconds"),
            takes_value: true,
            arguments: [
                (
                    name: "seconds",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-P",
                "--parent",
            ],
            description: Some("Match only child processes of the given parent"),
            takes_value: true,
            arguments: [
                (
                    name: "PPID",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-s",
                "--session",
            ],
            description: Some("Match session IDs"),
            takes_value: true,
            arguments: [
                (
                    name: "SID",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--terminal",
            ],
            description: Some("Match by controlling terminal"),
            takes_value: true,
            arguments: [
                (
                    name: "tty",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
                "--euid",
            ],
            description: Some("Match by effective IDs"),
            takes_value: true,
            arguments: [
                (
                    name: "ID",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-U",
                "--uid",
            ],
            description: Some("Match by real IDs"),
            takes_value: true,
            arguments: [
                (
                    name: "ID",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-x",
                "--exact",
            ],
            description: Some("Match exactly with the command name"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-F",
                "--pidfile",
            ],
            description: Some("Read PIDs from file"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-L",
                "logpidfile",
            ],
            description: Some("Fail if PID file is not locked"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
                "--runstates",
            ],
            description: Some("Match runstates"),
            takes_value: true,
            arguments: [
                (
                    name: "state",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--ns",
            ],
            description: Some("Match the processes that belong to a specified PID"),
            takes_value: true,
            arguments: [
                (
                    name: "PID",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--nslist",
            ],
            description: Some("List which namespaces will be considered for the --ns option"),
            takes_value: true,
            arguments: [
                (
                    name: "ns",
                    source: Static([
                        "ipc",
                        "mnt",
                        "net",
                        "pid",
                        "user",
                        "uts",
                    ]),
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output help message and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output version information and exit"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "pattern",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)