(
    version: 1,
    command: "pkill",
    description: Some("Send  the  specified  signal  (by default SIGTERM) to each specified process"),
    options: [
        (
            names: [
                "--signal",
            ],
            description: Some("Signal to send (either number or name)"),
            arguments: [
                (
                    name: "signal",
                    description: Some("Signal to send"),
                    suggestions: [
                        (
                            name: "SIGABRT",
                        ),
                        (
                            name: "SIGALRM",
                        ),
                        (
                            name: "SIGBUS",
                        ),
                        (
                            name: "SIGCHLD",
                        ),
                        (
                            name: "SIGCLD",
                        ),
                        (
                            name: "SIGCONT",
                        ),
                        (
                            name: "SIGEMT",
                        ),
                        (
                            name: "SIGFPE",
                        ),
                        (
                            name: "SIGHUP",
                        ),
                        (
                            name: "SIGILL",
                        ),
                        (
                            name: "SIGINFO",
                        ),
                        (
                            name: "SIGINT",
                        ),
                        (
                            name: "SIGIO",
                        ),
                        (
                            name: "SIGIOT",
                        ),
                        (
                            name: "SIGKILL",
                        ),
                        (
                            name: "SIGLOST",
                        ),
                        (
                            name: "SIGPIPE",
                        ),
                        (
                            name: "SIGPOLL",
                        ),
                        (
                            name: "SIGPROF",
                        ),
                        (
                            name: "SIGPWR",
                        ),
                        (
                            name: "SIGQUIT",
                        ),
                        (
                            name: "SIGSEGV",
                        ),
                        (
                            name: "SIGSTKFLT",
                        ),
                        (
                            name: "SIGSTOP",
                        ),
                        (
                            name: "SIGTSTP",
                        ),
                        (
                            name: "SIGSYS",
                        ),
                        (
                            name: "SIGTERM",
                        ),
                        (
                            name: "SIGTRAP",
                        ),
                        (
                            name: "SIGTTIN",
                        ),
                        (
                            name: "SIGTTOU",
                        ),
                        (
                            name: "SIGUNUSED",
                        ),
                        (
                            name: "SIGURG",
                        ),
                        (
                            name: "SIGUSR1",
                        ),
                        (
                            name: "SIGUSR2",
                        ),
                        (
                            name: "SIGVTALRM",
                        ),
                        (
                            name: "SIGXCPU",
                        ),
                        (
                            name: "SIGXFSZ",
                        ),
                        (
                            name: "SIGWINCH",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-q",
                "--queue",
            ],
            description: Some("Integer value to be sent with the signal"),
            arguments: [
                (
                    name: "value",
                ),
            ],
        ),
        (
            names: [
                "-e",
                "--echo",
            ],
            description: Some("Display what is killed"),
        ),
        (
            names: [
                "-f",
                "--full",
            ],
            description: Some("Use full process name to match"),
        ),
        (
            names: [
                "-g",
                "--pgroup",
            ],
            description: Some("Match listed process group IDs"),
            arguments: [
                (
                    name: "PGID",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-G",
                "--group",
            ],
            description: Some("Match real group IDs"),
            arguments: [
                (
                    name: "GID",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--ignore-case",
            ],
            description: Some("Match case insensitively"),
        ),
        (
            names: [
                "-n",
                "--newest",
            ],
            description: Some("Select most recently started"),
        ),
        (
            names: [
                "-o",
                "--oldest",
            ],
            description: Some("Select least recently started"),
        ),
        (
            names: [
                "-O",
                "--older",
            ],
            description: Some("Select where older than seconds"),
            arguments: [
                (
                    name: "seconds",
                ),
            ],
        ),
        (
            names: [
                "-P",
                "--parent",
            ],
            description: Some("Match only child processes of the given parent"),
            arguments: [
                (
                    name: "PPID",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-s",
                "--session",
            ],
            description: Some("Match session IDs"),
            arguments: [
                (
                    name: "SID",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--terminal",
            ],
            description: Some("Match by controlling terminal"),
            arguments: [
                (
                    name: "tty",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-u",
                "--euid",
            ],
            description: Some("Match by effective IDs"),
            arguments: [
                (
                    name: "ID",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-U",
                "--uid",
            ],
            description: Some("Match by real IDs"),
            arguments: [
                (
                    name: "ID",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-x",
                "--exact",
            ],
            description: Some("Match exactly with the command name"),
        ),
        (
            names: [
                "-F",
                "--pidfile",
            ],
            description: Some("Read PIDs from file"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-L",
                "logpidfile",
            ],
            description: Some("Fail if PID file is not locked"),
        ),
        (
            names: [
                "-r",
                "--runstates",
            ],
            description: Some("Match runstates"),
            arguments: [
                (
                    name: "state",
                ),
            ],
        ),
        (
            names: [
                "--ns",
            ],
            description: Some("Match the processes that belong to a specified PID"),
            arguments: [
                (
                    name: "PID",
                ),
            ],
        ),
        (
            names: [
                "--nslist",
            ],
            description: Some("List which namespaces will be considered for the --ns option"),
            arguments: [
                (
                    name: "ns",
                    suggestions: [
                        (
                            name: "ipc",
                        ),
                        (
                            name: "mnt",
                        ),
                        (
                            name: "net",
                        ),
                        (
                            name: "pid",
                        ),
                        (
                            name: "user",
                        ),
                        (
                            name: "uts",
                        ),
                    ],
                    variadic: true,
                ),
            ],
            depends_on: [
                "--ns",
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output help message and exit"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output version information and exit"),
        ),
    ],
    arguments: [
        (
            name: "pattern",
            description: Some("Specifies an Extended Regular Expression for matching against the process names or command lines"),
        ),
    ],
)
