(
    version: 1,
    command: "planter",
    description: None,
    subcommands: [
        (
            name: "create",
            aliases: [],
            description: Some("Create a new project using a planter or public repo"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-f",
                        "--force",
                    ],
                    description: Some("Force the created directory to overwrite an existing one"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "source",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "dir",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("List available planters"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-a",
                        "--alphanumeric",
                    ],
                    description: Some("Sorts list of planters alphanumerically"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "add",
            aliases: [],
            description: Some("Add a planter to your list"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-L",
                        "--local",
                    ],
                    description: Some("Treat the location as a local repo instead of a remote repo"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "location",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "edit",
            aliases: [],
            description: Some("Edit a planter in your list"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-n",
                        "--name",
                    ],
                    description: Some("Edit the name of a planter"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "new-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-l",
                        "--location",
                    ],
                    description: Some("Edit the location of a planter"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "location",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-d",
                        "--delete",
                    ],
                    description: Some("Remove a planter from your list"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-f",
                        "--force",
                    ],
                    description: Some("Edit something... dangerously. (Force the edit without any prompts.)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-R",
                        "--remote",
                    ],
                    description: Some("Set the location type to remote"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-L",
                        "--local",
                    ],
                    description: Some("Set the location type to local"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "pin",
            aliases: [],
            description: Some("Pins a planter to the top of your list"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-u",
                        "--unpin",
                    ],
                    description: Some("Removes position from the planter"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "position",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "info",
            aliases: [],
            description: Some("Prints all info about a planter in your list"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Display help for command"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)