(
    version: 1,
    command: "planter",
    subcommands: [
        (
            name: "create",
            description: Some("Create a new project using a planter or public repo"),
            options: [
                (
                    names: [
                        "-f",
                        "--force",
                    ],
                    description: Some("Force the created directory to overwrite an existing one"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "source",
                    description: Some("The name of a planter or a public repo"),
                    optional: true,
                ),
                (
                    name: "dir",
                    description: Some("Directory of the new project"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "list",
            description: Some("List available planters"),
            options: [
                (
                    names: [
                        "-a",
                        "--alphanumeric",
                    ],
                    description: Some("Sorts list of planters alphanumerically"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
        ),
        (
            name: "add",
            description: Some("Add a planter to your list"),
            options: [
                (
                    names: [
                        "-L",
                        "--local",
                    ],
                    description: Some("Treat the location as a local repo instead of a remote repo"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "name",
                    description: Some("Name of the planter to use as a reference"),
                ),
                (
                    name: "location",
                    description: Some("The repo URL or name"),
                ),
            ],
        ),
        (
            name: "edit",
            description: Some("Edit a planter in your list"),
            options: [
                (
                    names: [
                        "-n",
                        "--name",
                    ],
                    description: Some("Edit the name of a planter"),
                    arguments: [
                        (
                            name: "new-name",
                        ),
                    ],
                ),
                (
                    names: [
                        "-l",
                        "--location",
                    ],
                    description: Some("Edit the location of a planter"),
                    arguments: [
                        (
                            name: "location",
                        ),
                    ],
                ),
                (
                    names: [
                        "-d",
                        "--delete",
                    ],
                    description: Some("Remove a planter from your list"),
                ),
                (
                    names: [
                        "-f",
                        "--force",
                    ],
                    description: Some("Edit something... dangerously. (Force the edit without any prompts.)"),
                ),
                (
                    names: [
                        "-R",
                        "--remote",
                    ],
                    description: Some("Set the location type to remote"),
                ),
                (
                    names: [
                        "-L",
                        "--local",
                    ],
                    description: Some("Set the location type to local"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "name",
                    description: Some("Name of the planter to edit"),
                ),
            ],
        ),
        (
            name: "pin",
            description: Some("Pins a planter to the top of your list"),
            options: [
                (
                    names: [
                        "-u",
                        "--unpin",
                    ],
                    description: Some("Removes position from the planter"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "name",
                    description: Some("Name of the planter to pin"),
                ),
                (
                    name: "position",
                    description: Some("Specific position to set the planter at. (1 being the top of the list.)"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "info",
            description: Some("Prints all info about a planter in your list"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "name",
                    description: Some("Name of the planter to show info for"),
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Display help for command"),
            arguments: [
                (
                    name: "command",
                    template: [
                        Help,
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
    options: [
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
)
