(
    version: 1,
    command: "playwright",
    description: Some(""),
    subcommands: [
        (
            name: "test",
            aliases: [],
            description: Some("Run tests with Playwright Test"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-g",
                    ],
                    description: Some("Run the test with the title"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "title",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--headed",
                    ],
                    description: Some("Run tests in headed browsers"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "tests",
                    source: Directories,
                    optional: true,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "install",
            aliases: [],
            description: Some("Running without arguments will install default browsers"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--with-deps",
                    ],
                    description: Some("Install system dependencies for browsers"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "browsers",
                    source: Static([
                        "chromium",
                        "chrome",
                        "chrome-beta",
                        "msedge",
                        "msedge-beta",
                        "msedge-dev",
                        "firefox",
                        "webkit",
                    ]),
                    optional: true,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Output the version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display help for command"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)