(
    version: 1,
    command: "plutil",
    description: Some("Check the syntax of property list files, or convert a plist file from one format to another. Specifying - as an input file reads from stdin"),
    options: [
        (
            names: [
                "-help",
            ],
            description: Some("Show the usage information for the command and exit"),
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Print the property list in a human-readable fashion"),
        ),
        (
            names: [
                "-lint",
            ],
            description: Some("Check the named property list files for syntax errors. This is the default command option if none is specified"),
        ),
        (
            names: [
                "-convert",
            ],
            description: Some("Convert the named file to the indicated format and write back to the file system"),
            arguments: [
                (
                    name: "format",
                    description: Some("Format to convert the named file to"),
                    suggestions: [
                        (
                            name: "xml1",
                            description: Some("For version 1 of the XML plist format"),
                        ),
                        (
                            name: "binary1",
                            description: Some("For version 1 of the binary plist"),
                        ),
                        (
                            name: "json",
                            description: Some("For the JSON format"),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--",
            ],
            description: Some("Specifies that all further arguments are file names"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Don't print anything on success"),
        ),
        (
            names: [
                "-r",
            ],
            description: Some("For JSON, add whitespace and indentation to make the output more human-readable"),
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Specify an alternate path name for the result of the -convert operation; this option is only useful with a single file to be converted. Specifying - as the path outputs to stdout"),
            arguments: [
                (
                    name: "path",
                ),
            ],
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Specify an alternate extension for converted files, and the output file names are otherwise the same"),
            arguments: [
                (
                    name: "extension",
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "file",
            description: Some("File to check the syntax of or convert"),
        ),
    ],
    parser_directives: Some((
        flags_are_posix_noncompliant: true,
        options_must_precede_arguments: true,
    )),
)
