(
    version: 1,
    command: "pmset",
    description: Some("Power management settings"),
    subcommands: [
        (
            name: "-g",
            aliases: [],
            description: Some("GETTING"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "value",
                    source: Static([
                        "live",
                        "custom",
                        "cap",
                        "sched",
                        "ups",
                        "ps",
                        "batt",
                        "pslog",
                        "rawlog",
                        "profiles",
                        "thermlog",
                        "assertions",
                        "assertionslog",
                        "activity",
                        "activitylog",
                        "sysload",
                        "sysloadlog",
                        "ac",
                        "adapter",
                        "log",
                        "uuid",
                        "uuidlog",
                        "history",
                        "historydetailed",
                        "everything",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "UUID",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "schedule",
            aliases: [],
            description: Some("For setting up one-time power events"),
            subcommands: [],
            options: [
                (
                    names: [
                        "cancel",
                    ],
                    description: None,
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "type",
                    source: Static([
                        "sleep",
                        "wake",
                        "poweron",
                        "shutdown",
                        "wakeorpoweron",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "date/time",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "repeat",
            aliases: [],
            description: Some("For setting up daily/weekly power on and power off events"),
            subcommands: [
                (
                    name: "cancel",
                    aliases: [],
                    description: None,
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [
                (
                    name: "type",
                    source: Static([
                        "sleep",
                        "wake",
                        "poweron",
                        "shutdown",
                        "wakeorpoweron",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "weekdays",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "date/time",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-a",
            ],
            description: Some("Settings for all"),
            takes_value: true,
            arguments: [
                (
                    name: "setting",
                    source: Static([
                        "displaysleep",
                        "dim",
                        "disksleep",
                        "spindown",
                        "sleep",
                        "womp",
                        "ring",
                        "autorestart",
                        "dps",
                        "reduce",
                        "powerbutton",
                        "lidwake",
                        "acwake",
                        "lessbright",
                        "halfdim",
                        "sms",
                        "hibernatemode",
                        "hibernatefile",
                        "ttyskeepawake",
                        "networkoversleep",
                        "destroyfvkeyonstandby",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Settings for battery"),
            takes_value: true,
            arguments: [
                (
                    name: "setting",
                    source: Static([
                        "displaysleep",
                        "dim",
                        "disksleep",
                        "spindown",
                        "sleep",
                        "womp",
                        "ring",
                        "autorestart",
                        "dps",
                        "reduce",
                        "powerbutton",
                        "lidwake",
                        "acwake",
                        "lessbright",
                        "halfdim",
                        "sms",
                        "hibernatemode",
                        "hibernatefile",
                        "ttyskeepawake",
                        "networkoversleep",
                        "destroyfvkeyonstandby",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Settings for charger"),
            takes_value: true,
            arguments: [
                (
                    name: "setting",
                    source: Static([
                        "displaysleep",
                        "dim",
                        "disksleep",
                        "spindown",
                        "sleep",
                        "womp",
                        "ring",
                        "autorestart",
                        "dps",
                        "reduce",
                        "powerbutton",
                        "lidwake",
                        "acwake",
                        "lessbright",
                        "halfdim",
                        "sms",
                        "hibernatemode",
                        "hibernatefile",
                        "ttyskeepawake",
                        "networkoversleep",
                        "destroyfvkeyonstandby",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Settings for UPS"),
            takes_value: true,
            arguments: [
                (
                    name: "setting",
                    source: Static([
                        "displaysleep",
                        "dim",
                        "disksleep",
                        "spindown",
                        "sleep",
                        "womp",
                        "ring",
                        "autorestart",
                        "dps",
                        "reduce",
                        "powerbutton",
                        "lidwake",
                        "acwake",
                        "lessbright",
                        "halfdim",
                        "sms",
                        "hibernatemode",
                        "hibernatefile",
                        "ttyskeepawake",
                        "networkoversleep",
                        "destroyfvkeyonstandby",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Static([
                "sleepnow",
                "noidle",
                "lock",
                "touch",
            ]),
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
    ],
)