(
    version: 1,
    command: "pnpx",
    description: Some("Execute binaries from npm packages"),
    subcommands: [
        (
            name: "create-react-native-app",
            aliases: [],
            description: None,
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: Some("create-react-native-app"),
        ),
        (
            name: "react-native",
            aliases: [],
            description: None,
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: Some("react-native"),
        ),
        (
            name: "tailwindcss",
            aliases: [],
            description: None,
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: Some("tailwindcss"),
        ),
        (
            name: "next",
            aliases: [],
            description: None,
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: Some("next"),
        ),
        (
            name: "gltfjsx",
            aliases: [],
            description: None,
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: Some("gltfjsx"),
        ),
        (
            name: "prisma",
            aliases: [],
            description: None,
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: Some("prisma"),
        ),
    ],
    options: [
        (
            names: [
                "--package",
                "-p",
            ],
            description: Some("Package to be executed"),
            takes_value: true,
            arguments: [
                (
                    name: "package",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--cache",
            ],
            description: Some("Location of the npm cache"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--always-spawn",
            ],
            description: Some("Always spawn a child process to execute the command"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-install",
            ],
            description: Some("Skip installation if a package is missing"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--userconfig",
            ],
            description: Some("Path to user npmrc"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--call",
                "-c",
            ],
            description: Some("Execute string as if inside `npm run-script`"),
            takes_value: true,
            arguments: [
                (
                    name: "script",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--shell",
                "-s",
            ],
            description: Some("Shell to execute the command with, if any"),
            takes_value: true,
            arguments: [
                (
                    name: "shell",
                    source: Static([
                        "bash",
                        "fish",
                        "zsh",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--shell-auto-fallback",
            ],
            description: Some("Generate shell code to use pnpx as the \"command not found\" fallback"),
            takes_value: true,
            arguments: [
                (
                    name: "shell-fallback",
                    source: Static([
                        "bash",
                        "fish",
                        "zsh",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--ignore-existing",
            ],
            description: Some("Ignores existing binaries in $PATH, or in the localproject. This forces pnpx to do a temporary install and use the latest version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--quiet",
                "-q",
            ],
            description: Some("Suppress output from pnpx itself. Subcommands will not be affected"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--npm",
            ],
            description: Some("Npm binary to use for internal operations"),
            takes_value: true,
            arguments: [
                (
                    name: "path to binary",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--node-arg",
                "-n",
            ],
            description: Some("Extra node argument when calling a node binary"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Show version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)