(
    version: 1,
    command: "prettier",
    description: Some("Run Prettier from the command line"),
    options: [
        (
            names: [
                "-c",
                "--check",
            ],
            description: Some("Check if your files are formatted"),
            arguments: [
                (
                    name: "file, dir, or glob",
                    template: [
                        FilePaths,
                        Folders,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-l",
                "--list-different",
            ],
            description: Some("Print the names of files that are different from Prettier's formatting"),
        ),
        (
            names: [
                "-w",
                "--write",
            ],
            description: Some("Edit files in-place"),
            presentation: (
                dangerous: true,
            ),
        ),
        (
            names: [
                "--arrow-parens",
            ],
            description: Some("Include parentheses around a sole arrow function parameter"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "always",
                        ),
                        (
                            name: "avoid",
                        ),
                    ],
                    default: Some("always"),
                ),
            ],
        ),
        (
            names: [
                "--no-bracket-spacing",
            ],
            description: Some("Do not print spaces between brackets"),
        ),
        (
            names: [
                "--embedded-language-formatting",
            ],
            description: Some("Control how Prettier formats quoted code embedded in the file"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "auto",
                        ),
                        (
                            name: "off",
                        ),
                    ],
                    default: Some("auto"),
                ),
            ],
        ),
        (
            names: [
                "--end-of-line",
            ],
            description: Some("Which end of line characters to apply"),
            arguments: [
                (
                    name: "choice",
                    suggestions: [
                        (
                            name: "lf",
                        ),
                        (
                            name: "crlf",
                        ),
                        (
                            name: "cr",
                        ),
                        (
                            name: "auto",
                        ),
                    ],
                    default: Some("lf"),
                ),
            ],
        ),
        (
            names: [
                "--html-whitespace-sensitivity",
            ],
            description: Some("How to handle whitespaces in HTML"),
            arguments: [
                (
                    name: "choice",
                    suggestions: [
                        (
                            name: "css",
                        ),
                        (
                            name: "strict",
                        ),
                        (
                            name: "ignore",
                        ),
                    ],
                    default: Some("css"),
                ),
            ],
        ),
        (
            names: [
                "--jsx-bracket-same-line",
            ],
            description: Some("Put > on the last line instead of at a new line"),
        ),
        (
            names: [
                "--jsx-single-quote",
            ],
            description: Some("Use single quotes in JSX"),
        ),
        (
            names: [
                "--parser",
            ],
            description: Some("Which parser to use"),
            arguments: [
                (
                    name: "parser",
                    suggestions: [
                        (
                            name: "flow",
                        ),
                        (
                            name: "babel",
                        ),
                        (
                            name: "babel-flow",
                        ),
                        (
                            name: "babel-ts",
                        ),
                        (
                            name: "typescript",
                        ),
                        (
                            name: "espree",
                        ),
                        (
                            name: "meriyah",
                        ),
                        (
                            name: "css",
                        ),
                        (
                            name: "less",
                        ),
                        (
                            name: "scss",
                        ),
                        (
                            name: "json",
                        ),
                        (
                            name: "json5",
                        ),
                        (
                            name: "json-stringify",
                        ),
                        (
                            name: "graphql",
                        ),
                        (
                            name: "markdown",
                        ),
                        (
                            name: "mdx",
                        ),
                        (
                            name: "vue",
                        ),
                        (
                            name: "yaml",
                        ),
                        (
                            name: "html",
                        ),
                        (
                            name: "angular",
                        ),
                        (
                            name: "lwc",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--print-width",
            ],
            description: Some("The line length where Prettier will try wrap"),
            arguments: [
                (
                    name: "int",
                    default: Some("80"),
                ),
            ],
        ),
        (
            names: [
                "--prose-wrap",
            ],
            description: Some("How to wrap prose"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "always",
                        ),
                        (
                            name: "never",
                        ),
                        (
                            name: "preserve",
                        ),
                    ],
                    default: Some("preserve"),
                ),
            ],
        ),
        (
            names: [
                "--quote-props",
            ],
            description: Some("Change when properties in objects are quoted"),
            arguments: [
                (
                    name: "when",
                    suggestions: [
                        (
                            name: "as-needed",
                        ),
                        (
                            name: "consistent",
                        ),
                        (
                            name: "preserve",
                        ),
                    ],
                    default: Some("as-needed"),
                ),
            ],
        ),
        (
            names: [
                "--no-semi",
            ],
            description: Some("Do not print semicolons, except at the beginning of lines which may need them"),
        ),
        (
            names: [
                "--single-quote",
            ],
            description: Some("Use single quotes instead of double quotes"),
        ),
        (
            names: [
                "--tab-width",
            ],
            description: Some("Number of spaces per indentation level"),
            arguments: [
                (
                    name: "int",
                    default: Some("2"),
                ),
            ],
        ),
        (
            names: [
                "--trailing-comma",
            ],
            description: Some("Print trailing commas wherever possible when multi-line"),
            arguments: [
                (
                    name: "type",
                    suggestions: [
                        (
                            name: "es5",
                        ),
                        (
                            name: "none",
                        ),
                        (
                            name: "all",
                        ),
                    ],
                    default: Some("es5"),
                ),
            ],
        ),
        (
            names: [
                "--use-tabs",
            ],
            description: Some("Indent with tabs instead of spaces"),
        ),
        (
            names: [
                "--vue-indent-script-and-style",
            ],
            description: Some("Indent script and style tags in Vue files"),
        ),
        (
            names: [
                "--config",
            ],
            description: Some("Path to a Prettier configuration file (.prettierrc, package.json, prettier.config.js)"),
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            exclusive_on: [
                "--no-config",
            ],
        ),
        (
            names: [
                "--no-config",
            ],
            description: Some("Do not look for a configuration file"),
            exclusive_on: [
                "--config",
            ],
        ),
        (
            names: [
                "--config-precedence",
            ],
            description: Some("Define in which order config files and CLI options should be evaluated"),
            arguments: [
                (
                    name: "precedence",
                    suggestions: [
                        (
                            name: "cli-override",
                        ),
                        (
                            name: "file-override",
                        ),
                        (
                            name: "prefer-file",
                        ),
                    ],
                    default: Some("cli-override"),
                ),
            ],
        ),
        (
            names: [
                "--no-editorconfig",
            ],
            description: Some("Don't take .editorconfig into account when parsing configuration"),
        ),
        (
            names: [
                "--find-config-path",
            ],
            description: Some("Finds a path to the configuration file for the given input file"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--ignore-path",
            ],
            description: Some("Path to a file with patterns describing files to ignore"),
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                    default: Some(".prettierignore"),
                ),
            ],
        ),
        (
            names: [
                "--plugin",
            ],
            description: Some("Add a plugin"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--plugin-search-dir",
            ],
            description: Some("Custom directory that contains prettier plugins in node_modules subdirectory"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--with-node-modules",
            ],
            description: Some("Process files inside 'node_modules' directory"),
        ),
        (
            names: [
                "--cursor-offset",
            ],
            description: Some("Print (to stderr) where a cursor at the given position would move to after formatting"),
            arguments: [
                (
                    name: "int",
                    default: Some("-1"),
                ),
            ],
            exclusive_on: [
                "--range-start",
                "--range-end",
            ],
        ),
        (
            names: [
                "--range-end",
            ],
            description: Some("Format code ending at a given character offset (exclusive)"),
            arguments: [
                (
                    name: "int",
                    default: Some("Infinity"),
                ),
            ],
            exclusive_on: [
                "--cursor-offset",
            ],
        ),
        (
            names: [
                "--range-start",
            ],
            description: Some("Format code starting at a given character offset"),
            arguments: [
                (
                    name: "int",
                    default: Some("0"),
                ),
            ],
        ),
        (
            names: [
                "--no-color",
            ],
            description: Some("Do not colorize error messages"),
        ),
        (
            names: [
                "--file-info",
            ],
            description: Some("Extract the following info (as JSON) for a given file path"),
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show CLI usage, or details about the given flag"),
            arguments: [
                (
                    name: "flag",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-u",
                "--ignore-unknown",
            ],
            description: Some("Ignore unknown files"),
        ),
        (
            names: [
                "--insert-pragma",
            ],
            description: Some("Insert @format pragma into file's first docblock comment"),
        ),
        (
            names: [
                "--loglevel",
            ],
            description: Some("What level of logs to report"),
            arguments: [
                (
                    name: "level",
                    suggestions: [
                        (
                            name: "silent",
                        ),
                        (
                            name: "error",
                        ),
                        (
                            name: "warn",
                        ),
                        (
                            name: "log",
                        ),
                        (
                            name: "debug",
                        ),
                    ],
                    default: Some("log"),
                ),
            ],
        ),
        (
            names: [
                "--require-pragma",
            ],
            description: Some("Require either '@prettier' or '@format' to be present in the file's first docblock comment in order for it to be formatted"),
        ),
        (
            names: [
                "--stdin-filepath",
            ],
            description: Some("Path to the file to pretend that stdin comes from"),
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--support-info",
            ],
            description: Some("Print support information as JSON"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Print Prettier version"),
        ),
        (
            names: [
                "--debug-check",
            ],
            description: Some("This will cause Prettier to print an error message if it detects that code correctness might have changed"),
        ),
        (
            names: [
                "--no-error-on-unmatched-pattern",
            ],
            description: Some("Prevent errors when pattern is unmatched"),
        ),
    ],
    arguments: [
        (
            name: "file, dir or glob",
            template: [
                FilePaths,
                Folders,
            ],
            optional: true,
            variadic: true,
        ),
    ],
    presentation: (
        icon: Some("https://prettier.io/icon.png"),
    ),
)
