(
    version: 1,
    command: "progressline",
    description: Some("⏳Track commands progress in a compact one-line format"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for progressline"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--log-all",
                "-a",
            ],
            description: Some("Log all lines above the progress line"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--static-text",
                "-t",
            ],
            description: Some("Set static text to display instead of the latest stdin data"),
            takes_value: true,
            arguments: [
                (
                    name: "text",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--activity-style",
                "-s",
            ],
            description: Some("Set style of the activity indicator"),
            takes_value: true,
            arguments: [
                (
                    name: "style",
                    source: Static([
                        "dots",
                        "kitt",
                        "snake",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--original-log-path",
                "-l",
            ],
            description: Some("Save the original log to a file"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--log-matches",
                "-m",
            ],
            description: Some("Log above progress line lines matching the given regular expressions"),
            takes_value: true,
            arguments: [
                (
                    name: "regex",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [],
)