(
    version: 1,
    command: "projj",
    description: Some("Manage repository easily"),
    subcommands: [
        (
            name: "completion",
            aliases: [],
            description: Some("Generate completion script"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "add",
            aliases: [],
            description: Some("Add repository"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "repository url",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "find",
            aliases: [],
            description: Some("Find repository"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "repository name",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "import",
            aliases: [],
            description: Some("Import repositories from existing directory"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "directory",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "init",
            aliases: [],
            description: Some("Initialize configuration"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "remove",
            aliases: [],
            description: Some("Remove repository"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "repository name",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "run",
            aliases: [],
            description: Some("Run hook in current directory"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "hook name",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "runall",
            aliases: [],
            description: Some("Run hook in every repository"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "hook name",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "sync",
            aliases: [],
            description: Some("Sync data from directory"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "directory",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for projj"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Show version number"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)