(
    version: 1,
    command: "ps",
    description: Some("Report a snapshot of the current processes"),
    options: [
        (
            names: [
                "-A",
                "-e",
            ],
            description: Some("Select all processes"),
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Select all processes except both session leaders"),
            arguments: [
                (
                    name: "getsid",
                ),
            ],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Select all processes except session leaders"),
        ),
        (
            names: [
                "--deselect",
            ],
            description: Some("Select all processes except those that fulfill the specified conditions"),
        ),
        (
            names: [
                "-N",
            ],
            description: Some("Select all processes except those that fulfill the specified conditions (negates the selection)"),
        ),
        (
            names: [
                "--pid",
            ],
            description: Some("Select by process ID"),
            arguments: [
                (
                    name: "pidlist",
                ),
            ],
        ),
        (
            names: [
                "--ppid",
            ],
            description: Some("Select by parent process ID. This selects the processes with a parent process ID in pidlist"),
            arguments: [
                (
                    name: "pidlist",
                ),
            ],
        ),
        (
            names: [
                "--sid",
            ],
            description: Some("Select by session ID"),
            arguments: [
                (
                    name: "sesslist",
                ),
            ],
        ),
        (
            names: [
                "--tty",
            ],
            description: Some("Select by terminal"),
            arguments: [
                (
                    name: "ttylist",
                ),
            ],
        ),
        (
            names: [
                "U",
            ],
            description: Some("Select by effective user ID (EUID) or name"),
            arguments: [
                (
                    name: "userlist",
                ),
            ],
        ),
        (
            names: [
                "-U",
            ],
            description: Some("Select by real user ID (RUID) or name"),
            arguments: [
                (
                    name: "userlist",
                ),
            ],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Select by effective user ID (EUID) or name"),
            arguments: [
                (
                    name: "userlist",
                ),
            ],
        ),
        (
            names: [
                "--User",
            ],
            description: Some("Select by real user ID (RUID) or name"),
            arguments: [
                (
                    name: "userlist",
                ),
            ],
        ),
        (
            names: [
                "--user",
            ],
            description: Some("Select by effective user ID (EUID) or name"),
            arguments: [
                (
                    name: "userlist",
                ),
            ],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Show different scheduler information for the -l option"),
        ),
        (
            names: [
                "--context",
            ],
            description: Some("Display security context format (for SE Linux)"),
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Do full-format listing"),
        ),
        (
            names: [
                "-F",
            ],
            description: Some("Extra full format"),
        ),
        (
            names: [
                "--format",
                "-o",
                "o",
            ],
            arguments: [
                (
                    name: "format",
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "-M",
                "Z",
            ],
            description: Some("(for SE Linux)"),
        ),
        (
            names: [
                "-y",
                "-l",
            ],
        ),
        (
            names: [
                "--cols",
            ],
            description: Some("Set screen width"),
            arguments: [
                (
                    name: "n",
                ),
            ],
        ),
        (
            names: [
                "--columns",
            ],
            description: Some("Set screen width"),
            arguments: [
                (
                    name: "n",
                ),
            ],
        ),
        (
            names: [
                "--cumulative",
            ],
            description: Some("Include some dead child process data (as a sum with the parent)"),
        ),
        (
            names: [
                "--forest",
            ],
            description: Some("ASCII art process tree"),
        ),
        (
            names: [
                "-H",
            ],
            description: Some("Show process hierarchy (forest)"),
        ),
        (
            names: [
                "--headers",
            ],
            description: Some("Repeat header lines, one per page of output"),
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Set namelist file"),
            arguments: [
                (
                    name: "namelist",
                ),
            ],
        ),
        (
            names: [
                "--lines",
            ],
            description: Some("Set screen height"),
            arguments: [
                (
                    name: "n",
                ),
            ],
        ),
        (
            names: [
                "--no-headers",
                "--no-heading",
            ],
            description: Some("Print no header line at all"),
        ),
        (
            names: [
                "--rows",
            ],
            description: Some("Set screen height"),
            arguments: [
                (
                    name: "n",
                ),
            ],
        ),
        (
            names: [
                "--sort",
            ],
            description: Some("Specify sorting order"),
            arguments: [
                (
                    name: "spec",
                ),
            ],
        ),
        (
            names: [
                "--width",
            ],
            description: Some("Set screen width"),
            arguments: [
                (
                    name: "n",
                ),
            ],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("Show threads, possibly with LWP and NLWP columns"),
        ),
        (
            names: [
                "-T",
            ],
            description: Some("Show threads, possibly with SPID column"),
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Print a help message"),
        ),
        (
            names: [
                "--info",
            ],
            description: Some("Print debugging info"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Print the procps version"),
        ),
    ],
)
