(
    version: 1,
    command: "publish",
    description: Some(""),
    subcommands: [
        (
            name: "new",
            aliases: [],
            description: Some("Set up a new website in the current folder"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "run",
            aliases: [],
            description: Some("Generate and run a localhost server on default port 8000 for the website in the current folder"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-p",
                        "--port",
                    ],
                    description: Some("Customize the port"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "port",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "deploy",
            aliases: [],
            description: Some("Generate and deploy the website in the current folder"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "generate",
            aliases: [],
            description: Some("Generate the website in the current folder"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for publish"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)