(
    version: 1,
    command: "python",
    description: Some("Run the python interpreter"),
    subcommands: [],
    options: [
        (
            names: [
                "-c",
            ],
            description: Some("Execute the Python code in command. command can be one or more statements separated by newlines, with significant leading whitespace as in normal module code"),
            takes_value: true,
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Module"),
            takes_value: true,
            arguments: [
                (
                    name: "python module",
                    source: Static([
                        "http.server",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-?",
                "-h",
                "--help",
            ],
            description: Some("Print a short description of all command line options"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print the Python version number and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Issue a warning when comparing bytes or bytearray with str or bytes with int. Issue an error when the option is given twice (-bb)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-B",
            ],
            description: Some("If given, Python won’t try to write .pyc files on the import of source modules"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--check-hash-based-pycs",
            ],
            description: Some("Control the validation behavior of hash-based .pyc files. See Cached bytecode invalidation"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Static([
                        "default",
                        "always",
                        "never",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Turn on parser debugging output (for expert only, depending on compilation options)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-E",
            ],
            description: Some("Ignore all PYTHON* environment variables, e.g. PYTHONPATH and PYTHONHOME, that might be set"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("When a script is passed as first argument or the -c option is used, enter interactive mode after executing the script or the command, even when sys.stdin does not appear to be a terminal"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-I",
            ],
            description: Some("Run Python in isolated mode. This also implies -E and -s. In isolated mode sys.path contains neither the script’s directory nor the user’s site-packages directory"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-O",
            ],
            description: Some("Remove assert statements and any code conditional on the value of __debug__"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-OO",
            ],
            description: Some("Do -O and also discard docstrings"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
            ],
            description: Some("Don’t display the copyright and version messages even in interactive mode"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Turn on hash randomization. This option only has an effect if the PYTHONHASHSEED environment variable is set to 0, since hash randomization is enabled by default"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Don’t add the user site-packages directory to sys.path"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Disable the import of the module site and the site-dependent manipulations of sys.path that it entails"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Force the stdout and stderr streams to be unbuffered. This option has no effect on the stdin stream"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Print a message each time a module is initialized, showing the place (filename or built-in module) from which it is loaded"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-W",
            ],
            description: Some("Warning control. Python’s warning machinery by default prints warning messages to sys.stderr"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Skip the first line of the source, allowing use of non-Unix forms of #!cmd. This is intended for a DOS specific hack only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-X",
            ],
            description: Some("Reserved for various implementation-specific options"),
            takes_value: true,
            arguments: [
                (
                    name: "value",
                    source: Static([
                        "faulthandler",
                        "showrefcount",
                        "tracemalloc",
                        "showalloccount",
                        "importtime",
                        "dev",
                        "utf8",
                        "pycache_prefix=PATH",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "python script",
            source: Unavailable,
            optional: false,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: true,
            )),
        ),
    ],
)