(
    version: 1,
    command: "qodana",
    description: Some("Run Qodana as fast as possible, with minimum effort required"),
    subcommands: [
        (
            name: "init",
            description: Some("Configure project for Qodana"),
            options: [
                (
                    names: [
                        "-i",
                        "--project-dir",
                    ],
                    description: Some("Root directory of the project to configure (default \".\")"),
                    arguments: [
                        (
                            name: "string",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
            ],
            presentation: (
                priority: Some(100.0),
                icon: Some("fig://template?badge=🔧"),
            ),
        ),
        (
            name: "scan",
            description: Some("Scan a project with Qodana"),
            options: [
                (
                    names: [
                        "-a",
                        "--analysis-id",
                    ],
                    description: Some("Unique report identifier (GUID) to be used by Qodana Cloud"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "-b",
                        "--baseline",
                    ],
                    description: Some("Provide the path to an existing SARIF report to be used in the baseline state calculation"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--baseline-include-absent",
                    ],
                    description: Some("Include in the output report the results from the baseline run that are absent in the current run"),
                ),
                (
                    names: [
                        "--cache-dir",
                    ],
                    description: Some("Override cache directory (default <userCacheDir>/JetBrains/<linter>/cache)"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "-c",
                        "--changes",
                    ],
                    description: Some("Override the docker image to be used for the analysis"),
                ),
                (
                    names: [
                        "--clear-cache",
                    ],
                    description: Some("Clear the local Qodana cache before running the analysis"),
                ),
                (
                    names: [
                        "--disable-sanity",
                    ],
                    description: Some("Skip running the inspections configured by the sanity profile"),
                ),
                (
                    names: [
                        "-e",
                        "--env",
                    ],
                    description: Some("Define additional environment variables for the Qodana container (you can use the flag multiple times). CLI is not reading full host environment variables and does not pass it to the Qodana container for security reasons"),
                    arguments: [
                        (
                            name: "stringArray",
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--fail-threshold",
                    ],
                    description: Some("Set the number of problems that will serve as a quality gate. If this number is reached, the inspection run is terminated with a non-zero exit code"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "-l",
                        "--linter",
                    ],
                    description: Some("Override linter to use"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--port",
                    ],
                    description: Some("Port to serve the report on (default 8080)"),
                    arguments: [
                        (
                            name: "int",
                        ),
                    ],
                ),
                (
                    names: [
                        "--print-problems",
                    ],
                    description: Some("Print all found problems by Qodana in the CLI output"),
                ),
                (
                    names: [
                        "-n",
                        "--profile-name",
                    ],
                    description: Some("Profile name defined in the project"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--profile-path",
                    ],
                    description: Some("Path to the profile file"),
                    arguments: [
                        (
                            name: "string",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-i",
                        "--project-dir",
                    ],
                    description: Some("Root directory of the inspected project (default \".\")"),
                    arguments: [
                        (
                            name: "string",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--property",
                    ],
                    description: Some("Set a JVM property to be used while running Qodana using the --property property.name=value1,value2,...,valueN notation"),
                    arguments: [
                        (
                            name: "stringArray",
                        ),
                    ],
                    presentation: (
                        insert_value: Some("--property {cursor}="),
                    ),
                ),
                (
                    names: [
                        "-o",
                        "--results-dir",
                    ],
                    description: Some("Override directory to save Qodana inspection results to (default <userCacheDir>/JetBrains/<linter>/results)"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--run-promo",
                    ],
                    description: Some("Set to 'true' to have the application run the inspections configured by the promo profile; set to 'false' otherwise (default: 'true' only if Qodana is executed with the default profile)"),
                    arguments: [
                        (
                            name: "string",
                            suggestions: [
                                (
                                    name: "true",
                                ),
                                (
                                    name: "false",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-s",
                        "--save-report",
                    ],
                    description: Some("Generate HTML report (default true)"),
                    presentation: (
                        priority: Some(99.0),
                    ),
                ),
                (
                    names: [
                        "--script",
                    ],
                    description: Some("Override the run scenario (default \"default\")"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--send-report",
                    ],
                    description: Some("Send the inspection report to Qodana Cloud, requires the '--token' option to be specified"),
                    depends_on: [
                        "--token",
                    ],
                ),
                (
                    names: [
                        "-w",
                        "--show-report",
                    ],
                    description: Some("Serve HTML report on port"),
                    presentation: (
                        priority: Some(100.0),
                    ),
                ),
                (
                    names: [
                        "--skip-pull",
                    ],
                    description: Some("Skip pulling the latest Qodana container"),
                ),
                (
                    names: [
                        "-d",
                        "--source-directory",
                    ],
                    description: Some("Directory inside the project-dir directory must be inspected. If not specified, the whole project is inspected"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "--stub-profile",
                    ],
                    description: Some("Absolute path to the fallback profile file. This option is applied in case the profile was not specified using any available options"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "-u",
                        "--user",
                    ],
                    description: Some("User to run Qodana container as. Please specify user id – '$UID' or user id and group id $(id -u):$(id -g). Use 'root' to run as the root user (default: the current user)"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--volume",
                    ],
                    description: Some("Define additional volumes for the Qodana container (you can use the flag multiple times)"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                    repeat: Many,
                ),
            ],
            presentation: (
                priority: Some(99.0),
                icon: Some("fig://template?badge=🔧"),
            ),
        ),
        (
            name: "show",
            description: Some("Show Qodana report"),
            options: [
                (
                    names: [
                        "-d",
                        "--dir-only",
                    ],
                    description: Some("Open report directory only, don't serve it"),
                ),
                (
                    names: [
                        "-p",
                        "--port",
                    ],
                    description: Some("Specify port to serve report at (default 8080)"),
                    arguments: [
                        (
                            name: "int",
                        ),
                    ],
                    presentation: (
                        priority: Some(100.0),
                    ),
                ),
                (
                    names: [
                        "-i",
                        "--project-dir",
                    ],
                    description: Some("Root directory of the inspected project (default \".\")"),
                    arguments: [
                        (
                            name: "string",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-r",
                        "--report-dir",
                    ],
                    description: Some("Specify HTML report path (the one with index.html inside) (default <userCacheDir>/JetBrains/<linter>/results/report)"),
                    arguments: [
                        (
                            name: "string",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
            ],
            presentation: (
                priority: Some(98.0),
                icon: Some("fig://template?badge=🔧"),
            ),
        ),
        (
            name: "view",
            description: Some("View SARIF files in CLI"),
            options: [
                (
                    names: [
                        "-f",
                        "--sarif-file",
                    ],
                    description: Some("Path to the SARIF file (default \"./qodana.sarif.json\")"),
                    arguments: [
                        (
                            name: "string",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
            presentation: (
                priority: Some(97.0),
                icon: Some("fig://template?badge=🔧"),
            ),
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help page for command"),
            persistent: true,
            presentation: (
                priority: Some(1.0),
            ),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Version for Qodana"),
        ),
    ],
)
