(
    version: 1,
    command: "quasar",
    description: Some("Quasar Framework CLI"),
    subcommands: [
        (
            name: "create",
            aliases: [],
            description: Some("Create a new Quasar project"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--kit",
                        "-k",
                    ],
                    description: Some("Use specific starter kit"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "kit",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--branch",
                        "-b",
                    ],
                    description: Some("Use specific branch of the starter kit"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "branch",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--clone",
                        "-c",
                    ],
                    description: Some("Use git clone"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--offline",
                        "-o",
                    ],
                    description: Some("Use a cached starter kit"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "project-name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "info",
            aliases: [],
            description: Some("Gather environment information for issue reporting"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "upgrade",
            aliases: [],
            description: Some("Upgrade Quasar Framework packages"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--install",
                        "-i",
                    ],
                    description: Some("Also perform package upgrades"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--prerelease",
                        "-p",
                    ],
                    description: Some("Allow pre-release versions (alpha/beta)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--major",
                        "-m",
                    ],
                    description: Some("Allow newer major versions (breaking changes)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "serve",
            aliases: [],
            description: Some("Start development server"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--port",
                        "-p",
                    ],
                    description: Some("Port to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "port",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--hostname",
                        "-H",
                    ],
                    description: Some("Address to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "hostname",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--gzip",
                        "-g",
                    ],
                    description: Some("Compress content"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--silent",
                        "-s",
                    ],
                    description: Some("Suppress log message"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--colors",
                    ],
                    description: Some("Log messages with colors"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--open",
                        "-o",
                    ],
                    description: Some("Open browser window after starting"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--cache",
                        "-c",
                    ],
                    description: Some("Cache time (max-age) in seconds"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "cache",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--micro",
                        "-m",
                    ],
                    description: Some("Use micro-cache"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "micro",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--history",
                    ],
                    description: Some("Use history api fallback"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--index",
                        "-i",
                    ],
                    description: Some("History mode (only!) index url path"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "index",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--https",
                    ],
                    description: Some("Enable HTTPS"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--cert",
                        "-C",
                    ],
                    description: Some("Path to SSL cert file (Optional)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "cert",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--key",
                        "-K",
                    ],
                    description: Some("Path to SSL key file (Optional)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "key",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--proxy",
                    ],
                    description: Some("Proxy specific requests defined in file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "proxy",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cors",
                    ],
                    description: Some("Enable CORS for all requests"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)