(
    version: 1,
    command: "quickmail",
    description: Some("Quickmail is a terminal-based solution to send mails"),
    subcommands: [
        (
            name: "init",
            aliases: [],
            description: Some("Initialise cli"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Get help regarding init command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "value",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "clear",
            aliases: [],
            description: Some("Clear the files stored locally"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Get help regarding clear command"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-j",
                        "--justdoit",
                    ],
                    description: Some("Clear entire cli storage including token"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "send",
            aliases: [],
            description: Some("Send mail"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Get help regarding send command"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-r",
                        "--receiver",
                    ],
                    description: Some("Receiver\'s email address"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "receiver",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-sub",
                        "--subject",
                    ],
                    description: Some("Subject of mail"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Subject",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--template",
                    ],
                    description: Some("Templates for mail body"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Template",
                            source: Unavailable,
                            optional: true,
                            variadic: false,
                            imported_generator: Some((
                                script: [
                                    "quickmail",
                                    "template",
                                    "listall",
                                ],
                                has_post_process: true,
                                has_custom: false,
                            )),
                        ),
                    ],
                ),
                (
                    names: [
                        "-b",
                        "--body",
                    ],
                    description: Some("Body of the mail"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Body",
                            source: Files,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-a",
                        "--attachment",
                    ],
                    description: Some("Path to attachment file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Attachment file",
                            source: Files,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-l",
                        "--lessgo",
                    ],
                    description: Some("Skip confirmation, and send mail"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "template",
            aliases: [],
            description: Some("Manage templates"),
            subcommands: [
                (
                    name: "add",
                    aliases: [],
                    description: Some("Add a new template"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Get help regarding template add subcommand"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "-n",
                            ],
                            description: Some("Set template id"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "Template id",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "listall",
                    aliases: [],
                    description: Some("List all templates stored"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Get help regarding template listall subcommand"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "edit",
                    aliases: [],
                    description: Some("Edit any particular template"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Get help regarding template edit subcommand"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "-n",
                            ],
                            description: Some("Edit template by id"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "Template id",
                                    source: Unavailable,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: Some((
                                        script: [
                                            "quickmail",
                                            "template",
                                            "listall",
                                        ],
                                        has_post_process: true,
                                        has_custom: false,
                                    )),
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Get help regarding template command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Output cli version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output cli help"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)