(
    version: 1,
    command: "rake",
    description: Some("A ruby build program with capabilities similar to make"),
    subcommands: [],
    options: [
        (
            names: [
                "-n",
                "--dry-run",
            ],
            description: Some("Do a dry run without executing actions"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "-H",
                "--help",
            ],
            description: Some("Display this help message"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-I",
                "--libdir",
            ],
            description: Some("Include LIBDIR in the search path for required modules"),
            takes_value: true,
            arguments: [
                (
                    name: "LIBDIR",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-P",
                "--prereqs",
            ],
            description: Some("Display the tasks and dependencies, then exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Do not log messages to standard output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
                "--rakefile",
            ],
            description: Some("Use FILE as the rakefile"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--require",
            ],
            description: Some("Require MODULE before executing rakefile"),
            takes_value: true,
            arguments: [
                (
                    name: "MODULE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-s",
                "--silent",
            ],
            description: Some("Like --quiet, but also suppresses the \'in directory\' announcement"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-T",
                "--tasks",
            ],
            description: Some("Display the tasks and dependencies, then exit"),
            takes_value: true,
            arguments: [
                (
                    name: "pattern",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--trace",
            ],
            description: Some("Turn on invoke/execute tracing, enable full backtrace"),
            takes_value: true,
            arguments: [
                (
                    name: "output",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Log message to standard output (default)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Display the program version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "targets",
            source: Unavailable,
            optional: true,
            variadic: true,
            imported_generator: Some((
                script: [
                    "rake",
                    "--tasks",
                    "--silent",
                ],
                has_post_process: true,
                has_custom: false,
            )),
        ),
    ],
)