(
    version: 1,
    command: "rancher",
    description: Some("The Rancher CLI (Command Line Interface) is a unified tool that you can use to interact with Rancher"),
    subcommands: [
        (
            name: "apps",
            aliases: [
                "app",
            ],
            description: Some("Operations with apps. Uses helm. Flags are prepended with 'helm' can also be accurately described by helm documentation"),
            subcommands: [
                (
                    name: "ls",
                    description: Some("List all apps in the current Rancher server"),
                ),
                (
                    name: "delete",
                    description: Some("Delete an app"),
                    arguments: [
                        (
                            name: "APP_NAME/APP_ID",
                            description: Some("The name of the app to delete"),
                        ),
                    ],
                ),
                (
                    name: "install",
                    description: Some("Install an app template"),
                    options: [
                        (
                            names: [
                                "--answers",
                                "-a",
                            ],
                            description: Some("Path to an answers file, the format of the file is a map with key:value. This supports JSON and YAML"),
                            arguments: [
                                (
                                    name: "answers-file-path",
                                    generators: [
                                        (
                                            has_custom: true,
                                            has_dynamic_trigger: true,
                                            has_dynamic_query_term: true,
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--values",
                                "-v",
                            ],
                            description: Some("Path to a helm values file"),
                            arguments: [
                                (
                                    name: "values-file-path",
                                    template: [
                                        FilePaths,
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--namespace",
                                "-n",
                            ],
                            description: Some("Namespace to install the app into"),
                            arguments: [
                                (
                                    name: "namespace",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--set",
                            ],
                            description: Some("Set answers for the template, can be used multiple times. Example: --set foo=bar"),
                            arguments: [
                                (
                                    name: "key=value",
                                ),
                            ],
                            repeat: Many,
                        ),
                        (
                            names: [
                                "--set-string",
                            ],
                            description: Some("Set string answers for the template (Skips Helm's type conversion), can be used multiple times. Example: --set-string foo=bar"),
                            arguments: [
                                (
                                    name: "key=value",
                                ),
                            ],
                            repeat: Many,
                        ),
                        (
                            names: [
                                "--version",
                            ],
                            description: Some("Version of the template to use"),
                            arguments: [
                                (
                                    name: "version",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--no-prompt",
                            ],
                            description: Some("Suppress asking questions and use the default values when required answers are not provided"),
                        ),
                        (
                            names: [
                                "--helm-timeout",
                            ],
                            description: Some("Amount of time for helm to wait for k8s commands (default is 300 secs). Example: --helm-timeout 600 (default: 300)"),
                            arguments: [
                                (
                                    name: "seconds",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--helm-wait",
                            ],
                            description: Some("Helm will wait for as long as timeout value, for installed resources to be ready (pods, PVCs, deployments, etc.). Example: --helm-wait"),
                        ),
                    ],
                    arguments: [
                        (
                            name: "TEMPLATE_NAME/TEMPLATE_PATH",
                            description: Some("Install an app template in the current Rancher server"),
                        ),
                        (
                            name: "APP_NAME",
                            description: Some("The name of the app to install"),
                        ),
                    ],
                ),
                (
                    name: "rollback",
                    description: Some("Rollback an app to a previous version"),
                    arguments: [
                        (
                            name: "APP_NAME/APP_ID",
                            description: Some("The name/id of the app to rollback"),
                        ),
                        (
                            name: "REVISION_ID/REVISION_NAME",
                            description: Some("The name/id of the revision to rollback"),
                        ),
                    ],
                ),
                (
                    name: "upgrade",
                    description: Some("Upgrade an existing app to a newer version"),
                ),
                (
                    name: "list-templates",
                    aliases: [
                        "lt",
                    ],
                    description: Some("List templates available for installation"),
                ),
                (
                    name: "show-tempate",
                    aliases: [
                        "st",
                    ],
                    description: Some("Show versions available to install for an app template"),
                ),
                (
                    name: "show-app",
                    aliases: [
                        "sa",
                    ],
                    description: Some("Show an app's available versions and revisions"),
                ),
                (
                    name: "show-notes",
                    description: Some("Show contents of apps notes.txt"),
                ),
            ],
            options: [
                (
                    names: [
                        "--format",
                        "-o",
                    ],
                    description: Some("Output format: 'json', 'yaml' or custom format"),
                    arguments: [
                        (
                            name: "format",
                            suggestions: [
                                (
                                    name: "json",
                                ),
                                (
                                    name: "yaml",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--quiet",
                        "-q",
                    ],
                    description: Some("Only display IDs or suppress help text"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Show help"),
                ),
            ],
        ),
        (
            name: "catalog",
            description: Some("Operations with catalogs"),
            subcommands: [
                (
                    name: "ls",
                    description: Some("List all catalogs in the current Rancher server"),
                    options: [
                        (
                            names: [
                                "--format",
                                "-o",
                            ],
                            description: Some("Output format: 'json', 'yaml' or custom format"),
                            arguments: [
                                (
                                    name: "format",
                                    suggestions: [
                                        (
                                            name: "json",
                                        ),
                                        (
                                            name: "yaml",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--quiet",
                                "-q",
                            ],
                            description: Some("Only display IDs or suppress help text"),
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                        ),
                        (
                            names: [
                                "--verbose",
                                "-v",
                            ],
                        ),
                    ],
                ),
                (
                    name: "add",
                    description: Some("Add a catalog"),
                    options: [
                        (
                            names: [
                                "--branch",
                            ],
                            description: Some("Branch from the url to use (default: 'master')"),
                            arguments: [
                                (
                                    name: "branch name",
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--helm-version",
                            ],
                            description: Some("Version of helm the app(s) in your catalog will use for deployment. Use 'v2' for helm 2 or 'v3' for helm 3 (default: 'v2')"),
                            arguments: [
                                (
                                    name: "version",
                                ),
                            ],
                        ),
                    ],
                    arguments: [
                        (
                            name: "CATALOG_NAME",
                            description: Some("The name of the catalog to add"),
                        ),
                        (
                            name: "CATALOG_URL",
                            description: Some("The URL of the catalog to add"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "clusters",
            aliases: [
                "cluster",
            ],
            description: Some("Operations on clusters"),
            presentation: (
                icon: Some("https://rancher.com/docs/img/favicon.png"),
            ),
        ),
        (
            name: "context",
            description: Some("Operations for the context"),
        ),
        (
            name: "globaldns",
            description: Some("Operations on global DNS providers and entries"),
        ),
        (
            name: "inspect",
            description: Some("View details of resources"),
        ),
        (
            name: "kubectl",
            description: Some("Run kubectl commands"),
            presentation: (
                icon: Some("fig://icon?type=kubernetes"),
            ),
        ),
        (
            name: "login",
            aliases: [
                "-l",
            ],
            description: Some("Login to a Rancher server"),
            options: [
                (
                    names: [
                        "--token",
                    ],
                    description: Some("API Bearer Token to authenticate Rancher CLI to your Rancher server"),
                    arguments: [
                        (
                            name: "BEARER_TOKEN",
                            description: Some("The bearer token you want to use"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "SERVER_URL",
                    description: Some("The server url you want to login to"),
                ),
            ],
        ),
        (
            name: "machines",
            aliases: [
                "machine",
            ],
            description: Some("Operations on machines"),
        ),
        (
            name: "multiclusterapps",
            aliases: [
                "multiclusterapp",
            ],
            description: Some("Operations with multi-cluster apps"),
        ),
        (
            name: "namespaces",
            aliases: [
                "namespace",
            ],
            description: Some("Operations on namespaces"),
        ),
        (
            name: "nodes",
            aliases: [
                "node",
            ],
            description: Some("Operations on nodes"),
        ),
        (
            name: "projects",
            aliases: [
                "project",
            ],
            description: Some("Operations on projects"),
        ),
        (
            name: "ps",
            description: Some("Show workloads in a project"),
        ),
        (
            name: "server",
            description: Some("Operations for the server"),
            subcommands: [
                (
                    name: "current",
                    description: Some("Display the current server"),
                ),
                (
                    name: "delete",
                    description: Some("⚠️ Delete a server from the local config"),
                    arguments: [
                        (
                            name: "SERVER_NAME",
                            description: Some("The name of server you want to delete"),
                            generators: [
                                (
                                    script: [
                                        "rancher",
                                        "server",
                                        "ls",
                                    ],
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                    presentation: (
                        dangerous: true,
                    ),
                ),
                (
                    name: "ls",
                    description: Some("List all servers"),
                ),
                (
                    name: "switch",
                    description: Some("Switch to a new server"),
                    arguments: [
                        (
                            name: "SERVER_NAME",
                            description: Some("The name of server you want to switch to"),
                            generators: [
                                (
                                    script: [
                                        "rancher",
                                        "server",
                                        "ls",
                                    ],
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "settings",
            aliases: [
                "setting",
            ],
            description: Some("Show settings for the current server"),
            subcommands: [
                (
                    name: "ls",
                    description: Some("List settings"),
                ),
                (
                    name: "get",
                    description: Some("Print a setting"),
                    arguments: [
                        (
                            name: "SETTING_NAME",
                            description: Some("The name of setting you want to get"),
                        ),
                    ],
                ),
                (
                    name: "set",
                    description: Some("Set the value for a setting"),
                    options: [
                        (
                            names: [
                                "--format",
                                "-o",
                            ],
                            description: Some("Output format: 'json', 'yaml' or custom format"),
                            arguments: [
                                (
                                    name: "format",
                                    suggestions: [
                                        (
                                            name: "json",
                                        ),
                                        (
                                            name: "yaml",
                                        ),
                                    ],
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--quiet",
                                "-q",
                            ],
                            description: Some("Only display IDs or suppress help text"),
                        ),
                        (
                            names: [
                                "--help",
                                "-h",
                            ],
                            description: Some("Show help"),
                        ),
                        (
                            names: [
                                "--default",
                            ],
                            description: Some("Reset the setting back to it's default value. If the default value is (blank) it will be set to that"),
                        ),
                    ],
                    arguments: [
                        (
                            name: "SETTINGNAME",
                            description: Some("The name of setting you want to set"),
                        ),
                        (
                            name: "SETTING_VALUE",
                            description: Some("The value of setting you want to set"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "ssh",
            description: Some("SSH into a node"),
        ),
        (
            name: "up",
            description: Some("Apply compose config"),
        ),
        (
            name: "wait",
            description: Some("Wait for resources cluster, app, project, multiClusterApp"),
        ),
        (
            name: "token",
            description: Some("Authenticate and generate new kubeconfig token"),
        ),
        (
            name: "help",
            aliases: [
                "h",
            ],
            description: Some("Shows a list of commands or help for one command"),
        ),
    ],
    options: [
        (
            names: [
                "--debug",
            ],
            description: Some("Debug logging"),
        ),
        (
            names: [
                "--config",
                "-c",
            ],
            description: Some("Path to rancher config (default: `$home/.rancher`) [$RANCHER_CONFIG_DIR]"),
            arguments: [
                (
                    name: "RANCHER_CONFIG_PATH",
                    description: Some("The path to the rancher config"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for rancher cli"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Print the version"),
        ),
    ],
)
