(
    version: 1,
    command: "rbenv",
    description: Some("Pick a Ruby version for your application and guarantee that your development environment matches production"),
    subcommands: [
        (
            name: "commands",
            description: Some("List all available rbenv commands"),
            options: [
                (
                    names: [
                        "--sh",
                    ],
                ),
                (
                    names: [
                        "--no-sh",
                    ],
                ),
            ],
        ),
        (
            name: "global",
            description: Some("Set or show the global Ruby version"),
            options: [
                (
                    names: [
                        "--unset",
                    ],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    generators: [
                        (
                            script: [
                                "rbenv",
                                "versions",
                                "--bare",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "install",
            description: Some("Install a Ruby version using ruby-build"),
            options: [
                (
                    names: [
                        "--version",
                    ],
                    description: Some("Show version of ruby-build"),
                    arguments: [
                        (
                            name: "version",
                            optional: true,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    generators: [
                        (
                            script: [
                                "rbenv",
                                "install",
                                "-L",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "local",
            description: Some("Set or show the local application-specific Ruby version"),
            options: [
                (
                    names: [
                        "--unset",
                    ],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    generators: [
                        (
                            script: [
                                "rbenv",
                                "versions",
                                "--bare",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "rehash",
            description: Some("Rehash rbenv shims (run this after installing executables)"),
        ),
        (
            name: "shell",
            description: Some("Set or show the shell-specific Ruby version"),
            arguments: [
                (
                    name: "version",
                    generators: [
                        (
                            script: [
                                "rbenv",
                                "versions",
                                "--bare",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "uninstall",
            description: Some("Uninstall a specific Ruby version"),
            options: [
                (
                    names: [
                        "-f",
                    ],
                    description: Some("If the version does not exist, do not display an error message"),
                    arguments: [
                        (
                            name: "",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "versions",
            description: Some("List installed Ruby versions"),
        ),
        (
            name: "whence",
            description: Some("List all Ruby versions that contain the given executable"),
        ),
        (
            name: "which",
            description: Some("Display the full path to an executable"),
            arguments: [
                (
                    name: "command",
                ),
            ],
        ),
    ],
)
