(
    version: 1,
    command: "readlink",
    description: Some("Display file status"),
    options: [
        (
            names: [
                "-f",
            ],
            description: Some("Display information using the specified format; similar to printf(3) formats in that they start with %, are then followed by a sequence of formatting characters, and end in a character that selects the field of the struct stat which is to be formatted"),
            arguments: [
                (
                    name: "format",
                ),
            ],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Do not force a newline to appear at the end of each piece of output"),
        ),
    ],
    arguments: [
        (
            name: "file",
            description: Some("File(s) to readlink"),
            template: [
                FilePaths,
            ],
            variadic: true,
        ),
    ],
)
