(
    version: 1,
    command: "remix",
    description: Some("Remix CLI to start, build and export your application"),
    subcommands: [
        (
            name: "build",
            aliases: [],
            description: Some("Create an optimized production build of your application"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--sourcemap",
                    ],
                    description: Some("Enables production sourcemap"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "dir",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "dev",
            aliases: [],
            description: Some("Start the application in development mode"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "dir",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "setup",
            aliases: [],
            description: Some("Prepare node_modules/remix folder (after installation of packages)"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "dir",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "routes",
            aliases: [],
            description: Some("Generate the route config of the application"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--json",
                    ],
                    description: Some("Print the route config as JSON"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "dir",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Output usage information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Output the version number"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)