(
    version: 1,
    command: "rg",
    description: Some("Recursively searches current directory for lines matching a pattern"),
    options: [
        (
            names: [
                "-A",
                "--after-context",
            ],
            description: Some("Shows NUM lines after each match"),
            arguments: [
                (
                    name: "Num",
                ),
            ],
        ),
        (
            names: [
                "--auto-hybrid-regex",
            ],
            description: Some("When this flag is used, ripgrep will dynamically choose between supported regex engines depending on the features used in a pattern"),
        ),
        (
            names: [
                "-B",
                "--before-context",
            ],
            description: Some("Shows NUM lines before each match"),
            arguments: [
                (
                    name: "Num",
                ),
            ],
        ),
        (
            names: [
                "--binary",
            ],
            description: Some("Enabling this flag will cause ripgrep to search binary files"),
        ),
        (
            names: [
                "--block-buffered",
            ],
            description: Some("When enabled, ripgrep will use block buffering"),
        ),
        (
            names: [
                "-b",
                "--byte-offset",
            ],
            description: Some("Prints the 0-based byte offset within the input file before each line of output"),
        ),
        (
            names: [
                "-s",
                "--case-sensitive",
            ],
            description: Some("Search case sensitively"),
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Controls when to use colors"),
            arguments: [
                (
                    name: "when",
                    suggestions: [
                        (
                            name: "never",
                            description: Some("Colors will never be used"),
                        ),
                        (
                            name: "auto",
                            description: Some("Ripgrep tries to be smart"),
                        ),
                        (
                            name: "always",
                            description: Some("Colors will always be used regardless of where output is sent"),
                        ),
                        (
                            name: "ansi",
                            description: Some("Colors will always be used, but emits ANSI escapes"),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--colors",
            ],
            description: Some("Specifies color settings for use in the output"),
            arguments: [
                (
                    name: "Color Spec",
                    description: Some("{type}:{attribute}:{value}, ex: `match:fg:magenta`"),
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--column",
            ],
            description: Some("Shows column numbers for the first match on each line"),
        ),
        (
            names: [
                "-C",
                "--context",
            ],
            description: Some("Shows NUM lines before and after each match"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
        ),
        (
            names: [
                "--context-separator",
            ],
            description: Some("The string used to separate non-contiguous context lines in the output"),
            arguments: [
                (
                    name: "Separator",
                ),
            ],
        ),
        (
            names: [
                "-c",
                "--count",
            ],
            description: Some("Suppresses normal output and shows the number of lines that match the given pattersns for each file searched"),
        ),
        (
            names: [
                "--count-matches",
            ],
            description: Some("Suppresses normal output and shows the number of individual matches of the given patterns for each file searched"),
        ),
        (
            names: [
                "--crlf",
            ],
            description: Some("Treats CRLF as a line terminator instead of just a line break"),
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Shows debug messages"),
        ),
        (
            names: [
                "--dfa-size-limit",
            ],
            description: Some("The upper size limit of the regex DFA"),
            arguments: [
                (
                    name: "NUM",
                ),
                (
                    name: "suffix",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-E",
                "--encoding",
            ],
            description: Some("Specifies the text encoding that ripgrep will use on all files searched"),
            arguments: [
                (
                    name: "Encoding",
                ),
            ],
        ),
        (
            names: [
                "--engine",
            ],
            description: Some("Specifies which regular expression engine to use"),
            arguments: [
                (
                    name: "Engine",
                    suggestions: [
                        (
                            name: "default",
                        ),
                        (
                            name: "pcre2",
                        ),
                        (
                            name: "auto",
                        ),
                    ],
                    default: Some("default"),
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--file",
            ],
            description: Some("Searches for patterns from the given file, with one pattern per line"),
            arguments: [
                (
                    name: "Patternfile",
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--files",
            ],
            description: Some("Prints each file that would be searched without actually performing the search"),
        ),
        (
            names: [
                "-l",
                "--files-with-matches",
            ],
            description: Some("Only prints the paths with at least one match"),
        ),
        (
            names: [
                "--files-without-match",
            ],
            description: Some("Only prints the paths that contains zero matches"),
        ),
        (
            names: [
                "-F",
                "--fixed-strings",
            ],
            description: Some("Treats the pattern as a literal string instead of a regular expression"),
        ),
        (
            names: [
                "-L",
                "--follow",
            ],
            description: Some("Follows symbolic links while traversing directories"),
        ),
        (
            names: [
                "-g",
                "--glob",
            ],
            description: Some("Includes or excludes files and directories for searching that match the given glob"),
            arguments: [
                (
                    name: "GLOB",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--glob-case-insensitive",
            ],
            description: Some("Processes glob patterns given with the -g/--glob flag"),
            depends_on: [
                "-g",
                "--glob",
            ],
        ),
        (
            names: [
                "--heading",
            ],
            description: Some("Prints the file path above clusters of matches from each file instead of printing the file path as a prefix for reach matched line"),
        ),
        (
            names: [
                "--hidden",
            ],
            description: Some("Searches hidden files and directories"),
        ),
        (
            names: [
                "--iglob",
            ],
            description: Some("Includes or excludes files and directories for searching that match given the glob"),
            arguments: [
                (
                    name: "GLOB",
                    template: [
                        FilePaths,
                        Folders,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--ignore-file",
            ],
            description: Some("Specifies a path to one or more .gitignore format rules files"),
            arguments: [
                (
                    name: "Path",
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--ignore-file-case-insensitive",
            ],
            description: Some("Process ignores files case insensitively"),
        ),
        (
            names: [
                "--include-zero",
            ],
            description: Some("Prints the number of matchesfor each file when used with --count or --count matches"),
        ),
        (
            names: [
                "-v",
                "--invert-match",
            ],
            description: Some("Inverts matching"),
        ),
        (
            names: [
                "--json",
            ],
            description: Some("Enables printing results in a JSON Lines format"),
        ),
        (
            names: [
                "--no-json",
            ],
            description: Some("Disables the JSON Lines format"),
        ),
        (
            names: [
                "--line-buffered",
            ],
            description: Some("Enables line buffering"),
        ),
        (
            names: [
                "-n",
                "--line-number",
            ],
            description: Some("Shows the line numbers (1-based)"),
        ),
        (
            names: [
                "-x",
                "--line-regexp",
            ],
            description: Some("Only shows matches surrounded by line boundaries"),
        ),
        (
            names: [
                "-M",
                "--max-columns",
            ],
            description: Some("Don't print lines longer than this limit in bytes"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
        ),
        (
            names: [
                "--max-columns-preview",
            ],
            description: Some("Completely replaces any line that is too long with a message indicating that a matching line was removed"),
        ),
        (
            names: [
                "-m",
                "--max-count",
            ],
            description: Some("Limits the number of matching lines per file searched to NUM"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
        ),
        (
            names: [
                "--max-depth",
            ],
            description: Some("Limits the depth of directory traversal to NUM levels beyond the paths given"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
        ),
        (
            names: [
                "--max-filesize",
            ],
            description: Some("Ignores files larger than NUM in size"),
            arguments: [
                (
                    name: "NUM",
                ),
                (
                    name: "Suffix",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-mmap",
            ],
            description: Some("Searches using memory maps when possible"),
        ),
        (
            names: [
                "-U",
                "--multiline",
            ],
            description: Some("Enables matching across multiple lines"),
        ),
        (
            names: [
                "--multiline-dotall",
            ],
            description: Some("Enables dot all in your regex pattern"),
        ),
        (
            names: [
                "--no-config",
            ],
            description: Some("Never read configuration files"),
        ),
        (
            names: [
                "-I",
                "--no-filename",
            ],
            description: Some("Never prints the file path with the matched lines"),
        ),
        (
            names: [
                "--no-heading",
            ],
            description: Some("Don't group matches by each file"),
        ),
        (
            names: [
                "--no-ignore",
            ],
            description: Some("Don't respect ignore files (.gitignore, .ignore, etc.)"),
        ),
        (
            names: [
                "--no-ignore-dot",
            ],
            description: Some("Don't respect .ignore files"),
        ),
        (
            names: [
                "--no-ignore-excluded",
            ],
            description: Some("Don't respect ignore files that are manually configured for the repository"),
        ),
        (
            names: [
                "--no-ignore-files",
            ],
            description: Some("Ignores any --ignore-file flags"),
        ),
        (
            names: [
                "--no-ignore-global",
            ],
            description: Some("Don't respect ignore files that come from `global` sources"),
        ),
        (
            names: [
                "--no-ignore-messages",
            ],
            description: Some("Suppresses all error messages related to parsing ignore files"),
        ),
        (
            names: [
                "--no-ignore-parent",
            ],
            description: Some("Don't repsect ignore files in parent directories"),
        ),
        (
            names: [
                "--no-ignore-vcs",
            ],
            description: Some("Don't respect version control ignore files"),
        ),
        (
            names: [
                "-N",
                "--no-line-number",
            ],
            description: Some("Suppress line numbers"),
        ),
        (
            names: [
                "--no-messages",
            ],
            description: Some("Suppresses all error messages related to opening and reading files"),
        ),
        (
            names: [
                "--no-map",
            ],
            description: Some("Never use memory maps, even when they might be faster"),
        ),
        (
            names: [
                "--no-pcre2-unicode",
            ],
        ),
        (
            names: [
                "--no-require-git",
            ],
            description: Some("Will only respect global gitignore rules"),
        ),
        (
            names: [
                "--no-unicode",
            ],
            description: Some("Turn off unicode"),
        ),
        (
            names: [
                "--unicode",
            ],
            description: Some("Disables --no-unicode flag"),
        ),
        (
            names: [
                "-0",
                "--null",
            ],
            description: Some("Whenever a file path is printed, follow it with a NUL byte"),
        ),
        (
            names: [
                "--null-data",
            ],
            description: Some("Uses NUL as a line terminator instead of the default line break"),
        ),
        (
            names: [
                "--one-file-system",
            ],
            description: Some("Will not cross file system boundaries relative to where the search started from"),
        ),
        (
            names: [
                "--no-one-file-system",
            ],
            description: Some("Disables `--one-file-system` flag"),
        ),
        (
            names: [
                "-o",
                "--only-matching",
            ],
            description: Some("Prints only the matched (non-empty) parts of a matching line, with each such part on a separate output line"),
        ),
        (
            names: [
                "--passthru",
            ],
            description: Some("Prints both matching and non-matching lines"),
        ),
        (
            names: [
                "--path-separator",
            ],
            description: Some("Sets the path separator to use when printing file paths"),
            arguments: [
                (
                    name: "Separator",
                ),
            ],
        ),
        (
            names: [
                "-P",
                "--pcre2",
            ],
            description: Some("Usess the PCRE2 regex engine instead of its default regex engine"),
        ),
        (
            names: [
                "--pcre2-version",
            ],
            description: Some("Prints the version of PCRE2 in use"),
        ),
        (
            names: [
                "--pre",
            ],
            description: Some("For each input File, search the standard output of the command"),
            arguments: [
                (
                    name: "Command",
                ),
            ],
        ),
        (
            names: [
                "--pre-glob",
            ],
            description: Some("Only files that match the given set of globs will be handed to the command specified by the `--pre flag`"),
            arguments: [
                (
                    name: "GLOB",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--pretty",
            ],
            description: Some("Convenience alias for `--color always --heading --line-number`"),
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Do not print anything to stdout"),
        ),
        (
            names: [
                "--regex-size-limit",
            ],
            description: Some("Sets the upper size limit of the compiled regex"),
            arguments: [
                (
                    name: "NUM",
                ),
                (
                    name: "Suffix",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-e",
                "--regexp",
            ],
            description: Some("A pattern to search for"),
            arguments: [
                (
                    name: "Pattern",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-r",
                "--replace",
            ],
            description: Some("Replace every match with the text given when printing results"),
            arguments: [
                (
                    name: "Replacement Text",
                ),
            ],
        ),
        (
            names: [
                "-z",
                "--search-zip",
            ],
            description: Some("Search in compressed files"),
        ),
        (
            names: [
                "-S",
                "--smart-case",
            ],
            description: Some("Searches case insensitively if the pattern is all lowercase"),
        ),
        (
            names: [
                "--sort",
            ],
            arguments: [
                (
                    name: "Sortby",
                    suggestions: [
                        (
                            name: "none",
                            description: Some("Do not sort results. Fastest. Can be multi-threaded"),
                        ),
                        (
                            name: "path",
                            description: Some("Sort by file path, Always single-threaded"),
                        ),
                        (
                            name: "modified",
                            description: Some("Sort by the last modified time on a file. Always single-threaded"),
                        ),
                        (
                            name: "accessed",
                            description: Some("Sort by the last accessed time on a file. Always single-threaded"),
                        ),
                        (
                            name: "created",
                            description: Some("Sort by the creation time on a file. Always single-threaded"),
                        ),
                    ],
                    default: Some("none"),
                ),
            ],
        ),
        (
            names: [
                "--sortr",
            ],
            description: Some("Enables sorting results in descending order"),
            arguments: [
                (
                    name: "Sortby",
                    suggestions: [
                        (
                            name: "none",
                            description: Some("Do not sort results. Fastest. Can be multi-threaded"),
                        ),
                        (
                            name: "path",
                            description: Some("Sort by file path, Always single-threaded"),
                        ),
                        (
                            name: "modified",
                            description: Some("Sort by the last modified time on a file. Always single-threaded"),
                        ),
                        (
                            name: "accessed",
                            description: Some("Sort by the last accessed time on a file. Always single-threaded"),
                        ),
                        (
                            name: "created",
                            description: Some("Sort by the creation time on a file. Always single-threaded"),
                        ),
                    ],
                    default: Some("none"),
                ),
            ],
        ),
        (
            names: [
                "--stats",
            ],
            description: Some("Prints aggregate statistics about this ripgrep search"),
        ),
        (
            names: [
                "-a",
                "--text",
            ],
            description: Some("Searches binary files as if they were text"),
        ),
        (
            names: [
                "-j",
                "--threads",
            ],
            description: Some("The approximate number of threads to use"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
        ),
        (
            names: [
                "--trim",
            ],
            description: Some("All ASCII whitespace at the beginning of each line printed will be trimmed"),
        ),
        (
            names: [
                "-t",
                "--type",
            ],
            description: Some("Only searches files matching TYPE"),
            arguments: [
                (
                    name: "Type",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--type-add",
            ],
            description: Some("Add a new glob for a particular file type"),
            arguments: [
                (
                    name: "Type Spec",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--type-clear",
            ],
            description: Some("Clear the file type globs previously defined for type"),
            arguments: [
                (
                    name: "type",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--type-list",
            ],
            description: Some("Shows all supported file types and their corresponding globs"),
        ),
        (
            names: [
                "-T",
                "--type-not",
            ],
            description: Some("Do not search files matching type"),
            arguments: [
                (
                    name: "type",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-u",
                "--unrestricted",
            ],
            description: Some("Reduce the level of smart searching, increase by adding `u`s, ex: -uuu"),
        ),
        (
            names: [
                "--vimgrep",
            ],
            description: Some("Shows results with every match on its own line, including line numbers and column nnumbers"),
        ),
        (
            names: [
                "-H",
                "--with-filename",
            ],
            description: Some("Displays the file path for matches"),
        ),
        (
            names: [
                "-w",
                "--word-regexp",
            ],
            description: Some("Only shows the matches surrounded by word boundaries"),
        ),
    ],
    arguments: [
        (
            name: "Pattern",
            description: Some("A regular expression used for searching"),
        ),
        (
            name: "Path",
            description: Some("A file or directory to search"),
            template: [
                FilePaths,
                Folders,
            ],
            optional: true,
            variadic: true,
        ),
    ],
)
