(
    version: 1,
    command: "rmdir",
    description: Some("Remove directories"),
    options: [
        (
            names: [
                "-p",
            ],
            description: Some("Remove each directory of path"),
            presentation: (
                dangerous: true,
            ),
        ),
    ],
    arguments: [
        (
            name: "",
            template: [
                Folders,
            ],
            variadic: true,
        ),
    ],
)
