(
    version: 1,
    command: "rojo",
    description: Some("Enables professional-grade development tools for Roblox developers"),
    subcommands: [
        (
            name: "help",
            description: Some("Print this message or the help of the given subcommand(s)"),
            arguments: [
                (
                    name: "SUBCOMMAND",
                    template: [
                        Help,
                    ],
                ),
            ],
        ),
        (
            name: "build",
            description: Some("Generates a model or place file from the Rojo project"),
            options: [
                (
                    names: [
                        "--output",
                        "-o",
                    ],
                    description: Some("Where to output the result. Should end in .rbxm, .rbxl, .rbxmx, or .rbxlx"),
                    arguments: [
                        (
                            name: "OUTPUT",
                            description: Some("Where to output the result. Should end in .rbxm, .rbxl, .rbxmx, or .rbxlx"),
                            generators: [
                                (
                                    has_custom: true,
                                    has_dynamic_trigger: true,
                                    has_dynamic_query_term: true,
                                ),
                            ],
                            suggest_current_token: true,
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "--watch",
                    ],
                    description: Some("Whether to automatically rebuild when any input files change"),
                ),
            ],
            arguments: [
                (
                    name: "PROJECT",
                    description: Some("Path to the project to serve. Defaults to the current directory [default: ]"),
                ),
            ],
        ),
        (
            name: "doc",
            description: Some("Open Rojo's documentation in your browser"),
        ),
        (
            name: "fmt-project",
            description: Some("Reformat a Rojo project using the standard JSON formatting rules"),
            arguments: [
                (
                    name: "PROJECT",
                    description: Some("Path to the project to format. Defaults to the current directory [default: ]"),
                ),
            ],
        ),
        (
            name: "init",
            description: Some("Initializes a new Rojo project"),
            options: [
                (
                    names: [
                        "--kind",
                    ],
                    description: Some("The kind of project to create, 'place' or 'model'. Defaults to place"),
                    arguments: [
                        (
                            name: "KIND",
                            description: Some("The kind of project to create, 'place' or 'model'. Defaults to place"),
                            suggestions: [
                                (
                                    name: "place",
                                ),
                                (
                                    name: "model",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "PATH",
                    description: Some("Path to the place to create the project. Defaults to the current directory [default: ]"),
                ),
            ],
        ),
        (
            name: "plugin",
            description: Some("Install Rojo's plugin"),
        ),
        (
            name: "serve",
            description: Some("Expose a Rojo project to the Rojo Studio plugin"),
            options: [
                (
                    names: [
                        "address",
                    ],
                    description: Some("The IP address to listen on. Defaults to `127.0.0.1`"),
                    arguments: [
                        (
                            name: "ADDRESS",
                            description: Some("The IP address to listen on. Defaults to `127.0.0.1`"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "sourcemap",
            description: Some("Generates a sourcemap file from the Rojo project"),
            options: [
                (
                    names: [
                        "--include-non-scripts",
                    ],
                    description: Some("If non-script files should be included or not. Defaults to false"),
                ),
                (
                    names: [
                        "--output",
                        "-o",
                    ],
                    description: Some("Where to output the sourcemap. Omit this to use stdout instead of writing to a file. Should end in .json"),
                    arguments: [
                        (
                            name: "OUTPUT",
                            description: Some("Where to output the sourcemap. Omit this to use stdout instead of writing to a file. Should end in .json"),
                            generators: [
                                (
                                    has_custom: true,
                                    has_dynamic_trigger: true,
                                    has_dynamic_query_term: true,
                                ),
                            ],
                            suggest_current_token: true,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "PROJECT",
                    description: Some("Path to the project to use for the sourcemap. Defaults to the current directory [default: ]"),
                ),
            ],
        ),
        (
            name: "upload",
            description: Some("Builds the project and uploads it to Roblox"),
            options: [
                (
                    names: [
                        "--api-key",
                    ],
                    description: Some("API key obtained from create.roblox.com/credentials. Rojo will use the Open Cloud API when this is provided. Only supports uploading to a place"),
                    arguments: [
                        (
                            name: "API_KEY",
                            description: Some("API key obtained from create.roblox.com/credentials. Rojo will use the Open Cloud API when this is provided. Only supports uploading to a place"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--asset_id",
                    ],
                    description: Some("Asset ID to upload to"),
                    arguments: [
                        (
                            name: "ASSET_ID",
                            description: Some("Asset ID to upload to"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--cookie",
                    ],
                    description: Some("Authenication cookie to use. If not specified, Rojo will attempt to find one from the system automatically"),
                    arguments: [
                        (
                            name: "COOKIE",
                            description: Some("Authenication cookie to use. If not specified, Rojo will attempt to find one from the system automatically"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--universe_id",
                    ],
                    description: Some("The Universe ID of the given place. Required when using the Open Cloud API"),
                    arguments: [
                        (
                            name: "UNIVERSE_ID",
                            description: Some("The Universe ID of the given place. Required when using the Open Cloud API"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Print help information"),
            persistent: true,
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Set color behavior. Valid values are auto, always, and never [default: auto]"),
            arguments: [
                (
                    name: "COLOR",
                    suggestions: [
                        (
                            name: "auto",
                        ),
                        (
                            name: "always",
                        ),
                        (
                            name: "never",
                        ),
                    ],
                    default: Some("auto"),
                ),
            ],
            persistent: true,
        ),
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Sets verbosity level. Can be specified multiple times"),
            persistent: true,
            repeat: Times(4),
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Print version information"),
        ),
    ],
)
