(
    version: 1,
    command: "rome",
    description: Some("Rome CLI"),
    subcommands: [
        (
            name: "check",
            description: Some("Run the linter on a set of files"),
            options: [
                (
                    names: [
                        "--apply",
                    ],
                    description: Some("Apply safe fixes"),
                ),
                (
                    names: [
                        "--apply-unsafe",
                    ],
                    description: Some("Apply safe and unsafe fixes"),
                ),
                (
                    names: [
                        "--max-diagnostics",
                    ],
                    description: Some("Cap the amount of diagnostics displayed"),
                    arguments: [
                        (
                            name: "NUMBER",
                        ),
                    ],
                ),
                (
                    names: [
                        "--config-path",
                    ],
                    description: Some("Set the filesystem path to the config dir of the rome.json file"),
                    arguments: [
                        (
                            name: "dir",
                            template: [
                                Folders,
                            ],
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Print additional verbose advices on diagnostics"),
                ),
            ],
            arguments: [
                (
                    name: "file, dir",
                    template: [
                        FilePaths,
                        Folders,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "ci",
            description: Some("Run the linter and formatter check on a set of files"),
            options: [
                (
                    names: [
                        "--formatter-enabled",
                    ],
                    description: Some("Allow to enable or disable the formatter check"),
                ),
                (
                    names: [
                        "--linter-enabled",
                    ],
                    description: Some("Allow to enable or disable the linter check"),
                ),
                (
                    names: [
                        "--organize-imports-enabled",
                    ],
                    description: Some("Allow to enable or disable the organize imports"),
                ),
                (
                    names: [
                        "--max-diagnostics",
                    ],
                    description: Some("Cap the amount of diagnostics displayed"),
                    arguments: [
                        (
                            name: "NUMBER",
                        ),
                    ],
                ),
                (
                    names: [
                        "--config-path",
                    ],
                    description: Some("Set the filesystem path to the config dir of the rome.json file"),
                    arguments: [
                        (
                            name: "dir",
                            template: [
                                Folders,
                            ],
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Print additional verbose advices on diagnostics"),
                ),
                (
                    names: [
                        "--indent-style",
                    ],
                    description: Some("Change the indention character"),
                    arguments: [
                        (
                            name: "style",
                            suggestions: [
                                (
                                    name: "tabs",
                                ),
                                (
                                    name: "space",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--indent-size",
                    ],
                    description: Some("How many spaces should be used for indentation"),
                    arguments: [
                        (
                            name: "SIZE",
                        ),
                    ],
                ),
                (
                    names: [
                        "--line-width",
                    ],
                    description: Some("How many characters the formatter is allowed to print in a single line"),
                    arguments: [
                        (
                            name: "width",
                        ),
                    ],
                ),
                (
                    names: [
                        "--quote-style",
                    ],
                    description: Some("Changes the quotation character for strings"),
                    arguments: [
                        (
                            name: "style",
                            suggestions: [
                                (
                                    name: "single",
                                ),
                                (
                                    name: "double",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--quote-properties",
                    ],
                    description: Some("Changes when properties in object should be quoted"),
                    arguments: [
                        (
                            name: "property",
                            suggestions: [
                                (
                                    name: "as-needed",
                                ),
                                (
                                    name: "preserve",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--trailing-comma",
                    ],
                    description: Some("Changes trailing commas in multi-line comma-separated syntactic structures"),
                    arguments: [
                        (
                            name: "trailing",
                            suggestions: [
                                (
                                    name: "all",
                                ),
                                (
                                    name: "es5",
                                ),
                                (
                                    name: "none",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--semicolons",
                    ],
                    description: Some("Changes when to print semicolons for statements"),
                    arguments: [
                        (
                            name: "rule",
                            suggestions: [
                                (
                                    name: "always",
                                ),
                                (
                                    name: "as-needed",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "file, dir",
                    template: [
                        FilePaths,
                        Folders,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "format",
            description: Some("Run the formatter on a set of files"),
            options: [
                (
                    names: [
                        "--write",
                    ],
                    description: Some("Edit the files in place (beware!) instead of printing the diff to the console"),
                ),
                (
                    names: [
                        "--skip-errors",
                    ],
                    description: Some("Skip over files containing syntax errors instead of emitting an error diagnostic"),
                ),
                (
                    names: [
                        "--max-diagnostics",
                    ],
                    description: Some("Cap the amount of diagnostics displayed"),
                    arguments: [
                        (
                            name: "NUMBER",
                        ),
                    ],
                ),
                (
                    names: [
                        "--config-path",
                    ],
                    description: Some("Set the filesystem path to the config dir of the rome.json file"),
                    arguments: [
                        (
                            name: "dir",
                            template: [
                                Folders,
                            ],
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Print additional verbose advices on diagnostics"),
                ),
                (
                    names: [
                        "--indent-style",
                    ],
                    description: Some("Change the indention character"),
                    arguments: [
                        (
                            name: "style",
                            suggestions: [
                                (
                                    name: "tabs",
                                ),
                                (
                                    name: "space",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--indent-size",
                    ],
                    description: Some("How many spaces should be used for indentation"),
                    arguments: [
                        (
                            name: "SIZE",
                        ),
                    ],
                ),
                (
                    names: [
                        "--line-width",
                    ],
                    description: Some("How many characters the formatter is allowed to print in a single line"),
                    arguments: [
                        (
                            name: "width",
                        ),
                    ],
                ),
                (
                    names: [
                        "--quote-style",
                    ],
                    description: Some("Changes the quotation character for strings"),
                    arguments: [
                        (
                            name: "style",
                            suggestions: [
                                (
                                    name: "single",
                                ),
                                (
                                    name: "double",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--quote-properties",
                    ],
                    description: Some("Changes when properties in object should be quoted"),
                    arguments: [
                        (
                            name: "property",
                            suggestions: [
                                (
                                    name: "as-needed",
                                ),
                                (
                                    name: "preserve",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--trailing-comma",
                    ],
                    description: Some("Changes trailing commas in multi-line comma-separated syntactic structures"),
                    arguments: [
                        (
                            name: "trailing",
                            suggestions: [
                                (
                                    name: "all",
                                ),
                                (
                                    name: "es5",
                                ),
                                (
                                    name: "none",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--semicolons",
                    ],
                    description: Some("Changes when to print semicolons for statements"),
                    arguments: [
                        (
                            name: "rule",
                            suggestions: [
                                (
                                    name: "always",
                                ),
                                (
                                    name: "as-needed",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--stdin-file-path",
                    ],
                    description: Some("A file name with its extension to pass when reading from standard in"),
                    arguments: [
                        (
                            name: "string",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "file, dir",
                    template: [
                        FilePaths,
                        Folders,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "init",
            description: Some("Bootstraps a new rome project"),
        ),
        (
            name: "start",
            description: Some("Start the Rome daemon server process"),
        ),
        (
            name: "stop",
            description: Some("Stop the Rome daemon server process"),
        ),
        (
            name: "lsp-proxy",
            description: Some("Acts as a server for the Language Server Protocol over stdin/stdout"),
        ),
        (
            name: "rage",
            description: Some("Prints information for debugging"),
        ),
        (
            name: "version",
            description: Some("Shows the Rome version information and quit"),
        ),
        (
            name: "help",
            description: Some("Prints help message"),
        ),
    ],
    options: [
        (
            names: [
                "--colors",
            ],
            description: Some("Set the formatting mode for markup"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "off",
                        ),
                        (
                            name: "force",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--use-server",
            ],
            description: Some("Connect to a running instance of the Rome daemon server"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show the Rome version information and quit"),
        ),
        (
            names: [
                "--files-max-size",
            ],
            description: Some("The maximum allowed size for source code files in bytes"),
            arguments: [
                (
                    name: "BYTES",
                ),
            ],
        ),
    ],
)
