(
    version: 1,
    command: "Rscript",
    description: Some("Scripting Front-End for R"),
    options: [
        (
            names: [
                "-e",
            ],
            description: Some("R expression to run"),
            arguments: [
                (
                    name: "expression",
                    description: Some("R expression"),
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Print usage and exit"),
            presentation: (
                icon: Some("❔"),
            ),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Print version and exit"),
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Print information on progress"),
            presentation: (
                icon: Some("📣"),
            ),
        ),
        (
            names: [
                "--no-echo",
            ],
            description: Some("Run as quietly as possible"),
            presentation: (
                icon: Some("🙊"),
            ),
        ),
        (
            names: [
                "--no-restore",
            ],
            description: Some("Don't restore anything"),
        ),
        (
            names: [
                "--save",
            ],
            description: Some("Do save workspace at the end of the session"),
            presentation: (
                icon: Some("💾"),
            ),
        ),
        (
            names: [
                "--no-environ",
            ],
            description: Some("Don't read the site and user environment files"),
        ),
        (
            names: [
                "--no-site-file",
            ],
            description: Some("Don't read the site-wide Rprofile"),
        ),
        (
            names: [
                "--no-init-file",
            ],
            description: Some("Don't read the user R profile"),
        ),
        (
            names: [
                "--restore",
            ],
            description: Some("Do restore previously saved objects at startup"),
        ),
        (
            names: [
                "--vanilla",
            ],
            description: Some("Combine --no-save, --no-restore, --no-site-file --no-init-file and --no-environ"),
        ),
        (
            names: [
                "--default-packages",
            ],
            description: Some("Comma separated list of default packages"),
            arguments: [
                (
                    name: "packages",
                    description: Some("A comma-separated set of package names, or 'NULL'"),
                ),
            ],
            requires_separator: Some("="),
            presentation: (
                icon: Some("📦"),
            ),
        ),
    ],
    arguments: [
        (
            name: "file",
            description: Some("R script to run"),
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
            is_script: true,
        ),
        (
            name: "args",
            description: Some("Arguments to pass to the script"),
            variadic: true,
        ),
    ],
    presentation: (
        icon: Some("https://www.r-project.org/favicon-32x32.png"),
    ),
)
