(
    version: 1,
    command: "rubocop",
    description: Some("A Ruby static code analyzer and formatter, based on the community Ruby style guide"),
    options: [
        (
            names: [
                "-l",
                "--lint",
            ],
            description: Some("Run only lint cops"),
        ),
        (
            names: [
                "-x",
                "--fix-layout",
            ],
            description: Some("Run only layout cops, with autocorrect on"),
        ),
        (
            names: [
                "--safe",
            ],
            description: Some("Run only safe cops"),
        ),
        (
            names: [
                "--except",
            ],
            description: Some("Exclude the given cop(s)"),
            arguments: [
                (
                    name: "COP",
                    generators: [
                        (
                            script: [
                                "rubocop",
                                "--show-cops",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--only",
            ],
            description: Some("Run only the given cop(s)"),
            arguments: [
                (
                    name: "COP",
                    generators: [
                        (
                            script: [
                                "rubocop",
                                "--show-cops",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--only-guide-cops",
            ],
            description: Some("Run only cops for rules that link to a style guide"),
        ),
        (
            names: [
                "-F",
                "--fail-fast",
            ],
            description: Some("Inspect files in order of modification time and stop after the first file containing offenses"),
        ),
        (
            names: [
                "--disable-pending-cops",
            ],
            description: Some("Run without pending cops"),
        ),
        (
            names: [
                "--enable-pending-cops",
            ],
            description: Some("Run with pending cops"),
        ),
        (
            names: [
                "--ignore-disable-comments",
            ],
            description: Some("Run cops even when they are disabled locally by a `rubocop:disable` directive"),
        ),
        (
            names: [
                "--force-exclusion",
            ],
            description: Some("Any files excluded by `Exclude` in configuration files will be excluded, even if given explicitly as arguments"),
        ),
        (
            names: [
                "--only-recognized-file-types",
            ],
            description: Some("Inspect files given on the command line only if they are listed in `AllCops/Include` parameters of user configuration or default configuration"),
        ),
        (
            names: [
                "--ignore-parent-exclusion",
            ],
            description: Some("Prevent from inheriting `AllCops/Exclude` from parent folders"),
        ),
        (
            names: [
                "--ignore-unrecognized-cops",
            ],
            description: Some("Ignore unrecognized cops or departments in the config"),
        ),
        (
            names: [
                "--force-default-config",
            ],
            description: Some("Use default configuration even if configuration files are present in the directory tree"),
        ),
        (
            names: [
                "--stdin",
                "-s",
            ],
            description: Some("Pipe source from STDIN, using FILE in offense reports. This is useful for editor integration"),
            arguments: [
                (
                    name: "FILE",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-P",
                "--parallel",
            ],
            description: Some("Use available CPUs to execute inspection in parallel default true"),
            exclusive_on: [
                "--no-parallel",
            ],
        ),
        (
            names: [
                "--no-parallel",
            ],
            description: Some("Disable parallel inspection (default: false)"),
            exclusive_on: [
                "-P",
                "--parallel",
            ],
        ),
        (
            names: [
                "--fail-level",
            ],
            description: Some("Minimum severity for exit with error code"),
            arguments: [
                (
                    name: "SEVERITY",
                    suggestions: [
                        (
                            name: "A",
                            presentation: (
                                display_name: Some("autocorrect"),
                            ),
                        ),
                        (
                            name: "I",
                            presentation: (
                                display_name: Some("info"),
                            ),
                        ),
                        (
                            name: "R",
                            presentation: (
                                display_name: Some("refactor"),
                            ),
                        ),
                        (
                            name: "C",
                            presentation: (
                                display_name: Some("convention"),
                            ),
                        ),
                        (
                            name: "W",
                            presentation: (
                                display_name: Some("warning"),
                            ),
                        ),
                        (
                            name: "E",
                            presentation: (
                                display_name: Some("error"),
                            ),
                        ),
                        (
                            name: "F",
                            presentation: (
                                display_name: Some("fatal"),
                            ),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-C",
                "--cache",
            ],
            description: Some("Use result caching (FLAG=true) or don't (FLAG=false), default determined by configuration parameter AllCops: UseCache"),
            arguments: [
                (
                    name: "FLAG",
                ),
            ],
        ),
        (
            names: [
                "--cache-root",
            ],
            description: Some("Set the cache root directory. Takes precedence over the configuration parameter AllCops: CacheRootDirectory and the $RUBOCOP_CACHE_ROOT environment variable"),
            arguments: [
                (
                    name: "DIR",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--no-server",
            ],
            description: Some("Do not use server even if it's available"),
            exclusive_on: [
                "--server",
            ],
        ),
        (
            names: [
                "--server",
            ],
            description: Some("If a server process has not been started yet, start the server process and execute inspection with server.  Default is true.  You can specify the server host and port with the $RUBOCOP_SERVER_HOST and the $RUBOCOP_SERVER_PORT environment variables"),
            exclusive_on: [
                "--no-server",
            ],
        ),
        (
            names: [
                "--restart-server",
            ],
            description: Some("Restart server process"),
        ),
        (
            names: [
                "--start-server",
            ],
            description: Some("Start server process"),
        ),
        (
            names: [
                "--stop-server",
            ],
            description: Some("Stop server process"),
        ),
        (
            names: [
                "--server-status",
            ],
            description: Some("Show server status"),
        ),
        (
            names: [
                "-f",
                "--format",
            ],
            description: Some("Choose an output formatter. This option can be specified multiple times to enable multiple formatters at the same time"),
            arguments: [
                (
                    name: "FORMATTER",
                    suggestions: [
                        (
                            name: "a",
                            presentation: (
                                display_name: Some("[a]utogenconf"),
                            ),
                        ),
                        (
                            name: "c",
                            presentation: (
                                display_name: Some("[c]lang"),
                            ),
                        ),
                        (
                            name: "e",
                            presentation: (
                                display_name: Some("[e]macs"),
                            ),
                        ),
                        (
                            name: "fi",
                            presentation: (
                                display_name: Some("[fi]les"),
                            ),
                        ),
                        (
                            name: "fu",
                            presentation: (
                                display_name: Some("[fu]ubar"),
                            ),
                        ),
                        (
                            name: "g",
                            presentation: (
                                display_name: Some("[g]ithub"),
                            ),
                        ),
                        (
                            name: "h",
                            presentation: (
                                display_name: Some("[h]tml"),
                            ),
                        ),
                        (
                            name: "j",
                            presentation: (
                                display_name: Some("[j]son"),
                            ),
                        ),
                        (
                            name: "ju",
                            presentation: (
                                display_name: Some("[ju]nit"),
                            ),
                        ),
                        (
                            name: "m",
                            presentation: (
                                display_name: Some("[m]arkdown"),
                            ),
                        ),
                        (
                            name: "o",
                            presentation: (
                                display_name: Some("[o]ffenses"),
                            ),
                        ),
                        (
                            name: "pa",
                            presentation: (
                                display_name: Some("[pa]cman"),
                            ),
                        ),
                        (
                            name: "p",
                            presentation: (
                                display_name: Some("[p]rogress"),
                            ),
                        ),
                        (
                            name: "q",
                            presentation: (
                                display_name: Some("[q]uiet"),
                            ),
                        ),
                        (
                            name: "s",
                            presentation: (
                                display_name: Some("[s]imple"),
                            ),
                        ),
                        (
                            name: "t",
                            presentation: (
                                display_name: Some("[t]ap"),
                            ),
                        ),
                        (
                            name: "w",
                            presentation: (
                                display_name: Some("[w]orst"),
                            ),
                        ),
                        (
                            name: "[custom]",
                            presentation: (
                                display_name: Some("custom formatter class name"),
                            ),
                        ),
                    ],
                    default: Some("p"),
                ),
            ],
        ),
        (
            names: [
                "-D",
                "--display-cop-names",
            ],
            description: Some("Display cop names in offense messages.  Default is true"),
            exclusive_on: [
                "--no-display-cop-names",
            ],
        ),
        (
            names: [
                "--no-display-cop-names",
            ],
            description: Some("Disable displaying cop names in offense messages. Default false"),
            exclusive_on: [
                "-D",
                "--display-cop-names",
            ],
        ),
        (
            names: [
                "-E",
                "--extra-details",
            ],
            description: Some("Display extra details in offense messages"),
        ),
        (
            names: [
                "-S",
                "--display-style-guide",
            ],
            description: Some("Display style guide URLs in offense messages"),
        ),
        (
            names: [
                "-o",
                "--out",
            ],
            description: Some("Write output to a file instead of STDOUT.  This option applies to the previously specified --format, or the default format if no format is specified"),
            arguments: [
                (
                    name: "FILE",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--stderr",
            ],
            description: Some("Write all output to stderr except for the autocorrected source. This is especially useful when combined with --autocorrect and --stdin"),
        ),
        (
            names: [
                "--display-time",
            ],
            description: Some("Display elapsed time in seconds"),
        ),
        (
            names: [
                "--display-only-failed",
            ],
            description: Some("Only output offense messages. Omit passing cops. Only valid for --format junit"),
        ),
        (
            names: [
                "--display-only-fail-level-offenses",
            ],
            description: Some("Only output offense messages at the specified --fail-level or above"),
        ),
        (
            names: [
                "--display-only-correctable",
            ],
            description: Some("Only output correctable offense messages"),
        ),
        (
            names: [
                "--display-only-safe-correctable",
            ],
            description: Some("Only output safe-correctable offense messages when combined with --display-only-correctable"),
        ),
        (
            names: [
                "-a",
                "--autocorrect",
            ],
            description: Some("Autocorrect offenses (only when it's safe)"),
        ),
        (
            names: [
                "-A",
                "--autocorrect-all",
            ],
            description: Some("Autocorrect offenses (safe and unsafe)"),
        ),
        (
            names: [
                "--disable-uncorrectable",
            ],
            description: Some("Annotates any offenses that do not support autocorrect with `rubocop:todo` comments"),
            depends_on: [
                "-a",
                "--autocorrect",
            ],
        ),
        (
            names: [
                "--auto-gen-config",
            ],
            description: Some("Generate a configuration file acting as a TODO list"),
        ),
        (
            names: [
                "--regenerate-todo",
            ],
            description: Some("Regenerate the TODO configuration file using the last configuration. If there is no existing TODO file, acts like --auto-gen-config"),
        ),
        (
            names: [
                "--exclude-limit",
            ],
            description: Some("Set the limit for how many files to explicitly exclude.  If there are more files than the limit, the cop will be disabled instead. Default is 15"),
            arguments: [
                (
                    name: "COUNT",
                    default: Some("15"),
                ),
            ],
        ),
        (
            names: [
                "--offense-counts",
            ],
            description: Some("Include offense counts in configuration file generated by --auto-gen-config.  Default is true"),
            depends_on: [
                "--auto-gen-config",
            ],
        ),
        (
            names: [
                "--auto-gen-only-exclude",
            ],
            description: Some("Generate only Exclude parameters and not Max when running --auto-gen-config, except if the number of files with offenses is bigger than exclude-limit. Default is false"),
        ),
        (
            names: [
                "--auto-gen-timestamp",
            ],
            description: Some("Include the date and time when the --auto-gen-config was run in the file it generates. Default is true"),
        ),
        (
            names: [
                "-L",
                "--list-target-files",
            ],
            description: Some("List all files RuboCop will inspect"),
        ),
        (
            names: [
                "--show-cops",
            ],
            description: Some("Shows the given cops, or all cops by default, and their configurations for the current directory"),
            arguments: [
                (
                    name: "COP",
                    generators: [
                        (
                            script: [
                                "rubocop",
                                "--show-cops",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--show-docs-url",
            ],
            description: Some("Display url to documentation for the given cops, or base url by default"),
            arguments: [
                (
                    name: "COP",
                    generators: [
                        (
                            script: [
                                "rubocop",
                                "--show-cops",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "--init",
            ],
            description: Some("Generate a .rubocop.yml file in the current directory"),
        ),
        (
            names: [
                "-c",
                "--config",
            ],
            description: Some("Specify configuration file"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--debug",
            ],
            description: Some("Display debug info"),
        ),
        (
            names: [
                "-r",
                "--require",
            ],
            description: Some("Require Ruby file"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--no-color",
            ],
            description: Some("Disable color output"),
            exclusive_on: [
                "--color",
            ],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Force color output"),
            exclusive_on: [
                "--no-color",
            ],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Display version"),
        ),
        (
            names: [
                "-V",
                "--verbose-version",
            ],
            description: Some("Display verbose version"),
        ),
    ],
    arguments: [
        (
            name: "file",
            template: [
                FilePaths,
            ],
            variadic: true,
        ),
    ],
    presentation: (
        icon: Some("https://github.com/rubocop/rubocop/blob/master/logo/rubo-logo-symbol.png?raw=true"),
    ),
)
