(
    version: 1,
    command: "sake",
    description: Some("🍶 Swift-based utility for managing project commands, inspired by Make"),
    subcommands: [
        (
            name: "init",
            description: Some("Initialize a new SakeApp project template for defining commands"),
            options: [
                (
                    names: [
                        "--config-path",
                        "-c",
                    ],
                    description: Some("Specify the path to the configuration file"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
                (
                    names: [
                        "--sake-app-path",
                        "-s",
                    ],
                    description: Some("Specify the path for the SakeApp package"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
            ],
        ),
        (
            name: "clean",
            description: Some("Remove all build artifacts generated by the SakeApp to ensure a clean state for future builds"),
            options: [
                (
                    names: [
                        "--config-path",
                        "-c",
                    ],
                    description: Some("Specify the path to the configuration file"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
                (
                    names: [
                        "--sake-app-path",
                        "-s",
                    ],
                    description: Some("Specify the path for the SakeApp package"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
            ],
        ),
        (
            name: "edit",
            description: Some("Open the SakeApp in Xcode (macOS only)"),
            options: [
                (
                    names: [
                        "--config-path",
                        "-c",
                    ],
                    description: Some("Specify the path to the configuration file"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
                (
                    names: [
                        "--sake-app-path",
                        "-s",
                    ],
                    description: Some("Specify the path for the SakeApp package"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
            ],
        ),
        (
            name: "list",
            description: Some("List all available commands defined in the SakeApp"),
            options: [
                (
                    names: [
                        "--config-path",
                        "-c",
                    ],
                    description: Some("Specify the path to the configuration file"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
                (
                    names: [
                        "--sake-app-path",
                        "-s",
                    ],
                    description: Some("Specify the path for the SakeApp package"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
                (
                    names: [
                        "--case-converting-strategy",
                    ],
                    description: Some("Specify the strategy for converting command names' case"),
                    arguments: [
                        (
                            name: "strategy",
                            suggestions: [
                                (
                                    name: "keepOriginal",
                                ),
                                (
                                    name: "toSnakeCase",
                                ),
                                (
                                    name: "toKebabCase",
                                ),
                            ],
                            default: Some("keepOriginal"),
                        ),
                    ],
                    presentation: (
                        priority: Some(55.0),
                    ),
                ),
                (
                    names: [
                        "--sake-app-prebuilt-binary-path",
                        "-b",
                    ],
                    description: Some("Specify the path to the prebuilt SakeApp binary"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    presentation: (
                        priority: Some(55.0),
                    ),
                ),
                (
                    names: [
                        "--json",
                        "-j",
                    ],
                    description: Some("Output the list of commands in JSON format"),
                    presentation: (
                        priority: Some(45.0),
                    ),
                ),
            ],
        ),
        (
            name: "build",
            description: Some("Manually trigger a rebuild of the SakeApp"),
            options: [
                (
                    names: [
                        "--config-path",
                        "-c",
                    ],
                    description: Some("Specify the path to the configuration file"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
                (
                    names: [
                        "--sake-app-path",
                        "-s",
                    ],
                    description: Some("Specify the path for the SakeApp package"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
                (
                    names: [
                        "--show-bin-path",
                    ],
                    description: Some("Print the path to the built SakeApp executable"),
                    presentation: (
                        priority: Some(45.0),
                    ),
                ),
            ],
        ),
        (
            name: "run",
            description: Some("Run the specified command from the SakeApp"),
            options: [
                (
                    names: [
                        "--config-path",
                        "-c",
                    ],
                    description: Some("Specify the path to the configuration file"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
                (
                    names: [
                        "--sake-app-path",
                        "-s",
                    ],
                    description: Some("Specify the path for the SakeApp package"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                    persistent: true,
                ),
                (
                    names: [
                        "--case-converting-strategy",
                    ],
                    description: Some("Specify the strategy for converting command names' case"),
                    arguments: [
                        (
                            name: "strategy",
                            suggestions: [
                                (
                                    name: "keepOriginal",
                                ),
                                (
                                    name: "toSnakeCase",
                                ),
                                (
                                    name: "toKebabCase",
                                ),
                            ],
                            default: Some("keepOriginal"),
                        ),
                    ],
                    presentation: (
                        priority: Some(55.0),
                    ),
                ),
                (
                    names: [
                        "--sake-app-prebuilt-binary-path",
                        "-b",
                    ],
                    description: Some("Specify the path to the prebuilt SakeApp binary"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    presentation: (
                        priority: Some(55.0),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "command",
                    description: Some("The command to run"),
                    generators: [
                        (
                            script: [
                                "sake",
                                "list",
                                "--json",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help information"),
            persistent: true,
            presentation: (
                priority: Some(40.0),
            ),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show the version"),
            presentation: (
                priority: Some(40.0),
            ),
        ),
    ],
    has_generate_spec: true,
)
