(
    version: 1,
    command: "sed",
    description: Some("Stream editor"),
    subcommands: [
        (
            name: "a",
            aliases: [],
            description: Some("Appends `text` after a line"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "text",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "b",
            aliases: [],
            description: Some("Branch unconditionally to `label`"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "label",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "c",
            aliases: [],
            description: Some("Replace (change) lines with `text`"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "text",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "d",
            aliases: [],
            description: Some("Delete the pattern space; immediately start next cycle"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "D",
            aliases: [],
            description: Some("If pattern space contains newlines, delete text in the pattern space up to the first newline, and restart cycle with the resultant pattern space, without reading a new line of input. If pattern space contains no newline, start a normal new cycle as if the d command was issued"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "e",
            aliases: [],
            description: Some("Executes the command that is found in pattern space and replaces the pattern space with the output; a trailing newline is suppressed"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "F",
            aliases: [],
            description: Some("Prints the file name of the current input file"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "g",
            aliases: [],
            description: Some("Replaces the contents of the pattern space with the contents of the hold space"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "G",
            aliases: [],
            description: Some("Appends a newline to the contents of the pattern space, and then appends the contents of the hold space to that of the pattern space"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "h",
            aliases: [],
            description: Some("Replaces the contents of the hold space with the contents of the pattern space"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "H",
            aliases: [],
            description: Some("Appends a newline to the contents of the hold space, and then appends the contents of the pattern space to that of the hold space"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "i",
            aliases: [],
            description: Some("Insert text before a line"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "text",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "l",
            aliases: [],
            description: Some("Prints the pattern space in an unambiguous form"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "n",
            aliases: [],
            description: Some("Prints the pattern space, then, regardless, replaces the pattern space with the next line of input. If there is no more input then sed exits without processing any more commands"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "N",
            aliases: [],
            description: Some("Adds a newline to the pattern space, then appends the next line of input to the pattern space. If there is no more input then sed exits without processing any more commands"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "p",
            aliases: [],
            description: Some("Prints the pattern space"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "P",
            aliases: [],
            description: Some("Prints the pattern space up to the first newline"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "q",
            aliases: [],
            description: Some("Exit sed without processing any more commands or input"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "Exit Code",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "Q",
            aliases: [],
            description: Some("This command is the same as q, but will not print the contents of pattern space"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "Exit Code",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "r",
            aliases: [],
            description: Some("Reads file"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "filename",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "R",
            aliases: [],
            description: Some("Queue a line of filename to be read and inserted into the output stream at the end of the current cycle, or when the next input line is read"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "filename",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "s",
            aliases: [
                "regexp",
                "replacement",
            ],
            description: Some("Match the regular-expression against the content of the pattern space. If found, replace matched string with replacement"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "t",
            aliases: [],
            description: Some("(test) Branch to label only if there has been a successful substitution since the last input line was read or conditional branch was taken. The label may be omitted, in which case the next cycle is started"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "label",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "T",
            aliases: [],
            description: Some("(test) Branch to label only if there have been no successful substitutions since the last input line was read or conditional branch was taken. The label may be omitted, in which case the next cycle is started"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "label",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "v",
            aliases: [],
            description: Some("Makes sed fail if GNU sed extensions are not supported, or if the requested version is not available"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "version",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "w",
            aliases: [],
            description: Some("Writes the pattern space to the file"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "filename",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "W",
            aliases: [],
            description: Some("Writes to the given filename the portion of the pattern space up to the first newline"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "filename",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "x",
            aliases: [],
            description: Some("Exchanges the contents of the hold and pattern spaces"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "y",
            aliases: [
                "src",
                "dst",
            ],
            description: Some("Transliterate any characters in the pattern space which match any of the source-chars with the corresponding character in dest-chars"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "z",
            aliases: [],
            description: Some("(zap) Empties the content of pattern space"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "#",
            aliases: [],
            description: Some("Comment until the next newline"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-E",
            ],
            description: Some("Interprets regular expressions as extended (modern) regular expressions rather than basic regular expressions"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Causes sed to delay opening each file until a command containing the related ``w\'\' function is applied to a line of input"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Appends the editing commands specified by the command argument to the list of commands"),
            takes_value: true,
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Appends the editing commands found in the file command_file to the list of commands. The editing commands should each be listed on a separate line"),
            takes_value: true,
            arguments: [
                (
                    name: "command_file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-I",
            ],
            description: Some("Edits files in-place, saving backups with the specified extension.  If a zero-length extension is given, no backup will be saved"),
            takes_value: true,
            arguments: [
                (
                    name: "extension",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Edits files in-place similarly to `-I`, but treats each file independently from other files.  In particular, line numbers in each file start at 1, the ``$\'\' address matches the last line of the current file, and address ranges are limited to the current file"),
            takes_value: true,
            arguments: [
                (
                    name: "extension",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Makes output line buffered"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("By default, each line of input is echoed to the standard output after all of the commands have been applied to it.  The `-n` option suppresses this behavior"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Same as `-E` for compatibility with GNU sed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Makes output unbuffered"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "command",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
        (
            name: "file",
            source: Files,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)