(
    version: 1,
    command: "sftp",
    description: Some("OpenSSH secure file transfer"),
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for sftp"),
        ),
        (
            names: [
                "-4",
            ],
            description: Some("Forces scp to use IPv4 addresses only"),
        ),
        (
            names: [
                "-6",
            ],
            description: Some("Forces scp to use IPv6 addresses only"),
        ),
        (
            names: [
                "-A",
            ],
            description: Some("Allows forwarding of ssh-agent(1) to the remote system. The default is not to forward an authentication agent"),
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Attempt to continue interrupted transfers rather than overwriting\nexisting partial or complete copies of files.  If the partial\ncontents differ from those being transferred, then the resultant\nfile is likely to be corrupt"),
        ),
        (
            names: [
                "-B",
            ],
            description: Some("Specify the size of the buffer that sftp uses when transferring\nfiles.  Larger buffers require fewer round trips at the cost of\nhigher memory consumption.  The default is 32768 bytes"),
            arguments: [
                (
                    name: "buffer_size",
                    description: Some("The buffer size"),
                    suggestions: [
                        (
                            name: "32768",
                        ),
                    ],
                    default: Some("32768"),
                ),
            ],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Batch mode reads a series of commands from an input batchfile\ninstead of stdin.  Since it lacks user interaction it should be\nused in conjunction with non-interactive authentication to obviate\nthe need to enter a password at connection time (see sshd(8) and\nssh-keygen(1) for details)"),
            arguments: [
                (
                    name: "batchfile",
                    description: Some("The batch file"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-C",
            ],
            description: Some("Compression enable. Passes the -C flag to ssh(1) to enable compression"),
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Selects the cipher to use for encrypting the data transfer. This option is directly passed to ssh(1)"),
            arguments: [
                (
                    name: "cipher",
                    description: Some("The selected cipher specification"),
                ),
            ],
        ),
        (
            names: [
                "-D",
            ],
            description: Some("Connect directly to a local sftp server (rather than via ssh(1)).\nThis option may be useful in debugging the client and server"),
            arguments: [
                (
                    name: "sftp_server_path",
                    description: Some("Path to the SFTP server"),
                ),
            ],
        ),
        (
            names: [
                "-F",
            ],
            description: Some("Specifies an alternative per-user configuration file for ssh. This option is directly passed to ssh(1)"),
            arguments: [
                (
                    name: "ssh_config",
                    description: Some("The selected ssh config"),
                ),
            ],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Requests that files be flushed to disk immediately after transfer"),
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Selects the file from which the identity (private key) for public key authentication is read. This option is directly passed to ssh(1)"),
            arguments: [
                (
                    name: "identity_file",
                    description: Some("Specified identity file"),
                ),
            ],
        ),
        (
            names: [
                "-J",
            ],
            description: Some("Connect to the target host by first making an scp connection to the\njump host described by destination and then establishing a TCP\nforwarding to the ultimate destination from there.  Multiple jump\nhops may be specified separated by comma characters.  This is a\nshortcut to specify a ProxyJump configuration directive.  This\noption is directly passed to ssh(1)"),
            arguments: [
                (
                    name: "destination",
                    description: Some("Scp destination"),
                ),
            ],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Limits the used bandwidth, specified in Kbit/s"),
            arguments: [
                (
                    name: "limit",
                    description: Some("Limit bandwidth in Kbit/s"),
                ),
            ],
        ),
        (
            names: [
                "-N",
            ],
            description: Some("Disables quiet mode, e.g. to override the implicit quiet mode set by the -b flag"),
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Can be used to pass options to ssh in the format used in\nssh_config(5).  This is useful for specifying options for which\nthere is no separate scp command-line flag.  For full details of\nthe options listed below, and their possible values, see\nssh_config(5)"),
            arguments: [
                (
                    name: "option",
                    suggestions: [
                        (
                            name: "AddressFamily",
                        ),
                        (
                            name: "BatchMode",
                        ),
                        (
                            name: "BindAddress",
                        ),
                        (
                            name: "ChallengeResponseAuthentication",
                        ),
                        (
                            name: "CheckHostIP",
                        ),
                        (
                            name: "Cipher",
                        ),
                        (
                            name: "Ciphers",
                        ),
                        (
                            name: "ClearAllForwardings",
                        ),
                        (
                            name: "Compression",
                        ),
                        (
                            name: "CompressionLevel",
                        ),
                        (
                            name: "ConnectionAttempts",
                        ),
                        (
                            name: "ConnectTimeout",
                        ),
                        (
                            name: "ControlMaster",
                        ),
                        (
                            name: "ControlPath",
                        ),
                        (
                            name: "ControlPersist",
                        ),
                        (
                            name: "DynamicForward",
                        ),
                        (
                            name: "EscapeChar",
                        ),
                        (
                            name: "ExitOnForwardFailure",
                        ),
                        (
                            name: "ForwardAgent",
                        ),
                        (
                            name: "ForwardX11",
                        ),
                        (
                            name: "ForwardX11Timeout",
                        ),
                        (
                            name: "ForwardX11Trusted",
                        ),
                        (
                            name: "GatewayPorts",
                        ),
                        (
                            name: "GlobalKnownHostsFile",
                        ),
                        (
                            name: "GSSAPIAuthentication",
                        ),
                        (
                            name: "GSSAPIDelegateCredentials",
                        ),
                        (
                            name: "HashKnownHosts",
                        ),
                        (
                            name: "Host",
                        ),
                        (
                            name: "HostbasedAuthentication",
                        ),
                        (
                            name: "HostKeyAlgorithms",
                        ),
                        (
                            name: "HostKeyAlias",
                        ),
                        (
                            name: "HostName",
                        ),
                        (
                            name: "IdentityFile",
                        ),
                        (
                            name: "IdentitiesOnly",
                        ),
                        (
                            name: "IPQoS",
                        ),
                        (
                            name: "KbdInteractiveAuthentication",
                        ),
                        (
                            name: "KbdInteractiveDevices",
                        ),
                        (
                            name: "KexAlgorithms",
                        ),
                        (
                            name: "LocalCommand",
                        ),
                        (
                            name: "LocalForward",
                        ),
                        (
                            name: "LogLevel",
                        ),
                        (
                            name: "MACs",
                        ),
                        (
                            name: "NoHostAuthenticationForLocalhost",
                        ),
                        (
                            name: "NumberOfPasswordPrompts",
                        ),
                        (
                            name: "PasswordAuthentication",
                        ),
                        (
                            name: "PermitLocalCommand",
                        ),
                        (
                            name: "PKCS11Provider",
                        ),
                        (
                            name: "Port",
                        ),
                        (
                            name: "PreferredAuthentications",
                        ),
                        (
                            name: "Protocol",
                        ),
                        (
                            name: "ProxyCommand",
                        ),
                        (
                            name: "PubkeyAuthentication",
                        ),
                        (
                            name: "RekeyLimit",
                        ),
                        (
                            name: "RequestTTY",
                        ),
                        (
                            name: "RhostsRSAAuthentication",
                        ),
                        (
                            name: "RSAAuthentication",
                        ),
                        (
                            name: "SendEnv",
                        ),
                        (
                            name: "ServerAliveInterval",
                        ),
                        (
                            name: "ServerAliveCountMax",
                        ),
                        (
                            name: "StrictHostKeyChecking",
                        ),
                        (
                            name: "TCPKeepAlive",
                        ),
                        (
                            name: "Tunnel",
                        ),
                        (
                            name: "TunnelDevice",
                        ),
                        (
                            name: "UsePrivilegedPort",
                        ),
                        (
                            name: "User",
                        ),
                        (
                            name: "UserKnownHostsFile",
                        ),
                        (
                            name: "VerifyHostKeyDNS",
                        ),
                        (
                            name: "VisualHostKey",
                        ),
                        (
                            name: "XAuthLocation",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-P",
            ],
            description: Some("Specifies the port to connect to on the remote host.  Note that\nthis option is written with a capital ‘P’, because -p is already\nreserved for preserving the times and modes of the file"),
            arguments: [
                (
                    name: "port",
                ),
            ],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Preserves modification times, access times, and modes from the original file"),
        ),
        (
            names: [
                "-q",
            ],
            description: Some("Quiet mode: disables the progress meter as well as warning and diagnostic messages from ssh(1)"),
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Specify how many requests may be outstanding at any one time.\nIncreasing this may slightly improve file transfer speed but will\nincrease memory usage.  The default is 64 outstanding requests"),
            arguments: [
                (
                    name: "num_requests",
                    description: Some("The number of requests"),
                    suggestions: [
                        (
                            name: "64",
                        ),
                    ],
                    default: Some("64"),
                ),
            ],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Recursively copy entire directories.  Note that scp follows symbolic links encountered in the tree traversal"),
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Name of program to use for the encrypted connection.  The program must understand ssh(1) options"),
            arguments: [
                (
                    name: "program",
                ),
            ],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Specifies the SSH2 subsystem or the path for an sftp server on the\nremote host.  A path is useful when the remote sshd(8) does not\nhave an sftp subsystem configured"),
            arguments: [
                (
                    name: "subsystem | sftp_server",
                    description: Some("Path to the SFTP server"),
                ),
            ],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Verbose mode.  Causes scp and ssh(1) to print debugging messages about their progress. This is helpful in debugging connection, authentication, and configuration problems"),
        ),
    ],
    arguments: [
        (
            name: "sources",
            description: Some("File or directory, local or remote ([user@]host:[path])"),
            generators: [
                (
                    has_custom: true,
                    trigger: Some(OnMatch([
                            "@",
                        ])),
                ),
                (
                    has_custom: true,
                ),
                (
                    template: [
                        History,
                        FilePaths,
                        Folders,
                    ],
                ),
            ],
            variadic: true,
        ),
        (
            name: "target",
            description: Some("File or directory, local or remote ([user@]host:[path])"),
            generators: [
                (
                    has_custom: true,
                    trigger: Some(OnMatch([
                            "@",
                        ])),
                ),
                (
                    has_custom: true,
                ),
                (
                    template: [
                        History,
                        FilePaths,
                        Folders,
                    ],
                ),
            ],
        ),
    ],
)
