(
    version: 1,
    command: "shadcn-ui",
    description: Some("Shadcn UI CLI"),
    subcommands: [
        (
            name: "add",
            description: Some("Add a component to your project"),
            options: [
                (
                    names: [
                        "-y",
                        "--yes",
                    ],
                    description: Some("Skip confirmation prompt"),
                ),
                (
                    names: [
                        "-o",
                        "--overwrite",
                    ],
                    description: Some("Overwrite existing files"),
                ),
                (
                    names: [
                        "-c",
                        "--cwd",
                    ],
                    description: Some("The working directory. defaults to the current directory"),
                    arguments: [
                        (
                            name: "cwd",
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--path",
                    ],
                    description: Some("The path to add the component to"),
                    arguments: [
                        (
                            name: "path",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "components",
                    description: Some("The components to add"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "diff",
            description: Some("Check for updates against the registry"),
            options: [
                (
                    names: [
                        "-y",
                        "--yes",
                    ],
                    description: Some("Skip confirmation prompt"),
                ),
                (
                    names: [
                        "-c",
                        "--cwd",
                    ],
                    description: Some("The working directory. defaults to the current directory"),
                    arguments: [
                        (
                            name: "cwd",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "component",
                    description: Some("The component name"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "init",
            description: Some("Initialize your project and install dependencies"),
            options: [
                (
                    names: [
                        "-y",
                        "--yes",
                    ],
                    description: Some("Skip confirmation prompt"),
                ),
                (
                    names: [
                        "-c",
                        "--cwd",
                    ],
                    description: Some("The working directory. defaults to the current directory"),
                    arguments: [
                        (
                            name: "cwd",
                        ),
                    ],
                ),
            ],
        ),
    ],
)
