(
    version: 1,
    command: "shasum",
    description: Some("Print or Check SHA Checksums"),
    options: [
        (
            names: [
                "-a",
                "--algorithm",
            ],
            description: Some("Select SHA algorithm"),
            arguments: [
                (
                    name: "",
                    suggestions: [
                        (
                            name: "1",
                            description: Some("SHA-1 (default)"),
                        ),
                        (
                            name: "224",
                            description: Some("SHA-224"),
                        ),
                        (
                            name: "256",
                            description: Some("SHA-256"),
                        ),
                        (
                            name: "384",
                            description: Some("SHA-384"),
                        ),
                        (
                            name: "512",
                            description: Some("SHA-512"),
                        ),
                        (
                            name: "512224",
                            description: Some("SHA-512/224"),
                        ),
                        (
                            name: "512256",
                            description: Some("SHA-512/256"),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-b",
                "--binary",
            ],
            description: Some("Read in binary mode"),
        ),
        (
            names: [
                "-c",
                "--check",
            ],
            description: Some("Read SHA sums from the FILEs and check them"),
        ),
        (
            names: [
                "--tag",
            ],
            description: Some("Create a BSD-style checksum"),
        ),
        (
            names: [
                "-t",
                "--text",
            ],
            description: Some("Read in text mode (default)"),
        ),
        (
            names: [
                "-U",
                "--UNIVERSAL",
            ],
            description: Some("Read in Universal Newlines mode - produces same digest on Windows/Unix/Mac"),
        ),
        (
            names: [
                "-0",
                "--01",
            ],
            description: Some("Read in BITS mode - ASCII '0' as 0-bit, ASCII '1' as 1-bit, others ignored"),
        ),
        (
            names: [
                "--ignore-missing",
            ],
            description: Some("Don't fail or report status for missing files"),
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Don't print OK for each successfully verified file"),
        ),
        (
            names: [
                "-s",
                "--status",
            ],
            description: Some("Don't output anything, status code shows success"),
        ),
        (
            names: [
                "--strict",
            ],
            description: Some("Exit non-zero for improperly formatted checksum lines"),
        ),
        (
            names: [
                "-w",
                "--warn",
            ],
            description: Some("Warn about improperly formatted checksum lines"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help and exit"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Output version information and exit"),
        ),
    ],
    arguments: [
        (
            name: "FILE",
            description: Some("Files to compute/check SHA checksums. With no FILE, or when FILE is -, read standard input"),
            template: [
                FilePaths,
            ],
            optional: true,
            variadic: true,
        ),
    ],
)
