(
    version: 1,
    command: "main",
    subcommands: [
        (
            name: "init",
            description: Some("Init shell-config setup with this CLI version. Execute this command only when you want to force-apply the latest shell-config setup"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            presentation: (
                hidden: true,
            ),
        ),
        (
            name: "install",
            description: Some("Install MacOS setup with Multi-Selection"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
        ),
        (
            name: "shell",
            description: Some("Setup a shell configuration with a robust set of tools and architecture"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
        ),
        (
            name: "update",
            description: Some("Update the CLI to the latest version"),
            options: [
                (
                    names: [
                        "-t",
                        "--target",
                    ],
                    description: Some("Select update version"),
                    arguments: [
                        (
                            name: "target",
                            default: Some("latest"),
                        ),
                    ],
                ),
                (
                    names: [
                        "-m",
                        "--mute",
                    ],
                    description: Some("Daemon check for update notification. When specified is true"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
        ),
        (
            name: "assets",
            description: Some("Configure your shell assets, such as `gitprofile` and `npmrc`"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
        ),
        (
            name: "external",
            description: Some("Install and manage your external shell"),
            subcommands: [
                (
                    name: "list",
                    description: Some("Show list of all exists externals shells"),
                    options: [
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Display help for command"),
                            presentation: (
                                priority: Some(49.0),
                            ),
                        ),
                    ],
                ),
                (
                    name: "install",
                    description: Some("Install external shell"),
                    options: [
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Display help for command"),
                            presentation: (
                                priority: Some(49.0),
                            ),
                        ),
                    ],
                    arguments: [
                        (
                            name: "file_path",
                            description: Some("File to set as external shell"),
                        ),
                        (
                            name: "external_name",
                            description: Some("Name to register under the registry"),
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("Delete external shell"),
                    options: [
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Display help for command"),
                            presentation: (
                                priority: Some(49.0),
                            ),
                        ),
                    ],
                ),
                (
                    name: "help",
                    description: Some("Display help for command"),
                    arguments: [
                        (
                            name: "command",
                            template: [
                                Help,
                            ],
                            optional: true,
                        ),
                    ],
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
        ),
        (
            name: "completion",
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            presentation: (
                hidden: true,
            ),
        ),
        (
            name: "completion-script",
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            presentation: (
                hidden: true,
            ),
        ),
        (
            name: "help",
            description: Some("Display help for command"),
            arguments: [
                (
                    name: "command",
                    template: [
                        Help,
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
    options: [
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
)
