(
    version: 1,
    command: "main",
    description: None,
    subcommands: [
        (
            name: "init",
            aliases: [],
            description: Some("Init shell-config setup with this CLI version. Execute this command only when you want to force-apply the latest shell-config setup"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "install",
            aliases: [],
            description: Some("Install MacOS setup with Multi-Selection"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "shell",
            aliases: [],
            description: Some("Setup a shell configuration with a robust set of tools and architecture"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "update",
            aliases: [],
            description: Some("Update the CLI to the latest version"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-t",
                        "--target",
                    ],
                    description: Some("Select update version"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "target",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-m",
                        "--mute",
                    ],
                    description: Some("Daemon check for update notification. When specified is true"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "assets",
            aliases: [],
            description: Some("Configure your shell assets, such as `gitprofile` and `npmrc`"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "external",
            aliases: [],
            description: Some("Install and manage your external shell"),
            subcommands: [
                (
                    name: "list",
                    aliases: [],
                    description: Some("Show list of all exists externals shells"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Display help for command"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "install",
                    aliases: [],
                    description: Some("Install external shell"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Display help for command"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [
                        (
                            name: "file_path",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                        (
                            name: "external_name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete external shell"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Display help for command"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "help",
                    aliases: [],
                    description: Some("Display help for command"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "command",
                            source: Files,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "completion",
            aliases: [],
            description: None,
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "completion-script",
            aliases: [],
            description: None,
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Display help for command"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)