(
    version: 1,
    command: "shelve",
    description: Some("Shelve CLI a command-line interface designed for the Shelve platform. This tool enables users to authenticate with Shelve, facilitating the seamless transfer of environment variables for project collaboration within a team directly through the terminal interface"),
    subcommands: [
        (
            name: "create",
            aliases: [
                "c",
                "init",
            ],
            description: Some("Create a new project"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Name of the project"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "project-name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "pull",
            aliases: [
                "pl",
            ],
            description: Some("Pull variables for specified environment to .env file"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--env",
                        "-e",
                    ],
                    description: Some("Specify the environment"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "environment",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "push",
            aliases: [
                "ps",
            ],
            description: Some("Push variables for specified environment to Shelve"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--env",
                        "-e",
                    ],
                    description: Some("Specify the environment"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "environment",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "generate",
            aliases: [
                "g",
            ],
            description: Some("Generate resources for a project"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "config",
            aliases: [
                "cf",
            ],
            description: Some("Show the current configuration"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "--help",
            aliases: [
                "-h",
            ],
            description: Some("Show help"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)