(
    version: 1,
    command: "shortcuts",
    description: Some("Command-line utility for running shortcuts"),
    subcommands: [
        (
            name: "run",
            aliases: [],
            description: Some("Run a shortcut"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-i",
                        "--input-path",
                    ],
                    description: Some("The input to provide to the shortcut"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "input-path",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--output-path",
                    ],
                    description: Some("Where to write the shortcut output, if applicable"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "output-path",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--output-type",
                    ],
                    description: Some("What type to output data in, in Universal Type Identifier format"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "output-type",
                            source: Static([
                                "public.json",
                                "public.plain-text",
                                "public.html",
                                "public.xml",
                                "com.adobe.pdf",
                                "public.vcard",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "shortcut-name",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "shortcuts",
                            "list",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "list",
            aliases: [],
            description: Some("List your shortcuts"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--folder-name",
                        "-f",
                    ],
                    description: Some("The name of the folder to list"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "folder-name",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [
                                    "shortcuts",
                                    "list",
                                    "--folders",
                                ],
                                has_post_process: true,
                                has_custom: false,
                            )),
                        ),
                    ],
                ),
                (
                    names: [
                        "--folders",
                    ],
                    description: Some("List folders instead of shortcuts"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "view",
            aliases: [],
            description: Some("View a shortcut in Shortcuts"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "shortcut-name",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "shortcuts",
                            "list",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "sign",
            aliases: [],
            description: Some("Sign a shortcut file"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--input",
                        "-i",
                    ],
                    description: Some("The shortcut file to sign"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "input",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                    ],
                ),
                (
                    names: [
                        "--output",
                        "-o",
                    ],
                    description: Some("Output path for the signed shortcut file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "output",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--mode",
                        "-m",
                    ],
                    description: Some("The signing mode. (default: people-who-know-me)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "mode",
                            source: Static([
                                "people-who-know-me",
                                "anyone",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Show help information"),
            subcommands: [
                (
                    name: "run",
                    aliases: [],
                    description: Some("Run a shortcut"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List your shortcuts"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "view",
                    aliases: [],
                    description: Some("View a shortcut in Shortcuts"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "sign",
                    aliases: [],
                    description: Some("Sign a shortcut file"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [],
    arguments: [],
)