(
    version: 1,
    command: "shred",
    description: Some("Overwrite a file to hide its contents, and optionally delete it"),
    options: [
        (
            names: [
                "--force",
                "-f",
            ],
            description: Some("Change permissions to allow writing if necessary"),
        ),
        (
            names: [
                "--iterations",
                "-n",
            ],
            description: Some("Overwrite N times instead of the default (3)"),
            arguments: [
                (
                    name: "N",
                    suggestions: [
                        (
                            name: "3",
                        ),
                        (
                            name: "5",
                        ),
                        (
                            name: "7",
                        ),
                    ],
                    default: Some("3"),
                ),
            ],
        ),
        (
            names: [
                "--random-source",
            ],
            description: Some("Get random bytes from FILE"),
            arguments: [
                (
                    name: "FILE",
                    suggestions: [
                        (
                            name: "/dev/urandom",
                        ),
                        (
                            name: "/dev/random",
                        ),
                    ],
                    template: [
                        FilePaths,
                    ],
                    default: Some("/dev/urandom"),
                ),
            ],
        ),
        (
            names: [
                "--size",
                "-s",
            ],
            description: Some("Shred this many bytes (suffixes like K, M, G accepted)"),
            arguments: [
                (
                    name: "N",
                    suggestions: [
                        (
                            name: "1K",
                        ),
                        (
                            name: "1M",
                        ),
                        (
                            name: "1G",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--remove",
            ],
            description: Some("Like -u but give control on HOW to delete"),
            arguments: [
                (
                    name: "HOW",
                    description: Some("'unlink' => use a standard unlink call, 'wipe' => also first obfuscate bytes in the name, 'wipesync' => also sync each obfuscated byte to the device"),
                    suggestions: [
                        (
                            name: "unlink",
                        ),
                        (
                            name: "wipe",
                        ),
                        (
                            name: "wipesync",
                        ),
                    ],
                    default: Some("wipesync"),
                ),
            ],
        ),
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Show progress"),
        ),
        (
            names: [
                "--exact",
                "-x",
            ],
            description: Some("Do not round file sizes up to the next full block; this is the default for non-regular files"),
        ),
        (
            names: [
                "--zero",
                "-z",
            ],
            description: Some("Add a final overwrite with zeros to hide shredding"),
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Display this help and exit"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Output version information and exit"),
        ),
    ],
    arguments: [
        (
            name: "FILE",
            description: Some("File(s) to shred"),
            template: [
                FilePaths,
            ],
            variadic: true,
        ),
    ],
)
