(
    version: 1,
    command: "sidekiq",
    description: Some("Background job framework for Ruby"),
    options: [
        (
            names: [
                "--concurrency",
                "-c",
            ],
            description: Some("Processor threads to use"),
            arguments: [
                (
                    name: "INT",
                ),
            ],
        ),
        (
            names: [
                "--environment",
                "-e",
            ],
            description: Some("Application environment"),
            arguments: [
                (
                    name: "ENV",
                ),
            ],
        ),
        (
            names: [
                "--tag",
                "-g",
            ],
            description: Some("Process tag for procline"),
            arguments: [
                (
                    name: "TAG",
                ),
            ],
        ),
        (
            names: [
                "--queue",
                "-q",
            ],
            description: Some("Queues to process with optional weights"),
            arguments: [
                (
                    name: "QUEUE",
                ),
                (
                    name: "WEIGHT",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--require",
                "-r",
            ],
            description: Some("Location of Rails application with jobs or file to require"),
            arguments: [
                (
                    name: "PATH|DIR",
                    template: [
                        Folders,
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--timeout",
                "-t",
            ],
            description: Some("Shutdown timeout"),
            arguments: [
                (
                    name: "NUM",
                ),
            ],
        ),
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Print more verbose output"),
        ),
        (
            names: [
                "--config",
                "-C",
            ],
            description: Some("Path to YAML config file"),
            arguments: [
                (
                    name: "PATH",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for sidekiq run"),
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Print version and exit"),
        ),
    ],
)
