(
    version: 1,
    command: "sidekiq",
    description: Some("Background job framework for Ruby"),
    subcommands: [],
    options: [
        (
            names: [
                "--concurrency",
                "-c",
            ],
            description: Some("Processor threads to use"),
            takes_value: true,
            arguments: [
                (
                    name: "INT",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--environment",
                "-e",
            ],
            description: Some("Application environment"),
            takes_value: true,
            arguments: [
                (
                    name: "ENV",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--tag",
                "-g",
            ],
            description: Some("Process tag for procline"),
            takes_value: true,
            arguments: [
                (
                    name: "TAG",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--queue",
                "-q",
            ],
            description: Some("Queues to process with optional weights"),
            takes_value: true,
            arguments: [
                (
                    name: "QUEUE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "WEIGHT",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--require",
                "-r",
            ],
            description: Some("Location of Rails application with jobs or file to require"),
            takes_value: true,
            arguments: [
                (
                    name: "PATH|DIR",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--timeout",
                "-t",
            ],
            description: Some("Shutdown timeout"),
            takes_value: true,
            arguments: [
                (
                    name: "NUM",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--verbose",
                "-v",
            ],
            description: Some("Print more verbose output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--config",
                "-C",
            ],
            description: Some("Path to YAML config file"),
            takes_value: true,
            arguments: [
                (
                    name: "PATH",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for sidekiq run"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Print version and exit"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)