(
    version: 1,
    command: "sips",
    description: Some("Scriptable image processing system"),
    options: [
        (
            names: [
                "-g",
                "--getProperty",
            ],
            description: Some("Output the property value for key to stdout"),
            arguments: [
                (
                    name: "key",
                    suggestions: [
                        (
                            name: "all",
                        ),
                        (
                            name: "allxml",
                        ),
                        (
                            name: "dpiHeight",
                        ),
                        (
                            name: "dpiWidth",
                        ),
                        (
                            name: "pixelHeight",
                        ),
                        (
                            name: "pixelWidth",
                        ),
                        (
                            name: "typeIdentifier",
                        ),
                        (
                            name: "format",
                        ),
                        (
                            name: "formatOptions",
                        ),
                        (
                            name: "space",
                        ),
                        (
                            name: "samplesPerPixel",
                        ),
                        (
                            name: "bitsPerSample",
                        ),
                        (
                            name: "creation",
                        ),
                        (
                            name: "make",
                        ),
                        (
                            name: "model",
                        ),
                        (
                            name: "software",
                        ),
                        (
                            name: "description",
                        ),
                        (
                            name: "copyright",
                        ),
                        (
                            name: "artist",
                        ),
                        (
                            name: "profile",
                        ),
                        (
                            name: "hasAlpha",
                        ),
                        (
                            name: "size",
                        ),
                        (
                            name: "cmm",
                        ),
                        (
                            name: "version",
                        ),
                        (
                            name: "class",
                        ),
                        (
                            name: "pcs",
                        ),
                        (
                            name: "platform",
                        ),
                        (
                            name: "quality",
                        ),
                        (
                            name: "deviceManufacturer",
                        ),
                        (
                            name: "deviceModel",
                        ),
                        (
                            name: "deviceAttributes0",
                        ),
                        (
                            name: "deviceAttributes1",
                        ),
                        (
                            name: "renderingIntent",
                        ),
                        (
                            name: "creator",
                        ),
                        (
                            name: "md5",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-s",
                "--setProperty",
            ],
            description: Some("Set a property value for key to value"),
            arguments: [
                (
                    name: "key",
                    suggestions: [
                        (
                            name: "all",
                        ),
                        (
                            name: "allxml",
                        ),
                        (
                            name: "dpiHeight",
                        ),
                        (
                            name: "dpiWidth",
                        ),
                        (
                            name: "pixelHeight",
                        ),
                        (
                            name: "pixelWidth",
                        ),
                        (
                            name: "typeIdentifier",
                        ),
                        (
                            name: "format",
                        ),
                        (
                            name: "formatOptions",
                        ),
                        (
                            name: "space",
                        ),
                        (
                            name: "samplesPerPixel",
                        ),
                        (
                            name: "bitsPerSample",
                        ),
                        (
                            name: "creation",
                        ),
                        (
                            name: "make",
                        ),
                        (
                            name: "model",
                        ),
                        (
                            name: "software",
                        ),
                        (
                            name: "description",
                        ),
                        (
                            name: "copyright",
                        ),
                        (
                            name: "artist",
                        ),
                        (
                            name: "profile",
                        ),
                        (
                            name: "hasAlpha",
                        ),
                        (
                            name: "size",
                        ),
                        (
                            name: "cmm",
                        ),
                        (
                            name: "version",
                        ),
                        (
                            name: "class",
                        ),
                        (
                            name: "pcs",
                        ),
                        (
                            name: "platform",
                        ),
                        (
                            name: "quality",
                        ),
                        (
                            name: "deviceManufacturer",
                        ),
                        (
                            name: "deviceModel",
                        ),
                        (
                            name: "deviceAttributes0",
                        ),
                        (
                            name: "deviceAttributes1",
                        ),
                        (
                            name: "renderingIntent",
                        ),
                        (
                            name: "creator",
                        ),
                        (
                            name: "md5",
                        ),
                    ],
                ),
                (
                    name: "value",
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--deleteProperty",
            ],
            description: Some("Remove a property value for key"),
            arguments: [
                (
                    name: "key",
                    suggestions: [
                        (
                            name: "all",
                        ),
                        (
                            name: "allxml",
                        ),
                        (
                            name: "dpiHeight",
                        ),
                        (
                            name: "dpiWidth",
                        ),
                        (
                            name: "pixelHeight",
                        ),
                        (
                            name: "pixelWidth",
                        ),
                        (
                            name: "typeIdentifier",
                        ),
                        (
                            name: "format",
                        ),
                        (
                            name: "formatOptions",
                        ),
                        (
                            name: "space",
                        ),
                        (
                            name: "samplesPerPixel",
                        ),
                        (
                            name: "bitsPerSample",
                        ),
                        (
                            name: "creation",
                        ),
                        (
                            name: "make",
                        ),
                        (
                            name: "model",
                        ),
                        (
                            name: "software",
                        ),
                        (
                            name: "description",
                        ),
                        (
                            name: "copyright",
                        ),
                        (
                            name: "artist",
                        ),
                        (
                            name: "profile",
                        ),
                        (
                            name: "hasAlpha",
                        ),
                        (
                            name: "size",
                        ),
                        (
                            name: "cmm",
                        ),
                        (
                            name: "version",
                        ),
                        (
                            name: "class",
                        ),
                        (
                            name: "pcs",
                        ),
                        (
                            name: "platform",
                        ),
                        (
                            name: "quality",
                        ),
                        (
                            name: "deviceManufacturer",
                        ),
                        (
                            name: "deviceModel",
                        ),
                        (
                            name: "deviceAttributes0",
                        ),
                        (
                            name: "deviceAttributes1",
                        ),
                        (
                            name: "renderingIntent",
                        ),
                        (
                            name: "creator",
                        ),
                        (
                            name: "md5",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-X",
                "--extractTag",
            ],
            description: Some("Extract a profile tag element to tagFile"),
            arguments: [
                (
                    name: "tag",
                ),
                (
                    name: "tagFile",
                ),
            ],
        ),
        (
            names: [
                "--verify",
            ],
            description: Some("Verify any profile problems and log output to stdout"),
        ),
        (
            names: [
                "-x",
                "--extractProfile",
            ],
            description: Some("Get the embedded profile from image and write it to profile"),
            arguments: [
                (
                    name: "profile",
                ),
            ],
        ),
        (
            names: [
                "--deleteTag",
            ],
            description: Some("Remove the tag element from a profile"),
            arguments: [
                (
                    name: "tag",
                ),
            ],
        ),
        (
            names: [
                "--copyTag",
            ],
            description: Some("Copy the srcTag element of a profile to dstTag"),
            arguments: [
                (
                    name: "srcTag",
                ),
                (
                    name: "dstTag",
                ),
            ],
        ),
        (
            names: [
                "--loadTag",
            ],
            description: Some("Set the tag element of a profile to the contents of tagFile"),
            arguments: [
                (
                    name: "tag",
                ),
                (
                    name: "tagFile",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--repair",
            ],
            description: Some("Repair any profile problems and log output to stdout"),
        ),
        (
            names: [
                "-e",
                "--embedProfile",
            ],
            description: Some("Embed profile in image"),
            arguments: [
                (
                    name: "profile",
                ),
            ],
        ),
        (
            names: [
                "-E",
                "--embedProfileIfNone",
            ],
            description: Some("Embed profile in image only if image doesn't have a profile"),
            arguments: [
                (
                    name: "profile",
                ),
            ],
        ),
        (
            names: [
                "-m",
                "--matchTo",
            ],
            description: Some("Color match image to profile"),
            arguments: [
                (
                    name: "profile",
                ),
            ],
        ),
        (
            names: [
                "-M",
                "--matchToWithIntent",
            ],
            description: Some("Color match image to profile with rendering intent perceptual | relative | saturation | absolute"),
            arguments: [
                (
                    name: "profile",
                ),
                (
                    name: "intent",
                    suggestions: [
                        (
                            name: "perceptual",
                        ),
                        (
                            name: "relative",
                        ),
                        (
                            name: "saturation",
                        ),
                        (
                            name: "absolute",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--deleteColorManagementProperties",
            ],
            description: Some("Delete color management properties in TIFF, PNG, and EXIF dictionaries"),
        ),
        (
            names: [
                "-r",
                "--rotate",
            ],
            arguments: [
                (
                    name: "degreesCW",
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--flip",
            ],
            arguments: [
                (
                    name: "axis",
                    suggestions: [
                        (
                            name: "horizontal",
                        ),
                        (
                            name: "vertical",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-c",
                "--cropToHeightWidth",
            ],
            description: Some("Crop image to fit specified size"),
            arguments: [
                (
                    name: "pixelsH",
                ),
                (
                    name: "pixelsW",
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--padToHeightWidth",
            ],
            description: Some("Pad image with pixels to fit specified size"),
            arguments: [
                (
                    name: "pixelsH",
                ),
                (
                    name: "pixelsW",
                ),
            ],
        ),
        (
            names: [
                "-padColor",
            ],
            description: Some("Use this color when padding.  White=FFFFFF, Red=FF0000, Default=Black=000000"),
            arguments: [
                (
                    name: "hexcolor",
                ),
            ],
        ),
        (
            names: [
                "-z",
                "--resampleHeightWidth",
            ],
            description: Some("Resample image at specified size. Image apsect ratio may be altered"),
            arguments: [
                (
                    name: "pixelsH",
                ),
                (
                    name: "pixelsW",
                ),
            ],
        ),
        (
            names: [
                "--resampleWidth",
            ],
            description: Some("Resample image to specified width"),
            arguments: [
                (
                    name: "pixelsW",
                ),
            ],
        ),
        (
            names: [
                "--resampleHeight",
            ],
            description: Some("Resample image to specified height"),
            arguments: [
                (
                    name: "pixelsH",
                ),
            ],
        ),
        (
            names: [
                "-Z",
                "--resampleHeightWidthMax",
            ],
            description: Some("Resample image so height and width aren't greater than specified size"),
            arguments: [
                (
                    name: "pixelsWH",
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--addIcon",
            ],
            description: Some("Add a Finder icon to image file"),
            arguments: [
                (
                    name: "icon",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Enable debugging output"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show help"),
        ),
        (
            names: [
                "-H",
                "--helpProperties",
            ],
            description: Some("Show help for properties"),
        ),
        (
            names: [
                "--man",
            ],
            description: Some("Generate man pages"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show the version"),
        ),
        (
            names: [
                "--formats",
            ],
            description: Some("Show the read/write formats"),
        ),
    ],
    arguments: [
        (
            name: "file",
            template: [
                FilePaths,
            ],
        ),
    ],
)
