(
    version: 1,
    command: "sl",
    description: Some("A highly advanced animation program for curing your bad habit of mistyping"),
    options: [
        (
            names: [
                "-a",
            ],
            description: Some("An accident is occurring; people cry for help"),
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Little version"),
        ),
        (
            names: [
                "-F",
            ],
            description: Some("It flies like the galaxy express 999"),
        ),
        (
            names: [
                "-c",
            ],
            description: Some("C51 appears instead of D51"),
        ),
    ],
)
