(
    version: 1,
    command: "sl",
    description: Some("A highly advanced animation program for curing your bad habit of mistyping"),
    subcommands: [],
    options: [
        (
            names: [
                "-a",
            ],
            description: Some("An accident is occurring; people cry for help"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Little version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-F",
            ],
            description: Some("It flies like the galaxy express 999"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("C51 appears instead of D51"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)