(
    version: 1,
    command: "sort",
    description: Some("Sort or merge records (lines) of text and binary files"),
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Shows help message"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Displays the current version of sort"),
        ),
        (
            names: [
                "-c",
                "--check",
                "-C",
            ],
            description: Some("Check that the single input file is sorted"),
            arguments: [
                (
                    name: "output",
                    description: Some("Suppress errors on false check"),
                    suggestions: [
                        (
                            name: "silent",
                        ),
                        (
                            name: "quiet",
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-m",
                "--merge",
            ],
            description: Some("Merge only.  The input files are assumed to be pre-sorted.  If they are not sorted the output order is undefined"),
        ),
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Print the output to the output file instead of the standard output"),
            arguments: [
                (
                    name: "output",
                ),
            ],
        ),
        (
            names: [
                "-S",
                "--buffer-size",
            ],
            description: Some("Use size for the maximum size of the memory buffer"),
            arguments: [
                (
                    name: "size",
                ),
            ],
        ),
        (
            names: [
                "-T",
                "--temporary-directory",
            ],
            description: Some("Store temporary files in the directory dir"),
            arguments: [
                (
                    name: "dir",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-u",
                "--unique",
            ],
            description: Some("Unique keys. Suppress all lines that have a key that is equal to an already processed one"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Stable sort. This option maintains the original record order of records that have an equal key"),
        ),
        (
            names: [
                "-b",
                "--ignore-leading-blanks",
            ],
            description: Some("Ignore leading blank characters when comparing lines"),
        ),
        (
            names: [
                "-d",
                "--dictionary-order",
            ],
            description: Some("Consider only blank spaces and alphanumeric characters in comparisons"),
        ),
        (
            names: [
                "-f",
                "--ignore-case",
            ],
            description: Some("Convert all lowercase characters to their upper case equivalent before comparison"),
        ),
        (
            names: [
                "-g",
                "--general-numeric-sort",
            ],
            description: Some("Sort by general numerical value"),
        ),
        (
            names: [
                "-h",
                "--human-numeric-sort",
            ],
            description: Some("Sort by numerical value, but take into account the SI suffix, if present"),
        ),
        (
            names: [
                "-i",
                "--ignore-nonprinting",
            ],
            description: Some("Ignore all non-printable characters"),
        ),
        (
            names: [
                "-M",
                "--month-sort",
            ],
            description: Some("Sort by month abbreviations.  Unknown strings are considered smaller than the month names"),
        ),
        (
            names: [
                "-n",
                "--numeric-sort",
            ],
            description: Some("Sort fields numerically by arithmetic value"),
        ),
        (
            names: [
                "-R",
                "--random-sort",
            ],
            description: Some("Sort by a random order"),
        ),
        (
            names: [
                "-r",
                "--reverse",
            ],
            description: Some("Sort in reverse order"),
        ),
        (
            names: [
                "-V",
                "--version-sort",
            ],
            description: Some("Sort version numbers"),
        ),
        (
            names: [
                "-k",
                "--key",
            ],
            description: Some("Define a restricted sort key that has the starting position field1, and optional ending position field2"),
            arguments: [
                (
                    name: "field1",
                ),
                (
                    name: "field2",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--field-separator",
            ],
            description: Some("Use char as a field separator character"),
            arguments: [
                (
                    name: "char",
                ),
            ],
        ),
        (
            names: [
                "-z",
                "--zero-terminated",
            ],
            description: Some("Use NUL as record separator"),
        ),
        (
            names: [
                "--batch-size",
            ],
            description: Some("Specify maximum number of files that can be opened by sort at once"),
            arguments: [
                (
                    name: "num",
                ),
            ],
        ),
        (
            names: [
                "--compress-program",
            ],
            description: Some("Use PROGRAM to compress temporary files (eg. bzip2)"),
            arguments: [
                (
                    name: "PROGRAM",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--random-source",
            ],
            description: Some("In random sort, the file content is used as the source of the 'seed' data for the hash function choice"),
            arguments: [
                (
                    name: "filename",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Print some extra information about the sorting process to the standard output"),
        ),
        (
            names: [
                "--parallel",
            ],
            description: Some("Set the maximum number of execution threads.  Default number equals to the number of CPUs"),
        ),
        (
            names: [
                "--files0-from",
            ],
            description: Some("Take the input file list from the file filename"),
            arguments: [
                (
                    name: "filename",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--radixsort",
            ],
            description: Some("Try to use radix sort, if the sort specifications allow"),
        ),
        (
            names: [
                "--mergesort",
            ],
            description: Some("Use mergesort.  This is a universal algorithm that can always be used, but it is not always the fastest"),
        ),
        (
            names: [
                "--qsort",
            ],
            description: Some("Try to use quick sort, if the sort specifications allow.  This sort algorithm cannot be used with -u and -s"),
        ),
        (
            names: [
                "--heapsort",
            ],
            description: Some("Try to use heap sort, if the sort specifications allow.  This sort algorithm cannot be used with -u and -s"),
        ),
        (
            names: [
                "--mmap",
            ],
            description: Some("Try to use file memory mapping system call.  It may increase speed in some cases"),
        ),
        (
            names: [
                "--sort",
            ],
            description: Some("Select how to sort values"),
            arguments: [
                (
                    name: "type",
                    suggestions: [
                        (
                            name: "general-numeric",
                        ),
                        (
                            name: "human-numeric",
                        ),
                        (
                            name: "month",
                        ),
                        (
                            name: "numeric",
                        ),
                        (
                            name: "random",
                        ),
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "file",
            template: [
                FilePaths,
            ],
            variadic: true,
        ),
    ],
)
