(
    version: 1,
    command: "source",
    description: Some("Source files in shell"),
    arguments: [
        (
            name: "File to source",
            template: [
                FilePaths,
            ],
            variadic: true,
        ),
    ],
)
