(
    version: 1,
    command: "space",
    description: Some("Deta Space CLI for mananging Deta Space projects"),
    subcommands: [
        (
            name: "completion",
            description: Some("Generate the autocompletion script for the specified shell"),
            subcommands: [
                (
                    name: "bash",
                    description: Some("Generate the autocompletion script for bash"),
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                        ),
                    ],
                ),
                (
                    name: "fish",
                    description: Some("Generate the autocompletion script for fish"),
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                        ),
                    ],
                ),
                (
                    name: "powershell",
                    description: Some("Generate the autocompletion script for powershell"),
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                        ),
                    ],
                ),
                (
                    name: "zsh",
                    description: Some("Generate the autocompletion script for zsh"),
                    options: [
                        (
                            names: [
                                "--no-descriptions",
                            ],
                            description: Some("Disable completion descriptions"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "link",
            description: Some("Link code to project"),
            options: [
                (
                    names: [
                        "--dir",
                        "-d",
                    ],
                    description: Some("Src of project to link"),
                    arguments: [
                        (
                            name: "dir",
                            template: [
                                Folders,
                            ],
                            default: Some("./"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                        "-i",
                    ],
                    description: Some("Project id of project to link"),
                    arguments: [
                        (
                            name: "id",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "login",
            description: Some("Login to space"),
        ),
        (
            name: "new",
            description: Some("Create new project"),
            options: [
                (
                    names: [
                        "--blank",
                        "-b",
                    ],
                    description: Some("Create blank project"),
                ),
                (
                    names: [
                        "--dir",
                        "-d",
                    ],
                    description: Some("Src of project to release"),
                    arguments: [
                        (
                            name: "dir",
                            template: [
                                Folders,
                            ],
                            default: Some("./"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--name",
                        "-n",
                    ],
                    description: Some("Project name"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "open",
            description: Some("Open current project in browser"),
            options: [
                (
                    names: [
                        "--dir",
                        "-d",
                    ],
                    description: Some("Src of project to open"),
                    arguments: [
                        (
                            name: "dir",
                            template: [
                                Folders,
                            ],
                            default: Some("./"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                        "-i",
                    ],
                    description: Some("Project id of project to open"),
                    arguments: [
                        (
                            name: "id",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "push",
            description: Some("Push code for project"),
            options: [
                (
                    names: [
                        "--dir",
                        "-d",
                    ],
                    description: Some("Src of project to push"),
                    arguments: [
                        (
                            name: "dir",
                            template: [
                                Folders,
                            ],
                            default: Some("./"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                        "-i",
                    ],
                    description: Some("Project id of project to push"),
                    arguments: [
                        (
                            name: "id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--open",
                        "-o",
                    ],
                    description: Some("Open builder instance/project in browser after push"),
                ),
                (
                    names: [
                        "--skip-logs",
                    ],
                    description: Some("Skip following logs after push"),
                ),
                (
                    names: [
                        "--tag",
                        "-t",
                    ],
                    description: Some("Tag to identify this push"),
                    arguments: [
                        (
                            name: "tag",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "release",
            description: Some("Create release for a project"),
            options: [
                (
                    names: [
                        "--confirm",
                        "-c",
                    ],
                    description: Some("Release latest revision"),
                ),
                (
                    names: [
                        "--dir",
                        "-d",
                    ],
                    description: Some("Src of project to release"),
                    arguments: [
                        (
                            name: "dir",
                            template: [
                                Folders,
                            ],
                            default: Some("./"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--id",
                        "-i",
                    ],
                    description: Some("Project id of an existing project"),
                    arguments: [
                        (
                            name: "id",
                        ),
                    ],
                ),
                (
                    names: [
                        "--listed",
                        "-l",
                    ],
                    description: Some("Listed on discovery"),
                ),
                (
                    names: [
                        "--notes",
                        "-n",
                    ],
                    description: Some("Release notes"),
                    arguments: [
                        (
                            name: "notes",
                        ),
                    ],
                ),
                (
                    names: [
                        "--rid",
                        "-r",
                    ],
                    description: Some("Revision id for release"),
                    arguments: [
                        (
                            name: "rid",
                        ),
                    ],
                ),
                (
                    names: [
                        "--version",
                        "-v",
                    ],
                    description: Some("Version for the release"),
                    arguments: [
                        (
                            name: "version",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "validate",
            description: Some("Validate spacefile in dir"),
            options: [
                (
                    names: [
                        "--dir",
                        "-d",
                    ],
                    description: Some("Src of project to validate"),
                    arguments: [
                        (
                            name: "dir",
                            template: [
                                Folders,
                            ],
                            default: Some("./"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "version",
            description: Some("Space CLI version"),
            subcommands: [
                (
                    name: "upgrade",
                    description: Some("Upgrade Space CLI version"),
                    options: [
                        (
                            names: [
                                "--version",
                                "-v",
                            ],
                            description: Some("Version number"),
                            arguments: [
                                (
                                    name: "version",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Help about any command"),
            subcommands: [
                (
                    name: "completion",
                    description: Some("Generate the autocompletion script for the specified shell"),
                    subcommands: [
                        (
                            name: "bash",
                            description: Some("Generate the autocompletion script for bash"),
                        ),
                        (
                            name: "fish",
                            description: Some("Generate the autocompletion script for fish"),
                        ),
                        (
                            name: "powershell",
                            description: Some("Generate the autocompletion script for powershell"),
                        ),
                        (
                            name: "zsh",
                            description: Some("Generate the autocompletion script for zsh"),
                        ),
                    ],
                ),
                (
                    name: "link",
                    description: Some("Link code to project"),
                ),
                (
                    name: "login",
                    description: Some("Login to space"),
                ),
                (
                    name: "new",
                    description: Some("Create new project"),
                ),
                (
                    name: "open",
                    description: Some("Open current project in browser"),
                ),
                (
                    name: "push",
                    description: Some("Push code for project"),
                ),
                (
                    name: "release",
                    description: Some("Create release for a project"),
                ),
                (
                    name: "validate",
                    description: Some("Validate spacefile in dir"),
                ),
                (
                    name: "version",
                    description: Some("Space CLI version"),
                    subcommands: [
                        (
                            name: "upgrade",
                            description: Some("Upgrade Space CLI version"),
                        ),
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display help"),
            persistent: true,
        ),
    ],
)
