(
    version: 1,
    command: "splash-cli",
    description: Some("Get stunning wallpapers from Unsplash"),
    subcommands: [
        (
            name: "settings",
            aliases: [],
            description: Some("Manage settings"),
            subcommands: [
                (
                    name: "get",
                    aliases: [],
                    description: None,
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "config key",
                            source: Files,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "set",
                    aliases: [],
                    description: Some("Setup the configuration"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "restore",
                    aliases: [],
                    description: Some("Restore default settings"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "aliases",
            aliases: [],
            description: Some("Manage aliases"),
            subcommands: [
                (
                    name: "get",
                    aliases: [],
                    description: Some("Get an alias"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "alias",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "set",
                    aliases: [],
                    description: Some("Set an alias"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "key",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                        (
                            name: "value",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "help",
                    aliases: [],
                    description: Some("Show help menu"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "collection",
            aliases: [],
            description: Some("Manage collections"),
            subcommands: [
                (
                    name: "get",
                    aliases: [],
                    description: Some("Get a collection"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "collection id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete a collection"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "collection id",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "create",
                    aliases: [],
                    description: Some("Create a collection"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "photos:add",
                    aliases: [],
                    description: Some("Add photos to a collection"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "photos:remove",
                    aliases: [],
                    description: Some("Remove photos to a collection"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "help",
                    aliases: [],
                    description: Some("Show help for this command"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "dir",
            aliases: [],
            description: Some("Manage SplashCLI download directory"),
            subcommands: [
                (
                    name: "get",
                    aliases: [],
                    description: Some("Get the download directory path"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "set",
                    aliases: [],
                    description: Some("Set the download directory path"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "path",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "clean",
                    aliases: [],
                    description: Some("Delete all the downloaded photos"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "count",
                    aliases: [],
                    description: Some("Count all the downloaded photos"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "help",
                    aliases: [],
                    description: Some("Show help for this command"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "user",
            aliases: [],
            description: None,
            subcommands: [
                (
                    name: "login",
                    aliases: [],
                    description: Some("Login with your Unsplash account"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "logout",
                    aliases: [],
                    description: Some("Removes all user data"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "liked",
                    aliases: [],
                    description: Some("List last 10 liked photos"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "collections",
                    aliases: [],
                    description: Some("List all user\'s collections"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "get",
                    aliases: [],
                    description: Some("Get user infos"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "edit",
                    aliases: [
                        "update",
                    ],
                    description: Some("Update user infos"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "help",
                    aliases: [],
                    description: Some("Help Menu"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Help Message"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Prints `splash-cli` version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--scale",
            ],
            description: Some("Scale of the image"),
            takes_value: true,
            arguments: [
                (
                    name: "scale",
                    source: Static([
                        "auto",
                        "fill",
                        "fit",
                        "stretch",
                        "center",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--screen",
            ],
            description: Some("Set wallpaper on selected screen"),
            takes_value: true,
            arguments: [
                (
                    name: "screen",
                    source: Static([
                        "all",
                        "main",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-s",
                "--save",
            ],
            description: Some("Save photo without setting as wallpaper"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--set",
            ],
            description: Some("Set wallpaper from local file"),
            takes_value: true,
            arguments: [
                (
                    name: "filepath",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--info",
            ],
            description: Some("Show image exif data"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Hide output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--rotate",
            ],
            description: Some("Rotate image"),
            takes_value: true,
            arguments: [
                (
                    name: "degrees",
                    source: Static([
                        "90",
                        "180",
                        "270",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--colorspace",
            ],
            description: Some("Define image colorspace"),
            takes_value: true,
            arguments: [
                (
                    name: "colorspace",
                    source: Static([
                        "srgb",
                        "rgb",
                        "cmyk",
                        "lab",
                        "b-w",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--flip",
            ],
            description: Some("Flip image on the Y axis"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
                "--featured",
            ],
            description: Some("Limit to only featured photos"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--query",
            ],
            description: Some("Filter by keywords"),
            takes_value: true,
            arguments: [
                (
                    name: "querystring",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--orientation",
            ],
            description: Some("Filter by orientation"),
            takes_value: true,
            arguments: [
                (
                    name: "orientation",
                    source: Static([
                        "landscape",
                        "portrait",
                        "squarish",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-c",
                "--curated",
            ],
            description: Some("Random Curated photo"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
                "--user",
            ],
            description: Some("Random photo from user"),
            takes_value: true,
            arguments: [
                (
                    name: "username",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--collection",
            ],
            description: Some("Random photo from collection"),
            takes_value: true,
            arguments: [
                (
                    name: "collection id",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--id",
            ],
            description: Some("Get photo by ID"),
            takes_value: true,
            arguments: [
                (
                    name: "photo_id",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--day",
            ],
            description: Some("Photo of the day"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)