(
    version: 1,
    command: "splash-cli",
    description: Some("Get stunning wallpapers from Unsplash"),
    subcommands: [
        (
            name: "settings",
            description: Some("Manage settings"),
            subcommands: [
                (
                    name: "get",
                    arguments: [
                        (
                            name: "config key",
                            description: Some("Config key"),
                            optional: true,
                        ),
                    ],
                ),
                (
                    name: "set",
                    description: Some("Setup the configuration"),
                ),
                (
                    name: "restore",
                    description: Some("Restore default settings"),
                ),
            ],
            presentation: (
                icon: Some("⚙️"),
            ),
        ),
        (
            name: "aliases",
            description: Some("Manage aliases"),
            subcommands: [
                (
                    name: "get",
                    description: Some("Get an alias"),
                    arguments: [
                        (
                            name: "alias",
                        ),
                    ],
                ),
                (
                    name: "set",
                    description: Some("Set an alias"),
                    arguments: [
                        (
                            name: "key",
                        ),
                        (
                            name: "value",
                        ),
                    ],
                ),
                (
                    name: "help",
                    description: Some("Show help menu"),
                ),
            ],
            presentation: (
                icon: Some("🔗"),
            ),
        ),
        (
            name: "collection",
            description: Some("Manage collections"),
            subcommands: [
                (
                    name: "get",
                    description: Some("Get a collection"),
                    arguments: [
                        (
                            name: "collection id",
                        ),
                    ],
                ),
                (
                    name: "delete",
                    description: Some("Delete a collection"),
                    arguments: [
                        (
                            name: "collection id",
                        ),
                    ],
                ),
                (
                    name: "create",
                    description: Some("Create a collection"),
                ),
                (
                    name: "photos:add",
                    description: Some("Add photos to a collection"),
                ),
                (
                    name: "photos:remove",
                    description: Some("Remove photos to a collection"),
                ),
                (
                    name: "help",
                    description: Some("Show help for this command"),
                ),
            ],
            presentation: (
                icon: Some("🗃"),
            ),
        ),
        (
            name: "dir",
            description: Some("Manage SplashCLI download directory"),
            subcommands: [
                (
                    name: "get",
                    description: Some("Get the download directory path"),
                    presentation: (
                        icon: Some("📁"),
                    ),
                ),
                (
                    name: "set",
                    description: Some("Set the download directory path"),
                    arguments: [
                        (
                            name: "path",
                        ),
                    ],
                    presentation: (
                        icon: Some("📁"),
                    ),
                ),
                (
                    name: "clean",
                    description: Some("Delete all the downloaded photos"),
                    presentation: (
                        icon: Some("🗑️"),
                        dangerous: true,
                    ),
                ),
                (
                    name: "count",
                    description: Some("Count all the downloaded photos"),
                    presentation: (
                        icon: Some("📈"),
                    ),
                ),
                (
                    name: "help",
                    description: Some("Show help for this command"),
                ),
            ],
            presentation: (
                icon: Some("📁"),
            ),
        ),
        (
            name: "user",
            subcommands: [
                (
                    name: "login",
                    description: Some("Login with your Unsplash account"),
                ),
                (
                    name: "logout",
                    description: Some("Removes all user data"),
                ),
                (
                    name: "liked",
                    description: Some("List last 10 liked photos"),
                    presentation: (
                        icon: Some("❤️"),
                    ),
                ),
                (
                    name: "collections",
                    description: Some("List all user's collections"),
                    presentation: (
                        icon: Some("🗃"),
                    ),
                ),
                (
                    name: "get",
                    description: Some("Get user infos"),
                    presentation: (
                        icon: Some("🔍"),
                    ),
                ),
                (
                    name: "edit",
                    aliases: [
                        "update",
                    ],
                    description: Some("Update user infos"),
                    presentation: (
                        icon: Some("🧪"),
                    ),
                ),
                (
                    name: "help",
                    description: Some("Help Menu"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Help Message"),
            presentation: (
                icon: Some("📚"),
            ),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Prints `splash-cli` version"),
        ),
        (
            names: [
                "--scale",
            ],
            description: Some("Scale of the image"),
            arguments: [
                (
                    name: "scale",
                    suggestions: [
                        (
                            name: "auto",
                        ),
                        (
                            name: "fill",
                        ),
                        (
                            name: "fit",
                        ),
                        (
                            name: "stretch",
                        ),
                        (
                            name: "center",
                        ),
                    ],
                    default: Some("auto"),
                ),
            ],
            presentation: (
                icon: Some("🔎"),
            ),
        ),
        (
            names: [
                "--screen",
            ],
            description: Some("Set wallpaper on selected screen"),
            arguments: [
                (
                    name: "screen",
                    suggestions: [
                        (
                            name: "all",
                        ),
                        (
                            name: "main",
                        ),
                    ],
                    default: Some("all"),
                ),
            ],
            presentation: (
                icon: Some("🖥"),
            ),
        ),
        (
            names: [
                "-s",
                "--save",
            ],
            description: Some("Save photo without setting as wallpaper"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                    optional: true,
                    default: Some("."),
                ),
            ],
            presentation: (
                icon: Some("💾"),
            ),
        ),
        (
            names: [
                "--set",
            ],
            description: Some("Set wallpaper from local file"),
            arguments: [
                (
                    name: "filepath",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--info",
            ],
            description: Some("Show image exif data"),
            presentation: (
                icon: Some("📋"),
            ),
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Hide output"),
            presentation: (
                icon: Some("💤"),
            ),
        ),
        (
            names: [
                "--rotate",
            ],
            description: Some("Rotate image"),
            arguments: [
                (
                    name: "degrees",
                    suggestions: [
                        (
                            name: "90",
                        ),
                        (
                            name: "180",
                        ),
                        (
                            name: "270",
                        ),
                    ],
                ),
            ],
            presentation: (
                icon: Some("🔄"),
            ),
        ),
        (
            names: [
                "--colorspace",
            ],
            description: Some("Define image colorspace"),
            arguments: [
                (
                    name: "colorspace",
                    suggestions: [
                        (
                            name: "srgb",
                        ),
                        (
                            name: "rgb",
                        ),
                        (
                            name: "cmyk",
                        ),
                        (
                            name: "lab",
                        ),
                        (
                            name: "b-w",
                        ),
                    ],
                    default: Some("srgb"),
                ),
            ],
            presentation: (
                icon: Some("🎨"),
            ),
        ),
        (
            names: [
                "--flip",
            ],
            description: Some("Flip image on the Y axis"),
            presentation: (
                icon: Some("🔁"),
            ),
        ),
        (
            names: [
                "-f",
                "--featured",
            ],
            description: Some("Limit to only featured photos"),
            presentation: (
                icon: Some("🎉"),
            ),
        ),
        (
            names: [
                "--query",
            ],
            description: Some("Filter by keywords"),
            arguments: [
                (
                    name: "querystring",
                ),
            ],
        ),
        (
            names: [
                "--orientation",
            ],
            description: Some("Filter by orientation"),
            arguments: [
                (
                    name: "orientation",
                    suggestions: [
                        (
                            name: "landscape",
                        ),
                        (
                            name: "portrait",
                        ),
                        (
                            name: "squarish",
                        ),
                    ],
                    default: Some("landscape"),
                ),
            ],
            presentation: (
                icon: Some("🔄"),
            ),
        ),
        (
            names: [
                "-c",
                "--curated",
            ],
            description: Some("Random Curated photo"),
        ),
        (
            names: [
                "-u",
                "--user",
            ],
            description: Some("Random photo from user"),
            arguments: [
                (
                    name: "username",
                ),
            ],
            presentation: (
                icon: Some("🙋‍♂️"),
            ),
        ),
        (
            names: [
                "--collection",
            ],
            description: Some("Random photo from collection"),
            arguments: [
                (
                    name: "collection id",
                ),
            ],
            presentation: (
                icon: Some("🗃"),
            ),
        ),
        (
            names: [
                "--id",
            ],
            description: Some("Get photo by ID"),
            arguments: [
                (
                    name: "photo_id",
                ),
            ],
        ),
        (
            names: [
                "--day",
            ],
            description: Some("Photo of the day"),
            presentation: (
                icon: Some("🏝"),
            ),
        ),
    ],
    presentation: (
        display_name: Some("Splash"),
    ),
)
