(
    version: 1,
    command: "split",
    description: Some("The split utility reads the given file and breaks it up into files of 1000 lines each (if no options are specified), leaving the file unchanged. If file is a single dash (\'-\') or absent, split reads from the standard input"),
    subcommands: [],
    options: [
        (
            names: [
                "-a",
            ],
            description: Some("Use suffix_length letters to form the suffix of the file name"),
            takes_value: true,
            arguments: [
                (
                    name: "suffix_length",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Create split files byte_count bytes in length. If k or K is appended to the number, the file is split into byte_count kilobyte pieces. If m or M is appended to the number, the file is split into byte_count megabyte pieces.  If g or G is appended to the number, the file is split into byte_count gigabyte pieces"),
            takes_value: true,
            arguments: [
                (
                    name: "byte_count",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Use a numeric suffix instead of a alphabetic suffix"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Create split files line_count lines in length"),
            takes_value: true,
            arguments: [
                (
                    name: "line_count",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("The file is split whenever an input line matches pattern, which is interpreted as an extended regular expression. The matching line will be the first line of the next output file. This option is incompatible with the -b and -l options"),
            takes_value: true,
            arguments: [
                (
                    name: "pattern",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "file",
            source: Files,
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
        (
            name: "prefix",
            source: Static([
                "x",
            ]),
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
    ],
)