(
    version: 1,
    command: "spotify",
    description: Some("CLI to use Spotify from the terminal"),
    subcommands: [
        (
            name: "play",
            description: Some("Resume playback where Spotify last left off"),
            subcommands: [
                (
                    name: "album",
                    description: Some("Find an album by name and play it"),
                    arguments: [
                        (
                            name: "album name",
                            description: Some("The album name you want to play"),
                        ),
                    ],
                ),
                (
                    name: "artist",
                    description: Some("Find an artist by name and play it"),
                    arguments: [
                        (
                            name: "artist name",
                            description: Some("The artist name you want to play"),
                        ),
                    ],
                ),
                (
                    name: "list",
                    description: Some("Find a playlist by name and plays it"),
                    arguments: [
                        (
                            name: "playlist name",
                            description: Some("The playlist name you want to play"),
                        ),
                    ],
                ),
                (
                    name: "uri",
                    description: Some("Play songs from specific uri"),
                    arguments: [
                        (
                            name: "uri",
                            description: Some("The uri of the song you want to play"),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "song name",
                    description: Some("The name of the song to start playing"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "next",
            description: Some("Skip to the next song in a playlist"),
        ),
        (
            name: "prev",
            description: Some("Return to the previous song in a playlist"),
        ),
        (
            name: "replay",
            description: Some("Replay the current track from the beginning"),
        ),
        (
            name: "pos",
            description: Some("Jump to a time (in secs) in the current song"),
            arguments: [
                (
                    name: "time",
                    description: Some("Exact time in secs to jump in"),
                ),
            ],
        ),
        (
            name: "pause",
            description: Some("Pause (or resume) Spotify playback"),
        ),
        (
            name: "stop",
            description: Some("Stop playback"),
        ),
        (
            name: "quit",
            description: Some("Stop playback and quit Spotify"),
        ),
        (
            name: "vol",
            description: Some("Show the current Spotify volume"),
            arguments: [
                (
                    name: "amount",
                    description: Some("Set the volume to an amount between 0 and 100"),
                    suggestions: [
                        (
                            name: "up",
                            description: Some("Increase the volume by 10%"),
                        ),
                        (
                            name: "down",
                            description: Some("Decrease the volume by 10%"),
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "status",
            description: Some("Show the current player status"),
            subcommands: [
                (
                    name: "artist",
                    description: Some("Show the currently playing artist"),
                ),
                (
                    name: "album",
                    description: Some("Show the currently playing album"),
                ),
                (
                    name: "track",
                    description: Some("Show the currently playing track"),
                ),
            ],
        ),
        (
            name: "share",
            description: Some("Display the current song's Spotify URL and URI"),
            subcommands: [
                (
                    name: "url",
                    description: Some("Display the current song's Spotify URL and copies it to the clipboard"),
                ),
                (
                    name: "uri",
                    description: Some("Display the current song's Spotify URI and copies it to the clipboard"),
                ),
            ],
        ),
        (
            name: "toggle",
            subcommands: [
                (
                    name: "shuffle",
                    description: Some("Toggle shuffle playback mode"),
                ),
                (
                    name: "repeat",
                    description: Some("Toggle repeat playback mode"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for spotify"),
        ),
    ],
)
