(
    version: 1,
    command: "spring",
    description: Some("The Spring Boot CLI is a command line tool that you can use to bootstrap a new project from start.spring.io or encode a password"),
    subcommands: [
        (
            name: "init",
            aliases: [],
            description: Some("Initialize a new project using Spring Initializr"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-a",
                        "---artifact-id",
                    ],
                    description: Some("Project coordinates"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-b",
                        "--boot-version",
                    ],
                    description: Some("Spring Boot version"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Version",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                    ],
                ),
                (
                    names: [
                        "--build",
                    ],
                    description: Some("Build system to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "System",
                            source: Static([
                                "maven",
                                "gradle",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-d",
                        "--dependencies",
                    ],
                    description: Some("Comma-separated list of dependency identifiers to include in the generated project"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Dependencies",
                            source: Unavailable,
                            optional: false,
                            variadic: true,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                    ],
                ),
                (
                    names: [
                        "--description",
                    ],
                    description: Some("Project description"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "description",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--force",
                    ],
                    description: Some("Force overwrite of existing files"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--format",
                    ],
                    description: Some("Format of the generated content"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Format",
                            source: Static([
                                "build",
                                "project",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-g",
                        "--group-id",
                    ],
                    description: Some("Project coordinates"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Group ID",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-j",
                        "--java-version",
                    ],
                    description: Some("Language level"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Version",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                    ],
                ),
                (
                    names: [
                        "--list",
                    ],
                    description: Some("List the capabilities of the service"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-n",
                        "--name",
                    ],
                    description: Some("Project name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--packaging",
                    ],
                    description: Some("Project packaging"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Packaging",
                            source: Static([
                                "jar",
                                "war",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--package-name",
                    ],
                    description: Some("Package name"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--type",
                    ],
                    description: Some("Project type"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Type",
                            source: Static([
                                "gradle-build",
                                "gradle-project",
                                "gradle-project-kotlin",
                                "maven-build",
                                "maven-project",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--target",
                    ],
                    description: Some("URL of the service to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "URL",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Project version"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Version",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-x",
                        "--extract",
                    ],
                    description: Some("Extract the project archive. Inferred if a location is specified without an extension"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "encodepassword",
            aliases: [],
            description: Some("Encode a password for use with Spring Security"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-a",
                        "--algorithm",
                    ],
                    description: Some("The algorithm to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "Algorithm",
                            source: Static([
                                "default",
                                "bcrypt",
                                "pbkdf2",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "Password",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "shell",
            aliases: [],
            description: Some("Start a nested shell"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Show help for other commands"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "Command",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Show help for spring"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Get spring CLI version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Print additional status information for the command you are running"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)