(
    version: 1,
    command: "sqlite3",
    description: Some("A command line interface for SQLite version 3"),
    options: [
        (
            names: [
                "-append",
            ],
            description: Some("Append the database to the end of the file"),
        ),
        (
            names: [
                "-ascii",
            ],
            description: Some("Set output mode to 'ascii'"),
        ),
        (
            names: [
                "-bail",
            ],
            description: Some("Stop after hitting an error"),
        ),
        (
            names: [
                "-batch",
            ],
            description: Some("Force batch I/O"),
        ),
        (
            names: [
                "-column",
            ],
            description: Some("Set output mode to 'column'"),
        ),
        (
            names: [
                "-cmd",
            ],
            description: Some("Run \"COMMAND\" before reading stdin"),
            arguments: [
                (
                    name: "COMMAND",
                ),
            ],
        ),
        (
            names: [
                "-csv",
            ],
            description: Some("Set output mode to 'csv'"),
        ),
        (
            names: [
                "-echo",
            ],
            description: Some("Print commands before execution"),
        ),
        (
            names: [
                "-init",
            ],
            description: Some("Read/process named file"),
            arguments: [
                (
                    name: "FILENAME",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-header",
            ],
            description: Some("Turn headers on"),
        ),
        (
            names: [
                "-noheader",
            ],
            description: Some("Turn headers off"),
        ),
        (
            names: [
                "-help",
            ],
            description: Some("Show help message"),
        ),
        (
            names: [
                "-html",
            ],
            description: Some("Set output mode to HTML"),
        ),
        (
            names: [
                "-interactive",
            ],
            description: Some("Force interactive I/O"),
        ),
        (
            names: [
                "-line",
            ],
            description: Some("Set output mode to 'line'"),
        ),
        (
            names: [
                "-list",
            ],
            description: Some("Set output mode to 'list'"),
        ),
        (
            names: [
                "-lookaside",
            ],
            description: Some("Use N entries of SZ bytes for lookaside memory"),
            arguments: [
                (
                    name: "SIZE",
                ),
                (
                    name: "N",
                ),
            ],
        ),
        (
            names: [
                "-memtrace",
            ],
            description: Some("Trace all memory allocations and deallocations"),
        ),
        (
            names: [
                "-mmap",
            ],
            description: Some("Default mmap size set to N"),
            arguments: [
                (
                    name: "N",
                ),
            ],
        ),
        (
            names: [
                "-newline",
            ],
            description: Some("Set output row separator"),
            arguments: [
                (
                    name: "SEP",
                    default: Some("'\\n'"),
                ),
            ],
        ),
        (
            names: [
                "-nofollow",
            ],
            description: Some("Refuse to open symbolic links to database files"),
        ),
        (
            names: [
                "-nullvalue",
            ],
            description: Some("Set text string for NULL values"),
            arguments: [
                (
                    name: "TEXT",
                    default: Some("''"),
                ),
            ],
        ),
        (
            names: [
                "-pagecache",
            ],
            description: Some("Use N slots of SZ bytes each for page cache memory"),
            arguments: [
                (
                    name: "SIZE",
                ),
                (
                    name: "N",
                ),
            ],
        ),
        (
            names: [
                "-quote",
            ],
            description: Some("Set output mode to 'quote'"),
        ),
        (
            names: [
                "-readonly",
            ],
            description: Some("Open the database read-only"),
        ),
        (
            names: [
                "-separator",
            ],
            description: Some("Set output column separator"),
            arguments: [
                (
                    name: "SEP",
                    default: Some("'|'"),
                ),
            ],
        ),
        (
            names: [
                "-stats",
            ],
            description: Some("Print memory stats before each finalize"),
        ),
        (
            names: [
                "-version",
            ],
            description: Some("Show SQLite version"),
        ),
        (
            names: [
                "-vfs",
            ],
            description: Some("Use NAME as the default VFS"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "FILENAME",
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
        ),
    ],
    parser_directives: Some((
        flags_are_posix_noncompliant: true,
    )),
)
