(
    version: 1,
    command: "sqlite3",
    description: Some("A command line interface for SQLite version 3"),
    subcommands: [],
    options: [
        (
            names: [
                "-append",
            ],
            description: Some("Append the database to the end of the file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-ascii",
            ],
            description: Some("Set output mode to \'ascii\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-bail",
            ],
            description: Some("Stop after hitting an error"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-batch",
            ],
            description: Some("Force batch I/O"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-column",
            ],
            description: Some("Set output mode to \'column\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-cmd",
            ],
            description: Some("Run \"COMMAND\" before reading stdin"),
            takes_value: true,
            arguments: [
                (
                    name: "COMMAND",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-csv",
            ],
            description: Some("Set output mode to \'csv\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-echo",
            ],
            description: Some("Print commands before execution"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-init",
            ],
            description: Some("Read/process named file"),
            takes_value: true,
            arguments: [
                (
                    name: "FILENAME",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
        ),
        (
            names: [
                "-header",
            ],
            description: Some("Turn headers on"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-noheader",
            ],
            description: Some("Turn headers off"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-help",
            ],
            description: Some("Show help message"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-html",
            ],
            description: Some("Set output mode to HTML"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-interactive",
            ],
            description: Some("Force interactive I/O"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-line",
            ],
            description: Some("Set output mode to \'line\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-list",
            ],
            description: Some("Set output mode to \'list\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-lookaside",
            ],
            description: Some("Use N entries of SZ bytes for lookaside memory"),
            takes_value: true,
            arguments: [
                (
                    name: "SIZE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "N",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-memtrace",
            ],
            description: Some("Trace all memory allocations and deallocations"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-mmap",
            ],
            description: Some("Default mmap size set to N"),
            takes_value: true,
            arguments: [
                (
                    name: "N",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-newline",
            ],
            description: Some("Set output row separator"),
            takes_value: true,
            arguments: [
                (
                    name: "SEP",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-nofollow",
            ],
            description: Some("Refuse to open symbolic links to database files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-nullvalue",
            ],
            description: Some("Set text string for NULL values"),
            takes_value: true,
            arguments: [
                (
                    name: "TEXT",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-pagecache",
            ],
            description: Some("Use N slots of SZ bytes each for page cache memory"),
            takes_value: true,
            arguments: [
                (
                    name: "SIZE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "N",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-quote",
            ],
            description: Some("Set output mode to \'quote\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-readonly",
            ],
            description: Some("Open the database read-only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-separator",
            ],
            description: Some("Set output column separator"),
            takes_value: true,
            arguments: [
                (
                    name: "SEP",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-stats",
            ],
            description: Some("Print memory stats before each finalize"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-version",
            ],
            description: Some("Show SQLite version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-vfs",
            ],
            description: Some("Use NAME as the default VFS"),
            takes_value: true,
            arguments: [
                (
                    name: "NAME",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "FILENAME",
            source: Unavailable,
            optional: false,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: true,
            )),
        ),
    ],
)