(
    version: 1,
    command: "src",
    description: Some("Interact with Sourcegraph from the command line"),
    subcommands: [
        (
            name: "search",
            description: Some("Run a code search"),
            options: [
                (
                    names: [
                        "-display",
                    ],
                    description: Some("Limit the number of results that are displayed. Only supported together with stream flag. Statistics continue to report all results"),
                    depends_on: [
                        "-stream",
                    ],
                ),
                (
                    names: [
                        "-dump-requests",
                    ],
                    description: Some("Log GraphQL requests and responses to stdout"),
                ),
                (
                    names: [
                        "-explain-json",
                    ],
                    description: Some("Explain the JSON output schema and exit"),
                ),
                (
                    names: [
                        "-get-curl",
                    ],
                    description: Some("Print the curl command for executing this query and exit. (WARNING: Includes printing your access token!)"),
                ),
                (
                    names: [
                        "-insecure-skip-verify",
                    ],
                    description: Some("Skip validation of TLD certificates against trusted chains"),
                ),
                (
                    names: [
                        "-json",
                    ],
                    description: Some("Whether or not to output results as JSON"),
                ),
                (
                    names: [
                        "-less",
                    ],
                    description: Some("Pipe output to `less -R` (only if stdout is terminal, and not json flag)"),
                ),
                (
                    names: [
                        "-stream",
                    ],
                    description: Some("Consume results as stream. Streaming search only supports a subset of flags and parameters: trace, insecure-skip-verify, display, json"),
                ),
                (
                    names: [
                        "-trace",
                    ],
                    description: Some("Log the trace ID for requests"),
                ),
                (
                    names: [
                        "-user-agent-telemetry",
                    ],
                    description: Some("Include the operating system and architecture in the User-Agent sent with requests to Sourcegraph"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
        (
            name: "api",
            description: Some("Sourcegraph API Access"),
            options: [
                (
                    names: [
                        "-get-curl",
                    ],
                    description: Some("Print the curl command for executing this query and exit (WARNING: includes printing your access token!)"),
                ),
                (
                    names: [
                        "-dump-requests",
                    ],
                    description: Some("Log GraphQL requests and responses to stdout"),
                ),
                (
                    names: [
                        "-insecure-skip-verify",
                    ],
                    description: Some("Skip validation of TLS certificates against trusted chains"),
                ),
                (
                    names: [
                        "-query",
                    ],
                    description: Some("GraphQL query to execute, e.g. ‘query { currentUser { username } }’ (stdin otherwise)"),
                ),
                (
                    names: [
                        "-trace",
                    ],
                    description: Some("Log the trace ID for requests"),
                ),
                (
                    names: [
                        "-user-agent-telemetry",
                    ],
                    description: Some("Include the operating system and architecture in the User-Agent sent with requests to Sourcegraph"),
                ),
                (
                    names: [
                        "-vars",
                    ],
                    description: Some("GraphQL query variables to include as JSON string, e.g. ‘{“var”: “val”, “var2”: “val2”}’"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
        (
            name: "login",
            description: Some("'src login' helps you authenticate 'src' to access a Sourcegraph instance with your user credentials"),
            options: [
                (
                    names: [
                        "-dump-requests",
                    ],
                    description: Some("Log GraphQL requests and responses to stdout"),
                ),
                (
                    names: [
                        "-get-curl",
                    ],
                    description: Some("Print the curl command for executing this query and exit (WARNING: includes printing your access token!)"),
                ),
                (
                    names: [
                        "-insecure-skip-verify",
                    ],
                    description: Some("Skip validation of TLS certificates against trusted chains"),
                ),
                (
                    names: [
                        "-trace",
                    ],
                    description: Some("Log the trace ID for requests"),
                ),
                (
                    names: [
                        "-user-agent-telemetry",
                    ],
                    description: Some("Include the operating system and architecture in the User-Agent sent with requests to Sourcegraph"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
        (
            name: "batch",
            description: Some("'Batch gives you a declarative structure for finding and modifying code across all of your repositories"),
            subcommands: [
                (
                    name: "apply",
                    description: Some("Apply batch"),
                ),
                (
                    name: "exec",
                    description: Some("Execute batch"),
                ),
                (
                    name: "new",
                    description: Some("New batch"),
                ),
                (
                    name: "preview",
                    description: Some("Preview batch"),
                ),
                (
                    name: "repositories",
                    description: Some("Repositories to batch"),
                ),
                (
                    name: "validate",
                    description: Some("Validate batch"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
        (
            name: "config",
            description: Some("'src config' helps you configure 'src'"),
            subcommands: [
                (
                    name: "edit",
                    description: Some("Edit config"),
                ),
                (
                    name: "get",
                    description: Some("Get configs"),
                ),
                (
                    name: "list",
                    description: Some("List configs"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
        (
            name: "extsvc",
            description: Some("Edit or view external service configuration on the Sourcegraph instance"),
            subcommands: [
                (
                    name: "edit",
                    description: Some("Edit external service configuration"),
                ),
                (
                    name: "list",
                    description: Some("List external service configurations"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
        (
            name: "lsif",
            description: Some("Upload an LSIF dumps"),
            subcommands: [
                (
                    name: "upload",
                    description: Some("Upload LSIF dump"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
        (
            name: "orgs",
            description: Some("Create, edit, view, or delete organizations and members"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create an organization"),
                ),
                (
                    name: "delete",
                    description: Some("Delete an organization"),
                ),
                (
                    name: "get",
                    description: Some("Get an organization"),
                ),
                (
                    name: "list",
                    description: Some("List organizations"),
                ),
                (
                    name: "members",
                    description: Some("List organization members"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
        (
            name: "repos",
            description: Some("View or delete repositories"),
            subcommands: [
                (
                    name: "delete",
                    description: Some("Delete repository"),
                ),
                (
                    name: "get",
                    description: Some("Get repository"),
                ),
                (
                    name: "list",
                    description: Some("List repositories"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
        (
            name: "serve-git",
            description: Some("By default 'src serve-git' will recursively serve your current directory on the address ':3434'"),
            options: [
                (
                    names: [
                        "-addr",
                    ],
                    description: Some("Address on which to server (end with : for unused port)"),
                ),
                (
                    names: [
                        "-list",
                    ],
                    description: Some("List found repository names"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
        (
            name: "users",
            description: Some("Create, edit, view, tag, or delete users"),
            subcommands: [
                (
                    name: "create",
                    description: Some("Create user"),
                ),
                (
                    name: "delete",
                    description: Some("Delete user"),
                ),
                (
                    name: "get",
                    description: Some("Get user"),
                ),
                (
                    name: "list",
                    description: Some("List users"),
                ),
                (
                    name: "tag",
                    description: Some("Tag user"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
        (
            name: "validate",
            description: Some("EXPERIMENTAL: Instance validation provides a quick way to check that a Sourcegraph instance functions properly after a fresh install or an update"),
            options: [
                (
                    names: [
                        "-context",
                    ],
                    description: Some("Comma-separated list of key=value pairs to add to the script execution context"),
                ),
                (
                    names: [
                        "-dump-requests",
                    ],
                    description: Some("Log GraphQL requests and responses to stdout"),
                ),
                (
                    names: [
                        "-get-curl",
                    ],
                    description: Some("Print the curl command for executing this query and exit (WARNING: includes printing your access token!)"),
                ),
                (
                    names: [
                        "-insecure-skip-verify",
                    ],
                    description: Some("Skip validation of TLS certificates against trusted chains"),
                ),
                (
                    names: [
                        "-secrets",
                    ],
                    description: Some("Path to a file containing key=value lines. The key value pairs will be added to the script context"),
                ),
                (
                    names: [
                        "-trace",
                    ],
                    description: Some("Log the trace ID for requests"),
                ),
                (
                    names: [
                        "-user-agent-telemetry",
                    ],
                    description: Some("Include the operating system and architecture in the User-Agent sent with requests to Sourcegraph"),
                ),
            ],
            presentation: (
                icon: Some("https://sourcegraph.com/.assets/img/sourcegraph-mark.svg"),
            ),
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for src"),
        ),
    ],
    parser_directives: Some((
        flags_are_posix_noncompliant: true,
    )),
)
