(
    version: 1,
    command: "src",
    description: Some("Interact with Sourcegraph from the command line"),
    subcommands: [
        (
            name: "search",
            aliases: [],
            description: Some("Run a code search"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-display",
                    ],
                    description: Some("Limit the number of results that are displayed. Only supported together with stream flag. Statistics continue to report all results"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-dump-requests",
                    ],
                    description: Some("Log GraphQL requests and responses to stdout"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-explain-json",
                    ],
                    description: Some("Explain the JSON output schema and exit"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-get-curl",
                    ],
                    description: Some("Print the curl command for executing this query and exit. (WARNING: Includes printing your access token!)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-insecure-skip-verify",
                    ],
                    description: Some("Skip validation of TLD certificates against trusted chains"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-json",
                    ],
                    description: Some("Whether or not to output results as JSON"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-less",
                    ],
                    description: Some("Pipe output to `less -R` (only if stdout is terminal, and not json flag)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-stream",
                    ],
                    description: Some("Consume results as stream. Streaming search only supports a subset of flags and parameters: trace, insecure-skip-verify, display, json"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-trace",
                    ],
                    description: Some("Log the trace ID for requests"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-user-agent-telemetry",
                    ],
                    description: Some("Include the operating system and architecture in the User-Agent sent with requests to Sourcegraph"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "api",
            aliases: [],
            description: Some("Sourcegraph API Access"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-get-curl",
                    ],
                    description: Some("Print the curl command for executing this query and exit (WARNING: includes printing your access token!)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-dump-requests",
                    ],
                    description: Some("Log GraphQL requests and responses to stdout"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-insecure-skip-verify",
                    ],
                    description: Some("Skip validation of TLS certificates against trusted chains"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-query",
                    ],
                    description: Some("GraphQL query to execute, e.g. ‘query { currentUser { username } }’ (stdin otherwise)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-trace",
                    ],
                    description: Some("Log the trace ID for requests"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-user-agent-telemetry",
                    ],
                    description: Some("Include the operating system and architecture in the User-Agent sent with requests to Sourcegraph"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-vars",
                    ],
                    description: Some("GraphQL query variables to include as JSON string, e.g. ‘{“var”: “val”, “var2”: “val2”}’"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "login",
            aliases: [],
            description: Some("\'src login\' helps you authenticate \'src\' to access a Sourcegraph instance with your user credentials"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-dump-requests",
                    ],
                    description: Some("Log GraphQL requests and responses to stdout"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-get-curl",
                    ],
                    description: Some("Print the curl command for executing this query and exit (WARNING: includes printing your access token!)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-insecure-skip-verify",
                    ],
                    description: Some("Skip validation of TLS certificates against trusted chains"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-trace",
                    ],
                    description: Some("Log the trace ID for requests"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-user-agent-telemetry",
                    ],
                    description: Some("Include the operating system and architecture in the User-Agent sent with requests to Sourcegraph"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "batch",
            aliases: [],
            description: Some("\'Batch gives you a declarative structure for finding and modifying code across all of your repositories"),
            subcommands: [
                (
                    name: "apply",
                    aliases: [],
                    description: Some("Apply batch"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "exec",
                    aliases: [],
                    description: Some("Execute batch"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "new",
                    aliases: [],
                    description: Some("New batch"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "preview",
                    aliases: [],
                    description: Some("Preview batch"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "repositories",
                    aliases: [],
                    description: Some("Repositories to batch"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "validate",
                    aliases: [],
                    description: Some("Validate batch"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "config",
            aliases: [],
            description: Some("\'src config\' helps you configure \'src\'"),
            subcommands: [
                (
                    name: "edit",
                    aliases: [],
                    description: Some("Edit config"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "get",
                    aliases: [],
                    description: Some("Get configs"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List configs"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "extsvc",
            aliases: [],
            description: Some("Edit or view external service configuration on the Sourcegraph instance"),
            subcommands: [
                (
                    name: "edit",
                    aliases: [],
                    description: Some("Edit external service configuration"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List external service configurations"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "lsif",
            aliases: [],
            description: Some("Upload an LSIF dumps"),
            subcommands: [
                (
                    name: "upload",
                    aliases: [],
                    description: Some("Upload LSIF dump"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "orgs",
            aliases: [],
            description: Some("Create, edit, view, or delete organizations and members"),
            subcommands: [
                (
                    name: "create",
                    aliases: [],
                    description: Some("Create an organization"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete an organization"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "get",
                    aliases: [],
                    description: Some("Get an organization"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List organizations"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "members",
                    aliases: [],
                    description: Some("List organization members"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "repos",
            aliases: [],
            description: Some("View or delete repositories"),
            subcommands: [
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete repository"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "get",
                    aliases: [],
                    description: Some("Get repository"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List repositories"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "serve-git",
            aliases: [],
            description: Some("By default \'src serve-git\' will recursively serve your current directory on the address \':3434\'"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-addr",
                    ],
                    description: Some("Address on which to server (end with : for unused port)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-list",
                    ],
                    description: Some("List found repository names"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "users",
            aliases: [],
            description: Some("Create, edit, view, tag, or delete users"),
            subcommands: [
                (
                    name: "create",
                    aliases: [],
                    description: Some("Create user"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete user"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "get",
                    aliases: [],
                    description: Some("Get user"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "list",
                    aliases: [],
                    description: Some("List users"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "tag",
                    aliases: [],
                    description: Some("Tag user"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "validate",
            aliases: [],
            description: Some("EXPERIMENTAL: Instance validation provides a quick way to check that a Sourcegraph instance functions properly after a fresh install or an update"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-context",
                    ],
                    description: Some("Comma-separated list of key=value pairs to add to the script execution context"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-dump-requests",
                    ],
                    description: Some("Log GraphQL requests and responses to stdout"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-get-curl",
                    ],
                    description: Some("Print the curl command for executing this query and exit (WARNING: includes printing your access token!)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-insecure-skip-verify",
                    ],
                    description: Some("Skip validation of TLS certificates against trusted chains"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-secrets",
                    ],
                    description: Some("Path to a file containing key=value lines. The key value pairs will be added to the script context"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-trace",
                    ],
                    description: Some("Log the trace ID for requests"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-user-agent-telemetry",
                    ],
                    description: Some("Include the operating system and architecture in the User-Agent sent with requests to Sourcegraph"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for src"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)