(
    version: 1,
    command: "ssh",
    description: Some("Log into a remote machine"),
    subcommands: [],
    options: [
        (
            names: [
                "-1",
            ],
            description: Some("Forces ssh to try protocol version 1 only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-2",
            ],
            description: Some("Forces ssh to try protocol version 2 only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-4",
            ],
            description: Some("Forces ssh to use IPv4 addresses only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-6",
            ],
            description: Some("Forces ssh to use IPv6 addresses only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-A",
            ],
            description: Some("Enables forwarding of the authentication agent connection"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Disables forwarding of the authentication agent connection"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Use bind_address on the local machine as the source address of the connection"),
            takes_value: true,
            arguments: [
                (
                    name: "bind address",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-C",
            ],
            description: Some("Requests compression of all data (including stdin, stdout, stderr, and data for forwarded X11 and TCP connections)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Selects the cipher specification for encrypting the session"),
            takes_value: true,
            arguments: [
                (
                    name: "cipher spec",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-D",
            ],
            description: Some("Specifies a local \'dynamic\' application-level port forwarding"),
            takes_value: true,
            arguments: [
                (
                    name: "port",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Sets the escape character for sessions with a pty (default: \'~\')"),
            takes_value: true,
            arguments: [
                (
                    name: "escape char",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-F",
            ],
            description: Some("Specifies an alternative per-user configuration file"),
            takes_value: true,
            arguments: [
                (
                    name: "configfile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Requests ssh to go to background just before command execution"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
            ],
            description: Some("Allows remote hosts to connect to local forwarded ports"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-I",
            ],
            description: Some("Specify the PKCS#11 shared library ssh should use to communicate with a PKCS#11 token providing the user\'s private RSA key"),
            takes_value: true,
            arguments: [
                (
                    name: "pkcs11",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Selects a file from which the identity (private key) for public key authentication is read"),
            takes_value: true,
            arguments: [
                (
                    name: "identity file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-K",
            ],
            description: Some("Enables GSSAPI-based authentication and forwarding (delegation) of GSSAPI credentials to the server"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-k",
            ],
            description: Some("Disables forwarding (delegation) of GSSAPI credentials to the server"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("Specifies that the given port on the local (client) host is to be forwarded to the given host and port on the remote side"),
            takes_value: true,
            arguments: [
                (
                    name: "port:host:hostport",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Specifies the user to log in as on the remote machine"),
            takes_value: true,
            arguments: [
                (
                    name: "login name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-M",
            ],
            description: Some("Places the ssh client into ``master\'\' mode for connection sharing"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Additionally, for protocol version 2 a comma-separated list of MAC (message authentication code) algorithms can be specified in order of preference"),
            takes_value: true,
            arguments: [
                (
                    name: "mac spec",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-N",
            ],
            description: Some("Do not execute a remote command"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Redirects stdin from /dev/null (actually, prevents reading from stdin)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-O",
            ],
            description: Some("Control an active connection multiplexing master process"),
            takes_value: true,
            arguments: [
                (
                    name: "ctl cmd",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Can be used to give options in the format used in the configuration file"),
            takes_value: true,
            arguments: [
                (
                    name: "option",
                    source: Static([
                        "AddressFamily",
                        "BatchMode",
                        "BindAddress",
                        "ChallengeResponseAuthentication",
                        "CheckHostIP",
                        "Cipher",
                        "Ciphers",
                        "ClearAllForwardings",
                        "Compression",
                        "CompressionLevel",
                        "ConnectionAttempts",
                        "ConnectTimeout",
                        "ControlMaster",
                        "ControlPath",
                        "ControlPersist",
                        "DynamicForward",
                        "EscapeChar",
                        "ExitOnForwardFailure",
                        "ForwardAgent",
                        "ForwardX11",
                        "ForwardX11Timeout",
                        "ForwardX11Trusted",
                        "GatewayPorts",
                        "GlobalKnownHostsFile",
                        "GSSAPIAuthentication",
                        "GSSAPIDelegateCredentials",
                        "HashKnownHosts",
                        "Host",
                        "HostbasedAuthentication",
                        "HostKeyAlgorithms",
                        "HostKeyAlias",
                        "HostName",
                        "IdentityFile",
                        "IdentitiesOnly",
                        "IPQoS",
                        "KbdInteractiveAuthentication",
                        "KbdInteractiveDevices",
                        "KexAlgorithms",
                        "LocalCommand",
                        "LocalForward",
                        "LogLevel",
                        "MACs",
                        "NoHostAuthenticationForLocalhost",
                        "NumberOfPasswordPrompts",
                        "PasswordAuthentication",
                        "PermitLocalCommand",
                        "PKCS11Provider",
                        "Port",
                        "PreferredAuthentications",
                        "Protocol",
                        "ProxyCommand",
                        "PubkeyAuthentication",
                        "RekeyLimit",
                        "RequestTTY",
                        "RhostsRSAAuthentication",
                        "RSAAuthentication",
                        "SendEnv",
                        "ServerAliveInterval",
                        "ServerAliveCountMax",
                        "StrictHostKeyChecking",
                        "TCPKeepAlive",
                        "Tunnel",
                        "TunnelDevice",
                        "UsePrivilegedPort",
                        "User",
                        "UserKnownHostsFile",
                        "VerifyHostKeyDNS",
                        "VisualHostKey",
                        "XAuthLocation",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Port to connect to on the remote host"),
            takes_value: true,
            arguments: [
                (
                    name: "port",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-q",
            ],
            description: Some("Quiet mode.  Causes most warning and diagnostic messages to be suppressed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Specifies that the given port on the remote (server) host is to be forwarded to the given host and port on the local side"),
            takes_value: true,
            arguments: [
                (
                    name: "port:host:hostport",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Specifies the location of a control socket for connection sharing, or the string \'none\' to disable connection sharing"),
            takes_value: true,
            arguments: [
                (
                    name: "ctl_path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("May be used to request invocation of a subsystem on the remote system"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-T",
            ],
            description: Some("Disable pseudo-tty allocation"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Force pseudo-tty allocation"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
            ],
            description: Some("Display the version number and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Verbose mode.  Causes ssh to print debugging messages about its progress"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-W",
            ],
            description: Some("Requests that standard input and output on the client be forwarded to host on port over the secure channel"),
            takes_value: true,
            arguments: [
                (
                    name: "host:port",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-w",
            ],
            description: Some("Requests tunnel device forwarding with the specified tun(4) devices between the client (local_tun) and the server (remote_tun)"),
            takes_value: true,
            arguments: [
                (
                    name: "local tun",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-X",
            ],
            description: Some("Enables X11 forwarding"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Disables X11 forwarding"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Y",
            ],
            description: Some("Enables trusted X11 forwarding"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-y",
            ],
            description: Some("Send log information using the syslog(3) system module"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "user@hostname",
            source: Unavailable,
            optional: false,
            variadic: false,
            imported_generator: Some((
                script: [],
                has_post_process: false,
                has_custom: true,
            )),
        ),
    ],
)