(
    version: 1,
    command: "start-storybook",
    description: Some("Storybook start CLI tools"),
    options: [
        (
            names: [
                "-p",
                "--port",
            ],
            description: Some("Port to run Storybook"),
            arguments: [
                (
                    name: "port",
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--host",
            ],
            description: Some("Host to run Storybook"),
            arguments: [
                (
                    name: "host",
                ),
            ],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Display usage information"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Display the version number"),
        ),
        (
            names: [
                "-s",
                "--static-dir",
            ],
            description: Some("Directory where to load static files from, comma-separated list"),
            arguments: [
                (
                    name: "directory",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-c",
                "--config-dir",
            ],
            description: Some("Directory where to load Storybook configurations from"),
            arguments: [
                (
                    name: "directory",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--https",
            ],
            description: Some("Serve Storybook over HTTPS. Note: You must provide your own certificate information"),
            depends_on: [
                "--ssl-cert",
                "--ssl-key",
            ],
        ),
        (
            names: [
                "--ssl-ca",
            ],
            description: Some("Provide an SSL certificate authority. (Optional with --https, required if using a self-signed certificate)"),
            arguments: [
                (
                    name: "certificate authority",
                ),
            ],
        ),
        (
            names: [
                "--ssl-cert",
            ],
            description: Some("Provide an SSL certificate. (Required with --https)"),
            arguments: [
                (
                    name: "certificate",
                ),
            ],
        ),
        (
            names: [
                "--ssl-key",
            ],
            description: Some("Provide an SSL key. (Required with --https)"),
            arguments: [
                (
                    name: "key",
                ),
            ],
        ),
        (
            names: [
                "--smoke-test",
            ],
            description: Some("Exit after successful start"),
        ),
        (
            names: [
                "--ci",
            ],
            description: Some("CI mode (skip interactive prompts, don't open browser)"),
        ),
        (
            names: [
                "--quiet",
            ],
            description: Some("Suppress verbose build output"),
        ),
        (
            names: [
                "--no-dll",
            ],
            description: Some("Do not use dll reference (no-op)"),
        ),
        (
            names: [
                "--debug-webpack",
            ],
            description: Some("Display final webpack configurations for debugging purposes"),
        ),
        (
            names: [
                "--webpack-stats-json",
            ],
            description: Some("Write Webpack Stats JSON to disk"),
            arguments: [
                (
                    name: "directory",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--docs",
            ],
            description: Some("Starts Storybook in documentation mode"),
        ),
        (
            names: [
                "--no-manager-cache",
            ],
            description: Some("Disables Storybook's manager caching mechanism. NOTE: this flag disables the internal caching of Storybook and can severely impact your Storybook loading time, so only use it when you need to refresh Storybook's UI, such as when editing themes"),
        ),
    ],
)
