(
    version: 1,
    command: "steadybit",
    description: Some("Command-line interface to interact with the Steadybit API"),
    subcommands: [
        (
            name: "config",
            aliases: [],
            description: Some("Show/modify the CLI configuration and authentication profiles"),
            subcommands: [
                (
                    name: "show",
                    aliases: [],
                    description: Some("Show the active CLI configuration. Warning: Prints secrets!"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "profile",
                    aliases: [],
                    description: Some("Configure authentication profiles"),
                    subcommands: [
                        (
                            name: "add",
                            aliases: [],
                            description: Some("Interactively configure a new profile"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "list",
                            aliases: [
                                "ls",
                            ],
                            description: Some("List all configured profiles"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "remove",
                            aliases: [],
                            description: Some("Interactively remove an existing profile"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                        (
                            name: "select",
                            aliases: [],
                            description: Some("Interactively change the currently active profile"),
                            subcommands: [],
                            options: [],
                            arguments: [],
                            load_spec: None,
                        ),
                    ],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "def-repo",
            aliases: [],
            description: Some("Change versions and verify a task/policy definition repository state"),
            subcommands: [
                (
                    name: "set-version",
                    aliases: [],
                    description: Some("Set the versions in policies and task references"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-v",
                                "--version",
                            ],
                            description: Some("Version to set"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "version",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "-d",
                                "--directory",
                            ],
                            description: Some("The directory to search for task and policy files"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "directory",
                                    source: Directories,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "check",
                    aliases: [],
                    description: Some("Checks that the tasks and policies are valid"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-v",
                                "--version",
                            ],
                            description: Some("The version to check"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "version",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "-d",
                                "--directory",
                            ],
                            description: Some("The directory to search for task and policy files"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "directory",
                                    source: Directories,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "service",
            aliases: [
                "service-definition",
            ],
            description: Some("Configure or verify service definitions"),
            subcommands: [
                (
                    name: "apply",
                    aliases: [],
                    description: Some("Upload a service definition"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-f",
                                "--file",
                            ],
                            description: Some("Path to the service definition file"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "file",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "delete",
                    aliases: [],
                    description: Some("Delete a service definition"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-f",
                                "--file",
                            ],
                            description: Some("Path to the service definition file"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "file",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "-i",
                                "--id",
                            ],
                            description: Some("ID of the service definition to delete"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "id",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "init",
                    aliases: [],
                    description: Some("Initialize a service definition file"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "open",
                    aliases: [],
                    description: Some("Open the service in the Steadybit UI"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-f",
                                "--file",
                            ],
                            description: Some("Path to the service definition file"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "file",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "verify",
                    aliases: [],
                    description: Some("Read the current service definition and state"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-f",
                                "--file",
                            ],
                            description: Some("Path to the service definition file"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "file",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "-pp",
                                "--print-parameters",
                            ],
                            description: Some("Print task parameters when listing tasks"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "-pm",
                                "--print-matrix-context",
                            ],
                            description: Some("Print the matrix execution context information when listing tasks"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "show",
                    aliases: [],
                    description: Some("Show a list of tasks and policies referenced by this service"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-f",
                                "--file",
                            ],
                            description: Some("Path to the service definition file"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "file",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "-n",
                                "--name",
                            ],
                            description: Some("Optional task name to filter the result list"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "name",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "-v",
                                "--version",
                            ],
                            description: Some("Optional task version to filter the result list"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "version",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                    ],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display usage information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)