(
    version: 1,
    command: "stencil",
    description: Some("CLI to build Stencil projects and generate components"),
    subcommands: [
        (
            name: "build",
            aliases: [],
            description: Some("Build components for development or production"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ci",
                    ],
                    description: Some("Run a build using recommended settings for a Continuous Integration (CI) environment"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--config",
                        "-c",
                    ],
                    description: Some("Set stencil config file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "config file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Set the log level to debug"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--dev",
                    ],
                    description: Some("Development build"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--docs-readme",
                    ],
                    description: Some("Generate component readme.md docs"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--es5",
                    ],
                    description: Some("Creates an ES5 compatible build"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--log",
                    ],
                    description: Some("Write stencil-build.log file"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--prerender",
                    ],
                    description: Some("Prerender the application"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--prod",
                    ],
                    description: Some("Runs a production build"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--max-workers",
                    ],
                    description: Some("Max number of workers the compiler should use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "workers",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--next",
                    ],
                    description: Some("Opt-in to test the \'next\' Stencil compiler features"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-cache",
                    ],
                    description: Some("Disables using the cache"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-open",
                    ],
                    description: Some("Do not automatically open the browser window"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--port",
                        "--p",
                    ],
                    description: Some("Port for the Integrated Dev Server"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "port",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--serve",
                    ],
                    description: Some("Start the dev-server"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--stats",
                    ],
                    description: Some("Write stencil-stats.json file"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Logs additional information about each step of the build"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--watch",
                    ],
                    description: Some("Rebuild when files update"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "test",
            aliases: [],
            description: Some("Run unit and end-to-end tests"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--spec",
                    ],
                    description: Some("Run unit tests with Jest"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--e2e",
                    ],
                    description: Some("Run e2e tests with Puppeteer"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-build",
                    ],
                    description: Some("Skips build process before running the tests"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "generate",
            aliases: [
                "g",
            ],
            description: Some("Bootstrap components"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: true,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "telemetry",
            aliases: [],
            description: Some("Opt in or out of telemetry"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "state",
                    source: Static([
                        "off",
                        "on",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Display the help output explaining the different flags"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Prints the current Stencil version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)