(
    version: 1,
    command: "stencil",
    description: Some("CLI to build Stencil projects and generate components"),
    subcommands: [
        (
            name: "build",
            description: Some("Build components for development or production"),
            options: [
                (
                    names: [
                        "--ci",
                    ],
                    description: Some("Run a build using recommended settings for a Continuous Integration (CI) environment"),
                ),
                (
                    names: [
                        "--config",
                        "-c",
                    ],
                    description: Some("Set stencil config file"),
                    arguments: [
                        (
                            name: "config file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Set the log level to debug"),
                ),
                (
                    names: [
                        "--dev",
                    ],
                    description: Some("Development build"),
                ),
                (
                    names: [
                        "--docs-readme",
                    ],
                    description: Some("Generate component readme.md docs"),
                ),
                (
                    names: [
                        "--es5",
                    ],
                    description: Some("Creates an ES5 compatible build"),
                ),
                (
                    names: [
                        "--log",
                    ],
                    description: Some("Write stencil-build.log file"),
                ),
                (
                    names: [
                        "--prerender",
                    ],
                    description: Some("Prerender the application"),
                ),
                (
                    names: [
                        "--prod",
                    ],
                    description: Some("Runs a production build"),
                ),
                (
                    names: [
                        "--max-workers",
                    ],
                    description: Some("Max number of workers the compiler should use"),
                    arguments: [
                        (
                            name: "workers",
                            description: Some("Number of workers"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--next",
                    ],
                    description: Some("Opt-in to test the 'next' Stencil compiler features"),
                ),
                (
                    names: [
                        "--no-cache",
                    ],
                    description: Some("Disables using the cache"),
                ),
                (
                    names: [
                        "--no-open",
                    ],
                    description: Some("Do not automatically open the browser window"),
                ),
                (
                    names: [
                        "--port",
                        "--p",
                    ],
                    description: Some("Port for the Integrated Dev Server"),
                    arguments: [
                        (
                            name: "port",
                        ),
                    ],
                ),
                (
                    names: [
                        "--serve",
                    ],
                    description: Some("Start the dev-server"),
                ),
                (
                    names: [
                        "--stats",
                    ],
                    description: Some("Write stencil-stats.json file"),
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Logs additional information about each step of the build"),
                ),
                (
                    names: [
                        "--watch",
                    ],
                    description: Some("Rebuild when files update"),
                ),
            ],
        ),
        (
            name: "test",
            description: Some("Run unit and end-to-end tests"),
            options: [
                (
                    names: [
                        "--spec",
                    ],
                    description: Some("Run unit tests with Jest"),
                ),
                (
                    names: [
                        "--e2e",
                    ],
                    description: Some("Run e2e tests with Puppeteer"),
                ),
                (
                    names: [
                        "--no-build",
                    ],
                    description: Some("Skips build process before running the tests"),
                ),
            ],
        ),
        (
            name: "generate",
            aliases: [
                "g",
            ],
            description: Some("Bootstrap components"),
            arguments: [
                (
                    name: "name",
                    description: Some("Name of new component (must contain dash (-))"),
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "telemetry",
            description: Some("Opt in or out of telemetry"),
            arguments: [
                (
                    name: "state",
                    suggestions: [
                        (
                            name: "off",
                            description: Some("Disable sharing anonymous usage data"),
                        ),
                        (
                            name: "on",
                            description: Some("Enable sharing anonymous usage data"),
                        ),
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Display the help output explaining the different flags"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Prints the current Stencil version"),
        ),
    ],
    presentation: (
        icon: Some("https://stenciljs.com/assets/icon/favicon.ico"),
    ),
)
