(
    version: 1,
    command: "StepZen",
    description: Some("The StepZen CLI is the primary way to build, deploy and test your schemas on StepZen"),
    subcommands: [
        (
            name: "help",
            description: Some("Display help for StepZen"),
            arguments: [
                (
                    name: "command",
                    description: Some("Command name for which to display help"),
                ),
            ],
        ),
        (
            name: "login",
            description: Some("Login to StepZen"),
        ),
        (
            name: "logout",
            description: Some("Logout of StepZen"),
        ),
        (
            name: "start",
            description: Some("Deploy, watch and develop your API"),
            options: [
                (
                    names: [
                        "--dir",
                    ],
                    description: Some("The working directory for StepZen assets"),
                    arguments: [
                        (
                            name: "path",
                            description: Some("Path to StepZen directory"),
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                    requires_separator: Some("="),
                ),
                (
                    names: [
                        "--endpoint",
                    ],
                    description: Some("The folder/endpoint to deploy to"),
                    arguments: [
                        (
                            name: "endpoint",
                            description: Some("The StepZen endpoint"),
                            generators: [
                                (
                                    script: [
                                        "stepzen",
                                        "list",
                                        "schemas",
                                    ],
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                    requires_separator: Some("="),
                ),
                (
                    names: [
                        "--port",
                    ],
                    description: Some("The port number to use for the GraphiQL explorer"),
                    arguments: [
                        (
                            name: "port",
                            description: Some("A port to run on"),
                        ),
                    ],
                    requires_separator: Some("="),
                ),
            ],
        ),
        (
            name: "import",
            description: Some("Import pre-configured schemas to Your API"),
            options: [
                (
                    names: [
                        "--dir",
                    ],
                    description: Some("The directory to which the schema will be imported"),
                    arguments: [
                        (
                            name: "path",
                            description: Some("Path to directory"),
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                    requires_separator: Some("="),
                ),
            ],
            arguments: [
                (
                    name: "name",
                    description: Some("The name of the generator to import"),
                    generators: [
                        (
                            script: [
                                "curl",
                                "https://api.github.com/repos/steprz/stepzen-schemas/contents",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "list",
            description: Some("List the assets of a specified type that are linked to the StepZen account"),
            arguments: [
                (
                    name: "type",
                    description: Some("The type of asset to list (schemas or configurationsets)"),
                    suggestions: [
                        (
                            name: "schemas",
                        ),
                        (
                            name: "configurationsets",
                        ),
                    ],
                ),
            ],
        ),
    ],
)
