(
    version: 1,
    command: "subl",
    description: Some("Sublime Text"),
    subcommands: [],
    options: [
        (
            names: [
                "--project",
            ],
            description: Some("Load the given project"),
            takes_value: true,
            arguments: [
                (
                    name: "project",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
        ),
        (
            names: [
                "--command",
            ],
            description: Some("Run the given command"),
            takes_value: true,
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-n",
                "--new-window",
            ],
            description: Some("Open a new window"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-a",
                "--add",
            ],
            description: Some("Add folders to the current window"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--launch-or-new-window",
            ],
            description: Some("Only open a new window if the application is open"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
                "--wait",
            ],
            description: Some("Wait for the files to be closed before returning"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-b",
                "--background",
            ],
            description: Some("Don\'t activate the application"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--stay",
            ],
            description: Some("Keep the application activated after closing the file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--safe-mode",
            ],
            description: Some("Launch using a clean environment"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show a help message and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show the version and exit"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "files|directories",
            source: Directories,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)