(
    version: 1,
    command: "subl",
    description: Some("Sublime Text"),
    options: [
        (
            names: [
                "--project",
            ],
            description: Some("Load the given project"),
            arguments: [
                (
                    name: "project",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--command",
            ],
            description: Some("Run the given command"),
            arguments: [
                (
                    name: "command",
                ),
            ],
        ),
        (
            names: [
                "-n",
                "--new-window",
            ],
            description: Some("Open a new window"),
            exclusive_on: [
                "-a",
            ],
        ),
        (
            names: [
                "-a",
                "--add",
            ],
            description: Some("Add folders to the current window"),
            exclusive_on: [
                "-n",
            ],
        ),
        (
            names: [
                "--launch-or-new-window",
            ],
            description: Some("Only open a new window if the application is open"),
        ),
        (
            names: [
                "-w",
                "--wait",
            ],
            description: Some("Wait for the files to be closed before returning"),
        ),
        (
            names: [
                "-b",
                "--background",
            ],
            description: Some("Don't activate the application"),
        ),
        (
            names: [
                "-s",
                "--stay",
            ],
            description: Some("Keep the application activated after closing the file"),
        ),
        (
            names: [
                "--safe-mode",
            ],
            description: Some("Launch using a clean environment"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Show a help message and exit"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show the version and exit"),
        ),
    ],
    arguments: [
        (
            name: "files|directories",
            template: [
                Folders,
                FilePaths,
            ],
            optional: true,
            variadic: true,
        ),
    ],
)
