(
    version: 1,
    command: "sudo",
    description: Some("Execute a command as the superuser or another user"),
    subcommands: [],
    options: [
        (
            names: [
                "-g",
                "--group",
            ],
            description: Some("Run command as the specified group name or ID"),
            takes_value: true,
            arguments: [
                (
                    name: "group",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help message and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
                "--user",
            ],
            description: Some("Run command as specified user name or ID"),
            takes_value: true,
            arguments: [
                (
                    name: "user",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "command",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)