(
    version: 1,
    command: "svokit",
    description: Some("Runs built svokit project"),
    subcommands: [
        (
            name: "setup",
            aliases: [],
            description: Some("Creates svokit config (experimental)"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "run",
            aliases: [],
            description: Some("Runs build svokit project"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for svokit"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)