(
    version: 1,
    command: "svtplay-dl",
    description: Some("Download videos from your favourite play services"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for svtplay-dl"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show program\'s version number and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Outputs to the given filename or folder"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--subfolder",
            ],
            description: Some("Create a subfolder titled as the show, non-series gets in folder movies"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--config",
            ],
            description: Some("Specify configuration file"),
            takes_value: true,
            arguments: [
                (
                    name: "configfile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--force",
            ],
            description: Some("Overwrite if file exists already"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
                "--resume",
            ],
            description: Some("Resume a download (RTMP obsolete)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
                "--live",
            ],
            description: Some("Enable for live streams (RTMP based ones)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
                "--capture_time",
            ],
            description: Some("Define capture time in minutes of a live stream"),
            takes_value: true,
            arguments: [
                (
                    name: "capture_time",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-s",
                "--silent",
            ],
            description: Some("Be less verbose"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--silent-semi",
            ],
            description: Some("Only show a message when the file is downloaded"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
                "--username",
            ],
            description: Some("Username (if applicable)"),
            takes_value: true,
            arguments: [
                (
                    name: "username",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--password",
            ],
            description: Some("Password (if applicable)"),
            takes_value: true,
            arguments: [
                (
                    name: "password",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--thumbnail",
            ],
            description: Some("Download thumbnail from the site if available"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
                "--get-url",
            ],
            description: Some("Do not download any video, but instead print the URL"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--get-only-episode-url",
            ],
            description: Some("Do not get video URLs, only print the episode URL"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--dont-verify-ssl-cert",
            ],
            description: Some("Don\'t attempt to verify SSL certificates"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--http-header",
            ],
            description: Some("A header to add to each HTTP request"),
            takes_value: true,
            arguments: [
                (
                    name: "header1=value;header2=value2",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--cookies",
            ],
            description: Some("A cookies to add to each HTTP request"),
            takes_value: true,
            arguments: [
                (
                    name: "cookie1=value;cookie2=value2",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--exclude",
            ],
            description: Some("Exclude videos with the WORD(s) in the filename. Comma separated"),
            takes_value: true,
            arguments: [
                (
                    name: "WORD1,WORD2,...",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--after-date",
            ],
            description: Some("Only videos published on or after this date"),
            takes_value: true,
            arguments: [
                (
                    name: "yyyy-MM-dd",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--proxy",
            ],
            description: Some("Use the specified HTTP/HTTPS/SOCKS proxy. To enable experimental SOCKS proxy, specify a proper scheme. For example socks5://127.0.0.1:1080/"),
            takes_value: true,
            arguments: [
                (
                    name: "proxy",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Explain what is going on"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--nfo",
            ],
            description: Some("Create a NFO file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--force-nfo",
            ],
            description: Some("Download only NFO if used with --nfo"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--only-audio",
            ],
            description: Some("Only download audio if audio and video is separated"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--only-video",
            ],
            description: Some("Only download video if audio and video is separated"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-q",
                "--quality",
            ],
            description: Some("Choose what format to download based on bitrate/video resolution. It will download the best format by default"),
            takes_value: true,
            arguments: [
                (
                    name: "quality",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-Q",
                "--flexible-quality",
            ],
            description: Some("Allow given quality (as above) to differ by an amount"),
            takes_value: true,
            arguments: [
                (
                    name: "amount",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-P",
                "--preferred",
            ],
            description: Some("Preferred download method (dash, hls, or http)"),
            takes_value: true,
            arguments: [
                (
                    name: "preferred",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--list-quality",
            ],
            description: Some("List the quality for a video"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--stream-priority",
            ],
            description: Some("If two streams have the same quality, choose the one you prefer"),
            takes_value: true,
            arguments: [
                (
                    name: "dash,hls,http",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--format-preferred",
            ],
            description: Some("Choose the format you prefer, use --list-quality to show which one to choose from"),
            takes_value: true,
            arguments: [
                (
                    name: "h264,h264-51",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--audio-language",
            ],
            description: Some("Choose the language of the audio (it can override the default one), use --list-quality to show which one to choose from"),
            takes_value: true,
            arguments: [
                (
                    name: "AUDIO_LANGUAGE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--audio-role",
            ],
            description: Some("Choose the role of the audio (it can override the default one), use --list-quality to show which one to choose from"),
            takes_value: true,
            arguments: [
                (
                    name: "AUDIO_ROLE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-S",
                "--subtitle",
            ],
            description: Some("Download subtitle from the site if available"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-M",
                "--merge-subtitle",
            ],
            description: Some("Merge subtitle with video/audio file with corresponding ISO639-3 language code. This invokes --remux automatically"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--force-subtitle",
            ],
            description: Some("Download only subtitle if its used with -S"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--require-subtitle",
            ],
            description: Some("Download only if a subtitle is available"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--all-subtitles",
            ],
            description: Some("Download all available subtitles for the video"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--raw-subtitles",
            ],
            description: Some("Also download the subtitles in their native format"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--convert-subtitle-colors",
            ],
            description: Some("Converts the color information in subtitles, to <font color=\"\"> tags"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-A",
                "--all-episodes",
            ],
            description: Some("Try to download all episodes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--all-last",
            ],
            description: Some("Get last NN episodes instead of all episodes"),
            takes_value: true,
            arguments: [
                (
                    name: "NN",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--include-clips",
            ],
            description: Some("Include clips from websites when using -A"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--cmore-operatorlist",
            ],
            description: Some("Show operatorlist for cmore"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--cmore-operator",
            ],
            description: None,
            takes_value: true,
            arguments: [
                (
                    name: "operator",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-remux",
            ],
            description: Some("Do not automatically remux to mp4"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-merge",
            ],
            description: Some("Do not automatically merge video, audio and possibly also subtitle(s) together"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-postprocess",
            ],
            description: Some("Do not postprocess anything"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--keep-original",
            ],
            description: Some("Do postprocessing while also keeping original files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--output-format",
            ],
            description: Some("Format you want resulting file in (mkv or mp4), mp4 is default"),
            takes_value: true,
            arguments: [
                (
                    name: "mp4,mkv",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "urls",
            source: Unavailable,
            optional: false,
            variadic: true,
            imported_generator: Some((
                script: [
                    "pbpaste",
                ],
                has_post_process: true,
                has_custom: false,
            )),
        ),
    ],
)