(
    version: 1,
    command: "sw_vers",
    description: Some("Print macOS version information"),
    options: [
        (
            names: [
                "-productName",
            ],
            description: Some("Print product name"),
        ),
        (
            names: [
                "-productVersion",
            ],
            description: Some("Print product version"),
        ),
        (
            names: [
                "-buildVersion",
            ],
            description: Some("Print build version"),
        ),
    ],
)
