(
    version: 1,
    command: "sw_vers",
    description: Some("Print macOS version information"),
    subcommands: [],
    options: [
        (
            names: [
                "-productName",
            ],
            description: Some("Print product name"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-productVersion",
            ],
            description: Some("Print product version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-buildVersion",
            ],
            description: Some("Print build version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)