(
    version: 1,
    command: "swc",
    description: Some("SWC is a super-fast compiler written in rust; producing widely-supported javascript from modern standards and typescript"),
    options: [
        (
            names: [
                "--filename",
                "-f",
            ],
            description: Some("Filename to use when reading from stdin. This will be used in source maps and errors"),
            arguments: [
                (
                    name: "FILE",
                    description: Some("Path to the file"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--config-file",
            ],
            description: Some("Path to a .swcrc file to use"),
            arguments: [
                (
                    name: "CONFIG_FILE",
                    description: Some("Path to a .swcrc file to use"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--env-name",
            ],
            description: Some("The name of the 'env' to use when loading configs and plugins. Defaults to the value of SWC_ENV, or else NODE_ENV, or else development"),
            arguments: [
                (
                    name: "ENV_NAME",
                    description: Some("The name of the 'env' to use when loading configs and plugins. Defaults to the value of SWC_ENV, or else NODE_ENV, or else development"),
                    suggestions: [
                        (
                            name: "production",
                        ),
                        (
                            name: "development",
                        ),
                        (
                            name: "test",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--no-swcrc",
            ],
            description: Some("Whether or not to look up .swcrc files"),
        ),
        (
            names: [
                "--ignore",
            ],
            description: Some("List of glob paths to not compile"),
            arguments: [
                (
                    name: "PATH",
                    description: Some("A glob path to not compile"),
                    template: [
                        FilePaths,
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--only",
            ],
            description: Some("List of glob paths to only compile"),
            arguments: [
                (
                    name: "PATH",
                    description: Some("A glob path to only compile"),
                    template: [
                        FilePaths,
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--watch",
                "-w",
            ],
            description: Some("Watch for changes and recompile"),
        ),
        (
            names: [
                "--quiet",
                "-q",
            ],
            description: Some("Suppress compilation output"),
        ),
        (
            names: [
                "--source-maps",
                "-s",
            ],
            description: Some("Generate source maps"),
            arguments: [
                (
                    name: "SOURCE_MAP",
                    description: Some("Source map type"),
                    suggestions: [
                        (
                            name: "true",
                        ),
                        (
                            name: "false",
                        ),
                        (
                            name: "inline",
                        ),
                        (
                            name: "both",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--source-map-target",
            ],
            description: Some("Define the file for the source map"),
            arguments: [
                (
                    name: "FILE",
                    description: Some("The file for the source map"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--source-file-name",
            ],
            description: Some("Set sources[0] on returned source map"),
        ),
        (
            names: [
                "--source-root",
            ],
            description: Some("The root from which all sources are relative"),
        ),
        (
            names: [
                "--out-file",
                "-o",
            ],
            description: Some("Compile all input files into a single file"),
            arguments: [
                (
                    name: "OUTPUT_FILE",
                    description: Some("The output file"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--out-dir",
                "-d",
            ],
            description: Some("Compile an input directory of modules into an output directory"),
            arguments: [
                (
                    name: "OUTPUT_DIR",
                    description: Some("The output directory"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--copy-files",
                "-D",
            ],
            description: Some("When compiling a directory, copy over non-compilable files"),
        ),
        (
            names: [
                "--include-dotfiles",
            ],
            description: Some("Include dotfiles when compiling and copying non-compilable files"),
        ),
        (
            names: [
                "--config",
                "-C",
            ],
            description: Some("Override a config from .swcrc file"),
            arguments: [
                (
                    name: "CONFIG_FILE",
                    description: Some("Path to .swcrc file"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--sync",
            ],
            description: Some("Invoke swc synchronously. Useful for debugging"),
        ),
        (
            names: [
                "--log-watch-compilation",
            ],
            description: Some("Log a message when a watched file is successfully compiled"),
        ),
        (
            names: [
                "--extensions",
            ],
            description: Some("Log a message when a watched file is successfully compiled"),
        ),
    ],
)
