(
    version: 1,
    command: "swc",
    description: Some("SWC is a super-fast compiler written in rust; producing widely-supported javascript from modern standards and typescript"),
    subcommands: [],
    options: [
        (
            names: [
                "--filename",
                "-f",
            ],
            description: Some("Filename to use when reading from stdin. This will be used in source maps and errors"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--config-file",
            ],
            description: Some("Path to a .swcrc file to use"),
            takes_value: true,
            arguments: [
                (
                    name: "CONFIG_FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--env-name",
            ],
            description: Some("The name of the \'env\' to use when loading configs and plugins. Defaults to the value of SWC_ENV, or else NODE_ENV, or else development"),
            takes_value: true,
            arguments: [
                (
                    name: "ENV_NAME",
                    source: Static([
                        "production",
                        "development",
                        "test",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-swcrc",
            ],
            description: Some("Whether or not to look up .swcrc files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ignore",
            ],
            description: Some("List of glob paths to not compile"),
            takes_value: true,
            arguments: [
                (
                    name: "PATH",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--only",
            ],
            description: Some("List of glob paths to only compile"),
            takes_value: true,
            arguments: [
                (
                    name: "PATH",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--watch",
                "-w",
            ],
            description: Some("Watch for changes and recompile"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--quiet",
                "-q",
            ],
            description: Some("Suppress compilation output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--source-maps",
                "-s",
            ],
            description: Some("Generate source maps"),
            takes_value: true,
            arguments: [
                (
                    name: "SOURCE_MAP",
                    source: Static([
                        "true",
                        "false",
                        "inline",
                        "both",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--source-map-target",
            ],
            description: Some("Define the file for the source map"),
            takes_value: true,
            arguments: [
                (
                    name: "FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--source-file-name",
            ],
            description: Some("Set sources[0] on returned source map"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--source-root",
            ],
            description: Some("The root from which all sources are relative"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--out-file",
                "-o",
            ],
            description: Some("Compile all input files into a single file"),
            takes_value: true,
            arguments: [
                (
                    name: "OUTPUT_FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--out-dir",
                "-d",
            ],
            description: Some("Compile an input directory of modules into an output directory"),
            takes_value: true,
            arguments: [
                (
                    name: "OUTPUT_DIR",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--copy-files",
                "-D",
            ],
            description: Some("When compiling a directory, copy over non-compilable files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--include-dotfiles",
            ],
            description: Some("Include dotfiles when compiling and copying non-compilable files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--config",
                "-C",
            ],
            description: Some("Override a config from .swcrc file"),
            takes_value: true,
            arguments: [
                (
                    name: "CONFIG_FILE",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--sync",
            ],
            description: Some("Invoke swc synchronously. Useful for debugging"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--log-watch-compilation",
            ],
            description: Some("Log a message when a watched file is successfully compiled"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--extensions",
            ],
            description: Some("Log a message when a watched file is successfully compiled"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)