(
    version: 1,
    command: "sysctl",
    description: Some("Get or set kernel state"),
    subcommands: [],
    options: [
        (
            names: [
                "-A",
                "-a",
            ],
            description: Some("List all the currently available non-opaque values"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Force the value of the variable(s) to be output in raw, binary format"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Print the description of the variable instead of its value"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Separate the name and the value of the variable(s) with \'=\'"),
            takes_value: true,
            arguments: [
                (
                    name: "variable",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
            ],
            description: Some("Format output for human, rather than machine, readability"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Ignore unknown OIDs"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-N",
            ],
            description: Some("Show only variable names, not their values"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Show only variable values, not their names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Show opaque variables (which are normally suppressed)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-q",
            ],
            description: Some("Suppress some warnings generated by sysctl to standard error"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-X",
            ],
            description: Some("Equivalent to -x -a (for compatibility)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x",
            ],
            description: Some("As -o, but prints a hex dump of the entire value instead of just the first few bytes"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "Variable names (and values if available)",
            source: Unavailable,
            optional: true,
            variadic: true,
            imported_generator: Some((
                script: [
                    "sysctl",
                    "-A",
                    "-N",
                ],
                has_post_process: true,
                has_custom: false,
            )),
        ),
    ],
)