(
    version: 1,
    command: "sysctl",
    description: Some("Get or set kernel state"),
    options: [
        (
            names: [
                "-A",
                "-a",
            ],
            description: Some("List all the currently available non-opaque values"),
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Force the value of the variable(s) to be output in raw, binary format"),
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Print the description of the variable instead of its value"),
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Separate the name and the value of the variable(s) with '='"),
            arguments: [
                (
                    name: "variable",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-h",
            ],
            description: Some("Format output for human, rather than machine, readability"),
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Ignore unknown OIDs"),
        ),
        (
            names: [
                "-N",
            ],
            description: Some("Show only variable names, not their values"),
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Show only variable values, not their names"),
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Show opaque variables (which are normally suppressed)"),
        ),
        (
            names: [
                "-q",
            ],
            description: Some("Suppress some warnings generated by sysctl to standard error"),
        ),
        (
            names: [
                "-X",
            ],
            description: Some("Equivalent to -x -a (for compatibility)"),
        ),
        (
            names: [
                "-x",
            ],
            description: Some("As -o, but prints a hex dump of the entire value instead of just the first few bytes"),
        ),
    ],
    arguments: [
        (
            name: "Variable names (and values if available)",
            generators: [
                (
                    script: [
                        "sysctl",
                        "-A",
                        "-N",
                    ],
                    has_post_process: true,
                ),
            ],
            optional: true,
            variadic: true,
        ),
    ],
)
