(
    version: 1,
    command: "tac",
    description: Some("Concatenate and print files in reverse"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Display this help and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--before",
                "-b",
            ],
            description: Some("Attach the separator before instead of after"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--regex",
                "-r",
            ],
            description: Some("Interpret the separator as a regular expression"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--separator",
                "-s",
            ],
            description: Some("Use STRING as the separator instead of newline"),
            takes_value: true,
            arguments: [
                (
                    name: "STRING",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Output version information and exit"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "FILE",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)