(
    version: 1,
    command: "tac",
    description: Some("Concatenate and print files in reverse"),
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Display this help and exit"),
        ),
        (
            names: [
                "--before",
                "-b",
            ],
            description: Some("Attach the separator before instead of after"),
        ),
        (
            names: [
                "--regex",
                "-r",
            ],
            description: Some("Interpret the separator as a regular expression"),
        ),
        (
            names: [
                "--separator",
                "-s",
            ],
            description: Some("Use STRING as the separator instead of newline"),
            arguments: [
                (
                    name: "STRING",
                ),
            ],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Output version information and exit"),
        ),
    ],
    arguments: [
        (
            name: "FILE",
            template: [
                FilePaths,
            ],
        ),
    ],
    parser_directives: Some((
        options_must_precede_arguments: true,
    )),
)
