(
    version: 1,
    command: "tailwindcss",
    description: Some("Tailwindcss CLI tools"),
    subcommands: [
        (
            name: "init",
            description: Some("Creates Tailwind config file. Default: tailwind.config.js"),
            options: [
                (
                    names: [
                        "-p",
                        "--postcss",
                    ],
                    description: Some("Initialize a 'postcss.config.js' file"),
                ),
                (
                    names: [
                        "-f",
                        "--full",
                    ],
                    description: Some("Initialize a full 'tailwind.config.js' file"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Display usage information"),
                ),
            ],
            arguments: [
                (
                    name: "filename",
                    optional: true,
                ),
            ],
        ),
        (
            name: "build",
            description: Some("Build CSS file"),
            options: [
                (
                    names: [
                        "-i",
                        "--input",
                    ],
                    description: Some("Specify input file"),
                    arguments: [
                        (
                            name: "input file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--output",
                    ],
                    description: Some("Specify output file"),
                    arguments: [
                        (
                            name: "output file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-c",
                        "--config",
                    ],
                    description: Some("Specify config file to use"),
                    arguments: [
                        (
                            name: "config file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--postcss",
                    ],
                    description: Some("Load custom PostCSS configuration"),
                    arguments: [
                        (
                            name: "postcss config file",
                            template: [
                                FilePaths,
                            ],
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--purge",
                    ],
                    description: Some("Content paths to use for removing unused classes. [Deprecated]: use `--content` instead"),
                ),
                (
                    names: [
                        "--content",
                    ],
                    description: Some("Content paths to use for removing unused classes"),
                ),
                (
                    names: [
                        "--watch",
                        "-w",
                    ],
                    description: Some("Watch for changes and rebuild as needed"),
                ),
                (
                    names: [
                        "--minify",
                        "-m",
                    ],
                    description: Some("Minify the output"),
                ),
                (
                    names: [
                        "--no-autoprefixer",
                    ],
                    description: Some("Disable autoprefixer"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Display usage information"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "-i",
                "--input",
            ],
            description: Some("Specify input file"),
            arguments: [
                (
                    name: "input file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Specify output file"),
            arguments: [
                (
                    name: "output file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-c",
                "--config",
            ],
            description: Some("Specify config file to use"),
            arguments: [
                (
                    name: "config file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--postcss",
            ],
            description: Some("Load custom PostCSS configuration"),
            arguments: [
                (
                    name: "postcss config file",
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--purge",
            ],
            description: Some("Content paths to use for removing unused classes. [Deprecated]: use `--content` instead"),
        ),
        (
            names: [
                "--content",
            ],
            description: Some("Content paths to use for removing unused classes"),
        ),
        (
            names: [
                "--watch",
                "-w",
            ],
            description: Some("Watch for changes and rebuild as needed"),
        ),
        (
            names: [
                "--minify",
                "-m",
            ],
            description: Some("Minify the output"),
        ),
        (
            names: [
                "--no-autoprefixer",
            ],
            description: Some("Disable autoprefixer"),
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display usage information"),
        ),
    ],
    presentation: (
        icon: Some("https://tailwindcss.com/favicons/favicon-32x32.png"),
    ),
)
