(
    version: 1,
    command: "tailwindcss",
    description: Some("Tailwindcss CLI tools"),
    subcommands: [
        (
            name: "init",
            aliases: [],
            description: Some("Creates Tailwind config file. Default: tailwind.config.js"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-p",
                        "--postcss",
                    ],
                    description: Some("Initialize a \'postcss.config.js\' file"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-f",
                        "--full",
                    ],
                    description: Some("Initialize a full \'tailwind.config.js\' file"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Display usage information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "filename",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "build",
            aliases: [],
            description: Some("Build CSS file"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-i",
                        "--input",
                    ],
                    description: Some("Specify input file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "input file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--output",
                    ],
                    description: Some("Specify output file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "output file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-c",
                        "--config",
                    ],
                    description: Some("Specify config file to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "config file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--postcss",
                    ],
                    description: Some("Load custom PostCSS configuration"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "postcss config file",
                            source: Files,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--purge",
                    ],
                    description: Some("Content paths to use for removing unused classes. [Deprecated]: use `--content` instead"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--content",
                    ],
                    description: Some("Content paths to use for removing unused classes"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--watch",
                        "-w",
                    ],
                    description: Some("Watch for changes and rebuild as needed"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--minify",
                        "-m",
                    ],
                    description: Some("Minify the output"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-autoprefixer",
                    ],
                    description: Some("Disable autoprefixer"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Display usage information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-i",
                "--input",
            ],
            description: Some("Specify input file"),
            takes_value: true,
            arguments: [
                (
                    name: "input file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Specify output file"),
            takes_value: true,
            arguments: [
                (
                    name: "output file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-c",
                "--config",
            ],
            description: Some("Specify config file to use"),
            takes_value: true,
            arguments: [
                (
                    name: "config file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--postcss",
            ],
            description: Some("Load custom PostCSS configuration"),
            takes_value: true,
            arguments: [
                (
                    name: "postcss config file",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--purge",
            ],
            description: Some("Content paths to use for removing unused classes. [Deprecated]: use `--content` instead"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--content",
            ],
            description: Some("Content paths to use for removing unused classes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--watch",
                "-w",
            ],
            description: Some("Watch for changes and rebuild as needed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--minify",
                "-m",
            ],
            description: Some("Minify the output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-autoprefixer",
            ],
            description: Some("Disable autoprefixer"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Display usage information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)