(
    version: 1,
    command: "tail",
    description: Some("Display the last part of a file"),
    subcommands: [],
    options: [
        (
            names: [
                "-f",
            ],
            description: Some("Wait for additional data to be appended"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Display in reverse order"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)