(
    version: 1,
    command: "tailcall",
    description: Some("TailCall CLI for managing and optimizing GraphQL configurations"),
    subcommands: [
        (
            name: "check",
            description: Some("Validate a composition spec"),
            options: [
                (
                    names: [
                        "--n-plus-one-queries",
                    ],
                    description: Some("Detect N+1 issues"),
                    persistent: true,
                ),
                (
                    names: [
                        "--schema",
                    ],
                    description: Some("Display the schema of the composition spec"),
                    persistent: true,
                ),
                (
                    names: [
                        "--format",
                    ],
                    description: Some("Change the format of the input file"),
                    arguments: [
                        (
                            name: "",
                            suggestions: [
                                (
                                    name: "gql",
                                ),
                                (
                                    name: "graphql",
                                ),
                                (
                                    name: "yml",
                                ),
                                (
                                    name: "yaml",
                                ),
                                (
                                    name: "json",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "FILE_PATHS",
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "start",
            description: Some("Launch the GraphQL Server for the specific configuration"),
            arguments: [
                (
                    name: "PATHS",
                    template: [
                        FilePaths,
                        Folders,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "init",
            description: Some("Bootstrap a new TailCall project"),
            arguments: [
                (
                    name: "FILE_PATH",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            name: "gen",
            description: Some("Generate GraphQL configurations from various sources"),
            arguments: [
                (
                    name: "CONFIG_FILE",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
    ],
)
