(
    version: 1,
    command: "tangram",
    description: Some(""),
    subcommands: [
        (
            name: "app",
            aliases: [],
            description: Some("Run the app"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-c",
                        "--config",
                    ],
                    description: Some("The path to a config file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "CONFIG",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "migrate",
            aliases: [],
            description: Some("Migrate your app database"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--database-url",
                    ],
                    description: None,
                    takes_value: true,
                    arguments: [
                        (
                            name: "DATABASE_URL",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "predict",
            aliases: [],
            description: Some("Make predictions with a model"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-f",
                        "--file",
                    ],
                    description: Some("The path to read examples from, defaults to stdin"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "FILE",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-m",
                        "--model",
                    ],
                    description: Some("The path to the model to make predictions with"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "MODEL",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--output",
                    ],
                    description: Some("The path to write the predictions to, defaults to stdout"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "OUTPUT",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--probabilities",
                    ],
                    description: Some("Output probabilities instead of class labels, only relevant for classifier models"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "PROBABILITIES",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "train",
            aliases: [],
            description: Some("Train a model"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-c",
                        "--config",
                    ],
                    description: Some("The path to a config file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "CONFIG",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--file",
                    ],
                    description: Some("The path to your .csv file"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "FILE",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--file-test",
                    ],
                    description: Some("The path to your .csv file used for testing"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "FILE_TEST",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--file-train",
                    ],
                    description: Some("The path to your .csv file used for training"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "FILE_TRAIN",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--output",
                    ],
                    description: Some("The path to write the .tangram file to"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "OUTPUT",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--target",
                    ],
                    description: Some("The name of the column to predict"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "TARGET",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Print help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Print version information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)