(
    version: 1,
    command: "tangram",
    subcommands: [
        (
            name: "app",
            description: Some("Run the app"),
            options: [
                (
                    names: [
                        "-c",
                        "--config",
                    ],
                    description: Some("The path to a config file"),
                    arguments: [
                        (
                            name: "CONFIG",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "migrate",
            description: Some("Migrate your app database"),
            options: [
                (
                    names: [
                        "--database-url",
                    ],
                    arguments: [
                        (
                            name: "DATABASE_URL",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "predict",
            description: Some("Make predictions with a model"),
            options: [
                (
                    names: [
                        "-f",
                        "--file",
                    ],
                    description: Some("The path to read examples from, defaults to stdin"),
                    arguments: [
                        (
                            name: "FILE",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-m",
                        "--model",
                    ],
                    description: Some("The path to the model to make predictions with"),
                    arguments: [
                        (
                            name: "MODEL",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--output",
                    ],
                    description: Some("The path to write the predictions to, defaults to stdout"),
                    arguments: [
                        (
                            name: "OUTPUT",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--probabilities",
                    ],
                    description: Some("Output probabilities instead of class labels, only relevant for classifier models"),
                    arguments: [
                        (
                            name: "PROBABILITIES",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "train",
            description: Some("Train a model"),
            options: [
                (
                    names: [
                        "-c",
                        "--config",
                    ],
                    description: Some("The path to a config file"),
                    arguments: [
                        (
                            name: "CONFIG",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--file",
                    ],
                    description: Some("The path to your .csv file"),
                    arguments: [
                        (
                            name: "FILE",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--file-test",
                    ],
                    description: Some("The path to your .csv file used for testing"),
                    arguments: [
                        (
                            name: "FILE_TEST",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--file-train",
                    ],
                    description: Some("The path to your .csv file used for training"),
                    arguments: [
                        (
                            name: "FILE_TRAIN",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--output",
                    ],
                    description: Some("The path to write the .tangram file to"),
                    arguments: [
                        (
                            name: "OUTPUT",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--target",
                    ],
                    description: Some("The name of the column to predict"),
                    arguments: [
                        (
                            name: "TARGET",
                        ),
                    ],
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Print help information"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Print version information"),
        ),
    ],
)
