(
    version: 1,
    command: "tfsec",
    description: Some("Tfsec is a simple tool to detect potential security vulnerabilities in your terraformed infrastructure"),
    subcommands: [],
    options: [
        (
            names: [
                "--concise-output",
            ],
            description: Some("Reduce the amount of output and no statistics"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--config-file",
            ],
            description: Some("Config file to use during run"),
            takes_value: true,
            arguments: [
                (
                    name: "config-file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--custom-check-dir",
            ],
            description: Some("Explicitly the custom checks dir location"),
            takes_value: true,
            arguments: [
                (
                    name: "custom-check-dir",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Enable debug logging (same as verbose)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-G",
                "--disable-grouping",
            ],
            description: Some("Disable grouping of similar results"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-e",
                "--exclude",
            ],
            description: Some("Provide comma-separated list of rule IDs to exclude from run"),
            takes_value: true,
            arguments: [
                (
                    name: "excludeList",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--exclude-downloaded-modules",
            ],
            description: Some("Remove results for downloaded modules in .terraform folder"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--exclude-path",
            ],
            description: Some("Folder path to exclude, can be used multiple times and evaluated in order of specification"),
            takes_value: true,
            arguments: [
                (
                    name: "excludePath",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--filter-results",
            ],
            description: Some("Filter results to return specific checks only (supports comma-delimited input)"),
            takes_value: true,
            arguments: [
                (
                    name: "filterResults",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--force-all-dirs",
            ],
            description: Some("Don\'t search for tf files, include everything below provided directory"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
                "--format",
            ],
            description: Some("Select output format: default, json, csv, checkstyle, junit, sarif. To use multiple formats, separate with a comma and specify a base output filename with --out. A file will be written for each type. The first format will additionally be written stdout"),
            takes_value: true,
            arguments: [
                (
                    name: "format",
                    source: Static([
                        "default",
                        "json",
                        "csv",
                        "checkstyle",
                        "junit",
                        "sarif",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Help for tfsec"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ignore-hcl-errors",
            ],
            description: Some("Stop and report an error if an HCL parse error is encountered"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--include-ignored",
            ],
            description: Some("Include ignored checks in the result output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--include-passed",
            ],
            description: Some("Include passed checks in the result output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--migrate-ignores",
            ],
            description: Some("Migrate ignore codes to the new ID structure"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
                "--minimum-severity",
            ],
            description: Some("The minimum severity to report. One of CRITICAL, HIGH, MEDIUM, LOW"),
            takes_value: true,
            arguments: [
                (
                    name: "minimumSeverity",
                    source: Static([
                        "CRITICAL",
                        "HIGH",
                        "MEDIUM",
                        "LOW",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-color",
            ],
            description: Some("Disable colored output (American style!)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-colour",
            ],
            description: Some("Disable coloured output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-ignores",
            ],
            description: Some("Do not apply any ignore rules - normally ignored checks will fail"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-module-downloads",
            ],
            description: Some("Do not download remote modules"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-O",
                "--out",
            ],
            description: Some("Set output file. This filename will have a format descriptor appended if multiple formats are specified with --format"),
            takes_value: true,
            arguments: [
                (
                    name: "outputFile",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--print-rego-input",
            ],
            description: Some("Print a JSON representation of the input supplied to rego policies"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--rego-policy-dir",
            ],
            description: Some("Directory to load rego policies from (recursively)"),
            takes_value: true,
            arguments: [
                (
                    name: "regoPolicyDir",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--run-statistics",
            ],
            description: Some("View statistics table of current findings"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--single-thread",
            ],
            description: Some("Run checks using a single thread"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--soft-fail",
            ],
            description: Some("Runs checks but suppresses error code"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--tfvars-file",
            ],
            description: Some("Path to .tfvars file, can be used multiple times and evaluated in order of specification"),
            takes_value: true,
            arguments: [
                (
                    name: "tfvarsFilePath",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--update",
            ],
            description: Some("Update to latest version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--verbose",
            ],
            description: Some("Enable verbose logging (same as debug)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show version information and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-W",
                "--workspace",
            ],
            description: Some("Specify a workspace for ignore limits (default \"default\")"),
            takes_value: true,
            arguments: [
                (
                    name: "workspace",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "terraform",
                            "workspace",
                            "list",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "directory",
            source: Directories,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)