(
    version: 1,
    command: "then",
    description: Some("Execute this command if the test returned 0"),
    subcommands: [],
    options: [],
    arguments: [
        (
            name: "value",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)