(
    version: 1,
    command: "then",
    description: Some("Execute this command if the test returned 0"),
    arguments: [
        (
            name: "",
            is_command: true,
        ),
    ],
)
