(
    version: 1,
    command: "tokei",
    description: Some("Count your code, quickly"),
    options: [
        (
            names: [
                "-f",
                "--files",
            ],
            description: Some("Will print out statistics on individual files"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Prints help information"),
        ),
        (
            names: [
                "--hidden",
            ],
            description: Some("Count hidden files"),
        ),
        (
            names: [
                "-l",
                "--languages",
            ],
            description: Some("Prints out supported languages and their extensions"),
        ),
        (
            names: [
                "--no-ignore",
            ],
            description: Some("Don't respect ignore files (.gitignore, .ignore, etc.)"),
        ),
        (
            names: [
                "--no-ignore-dot",
            ],
            description: Some("Don't respect .ignore and .tokeignore files, including those in parent directories"),
        ),
        (
            names: [
                "--no-ignore-parent",
            ],
            description: Some("Don't respect ignore files (.gitignore, .ignore, etc.) in parent directories"),
        ),
        (
            names: [
                "--no-ignore-vcs",
            ],
            description: Some("Don't respect VCS ignore files (.gitignore, .hgignore, etc.), including those in parent directories"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Prints version information"),
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Set log output level:"),
            repeat: Times(3),
        ),
        (
            names: [
                "-c",
                "--columns",
            ],
            description: Some("Sets a strict column width of the output, only available for terminal output"),
            arguments: [
                (
                    name: "columns",
                ),
            ],
        ),
        (
            names: [
                "-e",
                "--exclude",
            ],
            description: Some("Ignore all files & directories matching the pattern"),
            arguments: [
                (
                    name: "exclude",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
            repeat: Many,
        ),
        (
            names: [
                "-i",
                "--input",
            ],
            description: Some("Gives statistics from a previous tokei run. Can be given a file path, or \"stdin\" to read from stdin"),
            arguments: [
                (
                    name: "input",
                    suggestions: [
                        (
                            name: "stdin",
                        ),
                    ],
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Outputs Tokei in a specific format"),
            arguments: [
                (
                    name: "output",
                    suggestions: [
                        (
                            name: "cbor",
                        ),
                        (
                            name: "json",
                        ),
                        (
                            name: "yaml",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-s",
                "--sort",
            ],
            description: Some("Sort languages based on column"),
            arguments: [
                (
                    name: "sort",
                    suggestions: [
                        (
                            name: "files",
                        ),
                        (
                            name: "lines",
                        ),
                        (
                            name: "blanks",
                        ),
                        (
                            name: "code",
                        ),
                        (
                            name: "comments",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--type",
            ],
            description: Some("Filters output by language type, seperated by a comma. i.e. -t=Rust,Markdown"),
            arguments: [
                (
                    name: "type",
                    generators: [
                        (
                            script: [
                                "tokei",
                                "--languages",
                            ],
                            split_on: Some("\n"),
                        ),
                    ],
                ),
            ],
        ),
    ],
)
