(
    version: 1,
    command: "top",
    description: Some("Display Linux tasks"),
    subcommands: [],
    options: [
        (
            names: [
                "-h",
                "-v",
            ],
            description: Some("Show library version and usage prompt"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Starts top in Batch mode"),
            takes_value: true,
            arguments: [
                (
                    name: "operation",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Starts top with last remembered c state reversed"),
            takes_value: true,
            arguments: [
                (
                    name: "toggle",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Starts top with the last remembered \'i\' state reversed. When this toggle is Off, tasks that are idled or zombied will not be displayed"),
            takes_value: true,
            arguments: [
                (
                    name: "toggle",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Starts top with secure mode forced"),
            takes_value: true,
            arguments: [
                (
                    name: "delay",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-pid",
            ],
            description: Some("Monitor pids"),
            takes_value: true,
            arguments: [
                (
                    name: "process ids",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [],
)