(
    version: 1,
    command: "touch",
    description: Some("Change file access and modification times"),
    options: [
        (
            names: [
                "-A",
            ],
            description: Some("Adjust the access and modification time stamps for the file by the specified value"),
            arguments: [
                (
                    name: "time",
                    description: Some("[-][[hh]mm]SS"),
                ),
            ],
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Change the access time of the file"),
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Do not create the file if it does not exist"),
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Attempt to force the update, even if the file permissions do not currently permit it"),
        ),
        (
            names: [
                "-h",
            ],
            description: Some("If the file is a symbolic link, change the times of the link itself rather than the file that the link points to"),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Change the modification time of the file"),
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Use the access and modifications times from the specified file instead of the current time of day"),
            arguments: [
                (
                    name: "file",
                ),
            ],
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Change the access and modification times to the specified time instead of the current time of day"),
            arguments: [
                (
                    name: "timestamp",
                    description: Some("[[CC]YY]MMDDhhmm[.SS]"),
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "file",
            template: [
                Folders,
            ],
            variadic: true,
            suggest_current_token: true,
        ),
    ],
)
