(
    version: 1,
    command: "touch",
    description: Some("Change file access and modification times"),
    subcommands: [],
    options: [
        (
            names: [
                "-A",
            ],
            description: Some("Adjust the access and modification time stamps for the file by the specified value"),
            takes_value: true,
            arguments: [
                (
                    name: "time",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Change the access time of the file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Do not create the file if it does not exist"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Attempt to force the update, even if the file permissions do not currently permit it"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
            ],
            description: Some("If the file is a symbolic link, change the times of the link itself rather than the file that the link points to"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Change the modification time of the file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Use the access and modifications times from the specified file instead of the current time of day"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Change the access and modification times to the specified time instead of the current time of day"),
            takes_value: true,
            arguments: [
                (
                    name: "timestamp",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "file",
            source: Directories,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)