(
    version: 1,
    command: "trap",
    description: Some("Automatically execute commands after receiving signals by processes or the operating system"),
    options: [
        (
            names: [
                "--print",
                "-p",
            ],
            description: Some("Prints all defined signal handlers"),
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Displays help about using this command"),
        ),
    ],
    arguments: [
        (
            name: "function name",
            optional: true,
        ),
        (
            name: "reason",
            generators: [
                (
                    script: [
                        "command",
                        "kill",
                        "-l",
                    ],
                    has_post_process: true,
                ),
            ],
        ),
    ],
)
