(
    version: 1,
    command: "trash",
    description: Some("Trash, move files/folders to the trash"),
    subcommands: [],
    options: [
        (
            names: [
                "-v",
            ],
            description: Some("Print verbose output while moving items"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-F",
            ],
            description: Some("Use the Finder API to move items to the trash"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("List items in the trash"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Empty the trash"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Securely empty the trash. trash asks for confirmation executing this action. If this argument is used, no need to be specified"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-y",
            ],
            description: Some("Skips the confirmation prompt for -e and -s. CAUTION: permanently instantly"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Directories,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)