(
    version: 1,
    command: "trash",
    description: Some("Trash, move files/folders to the trash"),
    options: [
        (
            names: [
                "-v",
            ],
            description: Some("Print verbose output while moving items"),
        ),
        (
            names: [
                "-F",
            ],
            description: Some("Use the Finder API to move items to the trash"),
        ),
        (
            names: [
                "-l",
            ],
            description: Some("List items in the trash"),
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Empty the trash"),
            presentation: (
                dangerous: true,
            ),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Securely empty the trash. trash asks for confirmation executing this action. If this argument is used, no need to be specified"),
        ),
        (
            names: [
                "-y",
            ],
            description: Some("Skips the confirmation prompt for -e and -s. CAUTION: permanently instantly"),
        ),
    ],
    arguments: [
        (
            name: "",
            template: [
                Folders,
                FilePaths,
            ],
            optional: true,
            variadic: true,
        ),
    ],
)
