(
    version: 1,
    command: "tree",
    description: Some("Display directories as trees (with optional color/HTML output)"),
    subcommands: [],
    options: [
        (
            names: [
                "-a",
            ],
            description: Some("All files are listed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("List directories only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Follow symbolic links like directories"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Print the full path prefix for each file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Stay on current filesystem only"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("Descend only level directories deep"),
            takes_value: true,
            arguments: [
                (
                    name: "level",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Rerun tree when max dir level reached"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-P",
            ],
            description: Some("List only those files that match the pattern given"),
            takes_value: true,
            arguments: [
                (
                    name: "pattern",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-I",
            ],
            description: Some("Do not list files that match the given pattern"),
            takes_value: true,
            arguments: [
                (
                    name: "pattern",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--ignore-case",
            ],
            description: Some("Ignore case when pattern matching"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--matchdirs",
            ],
            description: Some("Include directory names in -P pattern matching"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--noreport",
            ],
            description: Some("Turn off file/directory count at end of tree listing"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--charset",
            ],
            description: Some("Use charset X for terminal/HTML and indentation line output"),
            takes_value: true,
            arguments: [
                (
                    name: "charset",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--filelimit",
            ],
            description: Some("Do not descend dirs with more than # files in them"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--timefmt",
            ],
            description: Some("Print and format time according to the format <f>"),
            takes_value: true,
            arguments: [
                (
                    name: "format",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Output to file instead of stdout"),
            takes_value: true,
            arguments: [
                (
                    name: "filename",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-q",
            ],
            description: Some("Print non-printable characters as \'?\'"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-N",
            ],
            description: Some("Print non-printable characters as is"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-Q",
            ],
            description: Some("Quote filenames with double quotes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Print the protections for each file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Displays file owner or UID number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-g",
            ],
            description: Some("Displays file group owner or GID number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Print the size in bytes of each file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
            ],
            description: Some("Print the size in a more human readable way"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--si",
            ],
            description: Some("Like -h but use SI units (powers of 1000) instead"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--du",
            ],
            description: Some("For each directory report its size as the accumulation of sizes of all its files and sub-directories (and their files, and so on). The total amount of used space is also given in the final report (like the \'du -c\' command.) This option requires tree to read the entire directory tree before emitting it, see BUGS AND NOTES below. Implies -s"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-D",
            ],
            description: Some("Print the date of the last modification time or if -c is used, the last status change time for the file listed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-F",
            ],
            description: Some("Appends \'/\', \'=\', \'*\', \'@\', \'|\' or \'>\' as per ls -F"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--inodes",
            ],
            description: Some("Print inode number of each file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--device",
            ],
            description: Some("Print device ID number to which each file belongs"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Sort files alphanumerically by version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Sort files by last modification time"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Sort files by last status change time"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-U",
            ],
            description: Some("Leave files unsorted"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Reverse the order of the sort"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--dirsfirst",
            ],
            description: Some("List directories before files (-U disables)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--sort",
            ],
            description: Some("Select sort"),
            takes_value: true,
            arguments: [
                (
                    name: "type",
                    source: Static([
                        "name",
                        "version",
                        "size",
                        "mtime",
                        "ctime",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Don\'t print indentation lines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-A",
            ],
            description: Some("Print ANSI lines graphic indentation lines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Print with CP437 (console) graphics indentation lines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Turn colorization off always (-C overrides)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-C",
            ],
            description: Some("Turn colorization on always"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-X",
            ],
            description: Some("Prints out an XML representation of the tree"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-J",
            ],
            description: Some("Prints out an JSON representation of the tree"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-H",
            ],
            description: Some("Prints out HTML format with baseHREF as top directory"),
            takes_value: true,
            arguments: [
                (
                    name: "baseHREF",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-T",
            ],
            description: Some("Replace the default HTML title and H1 header with string"),
            takes_value: true,
            arguments: [
                (
                    name: "title",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--nolinks",
            ],
            description: Some("Turn off hyperlinks in HTML output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--fromfile",
            ],
            description: Some("Reads paths from files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Print version and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Print usage and this help message and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--",
            ],
            description: Some("Options processing terminator"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Directories,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)