(
    version: 1,
    command: "truffle",
    description: Some("A world class development environment, testing framework and asset pipeline for blockchains using the Ethereum Virtual Machine (EVM), aiming to make life as a developer easier"),
    subcommands: [
        (
            name: "build",
            description: Some("Execute build pipeline (if configuration present)"),
        ),
        (
            name: "compile",
            description: Some("Compile contract source files"),
            options: [
                (
                    names: [
                        "--list",
                    ],
                    description: Some("List all recent stable releases from solc-bin. If filter is specified then it will display only that type of release or docker tags"),
                    arguments: [
                        (
                            name: "filter",
                            description: Some("The filter parameter must be one of the following: prereleases, releases, latestRelease or docker"),
                            suggestions: [
                                (
                                    name: "prereleases",
                                ),
                                (
                                    name: "releases",
                                ),
                                (
                                    name: "latestRelease",
                                ),
                                (
                                    name: "docker",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--all",
                    ],
                    description: Some("Compile all contracts instead of only the contracts changed since last compile"),
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Suppress all compilation output"),
                ),
            ],
        ),
        (
            name: "config",
            description: Some("Set user-level configuration options"),
            subcommands: [
                (
                    name: "get",
                    description: Some("Get a Truffle configuration option value"),
                    arguments: [
                        (
                            name: "key",
                        ),
                    ],
                ),
                (
                    name: "set",
                    description: Some("Set a Truffle configuration option value"),
                    arguments: [
                        (
                            name: "key",
                        ),
                        (
                            name: "value-for-set",
                        ),
                    ],
                ),
            ],
            options: [
                (
                    names: [
                        "--enable-analytics",
                    ],
                    description: Some("Enable Truffle to send usage data to Google Analytics"),
                    exclusive_on: [
                        "--disable-analytics",
                    ],
                ),
                (
                    names: [
                        "--disable-analytics",
                    ],
                    description: Some("Disable Truffle's ability to send usage data to Google Analytics"),
                    exclusive_on: [
                        "--enable-analytics",
                    ],
                ),
            ],
        ),
        (
            name: "console",
            description: Some("Run a console with contract abstractions and commands available"),
            options: [
                (
                    names: [
                        "--network",
                    ],
                    description: Some("Specify the network to use"),
                    arguments: [
                        (
                            name: "name",
                            description: Some("Network name must exist in the configuration"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--verbose-rpc",
                    ],
                    description: Some("Log communication between Truffle and the Ethereum client"),
                ),
                (
                    names: [
                        "--require",
                        "-r",
                    ],
                    description: Some("Preload console environment from required JavaScript file"),
                    arguments: [
                        (
                            name: "file",
                            description: Some("The default export must be an object with named keys that will be used to populate the console environment. For example, if your JavaScript is module.exports = { desert: \"yes please!\" } then breakfast will be available in the console with the value \"yes please!.\""),
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--require-none",
                    ],
                    description: Some("Do not load any user-defined JavaScript into the console environment. This option takes precedence over --require, -r, and values provided for console.require in your project's truffle-config.js"),
                ),
            ],
        ),
        (
            name: "create",
            description: Some("Helper to create new contracts, migrations and tests"),
            arguments: [
                (
                    name: "artifact_type",
                    description: Some("Create a new artifact where artifact_type is one of the following: contract, migration, test or all. The new artifact is created along with one(or all) of the followingfiles: `contracts/ArtifactName.sol`, `migrations/####_artifact_name.js` or`tests/artifact_name.js`. (required)"),
                    suggestions: [
                        (
                            name: "contract",
                        ),
                        (
                            name: "migration",
                        ),
                        (
                            name: "test",
                        ),
                        (
                            name: "all",
                        ),
                    ],
                ),
                (
                    name: "ArtifactName",
                    description: Some("Name of new artifact. (required)"),
                ),
            ],
        ),
        (
            name: "debug",
            description: Some("Interactively debug any transaction on the blockchain"),
            options: [
                (
                    names: [
                        "--network",
                    ],
                    description: Some("The network to connect to"),
                    arguments: [
                        (
                            name: "network",
                        ),
                    ],
                ),
                (
                    names: [
                        "--fetch-external",
                        "-x",
                    ],
                    description: Some("Allows the debugger to download source from source verification services to debug transactions involving external contracts. When used, a transaction hash is required. May be abbreviated -x"),
                ),
                (
                    names: [
                        "--compile-tests",
                    ],
                    description: Some("Allows the debugger to compile Solidity test contracts. Implies --compile-all"),
                    exclusive_on: [
                        "--compile-all",
                        "--compile-none",
                    ],
                ),
                (
                    names: [
                        "--compile-all",
                    ],
                    description: Some("Forces the debugger to recompile all contracts, even when it would otherwise judge doing so unnecessary. Compilation results are not saved"),
                    exclusive_on: [
                        "--compile-tests",
                        "--compile-none",
                    ],
                ),
                (
                    names: [
                        "--compile-none",
                    ],
                    description: Some("Forces the debugger not to recompile contracts, even when it would otherwise judge it necessary. This option is dangerous and may cause errors. Please only use this if you are sure a recompilation is not necessary"),
                    exclusive_on: [
                        "--compile-tests",
                        "--compile-all",
                    ],
                ),
            ],
            arguments: [
                (
                    name: "transaction_hash",
                    description: Some("Transaction ID to use for debugging. You can omit this to simply start the debugger and then load a transaction later"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "deploy",
            description: Some("Alias for migrate. See migrate for details"),
        ),
        (
            name: "develop",
            description: Some("Open a console with a development blockchaine"),
            options: [
                (
                    names: [
                        "--log",
                    ],
                    description: Some("Start/Connect to a Truffle develop session and log all RPC activity. See the Log RPC Activity docs for more information about using this option"),
                    arguments: [
                        (
                            name: "network",
                        ),
                    ],
                ),
                (
                    names: [
                        "--require",
                        "-r",
                    ],
                    description: Some("Preload console environment from required JavaScript file"),
                    arguments: [
                        (
                            name: "file",
                            description: Some("The default export must be an object with named keys that will be used to populate the console environment. For example, if your JavaScript is module.exports = { desert: \"yes please!\" } then breakfast will be available in the console with the value \"yes please!.\""),
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--require-none",
                    ],
                    description: Some("Do not load any user-defined JavaScript into the console environment. This option takes precedence over --require, -r, and values provided for console.require in your project's truffle-config.js"),
                ),
            ],
        ),
        (
            name: "exec",
            description: Some("Execute a JS module within the Truffle environment"),
            options: [
                (
                    names: [
                        "--network",
                    ],
                    description: Some("Specify the network to use, using artifacts specific to that network"),
                    arguments: [
                        (
                            name: "name",
                            description: Some("Network name must exist in the configuration"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--compile",
                    ],
                    description: Some("Compile contracts before executing the script"),
                ),
            ],
            arguments: [
                (
                    name: "script.js",
                    description: Some("JavaScript file to be executed. Can include path information if the script does not exist in the current directory. (required)"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Display a list of all commands or information about a specific command"),
            arguments: [
                (
                    name: "command",
                    description: Some("Display usage information about the specified command"),
                    suggestions: [
                        (
                            name: "build",
                        ),
                        (
                            name: "compile",
                        ),
                        (
                            name: "config",
                        ),
                        (
                            name: "console",
                        ),
                        (
                            name: "create",
                        ),
                        (
                            name: "debug",
                        ),
                        (
                            name: "deploy",
                        ),
                        (
                            name: "develop",
                        ),
                        (
                            name: "exec",
                        ),
                        (
                            name: "help",
                        ),
                        (
                            name: "init",
                        ),
                        (
                            name: "install",
                        ),
                        (
                            name: "networks",
                        ),
                        (
                            name: "obtain",
                        ),
                        (
                            name: "opcode",
                        ),
                        (
                            name: "publish",
                        ),
                        (
                            name: "run",
                        ),
                        (
                            name: "version",
                        ),
                        (
                            name: "watch",
                        ),
                        (
                            name: "preserve",
                        ),
                        (
                            name: "migrate",
                        ),
                        (
                            name: "unbox",
                        ),
                        (
                            name: "test",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "init",
            description: Some("Initialize new and empty Ethereum project"),
            options: [
                (
                    names: [
                        "--force",
                    ],
                    description: Some("Initialize project regardless of the current working directory's state. Be careful, this could overwrite existing files that have name conflicts"),
                    presentation: (
                        dangerous: true,
                    ),
                ),
            ],
        ),
        (
            name: "install",
            description: Some("Install a package from the Ethereum Package Registry"),
            arguments: [
                (
                    name: "package_name",
                    description: Some("Name of the package as listed in the Ethereum Package Registry. (required)"),
                ),
                (
                    name: "@version",
                    description: Some("When specified, will install a specific version of the package, otherwise will install the latest version"),
                ),
            ],
        ),
        (
            name: "networks",
            description: Some("Show addresses for deployed contracts on each network"),
            options: [
                (
                    names: [
                        "--clean",
                    ],
                    description: Some("Remove all network artifacts that aren't associated with a named network"),
                ),
            ],
        ),
        (
            name: "obtain",
            description: Some("Fetch and cache a specified compiler"),
            options: [
                (
                    names: [
                        "--solc",
                    ],
                    description: Some("Download and cache a version of the solc compiler. (required)"),
                    arguments: [
                        (
                            name: "version",
                        ),
                    ],
                    required: true,
                ),
            ],
        ),
        (
            name: "opcode",
            description: Some("Print the compiled opcodes for a given contract"),
            arguments: [
                (
                    name: "contract_name",
                    description: Some("Name of the contract to print opcodes for. Must be a contract name, not a file name. (required)"),
                ),
            ],
        ),
        (
            name: "publish",
            description: Some("Publish a package to the Ethereum Package Registry"),
        ),
        (
            name: "run",
            description: Some("Run a third-party plugin command"),
            arguments: [
                (
                    name: "command",
                    description: Some("Name of a command defined by an installed plugin. (required)"),
                ),
            ],
        ),
        (
            name: "version",
            description: Some("Show version number and exit"),
        ),
        (
            name: "watch",
            description: Some("Watch filesystem for changes and rebuild the project automatically"),
        ),
        (
            name: "preserve",
            description: Some("Save data to decentralized storage platforms like IPFS and Filecoin"),
            options: [
                (
                    names: [
                        "--environment",
                    ],
                    description: Some("Environment name, as defined in truffle-config `environments` object"),
                    arguments: [
                        (
                            name: "name",
                            default: Some("development"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--ipfs",
                    ],
                    description: Some("Preserve to IPFS"),
                ),
                (
                    names: [
                        "--filecoin",
                    ],
                    description: Some("Preserve to Filecoin"),
                ),
                (
                    names: [
                        "--buckets",
                    ],
                    description: Some("Preserve to Textile Buckets"),
                ),
            ],
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "migrate",
            description: Some("Run migrations to deploy contracts"),
            options: [
                (
                    names: [
                        "--reset",
                    ],
                    description: Some("Run all migrations from the beginning, instead of running from the last completed migration"),
                ),
                (
                    names: [
                        "--f",
                    ],
                    description: Some("Run contracts from a specific migration"),
                    arguments: [
                        (
                            name: "number",
                            description: Some("The number refers to the prefix of the migration file"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--to",
                    ],
                    description: Some("Run contracts to a specific migration"),
                    arguments: [
                        (
                            name: "number",
                            description: Some("The number refers to the prefix of the migration file"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--network",
                    ],
                    description: Some("Specify the network to use, saving artifacts specific to that network"),
                    arguments: [
                        (
                            name: "name",
                            description: Some("Network name must exist in the configuration"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--compile-all",
                    ],
                    description: Some("Compile all contracts instead of intelligently choosing which contracts need to be compiled"),
                ),
                (
                    names: [
                        "--verbose-rpc",
                    ],
                    description: Some("Log communication between Truffle and the Ethereum client"),
                ),
                (
                    names: [
                        "--dry-run",
                    ],
                    description: Some("Fork the network specified and only perform a test migration"),
                ),
                (
                    names: [
                        "--skip-dry-run",
                    ],
                    description: Some("Skip the test migration performed before the real migration"),
                ),
                (
                    names: [
                        "--interactive",
                    ],
                    description: Some("Prompt to confirm that the user wants to proceed after the dry run"),
                ),
                (
                    names: [
                        "--describe-json",
                    ],
                    description: Some("Prints additional status messages"),
                ),
            ],
        ),
        (
            name: "unbox",
            description: Some("Download a Truffle Box, a pre-built Truffle project"),
            options: [
                (
                    names: [
                        "--force",
                    ],
                    description: Some("Unbox project in the current directory regardless of its state. Be careful, this will potentially overwrite files that exist in the directory"),
                    presentation: (
                        dangerous: true,
                    ),
                ),
            ],
            arguments: [
                (
                    name: "box_name",
                    description: Some("Name of the Truffle Box. (required)"),
                ),
                (
                    name: "path",
                    generators: [
                        (
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "test",
            description: Some("Run JavaScript and Solidity tests"),
            options: [
                (
                    names: [
                        "--compile-all",
                    ],
                    description: Some("Compile all contracts instead of intelligently choosing which contracts need to be compiled"),
                ),
                (
                    names: [
                        "--compile-all-debug",
                    ],
                    description: Some("Like --compile-all, but compiles contracts in debug mode for extra information. Has no effect on Solidity <0.6.3"),
                ),
                (
                    names: [
                        "--network",
                    ],
                    description: Some("Specify the network to use, using artifacts specific to that network"),
                    arguments: [
                        (
                            name: "name",
                            description: Some("Network name must exist in the configuration"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--verbose-rpc",
                    ],
                    description: Some("Log communication between Truffle and the Ethereum client"),
                ),
                (
                    names: [
                        "--show-events",
                    ],
                    description: Some("Log all contract events"),
                ),
                (
                    names: [
                        "--debug",
                    ],
                    description: Some("Provides global debug() function for in-test debugging. Usable with Javascript tests only; implies --compile-all"),
                ),
                (
                    names: [
                        "--debug-global",
                    ],
                    description: Some("Allows one to rename the debug() function to something else"),
                    arguments: [
                        (
                            name: "identifier",
                        ),
                    ],
                ),
                (
                    names: [
                        "--bail",
                        "-b",
                    ],
                    description: Some("Bail after the first test failure. May be abbreviated -b"),
                ),
                (
                    names: [
                        "--stacktrace",
                        "-t",
                    ],
                    description: Some("Allows for mixed Javascript-and-Solidity stacktraces when a Truffle Contract transaction or deployment reverts. Does not apply to calls or gas estimates. Implies --compile-all. May be abbreviated -t. Warning: This option is still somewhat experimental"),
                ),
                (
                    names: [
                        "--stacktrace-extra",
                    ],
                    description: Some("Shortcut for --stacktrace --compile-all-debug"),
                ),
            ],
            arguments: [
                (
                    name: "test_file",
                    description: Some("Name of the test file to be run. Can include path information if the file does not exist in the current directory"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
    ],
)
