(
    version: 1,
    command: "trunk",
    description: Some("An all-in-one tool for scalably checking, formatting, and monitoring code"),
    subcommands: [
        (
            name: "init",
            description: Some("Setup trunk in this repo"),
            options: [
                (
                    names: [
                        "--lock",
                    ],
                    description: Some("Add sha256s to trunk.yaml for additional verification"),
                ),
                (
                    names: [
                        "--check-sample",
                    ],
                    description: Some("Run `trunk check sample` without prompting"),
                    exclusive_on: [
                        "--nocheck-sample",
                    ],
                ),
                (
                    names: [
                        "--nocheck-sample",
                    ],
                    description: Some("Do not run `trunk check sample` post-init"),
                    exclusive_on: [
                        "--check-sample",
                    ],
                ),
                (
                    names: [
                        "--force",
                    ],
                    description: Some("Overwrite existing trunk.yaml"),
                ),
            ],
        ),
        (
            name: "check",
            description: Some("Universal code checker"),
            subcommands: [
                (
                    name: "upgrade",
                    description: Some("Upgrade all linters to latest versions"),
                    arguments: [
                        (
                            name: "linters",
                            description: Some("Linter(s) to upgrade (upgrades all if none specified)"),
                            variadic: true,
                        ),
                    ],
                ),
                (
                    name: "download",
                    description: Some("Download all files needed for trunk to work offline"),
                    arguments: [
                        (
                            name: "tools",
                            description: Some("Tool(s) to download (if omitted, downloads all configured tools)"),
                            variadic: true,
                        ),
                    ],
                ),
                (
                    name: "enable",
                    description: Some("Enable linters"),
                    arguments: [
                        (
                            name: "linters",
                            description: Some("Linter(s) to enable"),
                            variadic: true,
                        ),
                    ],
                ),
                (
                    name: "disable",
                    description: Some("Disable linters"),
                    arguments: [
                        (
                            name: "linters",
                            description: Some("Linter(s) to disable"),
                            variadic: true,
                        ),
                    ],
                ),
            ],
            options: [
                (
                    names: [
                        "-y",
                        "--fix",
                    ],
                    description: Some("Automatically apply all fixes without prompting"),
                ),
                (
                    names: [
                        "-a",
                        "--all",
                    ],
                    description: Some("Run on all files instead of only changed files"),
                ),
                (
                    names: [
                        "-n",
                        "--no-fix",
                    ],
                    description: Some("Don't automatically apply fixes"),
                ),
                (
                    names: [
                        "--include-existing-autofixes",
                    ],
                    description: Some("Show autofixes for existing issues"),
                ),
                (
                    names: [
                        "--force",
                    ],
                    description: Some("Run on all files, even if ignored"),
                ),
                (
                    names: [
                        "--diff",
                    ],
                    description: Some("Diff printing mode"),
                    arguments: [
                        (
                            name: "mode",
                            suggestions: [
                                (
                                    name: "none",
                                ),
                                (
                                    name: "compact",
                                ),
                                (
                                    name: "full",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--filter",
                    ],
                    description: Some("Filter the set of executed linters and/or the returned codes; use a leading '-' to exclude a linter or code"),
                    arguments: [
                        (
                            name: "linter or code",
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--exclude",
                    ],
                    description: Some("Shorthand for an inverse --filter"),
                    arguments: [
                        (
                            name: "linter or code",
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "-j",
                        "--jobs",
                    ],
                    description: Some("Number of concurrent jobs (does not affect background linting)"),
                    arguments: [
                        (
                            name: "number",
                        ),
                    ],
                ),
                (
                    names: [
                        "--sample",
                    ],
                    description: Some("Run each linter on N files (implies --no-fix and --all if no paths are given)"),
                    arguments: [
                        (
                            name: "N",
                        ),
                        (
                            name: "paths",
                            template: [
                                FilePaths,
                            ],
                            optional: true,
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--upstream",
                    ],
                    description: Some("Upstream branch used to compute changed files (autodetected by default)"),
                    arguments: [
                        (
                            name: "branch",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "paths",
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "fmt",
            description: Some("Universal code formatter"),
            options: [
                (
                    names: [
                        "-a",
                        "--all",
                    ],
                    description: Some("Run on all files instead of only changed files"),
                ),
                (
                    names: [
                        "-n",
                        "--no-fix",
                    ],
                    description: Some("Don't automatically apply fixes"),
                ),
                (
                    names: [
                        "--include-existing-autofixes",
                    ],
                    description: Some("Show autofixes for existing issues"),
                ),
                (
                    names: [
                        "--force",
                    ],
                    description: Some("Run on all files, even if ignored"),
                ),
                (
                    names: [
                        "--diff",
                    ],
                    description: Some("Diff printing mode"),
                    arguments: [
                        (
                            name: "mode",
                            suggestions: [
                                (
                                    name: "none",
                                ),
                                (
                                    name: "compact",
                                ),
                                (
                                    name: "full",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--filter",
                    ],
                    description: Some("Filter the set of executed linters and/or the returned codes; use a leading '-' to exclude a linter or code"),
                    arguments: [
                        (
                            name: "linter or code",
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--exclude",
                    ],
                    description: Some("Shorthand for an inverse --filter"),
                    arguments: [
                        (
                            name: "linter or code",
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "-j",
                        "--jobs",
                    ],
                    description: Some("Number of concurrent jobs (does not affect background linting)"),
                    arguments: [
                        (
                            name: "number",
                        ),
                    ],
                ),
                (
                    names: [
                        "--sample",
                    ],
                    description: Some("Run each linter on N files (implies --no-fix and --all if no paths are given)"),
                    arguments: [
                        (
                            name: "N",
                        ),
                        (
                            name: "paths",
                            template: [
                                FilePaths,
                            ],
                            optional: true,
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--upstream",
                    ],
                    description: Some("Upstream branch used to compute changed files (autodetected by default)"),
                    arguments: [
                        (
                            name: "branch",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "paths",
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                    variadic: true,
                ),
            ],
        ),
        (
            name: "upgrade",
            description: Some("Upgrade trunk to the latest release"),
        ),
        (
            name: "git-hooks",
            description: Some("Git hooks"),
            subcommands: [
                (
                    name: "install",
                    description: Some("Install trunk git hooks"),
                ),
            ],
        ),
        (
            name: "cache",
            description: Some("Cache management"),
            subcommands: [
                (
                    name: "clean",
                    description: Some("Clean the cache"),
                    options: [
                        (
                            names: [
                                "--all",
                            ],
                            description: Some("Delete all files (including results cache)"),
                        ),
                        (
                            names: [
                                "-n",
                                "--dry-run",
                            ],
                            description: Some("Print all directories that would be cleaned out without running deletion"),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "print-config",
            description: Some("Print the resolved trunk config"),
        ),
        (
            name: "daemon",
            description: Some("Daemon management"),
            subcommands: [
                (
                    name: "launch",
                    description: Some("Start the trunk daemon if its not already running"),
                ),
                (
                    name: "shutdown",
                    description: Some("Shutdown the trunk daemon if it is running"),
                ),
                (
                    name: "status",
                    description: Some("Report daemon status"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Usage information"),
            persistent: true,
        ),
        (
            names: [
                "--version",
            ],
            description: Some("The version"),
            persistent: true,
        ),
        (
            names: [
                "-m",
                "--monitor",
            ],
            description: Some("Enable the trunk daemon to monitor file changes in your repo"),
            arguments: [
                (
                    name: "value",
                    suggestions: [
                        (
                            name: "true",
                        ),
                        (
                            name: "false",
                        ),
                    ],
                ),
            ],
            persistent: true,
        ),
        (
            names: [
                "--ci",
            ],
            description: Some("Run in continuous integration mode"),
            persistent: true,
        ),
        (
            names: [
                "-o",
                "--output",
            ],
            description: Some("Output format"),
            arguments: [
                (
                    name: "format",
                    suggestions: [
                        (
                            name: "text",
                        ),
                        (
                            name: "json",
                        ),
                    ],
                ),
            ],
            persistent: true,
        ),
        (
            names: [
                "--no-progress",
            ],
            description: Some("Don't show progress updates"),
            persistent: true,
            exclusive_on: [
                "--ci-progress",
            ],
        ),
        (
            names: [
                "--ci-progress",
            ],
            description: Some("Show updates every 30 seconds without clearing terminal screen (implicit with --ci)"),
            persistent: true,
            exclusive_on: [
                "--no-progress",
            ],
        ),
        (
            names: [
                "--action_timeout",
            ],
            description: Some("How long actions (downloads, lint runs, etc.) have to time out, with units (s, ms, etc)"),
            arguments: [
                (
                    name: "timeout",
                ),
            ],
            persistent: true,
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Output details about what's happening under the hood"),
            persistent: true,
        ),
    ],
)
