(
    version: 1,
    command: "tsx",
    description: Some("Run TypeScript file using tsx"),
    subcommands: [
        (
            name: "watch",
            description: Some("Run the script and watch for changes"),
            arguments: [
                (
                    name: "script path",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                    is_script: true,
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for tsx"),
            persistent: true,
        ),
        (
            names: [
                "--no-cache",
            ],
            description: Some("Disable caching"),
            persistent: true,
        ),
        (
            names: [
                "--clear-screen",
            ],
            description: Some("Disable clearing the screen on rerun"),
            arguments: [
                (
                    name: "script path",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                    is_script: true,
                ),
            ],
            persistent: true,
            depends_on: [
                "watch",
            ],
            presentation: (
                insert_value: Some("--clear-screen=false"),
            ),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show version"),
        ),
        (
            names: [
                "--tsconfig",
            ],
            description: Some("Custom tsconfig.json path"),
            arguments: [
                (
                    name: "tsconfig.json path",
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "script path",
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
            is_script: true,
        ),
    ],
)
