(
    version: 1,
    command: "turbo",
    description: Some("Turborepo is a high-performance build system for JavaScript and TypeScript codebases"),
    subcommands: [
        (
            name: "bin",
            aliases: [],
            description: Some("Get the path to the turbo binary"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "link",
            aliases: [],
            description: Some("Link your local directory to a Vercel organization and enable remote caching"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--no-gitignore",
                    ],
                    description: Some("Do not create or modify .gitignore"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "login",
            aliases: [],
            description: Some("Login to your Vercel account"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--sso-team",
                    ],
                    description: Some("Attempt to authenticate to the specified team using SSO"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "logout",
            aliases: [],
            description: Some("Logout of your Vercel account"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "prune",
            aliases: [],
            description: Some("Prepare a subset of your monorepo"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--scope",
                    ],
                    description: Some("Specify package to act as entry point for pruned monorepo"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "package",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--docker",
                    ],
                    description: Some("Output pruned workspace into \'fill\' and \'json\' directories optimized for Docker layer caching"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "unlink",
            aliases: [],
            description: Some("Unlink the current directory from your Vercel organization and disable remote caching"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "run",
            aliases: [],
            description: Some("Run tasks in your monorepo"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--scope",
                    ],
                    description: Some("Specify packages to act as entry points for task execution"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "package",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--cache-dir",
                    ],
                    description: Some("Specify local filesystem cache directory"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "dir",
                            source: Directories,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--concurrency",
                    ],
                    description: Some("Limit the concurrency of task execution (use `1` for serial)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "limit",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--continue",
                    ],
                    description: Some("Continue execution even if a task exits with an error"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--force",
                    ],
                    description: Some("Ignore the existing cache"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--graph",
                    ],
                    description: Some("Generate a Dot graph of the task execution"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--global-deps",
                    ],
                    description: Some("Specify glob of global filesystem dependencies to be hashed (useful for .env and files in the root directory)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "glob",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--since",
                    ],
                    description: Some("Limit/set scope to changed packages since a mergebase"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "branch",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [
                                    "git",
                                    "--no-optional-locks",
                                    "branch",
                                    "-a",
                                    "--no-color",
                                    "--sort=-committerdate",
                                ],
                                has_post_process: true,
                                has_custom: false,
                            )),
                        ),
                    ],
                ),
                (
                    names: [
                        "--team",
                    ],
                    description: Some("The slug of a turborepo.com team"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "slug",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--token",
                    ],
                    description: Some("A turborepo.com access token"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "token",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ignore",
                    ],
                    description: Some("Files to ignore when calculating changed files (supports globs)"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "files",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--profile",
                    ],
                    description: Some("File to write turbo\'s performance profile into"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--parallel",
                    ],
                    description: Some("Execute all tasks in parallel"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--include-dependencies",
                    ],
                    description: Some("Include the dependencies of tasks in execution"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-deps",
                    ],
                    description: Some("Exclude dependent task consumers from execution"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-cache",
                    ],
                    description: Some("Avoid saving task results to the cache (useful for development/watch tasks)"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--output-logs",
                    ],
                    description: None,
                    takes_value: true,
                    arguments: [
                        (
                            name: "level",
                            source: Static([
                                "new-only",
                                "hash-only",
                                "full",
                                "none",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--dry",
                        "--dry-run",
                    ],
                    description: Some("List the packages in scope and the tasks that would be run"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "format",
                            source: Static([
                                "json",
                            ]),
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "tasks",
                    source: Unavailable,
                    optional: false,
                    variadic: true,
                    imported_generator: Some((
                        script: [
                            "bash",
                            "-c",
                            "until [[ ( -f turbo.json || $PWD = \'/\' ) ]]; do cd ..; done; cat turbo.json",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--version",
            ],
            description: Some("Print the version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Print a help message"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)