(
    version: 1,
    command: "twiggy",
    description: Some("A code-size profiler for WebAssembly"),
    subcommands: [
        (
            name: "diff",
            description: Some("Diff the old and new versions of a binary to see what sizes changed"),
        ),
        (
            name: "dominators",
            description: Some("Compute and display the dominator tree for a binary's call graph"),
            presentation: (
                icon: Some("🌲"),
            ),
        ),
        (
            name: "garbage",
            description: Some("Find and display code and data that is not transitively referenced by any exports or public functions"),
            presentation: (
                icon: Some("🗑️"),
            ),
        ),
        (
            name: "help",
            description: Some("Prints this message or the help of the given subcommand(s)"),
            arguments: [
                (
                    name: "subcommand",
                    template: [
                        Help,
                    ],
                ),
            ],
        ),
        (
            name: "monos",
            description: Some("List the generic function monomorphizations that are contributing to code bloat"),
            presentation: (
                icon: Some("📈"),
            ),
        ),
        (
            name: "paths",
            description: Some("Find and display the call paths to a function in the given binary's call graph"),
            presentation: (
                icon: Some("📁"),
            ),
        ),
        (
            name: "top",
            description: Some("List the top code size offenders in a binary"),
            presentation: (
                icon: Some("📈"),
            ),
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Prints help information"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Prints version information"),
        ),
    ],
    presentation: (
        icon: Some("🌱"),
    ),
)
