(
    version: 1,
    command: "typeorm",
    description: Some("TypeORM CLI"),
    subcommands: [
        (
            name: "schema:sync",
            description: Some("Synchronizes your entities with database schema"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which schema synchronization needs to to run"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "schema:log",
            description: Some("Shows sql to be executed by schema:sync command"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection of which schema sync log should be shown"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "schema:drop",
            description: Some("Drops all tables in the database on your default connection"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which to drop all tables"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "query",
            description: Some("Executes given SQL query on a default connection"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which to run a query"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
            arguments: [
                (
                    name: "query",
                    description: Some("The SQL Query to run"),
                ),
            ],
        ),
        (
            name: "entity:create",
            description: Some("Generates a new entity"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which to run a query"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--name",
                    ],
                    description: Some("Name of the entity class"),
                    arguments: [
                        (
                            name: "entity",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "-d",
                        "--dir",
                    ],
                    description: Some("Directory where entity should be created"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "subscriber:create",
            description: Some("Generates a new subscriber"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which to run a query"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--name",
                    ],
                    description: Some("Name of the subscriber class"),
                    arguments: [
                        (
                            name: "subscriber",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "-d",
                        "--dir",
                    ],
                    description: Some("Directory where subscriber should be created"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "migration:create",
            description: Some("Creates a new migration file"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which to run a query"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--name",
                    ],
                    description: Some("Name of the migration class"),
                    arguments: [
                        (
                            name: "migration",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "-d",
                        "--dir",
                    ],
                    description: Some("Directory where migration should be created"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--outputJs",
                    ],
                    description: Some("Generate a migration file on Javascript instead of Typescript"),
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "migration:generate",
            description: Some("Generates a new migration file with sql needs to be executed to update schema"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which to run a query"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--name",
                    ],
                    description: Some("Name of the migration class"),
                    arguments: [
                        (
                            name: "migration",
                        ),
                    ],
                    required: true,
                ),
                (
                    names: [
                        "-d",
                        "--dir",
                    ],
                    description: Some("Directory where migration should be created"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--pretty",
                    ],
                    description: Some("Pretty-print generated SQL"),
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-o",
                        "--outputJs",
                    ],
                    description: Some("Generate a migration file on Javascript instead of Typescript"),
                ),
                (
                    names: [
                        "--dr",
                        "--dryrun",
                    ],
                    description: Some("Prints out the contents of the migration instead of writing it to a file"),
                ),
                (
                    names: [
                        "--ch",
                        "--check",
                    ],
                    description: Some("Verifies that the current database is up to date and that no migrations are needed"),
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "migration:run",
            description: Some("Runs all pending migrations"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which to run a query"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--transaction",
                    ],
                    description: Some("Indicates if transaction should be used or not for migration run"),
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "migration:show",
            description: Some("Show all migrations and whether they have been run or not"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which to run a query"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "migration:revert",
            description: Some("Reverts last executed migration"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which to run a query"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--transaction",
                    ],
                    description: Some("Indicates if transaction should be used or not for migration revert"),
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "version",
            description: Some("Prints TypeORM version this project uses"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "cache:clear",
            description: Some("Clears all data stored in query runner cache"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which to run a query"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--config",
                    ],
                    description: Some("Name of the file with connection configuration"),
                    arguments: [
                        (
                            name: "file",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
        (
            name: "init",
            description: Some("Generates initial TypeORM project structure"),
            options: [
                (
                    names: [
                        "--help",
                    ],
                    description: Some("Show help for command"),
                ),
                (
                    names: [
                        "-c",
                        "--connection",
                    ],
                    description: Some("Name of the connection on which to run a query"),
                    arguments: [
                        (
                            name: "connection",
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--name",
                    ],
                    description: Some("Name of the project directory"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
                (
                    names: [
                        "--db",
                        "--database",
                    ],
                    description: Some("Database type you'll use in your project"),
                    arguments: [
                        (
                            name: "database",
                            suggestions: [
                                (
                                    name: "mysql",
                                ),
                                (
                                    name: "mariadb",
                                ),
                                (
                                    name: "postgres",
                                ),
                                (
                                    name: "cockroachdb",
                                ),
                                (
                                    name: "sqlite",
                                ),
                                (
                                    name: "mssql",
                                ),
                                (
                                    name: "oracle",
                                ),
                                (
                                    name: "cordova",
                                ),
                                (
                                    name: "nativescript",
                                ),
                                (
                                    name: "react-native",
                                ),
                                (
                                    name: "expo",
                                ),
                                (
                                    name: "mongodb",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--express",
                    ],
                    description: Some("Indicates if express should be included in the project"),
                ),
                (
                    names: [
                        "--docker",
                    ],
                    description: Some("Set to true if docker-compose must be generated as well"),
                ),
                (
                    names: [
                        "--pm",
                        "--manager",
                    ],
                    description: Some("Install packages"),
                    arguments: [
                        (
                            name: "manager",
                            suggestions: [
                                (
                                    name: "npm",
                                ),
                                (
                                    name: "yarn",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-v",
                        "--version",
                    ],
                    description: Some("Show the version"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Show help for command"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show the version"),
        ),
    ],
)
