(
    version: 1,
    command: "typos",
    description: Some("Source code spelling correction"),
    options: [
        (
            names: [
                "-c",
                "--config",
            ],
            description: Some("Custom config file"),
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--isolated",
            ],
            description: Some("Ignore implicit configuration files"),
        ),
        (
            names: [
                "--diff",
            ],
            description: Some("Print a diff of what would change"),
        ),
        (
            names: [
                "-w",
                "--write-changes",
            ],
            description: Some("Write fixes out"),
        ),
        (
            names: [
                "--files",
            ],
            description: Some("Debug: Print each file that would be spellchecked"),
        ),
        (
            names: [
                "--identifiers",
            ],
            description: Some("Debug: Print each identifier that would be spellchecked"),
        ),
        (
            names: [
                "--words",
            ],
            description: Some("Debug: Print each word that would be spellchecked"),
        ),
        (
            names: [
                "--dump-config",
            ],
            description: Some("Write the current configuration to file with `-` for stdout"),
            arguments: [
                (
                    name: "path",
                    suggestions: [
                        (
                            name: "-",
                            description: Some("Print to stdout"),
                            presentation: (
                                hidden: true,
                            ),
                        ),
                    ],
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--type-list",
            ],
            description: Some("Show all supported file types"),
        ),
        (
            names: [
                "--format",
            ],
            description: Some("Set the output format"),
            arguments: [
                (
                    name: "format",
                    suggestions: [
                        (
                            name: "silent",
                        ),
                        (
                            name: "brief",
                        ),
                        (
                            name: "long",
                        ),
                        (
                            name: "json",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-j",
                "--threads",
            ],
            description: Some("The approximate number of threads to use"),
            arguments: [
                (
                    name: "number",
                ),
            ],
        ),
        (
            names: [
                "--exclude",
            ],
            description: Some("Ignore files & directories matching the glob"),
            arguments: [
                (
                    name: "glob",
                ),
            ],
        ),
        (
            names: [
                "--hidden",
            ],
            description: Some("Search hidden files and directories"),
        ),
        (
            names: [
                "--no-ignore",
            ],
            description: Some("Don't respect ignore files"),
        ),
        (
            names: [
                "--no-ignore-dot",
            ],
            description: Some("Don't respect .ignore files"),
        ),
        (
            names: [
                "--no-ignore-global",
            ],
            description: Some("Don't respect global ignore files"),
        ),
        (
            names: [
                "--no-ignore-parent",
            ],
            description: Some("Don't respect ignore files in parent directories"),
        ),
        (
            names: [
                "--no-ignore-vcs",
            ],
            description: Some("Don't respect ignore files in vcs directories"),
        ),
        (
            names: [
                "--binary",
            ],
            description: Some("Search binary files"),
        ),
        (
            names: [
                "--no-check-filenames",
            ],
            description: Some("Skip verifying spelling in file names"),
        ),
        (
            names: [
                "--no-check-files",
            ],
            description: Some("Skip verifying spelling in files"),
        ),
        (
            names: [
                "--no-unicode",
            ],
            description: Some("Only allow ASCII characters in identifiers"),
        ),
        (
            names: [
                "--locale",
            ],
            description: Some("Set the locale to use"),
            arguments: [
                (
                    name: "locale",
                    suggestions: [
                        (
                            name: "en",
                        ),
                        (
                            name: "en-us",
                        ),
                        (
                            name: "en-gb",
                        ),
                        (
                            name: "en-ca",
                        ),
                        (
                            name: "en-au",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Controls when to use color"),
            arguments: [
                (
                    name: "when",
                    suggestions: [
                        (
                            name: "auto",
                        ),
                        (
                            name: "always",
                        ),
                        (
                            name: "never",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("More output per occurrence"),
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Less output per occurrence"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help information"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version information"),
        ),
    ],
    arguments: [
        (
            name: "path",
            suggestions: [
                (
                    name: "-",
                    description: Some("Read from stdin"),
                    presentation: (
                        hidden: true,
                    ),
                ),
            ],
            template: [
                FilePaths,
                Folders,
            ],
            optional: true,
            variadic: true,
        ),
    ],
)
