(
    version: 1,
    command: "typos",
    description: Some("Source code spelling correction"),
    subcommands: [],
    options: [
        (
            names: [
                "-c",
                "--config",
            ],
            description: Some("Custom config file"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--isolated",
            ],
            description: Some("Ignore implicit configuration files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--diff",
            ],
            description: Some("Print a diff of what would change"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
                "--write-changes",
            ],
            description: Some("Write fixes out"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--files",
            ],
            description: Some("Debug: Print each file that would be spellchecked"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--identifiers",
            ],
            description: Some("Debug: Print each identifier that would be spellchecked"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--words",
            ],
            description: Some("Debug: Print each word that would be spellchecked"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--dump-config",
            ],
            description: Some("Write the current configuration to file with `-` for stdout"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Static([
                        "-",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--type-list",
            ],
            description: Some("Show all supported file types"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--format",
            ],
            description: Some("Set the output format"),
            takes_value: true,
            arguments: [
                (
                    name: "format",
                    source: Static([
                        "silent",
                        "brief",
                        "long",
                        "json",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-j",
                "--threads",
            ],
            description: Some("The approximate number of threads to use"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--exclude",
            ],
            description: Some("Ignore files & directories matching the glob"),
            takes_value: true,
            arguments: [
                (
                    name: "glob",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--hidden",
            ],
            description: Some("Search hidden files and directories"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-ignore",
            ],
            description: Some("Don\'t respect ignore files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-ignore-dot",
            ],
            description: Some("Don\'t respect .ignore files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-ignore-global",
            ],
            description: Some("Don\'t respect global ignore files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-ignore-parent",
            ],
            description: Some("Don\'t respect ignore files in parent directories"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-ignore-vcs",
            ],
            description: Some("Don\'t respect ignore files in vcs directories"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--binary",
            ],
            description: Some("Search binary files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-check-filenames",
            ],
            description: Some("Skip verifying spelling in file names"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-check-files",
            ],
            description: Some("Skip verifying spelling in files"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-unicode",
            ],
            description: Some("Only allow ASCII characters in identifiers"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--locale",
            ],
            description: Some("Set the locale to use"),
            takes_value: true,
            arguments: [
                (
                    name: "locale",
                    source: Static([
                        "en",
                        "en-us",
                        "en-gb",
                        "en-ca",
                        "en-au",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--color",
            ],
            description: Some("Controls when to use color"),
            takes_value: true,
            arguments: [
                (
                    name: "when",
                    source: Static([
                        "auto",
                        "always",
                        "never",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("More output per occurrence"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Less output per occurrence"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "path",
            source: Static([
                "-",
            ]),
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)