(
    version: 1,
    command: "typst",
    description: Some("The Typst compiler"),
    subcommands: [
        (
            name: "compile",
            aliases: [
                "c",
            ],
            description: Some("Compiles an input file into a supported output format"),
            options: [
                (
                    names: [
                        "--root",
                    ],
                    description: Some("Configures the project root (for absolute paths)"),
                    arguments: [
                        (
                            name: "root",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--font-path",
                    ],
                    description: Some("Adds additional directories to search for fonts"),
                    arguments: [
                        (
                            name: "font_paths",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--diagnostic-format",
                    ],
                    description: Some("The format to emit diagnostics in"),
                    arguments: [
                        (
                            name: "diagnostic_format",
                            suggestions: [
                                (
                                    name: "human",
                                ),
                                (
                                    name: "short",
                                ),
                            ],
                            default: Some("human"),
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--format",
                    ],
                    description: Some("The format of the output file, inferred from the extension by default"),
                    arguments: [
                        (
                            name: "format",
                            suggestions: [
                                (
                                    name: "pdf",
                                ),
                                (
                                    name: "png",
                                ),
                                (
                                    name: "svg",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--open",
                    ],
                    description: Some("Opens the output file using the default viewer after compilation"),
                    arguments: [
                        (
                            name: "open",
                            optional: true,
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ppi",
                    ],
                    description: Some("The PPI (pixels per inch) to use for PNG export"),
                    arguments: [
                        (
                            name: "ppi",
                            default: Some("144.0"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--flamegraph",
                    ],
                    description: Some("Produces a flamegraph of the compilation process"),
                    arguments: [
                        (
                            name: "flamegraph",
                            template: [
                                FilePaths,
                            ],
                            optional: true,
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            arguments: [
                (
                    name: "input",
                    description: Some("Path to input Typst file"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
                (
                    name: "output",
                    description: Some("Path to output file (PDF, PNG, or SVG)"),
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                icon: Some("📄"),
            ),
        ),
        (
            name: "watch",
            aliases: [
                "w",
            ],
            description: Some("Watches an input file and recompiles on changes"),
            options: [
                (
                    names: [
                        "--root",
                    ],
                    description: Some("Configures the project root (for absolute paths)"),
                    arguments: [
                        (
                            name: "root",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--font-path",
                    ],
                    description: Some("Adds additional directories to search for fonts"),
                    arguments: [
                        (
                            name: "font_paths",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--diagnostic-format",
                    ],
                    description: Some("The format to emit diagnostics in"),
                    arguments: [
                        (
                            name: "diagnostic_format",
                            suggestions: [
                                (
                                    name: "human",
                                ),
                                (
                                    name: "short",
                                ),
                            ],
                            default: Some("human"),
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--format",
                    ],
                    description: Some("The format of the output file, inferred from the extension by default"),
                    arguments: [
                        (
                            name: "format",
                            suggestions: [
                                (
                                    name: "pdf",
                                ),
                                (
                                    name: "png",
                                ),
                                (
                                    name: "svg",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--open",
                    ],
                    description: Some("Opens the output file using the default viewer after compilation"),
                    arguments: [
                        (
                            name: "open",
                            optional: true,
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ppi",
                    ],
                    description: Some("The PPI (pixels per inch) to use for PNG export"),
                    arguments: [
                        (
                            name: "ppi",
                            default: Some("144.0"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--flamegraph",
                    ],
                    description: Some("Produces a flamegraph of the compilation process"),
                    arguments: [
                        (
                            name: "flamegraph",
                            template: [
                                FilePaths,
                            ],
                            optional: true,
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            arguments: [
                (
                    name: "input",
                    description: Some("Path to input Typst file"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
                (
                    name: "output",
                    description: Some("Path to output file (PDF, PNG, or SVG)"),
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                icon: Some("🔄"),
            ),
        ),
        (
            name: "query",
            description: Some("Processes an input file to extract provided metadata"),
            options: [
                (
                    names: [
                        "--root",
                    ],
                    description: Some("Configures the project root (for absolute paths)"),
                    arguments: [
                        (
                            name: "root",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--font-path",
                    ],
                    description: Some("Adds additional directories to search for fonts"),
                    arguments: [
                        (
                            name: "font_paths",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--diagnostic-format",
                    ],
                    description: Some("The format to emit diagnostics in"),
                    arguments: [
                        (
                            name: "diagnostic_format",
                            suggestions: [
                                (
                                    name: "human",
                                ),
                                (
                                    name: "short",
                                ),
                            ],
                            default: Some("human"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--field",
                    ],
                    description: Some("Extracts just one field from all retrieved elements"),
                    arguments: [
                        (
                            name: "field",
                        ),
                    ],
                ),
                (
                    names: [
                        "--format",
                    ],
                    description: Some("The format to serialize in"),
                    arguments: [
                        (
                            name: "format",
                            suggestions: [
                                (
                                    name: "json",
                                ),
                                (
                                    name: "yaml",
                                ),
                            ],
                            default: Some("json"),
                        ),
                    ],
                ),
                (
                    names: [
                        "--one",
                    ],
                    description: Some("Expects and retrieves exactly one element"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            arguments: [
                (
                    name: "input",
                    description: Some("Path to input Typst file"),
                    generators: [
                        (
                            has_custom: true,
                            has_dynamic_trigger: true,
                            has_dynamic_query_term: true,
                        ),
                    ],
                ),
                (
                    name: "selector",
                    description: Some("Defines which elements to retrieve"),
                ),
            ],
            presentation: (
                icon: Some("🔍"),
            ),
        ),
        (
            name: "fonts",
            description: Some("Lists all discovered fonts in system and custom font paths"),
            options: [
                (
                    names: [
                        "--font-path",
                    ],
                    description: Some("Adds additional directories to search for fonts"),
                    arguments: [
                        (
                            name: "font_paths",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                    repeat: Many,
                ),
                (
                    names: [
                        "--variants",
                    ],
                    description: Some("Also lists style variants of each font family"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            presentation: (
                icon: Some("🔤"),
            ),
        ),
        (
            name: "update",
            description: Some("Self update the Typst CLI (disabled)"),
            options: [
                (
                    names: [
                        "--force",
                    ],
                    description: Some("Forces a downgrade to an older version (required for downgrading)"),
                    exclusive_on: [
                        "--revert",
                    ],
                ),
                (
                    names: [
                        "--revert",
                    ],
                    description: Some("Reverts to the version from before the last update (only possible if `typst update` has previously ran)"),
                    exclusive_on: [
                        "--force",
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help"),
                ),
            ],
            arguments: [
                (
                    name: "version",
                    description: Some("Which version to update to (defaults to latest)"),
                    optional: true,
                ),
            ],
            presentation: (
                icon: Some("🆙"),
            ),
        ),
        (
            name: "help",
            description: Some("Print this message or the help of the given subcommand(s)"),
            subcommands: [
                (
                    name: "compile",
                    description: Some("Compiles an input file into a supported output format"),
                    presentation: (
                        icon: Some("📄"),
                    ),
                ),
                (
                    name: "watch",
                    description: Some("Watches an input file and recompiles on changes"),
                    presentation: (
                        icon: Some("🔄"),
                    ),
                ),
                (
                    name: "query",
                    description: Some("Processes an input file to extract provided metadata"),
                    presentation: (
                        icon: Some("🔍"),
                    ),
                ),
                (
                    name: "fonts",
                    description: Some("Lists all discovered fonts in system and custom font paths"),
                    presentation: (
                        icon: Some("🔤"),
                    ),
                ),
                (
                    name: "update",
                    description: Some("Self update the Typst CLI (disabled)"),
                    presentation: (
                        icon: Some("🆙"),
                    ),
                ),
                (
                    name: "help",
                    description: Some("Print this message or the help of the given subcommand(s)"),
                    presentation: (
                        icon: Some("ℹ️"),
                    ),
                ),
            ],
            presentation: (
                icon: Some("ℹ️"),
            ),
        ),
    ],
    options: [
        (
            names: [
                "--cert",
            ],
            description: Some("Path to a custom CA certificate to use when making network requests"),
            arguments: [
                (
                    name: "cert",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--verbosity",
            ],
            description: Some("Sets the level of logging verbosity: -v = warning & error, -vv = info, -vvv = debug, -vvvv = trace"),
            repeat: Times(4),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version"),
        ),
    ],
    presentation: (
        icon: Some("📄"),
    ),
)
