(
    version: 1,
    command: "uname",
    description: Some("Print operating system name"),
    options: [
        (
            names: [
                "-a",
            ],
            description: Some("Print all available system information"),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Print the machine hardware name"),
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Print the system hostname"),
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Print the machine processor architecture name"),
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Print the operating system release"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Print the operating system name"),
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Print the operating system version"),
        ),
    ],
)
