(
    version: 1,
    command: "uname",
    description: Some("Print operating system name"),
    subcommands: [],
    options: [
        (
            names: [
                "-a",
            ],
            description: Some("Print all available system information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Print the machine hardware name"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
            ],
            description: Some("Print the system hostname"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Print the machine processor architecture name"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Print the operating system release"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Print the operating system name"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Print the operating system version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)