(
    version: 1,
    command: "uniq",
    description: Some("Report or omit repeated line"),
    subcommands: [],
    options: [
        (
            names: [
                "-c",
                "--count",
            ],
            description: Some("Prefix lines by the number of occurrences"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-d",
                "--repeated",
            ],
            description: Some("Only print duplicate lines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-D",
                "--all-repeated",
            ],
            description: Some("Print all duplicate lines. Delimiting is done with blank lines"),
            takes_value: true,
            arguments: [
                (
                    name: "delimit-method",
                    source: Static([
                        "none",
                        "prepend",
                        "separate",
                    ]),
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--skip-fields",
            ],
            description: Some("Avoid comparing the first N fields"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--ignore-case",
            ],
            description: Some("Ignore differences in case when comparing"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--skip-chars",
            ],
            description: Some("Avoid comparing the first N characters"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
                "--unique",
            ],
            description: Some("Only print unique lines"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-z",
                "--zero-terminated",
            ],
            description: Some("End lines with 0 byte, not newline"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
                "--check-chars",
            ],
            description: Some("Compare no more than N characters in lines"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Display this help and exit"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Output version information and exit"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "input",
            source: Directories,
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
        (
            name: "output",
            source: Files,
            optional: true,
            variadic: false,
            imported_generator: None,
        ),
    ],
)