(
    version: 1,
    command: "uniq",
    description: Some("Report or omit repeated line"),
    options: [
        (
            names: [
                "-c",
                "--count",
            ],
            description: Some("Prefix lines by the number of occurrences"),
        ),
        (
            names: [
                "-d",
                "--repeated",
            ],
            description: Some("Only print duplicate lines"),
        ),
        (
            names: [
                "-D",
                "--all-repeated",
            ],
            description: Some("Print all duplicate lines. Delimiting is done with blank lines"),
            arguments: [
                (
                    name: "delimit-method",
                    suggestions: [
                        (
                            name: "none",
                        ),
                        (
                            name: "prepend",
                        ),
                        (
                            name: "separate",
                        ),
                    ],
                    optional: true,
                    default: Some("none"),
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--skip-fields",
            ],
            description: Some("Avoid comparing the first N fields"),
            arguments: [
                (
                    name: "number",
                ),
            ],
        ),
        (
            names: [
                "-i",
                "--ignore-case",
            ],
            description: Some("Ignore differences in case when comparing"),
        ),
        (
            names: [
                "-s",
                "--skip-chars",
            ],
            description: Some("Avoid comparing the first N characters"),
            arguments: [
                (
                    name: "number",
                ),
            ],
        ),
        (
            names: [
                "-u",
                "--unique",
            ],
            description: Some("Only print unique lines"),
        ),
        (
            names: [
                "-z",
                "--zero-terminated",
            ],
            description: Some("End lines with 0 byte, not newline"),
        ),
        (
            names: [
                "-w",
                "--check-chars",
            ],
            description: Some("Compare no more than N characters in lines"),
            arguments: [
                (
                    name: "number",
                ),
            ],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Display this help and exit"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Output version information and exit"),
        ),
    ],
    arguments: [
        (
            name: "input",
            template: [
                FilePaths,
                Folders,
            ],
            optional: true,
        ),
        (
            name: "output",
            optional: true,
        ),
    ],
)
