(
    version: 1,
    command: "unzip",
    description: Some("Extract compressed files in a ZIP archive"),
    subcommands: [],
    options: [
        (
            names: [
                "-l",
            ],
            description: Some("List the contents of a zip file without extracting"),
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-c",
            ],
            description: None,
            takes_value: true,
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-0",
            ],
            description: Some("Extract a zip file created in windows, containing files with non-ascii (chinese) filenames"),
            takes_value: true,
            arguments: [
                (
                    name: "gbk",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
            ],
            description: None,
            takes_value: true,
            arguments: [
                (
                    name: "destination",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "file",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)