(
    version: 1,
    command: "v",
    description: Some("The V Programming Language"),
    subcommands: [
        (
            name: "run",
            aliases: [],
            description: Some("Compile and run the program"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "crun",
            aliases: [],
            description: Some("Compile if executable inexistent or not updated and run the program"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "watch",
            aliases: [],
            description: Some("Watch the file for changes and recompile"),
            subcommands: [
                (
                    name: "run",
                    aliases: [],
                    description: Some("Run the program after recompiling"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "file",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "new",
            aliases: [],
            description: Some("Setup the file structure for a V project (in a sub folder)"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "init",
            aliases: [],
            description: Some("Setup the file structure for an already existing V project"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "test",
            aliases: [],
            description: Some("Run all test files in the provided directory"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "fmt",
            aliases: [],
            description: Some("Format the V code provided"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "vet",
            aliases: [],
            description: Some("Report suspicious code constructs"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "doc",
            aliases: [],
            description: Some("Generate documentation for a V module"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "vlib-docs",
            aliases: [],
            description: Some("Generate and open the documentation of all the vlib modules"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "repl",
            aliases: [],
            description: Some("Run the REPL"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "where",
            aliases: [],
            description: Some("Find and print the location of current project declarations"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "symlink",
            aliases: [],
            description: Some("Create a symbolic link for V"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "up",
            aliases: [],
            description: Some("Run the V self-updater"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "self",
            aliases: [],
            description: Some("Run the V self-compiler"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-prod",
                    ],
                    description: Some("Compile V for production (optimize compilation)"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Display help for V"),
            subcommands: [
                (
                    name: "other",
                    aliases: [],
                    description: Some("Display help for less frequently used commands"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "topics",
                    aliases: [],
                    description: Some("Display a list of all known help topics"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [
                (
                    name: "value",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [
                            "v",
                            "help",
                            "topics",
                        ],
                        has_post_process: true,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for V"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "version",
                "--version",
                "-v",
            ],
            description: Some("Show V installed version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "file",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)