(
    version: 1,
    command: "vale",
    description: Some("A syntax-aware linter for prose built with speed and extensibility in mind"),
    subcommands: [
        (
            name: "ls-config",
            aliases: [],
            description: Some("Print the current configuration to stdout"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "ls-metrics",
            aliases: [],
            description: Some("Print the given file\'s internal metrics to stdout"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for vale"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Print the current version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ignore-syntax",
            ],
            description: Some("Lint all files line-by-line"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-exit",
            ],
            description: Some("Don\'t return a nonzero exit code on errors"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-wrap",
            ],
            description: Some("Don\'t wrap CLI output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--ext",
            ],
            description: Some("An extension to associate with stdin"),
            takes_value: true,
            arguments: [
                (
                    name: "ext",
                    source: Static([
                        ".md",
                        ".rst",
                        ".adoc",
                        ".html",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--glob",
            ],
            description: Some("A glob pattern"),
            takes_value: true,
            arguments: [
                (
                    name: "glob",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--minAlertLevel",
            ],
            description: Some("The minimum level to display"),
            takes_value: true,
            arguments: [
                (
                    name: "level",
                    source: Static([
                        "suggestion",
                        "warning",
                        "error",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--output",
            ],
            description: Some("The alert output style to use"),
            takes_value: true,
            arguments: [
                (
                    name: "style",
                    source: Static([
                        "line",
                        "JSON",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--config",
            ],
            description: Some("A path to a .vale.ini file"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "value",
            source: Directories,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)