(
    version: 1,
    command: "vapor",
    description: Some("Vapor Toolbox (Server-side Swift web framework)"),
    subcommands: [
        (
            name: "build",
            aliases: [],
            description: Some("Builds an app in the console"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "new",
            aliases: [],
            description: Some("Generates a new app"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--template",
                        "-T",
                    ],
                    description: Some("The URL of a Git repository to use as a template"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--branch",
                    ],
                    description: Some("Template repository branch to use"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--output",
                        "-o",
                    ],
                    description: Some("The directory to place the new project in"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--no-commit",
                    ],
                    description: Some("Skips adding a first commit to the newly created repo"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "clean",
            aliases: [],
            description: Some("Cleans temporary files"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--update",
                        "-u",
                    ],
                    description: Some("Delete Package.resolved file if it exists"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--global",
                        "-g",
                    ],
                    description: Some("Clean Xcode\'s global DerivedData cache"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "--swiftpm",
                        "-s",
                    ],
                    description: Some("Delete .swiftpm folder"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "heroku",
            aliases: [],
            description: Some("Commands for working with Heroku"),
            subcommands: [
                (
                    name: "init",
                    aliases: [],
                    description: Some("Configures app for deployment to Heroku"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "push",
                    aliases: [],
                    description: Some("Deploys app to Heroku"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "run",
            aliases: [],
            description: Some("Runs an app from the console. Equivalent to `swift run --enable-test-discovery Run`"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "supervisor",
            aliases: [],
            description: Some("Commands for working with Supervisord"),
            subcommands: [
                (
                    name: "init",
                    aliases: [],
                    description: Some("Creates a Supervisor entry for the current project"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "restart",
                    aliases: [],
                    description: Some("Restarts current project in Supervisor"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
                (
                    name: "update",
                    aliases: [],
                    description: Some("Updates Supervisor entry for current project"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "xcode",
            aliases: [],
            description: Some("Opens an app in Xcode"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for vapor"),
            takes_value: true,
            arguments: [
                (
                    name: "command",
                    source: Static([
                        "clean",
                        "heroku",
                        "new",
                        "run",
                        "supervisor",
                        "xcode",
                        "build",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [],
)