(
    version: 1,
    command: "vim",
    description: Some("Vi IMproved, a programmer's text editor"),
    options: [
        (
            names: [
                "-v",
            ],
            description: Some("Vi mode (like 'vi')"),
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Ex mode (like 'ex')"),
        ),
        (
            names: [
                "-E",
            ],
            description: Some("Improved Ex mode"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("Enable silent mode (when in ex mode), or Read Normal mode commands from file"),
            arguments: [
                (
                    name: "scriptin",
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Diff mode (like 'vimdiff')"),
        ),
        (
            names: [
                "-y",
            ],
            description: Some("Easy mode (like 'evim', modeless)"),
        ),
        (
            names: [
                "-R",
            ],
            description: Some("Readonly mode (like 'view')"),
        ),
        (
            names: [
                "-Z",
            ],
            description: Some("Restricted mode (like 'rvim')"),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Modifications (writing files) not allowed"),
        ),
        (
            names: [
                "-M",
            ],
            description: Some("Modifications in text not allowed"),
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Binary mode"),
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Lisp mode"),
        ),
        (
            names: [
                "-C",
            ],
            description: Some("Compatible with Vi: 'compatible'"),
        ),
        (
            names: [
                "-N",
            ],
            description: Some("Not fully Vi compatible: 'nocompatible'"),
        ),
        (
            names: [
                "-V",
            ],
            description: Some("Be verbose [level N] [log messages to fname]"),
            arguments: [
                (
                    name: "N",
                ),
                (
                    name: "fname",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-D",
            ],
            description: Some("Debugging mode"),
        ),
        (
            names: [
                "-n",
            ],
            description: Some("No swap file, use memory only"),
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Recover crashed session if filename is specified, otherwise list swap files and exit"),
            arguments: [
                (
                    name: "filename",
                    template: [
                        FilePaths,
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-L",
            ],
            description: Some("Same as -r"),
            arguments: [
                (
                    name: "filename",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-T",
            ],
            description: Some("Set terminal type to <terminal>"),
            arguments: [
                (
                    name: "terminal",
                ),
            ],
        ),
        (
            names: [
                "--not-a-term",
            ],
            description: Some("Skip warning for input/output not being a terminal"),
        ),
        (
            names: [
                "--ttyfail",
            ],
            description: Some("Exit if input or output is not a terminal"),
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Use <vimrc> instead of any .vimrc"),
            arguments: [
                (
                    name: "vimrc",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--noplugin",
            ],
            description: Some("Don't load plugin scripts"),
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Open N tab pages (default: one for each file)"),
            arguments: [
                (
                    name: "N",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Open N windows (default: one for each file)"),
            arguments: [
                (
                    name: "N",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "-O",
            ],
            description: Some("Like -o but split vertically"),
            arguments: [
                (
                    name: "N",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "+",
            ],
            description: Some("Start at end of file, if line number is specified, start at that line"),
            arguments: [
                (
                    name: "lnum",
                    optional: true,
                ),
            ],
        ),
        (
            names: [
                "--cmd",
            ],
            description: Some("Execute <command> before loading any vimrc file"),
            arguments: [
                (
                    name: "command",
                    is_command: true,
                ),
            ],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Execute <command> after loading the first file"),
            arguments: [
                (
                    name: "command",
                ),
            ],
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Source file <session> after loading the first file"),
            arguments: [
                (
                    name: "session",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-w",
            ],
            description: Some("Append all typed commands to file <scriptout>"),
            arguments: [
                (
                    name: "scriptout",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-W",
            ],
            description: Some("Write all typed commands to file <scriptout>"),
            arguments: [
                (
                    name: "scriptout",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Edit encrypted files"),
        ),
        (
            names: [
                "--startuptime",
            ],
            description: Some("Write startup timing messages to <file>"),
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Use <viminfo> instead of .viminfo"),
            arguments: [
                (
                    name: "viminfo",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--clean",
            ],
            description: Some("'nocompatible', Vim defaults, no plugins, no viminfo"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print Help message and exit"),
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Print version information and exit"),
        ),
    ],
    arguments: [
        (
            name: "",
            template: [
                FilePaths,
            ],
        ),
    ],
)
