(
    version: 1,
    command: "volta",
    description: Some("The JavaScript Launcher"),
    subcommands: [
        (
            name: "fetch",
            description: Some("Fetches a tool to the local machine"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Enables verbose diagnostics"),
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Prevents unnecessary output"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Prints help information"),
                ),
            ],
            arguments: [
                (
                    name: "tool | tool@version",
                    variadic: true,
                ),
            ],
        ),
        (
            name: "install",
            description: Some("Installs a tool in your toolchain"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Enables verbose diagnostics"),
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Prevents unnecessary output"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Prints help information"),
                ),
            ],
            arguments: [
                (
                    name: "tool@version",
                    variadic: true,
                ),
            ],
        ),
        (
            name: "uninstall",
            description: Some("Uninstalls a tool from your toolchain"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Enables verbose diagnostics"),
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Prevents unnecessary output"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Prints help information"),
                ),
            ],
            arguments: [
                (
                    name: "tool",
                ),
            ],
        ),
        (
            name: "pin",
            description: Some("Pins your project's runtime or package manager"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Enables verbose diagnostics"),
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Prevents unnecessary output"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Prints help information"),
                ),
            ],
            arguments: [
                (
                    name: "tool@version",
                    variadic: true,
                ),
            ],
        ),
        (
            name: "list",
            description: Some("Displays the current toolchain"),
            options: [
                (
                    names: [
                        "-c",
                        "--current",
                    ],
                    description: Some("Show the currently-active tool(s)"),
                ),
                (
                    names: [
                        "-d",
                        "--default",
                    ],
                    description: Some("Show your default tool(s)"),
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Enables verbose diagnostics"),
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Prevents unnecessary output"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Prints help information"),
                ),
                (
                    names: [
                        "--format",
                    ],
                    description: Some("Specify output format"),
                    arguments: [
                        (
                            name: "output format",
                            suggestions: [
                                (
                                    name: "human",
                                ),
                                (
                                    name: "plain",
                                ),
                            ],
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "tool",
                ),
            ],
        ),
        (
            name: "completions",
            description: Some("Generates Volta completions"),
            options: [
                (
                    names: [
                        "-f",
                        "--force",
                    ],
                    description: Some("Write over an existing file, if any"),
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Enables verbose diagnostics"),
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Prevents unnecessary output"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Prints help information"),
                ),
                (
                    names: [
                        "-o",
                        "--output",
                    ],
                    description: Some("File to write generated completions to"),
                    arguments: [
                        (
                            name: "file",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "shell",
                    description: Some("Shell to generate completions for"),
                    suggestions: [
                        (
                            name: "zsh",
                        ),
                        (
                            name: "bash",
                        ),
                        (
                            name: "fish",
                        ),
                        (
                            name: "powershell",
                        ),
                        (
                            name: "elivsh",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "which",
            description: Some("Locates the actual binary that will be called by Volta"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Enables verbose diagnostics"),
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Prevents unnecessary output"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Prints help information"),
                ),
            ],
            arguments: [
                (
                    name: "binary",
                    template: [
                        FilePaths,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "setup",
            description: Some("Enables Volta for the current user"),
            options: [
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Enables verbose diagnostics"),
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Prevents unnecessary output"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Prints help information"),
                ),
            ],
        ),
        (
            name: "run",
            description: Some("Run a command with custom Node, npm, and/or Yarn versions"),
            options: [
                (
                    names: [
                        "--bundle",
                    ],
                    description: Some("Forces npm to be the version bundled with Node"),
                ),
                (
                    names: [
                        "--no-yarn",
                    ],
                    description: Some("Disables Yarn"),
                ),
                (
                    names: [
                        "--verbose",
                    ],
                    description: Some("Enables verbose diagnostics"),
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Prevents unnecessary output"),
                ),
                (
                    names: [
                        "--node",
                    ],
                    description: Some("Set the custom Node version"),
                    arguments: [
                        (
                            name: "version",
                        ),
                    ],
                ),
                (
                    names: [
                        "--npm",
                    ],
                    description: Some("Set the custom npm version"),
                    arguments: [
                        (
                            name: "version",
                        ),
                    ],
                ),
                (
                    names: [
                        "--yarn",
                    ],
                    description: Some("Set the custom Yarn version"),
                    arguments: [
                        (
                            name: "version",
                        ),
                    ],
                ),
                (
                    names: [
                        "--env",
                    ],
                    description: Some("Set an environment variable (can be used multiple times)"),
                    arguments: [
                        (
                            name: "NAME=value",
                        ),
                    ],
                    repeat: Many,
                ),
            ],
            arguments: [
                (
                    name: "command",
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Prints this message or the help of the given subcommand(s)"),
            arguments: [
                (
                    name: "subcommand",
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--verbose",
            ],
            description: Some("Enables verbose diagnostics"),
        ),
        (
            names: [
                "--quiet",
            ],
            description: Some("Prevents unnecessary output"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Prints help information"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Prints the current version of Volta"),
        ),
    ],
)
