(
    version: 1,
    command: "vr",
    description: Some("The npm-style script runner for Deno"),
    subcommands: [
        (
            name: "run",
            description: Some("Run a script"),
            arguments: [
                (
                    name: "script",
                    generators: [
                        (
                            script: [
                                "vr",
                            ],
                            has_post_process: true,
                            cache: Some((
                                stale_while_revalidate: true,
                            )),
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "export",
            description: Some("Export one or more scripts as standalone executable files"),
            arguments: [
                (
                    name: "script",
                    generators: [
                        (
                            script: [
                                "vr",
                            ],
                            has_post_process: true,
                            cache: Some((
                                stale_while_revalidate: true,
                            )),
                        ),
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "upgrade",
            description: Some("Upgrade Velociraptor to the latest version or to a specific one"),
            options: [
                (
                    names: [
                        "-o",
                        "--out-dir",
                    ],
                    description: Some("The folder where the scripts will be exported"),
                    arguments: [
                        (
                            name: "dir",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "version",
                    optional: true,
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for Velociraptor"),
            persistent: true,
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Show the version number for Velociraptor"),
        ),
    ],
    arguments: [
        (
            name: "script",
            generators: [
                (
                    script: [
                        "vr",
                    ],
                    has_post_process: true,
                    cache: Some((
                        stale_while_revalidate: true,
                    )),
                ),
            ],
        ),
    ],
)
