(
    version: 1,
    command: "vsce",
    description: Some("The Visual Studio Code Extension Manager"),
    subcommands: [
        (
            name: "ls",
            description: Some("Lists all the files that will be published"),
            options: [
                (
                    names: [
                        "--yarn",
                    ],
                    description: Some("Use yarn instead of npm (default inferred from presence of yarn.lock or .yarnrc)"),
                ),
                (
                    names: [
                        "--no-yarn",
                    ],
                    description: Some("Use npm instead of yarn (default inferred from lack of yarn.lock or .yarnrc)"),
                ),
                (
                    names: [
                        "--packagedDependencies",
                    ],
                    description: Some("Select packages that should be published only (includes dependencies)"),
                    arguments: [
                        (
                            name: "paths",
                            template: [
                                FilePaths,
                            ],
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ignoreFile",
                    ],
                    description: Some("Indicate alternative .vscodeignore"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-dependencies",
                    ],
                    description: Some("Disable dependency detection via npm or yarn"),
                ),
            ],
        ),
        (
            name: "package",
            description: Some("Packages an extension"),
            options: [
                (
                    names: [
                        "-o",
                        "--out",
                    ],
                    description: Some("Output .vsix extension file to <path> location (defaults to <name>-<version>.vsix)"),
                    arguments: [
                        (
                            name: "path",
                            generators: [
                                (
                                    has_custom: true,
                                    has_dynamic_trigger: true,
                                    has_dynamic_query_term: true,
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--target",
                    ],
                    description: Some("Target architecture"),
                    arguments: [
                        (
                            name: "target",
                            suggestions: [
                                (
                                    name: "win32-x64",
                                ),
                                (
                                    name: "win32-ia32",
                                ),
                                (
                                    name: "win32-arm64",
                                ),
                                (
                                    name: "linux-x64",
                                ),
                                (
                                    name: "linux-arm64",
                                ),
                                (
                                    name: "linux-armhf",
                                ),
                                (
                                    name: "alpine-x64",
                                ),
                                (
                                    name: "alpine-arm64",
                                ),
                                (
                                    name: "darwin-x64",
                                ),
                                (
                                    name: "darwin-arm64",
                                ),
                            ],
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "-m",
                        "--message",
                    ],
                    description: Some("Commit message used when calling `npm version`"),
                    arguments: [
                        (
                            name: "commit message",
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-git-tag-version",
                    ],
                    description: Some("Do not create a version commit and tag when calling `npm version`. Valid only when [version] is provided"),
                ),
                (
                    names: [
                        "--no-update-package-json",
                    ],
                    description: Some("Do not update `package.json`. Valid only when [version] is provided"),
                ),
                (
                    names: [
                        "--githubBranch",
                    ],
                    description: Some("The GitHub branch used to infer relative links in README.md. Can be overridden by --baseContentUrl and --baseImagesUrl"),
                    arguments: [
                        (
                            name: "branch",
                            generators: [
                                (
                                    script: [
                                        "git",
                                        "--no-optional-locks",
                                        "branch",
                                        "-a",
                                        "--no-color",
                                        "--sort=-committerdate",
                                    ],
                                    pipeline: Lines((strip_prefix: Some("* "), reject_containing: ["HEAD detached"])),
                                    kind: Branch,
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--gitlabBranch",
                    ],
                    description: Some("The GitLab branch used to infer relative links in README.md. Can be overridden by --baseContentUrl and --baseImagesUrl"),
                    arguments: [
                        (
                            name: "branch",
                            generators: [
                                (
                                    script: [
                                        "git",
                                        "--no-optional-locks",
                                        "branch",
                                        "-a",
                                        "--no-color",
                                        "--sort=-committerdate",
                                    ],
                                    pipeline: Lines((strip_prefix: Some("* "), reject_containing: ["HEAD detached"])),
                                    kind: Branch,
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-rewrite-relative-links",
                    ],
                    description: Some("Skip rewriting relative links"),
                ),
                (
                    names: [
                        "--baseContentUrl",
                    ],
                    description: Some("Prepend all relative links in README.md with this url"),
                    arguments: [
                        (
                            name: "url",
                        ),
                    ],
                ),
                (
                    names: [
                        "--baseImagesUrl",
                    ],
                    description: Some("Prepend all relative image links in README.md with this url"),
                    arguments: [
                        (
                            name: "url",
                        ),
                    ],
                ),
                (
                    names: [
                        "--yarn",
                    ],
                    description: Some("Use yarn instead of npm (default inferred from presence of yarn.lock or .yarnrc)"),
                ),
                (
                    names: [
                        "--no-yarn",
                    ],
                    description: Some("Use npm instead of yarn (default inferred from lack of yarn.lock or .yarnrc)"),
                ),
                (
                    names: [
                        "--ignoreFile",
                    ],
                    description: Some("Indicate alternative .vscodeignore"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-gitHubIssueLinking",
                    ],
                    description: Some("Disable automatic expansion of GitHub-style issue syntax into links"),
                ),
                (
                    names: [
                        "--no-gitLabIssueLinking",
                    ],
                    description: Some("Disable automatic expansion of GitLab-style issue syntax into links"),
                ),
                (
                    names: [
                        "--no-dependencies",
                    ],
                    description: Some("Disable dependency detection via npm or yarn"),
                ),
                (
                    names: [
                        "--pre-release",
                    ],
                    description: Some("Mark this package as a pre-release"),
                ),
            ],
            presentation: (
                icon: Some("📦"),
            ),
        ),
        (
            name: "publish",
            description: Some("Publishes an extension"),
            options: [
                (
                    names: [
                        "-p",
                        "--pat",
                    ],
                    description: Some("Personal Access Token (defaults to VSCE_PAT environment variable)"),
                    arguments: [
                        (
                            name: "token",
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--target",
                    ],
                    description: Some("Target architecture"),
                    arguments: [
                        (
                            name: "target",
                            suggestions: [
                                (
                                    name: "win32-x64",
                                ),
                                (
                                    name: "win32-ia32",
                                ),
                                (
                                    name: "win32-arm64",
                                ),
                                (
                                    name: "linux-x64",
                                ),
                                (
                                    name: "linux-arm64",
                                ),
                                (
                                    name: "linux-armhf",
                                ),
                                (
                                    name: "alpine-x64",
                                ),
                                (
                                    name: "alpine-arm64",
                                ),
                                (
                                    name: "darwin-x64",
                                ),
                                (
                                    name: "darwin-arm64",
                                ),
                            ],
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "-m",
                        "--message",
                    ],
                    description: Some("Commit message used when calling `npm version`"),
                    arguments: [
                        (
                            name: "commit message",
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-git-tag-version",
                    ],
                    description: Some("Do not create a version commit and tag when calling `npm version`. Valid only when [version] is provided"),
                ),
                (
                    names: [
                        "--no-update-package-json",
                    ],
                    description: Some("Do not update `package.json`. Valid only when [version] is provided"),
                ),
                (
                    names: [
                        "-i",
                        "--packagePath",
                    ],
                    description: Some("Publish the provided VSIX packages"),
                    arguments: [
                        (
                            name: "paths",
                            generators: [
                                (
                                    has_custom: true,
                                    has_dynamic_trigger: true,
                                    has_dynamic_query_term: true,
                                ),
                            ],
                            variadic: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--githubBranch",
                    ],
                    description: Some("The GitHub branch used to infer relative links in README.md. Can be overridden by --baseContentUrl and --baseImagesUrl"),
                    arguments: [
                        (
                            name: "branch",
                            generators: [
                                (
                                    script: [
                                        "git",
                                        "--no-optional-locks",
                                        "branch",
                                        "-a",
                                        "--no-color",
                                        "--sort=-committerdate",
                                    ],
                                    pipeline: Lines((strip_prefix: Some("* "), reject_containing: ["HEAD detached"])),
                                    kind: Branch,
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--gitlabBranch",
                    ],
                    description: Some("The GitLab branch used to infer relative links in README.md. Can be overridden by --baseContentUrl and --baseImagesUrl"),
                    arguments: [
                        (
                            name: "branch",
                            generators: [
                                (
                                    script: [
                                        "git",
                                        "--no-optional-locks",
                                        "branch",
                                        "-a",
                                        "--no-color",
                                        "--sort=-committerdate",
                                    ],
                                    pipeline: Lines((strip_prefix: Some("* "), reject_containing: ["HEAD detached"])),
                                    kind: Branch,
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--baseContentUrl",
                    ],
                    description: Some("Prepend all relative links in README.md with this url"),
                    arguments: [
                        (
                            name: "url",
                        ),
                    ],
                ),
                (
                    names: [
                        "--baseImagesUrl",
                    ],
                    description: Some("Prepend all relative image links in README.md with this url"),
                    arguments: [
                        (
                            name: "url",
                        ),
                    ],
                ),
                (
                    names: [
                        "--yarn",
                    ],
                    description: Some("Use yarn instead of npm (default inferred from presence of yarn.lock or .yarnrc)"),
                ),
                (
                    names: [
                        "--no-yarn",
                    ],
                    description: Some("Use npm instead of yarn (default inferred from lack of yarn.lock or .yarnrc)"),
                ),
                (
                    names: [
                        "--noVerify",
                    ],
                ),
                (
                    names: [
                        "--ignoreFile",
                    ],
                    description: Some("Indicate alternative .vscodeignore"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-dependencies",
                    ],
                    description: Some("Disable dependency detection via npm or yarn"),
                ),
                (
                    names: [
                        "--pre-release",
                    ],
                    description: Some("Mark this package as a pre-release"),
                ),
            ],
        ),
        (
            name: "unpublish",
            description: Some("Unpublishes an extension. Example extension id: microsoft.csharp"),
            options: [
                (
                    names: [
                        "-p",
                        "--pat",
                    ],
                    description: Some("Personal Access Token"),
                    arguments: [
                        (
                            name: "token",
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--force",
                    ],
                    description: Some("Forces Unpublished Extension"),
                ),
            ],
        ),
        (
            name: "ls-publishers",
            description: Some("List all known publishers"),
        ),
        (
            name: "delete-publisher",
            description: Some("Deletes a publisher"),
            arguments: [
                (
                    name: "publisher",
                ),
            ],
        ),
        (
            name: "login",
            description: Some("Add a publisher to the known publishers list"),
            arguments: [
                (
                    name: "publisher",
                ),
            ],
            presentation: (
                icon: Some("🚪"),
            ),
        ),
        (
            name: "logout",
            description: Some("Remove a publisher from the known publishers list"),
            arguments: [
                (
                    name: "publisher",
                ),
            ],
        ),
        (
            name: "verify-pat",
            description: Some("Verify if the Personal Access Token has publish rights for the publisher"),
            options: [
                (
                    names: [
                        "-p",
                        "--pat",
                    ],
                    description: Some("Personal Access Token (defaults to VSCE_PAT environment variable)"),
                    arguments: [
                        (
                            name: "token",
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "publisher",
                ),
            ],
        ),
        (
            name: "show",
            description: Some("Show extension metadata"),
            options: [
                (
                    names: [
                        "--json",
                    ],
                    description: Some("Output data in json format (default: false)"),
                ),
            ],
            arguments: [
                (
                    name: "extensionid",
                ),
            ],
        ),
        (
            name: "search",
            description: Some("Search extension gallery"),
            options: [
                (
                    names: [
                        "--json",
                    ],
                    description: Some("Output data in json format (default: false)"),
                ),
            ],
            arguments: [
                (
                    name: "text",
                ),
            ],
            presentation: (
                icon: Some("🔍"),
            ),
        ),
        (
            name: "help",
            description: Some("Display help for command"),
            arguments: [
                (
                    name: "command",
                    suggestions: [
                        (
                            name: "ls",
                        ),
                        (
                            name: "package",
                        ),
                        (
                            name: "publish",
                        ),
                        (
                            name: "unpublish",
                        ),
                        (
                            name: "ls-publishers",
                        ),
                        (
                            name: "delete-publishers",
                        ),
                        (
                            name: "login",
                        ),
                        (
                            name: "logout",
                        ),
                        (
                            name: "verify-pat",
                        ),
                        (
                            name: "show",
                        ),
                        (
                            name: "search",
                        ),
                    ],
                ),
            ],
            presentation: (
                icon: Some("❔"),
            ),
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            persistent: true,
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
        ),
    ],
)
