(
    version: 1,
    command: "vue",
    description: Some("Vue cli tools"),
    subcommands: [
        (
            name: "create",
            description: Some("Create a new project powered by vue-cli-service"),
            options: [
                (
                    names: [
                        "-p",
                        "--preset",
                    ],
                    description: Some("Skip prompts and use saved or remote preset"),
                    arguments: [
                        (
                            name: "presetName",
                        ),
                    ],
                ),
                (
                    names: [
                        "-d",
                        "--default",
                    ],
                    description: Some("Skip prompts and use default preset"),
                ),
                (
                    names: [
                        "-i",
                        "--inlinePreset",
                    ],
                    description: Some("Skip prompts and use inline JSON string as preset"),
                    arguments: [
                        (
                            name: "json",
                        ),
                    ],
                ),
                (
                    names: [
                        "-m",
                        "--packageManager",
                    ],
                    description: Some("Use specified npm client when installing dependencies"),
                    arguments: [
                        (
                            name: "command",
                        ),
                    ],
                ),
                (
                    names: [
                        "-r",
                        "--registry",
                    ],
                    description: Some("Use specified npm registry when installing dependencies (only for npm)"),
                    arguments: [
                        (
                            name: "url",
                        ),
                    ],
                ),
                (
                    names: [
                        "-g",
                        "--git",
                    ],
                    description: Some("Force git initialization with initial commit message"),
                    arguments: [
                        (
                            name: "message",
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--no-git",
                    ],
                    description: Some("Skip git initialization"),
                ),
                (
                    names: [
                        "-f",
                        "--force",
                    ],
                    description: Some("Overwrite target directory if it exists"),
                ),
                (
                    names: [
                        "--merge",
                    ],
                    description: Some("Merge target directory if it exists"),
                ),
                (
                    names: [
                        "-c",
                        "--clone",
                    ],
                    description: Some("Use git clone when fetching remote preset"),
                ),
                (
                    names: [
                        "-X",
                        "--proxy",
                    ],
                    description: Some("Use specified proxy when creating project"),
                    arguments: [
                        (
                            name: "proxyUrl",
                        ),
                    ],
                ),
                (
                    names: [
                        "-b",
                        "--bar",
                    ],
                    description: Some("Scaffold project without beginner instructions"),
                ),
                (
                    names: [
                        "--skipGetStarted",
                    ],
                    description: Some("Skip displaying \"Get started\" instructions"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
            arguments: [
                (
                    name: "app-name",
                ),
            ],
        ),
        (
            name: "add",
            description: Some("Install a plugin and invoke its generator in an already created project"),
            options: [
                (
                    names: [
                        "--registry",
                    ],
                    description: Some("Use specified npm registry when installing dependencies (only for npm)"),
                    arguments: [
                        (
                            name: "url",
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
            arguments: [
                (
                    name: "plugin",
                ),
            ],
        ),
        (
            name: "invoke",
            description: Some("Invoke the generator of a plugin in an already created project"),
            options: [
                (
                    names: [
                        "--registry",
                    ],
                    description: Some("Use specified npm registry when installing dependencies (only for npm)"),
                    arguments: [
                        (
                            name: "url",
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
            arguments: [
                (
                    name: "plugin",
                ),
            ],
        ),
        (
            name: "inspect",
            description: Some("Inspect the webpack config in a project with vue-cli-service"),
            options: [
                (
                    names: [
                        "--mode",
                    ],
                    arguments: [
                        (
                            name: "mode",
                        ),
                    ],
                ),
                (
                    names: [
                        "--rule",
                    ],
                    description: Some("Inspect a specific module rule"),
                    arguments: [
                        (
                            name: "ruleName",
                        ),
                    ],
                ),
                (
                    names: [
                        "--plugin",
                    ],
                    description: Some("Inspect a specific plugin"),
                    arguments: [
                        (
                            name: "pluginName",
                        ),
                    ],
                ),
                (
                    names: [
                        "--rules",
                    ],
                    description: Some("List all module rule names"),
                ),
                (
                    names: [
                        "--plugins",
                    ],
                    description: Some("List all plugin names"),
                ),
                (
                    names: [
                        "-v",
                        "--verbose",
                    ],
                    description: Some("Show full function definitions in output"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
            arguments: [
                (
                    name: "",
                ),
            ],
        ),
        (
            name: "serve",
            description: Some("Serve a .js or .vue file in development mode with zero config"),
            options: [
                (
                    names: [
                        "-o",
                        "--open",
                    ],
                    description: Some("Open browser"),
                ),
                (
                    names: [
                        "-c",
                        "--copy",
                    ],
                    description: Some("Copy local url to clipboard"),
                ),
                (
                    names: [
                        "-p",
                        "--port",
                    ],
                    description: Some("Port used by the server (default: 8080 or next available port)"),
                    arguments: [
                        (
                            name: "port",
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
            arguments: [
                (
                    name: "",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "build",
            description: Some("Build a .js or .vue file in production mode with zero config"),
            options: [
                (
                    names: [
                        "-t",
                        "--target",
                    ],
                    description: Some("Build target (app | lib | wc | wc-async, default: app)"),
                    arguments: [
                        (
                            name: "target",
                        ),
                    ],
                ),
                (
                    names: [
                        "-n",
                        "--name",
                    ],
                    description: Some("Name for lib or web-component mode (default: entry filename)"),
                    arguments: [
                        (
                            name: "name",
                        ),
                    ],
                ),
                (
                    names: [
                        "-d",
                        "--destination",
                    ],
                    description: Some("Output directory (default: dist)"),
                    arguments: [
                        (
                            name: "dir",
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
            arguments: [
                (
                    name: "",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "ui",
            description: Some("Start and open the vue-cli ui"),
            options: [
                (
                    names: [
                        "-H",
                        "--host",
                    ],
                    description: Some("Host used for the UI server (default: localhost)"),
                    arguments: [
                        (
                            name: "host",
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--port",
                    ],
                    description: Some("Port used for the UI server (by default search for available port)"),
                    arguments: [
                        (
                            name: "port",
                        ),
                    ],
                ),
                (
                    names: [
                        "-D",
                        "--dev",
                    ],
                    description: Some("Run in dev mode"),
                ),
                (
                    names: [
                        "--quiet",
                    ],
                    description: Some("Don't output starting messages"),
                ),
                (
                    names: [
                        "--headless",
                    ],
                    description: Some("Don't open browser on start and output port"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
        ),
        (
            name: "init",
            description: Some("Generate a project from a remote template (legacy API, requires @vue/cli-init)"),
            options: [
                (
                    names: [
                        "-c",
                        "--clone",
                    ],
                    description: Some("Use git clone when fetching remote template"),
                ),
                (
                    names: [
                        "--offline",
                    ],
                    description: Some("Use cached template"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
            arguments: [
                (
                    name: "template",
                ),
                (
                    name: "app-name",
                ),
            ],
        ),
        (
            name: "config",
            description: Some("Inspect and modify the config"),
            options: [
                (
                    names: [
                        "-g",
                        "--get",
                    ],
                    description: Some("Get value from option"),
                    arguments: [
                        (
                            name: "path",
                        ),
                    ],
                ),
                (
                    names: [
                        "-s",
                        "--set",
                    ],
                    description: Some("Set option value"),
                    arguments: [
                        (
                            name: "value",
                        ),
                    ],
                ),
                (
                    names: [
                        "-d",
                        "--delete",
                    ],
                    description: Some("Delete option from config"),
                    arguments: [
                        (
                            name: "path",
                        ),
                    ],
                ),
                (
                    names: [
                        "-e",
                        "--edit",
                    ],
                    description: Some("Open config with default editor"),
                ),
                (
                    names: [
                        "--json",
                    ],
                    description: Some("Outputs JSON result only"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
            arguments: [
                (
                    name: "value",
                ),
            ],
        ),
        (
            name: "outdated",
            description: Some("(experimental) check for outdated vue cli service / plugins"),
            options: [
                (
                    names: [
                        "--next",
                    ],
                    description: Some("Also check for alpha / beta / rc versions when upgrading"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
        ),
        (
            name: "upgrade",
            description: Some("(experimental) upgrade vue cli service / plugins"),
            options: [
                (
                    names: [
                        "-t",
                        "--to",
                    ],
                    description: Some("Upgrade <package-name> to a version that is not latest"),
                    arguments: [
                        (
                            name: "version",
                        ),
                    ],
                ),
                (
                    names: [
                        "-f",
                        "--from",
                    ],
                    description: Some("Skip probing installed plugin, assuming it is upgraded from the designated version"),
                    arguments: [
                        (
                            name: "version",
                        ),
                    ],
                ),
                (
                    names: [
                        "-r",
                        "--registry",
                    ],
                    description: Some("Use specified npm registry when installing dependencies"),
                    arguments: [
                        (
                            name: "url",
                        ),
                    ],
                ),
                (
                    names: [
                        "--all",
                    ],
                    description: Some("Upgrade all plugins"),
                ),
                (
                    names: [
                        "--next",
                    ],
                    description: Some("Also check for alpha / beta /rc versions when upgrading"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
            arguments: [
                (
                    name: "plugin-name",
                ),
            ],
        ),
        (
            name: "migrate",
            description: Some("(experimental) run migrator for an already-installed cli plugin"),
            options: [
                (
                    names: [
                        "-f",
                        "--from",
                    ],
                    description: Some("The base version for the migrator to migrate from"),
                    arguments: [
                        (
                            name: "version",
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
            arguments: [
                (
                    name: "plugin-name",
                ),
            ],
        ),
        (
            name: "info",
            description: Some("Print debugging information about your environment"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Output usage information"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
        ),
    ],
)
