(
    version: 1,
    command: "w",
    description: Some("Display who is logged in and what they are doing"),
    options: [
        (
            names: [
                "-h",
            ],
            description: Some("Suppress the heading"),
        ),
        (
            names: [
                "-i",
            ],
            description: Some("Output is sorted by idle time"),
        ),
    ],
    arguments: [
        (
            name: "user",
            optional: true,
            variadic: true,
        ),
    ],
    parser_directives: Some((
        options_must_precede_arguments: true,
    )),
)
