(
    version: 1,
    command: "wasm-bindgen",
    description: Some("Generate bindings between WebAssembly and JavaScript"),
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for wasm-bindgen"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Show version for wasm-bindgen"),
        ),
        (
            names: [
                "--out-dir",
            ],
            description: Some("Output directory"),
            arguments: [
                (
                    name: "directory",
                    description: Some("Target directory to emit JS bindings, TS definitions, .wasm binaries, etc"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--out-name",
            ],
            description: Some("Set a custom output filename (Without extension. Defaults to crate name)"),
            arguments: [
                (
                    name: "filename",
                    description: Some("Output filename"),
                    template: [
                        FilePaths,
                    ],
                    suggest_current_token: true,
                ),
            ],
        ),
        (
            names: [
                "--target",
            ],
            description: Some("What type of output to generate"),
            arguments: [
                (
                    name: "target",
                    suggestions: [
                        (
                            name: "web",
                            description: Some("Directly loadable in a web browser"),
                        ),
                        (
                            name: "bundler",
                            description: Some("Suitable for loading in bundlers like Webpack"),
                        ),
                        (
                            name: "nodejs",
                            description: Some("Loadable via require as a Node.js module"),
                        ),
                        (
                            name: "no-modules",
                            description: Some("Like web, but older and doesn't use ES modules"),
                        ),
                        (
                            name: "deno",
                            description: Some("Loadable using imports from Deno modules"),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--no-modules-global",
            ],
            description: Some("Name of global to assign generated bindings to"),
            arguments: [
                (
                    name: "name",
                ),
            ],
        ),
        (
            names: [
                "--browser",
            ],
            description: Some("Hint that JS should only be compatible with a browser"),
        ),
        (
            names: [
                "--typescript",
            ],
            description: Some("Output a TypeScript definition file (on by default)"),
        ),
        (
            names: [
                "--no-typescript",
            ],
            description: Some("Don't emit a *.d.ts file"),
        ),
        (
            names: [
                "--omit-imports",
            ],
            description: Some("Don't emit imports in generated JavaScript"),
        ),
        (
            names: [
                "--debug",
            ],
            description: Some("Include otherwise-extraneous debug checks in output"),
        ),
        (
            names: [
                "--no-demangle",
            ],
            description: Some("Don't demangle Rust symbol names"),
        ),
        (
            names: [
                "--keep-debug",
            ],
            description: Some("Keep debug sections in wasm files"),
        ),
        (
            names: [
                "--remove-name-section",
            ],
            description: Some("Remove the debugging `name` section of the file"),
        ),
        (
            names: [
                "--remove-producers-section",
            ],
            description: Some("Remove the telemetry `producers` section"),
        ),
        (
            names: [
                "--omit-default-module-path",
            ],
            description: Some("Don't add WebAssembly fallback imports in generated JavaScript"),
        ),
        (
            names: [
                "--encode-into",
            ],
            description: Some("Whether or not to use TextEncoder#encodeInto()"),
            arguments: [
                (
                    name: "option",
                    suggestions: [
                        (
                            name: "test",
                        ),
                        (
                            name: "always",
                            description: Some("Always use TextEncoder#encodeInto()"),
                        ),
                        (
                            name: "never",
                            description: Some("Never use TextEncoder#encodeInto()"),
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--nodejs",
            ],
            description: Some("Deprecated, use `--target nodejs`"),
        ),
        (
            names: [
                "--web",
            ],
            description: Some("Deprecated, use `--target web`"),
        ),
        (
            names: [
                "--no-modules",
            ],
            description: Some("Deprecated, use `--target no-modules`"),
        ),
        (
            names: [
                "--weak-refs",
            ],
            description: Some("Enable usage of the JS weak references proposal"),
        ),
        (
            names: [
                "--reference-types",
            ],
            description: Some("Enable usage of WebAssembly reference types"),
        ),
    ],
    arguments: [
        (
            name: "input",
            description: Some("File name to output the compiled binary bindings"),
            generators: [
                (
                    has_custom: true,
                    has_dynamic_trigger: true,
                    has_dynamic_query_term: true,
                ),
            ],
            is_script: true,
        ),
    ],
)
