(
    version: 1,
    command: "watchman",
    description: Some("A file watching service"),
    subcommands: [
        (
            name: "clock",
            description: Some("Returns the current clock value for a watched root"),
            arguments: [
                (
                    name: "path",
                    description: Some("The path to directory"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            name: "find",
            description: Some("Finds all files that match the optional list of patterns under the specified dir"),
            arguments: [
                (
                    name: "path",
                    description: Some("The path to directory"),
                    template: [
                        Folders,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "flush-subscriptions",
            description: Some("This is designed to be used by interactive programs that have a background process or daemon maintaining a subscription to Watchman"),
        ),
        (
            name: "get-config",
            description: Some("Returns the .watchmanconfig for the root"),
            subcommands: [
                (
                    name: "path",
                    description: Some("The path to root"),
                ),
            ],
        ),
        (
            name: "get-sockname",
            description: Some("Get socket path"),
        ),
        (
            name: "list-capabilities",
            description: Some("Returns the full list of supported capabilities offered by the watchman server"),
        ),
        (
            name: "log",
            description: Some("Generates a log line in the watchman log"),
            arguments: [
                (
                    name: "level",
                    description: Some("The log level"),
                    suggestions: [
                        (
                            name: "debug",
                        ),
                        (
                            name: "error",
                        ),
                        (
                            name: "off",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "log-level",
            description: Some("Changes the log level of your connection to the watchman service"),
            arguments: [
                (
                    name: "level",
                    description: Some("The log level"),
                    suggestions: [
                        (
                            name: "debug",
                        ),
                        (
                            name: "error",
                        ),
                        (
                            name: "off",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "query",
            description: Some("Executes a query against the specified root"),
        ),
        (
            name: "shutdown-server",
            description: Some("This causes your watchman service to exit with a normal status code"),
        ),
        (
            name: "since",
            description: Some("Finds all files that were modified since the specified clockspec that match the optional list of patterns"),
            arguments: [
                (
                    name: "path",
                    description: Some("The path to directory"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            name: "state-enter",
            description: Some("This causes a watch to be marked as being in a particular named state"),
        ),
        (
            name: "state-leave",
            description: Some("This causes a watch to no longer be marked as being in a particular named state"),
        ),
        (
            name: "subscribe",
            description: Some("Subscribes to changes against a specified root and requests that they be sent to the client via its connection"),
        ),
        (
            name: "trigger",
            description: Some("This will create or replace a trigger"),
            arguments: [
                (
                    name: "path",
                    description: Some("The path to directory"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            name: "trigger-del",
            description: Some("Deletes a named trigger from the list of registered triggers"),
        ),
        (
            name: "trigger-list",
            description: Some("Returns the set of registered triggers associated with a root directory"),
        ),
        (
            name: "unsubscribe",
            description: Some("Cancels a named subscription against the specified root"),
        ),
        (
            name: "version",
            description: Some("The version and build information for the currently running watchman service"),
        ),
        (
            name: "watch-del",
            description: Some("Removes a watch and any associated triggers"),
            arguments: [
                (
                    name: "path",
                    description: Some("The path to directory"),
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            name: "watch-del-all",
            description: Some("Removes all watches and associated triggers"),
        ),
        (
            name: "watch-list",
            description: Some("Returns a list of watched dirs"),
        ),
        (
            name: "watch-project",
            description: Some("Requests that the project containing the requested dir is watched for changes"),
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for watchman"),
        ),
        (
            names: [
                "--inetd",
            ],
            description: Some("Spawning from an inetd style supervisor"),
        ),
        (
            names: [
                "-S",
                "--no-site-spawner",
            ],
            description: Some("Don't use the site or system spawner"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show version number for watchman"),
        ),
        (
            names: [
                "--named-pipe-path",
            ],
            description: Some("Specify alternate named pipe path"),
            arguments: [
                (
                    name: "path",
                    description: Some("The alternate named pipe path"),
                ),
            ],
            requires_separator: Some("="),
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Specify alternate unix domain socket path"),
            arguments: [
                (
                    name: "path",
                    description: Some("The alternate unix domain socket path"),
                ),
            ],
        ),
        (
            names: [
                "--unix-listener-path",
            ],
            description: Some("Specify alternate unix domain socket path"),
            arguments: [
                (
                    name: "path",
                    description: Some("The alernate unix domain socket path"),
                ),
            ],
            requires_separator: Some("="),
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Specify the path to logfile"),
            arguments: [
                (
                    name: "path",
                    description: Some("The path to logfile"),
                ),
            ],
        ),
        (
            names: [
                "--logfile",
            ],
            description: Some("Specify the path to logfile"),
            arguments: [
                (
                    name: "path",
                    description: Some("The path to logfile"),
                ),
            ],
            requires_separator: Some("="),
        ),
        (
            names: [
                "--log-level",
            ],
            description: Some("Set the log level"),
            arguments: [
                (
                    name: "level",
                    description: Some("The log level"),
                    suggestions: [
                        (
                            name: "0",
                        ),
                        (
                            name: "1",
                        ),
                        (
                            name: "2",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "--pidfile",
            ],
            description: Some("Specify path to pidfile"),
        ),
        (
            names: [
                "-p",
                "--persistent",
            ],
            description: Some("Persist and wait for further responses"),
        ),
        (
            names: [
                "-n",
                "--no-save-state",
            ],
            description: Some("Don't save state between invocations"),
        ),
        (
            names: [
                "--statefile",
            ],
            description: Some("Specify path to file to hold watch and trigger state"),
            arguments: [
                (
                    name: "path",
                    description: Some("The path to file to hold watch and trigger state"),
                ),
            ],
        ),
        (
            names: [
                "-j",
                "--json-command",
            ],
            description: Some("Instead of parsing CLI arguments, take a single json object from stdin"),
        ),
        (
            names: [
                "--output-encoding",
            ],
            description: Some("CLI output encoding"),
            arguments: [
                (
                    name: "encoding",
                    description: Some("The output encoding"),
                    suggestions: [
                        (
                            name: "json",
                        ),
                        (
                            name: "bser",
                        ),
                    ],
                ),
            ],
            requires_separator: Some("="),
        ),
        (
            names: [
                "--server-encoding",
            ],
            description: Some("CLI<->server encoding"),
            arguments: [
                (
                    name: "encoding",
                    description: Some("The server encoding"),
                    suggestions: [
                        (
                            name: "bser",
                        ),
                        (
                            name: "json",
                        ),
                    ],
                ),
            ],
            requires_separator: Some("="),
        ),
        (
            names: [
                "-f",
                "--foreground",
            ],
            description: Some("Run the service in the foreground"),
        ),
        (
            names: [
                "--no-pretty",
            ],
            description: Some("Don't pretty print JSON"),
        ),
        (
            names: [
                "--no-spawn",
            ],
            description: Some("Don't try to start the service if it is not available"),
        ),
        (
            names: [
                "--no-local",
            ],
            description: Some("When no-spawn is enabled, don't try to handle request in client mode if service is unavailable"),
        ),
    ],
)
