(
    version: 1,
    command: "watchman",
    description: Some("A file watching service"),
    subcommands: [
        (
            name: "clock",
            aliases: [],
            description: Some("Returns the current clock value for a watched root"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "find",
            aliases: [],
            description: Some("Finds all files that match the optional list of patterns under the specified dir"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "flush-subscriptions",
            aliases: [],
            description: Some("This is designed to be used by interactive programs that have a background process or daemon maintaining a subscription to Watchman"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "get-config",
            aliases: [],
            description: Some("Returns the .watchmanconfig for the root"),
            subcommands: [
                (
                    name: "path",
                    aliases: [],
                    description: Some("The path to root"),
                    subcommands: [],
                    options: [],
                    arguments: [],
                    load_spec: None,
                ),
            ],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "get-sockname",
            aliases: [],
            description: Some("Get socket path"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "list-capabilities",
            aliases: [],
            description: Some("Returns the full list of supported capabilities offered by the watchman server"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "log",
            aliases: [],
            description: Some("Generates a log line in the watchman log"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "level",
                    source: Static([
                        "debug",
                        "error",
                        "off",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "log-level",
            aliases: [],
            description: Some("Changes the log level of your connection to the watchman service"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "level",
                    source: Static([
                        "debug",
                        "error",
                        "off",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "query",
            aliases: [],
            description: Some("Executes a query against the specified root"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "shutdown-server",
            aliases: [],
            description: Some("This causes your watchman service to exit with a normal status code"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "since",
            aliases: [],
            description: Some("Finds all files that were modified since the specified clockspec that match the optional list of patterns"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "state-enter",
            aliases: [],
            description: Some("This causes a watch to be marked as being in a particular named state"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "state-leave",
            aliases: [],
            description: Some("This causes a watch to no longer be marked as being in a particular named state"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "subscribe",
            aliases: [],
            description: Some("Subscribes to changes against a specified root and requests that they be sent to the client via its connection"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "trigger",
            aliases: [],
            description: Some("This will create or replace a trigger"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "trigger-del",
            aliases: [],
            description: Some("Deletes a named trigger from the list of registered triggers"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "trigger-list",
            aliases: [],
            description: Some("Returns the set of registered triggers associated with a root directory"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "unsubscribe",
            aliases: [],
            description: Some("Cancels a named subscription against the specified root"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "version",
            aliases: [],
            description: Some("The version and build information for the currently running watchman service"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "watch-del",
            aliases: [],
            description: Some("Removes a watch and any associated triggers"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "watch-del-all",
            aliases: [],
            description: Some("Removes all watches and associated triggers"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "watch-list",
            aliases: [],
            description: Some("Returns a list of watched dirs"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "watch-project",
            aliases: [],
            description: Some("Requests that the project containing the requested dir is watched for changes"),
            subcommands: [],
            options: [],
            arguments: [],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for watchman"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--inetd",
            ],
            description: Some("Spawning from an inetd style supervisor"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-S",
                "--no-site-spawner",
            ],
            description: Some("Don\'t use the site or system spawner"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Show version number for watchman"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--named-pipe-path",
            ],
            description: Some("Specify alternate named pipe path"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Specify alternate unix domain socket path"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--unix-listener-path",
            ],
            description: Some("Specify alternate unix domain socket path"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Specify the path to logfile"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--logfile",
            ],
            description: Some("Specify the path to logfile"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--log-level",
            ],
            description: Some("Set the log level"),
            takes_value: true,
            arguments: [
                (
                    name: "level",
                    source: Static([
                        "0",
                        "1",
                        "2",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--pidfile",
            ],
            description: Some("Specify path to pidfile"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
                "--persistent",
            ],
            description: Some("Persist and wait for further responses"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-n",
                "--no-save-state",
            ],
            description: Some("Don\'t save state between invocations"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--statefile",
            ],
            description: Some("Specify path to file to hold watch and trigger state"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-j",
                "--json-command",
            ],
            description: Some("Instead of parsing CLI arguments, take a single json object from stdin"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--output-encoding",
            ],
            description: Some("CLI output encoding"),
            takes_value: true,
            arguments: [
                (
                    name: "encoding",
                    source: Static([
                        "json",
                        "bser",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--server-encoding",
            ],
            description: Some("CLI<->server encoding"),
            takes_value: true,
            arguments: [
                (
                    name: "encoding",
                    source: Static([
                        "bser",
                        "json",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-f",
                "--foreground",
            ],
            description: Some("Run the service in the foreground"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-pretty",
            ],
            description: Some("Don\'t pretty print JSON"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-spawn",
            ],
            description: Some("Don\'t try to start the service if it is not available"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-local",
            ],
            description: Some("When no-spawn is enabled, don\'t try to handle request in client mode if service is unavailable"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)