(
    version: 1,
    command: "wd",
    description: Some("Warp to directories without using cd"),
    subcommands: [
        (
            name: "add",
            description: Some("Adds the current working directory to your warp points"),
            arguments: [
                (
                    name: "point",
                    description: Some("Name of the warp point to be created"),
                    optional: true,
                ),
            ],
        ),
        (
            name: "rm",
            description: Some("Removes the given warp point"),
            arguments: [
                (
                    name: "point",
                    description: Some("Name of the warp point to be removed"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "show",
            description: Some("Print path to given warp point"),
            arguments: [
                (
                    name: "point",
                    description: Some("Name of the warp point"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "list",
            description: Some("Print all stored warp points"),
        ),
        (
            name: "ls",
            description: Some("Show files from given warp point (ls)"),
            arguments: [
                (
                    name: "point",
                    description: Some("Name of the warp point"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "path",
            description: Some("Show the path to given warp point (pwd)"),
            arguments: [
                (
                    name: "point",
                    description: Some("Name of the warp point"),
                    generators: [
                        (
                            has_custom: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "clean",
            description: Some("Remove points warping to nonexistent directories (will prompt unless --force is used)"),
        ),
        (
            name: "help",
            description: Some("Shows help for wd"),
        ),
    ],
    options: [
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Print version"),
        ),
        (
            names: [
                "-d",
                "--debug",
            ],
            description: Some("Exit after execution with exit codes (for testing)"),
        ),
        (
            names: [
                "-c",
                "--config",
            ],
            description: Some("Specify config file (default ~/.warprc)"),
            arguments: [
                (
                    name: "file",
                ),
            ],
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Suppress all output"),
        ),
        (
            names: [
                "-f",
                "--force",
            ],
            description: Some("Allows overwriting without warning (for add & clean)"),
        ),
    ],
    arguments: [
        (
            name: "point",
            description: Some("Warp point to the specified directory"),
            generators: [
                (
                    has_custom: true,
                ),
            ],
        ),
        (
            name: "path",
            description: Some("Appended path"),
            optional: true,
        ),
    ],
)
