(
    version: 1,
    command: "wget",
    description: Some("A non-interactive network retriever"),
    options: [
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Display the version of Wget and exit"),
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print this help"),
        ),
        (
            names: [
                "-b",
                "--background",
            ],
            description: Some("Go to background after startup"),
        ),
        (
            names: [
                "-e",
                "--execute=COMMAND",
            ],
            description: Some("Execute a `.wgetrc'-style command"),
        ),
        (
            names: [
                "-o",
                "--output-file=FILE",
            ],
            description: Some("Log messages to FILE"),
        ),
        (
            names: [
                "-a",
                "--append-output=FILE",
            ],
            description: Some("Append messages to FILE"),
        ),
        (
            names: [
                "-q",
                "--quiet",
            ],
            description: Some("Quiet (no output)"),
        ),
        (
            names: [
                "-v",
                "--verbose",
            ],
            description: Some("Be verbose (this is the default)"),
        ),
        (
            names: [
                "-nv",
                "--no-verbose",
            ],
            description: Some("Turn off verboseness, without being quiet"),
        ),
        (
            names: [
                "--report-speed=TYPE",
            ],
            description: Some("Output bandwidth as TYPE.  TYPE can be bits"),
        ),
        (
            names: [
                "-i",
                "--input-file=FILE",
            ],
            description: Some("Download URLs found in local or external FILE"),
        ),
        (
            names: [
                "-F",
                "--force-html",
            ],
            description: Some("Treat input file as HTML"),
        ),
        (
            names: [
                "-B",
                "--base=URL",
            ],
            description: Some("Resolves HTML input-file links (-i -F) relative to URL"),
        ),
        (
            names: [
                "--config=FILE",
            ],
            description: Some("Specify config file to use"),
        ),
        (
            names: [
                "--no-config",
            ],
            description: Some("Do not read any config file"),
        ),
        (
            names: [
                "--rejected-log=FILE",
            ],
            description: Some("Log reasons for URL rejection to FILE"),
        ),
        (
            names: [
                "-t",
                "--tries=NUMBER",
            ],
            description: Some("Set number of retries to NUMBER (0 unlimits)"),
        ),
        (
            names: [
                "--retry-connrefused",
            ],
            description: Some("Retry even if connection is refused"),
        ),
        (
            names: [
                "--retry-on-http-error",
            ],
            description: Some("Comma-separated list of HTTP errors to retry"),
        ),
        (
            names: [
                "-O",
                "--output-document=FILE",
            ],
            description: Some("Write documents to FILE"),
        ),
        (
            names: [
                "-nc",
                "--no-clobber",
            ],
            description: Some("Skip downloads that would download to existing files (overwriting them)"),
        ),
        (
            names: [
                "--no-netrc",
            ],
            description: Some("Don't try to obtain credentials from .netrc"),
        ),
        (
            names: [
                "-c",
                "--continue",
            ],
            description: Some("Resume getting a partially-downloaded file"),
        ),
        (
            names: [
                "--start-pos=OFFSET",
            ],
            description: Some("Start downloading from zero-based position OFFSET"),
        ),
        (
            names: [
                "--progress=TYPE",
            ],
            description: Some("Select progress gauge type"),
        ),
        (
            names: [
                "--show-progress",
            ],
            description: Some("Display the progress bar in any verbosity mode"),
        ),
        (
            names: [
                "-N",
                "--timestamping",
            ],
            description: Some("Don't re-retrieve files unless newer than local"),
        ),
        (
            names: [
                "-S",
                "--server-response",
            ],
            description: Some("Print server response"),
        ),
        (
            names: [
                "--spider",
            ],
            description: Some("Don't download anything"),
        ),
        (
            names: [
                "-T",
                "--timeout=SECONDS",
            ],
            description: Some("Set all timeout values to SECONDS"),
        ),
        (
            names: [
                "--dns-timeout=SECS",
            ],
            description: Some("Set the DNS lookup timeout to SECS"),
        ),
        (
            names: [
                "--connect-timeout=SECS",
            ],
            description: Some("Set the connect timeout to SECS"),
        ),
        (
            names: [
                "--read-timeout=SECS",
            ],
            description: Some("Set the read timeout to SECS"),
        ),
        (
            names: [
                "-w",
                "--wait=SECONDS",
            ],
            description: Some("Wait SECONDS between retrievals"),
        ),
        (
            names: [
                "--waitretry=SECONDS",
            ],
            description: Some("Wait 1..SECONDS between retries of a retrieval"),
        ),
        (
            names: [
                "--random-wait",
            ],
            description: Some("Wait from 0.5*WAIT...1.5*WAIT secs between retrievals"),
        ),
        (
            names: [
                "--no-proxy",
            ],
            description: Some("Explicitly turn off proxy"),
        ),
        (
            names: [
                "-Q",
                "--quota=NUMBER",
            ],
            description: Some("Set retrieval quota to NUMBER"),
        ),
        (
            names: [
                "--bind-address=ADDRESS",
            ],
            description: Some("Bind to ADDRESS (hostname or IP) on local host"),
        ),
        (
            names: [
                "--limit-rate=RATE",
            ],
            description: Some("Limit download rate to RATE"),
        ),
        (
            names: [
                "--no-dns-cache",
            ],
            description: Some("Disable caching DNS lookups"),
        ),
        (
            names: [
                "--restrict-file-names=OS",
            ],
            description: Some("Restrict chars in file names to ones OS allows"),
        ),
        (
            names: [
                "--ignore-case",
            ],
            description: Some("Ignore case when matching files/directories"),
        ),
        (
            names: [
                "-4",
                "--inet4-only",
            ],
            description: Some("Connect only to IPv4 addresses"),
        ),
        (
            names: [
                "-6",
                "--inet6-only",
            ],
            description: Some("Connect only to IPv6 addresses"),
        ),
        (
            names: [
                "--user=USER",
            ],
            description: Some("Set both ftp and http user to USER"),
        ),
        (
            names: [
                "--password=PASS",
            ],
            description: Some("Set both ftp and http password to PASS"),
        ),
        (
            names: [
                "--ask-password",
            ],
            description: Some("Prompt for passwords"),
        ),
        (
            names: [
                "--no-iri",
            ],
            description: Some("Turn off IRI support"),
        ),
        (
            names: [
                "--local-encoding=ENC",
            ],
            description: Some("Use ENC as the local encoding for IRIs"),
        ),
        (
            names: [
                "--remote-encoding=ENC",
            ],
            description: Some("Use ENC as the default remote encoding"),
        ),
        (
            names: [
                "--unlink",
            ],
            description: Some("Remove file before clobber"),
        ),
        (
            names: [
                "--xattr",
            ],
            description: Some("Turn on storage of metadata in extended file attributes"),
        ),
        (
            names: [
                "-nd",
                "--no-directories",
            ],
            description: Some("Don't create directories"),
        ),
        (
            names: [
                "-x",
                "--force-directories",
            ],
            description: Some("Force creation of directories"),
        ),
        (
            names: [
                "-nH",
                "--no-host-directories",
            ],
            description: Some("Don't create host directories"),
        ),
        (
            names: [
                "--protocol-directories",
            ],
            description: Some("Use protocol name in directories"),
        ),
        (
            names: [
                "-P",
                "--directory-prefix=PREFIX",
            ],
            description: Some("Save files to PREFIX/"),
        ),
        (
            names: [
                "--cut-dirs=NUMBER",
            ],
            description: Some("Ignore NUMBER remote directory components"),
        ),
        (
            names: [
                "--http-user=USER",
            ],
            description: Some("Set http user to USER"),
        ),
        (
            names: [
                "--http-password=PASS",
            ],
            description: Some("Set http password to PASS"),
        ),
        (
            names: [
                "--no-cache",
            ],
            description: Some("Disallow server-cached data"),
        ),
        (
            names: [
                "-E",
                "--adjust-extension",
            ],
            description: Some("Save HTML/CSS documents with proper extensions"),
        ),
        (
            names: [
                "--ignore-length",
            ],
            description: Some("Ignore 'Content-Length' header field"),
        ),
        (
            names: [
                "--header=STRING",
            ],
            description: Some("Insert STRING among the headers"),
        ),
        (
            names: [
                "--compression=TYPE",
            ],
            description: Some("Choose compression, one of auto, gzip and none. (default: none)"),
        ),
        (
            names: [
                "--max-redirect",
            ],
            description: Some("Maximum redirections allowed per page"),
        ),
        (
            names: [
                "--proxy-user=USER",
            ],
            description: Some("Set USER as proxy username"),
        ),
        (
            names: [
                "--proxy-password=PASS",
            ],
            description: Some("Set PASS as proxy password"),
        ),
        (
            names: [
                "--referer=URL",
            ],
            description: Some("Include 'Referer: URL' header in HTTP request"),
        ),
        (
            names: [
                "--save-headers",
            ],
            description: Some("Save the HTTP headers to file"),
        ),
        (
            names: [
                "-U",
                "--user-agent=AGENT",
            ],
            description: Some("Identify as AGENT instead of Wget/VERSION"),
        ),
        (
            names: [
                "--no-http-keep-alive",
            ],
            description: Some("Disable HTTP keep-alive (persistent connections)"),
        ),
        (
            names: [
                "--no-cookies",
            ],
            description: Some("Don't use cookies"),
        ),
        (
            names: [
                "--load-cookies=FILE",
            ],
            description: Some("Load cookies from FILE before session"),
        ),
        (
            names: [
                "--save-cookies=FILE",
            ],
            description: Some("Save cookies to FILE after session"),
        ),
        (
            names: [
                "--keep-session-cookies",
            ],
            description: Some("Load and save session (non-permanent) cookies"),
        ),
        (
            names: [
                "--post-data=STRING",
            ],
            description: Some("Use the POST method; send STRING as the data"),
        ),
        (
            names: [
                "--post-file=FILE",
            ],
            description: Some("Use the POST method; send contents of FILE"),
        ),
        (
            names: [
                "--method=HTTPMethod",
            ],
            description: Some("Use method \"HTTPMethod\" in the request"),
        ),
        (
            names: [
                "--body-data=STRING",
            ],
            description: Some("Send STRING as data. --method MUST be set"),
        ),
        (
            names: [
                "--body-file=FILE",
            ],
            description: Some("Send contents of FILE. --method MUST be set"),
        ),
        (
            names: [
                "--content-on-error",
            ],
            description: Some("Output the received content on server errors"),
        ),
        (
            names: [
                "--secure-protocol=PR",
            ],
            description: Some("Choose secure protocol, one of auto, SSLv2,"),
        ),
        (
            names: [
                "--https-only",
            ],
            description: Some("Only follow secure HTTPS links"),
        ),
        (
            names: [
                "--no-check-certificate",
            ],
            description: Some("Don't validate the server's certificate"),
        ),
        (
            names: [
                "--certificate=FILE",
            ],
            description: Some("Client certificate file"),
        ),
        (
            names: [
                "--certificate-type=TYPE",
            ],
            description: Some("Client certificate type, PEM or DER"),
        ),
        (
            names: [
                "--private-key=FILE",
            ],
            description: Some("Private key file"),
        ),
        (
            names: [
                "--private-key-type=TYPE",
            ],
            description: Some("Private key type, PEM or DER"),
        ),
        (
            names: [
                "--ca-certificate=FILE",
            ],
            description: Some("File with the bundle of CAs"),
        ),
        (
            names: [
                "--ca-directory=DIR",
            ],
            description: Some("Directory where hash list of CAs is stored"),
        ),
        (
            names: [
                "--crl-file=FILE",
            ],
            description: Some("File with bundle of CRLs"),
        ),
        (
            names: [
                "--ciphers=STR",
            ],
            description: Some("Set the priority string (GnuTLS) or cipher list string (OpenSSL) directly"),
        ),
        (
            names: [
                "-r",
                "--recursive",
            ],
            description: Some("Specify recursive download"),
        ),
        (
            names: [
                "-l",
                "--level=NUMBER",
            ],
            description: Some("Maximum recursion depth (inf or 0 for infinite)"),
        ),
        (
            names: [
                "--delete-after",
            ],
            description: Some("Delete files locally after downloading them"),
        ),
        (
            names: [
                "-k",
                "--convert-links",
            ],
            description: Some("Make links in downloaded HTML or CSS point to local files"),
        ),
        (
            names: [
                "-K",
                "--backup-converted",
            ],
            description: Some("Before converting file X, back up as X.orig"),
        ),
        (
            names: [
                "-m",
                "--mirror",
            ],
            description: Some("Shortcut for -N -r -l inf --no-remove-listing"),
        ),
        (
            names: [
                "-p",
                "--page-requisites",
            ],
            description: Some("Get all images, etc. needed to display HTML page"),
        ),
        (
            names: [
                "-A",
                "--accept=LIST",
            ],
            description: Some("Comma-separated list of accepted extensions"),
        ),
        (
            names: [
                "-R",
                "--reject=LIST",
            ],
            description: Some("Comma-separated list of rejected extensions"),
        ),
        (
            names: [
                "--accept-regex=REGEX",
            ],
            description: Some("Regex matching accepted URLs"),
        ),
        (
            names: [
                "--reject-regex=REGEX",
            ],
            description: Some("Regex matching rejected URLs"),
        ),
        (
            names: [
                "--regex-type=TYPE",
            ],
            description: Some("Regex type (posix)"),
        ),
        (
            names: [
                "-D",
                "--domains=LIST",
            ],
            description: Some("Comma-separated list of accepted domains"),
        ),
        (
            names: [
                "--exclude-domains=LIST",
            ],
            description: Some("Comma-separated list of rejected domains"),
        ),
        (
            names: [
                "--follow-ftp",
            ],
            description: Some("Follow FTP links from HTML documents"),
        ),
        (
            names: [
                "--follow-tags=LIST",
            ],
            description: Some("Comma-separated list of followed HTML tags"),
        ),
        (
            names: [
                "--ignore-tags=LIST",
            ],
            description: Some("Comma-separated list of ignored HTML tags"),
        ),
        (
            names: [
                "-H",
                "--span-hosts",
            ],
            description: Some("Go to foreign hosts when recursive"),
        ),
        (
            names: [
                "-L",
                "--relative",
            ],
            description: Some("Follow relative links only"),
        ),
        (
            names: [
                "-I",
                "--include-directories=LIST",
            ],
            description: Some("List of allowed directories"),
        ),
        (
            names: [
                "-X",
                "--exclude-directories=LIST",
            ],
            description: Some("List of excluded directories"),
        ),
        (
            names: [
                "-np",
                "--no-parent",
            ],
            description: Some("Don't ascend to the parent directory"),
        ),
    ],
    arguments: [
        (
            name: "url",
            description: Some("The url(s) to retrieve"),
            variadic: true,
        ),
    ],
)
