(
    version: 1,
    command: "whence",
    description: Some("For each name, indicate how it should be interpreted"),
    subcommands: [],
    options: [
        (
            names: [
                "-v",
            ],
            description: Some("Produce verbose output"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Print results in a csh-like format"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
            ],
            description: Some("For each name, print \'name: word\', where \'word\' is the kind of command"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Display contents of shell functions"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Do a path search for the name, even if it\'s an alias/function/builtin"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Don\'t stop at the first match on the path"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-m",
            ],
            description: Some("The arguments are taken as patterns (pattern characters must be quoted)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
            ],
            description: Some("If the pathname contains symlinks, print the symlink-free name as well"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Print intermediate symlinks and the resolved name"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Expand tabs when outputting shell function"),
            takes_value: true,
            arguments: [
                (
                    name: "num",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "names",
            source: Files,
            optional: false,
            variadic: true,
            imported_generator: None,
        ),
    ],
)