(
    version: 1,
    command: "whence",
    description: Some("For each name, indicate how it should be interpreted"),
    options: [
        (
            names: [
                "-v",
            ],
            description: Some("Produce verbose output"),
        ),
        (
            names: [
                "-c",
            ],
            description: Some("Print results in a csh-like format"),
        ),
        (
            names: [
                "-w",
            ],
            description: Some("For each name, print 'name: word', where 'word' is the kind of command"),
        ),
        (
            names: [
                "-f",
            ],
            description: Some("Display contents of shell functions"),
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Do a path search for the name, even if it's an alias/function/builtin"),
        ),
        (
            names: [
                "-a",
            ],
            description: Some("Don't stop at the first match on the path"),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("The arguments are taken as patterns (pattern characters must be quoted)"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("If the pathname contains symlinks, print the symlink-free name as well"),
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Print intermediate symlinks and the resolved name"),
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Expand tabs when outputting shell function"),
            arguments: [
                (
                    name: "num",
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "names",
            variadic: true,
        ),
    ],
)
