(
    version: 1,
    command: "where",
    description: Some("For each name, indicate how it should be interpreted"),
    options: [
        (
            names: [
                "-w",
            ],
            description: Some("For each name, print 'name: word', where 'word' is the kind of command"),
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Do a path search for the name, even if it's an alias/function/builtin"),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("The arguments are taken as patterns (pattern characters must be quoted)"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("If the pathname contains symlinks, print the symlink-free name as well"),
        ),
        (
            names: [
                "-S",
            ],
            description: Some("Print intermediate symlinks and the resolved name"),
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Expand tabs when outputting shell function"),
            arguments: [
                (
                    name: "num",
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "names",
            variadic: true,
        ),
    ],
)
