(
    version: 1,
    command: "while",
    description: Some("Repeat a command while this is true"),
    arguments: [
        (
            name: "",
            is_command: true,
        ),
    ],
)
