(
    version: 1,
    command: "who",
    description: Some("Display who is logged in"),
    subcommands: [
        (
            name: "am",
            description: Some("Returns the invoker's real user name"),
            additional_suggestions: [
                (
                    name: "am I",
                    presentation: (
                        icon: Some("fig://icon?type=command"),
                        insert_value: Some("I{cursor}"),
                    ),
                ),
            ],
            presentation: (
                priority: Some(40.0),
            ),
        ),
    ],
    options: [
        (
            names: [
                "-a",
            ],
            description: Some("Same as -bdlprTtu"),
        ),
        (
            names: [
                "-b",
            ],
            description: Some("Time of last system boot"),
        ),
        (
            names: [
                "-d",
            ],
            description: Some("Print dead processes"),
        ),
        (
            names: [
                "-H",
            ],
            description: Some("Write column headings above the regular output"),
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Print system login processes (unsupported)"),
        ),
        (
            names: [
                "-m",
            ],
            description: Some("Only print information about the current terminal"),
        ),
        (
            names: [
                "-p",
            ],
            description: Some("Print active processes spawned by launchd(8) (unsupported)"),
        ),
        (
            names: [
                "-q",
            ],
            description: Some("'Quick mode': List only names and number of users currently logged on"),
            exclusive_on: [
                "-a",
                "-b",
                "-d",
                "-H",
                "-l",
                "-m",
                "-p",
                "-r",
                "-s",
                "-T",
                "-t",
                "-u",
            ],
        ),
        (
            names: [
                "-r",
            ],
            description: Some("Print the current runlevel"),
        ),
        (
            names: [
                "-s",
            ],
            description: Some("List only the name, line and time fields (this is the default)"),
        ),
        (
            names: [
                "-T",
            ],
            description: Some("Print a character after the user name indicating the state of the terminal line: '+' writable, '-' not writable, '?' bad"),
        ),
        (
            names: [
                "-t",
            ],
            description: Some("Print last system clock change (unsupported)"),
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Print the idle time for each user and the associated process ID"),
        ),
    ],
    arguments: [
        (
            name: "file",
            description: Some("By default, who gathers information from the file /var/run/utmpx; an alternative file may be specified"),
            template: [
                FilePaths,
            ],
            optional: true,
        ),
    ],
    parser_directives: Some((
        options_must_precede_arguments: true,
    )),
)
