(
    version: 1,
    command: "wifi-password",
    description: Some("People ask you for the Wi-Fi password. Answer quickly. macOS only"),
    subcommands: [],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for wifi-password"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--quiet",
                "-q",
            ],
            description: Some("Only output the password"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-V",
            ],
            description: Some("Output version"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "SSID",
            source: Unavailable,
            optional: false,
            variadic: false,
            imported_generator: Some((
                script: [
                    "bash",
                    "-c",
                    "networksetup -listallhardwareports | awk \'/Wi-Fi/{getline; print $2}\' | xargs networksetup -listpreferredwirelessnetworks",
                ],
                has_post_process: true,
                has_custom: false,
            )),
        ),
    ],
)