(
    version: 1,
    command: "wing",
    subcommands: [
        (
            name: "run",
            description: Some("Runs a Wing executable in the Wing Console"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "executable",
                    description: Some("Executable .wx file"),
                ),
            ],
        ),
        (
            name: "compile",
            description: Some("Compiles a Wing program"),
            options: [
                (
                    names: [
                        "-o",
                        "--out-dir",
                    ],
                    description: Some("Output directory"),
                    arguments: [
                        (
                            name: "out-dir",
                        ),
                    ],
                ),
                (
                    names: [
                        "-t",
                        "--target",
                    ],
                    description: Some("Target platform (options: 'tf-aws', 'sim')"),
                    arguments: [
                        (
                            name: "target",
                            default: Some("tf-aws"),
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
            arguments: [
                (
                    name: "entrypoint",
                    description: Some("Program .w entrypoint"),
                ),
            ],
        ),
        (
            name: "upgrade",
            description: Some("Upgrades the Wing toolchain to the latest version"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    presentation: (
                        priority: Some(49.0),
                    ),
                ),
            ],
        ),
        (
            name: "help",
            description: Some("Display help for command"),
            arguments: [
                (
                    name: "command",
                    template: [
                        Help,
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                priority: Some(49.0),
            ),
        ),
    ],
)
