(
    version: 1,
    command: "wrk",
    description: Some("Wrk - a HTTP benchmarking tool"),
    subcommands: [],
    options: [
        (
            names: [
                "-c",
                "--c",
            ],
            description: Some("Connections to keep open"),
            takes_value: true,
            arguments: [
                (
                    name: "Number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-d",
                "--duration",
            ],
            description: Some("Duration of test"),
            takes_value: true,
            arguments: [
                (
                    name: "Time",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-t",
                "--threads",
            ],
            description: Some("Number of threads"),
            takes_value: true,
            arguments: [
                (
                    name: "Number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-s",
                "--script",
            ],
            description: Some("Load Lua script file"),
            takes_value: true,
            arguments: [
                (
                    name: "Script",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-H",
                "--header",
            ],
            description: Some("Add header to request"),
            takes_value: true,
            arguments: [
                (
                    name: "Header",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--latency",
            ],
            description: Some("Print latency statistics"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--timeout",
            ],
            description: Some("Socket/request timeout"),
            takes_value: true,
            arguments: [
                (
                    name: "Time",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Print version details"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Output usage information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "Url",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)