(
    version: 1,
    command: "wscat",
    description: Some("Communicate over websocket"),
    options: [
        (
            names: [
                "-c",
                "--connect",
            ],
            description: Some("Connect to a WebSocket server"),
            arguments: [
                (
                    name: "url",
                    template: [
                        History,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
        ),
        (
            names: [
                "--auth",
            ],
            description: Some("Add basic HTTP authentication header (--connect only)"),
            arguments: [
                (
                    name: "username:password",
                ),
            ],
            depends_on: [
                "-c",
                "--connect",
            ],
        ),
        (
            names: [
                "--ca",
            ],
            description: Some("Specify a Certificate Authority (--connect only)"),
            arguments: [
                (
                    name: "ca",
                ),
            ],
            depends_on: [
                "-c",
                "--connect",
            ],
        ),
        (
            names: [
                "--cert",
            ],
            description: Some("Specify a Client SSL Certificate (--connect only)"),
            arguments: [
                (
                    name: "cert",
                ),
            ],
            depends_on: [
                "-c",
                "--connect",
            ],
        ),
        (
            names: [
                "--host",
            ],
            description: Some("Optional host"),
            arguments: [
                (
                    name: "host",
                ),
            ],
        ),
        (
            names: [
                "--key",
            ],
            description: Some("Specify a Client SSL Certificate's key (--connect only)"),
            arguments: [
                (
                    name: "key",
                ),
            ],
            depends_on: [
                "-c",
                "--connect",
            ],
        ),
        (
            names: [
                "--max-redirects",
            ],
            description: Some("Maximum number of redirects allowed (--connect only) (default: 10)"),
            arguments: [
                (
                    name: "num",
                ),
            ],
            depends_on: [
                "-c",
                "--connect",
            ],
        ),
        (
            names: [
                "--no-color",
            ],
            description: Some("Run without color"),
        ),
        (
            names: [
                "--passphrase",
            ],
            description: Some("Specify a Client SSL Certificate Key's passphrase (--connect only). If you don't provide a value, it will be prompted for"),
            arguments: [
                (
                    name: "passphrase",
                ),
            ],
            depends_on: [
                "-c",
                "--connect",
            ],
        ),
        (
            names: [
                "--proxy",
            ],
            description: Some("Connect via a proxy. Proxy must support CONNECT method"),
            arguments: [
                (
                    name: "[protocol://]host[:port]",
                ),
            ],
        ),
        (
            names: [
                "--slash",
            ],
            description: Some("Enable slash commands for control frames (/ping, /pong, /close [code [, reason]])"),
        ),
        (
            names: [
                "-H",
                "--header",
            ],
            description: Some("Set an HTTP header. Repeat to set multiple (--connect only) (default: [])"),
            arguments: [
                (
                    name: "header:value",
                ),
            ],
            depends_on: [
                "-c",
                "--connect",
            ],
        ),
        (
            names: [
                "-L",
                "--location",
            ],
            description: Some("Follow redirects (--connect only)"),
            depends_on: [
                "-c",
                "--connect",
            ],
        ),
        (
            names: [
                "-l",
                "--listen",
            ],
            description: Some("Listen on port"),
            arguments: [
                (
                    name: "port",
                ),
            ],
        ),
        (
            names: [
                "-n",
                "--no-check",
            ],
            description: Some("Do not check for unauthorized certificates"),
        ),
        (
            names: [
                "-o",
                "--origin",
            ],
            description: Some("Optional origin"),
            arguments: [
                (
                    name: "origin",
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--protocol",
            ],
            description: Some("Optional protocol version"),
            arguments: [
                (
                    name: "protocol",
                ),
            ],
        ),
        (
            names: [
                "-P",
                "--show-ping-pong",
            ],
            description: Some("Print a notification when a ping or pong is received"),
        ),
        (
            names: [
                "-s",
                "--subprotocol",
            ],
            description: Some("Optional subprotocol (default: [])"),
            arguments: [
                (
                    name: "protocol",
                    suggestions: [
                        (
                            name: "MBWS.huawei.com",
                        ),
                        (
                            name: "MBLWS.huawei.com",
                        ),
                        (
                            name: "soap",
                        ),
                        (
                            name: "wamp",
                        ),
                        (
                            name: "v10.stomp",
                        ),
                        (
                            name: "v11.stomp",
                        ),
                        (
                            name: "v12.stomp",
                        ),
                        (
                            name: "ocpp1.2",
                        ),
                        (
                            name: "ocpp1.5",
                        ),
                        (
                            name: "ocpp1.6",
                        ),
                        (
                            name: "ocpp2.0",
                        ),
                        (
                            name: "ocpp2.0.1",
                        ),
                        (
                            name: "rfb",
                        ),
                        (
                            name: "sip",
                        ),
                        (
                            name: "notificationchannel-netapi-rest.openmobilealliance.org",
                        ),
                        (
                            name: "wpcp",
                        ),
                        (
                            name: "amqp\t",
                        ),
                        (
                            name: "mqtt",
                        ),
                        (
                            name: "jsflow",
                        ),
                        (
                            name: "rwpcp",
                        ),
                        (
                            name: "xmpp",
                        ),
                        (
                            name: "ship",
                        ),
                        (
                            name: "mielecloudconnect",
                        ),
                        (
                            name: "v10.pcp.sap.com",
                        ),
                        (
                            name: "msrp",
                        ),
                        (
                            name: "v1.saltyrtc.org",
                        ),
                        (
                            name: "TLCP-2.0.0.lightstreamer.com",
                        ),
                        (
                            name: "bfcp",
                        ),
                        (
                            name: "sldp.softvelum.com",
                        ),
                        (
                            name: "opcua+uacp",
                        ),
                        (
                            name: "opcua+uajson",
                        ),
                        (
                            name: "v1.swindon-lattice+json",
                        ),
                        (
                            name: "v1.usp",
                        ),
                        (
                            name: "mles-websocket",
                        ),
                        (
                            name: "coap",
                        ),
                        (
                            name: "TLCP-2.1.0.lightstreamer.com",
                        ),
                        (
                            name: "sqlnet.oracle.com",
                        ),
                        (
                            name: "oneM2M.R2.0.json",
                        ),
                        (
                            name: "oneM2M.R2.0.xml",
                        ),
                        (
                            name: "oneM2M.R2.0.cbor",
                        ),
                        (
                            name: "transit",
                        ),
                        (
                            name: "2016.serverpush.dash.mpeg.org",
                        ),
                        (
                            name: "2018.mmt.mpeg.org",
                        ),
                        (
                            name: "clue",
                        ),
                        (
                            name: "webrtc.softvelum.com",
                        ),
                        (
                            name: "cobra.v2.json",
                        ),
                        (
                            name: "drp",
                        ),
                        (
                            name: "hub.bsc.bacnet.org",
                        ),
                        (
                            name: "dc.bsc.bacnet.org",
                        ),
                        (
                            name: "jmap",
                        ),
                        (
                            name: "t140",
                        ),
                        (
                            name: "done",
                        ),
                        (
                            name: "TLCP-2.2.0.lightstreamer.com",
                        ),
                        (
                            name: "collection-update",
                        ),
                        (
                            name: "TLCP-2.3.0.lightstreamer.com",
                        ),
                        (
                            name: "text.ircv3.net",
                        ),
                        (
                            name: "binary.ircv3.net",
                        ),
                        (
                            name: "v3.penguin-stats.live+proto",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-w",
                "--wait",
            ],
            description: Some("Wait given seconds after executing command"),
            arguments: [
                (
                    name: "seconds",
                ),
            ],
        ),
        (
            names: [
                "-x",
                "--execute",
            ],
            description: Some("Execute command after connecting"),
            arguments: [
                (
                    name: "command",
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
        ),
    ],
)
