(
    version: 1,
    command: "wscat",
    description: Some("Communicate over websocket"),
    subcommands: [],
    options: [
        (
            names: [
                "-c",
                "--connect",
            ],
            description: Some("Connect to a WebSocket server"),
            takes_value: true,
            arguments: [
                (
                    name: "url",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--auth",
            ],
            description: Some("Add basic HTTP authentication header (--connect only)"),
            takes_value: true,
            arguments: [
                (
                    name: "username:password",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--ca",
            ],
            description: Some("Specify a Certificate Authority (--connect only)"),
            takes_value: true,
            arguments: [
                (
                    name: "ca",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--cert",
            ],
            description: Some("Specify a Client SSL Certificate (--connect only)"),
            takes_value: true,
            arguments: [
                (
                    name: "cert",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--host",
            ],
            description: Some("Optional host"),
            takes_value: true,
            arguments: [
                (
                    name: "host",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--key",
            ],
            description: Some("Specify a Client SSL Certificate\'s key (--connect only)"),
            takes_value: true,
            arguments: [
                (
                    name: "key",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--max-redirects",
            ],
            description: Some("Maximum number of redirects allowed (--connect only) (default: 10)"),
            takes_value: true,
            arguments: [
                (
                    name: "num",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--no-color",
            ],
            description: Some("Run without color"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--passphrase",
            ],
            description: Some("Specify a Client SSL Certificate Key\'s passphrase (--connect only). If you don\'t provide a value, it will be prompted for"),
            takes_value: true,
            arguments: [
                (
                    name: "passphrase",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--proxy",
            ],
            description: Some("Connect via a proxy. Proxy must support CONNECT method"),
            takes_value: true,
            arguments: [
                (
                    name: "[protocol://]host[:port]",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--slash",
            ],
            description: Some("Enable slash commands for control frames (/ping, /pong, /close [code [, reason]])"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-H",
                "--header",
            ],
            description: Some("Set an HTTP header. Repeat to set multiple (--connect only) (default: [])"),
            takes_value: true,
            arguments: [
                (
                    name: "header:value",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-L",
                "--location",
            ],
            description: Some("Follow redirects (--connect only)"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-l",
                "--listen",
            ],
            description: Some("Listen on port"),
            takes_value: true,
            arguments: [
                (
                    name: "port",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-n",
                "--no-check",
            ],
            description: Some("Do not check for unauthorized certificates"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-o",
                "--origin",
            ],
            description: Some("Optional origin"),
            takes_value: true,
            arguments: [
                (
                    name: "origin",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-p",
                "--protocol",
            ],
            description: Some("Optional protocol version"),
            takes_value: true,
            arguments: [
                (
                    name: "protocol",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-P",
                "--show-ping-pong",
            ],
            description: Some("Print a notification when a ping or pong is received"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--subprotocol",
            ],
            description: Some("Optional subprotocol (default: [])"),
            takes_value: true,
            arguments: [
                (
                    name: "protocol",
                    source: Static([
                        "MBWS.huawei.com",
                        "MBLWS.huawei.com",
                        "soap",
                        "wamp",
                        "v10.stomp",
                        "v11.stomp",
                        "v12.stomp",
                        "ocpp1.2",
                        "ocpp1.5",
                        "ocpp1.6",
                        "ocpp2.0",
                        "ocpp2.0.1",
                        "rfb",
                        "sip",
                        "notificationchannel-netapi-rest.openmobilealliance.org",
                        "wpcp",
                        "amqp\t",
                        "mqtt",
                        "jsflow",
                        "rwpcp",
                        "xmpp",
                        "ship",
                        "mielecloudconnect",
                        "v10.pcp.sap.com",
                        "msrp",
                        "v1.saltyrtc.org",
                        "TLCP-2.0.0.lightstreamer.com",
                        "bfcp",
                        "sldp.softvelum.com",
                        "opcua+uacp",
                        "opcua+uajson",
                        "v1.swindon-lattice+json",
                        "v1.usp",
                        "mles-websocket",
                        "coap",
                        "TLCP-2.1.0.lightstreamer.com",
                        "sqlnet.oracle.com",
                        "oneM2M.R2.0.json",
                        "oneM2M.R2.0.xml",
                        "oneM2M.R2.0.cbor",
                        "transit",
                        "2016.serverpush.dash.mpeg.org",
                        "2018.mmt.mpeg.org",
                        "clue",
                        "webrtc.softvelum.com",
                        "cobra.v2.json",
                        "drp",
                        "hub.bsc.bacnet.org",
                        "dc.bsc.bacnet.org",
                        "jmap",
                        "t140",
                        "done",
                        "TLCP-2.2.0.lightstreamer.com",
                        "collection-update",
                        "TLCP-2.3.0.lightstreamer.com",
                        "text.ircv3.net",
                        "binary.ircv3.net",
                        "v3.penguin-stats.live+proto",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-w",
                "--wait",
            ],
            description: Some("Wait given seconds after executing command"),
            takes_value: true,
            arguments: [
                (
                    name: "seconds",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-x",
                "--execute",
            ],
            description: Some("Execute command after connecting"),
            takes_value: true,
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)