(
    version: 1,
    command: "xc",
    description: Some("List tasks from an xc-compatible markdown file"),
    options: [
        (
            names: [
                "-s",
                "-short",
            ],
            description: Some("List task names in a short format"),
        ),
        (
            names: [
                "-h",
                "-help",
            ],
            description: Some("Print this help text"),
        ),
        (
            names: [
                "-f",
                "-file",
            ],
            description: Some("Specify a markdown file that contains tasks (default: \"README.md\")"),
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-H",
                "-heading",
            ],
            description: Some("Specify the heading for xc tasks (default: \"Tasks\")"),
            arguments: [
                (
                    name: "heading",
                    suggestions: [
                        (
                            name: "Tasks",
                        ),
                        (
                            name: "Usage",
                        ),
                        (
                            name: "Examples",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-V",
                "-version",
            ],
            description: Some("Show xc version"),
        ),
        (
            names: [
                "-complete",
            ],
            description: Some("Install shell completion for xc"),
        ),
        (
            names: [
                "-uncomplete",
            ],
            description: Some("Uninstall shell completion for xc"),
        ),
    ],
    has_generate_spec: true,
)
