(
    version: 1,
    command: "xcode-select",
    description: Some("Active developer directory for Xcode tools"),
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Help message"),
        ),
        (
            names: [
                "-p",
                "--print-path",
            ],
            description: Some("Display path to active developer directory"),
        ),
        (
            names: [
                "-s",
                "--switch",
            ],
            description: Some("Set path to active developer directory"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                ),
            ],
            presentation: (
                insert_value: Some("-s "),
            ),
        ),
        (
            names: [
                "--install",
            ],
            description: Some("Install Xcode command line tools"),
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Display version"),
        ),
        (
            names: [
                "-r",
                "--reset",
            ],
            description: Some("Reset to the default CLT path"),
        ),
    ],
)
