(
    version: 1,
    command: "xcodebuild",
    description: Some("Build Xcode projects"),
    options: [
        (
            names: [
                "-usage",
            ],
            description: Some("Print brief usage"),
        ),
        (
            names: [
                "-help",
            ],
            description: Some("Print complete usage"),
        ),
        (
            names: [
                "-verbose",
            ],
            description: Some("Provide additional status output"),
        ),
        (
            names: [
                "-license",
            ],
            description: Some("Show the Xcode and SDK license agreements"),
        ),
        (
            names: [
                "-checkFirstLaunchStatus",
            ],
            description: Some("Check if any First Launch tasks need to be performed"),
        ),
        (
            names: [
                "-runFirstLaunch",
            ],
            description: Some("Install packages and agree to the license"),
        ),
        (
            names: [
                "-project",
            ],
            description: Some("Build the project NAME"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
        (
            names: [
                "-target",
            ],
            description: Some("Build the target NAME"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
        (
            names: [
                "-alltargets",
            ],
            description: Some("Build all targets"),
        ),
        (
            names: [
                "-workspace",
            ],
            description: Some("Build the workspace NAME"),
            arguments: [
                (
                    name: "NAME",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-scheme",
            ],
            description: Some("Build the scheme NAME"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
        (
            names: [
                "-configuration",
            ],
            description: Some("Use the build configuration NAME for building each target"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
        (
            names: [
                "-xcconfig",
            ],
            description: Some("Apply the build settings defined in the file at PATH as overrides"),
            arguments: [
                (
                    name: "NAME",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-arch",
            ],
            description: Some("Build each target for the architecture ARCH; this will override architectures defined in the project"),
            arguments: [
                (
                    name: "ARCH",
                    suggestions: [
                        (
                            name: "x86_64",
                        ),
                        (
                            name: "arm64",
                        ),
                        (
                            name: "armv7",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-sdk",
            ],
            description: Some("Use SDK as the name or path of the base SDK when building the project"),
            arguments: [
                (
                    name: "SDK",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-toolchain",
            ],
            description: Some("Use the toolchain with identifier or name NAME"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
        (
            names: [
                "-destination",
            ],
            description: Some("Use the destination described by DESTINATIONSPECIFIER (a comma-separated set of key=value pairs describing the destination to use)"),
            arguments: [
                (
                    name: "DESTINATION SPECIFIER",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-destination-timeout",
            ],
            description: Some("Wait for TIMEOUT seconds while searching for the destination device"),
            arguments: [
                (
                    name: "TIMEOUT",
                ),
            ],
        ),
        (
            names: [
                "-parallelizeTargets",
            ],
            description: Some("Build independent targets in parallel"),
        ),
        (
            names: [
                "-jobs",
            ],
            description: Some("Specify the maximum number of concurrent build operations"),
            arguments: [
                (
                    name: "NUMBER",
                ),
            ],
        ),
        (
            names: [
                "-maximum-concurrent-test-device-destinations",
            ],
            description: Some("The maximum number of device destinations to test on concurrently"),
            arguments: [
                (
                    name: "NUMBER",
                ),
            ],
        ),
        (
            names: [
                "-maximum-concurrent-test-simulator-destinations",
            ],
            description: Some("The maximum number of simulator destinations to test on concurrently"),
            arguments: [
                (
                    name: "NUMBER",
                ),
            ],
        ),
        (
            names: [
                "-parallel-testing-enabled",
            ],
            description: Some("Overrides the per-target setting in the scheme"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "YES",
                        ),
                        (
                            name: "NO",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-parallel-testing-worker-count",
            ],
            description: Some("The exact number of test runners that will be spawned during parallel testing"),
            arguments: [
                (
                    name: "NUMBER",
                ),
            ],
        ),
        (
            names: [
                "-maximum-parallel-testing-workers",
            ],
            description: Some("The maximum number of test runners that will be spawned during parallel testing"),
            arguments: [
                (
                    name: "NUMBER",
                ),
            ],
        ),
        (
            names: [
                "-dry-run",
            ],
            description: Some("Do everything except actually running the commands"),
        ),
        (
            names: [
                "-quiet",
            ],
            description: Some("Do not print any output except for warnings and errors"),
        ),
        (
            names: [
                "-hideShellScriptEnvironment",
            ],
            description: Some("Don't show shell script environment variables in build log"),
        ),
        (
            names: [
                "-showsdks",
            ],
            description: Some("Display a compact list of the installed SDKs"),
        ),
        (
            names: [
                "-showdestinations",
            ],
            description: Some("Display a list of destinations"),
        ),
        (
            names: [
                "-showTestPlans",
            ],
            description: Some("Display a list of test plans"),
        ),
        (
            names: [
                "-showBuildSettings",
            ],
            description: Some("Display a list of build settings and values"),
        ),
        (
            names: [
                "-showBuildSettingsForIndex",
            ],
            description: Some("Display build settings for the index service"),
        ),
        (
            names: [
                "-list",
            ],
            description: Some("Lists the targets and configurations in a project, or the schemes in a workspace"),
        ),
        (
            names: [
                "-find-executable",
            ],
            description: Some("Display the full path to executable NAME in the provided SDK and toolchain"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
        (
            names: [
                "-find-library",
            ],
            description: Some("Display the full path to library NAME in the provided SDK and toolchain"),
            arguments: [
                (
                    name: "NAME",
                ),
            ],
        ),
        (
            names: [
                "-version",
            ],
            description: Some("Display the version of Xcode; with -sdk will display info about one or all installed SDKs"),
        ),
        (
            names: [
                "-enableAddressSanitizer",
            ],
            description: Some("Turn the address sanitizer on or off"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "YES",
                        ),
                        (
                            name: "NO",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-enableThreadSanitizer",
            ],
            description: Some("Turn the thread sanitizer on or off"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "YES",
                        ),
                        (
                            name: "NO",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-enableUndefinedBehaviorSanitizer",
            ],
            description: Some("Turn the undefined behavior sanitizer on or off"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "YES",
                        ),
                        (
                            name: "NO",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-resultBundlePath",
            ],
            description: Some("Specifies the directory where a result bundle describing what occurred will be placed"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-resultStreamPath",
            ],
            description: Some("Specifies the file where a result stream will be written to (the file must already exist)"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-resultBundleVersion",
            ],
            description: Some("Specifies which result bundle version should be used"),
            arguments: [
                (
                    name: "version",
                    default: Some("3"),
                ),
            ],
        ),
        (
            names: [
                "-clonedSourcePackagesDirPath",
            ],
            description: Some("Specifies the directory to which remote source packages are fetch or expected to be found"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-derivedDataPath",
            ],
            description: Some("Specifies the directory where build products and other derived data will go"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-archivePath",
            ],
            description: Some("Specifies the directory where any created archives will be placed, or the archive that should be exported"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-exportArchive",
            ],
            description: Some("Specifies that an archive should be exported"),
        ),
        (
            names: [
                "-exportNotarizedApp",
            ],
            description: Some("Export an archive that has been notarized by Apple"),
        ),
        (
            names: [
                "-exportOptionsPlist",
            ],
            description: Some("Specifies a path to a plist file that configures archive exporting"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-enableCodeCoverage",
            ],
            description: Some("Turn code coverage on or off when testing"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "YES",
                        ),
                        (
                            name: "NO",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-exportPath",
            ],
            description: Some("Specifies the destination for the product exported from an archive"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-skipUnavailableActions",
            ],
            description: Some("Specifies that scheme actions that cannot be performed should be skipped instead of causing a failure"),
        ),
        (
            names: [
                "-exportLocalizations",
            ],
            description: Some("Exports completed and outstanding project localizations"),
        ),
        (
            names: [
                "-importLocalizations",
            ],
            description: Some("Imports localizations for a project, assuming any necessary localized resources have been created in Xcode"),
        ),
        (
            names: [
                "-localizationPath",
            ],
            description: Some("Specifies a path to XLIFF localization file"),
            arguments: [
                (
                    name: "PATH",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-exportLanguage",
            ],
            description: Some("Specifies multiple optional ISO 639-1 languages included in a localization export"),
            arguments: [
                (
                    name: "languages",
                    variadic: true,
                ),
            ],
        ),
        (
            names: [
                "-xcroot",
            ],
            description: Some("Specifies a path to a .xcroot to use for building and/or testing"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-xctestrun",
            ],
            description: Some("Specifies a path to a test run specification"),
            arguments: [
                (
                    name: "path",
                    template: [
                        Folders,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-testPlan",
            ],
            description: Some("Specifies the name of the test plan associated with the scheme to use for testing"),
            arguments: [
                (
                    name: "test plan",
                ),
            ],
        ),
        (
            names: [
                "-only-testing",
            ],
            description: Some("Constrains testing by specifying tests to include, and excluding other tests"),
            exclusive_on: [
                "-skip-testing",
            ],
        ),
        (
            names: [
                "-only-testing:",
            ],
            description: Some("Constrains testing by specifying tests to include, and excluding other tests"),
            arguments: [
                (
                    name: "Test Identifier",
                ),
            ],
            exclusive_on: [
                "-skip-testing",
            ],
            presentation: (
                insert_value: Some("-only-testing:{cursor}"),
            ),
        ),
        (
            names: [
                "-skip-testing",
            ],
            description: Some("Constrains testing by specifying tests to exclude, but including other tests"),
            exclusive_on: [
                "-only-testing",
            ],
        ),
        (
            names: [
                "-skip-testing:",
            ],
            description: Some("Constrains testing by specifying tests to exclude, but including other tests"),
            arguments: [
                (
                    name: "Test Identifier",
                ),
            ],
            exclusive_on: [
                "-only-testing",
            ],
            presentation: (
                insert_value: Some("-skip-testing:{cursor}"),
            ),
        ),
        (
            names: [
                "-test-timeouts-enabled",
            ],
            description: Some("Enable or disable test timeout behavior"),
            arguments: [
                (
                    name: "mode",
                    suggestions: [
                        (
                            name: "YES",
                        ),
                        (
                            name: "NO",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-default-test-execution-time-allowance",
            ],
            description: Some("The default execution time an individual test is given to execute, if test timeouts are enabled"),
            arguments: [
                (
                    name: "SECONDS",
                ),
            ],
        ),
        (
            names: [
                "-maximum-test-execution-time-allowance",
            ],
            description: Some("The maximum execution time an individual test is given to execute, regardless of the test's preferred allowance"),
            arguments: [
                (
                    name: "SECONDS",
                ),
            ],
        ),
        (
            names: [
                "-only-test-configuration",
            ],
            description: Some("Constrains testing by specifying test configurations to include, and excluding other test configurations"),
        ),
        (
            names: [
                "-skip-test-configuration",
            ],
            description: Some("Constrains testing by specifying test configurations to exclude, but including other test configurations"),
        ),
        (
            names: [
                "-testLanguage",
            ],
            description: Some("Constrains testing by specifying ISO 639-1 language in which to run the tests"),
        ),
        (
            names: [
                "-testRegion",
            ],
            description: Some("Constrains testing by specifying ISO 3166-1 region in which to run the tests"),
        ),
        (
            names: [
                "-resolvePackageDependencies",
            ],
            description: Some("Resolves any Swift package dependencies referenced by the project or workspace"),
        ),
        (
            names: [
                "-disableAutomaticPackageResolution",
            ],
            description: Some("Prevents packages from automatically being resolved to versions other than those recorded in the `Package.resolved` file"),
        ),
        (
            names: [
                "-json",
            ],
            description: Some("Output as JSON"),
        ),
        (
            names: [
                "-allowProvisioningUpdates",
            ],
            description: Some("Allow xcodebuild to communicate with the Apple Developer website. For automatically signed targets, xcodebuild will create and update profiles, app IDs, and certificates. For manually signed targets, xcodebuild will download missing or updated provisioning profiles. Requires a developer account to have been added in Xcode's Accounts preference pane"),
        ),
        (
            names: [
                "-allowProvisioningDeviceRegistration",
            ],
            description: Some("Allow xcodebuild to register your destination device on the developer portal if necessary. This flag only takes effect if -allowProvisioningUpdates is also passed"),
        ),
        (
            names: [
                "-scmProvider",
            ],
            description: Some("Which implementation to use for Git operations (system/xcode)"),
            arguments: [
                (
                    name: "Implementation",
                    suggestions: [
                        (
                            name: "system",
                        ),
                        (
                            name: "xcode",
                        ),
                    ],
                ),
            ],
        ),
        (
            names: [
                "-showBuildTimingSummary",
            ],
            description: Some("Display a report of the timings of all the commands invoked during the build"),
        ),
        (
            names: [
                "-create-xcframework",
            ],
            description: Some("Create an xcframework from prebuilt libraries; -help for more information"),
        ),
        (
            names: [
                "build",
            ],
            description: Some("Build the target in the build root (SYMROOT).  This is the default build action"),
        ),
        (
            names: [
                "installsrc",
            ],
            description: Some("Copy the source of the project to the source root (SRCROOT)"),
        ),
        (
            names: [
                "install",
            ],
            description: Some("Build the target and install it into the target's installation directory in the distribution root (DSTROOT)"),
        ),
        (
            names: [
                "clean",
            ],
            description: Some("Remove build products and intermediate files from the build root (SYMROOT)"),
        ),
    ],
)
