(
    version: 1,
    command: "xcodeproj",
    description: Some("Xcodeproj lets you create and modify Xcode projects"),
    subcommands: [
        (
            name: "config-dump",
            aliases: [],
            description: Some("Dumps the build settings of all project targets for all configurations in directories named by the target in the given output directory"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "PROJECT",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
                (
                    name: "OUTPUT",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "project-diff",
            aliases: [],
            description: Some("Shows the difference between two projects"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--ignore",
                    ],
                    description: Some("A key to ignore in the comparison. Can be specified multiple times"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "KEY",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "PROJECT1",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
                (
                    name: "PROJECT2",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "show",
            aliases: [],
            description: Some("Shows an overview of a project in a YAML representation"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--format",
                    ],
                    description: Some("YAML output format"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "FORMAT",
                            source: Static([
                                "hash",
                                "tree_hash",
                                "raw",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "PROJECT",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "sort",
            aliases: [],
            description: Some("Sorts the given project"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--group-option",
                    ],
                    description: Some("The position of the groups when sorting. If no option is specified sorting will interleave groups and files"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "POSITION",
                            source: Static([
                                "above",
                                "below",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "PROJECT",
                    source: Unavailable,
                    optional: true,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: false,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "target-diff",
            aliases: [],
            description: Some("Shows the difference between two targets"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--project",
                    ],
                    description: Some("The Xcode project document to use"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "PATH",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: false,
                            )),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "TARGET1",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "TARGET2",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--verbose",
            ],
            description: Some("Show more debugging information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show the version of the tool"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--no-ansi",
            ],
            description: Some("Show output without ANSI codes"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
            ],
            description: Some("Show help banner of specified command"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)