(
    version: 1,
    command: "xcode-select",
    description: Some("Active developer directory for Xcode tools"),
    subcommands: [],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Help message"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-p",
                "--print-path",
            ],
            description: Some("Display path to active developer directory"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-s",
                "--switch",
            ],
            description: Some("Set path to active developer directory"),
            takes_value: true,
            arguments: [
                (
                    name: "path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--install",
            ],
            description: Some("Install Xcode command line tools"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Display version"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-r",
                "--reset",
            ],
            description: Some("Reset to the default CLT path"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)