(
    version: 1,
    command: "xcodes",
    description: Some("Manage the Xcode versions installed on your Mac"),
    subcommands: [
        (
            name: "help",
            arguments: [
                (
                    name: "command",
                    template: [
                        Help,
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                icon: Some("ℹ️"),
            ),
        ),
        (
            name: "download",
            description: Some("Download a specific version of Xcode"),
            options: [
                (
                    names: [
                        "--latest",
                    ],
                    description: Some("Update and then install the latest non-prerelease version available"),
                ),
                (
                    names: [
                        "--latest-prerelease",
                    ],
                    description: Some("Update and then install the latest prerelease version available, including GM seeds and GMs"),
                ),
                (
                    names: [
                        "--aria2",
                    ],
                    description: Some("The path to an aria2 executable. Searches $PATH by default"),
                    arguments: [
                        (
                            name: "aria2",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-aria2",
                    ],
                    description: Some("Don't use aria2 to download Xcode, even if it's available"),
                ),
                (
                    names: [
                        "--directory",
                    ],
                    description: Some("The directory where your Xcodes are installed. Defaults to /Applications"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--data-source",
                    ],
                    description: Some("The data source for available Xcode versions. (default: xcodereleases)"),
                    arguments: [
                        (
                            name: "dataSource",
                            suggestions: [
                                (
                                    name: "xcodereleases",
                                ),
                                (
                                    name: "apple",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--color",
                    ],
                    description: Some("Color the output"),
                ),
                (
                    names: [
                        "--no-color",
                    ],
                    description: Some("Do not color the output"),
                ),
            ],
            arguments: [
                (
                    name: "version",
                    description: Some("The version to install"),
                    generators: [
                        (
                            script: [
                                "xcodes",
                                "list",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                icon: Some("⬇️"),
            ),
        ),
        (
            name: "install",
            description: Some("Download and install a specific version of Xcode"),
            options: [
                (
                    names: [
                        "--path",
                    ],
                    description: Some("Local path to Xcode.xip"),
                    arguments: [
                        (
                            name: "path",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--latest",
                    ],
                    description: Some("Update and then install the latest non-prerelease version available"),
                ),
                (
                    names: [
                        "--latest-prerelease",
                    ],
                    description: Some("Update and then install the latest prerelease version available, including GM seeds and GMs"),
                ),
                (
                    names: [
                        "--aria2",
                    ],
                    description: Some("The path to an aria2 executable. Searches $PATH by default"),
                    arguments: [
                        (
                            name: "aria2",
                            template: [
                                FilePaths,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-aria2",
                    ],
                    description: Some("Don't use aria2 to download Xcode, even if it's available"),
                ),
                (
                    names: [
                        "--experimental-unxip",
                    ],
                    description: Some("Use the experimental unxip functionality. May speed up unarchiving by up to 2-3x"),
                ),
                (
                    names: [
                        "--directory",
                    ],
                    description: Some("The directory where your Xcodes are installed. Defaults to /Applications"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--data-source",
                    ],
                    description: Some("The data source for available Xcode versions. (default: xcodereleases)"),
                    arguments: [
                        (
                            name: "dataSource",
                            suggestions: [
                                (
                                    name: "xcodereleases",
                                ),
                                (
                                    name: "apple",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--color",
                    ],
                    description: Some("Color the output"),
                ),
                (
                    names: [
                        "--no-color",
                    ],
                    description: Some("Do not color the output"),
                ),
            ],
            arguments: [
                (
                    name: "version",
                    description: Some("The version to install"),
                    generators: [
                        (
                            script: [
                                "xcodes",
                                "list",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                icon: Some("⬇️"),
            ),
        ),
        (
            name: "installed",
            description: Some("List the versions of Xcode that are installed"),
            options: [
                (
                    names: [
                        "--directory",
                    ],
                    description: Some("The directory where your Xcodes are installed. Defaults to /Applications"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--color",
                    ],
                    description: Some("Color the output"),
                ),
                (
                    names: [
                        "--no-color",
                    ],
                    description: Some("Do not color the output"),
                ),
            ],
            presentation: (
                icon: Some("🔨"),
            ),
        ),
        (
            name: "list",
            description: Some("List all versions of Xcode available to install"),
            options: [
                (
                    names: [
                        "--directory",
                    ],
                    description: Some("The directory where your Xcodes are installed. Defaults to /Applications"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--data-source",
                    ],
                    description: Some("The data source for available Xcode versions. (default: xcodereleases)"),
                    arguments: [
                        (
                            name: "dataSource",
                            suggestions: [
                                (
                                    name: "xcodereleases",
                                ),
                                (
                                    name: "apple",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--color",
                    ],
                    description: Some("Color the output"),
                ),
                (
                    names: [
                        "--no-color",
                    ],
                    description: Some("Do not color the output"),
                ),
            ],
            presentation: (
                icon: Some("🔍"),
            ),
        ),
        (
            name: "select",
            description: Some("Change the selected Xcode"),
            options: [
                (
                    names: [
                        "-p",
                        "--print-path",
                    ],
                    description: Some("Print the path of the selected Xcode"),
                ),
                (
                    names: [
                        "--directory",
                    ],
                    description: Some("The directory where your Xcodes are installed. Defaults to /Applications"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--color",
                    ],
                    description: Some("Color the output"),
                ),
                (
                    names: [
                        "--no-color",
                    ],
                    description: Some("Do not color the output"),
                ),
            ],
            arguments: [
                (
                    name: "version-or-path",
                    description: Some("Version or path of Xcode to select"),
                    generators: [
                        (
                            script: [
                                "xcodes",
                                "installed",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
            presentation: (
                icon: Some("☑️"),
            ),
        ),
        (
            name: "uninstall",
            description: Some("Uninstall a version of Xcode"),
            options: [
                (
                    names: [
                        "--directory",
                    ],
                    description: Some("The directory where your Xcodes are installed. Defaults to /Applications"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--color",
                    ],
                    description: Some("Color the output"),
                ),
                (
                    names: [
                        "--no-color",
                    ],
                    description: Some("Do not color the output"),
                ),
            ],
            arguments: [
                (
                    name: "version",
                    generators: [
                        (
                            script: [
                                "xcodes",
                                "installed",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                    dangerous: true,
                ),
            ],
            presentation: (
                icon: Some("❌"),
                dangerous: true,
            ),
        ),
        (
            name: "update",
            description: Some("Update the list of available versions of Xcode"),
            options: [
                (
                    names: [
                        "--directory",
                    ],
                    description: Some("The directory where your Xcodes are installed. Defaults to /Applications"),
                    arguments: [
                        (
                            name: "directory",
                            template: [
                                Folders,
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--data-source",
                    ],
                    description: Some("The data source for available Xcode versions. (default: xcodereleases)"),
                    arguments: [
                        (
                            name: "dataSource",
                            suggestions: [
                                (
                                    name: "xcodereleases",
                                ),
                                (
                                    name: "apple",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--color",
                    ],
                    description: Some("Color the output"),
                ),
                (
                    names: [
                        "--no-color",
                    ],
                    description: Some("Do not color the output"),
                ),
            ],
            presentation: (
                icon: Some("🔄"),
            ),
        ),
        (
            name: "version",
            description: Some("Print the version number of xcodes itself"),
            options: [
                (
                    names: [
                        "--color",
                    ],
                    description: Some("Color the output"),
                ),
                (
                    names: [
                        "--no-color",
                    ],
                    description: Some("Do not color the output"),
                ),
                (
                    names: [
                        "--help",
                        "-h",
                    ],
                    description: Some("Show help information"),
                ),
            ],
        ),
        (
            name: "signout",
            description: Some("Clears the stored username and password"),
            options: [
                (
                    names: [
                        "--color",
                    ],
                    description: Some("Color the output"),
                ),
                (
                    names: [
                        "--no-color",
                    ],
                    description: Some("Do not color the output"),
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help information"),
            persistent: true,
        ),
    ],
)
