(
    version: 1,
    command: "xdg-mime",
    description: Some("Command line tool for querying information about file type handling and adding descriptions for new file types"),
    subcommands: [
        (
            name: "query",
            aliases: [],
            description: Some("Returns information related to file types"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "filetype | default",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "default",
            aliases: [],
            description: Some("Ask the desktop environment to make application the default application for opening files of type mimetype"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "application",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "mimetype(s)",
                    source: Files,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "install",
            aliases: [],
            description: Some("Adds the file type descriptions provided in mimetypes-file to the desktop environment"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--mode",
                    ],
                    description: None,
                    takes_value: true,
                    arguments: [
                        (
                            name: "mode",
                            source: Static([
                                "user",
                                "system",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--novendor",
                    ],
                    description: Some("Disables xdg-mime checks that the mimetypes-file to be installed has a proper vendor prefix"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "mimetypes-file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "uninstall",
            aliases: [],
            description: Some("Removes the file type descriptions provided in mimetypes-file and previously added with xdg-mime install from the desktop environment"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--mode",
                    ],
                    description: None,
                    takes_value: true,
                    arguments: [
                        (
                            name: "mode",
                            source: Static([
                                "user",
                                "system",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: "mimetypes-file",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Show command synopsis"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--manual",
            ],
            description: Some("Show manual page"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
            ],
            description: Some("Show the xdg-utils version information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)