(
    version: 1,
    command: "xed",
    description: Some("Xcode text editor invocation tool"),
    subcommands: [],
    options: [
        (
            names: [
                "--launch",
                "-x",
            ],
            description: Some("Launches Xcode, opening a new empty unsaved file"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--create",
                "-c",
            ],
            description: Some("Creates any non-existent files in the file list. If used without --launch, standard input will be read and piped to the last file created"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--wait",
                "-w",
            ],
            description: Some("Wait for the files to be closed before exiting. xed will idle and will only terminate when all files are closed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--line",
                "-l",
            ],
            description: Some("Selects the given line in the last file opened"),
            takes_value: true,
            arguments: [
                (
                    name: "number",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "--background",
                "-b",
            ],
            description: Some("Opens Xcode without activating it; the process that invoked xed remains in front"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for xed"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Prints the version number of xed"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "file",
            source: Files,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)