(
    version: 1,
    command: "xxd",
    description: Some("Make a hexdump or do the reverse"),
    subcommands: [],
    options: [
        (
            names: [
                "-help",
                "-h",
            ],
            description: Some("Show help for xxd"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-autoskip",
                "-a",
            ],
            description: Some("Toggle autoskip: A single \'*\' replaces nul-lines.  Default off"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-bits",
                "-b",
            ],
            description: Some("Switch to bits (binary digits) dump, rather than hexdump"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-cols",
                "-c",
            ],
            description: Some("Format <cols> octets per line. Default 16"),
            takes_value: true,
            arguments: [
                (
                    name: "cols",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-capitalize",
                "-C",
            ],
            description: Some("Capitalize variable names in C include file style, when using -i"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-EBCDIC",
                "-E",
            ],
            description: Some("Change the character encoding in the righthand column from ASCII to EBCDIC"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-e",
            ],
            description: Some("Switch to little-endian hexdump"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-groupsize",
                "-g",
            ],
            description: Some("Separate the output of every <bytes> bytes"),
            takes_value: true,
            arguments: [
                (
                    name: "bytes",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-include",
                "-i",
            ],
            description: Some("Output in C include file style"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-len",
                "-l",
            ],
            description: Some("Stop after writing <len> octets"),
            takes_value: true,
            arguments: [
                (
                    name: "len",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-name",
                "-n",
            ],
            description: Some("Override the variable name output when -i is used"),
            takes_value: true,
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-o",
            ],
            description: Some("Add <offset> to the displayed file position"),
            takes_value: true,
            arguments: [
                (
                    name: "offset",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-postscript",
                "-plain",
                "-ps",
                "-p",
            ],
            description: Some("Output in postscript continuous hexdump style"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-revert",
                "-r",
            ],
            description: Some("Reverse operation: convert (or patch) hexdump into binary"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-seek",
            ],
            description: Some("When used after -r: revert with <offset> added to file positions found in hexdump"),
            takes_value: true,
            arguments: [
                (
                    name: "offset",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
        (
            names: [
                "-u",
            ],
            description: Some("Use upper case hex letters. Default is lower case"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-version",
                "-v",
            ],
            description: Some("Show version string"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [
        (
            name: "infile",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
        (
            name: "outfile",
            source: Files,
            optional: false,
            variadic: false,
            imported_generator: None,
        ),
    ],
)