(
    version: 1,
    command: "yalc",
    description: Some("Work with yarn/npm packages locally like a boss"),
    subcommands: [
        (
            name: "publish",
            description: Some("Copy all the files that should be published in remote NPM registry"),
            options: [
                (
                    names: [
                        "--push",
                    ],
                    description: Some("Publish package to the store and propagate all changes to existing yalc package installations"),
                ),
                (
                    names: [
                        "--no-scripts",
                    ],
                    description: Some("Publish without running scripts"),
                ),
                (
                    names: [
                        "--no-sig",
                    ],
                    description: Some("Disable adding hash signature of all files when copying package content"),
                ),
                (
                    names: [
                        "--content",
                    ],
                    description: Some("Show included files in the published package"),
                ),
                (
                    names: [
                        "--no-workspace-resolve",
                    ],
                    description: Some("Do not resolve 'workspace:' protocol in dependencies"),
                ),
                (
                    names: [
                        "--private",
                    ],
                    description: Some("Force publishing of private package"),
                ),
            ],
        ),
        (
            name: "push",
            description: Some("Publish your package to the store and propagate all changes to existing yalc package installations"),
        ),
        (
            name: "add",
            description: Some("Copy the current version from the store to your project"),
            options: [
                (
                    names: [
                        "--link",
                    ],
                    description: Some("Add a 'link:' dependency instead of 'file:'"),
                ),
                (
                    names: [
                        "--dev",
                    ],
                    description: Some("Add yalc package to dev dependencies"),
                ),
                (
                    names: [
                        "--pure",
                    ],
                    description: Some("Do not touch 'package.json' or 'node_modules'"),
                ),
                (
                    names: [
                        "--workspace",
                        "-W",
                    ],
                    description: Some("Add dependency with 'workspace:' protocol"),
                ),
            ],
            arguments: [
                (
                    name: "package",
                    description: Some("The package you want to add"),
                    generators: [
                        (
                            script: [
                                "bash",
                                "-c",
                                "command find ~/.yalc/packages -maxdepth 4 -iname 'package.json'",
                            ],
                            has_post_process: true,
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "link",
            description: Some("Alterative to 'add', instead using local '.yalc' as symlink source"),
        ),
        (
            name: "update",
            description: Some("Update package(s)"),
            options: [
                (
                    names: [
                        "--update",
                        "--upgrade",
                        "--up",
                    ],
                    description: Some("Run package manager's update command for packages"),
                ),
            ],
            arguments: [
                (
                    name: "package",
                    description: Some("The package to update"),
                    generators: [
                        (
                            script: [
                                "bash",
                                "-c",
                                "command find ~/.yalc/packages -maxdepth 4 -iname 'package.json'",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "remove",
            description: Some("Remove package info from 'package.json' & 'yalc.lock'"),
            options: [
                (
                    names: [
                        "--all",
                    ],
                    description: Some("Remove all packages from project"),
                ),
            ],
            arguments: [
                (
                    name: "package",
                    description: Some("The package you want to remove"),
                    generators: [
                        (
                            script: [
                                "ls",
                                ".yalc",
                            ],
                            has_post_process: true,
                        ),
                    ],
                    optional: true,
                ),
            ],
        ),
        (
            name: "installations",
            subcommands: [
                (
                    name: "clean",
                    description: Some("Unpublish a package published with yalc publish"),
                    arguments: [
                        (
                            name: "package",
                            generators: [
                                (
                                    script: [
                                        "bash",
                                        "-c",
                                        "command find ~/.yalc/packages -maxdepth 4 -iname 'package.json'",
                                    ],
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    name: "show",
                    description: Some("Show all packages to which chosen package has been added"),
                    arguments: [
                        (
                            name: "package",
                            generators: [
                                (
                                    script: [
                                        "bash",
                                        "-c",
                                        "command find ~/.yalc/packages -maxdepth 4 -iname 'package.json'",
                                    ],
                                    has_post_process: true,
                                ),
                            ],
                        ),
                    ],
                ),
            ],
            requires_subcommand: true,
        ),
        (
            name: "dir",
            description: Some("Show yalc system directory"),
        ),
        (
            name: "check",
            description: Some("Check 'package.json' for yalc packages"),
        ),
        (
            name: "restore",
            description: Some("Restore retreated packages"),
        ),
        (
            name: "retreat",
            description: Some("Remove packages from project, but leave in lock file (to be restored later)"),
        ),
    ],
    options: [
        (
            names: [
                "--help",
            ],
            description: Some("Show help for yalc"),
        ),
        (
            names: [
                "--no-colors",
            ],
            description: Some("Disable colors"),
        ),
        (
            names: [
                "--quiet",
            ],
            description: Some("Fully disable output (except errors)"),
        ),
    ],
)
