(
    version: 1,
    command: "yank",
    description: Some("Yank terminal output to clipboard"),
    options: [
        (
            names: [
                "-i",
            ],
            description: Some("Ignore case differences between pattern and the input"),
        ),
        (
            names: [
                "-l",
            ],
            description: Some("Use the default delimiters except for space"),
        ),
        (
            names: [
                "-x",
            ],
            description: Some("Use alternate screen"),
        ),
        (
            names: [
                "-v",
            ],
            description: Some("Print the version"),
        ),
        (
            names: [
                "-d",
            ],
            description: Some("All input characters not present in delim will be recognized as fields"),
            arguments: [
                (
                    name: "delim",
                    description: Some("Custom delimiters"),
                ),
            ],
        ),
        (
            names: [
                "-g",
            ],
            description: Some("Use pattern to recognize fields"),
            arguments: [
                (
                    name: "pattern",
                    description: Some("Pattern to recognize fields"),
                ),
            ],
        ),
        (
            names: [
                "--",
            ],
            description: Some("Use a command as the yank command"),
            arguments: [
                (
                    name: "command",
                    description: Some("Command to use as the yank command"),
                    variadic: true,
                ),
            ],
        ),
    ],
)
