(
    version: 1,
    command: "yomo",
    description: Some("CLI interface for YoMo"),
    subcommands: [
        (
            name: "init",
            aliases: [],
            description: Some("Initial an example StreamFunction"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--rx",
                    ],
                    description: Some("Generate Rx code template"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "function name",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "build",
            aliases: [],
            description: Some("Build a StreamFunction to WebAssembly"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--target",
                    ],
                    description: Some("Build to wasm or binary"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "wasm",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                        (
                            name: "binary",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-m",
                        "--modfile",
                    ],
                    description: Some("Custom go.mod filepath"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "module",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                    ],
                ),
            ],
            arguments: [
                (
                    name: ".go file",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
        (
            name: "run",
            aliases: [],
            description: Some("Run a wasm stream function"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-z",
                        "--zipper",
                    ],
                    description: Some("Zipper endpoint this StreamFunction will connect to"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-n",
                        "--name",
                    ],
                    description: Some("Specify the name of this StreamFunction"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: ".wasm file",
                    source: Unavailable,
                    optional: false,
                    variadic: false,
                    imported_generator: Some((
                        script: [],
                        has_post_process: false,
                        has_custom: true,
                    )),
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show help for yomo"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)