(
    version: 1,
    command: "zed",
    description: Some("A lightning-fast, collaborative code editor written in Rust"),
    subcommands: [],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-v",
                "--version",
            ],
            description: Some("Print Zed\'s version and the app path"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-w",
                "--wait",
            ],
            description: Some("Wait for all of the given paths to be closed before exiting"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-b",
                "--bundle-path",
            ],
            description: Some("Custom Zed.app path"),
            takes_value: true,
            arguments: [
                (
                    name: "bundle_path",
                    source: Directories,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "path",
            source: Files,
            optional: true,
            variadic: true,
            imported_generator: None,
        ),
    ],
)