(
    version: 1,
    command: "zip",
    description: Some("Package and compress (archive) files into zip file"),
    options: [
        (
            names: [
                "-r",
            ],
            description: Some("Package and compress a directory and its contents, recursively"),
        ),
        (
            names: [
                "-e",
            ],
        ),
        (
            names: [
                "-s",
            ],
            arguments: [
                (
                    name: "split size",
                ),
            ],
        ),
        (
            names: [
                "-d",
            ],
            arguments: [
                (
                    name: "file",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "-9",
            ],
            description: Some("Archive a directory and its contents with the highest level [9] of compression"),
        ),
    ],
    arguments: [
        (
            name: "name",
            description: Some("Name of archive"),
        ),
        (
            name: "dir",
            template: [
                Folders,
            ],
        ),
    ],
)
