(
    version: 1,
    command: "zipcloak",
    description: Some("Encrypt entries in a zipfile"),
    options: [
        (
            names: [
                "--help",
                "-h",
            ],
            description: Some("Show a short help for zipcloak"),
        ),
        (
            names: [
                "--decrypt",
                "-d",
            ],
            description: Some("Decrypt encrypted entries (copy if given wrong password)"),
            arguments: [
                (
                    name: "zipfile",
                    description: Some("Zipped file to decrypt entries of"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            names: [
                "--license",
                "-L",
            ],
            description: Some("Show software license"),
        ),
        (
            names: [
                "--version",
                "-v",
            ],
            description: Some("Show version information"),
        ),
        (
            names: [
                "--quiet",
                "-q",
            ],
            description: Some("Quiet operation. Suppresses some informational messages"),
        ),
        (
            names: [
                "--output-file",
                "-O",
            ],
            description: Some("Write output to new archive zipfile, leaving original archive as is"),
            arguments: [
                (
                    name: "zipfile",
                    description: Some("New zipfile that will be written to"),
                    template: [
                        FilePaths,
                    ],
                    suggest_current_token: true,
                ),
            ],
        ),
        (
            names: [
                "--temp-path",
                "-b",
            ],
            description: Some("Use the directory given by path for the temporary zip file"),
            arguments: [
                (
                    name: "directory",
                    description: Some("Directory for the temporary zip file"),
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
    ],
    arguments: [
        (
            name: "zipfile",
            description: Some("Zipped file to encrypt entries into"),
            template: [
                FilePaths,
            ],
            suggest_current_token: true,
        ),
    ],
)
