(
    version: 1,
    command: "zoxide",
    description: Some("A smarter cd command for your terminal"),
    subcommands: [
        (
            name: "add",
            aliases: [],
            description: Some("Add a new directory or increment its rank"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-V",
                        "--version",
                    ],
                    description: Some("Print version information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "paths",
                    source: Directories,
                    optional: false,
                    variadic: true,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "import",
            aliases: [],
            description: Some("Import entries from another application"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--from",
                    ],
                    description: Some("Application to import from"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "from",
                            source: Static([
                                "autojump",
                                "z",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--merge",
                    ],
                    description: Some("Merge into existing database"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-V",
                        "--version",
                    ],
                    description: Some("Print version information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "path",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "init",
            aliases: [],
            description: Some("Generate shell configuration"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--cmd",
                    ],
                    description: Some("Changes the prefix of the `z` and `zi` commands"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "cmd",
                            source: Files,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--hook",
                    ],
                    description: Some("Changes how often zoxide increments a directory\'s score"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "hook",
                            source: Static([
                                "none",
                                "prompt",
                                "pwd",
                            ]),
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-cmd",
                    ],
                    description: Some("Prevents zoxide from defining the `z` and `zi` commands"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-V",
                        "--version",
                    ],
                    description: Some("Print version information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "shell",
                    source: Static([
                        "bash",
                        "elvish",
                        "fish",
                        "nushell",
                        "posix",
                        "powershell",
                        "xonsh",
                        "zsh",
                    ]),
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "query",
            aliases: [],
            description: Some("Search for a directory in the database"),
            subcommands: [],
            options: [
                (
                    names: [
                        "--exclude",
                    ],
                    description: Some("Exclude a path from results"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "exclude",
                            source: Directories,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--all",
                    ],
                    description: Some("Show deleted directories"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-i",
                        "--interactive",
                    ],
                    description: Some("Use interactive selection"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-l",
                        "--list",
                    ],
                    description: Some("List all matching directories"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-s",
                        "--score",
                    ],
                    description: Some("Print score with results"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-V",
                        "--version",
                    ],
                    description: Some("Print version information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "keywords",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "remove",
            aliases: [],
            description: Some("Remove a directory from the database"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-i",
                        "--interactive",
                    ],
                    description: Some("Use interactive selection"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help information"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-V",
                        "--version",
                    ],
                    description: Some("Print version information"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "paths",
                    source: Directories,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help information"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version information"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)