(
    version: 1,
    command: "zoxide",
    description: Some("A smarter cd command for your terminal"),
    subcommands: [
        (
            name: "add",
            description: Some("Add a new directory or increment its rank"),
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help information"),
                ),
                (
                    names: [
                        "-V",
                        "--version",
                    ],
                    description: Some("Print version information"),
                ),
            ],
            arguments: [
                (
                    name: "paths",
                    template: [
                        Folders,
                    ],
                    variadic: true,
                ),
            ],
        ),
        (
            name: "import",
            description: Some("Import entries from another application"),
            options: [
                (
                    names: [
                        "--from",
                    ],
                    description: Some("Application to import from"),
                    arguments: [
                        (
                            name: "from",
                            suggestions: [
                                (
                                    name: "autojump",
                                ),
                                (
                                    name: "z",
                                ),
                            ],
                        ),
                    ],
                ),
                (
                    names: [
                        "--merge",
                    ],
                    description: Some("Merge into existing database"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help information"),
                ),
                (
                    names: [
                        "-V",
                        "--version",
                    ],
                    description: Some("Print version information"),
                ),
            ],
            arguments: [
                (
                    name: "path",
                    template: [
                        FilePaths,
                    ],
                ),
            ],
        ),
        (
            name: "init",
            description: Some("Generate shell configuration"),
            options: [
                (
                    names: [
                        "--cmd",
                    ],
                    description: Some("Changes the prefix of the `z` and `zi` commands"),
                    arguments: [
                        (
                            name: "cmd",
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--hook",
                    ],
                    description: Some("Changes how often zoxide increments a directory's score"),
                    arguments: [
                        (
                            name: "hook",
                            suggestions: [
                                (
                                    name: "none",
                                ),
                                (
                                    name: "prompt",
                                ),
                                (
                                    name: "pwd",
                                ),
                            ],
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--no-cmd",
                    ],
                    description: Some("Prevents zoxide from defining the `z` and `zi` commands"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help information"),
                ),
                (
                    names: [
                        "-V",
                        "--version",
                    ],
                    description: Some("Print version information"),
                ),
            ],
            arguments: [
                (
                    name: "shell",
                    suggestions: [
                        (
                            name: "bash",
                        ),
                        (
                            name: "elvish",
                        ),
                        (
                            name: "fish",
                        ),
                        (
                            name: "nushell",
                        ),
                        (
                            name: "posix",
                        ),
                        (
                            name: "powershell",
                        ),
                        (
                            name: "xonsh",
                        ),
                        (
                            name: "zsh",
                        ),
                    ],
                ),
            ],
        ),
        (
            name: "query",
            description: Some("Search for a directory in the database"),
            options: [
                (
                    names: [
                        "--exclude",
                    ],
                    description: Some("Exclude a path from results"),
                    arguments: [
                        (
                            name: "exclude",
                            template: [
                                Folders,
                            ],
                            optional: true,
                        ),
                    ],
                ),
                (
                    names: [
                        "--all",
                    ],
                    description: Some("Show deleted directories"),
                ),
                (
                    names: [
                        "-i",
                        "--interactive",
                    ],
                    description: Some("Use interactive selection"),
                    exclusive_on: [
                        "-l",
                        "--list",
                    ],
                ),
                (
                    names: [
                        "-l",
                        "--list",
                    ],
                    description: Some("List all matching directories"),
                    exclusive_on: [
                        "-i",
                        "--interactive",
                    ],
                ),
                (
                    names: [
                        "-s",
                        "--score",
                    ],
                    description: Some("Print score with results"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help information"),
                ),
                (
                    names: [
                        "-V",
                        "--version",
                    ],
                    description: Some("Print version information"),
                ),
            ],
            arguments: [
                (
                    name: "keywords",
                    optional: true,
                ),
            ],
        ),
        (
            name: "remove",
            description: Some("Remove a directory from the database"),
            options: [
                (
                    names: [
                        "-i",
                        "--interactive",
                    ],
                    description: Some("Use interactive selection"),
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Print help information"),
                ),
                (
                    names: [
                        "-V",
                        "--version",
                    ],
                    description: Some("Print version information"),
                ),
            ],
            arguments: [
                (
                    name: "paths",
                    template: [
                        Folders,
                    ],
                    optional: true,
                ),
            ],
        ),
    ],
    options: [
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Print help information"),
        ),
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Print version information"),
        ),
    ],
)
