(
    version: 1,
    command: "@withfig/autocomplete-tools",
    description: Some("Dev tools for fig\'s autocomplete"),
    subcommands: [
        (
            name: "init",
            aliases: [],
            description: Some("Initialize fig custom spec boilerplate in current directory"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "create-spec",
            aliases: [],
            description: Some("Create spec with given name"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "name",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "compile",
            aliases: [],
            description: Some("Compile specs in the current directory"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-w",
                        "--watch",
                    ],
                    description: Some("Watch files and re-compile on change"),
                    takes_value: false,
                    arguments: [],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "dev",
            aliases: [],
            description: Some("Watch for changes and compile specs"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "merge",
            aliases: [],
            description: Some("Deep merge new spec into old spec"),
            subcommands: [],
            options: [
                (
                    names: [
                        "-n",
                        "--new-file",
                    ],
                    description: Some("Create a new spec file instead of updating the old one"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "path",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-i",
                        "--ignore-props",
                    ],
                    description: Some("The props that should always be overridden"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "props",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ignore-command-props",
                    ],
                    description: Some("The command props that should always be overridden"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "props",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ignore-option-props",
                    ],
                    description: Some("The option props that should always be overridden"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "props",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "--ignore-arg-props",
                    ],
                    description: Some("The arg props that should always be overridden"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "props",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-p",
                        "--preset",
                    ],
                    description: Some("Use a preset"),
                    takes_value: true,
                    arguments: [
                        (
                            name: "name",
                            source: Static([
                                "commander",
                                "oclif",
                                "cobra",
                                "clap",
                                "swift-argument-parser",
                                "click",
                                "argparse",
                                "cement",
                            ]),
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                ),
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [
                (
                    name: "oldspec",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
                (
                    name: "newspec",
                    source: Files,
                    optional: false,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
        (
            name: "version",
            aliases: [],
            description: None,
            subcommands: [
                (
                    name: "add-diff",
                    aliases: [],
                    description: Some("Generate version diff from new spec and add into old spec"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-n",
                                "--new-path",
                            ],
                            description: Some("The root folder where the updated spec will be saved. Note: this must NOT include the folder spec name"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "path",
                                    source: Files,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--cwd",
                            ],
                            description: Some("Resolve the spec name relative to this directory"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "path",
                                    source: Directories,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "--use-minor-base",
                            ],
                            description: Some("Create a new version file per minor version"),
                            takes_value: false,
                            arguments: [],
                        ),
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Display help for command"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [
                        (
                            name: "specName",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                        (
                            name: "newSpecFilePath",
                            source: Unavailable,
                            optional: false,
                            variadic: false,
                            imported_generator: Some((
                                script: [],
                                has_post_process: false,
                                has_custom: true,
                            )),
                        ),
                        (
                            name: "diffVersion",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "init-spec",
                    aliases: [],
                    description: Some("Generate versioned spec in folder specified by path"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "--cwd",
                            ],
                            description: Some("Generate the spec relative to this directory"),
                            takes_value: true,
                            arguments: [
                                (
                                    name: "path",
                                    source: Directories,
                                    optional: false,
                                    variadic: false,
                                    imported_generator: None,
                                ),
                            ],
                        ),
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Display help for command"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [
                        (
                            name: "name",
                            source: Files,
                            optional: false,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "precompute-specs",
                    aliases: [],
                    description: Some("[Unimplemented] Precompute versioned specs before publishing the specs repo (unimplemented)"),
                    subcommands: [],
                    options: [
                        (
                            names: [
                                "-h",
                                "--help",
                            ],
                            description: Some("Display help for command"),
                            takes_value: false,
                            arguments: [],
                        ),
                    ],
                    arguments: [
                        (
                            name: "files",
                            source: Files,
                            optional: false,
                            variadic: true,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
                (
                    name: "help",
                    aliases: [],
                    description: Some("Display help for command"),
                    subcommands: [],
                    options: [],
                    arguments: [
                        (
                            name: "command",
                            source: Files,
                            optional: true,
                            variadic: false,
                            imported_generator: None,
                        ),
                    ],
                    load_spec: None,
                ),
            ],
            options: [
                (
                    names: [
                        "-h",
                        "--help",
                    ],
                    description: Some("Display help for command"),
                    takes_value: false,
                    arguments: [],
                ),
            ],
            arguments: [],
            load_spec: None,
        ),
        (
            name: "help",
            aliases: [],
            description: Some("Display help for command"),
            subcommands: [],
            options: [],
            arguments: [
                (
                    name: "command",
                    source: Files,
                    optional: true,
                    variadic: false,
                    imported_generator: None,
                ),
            ],
            load_spec: None,
        ),
    ],
    options: [
        (
            names: [
                "-V",
                "--version",
            ],
            description: Some("Output the version number"),
            takes_value: false,
            arguments: [],
        ),
        (
            names: [
                "-h",
                "--help",
            ],
            description: Some("Display help for command"),
            takes_value: false,
            arguments: [],
        ),
    ],
    arguments: [],
)